<button
                          name="add"
                          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                          {% if product.selected_or_first_available_variant.available == false %}
                            disabled
                          {% endif %}
                        >
                          <span>
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          <div class="loading-overlay__spinner hidden">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              role="presentation"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>





<script>
  $("form[data-type='add-to-cart-form'] button.product-form__submit").on("click","", function(event){
    console.log('hello world');
    event.preventDefault();
    event.stopImmediatePropagation();
    var resp = jQuery.post(window.Shopify.routes.root + 'cart/add.js', $('form[action$="/cart/add"]').serialize());
    console.log(resp);
    console.log('default prevented?');
    resp = fetch(window.Shopify.routes.root + "?sections=header")
  .then(res => res.json());
    var cartNotification = new CartNotification();
    cartNotification.open();
  })
  
</script>