<script>
  (function (algolia) {
    'use strict';

    algolia.pagesTemplate = function pagesTemplate({item, html, components}, itemLink) {
      return html`<a
        href="${itemLink}"
        class="aa-ItemLink aa-ProductItem"
      >
        <div class="aa-ItemWrapper">
          <div class="aa-ItemContent">
            <div class="aa-ItemIcon aa-ItemIcon--noBorder">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </div>
            <div class="aa-ItemContentBody">
              <div class="aa-ItemContentTitle">
                ${components.Highlight({hit: item, attribute: 'title'})}
              </div>
            </div>
          </div>
        </div>
      </a>`
    };
  })(window.algoliaShopify);
</script>