<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchNoResultTemplate = function instantSearchNoResultTemplate(html) {
      return html `<div class="ais-hit-empty">
        <div class="ais-hit-empty--title">${algolia.translations.noResultFound}</div>
        <div class="ais-hit-empty--clears">
          ${algolia.translations.try}
          ${' '}
          <a class="ais-hit-empty--clear-filters ais-link">
            ${algolia.translations.clearFilters}
            ${' '}
          </a>
          ${algolia.translations.or}
          ${' '}
          <a class="ais-hit-empty--clear-input ais-link">
            ${algolia.translations.changeInput}
          </a>
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
