<script>
  (function(algolia) {
    'use strict';

    algolia.productTemplate = function productTemplate({ item, html, components }, distinct, itemLink, getConversionData) {
      item = algolia.helpers.localizeHitData(item);
      return html `<a
        href="${itemLink}"
        class="aa-ItemLink aa-ProductItem"
        onClick="${(event) => getConversionData(event, item)}"
      >
        <div class="aa-ItemContent">
          <div class="aa-ItemPicture aa-ItemPicture--loaded">
            <img src="${algolia.helpers.compactImage(item)}" alt="${item.title}" />
          </div>
          <div class="aa-ItemContentBody">
            <div class="aa-ItemContentBrand">
              ${item.product_type && components.Highlight({ hit: item, attribute: 'product_type' })}
              ${item.vendor && html`<span> by </span>`}
              ${item.vendor && components.Highlight({ hit: item, attribute: 'vendor' })}
            </div>
            <div class="aa-ItemContentTitleWrapper">
              <div class="aa-ItemContentTitle">
                ${components.Highlight({ hit: item, attribute: 'title' })}
                <span class="algolia-variant">
                  ${algolia.helpers.variantTitleAddition (item, distinct)}
                </span>
              </div>
            </div>
            <div class="aa-ItemContentPrice">
              <div class="aa-ItemContentPriceCurrent">
                ${algolia.helpers.displayPrice(item, distinct)}
              </div>
            </div>
          </div>
        </div>
      </a>`
    };
  })(window.algoliaShopify);
</script>
