<script>
  (function(algolia) {
    'use strict';

    algolia.footerTemplate = function footerTemplate({html, state}) {
      return html `<div class="aa-footer">
        <a class="aa-SeeAllBtn" href="${
        window.Shopify.routes.root
      }search?q=${
        encodeURIComponent(state.query)
      }">
          ${
        algolia.translations.allProducts
      }
          (${
        algolia.helpers.formatNumber(state.context.nbProducts)
      })
        </a>
      </div>`
    };
  })(window.algoliaShopify);
</script>