<script>
  (function(algolia) {
    'use strict';

    algolia.mainTemplate = function mainTemplate({ html, state }, elements, displaySuggestions ) {
      return html `<div class="aa-PanelLayout aa-Panel--scrollable">
        <div class="aa-PanelSections">
          <div class="aa-PanelSection--left">
            ${displaySuggestions &&
            html`<div class="aa-SourceHeader">
              <span class="aa-SourceHeaderTitle">${algolia.translations.suggestions}</span>
              <div class="aa-SourceHeaderLine" />
            </div>
            ${elements.querySuggestionsPlugin}`}
            ${elements.collections}
            ${elements.articles}
            ${elements.pages}
          </div>
          <div class="aa-PanelSection--right">
            ${elements.products}
          </div>
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
