<script>
	(function(algolia) {
		'use strict';

		algolia.headerTemplate = function headerTemplate({ html, state }, resource) {
		  return html `<div class="aa-SourceHeader">
				<span class="aa-SourceHeaderTitle">${algolia.translation_helpers.render_title(resource, state.query)}</span>
				<div class="aa-SourceHeaderLine" />
			</div>`
		};
	})(window.algoliaShopify);
</script>
