<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchFacetItem = function instantSearchFacetItem(item, html) {
      return html `<label class="${item.cssClasses.label}">
          ${item.type === "disjunctive" &&
          (item.isRefined ?
                html`<input type="checkbox" class="${item.cssClasses.checkbox}" checked />`
                : html`<input type="checkbox" class="${item.cssClasses.checkbox}"  />`)
          }
          ${ item.label}
          <span class="${item.cssClasses.count}">
            ${algolia.helpers.formatNumber(item.count)}
          </span>
      </label>`
    };
  })(window.algoliaShopify);
</script>