<script>
  (function(algolia) {
    'use strict';

    algolia.mainProductsTemplate = function mainProductsTemplate({ html, state }, elements) {
      return html `<div class="aa-PanelLayout aa-Panel--scrollable">
        <div class="aa-PanelSection">
          ${elements.products}
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
