<script>
  (function (algolia) {
    'use strict';
    algolia.noResultsTemplate = function noResultsTemplate({html, state}) {
      return html`<div class="aa-PanelLayout aa-Panel--scrollable">
        <p class="aa-NoResultsHeader">
          ${algolia.translation_helpers.no_result_for(state.query)}
        </p>
        <a class="aa-NoResultsLink" href="${window.Shopify.routes.root}search?q=">
          ${algolia.translations.allProducts}
        </a>
      </div>`
    };
  })(window.algoliaShopify);
</script>
