<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchStatsTemplate = function instantSearchStatsTemplate(data, html) {
      return html `${data.hasNoResults && algolia.translations.noResultFound}
        ${data.hasOneResult &&
        html`<span class="ais-stats--nb-results">
            ${algolia.translations.oneResultFound}
        </span>`}
        ${data.hasManyResults &&
        html`${algolia.translation_helpers.outOf(data.page, data.hitsPerPage, data.nbHits)}
        <span class="ais-stats--nb-results">
          ${' '}
          ${algolia.helpers.formatNumber(data.nbHits)}
          ${' '}
          ${algolia.translations.resultsFound}
        </span>`}
        ${' '}
        ${algolia.translation_helpers.in(data.processingTimeMS)}`
    };
  })(window.algoliaShopify);
</script>
