<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchMainTemplate = function instantSearchMainTemplate( html, data ) {
      return html `<div class="ais-page">
        <h1 class="ais-h2">${algolia.translations.searchTitle}</h1>
        <div class="ais-input">
          <div class="ais-search-box-container"></div>
          <div class="ais-input-button">
            <div class="ais-clear-input-icon"></div>
          </div>
        </div>
        <div class="ais-facets-button">
          Show filters
        </div>
        <div class="ais-facets">
          <div class="ais-clear-refinements-container"></div>
          <div class="ais-current-refined-values-container"></div>
          ${data.facets.map( facet =>
        html`<div class="ais-facet-dropdown-wrapper ais-facet-${facet.type} ais-facet-${facet.escapedName}">
              <label for="${facet.escapedName}" class="ais-range-slider--header ais-facet--header ais-header">${facet.title}</label>
              <input class="ais-dropdown-checkbox" type="checkbox" id="${facet.escapedName}" name="dropdown" />
              <div class="ais-facet-${facet.escapedName}-container ais-facet-dropdown-container"></div>
            </div>`
      )}
        </div>
        <div class="ais-block">
          <div class="ais-search-header">
            <div class="ais-stats-container"></div>
            <div class="ais-change-display">
              <span class="ais-change-display-block ais-change-display-selected"><i class="fa fa-th-large"></i></span>
              <span class="ais-change-display-list"><i class="fa fa-th-list"></i></span>
            </div>
            <div class="ais-sort">
              ${data.multipleSortOrders ?
                html`${algolia.translations.sortBy} <span class="ais-sort-orders-container"></span>`
                : html`${algolia.translations.sortBy} ${algolia.translations.relevance}`
              }
            </div>
          </div>
          <div class="ais-hits-container ais-results-as-block"></div>
        </div>
        <div class="ais-pagination-container"></div>
      </div>`
    };
  })(window.algoliaShopify);
</script>