<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchShowMore = function instantSearchShowMore(data, html) {
      return html `<span>${data.isShowingMore ? algolia.translations.showLess : algolia.translations.showMore }</span>`
    };
  })(window.algoliaShopify);
</script>
