<button type="button" data-close-modal class="andycab-close-modal-button">
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.097 9.9687L18.5446 3.58372L19.8592 2.26917C20.0469 2.08138 20.0469 1.76839 19.8592 1.518L18.482 0.140845C18.2316 -0.0469484 17.9186 -0.0469484 17.7308 0.140845L10.0313 7.90297L2.26917 0.140845C2.08138 -0.0469484 1.76839 -0.0469484 1.518 0.140845L0.140845 1.518C-0.0469484 1.76839 -0.0469484 2.08138 0.140845 2.26917L7.90297 9.9687L0.140845 17.7308C-0.0469484 17.9186 -0.0469484 18.2316 0.140845 18.482L1.518 19.8592C1.76839 20.0469 2.08138 20.0469 2.26917 19.8592L10.0313 12.097L16.4163 18.5446L17.7308 19.8592C17.9186 20.0469 18.2316 20.0469 18.482 19.8592L19.8592 18.482C20.0469 18.2316 20.0469 17.9186 19.8592 17.7308L12.097 9.9687Z" fill=""/>
    </svg>  
</button>