<div class="andycab-modal" id="gallery-modal">
  <div class="andycab-modal-content">
    {% render 'andycab-close-modal-button' %}
     <div class="swiper andycab-swiper" id="andycab-gallery-swiper">
       <div class="swiper-wrapper">
         {% if template.name == 'product' %}
           {%- for media in product.media -%}
              {% if forloop.first == true and product.media.size > 1 %}
                {% continue %}
              {% else %}
               <div class="swiper-slide">
                   {%- if media != blank -%}
                        {% if media.media_type == 'external_video' %}
                          {% if media.host == 'youtube' %}
                            {{ media | external_video_url: color: 'white' | external_video_tag }}
                          {% endif %}
                        {% else %}
                       <img data-src="{{ media | image_url: width: 2000 }}"
                          width=""
                          height=""
                          class="swiper-lazy"
                          loading="lazy">
                       <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    {% endif %}
                   {%- endif -%}
               </div>
              {% endif %}
           {%- endfor -%}
         {% endif %}
       </div>
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
     </div>
   </div>
 </div>
 
 <script>

   document.addEventListener("DOMContentLoaded", () => { 
      const body = document.querySelector('body');
      document.querySelector('[data-modal="gallery-modal"]').addEventListener('click', () =>{
        body.classList.add('gallery-modal-open')
      })
      document.querySelectorAll('[data-close-modal]').forEach(button => {
        button.addEventListener('click', () =>{
          body.classList.remove('gallery-modal-open')
        });
      })

       function initGallerySwiper(){
        gallerySwiper = new Swiper("#andycab-gallery-swiper", {
           preloadImages: false,
           lazy: {
             loadPrevNext: true,
           },
           spaceBetween: 10,
           navigation: {
             nextEl: ".swiper-button-next",
             prevEl: ".swiper-button-prev"
           },
           pagination: {
           el: ".swiper-pagination",
             clickable: true
           },
           on: {
             slideChange: function(){
               this.index = this.activeIndex;
             }
           }
         });
       }
       initGallerySwiper();
   });
   
 </script>
 
 <style>


  button[data-modal="gallery-modal"]{
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #012169;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:background-color 0.15s, box-shadow 0.15s;
    transform:translateY(0);
  }

  button[data-modal="gallery-modal"] svg{
    fill:white;
  }

  button[data-modal="gallery-modal"]:hover{
    background: white;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 30%);
  }

  button[data-modal="gallery-modal"]:hover svg{
    fill:black;
  }

  button.andycab-close-modal-button {
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    top: 0.8rem;
    right: 0.8rem;
    display: flex;
    align-items: center;
    position: absolute;
    border: none;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.15s;
}

  
.gallery-modal {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
	transition: opacity 0.15s, visibility 0.15s;
}

.gallery-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: block;
}

.gallery-modal-open{
  overflow:hidden;
}

.gallery-modal-open #gallery-modal {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  display:flex;
}
   #gallery-modal{
    position: fixed;
     visibility:hidden;
     opacity:0;
     pointer-events:none;
     align-items:center;
     justify-content:center;
     pointer-events:all;
     background-color:rgba(0,0,0,0.75)
   }
   #gallery-modal .andycab-modal-content{
     width: 100%;
     height: 100%;
   }
 
   #gallery-modal #andycab-gallery-swiper{
     height: 100%;
   }
   #gallery-modal #andycab-gallery-swiper .swiper-slide{
     width:auto;
     height:auto;
   }
   #gallery-modal #andycab-gallery-swiper img{
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
   }
   #gallery-modal #andycab-gallery-swiper iframe {
    height: 72vh;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
   }

   #gallery-modal .swiper-wrapper{
     align-items:center;
   }
 .swiper-lazy-preloader:empty{
   display:block;
 }
   #gallery-modal .andycab-close-modal-button{
     position:absolute;
     top:16px;
     right:16px;
     background:white;
     z-index:2;
     cursor:pointer;
     transition:transform 0.15s;
   }
   #gallery-modal .andycab-close-modal-button svg{
     fill:black;
     max-width:16px;
   }
   .gallery-modal-open button.andycab-close-modal-button{
     transform: translateY(0);
   }
   @media screen and (min-width:750px){
     #gallery-modal .andycab-close-modal-button{
       top:24px;
       right:24px;
       width:40px;
       height:40px;
     }
   }
 </style>