<div class="container">
    <div class="step-container">
        <div class="step-label" style="background-color: {{colorBg}};">{{label}}</div>
        <div class="title">{{ title }}</div>
    </div>
</div>