{% comment %}
  Renders a placeholder card for thge default blog.
  Accepts:
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default

  Usage:
  {% render 'blog-placeholder' %}
{% endcomment %}

<div
  class="blog-placeholder{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  {%- if show_image == true -%}
    <div class="placeholder media media--hover-effect media--landscape">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
{%- endif -%}
  <div class="blog-placeholder__content">
    <h2>
      {{ 'sections.featured_blog.onboarding_title' | t }}
    </h2>
    <div class="article-card__info caption-with-letter-spacing h5">
      {%- if show_date -%}
        <span class="circle-divider">April 14, 2023</span>
      {%- endif -%}
      {%- if show_author -%}
        <span>Written By: Annonymous </span>
      {%- endif -%}
    </div>
    {% if show_excerpt %}
      <p class="rte-width">
        {{ 'sections.featured_blog.onboarding_content' | t }}
      </p>
   {% endif %}
  </div>
</div>