{% comment %}
  Renders button component.
  Accepts:
  - variant: {String} button variant (primary | secondary).
  - size: {String} button size (sm | lg).
  - text: {String} button display text.
  - onClick: {Function} click function of button.
  - classes: {String} additional style classes.

  Usage:
  {% render '/buttons/button', variant: 'primary', size:'lg', text: 'Add to Cart', onClick: 'handleButtonClick()' %}
{% endcomment %}

{% assign variant = variant | default: 'primary' %}
{% assign size = size | default: 'sm' %}
{% assign extraClasses = classes | default: '' %}
{% assign text = text | default: 'Button' %}
{% assign btnClasses = 'inline-flex justify-center items-center gap-[10px] shrink-0 rounded-4xl disabled:bg-grey300 disabled:text-grey500' %}

{% if variant == 'secondary' %}
  {% assign btnClasses = btnClasses | append: ' bg-grey50 text-black hover:bg-btnGradient' %}
{% else %}
  {% assign btnClasses = btnClasses | append: ' bg-black text-white hover:bg-sky hover:text-white' %}
{% endif %}

{% if size == 'sm' %}
  {% assign btnClasses = btnClasses | append: ' h-[28px] py-[10px] px-large btn-xs' %}
{% else %}
  {% assign btnClasses = btnClasses | append: ' h-huge px-xl py-md btn-sm' %}
{% endif %}

<button
  class="{{ btnClasses }} {{ extraClasses }}"
  type="button"
  onclick="{{ onClick }}"
>
  {{ text }}
</button>
