{% comment %}
  Renders button component.
  Accepts:
  - variant: {String} button variant (primary | secondary).
  - size: {String} button size (sm | lg).
  - text: {String} button display text.
  - onClick: {Function} click function of button.
  - classes: {String} additional style classes.

  Usage:
  {% render '/buttons/button', variant: 'primary', size:'lg', text: 'Add to Cart', onClick: 'handleButtonClick()' %}
{% endcomment %}

{% assign variant = variant | default: 'primary' %}
{% assign size = size | default: 'sm' %}
{% assign extraClasses = classes | default: '' %}
{% assign text = text | default: 'Button' %}
{% assign btnClasses = 'tw-inline-flex tw-justify-center tw-items-center gap-[10px] tw-shrink-0 tw-rounded-4xl disabled:tw-bg-grey300 disabled:tw-text-grey500' %}

{% if variant == 'secondary' %}
  {% assign btnClasses = btnClasses | append: ' tw-bg-grey50 tw-text-black hover:tw-bg-btnGradient' %}
{% else %}
  {% assign btnClasses = btnClasses | append: ' tw-bg-black tw-text-white hover:tw-bg-sky hover:tw-text-white' %}
{% endif %}

{% if size == 'sm' %}
  {% assign btnClasses = btnClasses | append: ' tw-h-[28px] tw-py-[10px] tw-px-large tw-btn-xs' %}
{% else %}
  {% assign btnClasses = btnClasses | append: ' tw-h-huge tw-px-xl tw-py-md tw-btn-sm' %}
{% endif %}

<button
  class="{{ btnClasses }} {{ extraClasses }}"
  type="button"
  onclick="{{ onClick }}"
>
  {{ text }}
</button>
