{%- if product_card_product.handle != blank -%}
  <button type="button" aria-label="Add to wishlist" class="" button-wishlist data-product-handle="{{ product.handle }}">
    {%- render 'icon-heart' -%}
  </button>
{%- endif -%}
