{%- if product.handle != blank -%}
  <button title="Add to wishlist" type="button" aria-label="Add to wishlist" class="button-wishlist" button-wishlist data-product-handle="{{ product.handle }}">
    {%- render 'icon-heart' -%}{{label}}
  </button>
{%- endif -%}
