{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - style: {String} Default, Secondary

  Usage:
  {% render 'card-collection-custom' %}
{% endcomment %}

{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - style: {String} Default, Secondary

  Usage:
  {% render 'card-collection-custom' %}
{% endcomment %}

{%- style -%}
  .custom_card_inner {
    padding: 20px;
  }

  .custom-card-title {
    padding-left: 8px;
    border-left: 5px solid red;
    font-weight: bold;
  }

  .custom-card-body {
    padding-left: 8px;
  }

  .custom-card-footer {
    padding-left: 8px;
  }
{%- endstyle -%}

<div class="custom-card-wrapper">
  <div
    class="
      card custom_card_inner
      {% if style == 'secondary' %} secondary-card {% else %} color-{{ settings.card_color_scheme }} {% endif %} gradient
    "
  >
    <div class="custom-card-header">
      <h2 class="custom-card-title">
        {%- if card_collection.title != blank -%}
          {{- card_collection.title | escape | upcase -}}
        {%- else -%}
          {{ 'onboarding.collection_title' | t }}
        {%- endif -%}
      </h2>
    </div>
    <div class="custom-card-body">
      <p class="custom-card-description">Colour-matched premium worktop installation</p>
    </div>
    <div class="custom-card-footer animate arrow">
      <button
        class="
          custom-card-button
          button
          {% if style == 'default' %} default-style {% else %} secondary-style {% endif %}
        "
      >
        SEE MORE
        <span class="custom-icon-wrap">
          {{- 'icon-arrow.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </div>
</div>
