{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}

<cart-notification>
  <div class="cart-notification-wrapper {% if desktop_menu_type != 'drawer' %} page-width{% endif %}">
    <div
      id="cart-notification"
      class="cart-notification focus-inset"
      aria-modal="true"
      aria-label="{{ 'general.cart.item_added' | t }}"
      role="dialog"
      tabindex="-1"
    >
      <div class="cart-notification__header">
        <h2 class="cart-notification__heading text-t-sm">
          {{ 'general.cart.item_added' | t }}
        </h2>

        <button
          type="button"
          class="cart-notification__close modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            class="icon icon-close"
          >
            <path d="M3 3.5L13 13.5" stroke="black"/>
            <path d="M3 13.5L13 3.49999" stroke="black"/>
          </svg>
        </button>
      </div>

      <div id="cart-notification-product" class="cart-notification-product"></div>

      <div class="cart-notification__links w-full flex items-center justify-between gap-2.5">
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form" class="!px-0 flex-grow w-full">
          {% assign btn_text = 'sections.cart.checkout' | t %}
          {% render 'button',
            variant: 'primary',
            size: 'sm',
            text: btn_text,
            classes: '!px-0 flex-grow w-full button h-[35px]',
            name: 'checkout',
            type: 'submit'
          %}
        </form>

        {% assign sec_btn_text = 'sections.cart.view_cart' | t %}

        {% render 'button',
          variant: 'secondary',
          size: 'sm',
          text: sec_btn_text,
          classes: '!px-0 flex-grow w-full h-[35px]',
          url: routes.cart_url,
          id: 'cart-notification-button',
          type: 'link'
        %}
      </div>
    </div>
  </div>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
