{% for option in product.options %}
    {%- assign downcased_option = option | downcase -%}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'far' %}
        {%- assign option_index = forloop.index0 -%}
        {%- assign values = '' -%}
        <div class="product-groups__images">
            {% for variant in product.variants %}
                {%- assign value = variant.options[option_index] -%}
                {% unless values contains value %}
                    {% assign values = values | join: ',' %}
                    {% assign values = values | append: ',' | append: value %}
                    {% assign values = values | split: ',' %}
                    {% if variant.image %}
                        <a href="{{ variant.url }}" data-toggle="toggle{{ itemID }}" class="other-product-image">
                            <img loading="lazy" src="{{ variant | img_url: '200x300', crop: 'center' }}"
                                 alt="{{ variant.title }}">
                        </a>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
