{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object


  Usage:
  {% render 'card-collection' %}
{% endcomment %}

<div class="py-large w-full max-w-[240px]">
  <div class="p-large">
    <img
      src="{{ card_collection.image | image_url: width: 748 }}"
      class="w-full h-full aspect-[4_/_3] object-contain"
      width="{{192}}"
      height="{{ 144 }}"
      loading="lazy"
    >
  </div>

  <h3 class="text-t-sm text-center">
    {{ card_collection.title }}
  </h3>
</div>
