{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
  Renders a collection banner

  Accepts:
  - collection: {Object} Collection Liquid object


  Usage:
  {% render 'card-banner'  collection:collection%}
{% endcomment %}

<div class="w-full bg-grey50 py-large">
  <div class="flex items-center flex-wrap justify-center gap-small">
    {%- if collection.image -%}
      <div class="p-large w-[240px]">
        {{ collection.image | image_url: width: 576 | image_tag: class: 'w-full h-auto', alt: collection.image.alt }}
      </div>
    {%- endif -%}

    <h1 class="text-h-lg text-center">
      <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
      {{- collection.title | escape -}}
    </h1>
  </div>
</div>
