{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object


  Usage:
  {% render 'card-collection' %}
{% endcomment %}

<a href="{{ card_collection.url }}" class="py-base md:py-large w-full md:max-w-[240px] flex items-center md:block">
  <div class="w-[54px] h-10 md:w-auto md:h-auto md:p-large">
    <img
      src="{{ card_collection.image | image_url: width: 748 }}"
      class="w-full h-full aspect-[4_/_3] object-contain"
      width="{{192}}"
      height="{{ 144 }}"
      loading="lazy"
    >
  </div>

  <h3 class="text-t-sm text-center">
    {{ card_collection.title }}
  </h3>
</a>
