{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dialog-polyfill.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'basic-modal.js' | asset_url }}" defer="defer"></script>

<div class="cpb-connect">
  <a href="/pages/cpb-connect" class="cpb-connect-button tw-no-underline">クレ・ド・ポー ボーテ ID連携</a>

  <div id="open-modal" class="cpb-connect-desc tw-cursor-pointer">
    クレ・ド・ポー ボーテ メンバーシッププログラム会員とのID連携について
  </div>

  <basic-modal id="basic-modal">
    <dialog class="tw-w-[600px] tw-max-w-[90%]">
      <div class="close-button tw-cursor-pointer tw-absolute tw-top-2 tw-right-2 tw-z-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             class="tw-w-6 tw-h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </div>

      <div class="cpb-connect-modal">
        <h4>クレ・ド・ポー ボーテ<br/>
          メンバーシッププログラム会員との<br/>
          連携について</h4>

        <p>Perfumerie Sukiya Online Store会員情報と<br/>
          クレ・ド・ポー ボーテ メンバーシッププログラム<br/>
          会員IDを連携いただくことで<br/>
          パーソナルなブランド体験をお楽しみいただけます。</p>

        <p>クレ・ド・ポー ボーテの会員ポイントがPerfumerie Sukiya Online Storeでの<br/>
          購入で付与されますので、ぜひご登録ください。</p>

        <a href="/pages/cpb-connect" class="cpb-connect-button">登録手続きへ進む</a>
        <p class="cpb-connect-small">※ Perfumerie Sukiya Online Store会員登録およびクレ・ド・ポー ボーテ
          メンバーシッププログラムのどちらも会員登録が必要となります。</p>
        <p class="cpb-connect-small">※ Perfumerie Sukiya Online Storeにログインが必要です。未ログインの場合には、ログイン後にクレ・ド・ポー
          ボーテ ブランドトップ（<a
              href="/collections/cle-de-peau-beaute">https://online.sukiya.biz/collections/cle-de-peau-beaute</a>）から「クレ・ド・ポー
          ボーテ 会員連携」ボタンをクリックしてください。</p>
        <p class="cpb-connect-small">※
          会員ポイント付与・ご購入履歴の反映には5日程度お時間を頂戴いたします。</p>
        <h4>会員連携登録の特典</h4>
        <img src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_modal_230221.jpg?v=1677569794"
             alt="ラディアンスギフト">
        <h5>ラディアンスギフト</h5>
        <p>1年間のラディアンスポイント数に応じて<br/>
          感謝を込めた記念品をお送りするプログラムです。</p>
        <p>会員連携いただくと<br/>
          ラディアンスポイントの対象となります。</p>

        <h5>Beauty Keyポイント</h5>
        <p>会員連携いただくとBeauty Keyポイントの<br/>
          対象となります。</p>

        <img class="tw-mx-auto"
             src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_result.jpg?v=1677569794"
             alt="パーソナルなカウンセリング">
        <p class="cpb-connect-small text-center">※画像はイメージです。</p>
        <h5>パーソナルなカウンセリング</h5>
        <p>デジタルでカウンセリングがご利用いただけます。<br/>
          簡単な設問への回答とスマートフォンのカメラで撮影した肌測定で、<br/>
          あなたの肌を解き明かし、<br/>
          あなたにおすすめの商品をご紹介します。<br/>
          <span class="danger">※肌測定はPCではご利用いただけません。</span><br/>
          また、ご購入商品の履歴にもとづいた<br/>
          パーソナルなカウンセリングも提供します。</p>

        <p>その他にも特典を用意しておりますので、<br/>
          ぜひ、会員連携に登録してください！</p>

        <a href="/pages/cpb-connect" class="cpb-connect-button">登録手続きへ進む</a>
        <p class="cpb-connect-small">※ Perfumerie Sukiya Online Store会員登録およびクレ・ド・ポー ボーテ
          メンバーシッププログラムのどちらも会員登録が必要となります。</p>
        <p class="cpb-connect-small">※ Perfumerie Sukiya Online Storeにログインが必要です。未ログインの場合には、ログイン後にクレ・ド・ポー
          ボーテ ブランドトップ（https://online.sukiya.biz/collections/cle-de-peau-beaute）から「クレ・ド・ポー
          ボーテ
          会員連携」ボタンをクリックしてください。</p>
        <p class="cpb-connect-small">※
          会員ポイント付与・ご購入履歴の反映には5日程度お時間を頂戴いたします。</p>
      </div>
    </dialog>
  </basic-modal>
</div>
