<cart-discount class="cart-sidebar-discount block pb-base w-full">
  <small id="discount-code-error" class="text-red text-body-xs empty:hidden"></small>

  <div class="flex flex-col gap-small">
    <input
      type="text"
      id="discount-code-input"
      autocomplete="on"
      value=""
      placeholder="{{ 'sections.cart.discount_code' | t }}"
      class="h-huge p-base flex w-full items-center rounded border border-grey100 uppercase"
    >
  </div>
</cart-discount>
