<style>
  .loader {
    border: 1px solid #f3f3f3;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<cart-discount class="cart-sidebar-discount block pb-base w-full">
  <div id="applied-discount-code" class="text-body-xs mb-2 flex gap-2">
    <span> Discount Applied: </span>

    <span class="applied-discount-code-wrapper hiddden flex items-center gap-2">
      <span class="applied-discount-code-value peer text-body-xs uppercase"></span>
      <button id="clear-discount-btn" class="peer-empty:hidden">
        {% render 'icon-close', class: '!w-3 !h-3' %}
      </button>
    </span>
  </div>

  <small id="discount-code-error" class="text-red text-body-xs empty:hidden"></small>

  <div class="flex flex-col gap-small">
    <input
      type="text"
      id="discount-code-input"
      autocomplete="on"
      value=""
      placeholder="{{ 'sections.cart.discount_code' | t }}"
      class="h-huge p-base flex w-full items-center rounded border border-grey100 uppercase"
    >

    {% render 'button',
      id: 'apply-discount-btn',
      size: 'lg',
      classes: 'uppercase flex-grow w-full max-w-[750px] mx-auto',
      text: 'apply',
      type: 'submit'
    %}
  </div>
</cart-discount>
