<div id="easylockdown-password-form" style="display: none;">
  <div id="easylockdown-wrapper">
    {% unless easylockdownPasswordNote == '' %}
      <div id="easylockdown-password-note">{{ easylockdownPasswordNote }}</div>
    {% endunless %}

    <div class="easylockdown-form-holder">
      <div id="easylockdown-password-error">Invalid password</div>
      <input type="password" placeholder="{{ easylockdownPasswordPlaceholder }}" id="easylockdown-password"
             onkeypress="if( event.keyCode == 13 && typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) { event.preventDefault(); easylockdown.checkUnlockPassword(this); }" />
      <a href="javascript:void(0);" id="easylockdown-password-form-button" onclick="if( typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) easylockdown.checkUnlockPassword(this);">Enter</a>
    </div>
  </div>
</div>