{% comment %}
Embroidery module for PDP 
{% endcomment %}

{% assign embroiderable = product.collections | where:'handle','embroiderable' | size %}  

<h1>{{embroiderable}}</h1>

{% if condition %}
  
{% endif %}

<div class="product__accordion accordion">
    <details open="">
      <summary
        role="button"
        aria-expanded="false"
        aria-controls="product-embroidery-options-accordion"
      >
        <div class="summary__title">
          <svg
            class="icon icon-accordion color-foreground-text"
            aria-hidden="true"
            focusable="false"
            role="presentation"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.27 5.1l-3.3-3.3a1 1 0 00-.7-.3h-1.2a1 1 0 00-.74.32l-.04.04c-.7.7-1.86.7-2.56 0l-.05-.04a1 1 0 00-.73-.32H4.76a1 1 0 00-.72.3L.74 5.1a1 1 0 000 1.4L2.4 8.16a1 1 0 001.36.05v5.29a1 1 0 001 1h6.5a1 1 0 001-1V8.22a1 1 0 001.35-.06l1.66-1.65a1 1 0 000-1.42zM12.9 7.45L11.26 5.8v7.69h-6.5V5.8L3.11 7.46 1.45 5.8l3.3-3.3.01.01V2.5h1.19l.07.07a2.81 2.81 0 003.98 0l.06-.07h1.2l3.3 3.3-1.66 1.66z"
            ></path>
          </svg>
          <h2 class="h4 accordion__title">Embroidery</h2>
        </div>
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="icon icon-caret"
          viewBox="0 0 10 6"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
            fill="currentColor"
          ></path>
        </svg>
      </summary>
      <div
        class="accordion__content rte"
        id="product-embroidery-options-accordion"
      >
        
      </div>
    </details>
  </div>
  