{% if product.metafields.custom.linked_products %}
  <div class="expansion-linked-products">
    <h2 class="expansion-linked-products__title">{{ 'products.product.related_products' | t }}</h2>
    <ul class="expansion-linked-products__list">
      {% for linked_product in product.metafields.custom.linked_products.value %}
        <li class="expansion-linked-products__item">
          {% render 'product-card',
            product: linked_product,
            show_vendor: section.settings.show_vendor,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            show_rating: section.settings.show_rating,
            show_quick_add: section.settings.enable_quick_add
          %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<style>

</style>

<script>
  // JavaScript can be added here if needed
</script>

{% comment %}
{%  schema  %} 

{% endschema %}
{% endcommett %}