{{ 'fireworkx-get-in-touch.css' | asset_url | stylesheet_tag }}

<div class="fwx-get-in-touch-snippet">
    <div class="fwx-get-in-touch">
        <h2> Get in touch </h2>
        <a href="#" class="button button--transparent">{% render 'icon-email' %} hello@andycab.co.za</a>
        <a href="#" class="button button--transparent">{% render 'icon-phone' %} 021 054 5900</a>
    </div>
    <div class="fwx-find-us">
        <h2> Find us </h2>
        <div class="fwx-address-container">
            <p> {% render 'icon-pin' %} <span>14 Hawkins Ave</span></p> 
            <p class="fwx-address"> Epping </p> 
            <p class="fwx-address"> Cape Town </p> 
            <p class="fwx-address">7475 </p>
        </div>
        <a href="#" class="fwx-open-in-google"> Open in Google Maps</a>
    </div>
    <ul class="social-media-icons">
        <li><a href="#">{% render 'icon-facebook' %}</a></li>
        <li><a href="#">{% render 'icon-instagram' %}</a></li>
    </ul>
</div>