<div class="fwx-quote-container">
    <div class="fwx-get-quote-online">
        <h2>Need help or a quote</h2>
        <button class="button"> ENQUIRE NOW </button>
        <button class="button"> GET A QUOTE </button>
    </div>
    <div class="fwx-contact">
        <a href="#">hello@andycab.co.za</a>
        <a href="#">021 054 5900</a>
    </div>
</div>