{{ 'fireworkx-error-message.css' | asset_url | stylesheet_tag }}

<div class="error-message-container">
    <div class="error-icon">{% render 'icon-error'%}</div>
    <h5>Something went wrong...</h5>
</div>