{{ 'fireworkx-need-help-or-quote.css' | asset_url | stylesheet_tag }}
<div class="fwx-quote-container">
    <div class="fwx-get-quote-online">
        <h3>Need help or a quote?</h3>
        <div class="fwx-btn-block">
            <button class="button large">MAKE AN ENQUIRY</button>
        </div>
    </div>
    <div class="fwx-contact">
        <a href="#" class="button button--transparent">{% render 'icon-email' %} hello@andycab.co.za</a>
        <a href="#" class="button button--transparent">{% render 'icon-phone' %} 021 054 5900</a>
    </div>
</div>