{{ 'fireworkx-need-help-or-quote.css' | asset_url | stylesheet_tag }}
<div class="fwx-quote-container">
    <div class="fwx-get-quote-online">
        <h4>Need to confirm your exact bakkie and canopy details?</h4>
        <button class="button large button--primary" data-modal="open-modal">Make an Enquiry</button>
    </div>
    <div class="fwx-contact">
        {% comment %} <a href="mailto:hello@andycab.co.za" class="button button--transparent button--small">{% render 'icon-email' %} hello@andycab.co.za</a> {% endcomment %}
        <a href="tel:+27210545900" class="button button--transparent button--small">{% render 'icon-phone' %} 021 054 5900</a>
        <a href="tel:+27210545900" class="button button--transparent button--small">{% render 'icon-phone' %} 010 054 5900</a>
    </div>
</div>