{{ "section-contact-form.css" | asset_url | stylesheet_tag }}
{{ "fireworkx-product-from.css" | asset_url | stylesheet_tag }}

	<h2>Make an Enquiry</h2>
	<div class="fwx-enquiry-product-container">
		<div class="fwx-enquiry-product">
			{% if product.featured_media != blank %}
				<img src="{{ product.featured_media | img_url: '250x' }}" width="" height="" loading="lazy" />
			{% endif %} 
			{% if product.type == "Canopy" %}
				{% render 'fireworkx-product-title', 
					features: product.metafields.fwx.canopy_features, 
					year: product.metafields.fwx.year,
					size: product.metafields.fwx.size,
					model: product.metafields.fwx.model,
					class: 'fwx-title-card' %}
			{% else %}
				<h4 class="">{{ product.title }}</h4>
			{% endif %}
		</div>
		<form class="fwx-form">
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">First Name</label>
					<input class="fwx-input" type="text" name="" value="" placeholder="" required/>
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">Last Name</label>
					<input class="fwx-input" type="text" name="" value="" placeholder="" required/>
				</div>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">Phone Number</label>
					<input class="fwx-input" type="tel" name="" value="" placeholder="" required/>
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">Email Address</label>
					<input class="fwx-input" type="email" name="" value="" placeholder="" required/>
				</div>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-field">
					<label class="fwx-label" for="">Province</label>
					<select class="fwx-input" name="" required>
						<option value="" disabled selected></option>
						<option>Gauteng</option>
						<option>Western Cape</option>
						<option>Kwazulu-Natal</option>
						<option>Eastern Cape</option>
						<option>Free State</option>
						<option>Northern Cape</option>
						<option>Limpopo</option>
						<option>Mpumalanga</option>
						<option>North West</option>
					</select>
				</div>
				<div class="fwx-field">
					<label class="fwx-label" for="">City</label>
					<input class="fwx-input" type="text" name="" value="" placeholder="" required />
				</div>
			</div>
			<div class="fwx-field fwx-contact-fields">
				<label class="fwx-label" for="additional-information">Additonal Information</label>
				<textarea	rows="10"	class="fwx-input fwx-textarea" name="additional-information" required></textarea>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-options-field">
					<p class="fwx-label">Request a Callback</p>
					<div class="fwx-radio-button">
						<input type="radio" name="callback" value="yes" id="callback-yes" required /><label for="callback-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="callback" value="no" id="callback-no" required /><label for="callback-no">No</label>
					</div>
				</div>
				<div class="fwx-options-field">
					<p class="fwx-label">Are you in possession of your bakkie yet?</p>
					<div class="fwx-radio-button">
						<input type="radio" name="possession" id="possession-yes" value="yes" required /><label for="possession-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="possession" id="possession-no" value="no" required /><label for="possession-no">No</label>
					</div>
				</div>
			</div>
			<div class="fwx-field-group">
				<div class="fwx-options-field">
					<p class="fwx-label">Do you want to receive promotional material via email in the future ?</p>
					<div class="fwx-radio-button">
						<input type="radio" name="promotions" id="promotions-yes" value="yes" required /><label for="promotions-yes">Yes</label>
					</div>
					<div class="fwx-radio-button">
						<input type="radio" name="promotions" id="promotions-no" value="no" required /><label for="promotions-no">No</label>
					</div>
				</div>
			</div>
			<button type="submit" class="button">Send Enquiry</button>
		</form>
	</div>

