{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<div>
    <h2>Make an Enquiry</h2>
    <div>
        {% if title != blank %}
            <h6 class="">{{ title }}</h6>
        {% endif %}

        render snippet conditionally
    </div>
    <form>
        <div class="contact__fields">
            <div class="field">
                <label class="field__label" for="">First Name</label>
                <input class="field__input"  type="text" name="" value="" placeholder="">
            </div>
            <div class="field">
                <label class="field__label" for="">Last Name</label>
                <input class="field__input"  type="text" name="" value="" placeholder="">
            </div>
        </div>
        <div class="contact__fields">
            <div class="field">
                <label class="field__label" for="">Phone Number</label>
                <input class="field__input"  type="tel" name="" value="" placeholder="">
            </div>
            <div class="field">
                <label class="field__label" for="">Email Address</label>
                <input class="field__input"  type="email" name="" value="" placeholder="">
            </div>
        </div>
        <div class="contact__fields">
            <div class="field">
                <label class="field__label" for="">Province</label>
                <select class="field__input" name="" id="">
                    <option value="" disabled selected></option>
                    <option>Option one</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                </select>
            </div>
            <div class="field">
                <label class="field__label" for="">City</label>
                <input class="field__input"  type="text" name="" value="" placeholder="">
            </div>
        </div>
        <div class="field">
            <label class="form__label field__label" for="">Additonal Information</label>
            <textarea
                rows="10"
                id=""
                class="text-area field__input"
                name=""
                placeholder="Additonal Information"
            >
            {{- form.body -}}
            </textarea>
        </div>
        <div class="contact__fields">
            <div class="">
                <p>Request a Callback</p>
                  <input type="radio" id="" name="" value="true">
                  <label for="">Yes</label><br>
                  <input type="radio" id="" name="" value="false">
                  <label for="">No</label><br>
            </div>
            <div class="">
                <p>Are you in possession of your bakkie yet?</p>
                  <input type="radio" id="yes" name="" value="true">
                  <label for="">Yes</label><br>
                  <input type="radio" id="no" name="" value="false">
                  <label for="">No</label><br>
            </div>
        </div>
        <div class="contact__fields">
            <div class="">
                <p>Do you want to receive promotional material via email in the future ?</p>
                  <input type="radio" id="" name="" value="true">
                  <label for="">Yes</label><br>
                  <input type="radio" id="" name="" value="false">
                  <label for="">No</label><br>
            </div>
        </div>
    </form>
</div>