{% assign free_shipping_amount = 7500 %}
{% assign progress = cart.total_price | times: 100 | divided_by: free_shipping_amount %}
<div class="free-shipping-progress">
  <div class="free-shipping-progress-bar-text">
    {% if progress < 100 %}
      Spend {{ free_shipping_amount | minus: cart.total_price | money }} more to get free shipping!
    {% else %}
      You have free shipping!
    {% endif %}
  </div>
  <div class="free_shipping_bar"></div>

</div>

<style>
  .free_shipping_bar {
    display: block !important;
    position: relative;
    width: 90%;
    height: 10px;
    border: 1px solid white;
    background: #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
  }
  .free_shipping_bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 9px;
    background-color: rgba(var(--color-button), var(--alpha-button-background));;
    width: {{ progress }}%;
  }
  .free-shipping-progress-bar-text{
    text-align: center;
    margin: 10px;}
</style>
