  <style>
    .recommendation-modal__container {
 box-shadow:0px 0px 1px rgba(0,0,0,0.3),0px 4px 4px 1px rgba(0,0,0,0.1);
 max-width:30em;
 position:fixed;
 left:50%;
 top:50%;
 transform:translate(-50%, -50%);
 width:calc(100% - 2em);
 z-index:1000000;
 border-radius:5px
}
.recommendation-modal__close-button-container {
 display:flex;
 justify-content:flex-end
}
.recommendation-modal__close-button {
 border:none !important;
 box-shadow:none !important;
 font-size:16px !important;
 height:auto !important;
 line-height:1.375 !important;
 min-height:unset !important;
 min-width:unset !important;
 text-align:center !important;
 vertical-align:unset !important;
 width:auto !important;
 background:none !important;
 padding:0 !important;
 margin-right:10px;
 margin-top:10px
}
.recommendation-modal__close-button:hover,
.recommendation-modal__close-button:focus {
 border:none !important;
 box-shadow:none !important;
 min-width:unset !important;
 width:auto !important
}
.recommendation-modal__close-button:focus {
 outline:auto !important
}
.recommendation-modal__close-button:hover,
.recommendation-modal__close-button:focus {
 background:none !important
}
.recommendation-modal__content {
 display:flex;
 flex-direction:column;
 align-items:center;
 padding:0 2.5em 2.5em
}
@media (max-width: 750px) {
 .recommendation-modal__content {
  padding:0 2em 2em
 }
}
.recommendation-modal__flag {
 padding-top:12px
}
.recommendation-modal__message,
.recommendation-modal__message--align-start {
 font-weight:normal !important;
 text-transform:none;
 margin:12px 0 25px !important;
 text-align:center;
 letter-spacing:normal;
 font-size:22px !important;
 line-height:1.3 !important
}
.recommendation-modal__message--align-start {
 align-self:flex-start
}
.recommendation-modal__message--bold {
 font-weight:bold !important
}
.recommendation-modal__benefits {
 width:100%
}
.recommendation-modal__benefits ul {
 margin:0 0 12px 0;
 padding-left:16px;
 font-size:16px
}
.recommendation-modal__benefits ul li {
 font-size:16px !important;
 line-height:1.4 !important;
 list-style-type:disc;
 margin-bottom:4px
}
.recommendation-modal__button {
 border:none !important;
 box-shadow:none !important;
 font-size:16px !important;
 height:auto !important;
 line-height:2.5 !important;
 min-height:unset !important;
 min-width:unset !important;
 text-align:center !important;
 vertical-align:unset !important;
 width:auto !important;
 border:none;
 border-radius:4px;
 box-shadow:none;
 margin:0 !important;
 width:100% !important;
 height:52px !important;
 font-size:18px !important;
 box-sizing:border-box !important;
 padding:0 !important
}
.recommendation-modal__button:hover,
.recommendation-modal__button:focus {
 border:none !important;
 box-shadow:none !important;
 min-width:unset !important;
 width:auto !important
}
.recommendation-modal__button:focus {
 outline:auto !important
}
.recommendation-modal__button:hover,
.recommendation-modal__button:focus {
 cursor:pointer;
 width:100% !important
}
.recommendation-modal__button--minimal {
 border:none !important;
 box-shadow:none !important;
 font-size:16px !important;
 height:auto !important;
 line-height:1.375 !important;
 min-height:unset !important;
 min-width:unset !important;
 text-align:center !important;
 vertical-align:unset !important;
 width:auto !important;
 background:none !important;
 padding:0 !important;
 margin-top:10px;
 text-decoration-line:underline;
 font-size:14px !important
}
.recommendation-modal__button--minimal:hover,
.recommendation-modal__button--minimal:focus {
 border:none !important;
 box-shadow:none !important;
 min-width:unset !important;
 width:auto !important
}
.recommendation-modal__button--minimal:focus {
 outline:auto !important
}
.recommendation-modal__button--minimal:hover,
.recommendation-modal__button--minimal:focus {
 background:none !important
}
.recommendation-modal__button--minimal:hover {
 cursor:pointer
}
.recommendation-modal__backdrop {
 background-color:rgba(0,0,0,0.3);
 height:100vh;
 left:0;
 position:fixed;
 top:0;
 width:100vw;
 z-index:999999
}
.recommendation-modal__selector--flag {
 -moz-appearance:none !important;
 -webkit-appearance:none !important;
 appearance:none !important;
 background-color:#f4f4f4 !important;
 background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBzMy40IDQuNCAzLjUgNC40QzMuNyA0LjQgNy4xIDAgNy4xIDBIMHoiLz48L3N2Zz4=") !important;
 background-position:right 10px center !important;
 background-repeat:no-repeat !important;
 background-size:auto !important;
 border-radius:2px !important;
 border:0 !important;
 color:#333 !important;
 cursor:pointer !important;
 display:inline-block !important;
 font-size:16px !important;
 height:auto !important;
 line-height:1.375 !important;
 margin:0.3em !important;
 max-width:100% !important;
 min-height:unset !important;
 min-width:unset !important;
 padding:0.3em 28px 0.3em 0.5em !important;
 text-indent:0.01px !important;
 text-overflow:'' !important;
 vertical-align:baseline !important;
 width:auto !important;
 background-color:transparent !important;
 border:1px solid #babfc3 !important;
 border-radius:4px !important;
 width:100% !important;
 height:38px !important;
 margin:0 !important;
 padding-left:40px !important
}
.recommendation-modal__selector {
 -moz-appearance:none !important;
 -webkit-appearance:none !important;
 appearance:none !important;
 background-color:#f4f4f4 !important;
 background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBzMy40IDQuNCAzLjUgNC40QzMuNyA0LjQgNy4xIDAgNy4xIDBIMHoiLz48L3N2Zz4=") !important;
 background-position:right 10px center !important;
 background-repeat:no-repeat !important;
 background-size:auto !important;
 border-radius:2px !important;
 border:0 !important;
 color:#333 !important;
 cursor:pointer !important;
 display:inline-block !important;
 font-size:16px !important;
 height:auto !important;
 line-height:1.375 !important;
 margin:0.3em !important;
 max-width:100% !important;
 min-height:unset !important;
 min-width:unset !important;
 padding:0.3em 28px 0.3em 0.5em !important;
 text-indent:0.01px !important;
 text-overflow:'' !important;
 vertical-align:baseline !important;
 width:auto !important;
 background-color:transparent !important;
 border:1px solid #babfc3 !important;
 border-radius:4px !important;
 width:100% !important;
 height:38px !important;
 margin:0 !important
}
.recommendation-modal__selector-wrapper--flag {
 background-image:var(--bg-image);
 background-repeat:no-repeat;
 background-position:11px center;
 background-size:25px;
 background-color:#f4f4f4 !important;
 border-radius:4px !important;
 margin:0 0 12px 0
}
.recommendation-modal__selector-wrapper {
 background-color:#f4f4f4 !important;
 border-radius:4px !important;
 margin:0 0 12px 0
}
.recommendation-modal__form {
 margin:0;
 width:100%
}
.recommendation-modal__form button:last-of-type {
 margin-top:18px !important
}

  </style>
  <div class="show-recommended" style="display: none;">
    <div class="recommendation-modal__container" style="background-color: rgb(255, 255, 255);" tabindex="-1">
      <div class="recommendation-modal__close-button-container">
        <button class="recommendation-modal__close-button pop-close" type="button">
          <svg aria-label="Dismiss" viewBox="0 0 20 20" style="height: 1em; width: 1em;" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill="rgba(0, 0, 0, 1)"></path>
          </svg>
        </button>
      </div>
      <div class="recommendation-modal__content">
        <div class="recommendation-modal__flag">
          <img src="https://cdn.shopify.com/static/images/flags/de.svg" width="75" height="48"></div>
        <h2 class="recommendation-modal__message" style="color: rgb(0, 0, 0);">Loop Earplugs ships to <span class="recommendation-modal__message--bold">Germany</span></h2>
        <div class="recommendation-modal__benefits"><ul><li style="color: rgb(0, 0, 0);">Shop in EUR €</li><li style="color: rgb(0, 0, 0);">Get shipping options for Germany</li></ul></div>
        <a id="redirect-link" href="https://de.loopearplugs.com/" class="recommendation-modal__button" style="background-color: rgb(55, 100, 117); color: rgb(255, 255, 255);" type="submit">Shop now</a>
        <button class="recommendation-modal__button--minimal pop-close" type="button" style="background-color: transparent; color: rgb(0, 0, 0);">Cancel</button>
      </div>
    </div>
    <div class="recommendation-modal__backdrop"></div>
  </div>
  <script>
    console.log("redirect link here !!")
    var closeIcons=document.getElementsByClassName('pop-close');  
    var redirectLink = "";
    document.querySelectorAll('link[hreflang="de-de"]').forEach((summary) => {
      redirectLink = summary.href;
    });
    function hidePopup() {
      document.querySelectorAll('.show-recommended').forEach((summary) => {
        summary.style.display = "none";
      });
      localStorage.setItem("cancelled", 'yes');
    }
    function showPopup() {
      document.querySelectorAll('.show-recommended').forEach((summary) => {
        summary.style.display = "block";
      });
    }
    console.log(redirectLink);
    var country = localStorage.getItem("cont");
    var language = localStorage.getItem("lang");
    var cancelled = localStorage.getItem("cancelled");
    if( !country && !language && !cancelled ) {
      fetch("/browsing_context_suggestions.json?source=geolocation_recommendation&country[enabled]=true&language[enabled]=true")
      .then(async (response) => {

        // get json response here
        let data = await response.json();
        
        if(response.status === 200){
          var languageX = window.navigator.userLanguage || window.navigator.language;
          localStorage.setItem("lang", languageX);
          localStorage.setItem("cont", data.detected_values.country.handle);
          if (redirectLink != "") {
            if( data.detected_values.country.handle == "DE" ) {
              var urlSplits = window.location.href.split("?");
              var parameters = "";
              if (urlSplits.length > 1) {
                parameters = "?"+urlSplits[1];
              }
              document.getElementById('redirect-link').href = redirectLink+parameters;
              console.log(2);
              window.location.replace("https://www.loopearplugs.com/de-de");
              // showPopup();
            }
          }
        }        
      })
      .catch(error => {
        console.log(error)
      });                                       
    }
    if( !cancelled && redirectLink != "" ) {
      if (country == "DE") {
          var urlSplits = window.location.href.split("?");
          var parameters = "";
          if (urlSplits.length > 1) {
            parameters = "?"+urlSplits[1];
          }
          document.getElementById('redirect-link').href = redirectLink+parameters;
        console.log(2);
          window.location.replace("https://www.loopearplugs.com/de-de");
          // showPopup();
      }                                      
    }
    for (i = 0; i < closeIcons.length; i++) {
      closeIcons[i].addEventListener("click", hidePopup);
    }
  </script>