<div class="gokwik-checkout">
  <button type="button" class="button button--secondary" onclick="initiateLogin()">
    <span class="btn-text">
      <span>KWIK CHECKOUT</span>
    </span>
  </button>
</div>
