<style>
  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form,
  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form .row,
  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form .row label,
  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form .row label input {
    width: 100%;
  }
  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form .row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
  }

  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form label[for=consent] {
    margin: 16px 0;
    display: block;
  }

  .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form input {
    padding: 20px;
    font-size: 18px;
  }

  @media screen and (max-width: 940px) {
    .spontaneous_greenhouse--wrapper #spontaneous_greenhouse--form .row {
      flex-direction: column;
    }
  }
</style>

<form id="spontaneous_greenhouse--form">
  <div class="row">
    <label for="firstname">
      <input type="text" id="firstname" name="firstname" placeholder="First name" required>
    </label>
    <label for="lastname">
      <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
    </label>
  </div>
  <div class="row">
    <label for="email">
      <input type="email" id="email" name="email" placeholder="Email address" required>
    </label>
  </div>
  <div class="row">
    <label for="linkedin">
      <input type="text" name="linkedin" id="linkedin" placeholder="linkedin.com/in/username" required>
    </label>
  </div>
  <label class="checkbox" for="consent">
    <input type="checkbox" name="consent" id="consent" required>
    I consent to have my data processed as part of this application. <a href="https://www.loopearplugs.com/pages/vacancy-privacy-notice" target="_blank" style="color: rgba(178, 231, 230, 1);">Privacy notice</a> <span class="required">*</span>
  </label>
  <div class="feedback-container">
    <p class="feedback-success" style="display: none">Thanks for your application! We'll get back to you within the next 7 working days.</p>
    <p class="feedback-error" style="display: none">Something went wrong when submitting the form, please try again later.</p>
  </div>
  <input class="button button--primary" type="submit" value="Submit">
</form>

<script src='{{ "greenhouse-form.js" | asset_url }}'></script>
