<div class="tw-hidden md:tw-flex md:tw-justify-center tw-border-t tw-border-black">
  <div v-for="(item, index) in cpbNavItems" :key="'1_' + index">
    <div
        class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50"
        v-if="item.children"
    >
      <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
         :href="item.href">
        ${ item.text }
        <i aria-hidden="true"
           class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
      </a>
      <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
        <div v-for="(child1, index) in item.children" :key="'2_' + index">
          <div
              class="tw-group/nest2 tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50"
              v-if="child1.children"

          >
            <a :href="child1.href"
               class="tw-flex tw-items-center tw-text-sm tw-tracking-widest"
            >
              ${child1.text}
              <i aria-hidden="true"
                 class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
            </a>
            <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-white">
              <div v-for="(child2, index) in child1.children" :key="'3_' + index">
                <a :href="child2.href">
                  <div
                      class="tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest">
                    ${child2.text}
                  </div>
                </a>
              </div>
            </div>
          </div>
          <a
              v-else
              class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
              :href="child1.href">
            ${child1.text}
          </a>
        </div>
      </div>
    </div>

    <a
        v-else
        class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
        :href="item.href"
        :target="item.target"
    >${item.text}
      <i aria-hidden="true"
         class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
    </a>
  </div>
</div>
