<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-gridHulkList data-added="false" data-proID="{{ productId }}" data-varID="{{ variantId }}" style="display:none;">
    <div style="display: initial;" class="wishlist_btn_icon">
        {% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.button_icon_type == 'custom_icon' %}
            <img src="shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.empty_set_custom_icon" class="hulk-wishlist-custom-icon" width="18px" height="18px" style="display: none; line-height: 1;cursor: pointer;margin-right: 5px;user-select: none;vertical-align: middle;margin-top: -2px;">
        {% else %}
            <i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty"></i></i>
        {% endif %}
    </div>
    <span>Add to wishlist</span>
    <span class="count">0</span>
</a>
