<div class="hulk-wishlist-icon">
    {% assign headerDesign = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.header_icon_design %}
    {% if headerDesign == '' or headerDesign == null or headerDesign == 'undefined' %}
    {% assign headerDesign = 'wishlist_page' %}
    {% endif %}
    <a href="{% if headerDesign == 'wishlist_page' %}/{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.app_proxy_prefix }}/{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.app_proxy_path }}{% else %}javascript:void(0){% endif %}" class="hulk-header-icon hulk-wishlist-drawer">
        <i class="icon-wishlist-heart-empty" style="vertical-align: sub;"></i>
        {% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.wishlist_header_count == 'show' %}
            <span class="header-count count" data-totalwishlistitems>0</span>
        {% endif %}
    </a>
</div>
