{% assign button_layout = 'simple_button' %}
{% if shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout != null  %}
    {% assign button_layout = shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.button_layout %}
{% endif %}

<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}" data-button-layout="{{ button_layout }}" style="display:none">
    <div class="hulk_wl_icon-text" hulk-wl-custom-style data-count="{{ shop.metafields.hulkapps_wishlist.hulkapps_wishlist_general.public_wishlist_count }}">
        <div class="hulk_wl_icon">
            <i class="heart-hulk-animation"><i class="icon-wishlist-heart-empty"></i></i>
            <span>Add to wishlist</span>
        </div>
    </div>
    {% if button_layout == 'multi_color_button' and shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.button_style == 'style_2' or shop.metafields.hulkapps_wishlist.hulkapps_wishlist_buttonstyle.button_style == 'style_4' %}
        <span class="count" hulk-wl-custom-style>0</span>
    {% else %}
        <span class="count" hulk-wl-custom-style>(0)</span>
    {% endif %}

</a>
