{% comment %}
  Renders Quantity Picker Button
  Accepts:
  -class: {String}.
  -svgClass: {String}.

  Usage:
  {% render 'icon-minus', class:'', svgClass: '' %}
{% endcomment %}

<div class="{{class}}  tw-flex tw-justify-center tw-items-center ">
  <svg
    class="{{ svgClass }}"
    xmlns="http://www.w3.org/2000/svg"
    width="12"
    height="13"
    viewBox="0 0 12 13"
    fill="none"
  >
    <path d="M0 6.5H12" stroke=""/>
  </svg>
</div>
