{% if image != blank %}
  <div
    class="media"
    style="--width: {{ image.width }}; --height: {{ image.height }};"
  >
    {{ image | image_url: width: 2000 | image_tag: widths: widths, sizes: sizes }}
  </div>
{% elsif placeholder %}
  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
{% endif %}
