{% comment %}
  Renders an image with caption

  Accepts:
  - image: {Object} Image Object
  - caption: {String} Image caption
  - caption_size: {String} Size of caption
  - class: {String} additional classes

  Usage:
  {% render 'image-with-caption',
    image: image,
    caption: 'Caption'
  %}
{% endcomment %}

{% liquid
  assign caption_size = caption_size | 'small'
  assign caption_class = 'text-body-sm text-grey500'

  if caption_class = 'large'
    assign caption_class = 'text-t-lg text-black'
  endif
%}

{% if image != blank %}
  <figure class="w-full flex flex-col gap-base {{ class }}">
    <div>
      {{ image | image_url: width: 1440 | image_tag: loading: 'lazy', class: 'w-full h-auto aspect-[3_/_2]' }}
    </div>

    <figcaption class="{{ caption_class }}">
      {{ caption }}
    </figcaption>
  </figure>
{% endif %}
