{% comment %}
  {% layout 'theme' %}

  <div class="p-md">
    <h1 class="text-center uppercase">Components</h1>

    <div class="flex gap-base flex-wrap">
      {% comment %} Buttons {% endcomment %}
      <div class="mt-huge">
        <h2 class="uppercase mb-small">Buttons</h2>

        <div class="flex flex-col ">
          <div class=" border-[0.5px] border-dashed flex flex-col gap-large px-small py-base">
            <div>
              {% render 'button', variant: 'primary', size: 'sm', text: 'Add to Cart' %}
              <h2 class="text-btn-xs mt-mini">Primary-Large</h2>
            </div>

            <div>
              {% render 'button', variant: 'secondary', size: 'sm', text: 'Add to Cart' %}
              <h2 class="text-btn-xs mt-mini">Secondary-Small</h2>
            </div>

            <div>
              {% render 'button', variant: 'primary', size: 'lg', text: 'Join' %}
              <h2 class="text-btn-xs mt-mini">Primary-Large</h2>
            </div>

            <div>
              {% render 'button', variant: 'secondary', size: 'lg', text: 'Join' %}
              <h2 class="text-btn-xs mt-mini">Secondary-Large</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-huge">
        <h2 class="uppercase mb-small">Checkout CTA</h2>

        <div class="flex flex-col ">
          <div class=" border-[0.5px] border-dashed flex flex-col gap-large px-small py-base">
            {% section 'product-cta' %}
          </div>
        </div>
      </div>

      <div class="mt-huge">
        <h2 class="uppercase mb-small">Delivery Options</h2>

        <div class="border-[0.5px] border-dashed flex flex-col gap-base px-small py-base">
          {% render 'delivery-option', availability: 'in_stock' %}
          {% render 'delivery-option', availability: 'ordered' %}
          {% render 'delivery-option', availability: 'unavailable' %}
          {% render 'delivery-option', availability: 'soon' %}
        </div>
      </div>

      <div class="mt-huge">
        <h2 class="uppercase mb-small">Title & Price</h2>

        <div class="border-[0.5px] border-dashed flex flex-col gap-base px-small py-base">
          {% render 'title-price' %}
        </div>
      </div>

      {% assign options = 'small,medium,large' | split: ',' %}

      <div class="mt-huge w-[360px]">
        <h2 class="uppercase mb-small">Dropdown Select</h2>

        <div class="border-[0.5px] border-dashed flex flex-col gap-base px-small py-base">
          {% render 'variant-select',
            select_id: 'product-size',
            select_name: 'size',
            select_class: 'product-size-selector',
            select_options: options,
            select_selected: 'medium',
            label: 'Grip'
          %}
        </div>
      </div>
    </div>
  </div>

  <script>
    var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
    document.addEventListener('DOMContentLoaded', function() {
     new QRCode( document.querySelector('.gift-card__qr-code'), {
      text: document.querySelector('.gift-card__qr-code').dataset.identifier,
      width: 72,
      height: 72,
      imageAltText: string.qrImageAlt
      });
    });
    var template = document.getElementsByTagName("template")[0];
    var clonedTemplate = template.content.cloneNode(true);
    var isMessageDisplayed = false
    document
    .querySelector('.gift-card__copy-button')
    .addEventListener('click', () => {
      navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
        if (!isMessageDisplayed) {
          document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
          isMessageDisplayed = true
        }
      });
    });
  </script>
{% endcomment %}
