<div class="click-icons-snip">
  <h2 class="click-snip-heading text-center">AS SEEN ON:</h2>

  <div class="click-icons-snip-all page-width">
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://www.cnet.com/reviews/konnected-alarm-panel-preview/" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
  
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://www.techhive.com/article/578565/konnected-alarm-review.html" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1_1.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
    
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://www.securityinfowatch.com/residential-technologies/article/12381189/konnected-alarm-panel-turns-wired-security-systems-into-smart-home-solutions" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1_2.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
  
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://www.twice.com/vip-awards/announcing-the-winners-of-the-2020-twice-vip-awards" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1_3.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
  
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://www.residentialsystems.com/tag/konnected" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1_4.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
  
    <div class="click-icons-snip-container page-width">
      <div class="click-icon-snip-box">
        <a href="https://appmyhome.com/konnected-alarm-panel-review/" target="_blank">
          <div class="icon-snip-img-container">
            <img src="https://cdn.shopify.com/s/files/1/2085/3145/files/katman_1_5.png?v=1679514564" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  
  
</div>

<style> 
  .click-icons-snip .click-icon-snip-box img {
  width: 100%;
  }
  .click-icons-snip {
    width:100%;
    padding: 15px 0 0 0;
  }
  .click-icons-snip h2 {
    font-weight: 700;
  }
  .click-icons-snip .click-icons-snip-all {
    display: flex;
    align-items: center;
  }
  .click-icons-snip .click-icons-snip-container {
    width: 100%;
    margin-top: 20px;
  }
  .click-icons-snip .click-icon-snip-box .icon-snip-img-container{
    width: 150%;
    margin: 0 auto;
    opacity: 50%;
    transition: .3s;
  }
  .click-icons-snip .click-icon-snip-box .icon-snip-img-container:hover {
    opacity: 100%;
  }
</style>

<script>
  $(".click-icons-container").slick({
    dots: false,
    infinite: true,
    speed: 1000,
    slidesToShow: 6,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    arrows: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 5,
          infinite: true,
          dots: true,
          arrows: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: true,
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          dots: true,
        }
      }
    ]
  });
</script>