<style>
    .flex {
        display: flex;
    }

    .flex-col {
        flex-direction: column;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .items-center {
        align-items: center;
    }

    .language-wrapper {
        justify-content: center;
    }

    .header__icons .language-wrapper {
        display: none;
    }

    .menu-drawer__utility-links .language-wrapper {
        margin-bottom: 1rem;
    }

    .header-country-code {
        margin: 0 5px;
        font-size: 16px;
    }
    .flag.flag-glob {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
  }
    @media screen and (min-width: 990px) {
        .header__icons .language-wrapper {
            display: flex;
        }
    }
</style>

<div id="" class="cursor-pointer flex flex-col language-wrapper">
  <div class="langs rel language-item flex items-center" data-lang="">
    {%- assign country_code = localization.country.iso_code | downcase | escape -%}
    {%- assign language_code = localization.language.iso_code | downcase | escape -%}
    {% if country_code == 'be' %}
      {%- assign country_code = 'Global' -%}
      <span class="flag flag-glob">
        <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g>
	<circle class="st0" cx="1.43" cy="16" r="0.93"/>
	<path class="st0" d="M30.53,17.6c-0.46-0.08-0.9,0.23-0.98,0.7c-0.43,2.57-1.57,4.93-3.3,6.88c-0.83-0.54-1.8-1.01-2.92-1.39
		c-0.05-0.02-0.11-0.04-0.17-0.06c0.74-2.1,1.25-6.76,1.25-6.76h3.74c0,0,0.85-0.49,0.85-0.96c0-0.47-0.85-0.97-0.85-0.97h-3.74
		c0,0-0.53-4.8-1.32-6.95c0.05-0.02,0.1-0.03,0.15-0.05c1.09-0.37,2.05-0.83,2.88-1.34c1.81,1.98,3,4.41,3.43,7.07
		c0.07,0.42,0.43,0.71,0.84,0.71c0.04,0,0.09,0,0.14-0.01c0.46-0.08,0.78-0.51,0.7-0.98c-0.53-3.25-2.05-6.19-4.39-8.51
		c-2.89-2.86-6.71-4.45-11.78-4.49V0.5l0.94,0h0.03V0.49c0,0-7.98,1.63-10.87,4.48c-2.34,2.32-3.86,5.26-4.39,8.51
		c-0.08,0.46,0.24,0.9,0.7,0.98c0.05,0.01,0.09,0.01,0.14,0.01c0.41,0,0.77-0.3,0.84-0.71c0.43-2.66,1.62-5.09,3.43-7.07
		C6.7,7.2,7.66,7.66,8.75,8.03C8.8,8.05,8.85,8.06,8.9,8.08c-0.79,2.14-1.24,4.55-1.32,6.95H3.84c-0.47,0.12-0.85,0.5-0.85,0.97
		c0,0.47,0.85,0.96,0.85,0.96l3.74,0c0,0,0.51,4.67,1.25,6.76c-0.05,0.02-0.11,0.04-0.17,0.06c-1.11,0.39-2.09,0.86-2.92,1.39
		c-1.73-1.94-2.87-4.3-3.3-6.88c-0.08-0.46-0.52-0.78-0.98-0.7c-0.46,0.08-0.78,0.52-0.7,0.98c0.53,3.15,2,6.03,4.25,8.31
		c2.91,2.94,6.77,4.58,10.03,4.62v-0.02h0.97v0.02c4.17-0.04,8.04-1.67,10.94-4.62c2.25-2.28,3.72-5.16,4.25-8.31
		C31.3,18.12,30.99,17.68,30.53,17.6L30.53,17.6z M24.86,5.46c-0.63,0.36-1.35,0.68-2.16,0.96c-0.08,0.03-0.17,0.06-0.25,0.08
		c-0.72-1.52-1.6-2.78-2.58-3.75C21.68,3.29,23.38,4.21,24.86,5.46z M15.06,15.03H9.34c0.08-2.36,0.51-4.62,1.26-6.61
		c1.4,0.33,2.91,0.53,4.46,0.6C15.06,9.02,15.06,15.03,15.06,15.03z M15.06,16.96v5.79c-1.58,0.06-3.11,0.27-4.54,0.61
		c-0.7-1.94-1.1-4.12-1.18-6.4L15.06,16.96L15.06,16.96z M17,16.96h5.72c-0.08,2.28-0.48,4.46-1.18,6.4
		c-1.42-0.34-2.95-0.55-4.54-0.61V16.96z M17,15.03V9.02c1.55-0.06,3.06-0.26,4.46-0.6c0.75,1.99,1.17,4.24,1.26,6.61
		C22.72,15.03,17,15.03,17,15.03z M20.77,6.96C19.58,7.22,18.31,7.38,17,7.44V2.75C18.44,3.5,19.76,4.95,20.77,6.96z M15.06,2.75
		v4.68c-1.31-0.06-2.58-0.22-3.77-0.48C12.3,4.95,13.62,3.5,15.06,2.75z M7.14,5.46c1.47-1.25,3.17-2.17,5-2.71
		c-0.98,0.97-1.86,2.23-2.58,3.75C9.48,6.48,9.39,6.45,9.31,6.42C8.5,6.14,7.78,5.82,7.14,5.46z M6.99,26.41
		c0.65-0.38,1.39-0.73,2.24-1.02c0.08-0.03,0.16-0.06,0.25-0.08c0.74,1.6,1.66,2.94,2.71,3.95C10.28,28.7,8.51,27.74,6.99,26.41z
		 M11.19,24.84c1.22-0.27,2.52-0.44,3.87-0.5v4.9C13.57,28.48,12.22,26.96,11.19,24.84z M17,29.25v-4.9
		c1.35,0.06,2.65,0.23,3.87,0.5C19.84,26.96,18.49,28.48,17,29.25z M19.82,29.26c1.04-1.02,1.96-2.35,2.71-3.95
		c0.08,0.03,0.16,0.05,0.25,0.08c0.84,0.29,1.59,0.64,2.24,1.02C23.49,27.74,21.72,28.7,19.82,29.26z"/>
	<circle class="st0" cx="30.57" cy="16" r="0.93"/>
</g>
</svg>

      </span>
    {% else %}
    <span class="flag flag-{{ country_code }}"></span>
    {%- assign country_code = country_code | upcase -%}
    {% endif %}
    <!-- <img class="flag" src="https://app.transcy.io/flags/{{localization.country.iso_code | downcase}}.svg" /> -->
    <p class="header-country-code">
      {{- country_code -}}
    </p>
  </div>
</div>
