<style>
  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .items-center {
    align-items: center;
  }

  .language-wrapper {
    justify-content: center;
  }

  .header__icons .language-wrapper {
    display: none;
  }

  .menu-drawer__utility-links .language-wrapper {
    padding: 1.2rem 0;
  }

  .header-country-code {
    margin: 0 5px;
    font-size: 16px;
  }
  .flag.flag-glob {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
  }
  @media screen and (min-width: 990px) {
    .header__icons .language-wrapper {
      display: flex;  
    }
  }
</style>

<div id="" class="cursor-pointer flex flex-col language-wrapper">
  <div class="langs rel language-item flex items-center" data-lang="">
    {%- assign country_code = localization.country.iso_code | downcase | escape -%}
    {%- assign language_code = localization.language.iso_code | downcase | escape -%}
    {% if country_code == 'be' %}
      {%- assign country_code = 'Global' -%}
      <span class="flag flag-glob">
        {% render 'lang-select-glob' %}
      </span>
    {% else %}
      {%- if country_code == 'de' -%}
        {% render 'lang-select-flag-de' %}
      {%- else -%}
        <span class="flag flag-{{ country_code }}"></span>
      {%- endif -%}
      {%- assign country_code = country_code | upcase -%}
    {% endif %}
    <!-- <img class="flag" src="https://app.transcy.io/flags/{{localization.country.iso_code | downcase}}.svg" /> -->
    <p class="header-country-code">
      {{- country_code -}}
    </p>
  </div>
</div>
