{{ 'component-loader-7923216.css' | asset_url | stylesheet_tag }}

<div class="loading" id="loader">
    <noscript>You need to enable JavaScript to properly run this app.</noscript>
    <div class="loader__container">
        {% comment %} <div class="loader__content">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div> {% endcomment %}
        <div class="loader__content">
            <p>loading...</p>
            <div class="square__wrapper">
                <span class="square"></span>
            </div>
        </div>
    </div>
</div>