{% comment %}
  Renders loading-spinner.
  Accepts:
    - class: {string} css classes to replace the default ones (optional)

  Usage:
  {% render 'loading-spinner' %}
{% endcomment %}

<div class="{% if class %}{{ class }}{% else %}loading__spinner hidden{% endif %}">
  {{ 'loading-spinner.svg' | inline_asset_content }}
</div>
