{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<div class="loading-overlay hidden">
  <div class="loading-overlay__spinner">
    <svg
      aria-hidden="true"
      focusable="false"
      class="spinner"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</div>
