<style>
  .sticky-atc {
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 5;
    margin: 0 !important;
    border-radius: 0;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    background: rgb(37, 36, 39);
  }

  .sticky-atc:disabled,
  .sticky-atc[aria-disabled='true'] {
    opacity: 1;
  }

  .sticky-atc[data-oos='1'] {
    display: none;
  }

  .sticky-atc .price__container {
    margin-bottom: 0px !important;
    margin-left: 4px !important;
    font-weight: 600;
  }
  .sticky-atc * {
    color: white;
  }

  .sticky-atc.show {
    transform: translateY(0%);
  }

  @media screen and (min-width: 990px) {
    .sticky-atc {
      display: none;
    }
  }
</style>
<button
  class="product-form__submit button button--full-width sticky-atc"
  type="submit"
  {% if product.selected_or_first_available_variant.available == false %}
    data-oos="1"
  {% else %}
    data-oos="0"
  {% endif %}
>
  Add to cart -
  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
</button>
<script>
  let previousScrollPosition = 0;
  let stickyBtn = document.querySelector('.product-form__submit.sticky-atc');
  let chatButton = document.querySelector('#chat-button');

  const isScrollingDown = () => {
    let goingDown = false;
    let scrollPosition = window.pageYOffset;
    if (scrollPosition > previousScrollPosition) {
      goingDown = true;
    }
    previousScrollPosition = scrollPosition;
    return goingDown;
  };

  document.addEventListener('scroll', (e) => {
    if (isScrollingDown() && window.scrollY > 300) {
      stickyBtn.classList.add('show');
      chatButton.classList.add('move-up');
    } else if (!isScrollingDown() && window.scrollY < 300) {
      stickyBtn.classList.remove('show');
      chatButton.classList.remove('move-up');
    }
  });
</script>
