<li>
  {%- if menu != blank -%}
  <a href="{{ menu.url }}" class="header__menu-title header__menu-item link link--text list-menu__item caption-large {% if menu.current %} list-menu__item--active{% endif %}"{% if menu.current %} aria-current="page"{% endif %}>
    <strong>{{ menu.title | escape }}</strong>
  </a>
  <ul class="grandchild-list list-menu motion-reduce">
    {%- for grandchildlink in menu.links-%}
    <li>
      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
        {{ grandchildlink.title | escape }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</li>
