<div style="" class="good2go-mega dropdown__menu header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
  <div class="nav-dropdown__column">
    <ul class="menu-drawer__menu list-menu">
      {% include 'menu_links', menu: link.links[0] %}
    </ul>
  </div>

  <div class="nav-dropdown__column">
    <ul class="menu-drawer__menu list-menu">
      {% include 'menu_links', menu: link.links[1] %}
      {% include 'menu_links', menu: link.links[2] %}
      {% include 'menu_links', menu: link.links[3] %}
      {% include 'menu_links', menu: link.links[4] %}
      {% include 'menu_links', menu: link.links[5] %}
    </ul>
  </div>

  <div class="nav-dropdown__column">
    <ul class="menu-drawer__menu list-menu">
      {% include 'menu_links', menu: link.links[6] %}
      {% include 'menu_links', menu: link.links[7] %}
    </ul>
  </div>

  <div class="nav-dropdown__column">
    <ul class="menu-drawer__menu list-menu">
      {% include 'menu_links', menu: link.links[8] %}
      {% include 'menu_links', menu: link.links[9] %}

    </ul>
  </div>

  <div class="nav-dropdown__column">
    <img src="https://cdn.shopify.com/s/files/1/0062/4374/5910/files/biolite-block.jpg?v=1628790636" style="max-width:100%;height:auto;">
  </div>
</div>
