<div class="no-image">
    {%- liquid
        assign min = 1
        assign max = 6
        assign diff = max | minus: min
        assign random_number = "now" | date: "%N" | modulo: diff | plus: min
    -%}

    {{ 'collection-' | append: random_number | placeholder_svg_tag: 'placeholder-svg' }}
</div>