{% if product != blank %}
  {% capture product_data_attribute %}data-oke-reviews-product-id="shopify-{{ product.id }}"{% endcapture %}
{% endif %}
<div data-oke-reviews-product-listing-rating {{ product_data_attribute }}>
  {{ product.metafields.okendo.ProductListingSnippet }}
</div>
