<div class="tags_optizen_active_all">
  {% for tag in current_tags %}
   {% if current_tags contains tag %}
      <li class="tags_optizen_active">
         {{ tag | link_to_remove_tag: tag }}
        <div class="svg_optizen checkbox-trigger-link">
             {% render 'icon-close-small' %} 
        </div>
      </li>
    {% endif %}
  {% endfor %}
</div>
   
  {% assign optizen_tags_filters = shop.metafields.optizenTagFilters.optizen_tags_filters.value %}
  {% assign teks_collection_tags = collection.all_tags | join: '~~~' | downcase | split: '~~~' %}
 
  <div class="sidebar-wrap_op">
        {%- if optizen_tags_filters[0].filter_1.value   != blank  -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_1.value,   filter_title: optizen_tags_filters[0].filter_1.filter_title,   filter_class: optizen_tags_filters[0].filter_1.filter_class, collection_tags:teks_collection_tags    %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_2.value   != blank  -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_2.value,   filter_title: optizen_tags_filters[0].filter_2.filter_title,   filter_class: optizen_tags_filters[0].filter_2.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_3.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_3.value,   filter_title: optizen_tags_filters[0].filter_3.filter_title,   filter_class: optizen_tags_filters[0].filter_3.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_4.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_4.value,   filter_title: optizen_tags_filters[0].filter_4.filter_title,   filter_class: optizen_tags_filters[0].filter_4.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_5.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_5.value,   filter_title: optizen_tags_filters[0].filter_5.filter_title,   filter_class: optizen_tags_filters[0].filter_5.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_6.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_6.value,   filter_title: optizen_tags_filters[0].filter_6.filter_title,   filter_class: optizen_tags_filters[0].filter_6.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_7.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_7.value,   filter_title: optizen_tags_filters[0].filter_7.filter_title,   filter_class: optizen_tags_filters[0].filter_7.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
        {%- if optizen_tags_filters[0].filter_8.value   != blank -%}{% render "Optizen_sidebar", settings_filters: optizen_tags_filters[0].filter_8.value,   filter_title: optizen_tags_filters[0].filter_8.filter_title,   filter_class: optizen_tags_filters[0].filter_8.filter_class, collection_tags:teks_collection_tags   %}{%- endif -%}
  </div>