{% comment %}
  Renders product variant options

  Accepts:
  - variant: {String} button variant (default | discount | sale).
  - classes: {String} additional style classes.
  - text: {String} additional style classes.


  Usage:
  {% render 'pill',
    variant: 'discount',
  %}
{% endcomment %}

{% comment %}
  convert text to locale settings
{% endcomment %}

{%- liquid
  assign btn_class = 'font-sub py-micro px-small h-normal uppercase rounded-[100px] inline-flex justify-center items-center text-h-xs italic'

  if variant == 'discount'
    assign btn_class = btn_class | append: '  text-deepPurple bg-lime '
  elsif variant == 'sale'
    assign btn_class = btn_class | append: '  text-deepPurple bg-pink'
  else
    assign btn_class = btn_class | append: '  text-teal bg-sky '
  endif
-%}

<button class="{{btn_class}} {{ classes }}">
  {{ text }}
</button>
