{% comment %}
  Renders product variant options

  Accepts:
  - variant: {String} button variant (default | discount | sale).
  - classes: {String} additional style classes.
  - text: {String} additional style classes.


  Usage:
  {% render 'pill',
    variant: 'discount',
  %}
{% endcomment %}

{% comment %}
  convert text to locale settings
{% endcomment %}

{%- liquid
  assign btn_class = 'tw-py-micro tw-px-small tw-h-large tw-uppercase tw-rounded-[100px] tw-inline-flex tw-justify-center tw-items-center tw-text-h-xs'

  if variant == 'discount'
    assign btn_class = btn_class | append: '  tw-text-deepPurple tw-bg-lime '
  elsif variant == 'sale'
    assign btn_class = btn_class | append: '  tw-text-deepPurple tw-bg-pink '
  else
    assign btn_class = btn_class | append: '  tw-text-teal tw-bg-sky '
  endif
-%}

<button class="{{btn_class}} {{ classes }}">
  {{ text }}
</button>
