{% comment %}
  Renders button component.
  Accepts:
  - variant: {String} button variant (sm | lg).
  - disabled: {Boolean} disbled state.
  - onClick: {Function} click function of button.
  - class: {String} additional style classes.

  Usage:
  {% render 'prev', variant: 'lg', %}
{% endcomment %}

{% assign variant = variant | default: 'lg' %}
{% assign class = class | default: '' %}

{% assign btn_classes = 'bg-grey50 rounded-full cursor-pointer hover:grey100 stroke-black disabled:stroke-grey500  flex justify-center items-center' %}

{% if variant == 'sm' %}
  {% assign btn_classes = btn_classes | append: ' w-7 h-7' %}
{% else %}
  {% assign btn_classes = btn_classes | append: ' w-8 h-8' %}
{% endif %}

<button
  class="{{btn_classes }}  {{ class }} "
  {% if disabled %}
    disabled
  {% endif %}
>
  {% comment %} {% render 'icon-chevron-right' %} {% endcomment %}
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="chevron">
    <path id="Vector 2" d="M11 2L5 8L11 14" stroke="inherit"/>
    </g>
  </svg>
</button>
