{% comment %}
  Renders a collection price filter facet

  Accepts:
  - filter : {Object} a price filter on the collection


  Usage: {% render 'price-filter', filter: filter  %}
{% endcomment %}

{% liquid
  assign max_price_cents = filter.range_max

  assign group_size_cents = 10000
  assign num_groups = max_price_cents | divided_by: group_size_cents
  assign remainder = max_price_cents | modulo: group_size_cents
  if remainder > 0
    assign num_groups = num_groups | plus: 1
  endif

  assign price_groups = ''

  assign groups = num_groups | minus: 1
  for i in (0..groups)
    assign min_price_cents = i | times: group_size_cents
    assign up_i = i | plus: 1
    assign group_max_price_cents = up_i | times: group_size_cents
    if group_max_price_cents > max_price_cents
      assign group_max_price_cents = max_price_cents
    endif

    assign price_group = min_price_cents | append: '-' | append: group_max_price_cents

    if forloop.first
      assign price_groups = price_group
    else
      assign price_groups = price_groups | append: ', ' | append: price_group
    endif
  endfor

  assign price_groups = price_groups | split: ', '
%}

<ul
  class="{{ visual_layout_class }} facets__list--vertical list-unstyled"
  role="list"
>
  {%- for group in price_groups -%}
    {% liquid
      assign group_values = group | split: '-'
      assign lower_limit = group_values[0]
      assign upper_limit = group_values[1]

      assign lower_price = lower_limit | money
      assign upper_price = upper_limit | money

      assign label = lower_price | append: ' - ' | append: upper_price

      if forloop.index0 == 0
        assign prefix = 'Under'
        assign label = prefix | append: ' ' | append: upper_price
      endif

      assign filter_name = filter.param_name | split: '.' | last | downcase
      assign input_id = id_prefix | append: filter_name | append: group
      assign name = 'filter.v.price'
    %}

    {% comment %}
      {%- capture label_class -%}
        facets__label facet-checkbox{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}
      {%- endcapture -%}
    {% endcomment %}

    {%- capture text_value -%}
      <span class="facet-checkbox__text leading-[18px]" aria-hidden="true">
        <span class="facet-checkbox__text-label text-body-xs text-black">{{- label | escape }}</span> 
      </span>
    {%- endcapture -%}

    <li class="list-menu__item facets__item py-mini {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
      {% render 'price-select', name: name, value: group, id: input_id, text_value: text_value %}
    </li>
  {%- endfor -%}
</ul>
