{% comment %}
  Renders a collection price filter facet

  Accepts:
  - filter : {Object} a price filter on the collection


  Usage: {% render 'price-filter', filter: filter  %}
{% endcomment %}

{% liquid
  if price_groups == blank
    assign max_price_cents = filter.range_max
    assign min_price_cents = 0

    if max_price_cents < 10000
      assign rounded_max = 10000
      assign price_ranges = min_price_cents | append: '-' | append: rounded_max
    else
      assign rounded_max = max_price_cents | times: 0.0001 | ceil | times: 10000
      assign gap = rounded_max | divided_by: 5 | times: 0.0001 | ceil | times: 10000

      assign price_ranges = ''

      assign current_min = min_price_cents
      assign current_max = gap

      for i in (1..5)
        assign current_max = current_min | plus: gap
        if current_max > rounded_max
          assign current_max = rounded_max
        endif

        assign range = current_min | append: '-' | append: current_max

        if forloop.first
          assign price_ranges = range
        else
          assign price_ranges = price_ranges | append: ',' | append: range
        endif

        assign current_min = current_max
        if current_min >= rounded_max
          break
        endif
      endfor
    endif

    assign price_groups = price_ranges | split: ','
  endif
%}

<ul
  class="{{ visual_layout_class }} facets__list--vertical list-unstyled"
  role="list"
>
  {%- for group in price_groups -%}
    {% liquid
      assign group_values = group | split: '-'
      assign lower_limit = group_values[0]
      assign upper_limit = group_values[1]

      assign lower_price = lower_limit | money
      assign upper_price = upper_limit | money

      assign lower_group_value = lower_limit | divided_by: 100
      assign upper_group_value = upper_limit | divided_by: 100

      assign group_value = lower_group_value | append: '-' | append: upper_group_value
      assign label = lower_price | append: ' - ' | append: upper_price

      if forloop.index0 == 0
        assign prefix = 'Under'
        assign label = prefix | append: ' ' | append: upper_price
      endif

      assign filter_name = filter.param_name | split: '.' | last | downcase
      assign input_id = id_prefix | append: filter_name | append: group
      assign name = 'filter.v.price'
    %}

    {%- capture text_value -%}
      <span class="facet-checkbox__text leading-[18px]" aria-hidden="true">
        <span class="facet-checkbox__text-label text-body-xs text-black">{{- label | escape }}</span> 
      </span>
    {%- endcapture -%}

    <li class="list-menu__item facets__item py-mini {% if forloop.index > show_more_number %} show-more-item hidden{% endif %}">
      {% render 'price-select', name: name, value: group_value, id: input_id, text_value: text_value %}
    </li>
  {%- endfor -%}
</ul>
