{% comment %}
  Renders specifications table for PDP.
  Accepts:
  - product: {Object} product object.

  Usage:
  {% render 'product-specs-table',  %}
{% endcomment %}

{% assign specifications = product.metafields.custom.specs.value %}

{% if specifications %}
  <div>
    <h2 class="text-t-md mb-base">Specifications</h2>

    <table class="border-collapse w-full table-fixed  border-y border-y-grey100">
      <tbody class="block">
        {% for property in specifications -%}
          <tr class="border-b border-b-grey100 flex justify-between w-full">
            <td class="py-7 text-black text-body-sm leading-5 basis-1/2">
              {{ property.key | capitalize -}}
            </td>

            <td class="py-7 text-black text-body-sm leading-5 basis-1/2">
              {% if property.url %}
                <a href="{{ property.url }}" target="_blank" class="underline">{{ property.value }}</a>
              {% else %}
                {{ property.value }}
              {% endif %}
            </td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
