<div class="fwx-canopy-title">
    <span class="fwx-canopy-model"> {{ model }} </span>
    <span class="fwx-canopy-features"> {{ features }} </span>
    <span class="fwx-canopy-size"> {{ size }} </span>
    <span class="fwx-canopy-year"> {{ year }} </span>
</div>