{% if request.host contains 'hndrd.co' %}
  {% assign brand_name = 'Hundred' %}
{% else %}
  {% assign brand_name = 'Studio' %}
{% endif %}

{% capture manufacturer %}
    {% if product.metafields.custom_but_hidden.country.value == 'IN'  %}
        {% if brand_name == 'Hundred' %}
            Sunlight Sports Global Pvt. Ltd.
        {% else %}
            Sunlight Sports Pvt. Ltd.
        {% endif %}
    {% elsif product.metafields.custom_but_hidden.country.value == 'CN' %}
        {% if brand_name == 'Hundred' %}
           Hyaku Sports Pvt. Ltd.
        {% else %}
           Li-Ning (China) Sports Goods Co. Ltd., Beijing, PRC
        {% endif %}
    {% elsif product.metafields.custom_but_hidden.country.value == 'JP' %}
        {% if brand_name == 'Hundred' %}
            Hyaku Sports Pvt. Ltd.
        {% else %}
            Li-Ning (China) Sports Goods Co. Ltd., Beijing, PRC
        {% endif %}
    {% else %}
        Sunlight Sports Global Pvt. Ltd.
    {% endif %}
{% endcapture %}

{% capture importer %}
    {% if product.metafields.custom_but_hidden.country.value == 'IN'  %}
        {% if brand_name == 'Hundred' %}
            Sunlight Sports Global Pvt. Ltd., Warehouse Shed, Chinna Golconda, Hameedulla Nagar Village, Shamshabad Mandal, Ranga Reddi, Telangana, India
        {% else %}
            Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
        {% endif %}
    {% elsif product.metafields.custom_but_hidden.country.value == 'CN' %}
        {% if brand_name == 'Hundred' %}
            Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
        {% else %}
            Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
        {% endif %}
    {% elsif product.metafields.custom_but_hidden.country.value == 'JP' %}
        {% if brand_name == 'Hundred' %}
            Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
        {% else %}
            Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
        {% endif %}
    {% else %}
        Sunlight Sports Pvt. Ltd. Muneshwara Layout, Avalahalli, Old Madras Rd, near K.R. Puram Bengaluru 560049 Karnataka IN
    {% endif %}
{% endcapture %}

<div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
  <p style="text-transform: capitalize; grid-column: span 5/span 5;">Country of Origin</p>
  <p style="grid-column: span 7/span 7;">{{ product.metafields.custom_but_hidden.country.valuev | default: 'IN' }}</p>
</div>

<hr style="margin: 0; background: #e4e4e4">

<div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
  <p style="text-transform: capitalize; grid-column: span 5/span 5;">Manufactured by</p>
  <p style="grid-column: span 7/span 7;">{{ manufacturer }}</p>
</div>

<hr style="margin: 0; background: #e4e4e4">

<div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
  <p style="text-transform: capitalize; grid-column: span 5/span 5;">Imported and Marketed by</p>
  <p style="grid-column: span 7/span 7;">{{ importer }}</p>
</div>
