{% if product.metafields.custom.size > 0 %}
  {% for field in product.metafields.custom %}
    <div style="display: grid; grid-template-columns: repeat(12,minmax(0,1fr))">
      <p style="text-transform: capitalize; grid-column: span 5/span 5;">{{ field[0] | replace: '_', ' ' }}</p>
      <p style="grid-column: span 7/span 7;">{{ field[1] }}</p>
    </div>
    <hr style="margin: 0">
  {% endfor %}
{% endif %}
