{% if option.name == 'Color' or option.name == 'Colour' %}
  {% if option.selected_value %}
    <span data-selected-value>{{ option.selected_value }}</span>
  {% else %}
    <span>{{ option.name }}</span>
  {% endif %}

{% else %}
  <span>{{ option.name }}</span>
{% endif %}
