{% comment %}
    Renders a product card placeholder

    Usage:
    {% render 'product-card-placeholder' %}
{% endcomment %}

<div class="card-wrapper">
  <a class="full-width-link"><span class="visually-hidden">{{ 'onboarding.product_title' | t }}</span></a>

  <div class="card card--text-only card--soft card--product">
    <div class="card__inner">
      <div class="card__content"><h2 class="card__text h3">{{ 'onboarding.product_title' | t }}</h2></div>
    </div>
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
      <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
      {% render 'price' %}
    </div>
  </div>
</div>
