<h2 class="product-count__text text-body">
  <span id="ProductCountDesktop">
    {%- if results.results_count -%}
      {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
    {%- elsif results.products_count == results.all_products_count -%}
      {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
    {%- else -%}
      {{
        'products.facets.product_count'
        | t: product_count: results.products_count, count: results.all_products_count
      }}
    {%- endif -%}
  </span>
</h2>
<div class="loading-overlay__spinner">
  <svg
    aria-hidden="true"
    focusable="false"
    class="spinner"
    viewBox="0 0 66 66"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
  </svg>
</div>
