{% comment %}
  Quick Order Product Row

  Accepts:
  - item: {Object} Variant or Product object
  - image: {Object} Product or Variant image (optional)
  Usage:
  {% render 'quick-order-product-row' %}
{% endcomment %}

<tr
  class="product"
>
  <td class="product-item__inner" colspan="4">
    <div class="product-item__title--wrapper">
      <div class="variant-item__media">
        {%- if image -%}
          <div class="variant-item__image-container gradient global-media-settings">
            {%- assign img_height = 28 | divided_by: image.aspect_ratio | ceil -%}
            {{
              image
              | image_url: width: 56
              | image_tag:
                loading: 'lazy',
                fetchpriority: 'low',
                decoding: 'async',
                class: 'variant-item__image',
                width: 28,
                height: img_height,
                widths: '56',
                alt: image.alt
              | escape
            }}
          </div>
        {%- endif -%}
      </div>
      <a
        href="{{ item.url }}"
        target="_blank"
        class="variant-item__name h4 break"
        aria-describedby="{{ 'accessibility.link_messages.new_window' | t }}"
      >
        {{- item.title | escape -}}
      </a>
    </div>
  </td>
</tr>
