<style>
  dialog {
    z-index: 30;
    border: 2px solid var(--brand-refresh-gray);
    border-radius: 10px;
  }
  .open-quiz-btn {
    text-align: center;
    margin-top: 60px;
  }
  .quiz-modal-all button {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
  #quiz-btn-modal-close {
    margin: 30px;
  }
</style>

<div class="quiz-modal-all">
  <div class="open-quiz-btn text-center">
    <button id="quiz-btn-modal" class="bg-blue brand-white quiz-btn-modal">Take Quiz</button>
  </div>
  <dialog id="quiz-modal" class="text-center quiz-modal">
    <button id="quiz-btn-modal-close" class="bg-blue brand-white quiz-btn-modal-close">Exit Quiz</button>
    <div class="octane-ai-quiz" data-quiz-id="evBeQ7ng7eofSV9o" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div>
    <script src="https://app.octaneai.com/b7ljg36xhef3rewl/quiz.js" async defer></script>
  </dialog>
</div>

<script>
  const $modal = $(".quiz-modal");
  $("#quiz-btn-modal").on('click', () => {
    $modal.get(0).showModal();
  });
  $("#quiz-btn-modal-close").on('click', () => {
    $modal.get(0).close();
  });
</script>