<style>
  .open-quiz-btn {
    text-align: center;
    margin-top: 60px;
  }
  .quiz-modal-all button {
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
</style>

<div class="quiz-modal-all">
  <div class="open-quiz-btn text-center">
    <button id="quiz-btn-hero" class="bg-blue brand-white quiz-btn-modal">Take Quiz</button>
  </div>
</div>

<script>
  $("#quiz-btn-hero").on('click', function(){
    $("#quiz-btn").click();
  });
</script>