<style>
	.additional-checkout-buttons {
		display: none;
		width: 100%;
	}
</style>

{% if additional_checkout_buttons %}
	<div class="additional-checkout-buttons additional-checkout-buttons--vertical">
		{{ content_for_additional_checkout_buttons }}
	</div>
{% endif %}

<script>
	document.addEventListener("rebuy:smartcart.ready", () => {
		Rebuy.libraries.$(".additional-checkout-buttons")
			.appendTo(".rebuy-cart__flyout-actions")
			.show();
	});
</script>