
$(function () {



  const supportedLocales = ["de"];

  const translations = {
    fr: {
      smart_cart: {
        cart_title: "VOTRE PANIER",
        checking_out_label: "Commande en cours...",
        checkout_label: "Passer la commande",
        continue_shopping_label: "Continuer les achats",
        discount_button_label: "Code de réduction ou Carte-cadeau",
        discount_code_label: "Code de réduction ou Carte-cadeau",
        discount_invalid_message: "Code invalide",
        discount_label: "Code de réduction ou Carte-cadeau",
        empty_cart:
          "Oups... Votre panier est vide! 😔 Consultez les articles préférés de nos clients et commencez à ajouter des articles à votre panier.",
        free_shipping_helper: "",
        free_shipping_reached:
          "VOUS AVEZ OBTENU LA <b>LIVRAISON GRATUITE!</b> <i>(Des conditions s'appliquent)</i>",
        free_shipping_remaining: `PLUS QUE <span></span> POUR OBTENIR LA LIVRAISON GRATUITE`,
        notes_label: "Ajouter une note (optionnel)",
        notes_placeholder: "Écrivez votre note ici",
        notes_remaining_characters: "",
        subtotal_plural_text: `articles (<span class='item-count'></span>)`,
        subtotal_singular_text: `article (<span class='item-count'></span>)`,
        view_cart_label: "Voir le panier",
        view_cart_working_label: "Panier en cours...",
      },
    },
    de: {
      smart_cart: {
        cart_title: "IHR KORB",
        checking_out_label: "Ausstehende Bestellung...",
        checkout_label: "Bestellen",
        continue_shopping_label: "Mit dem Einkaufen fortfahren",
        discount_button_label: "Rabattcode oder Geschenkkarte",
        discount_code_label: "Rabattcode oder Geschenkkarte",
        discount_invalid_message: "Code ungültig",
        discount_label: "Rabattcode oder Geschenkkarte",
        empty_cart:
          "Hoppla... Ihr Warenkorb ist leer! 😔 Sehen Sie sich die Lieblingsartikel unserer Kunden an und beginnen Sie, Artikel in Ihren Warenkorb zu legen.",
        free_shipping_helper: "",
        free_shipping_reached:
          "SIE HABEN <b>KOSTENLOSEN VERSAND!</b> <i>(Es gelten die Bedingungen)</i>",
        free_shipping_remaining: `MEHR ALS <span></span>, UM KOSTENLOSEN VERSAND ZU ERHALTEN`,
        notes_label: "Notiz hinzufügen (optional)",
        notes_placeholder: "Schreiben Sie hier Ihre Notiz",
        notes_remaining_characters: "",
        subtotal_plural_text: `Artikel (<span class='item-count'></span>)`,
        subtotal_singular_text: `Artikel (<span class='item-count'></span>)`,
        view_cart_label: "Siehe Warenkorb",
        primary-title:"Adnan Here"
        view_cart_working_label: "Warenkorb in Bearbeitung...",
      },
    },
  };

  const enrichProductJSON = (products) => {
    for (let i = 0; i < products.length; i++) {
      updateProductJSON(products[i]);
    }

    function updateProductJSON(product) {
      currentLocale = "";

      if (
        Shopify &&
        Shopify.locale &&
        supportedLocales.includes(Shopify.locale)
      ) {
        currentLocale = Shopify.locale;

        $.getJSON(
          `/products/${product.handle}.js`,
          function (json) {
            var new_product = json;

            for (var i = 0; i < products.length; i++) {
              if (products[i].id == new_product.id) {
                // Update product title
                product.title = new_product.title;

                for (
                  var j = 0, new_variant;
                  j < new_product.variants.length;
                  j++
                ) {
                  new_variant = new_product.variants[j];

                  for (
                    var x = 0, variant;
                    x < product.variants.length;
                    x++
                  ) {
                    variant = product.variants[x];

                    if (variant.id == new_variant.id) {
                      // Update variant title
                      variant.title = new_variant.title;

                      break;
                    }
                  }
                }

                break;
              }
            }
          }
        );
      }
    }
  };

  const updateSmartCartLanguage = () => {
    currentLocale = "";

    if (
      Shopify &&
      Shopify.locale &&
      supportedLocales.includes(Shopify.locale)
    ) {
      currentLocale = Shopify.locale;
    }

    const translation = translations[currentLocale].smart_cart;

    Object.assign(Rebuy.SmartCart.settings.language, translation);
  };

  const updateWidgetLanguage = (widget) => {
    currentLocale = "";

    if (
      Shopify &&
      Shopify.locale &&
      supportedLocales.includes(Shopify.locale)
    ) {
      currentLocale = Shopify.locale;
    }

    const translation = translations[currentLocale].widget;

    Object.assign(widget.settings.language, translation);

    widget.compileConfig();
  };

  const updateRemainingAmount = () => {
    Rebuy.libraries
      .$(".rebuy-cart__flyout-shipping-bar-message span")
      .html(
        "<b>$ " +
        (
          (Rebuy.SmartCart.settings.free_shipping.minimum -
            Rebuy.SmartCart.cart.total_price) /
          100
        ).toFixed(2) +
        "</b>"
      );

    Rebuy.libraries
      .$(".rebuy-cart__flyout-subtotal-label .item-count")
      .html(Rebuy.Cart.cart.item_count);
  };

  document.addEventListener("rebuy.productsChange", (event) => {
    console.log("rebuy:productsChange");
    enrichProductJSON(event.detail.products);
  });

  // Support Smart Cart open on France Site
  document.addEventListener("rebuy:smartcart.ready", (event) => {
    console.log("rebuy:smartcart.ready");
    updateSmartCartLanguage();
    setTimeout(() => {
      if (Shopify.locale === "en" || Shopify.locale === "de") {
        let cartIcon = Rebuy.libraries.$(".header__icon--cart");
        // since the href on cart icon is '/de/cart', smart cart will not trigger unless we remove the href
        cartIcon.removeAttr("href");
        cartIcon.click(() => {
          Rebuy.SmartCart.show();
        });
      }
      updateRemainingAmount();
    }, 0);
  });

  document.addEventListener("rebuy:cart.change", (event) => {
    console.log("rebuy:cart.change");
    setTimeout(() => {
      updateRemainingAmount();
    }, 0);
  });
});
