{% comment %}
  Renders a product media carousel. Should be used with 'flowbite.min.js'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'related-products-carousel' %}
{% endcomment %}

<div>
  <div
    id="related-products-carousel"
    class="splide"
    aria-label="carousel with thumbnail"
  >
    <div class="relative">
      <div class="splide__arrows">
        <button class="bg-grey50 rounded-full cursor-pointer flex w-8 h-8 py-3 justify-center items-center absolute top-1/2 -translate-y-1/2 z-10 left-small splide__arrow splide__arrow--prev">
          {% comment %} {% render 'icon-chevron-right' %} {% endcomment %}
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="chevron">
            <path id="Vector 2" d="M11 2L5 8L11 14" stroke="#767676"/>
            </g>
          </svg>
        </button>

        <button class="bg-grey50 rounded-full cursor-pointer flex w-8 h-8 py-3 justify-center items-center absolute top-1/2 -translate-y-1/2 z-10 right-small splide__arrow splide__arrow--next">
          {% comment %} {% render 'icon-chevron-right' %} {% endcomment %}
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="chevron">
            <path id="Vector 2" d="M5 14L11 8L5 2" stroke="black"/>
            </g>
          </svg>
        </button>
      </div>

      <div class="splide__track border border-grey100">
        <ul class="splide__list">
          {% for image in product.media %}
            <li class="splide__slide">
              {% render 'product-card', product: produdct %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
