{% comment %}
  Indicator on a product card that it is remote (sold and shipped by a remote vendor)
  TODO: add settings for customizing the text
  Usage:
  {% render 'remote-badge' name: 'Remote Vendor' %}
{% endcomment %}

{%- if product.metafields.custom.remote -%}
  <div class="caption-with-letter-spacing light">
    <p>Shop offer from {{ product.vendor }}</p>
  </div>
{%- endif -%}
