{% assign resellers_block = blocks | where: 'type','reseller' %}

{% unless resellers_block.size == 0 %}
    <a href="#" class="header__icon disabled header__icon--reseller link focus-inset">
        <span class="flag-img"></span>
    </a>
    <noscript class="resellers-data">
        {
            "countries": [
                {% for i in resellers_block %}
                    {
                        "country_iso": "{{ i.settings.country_iso }}",
                        "flag_image":  "{{ i.settings.flag_image | img_url: '50x' }}",
                        "reseller_page": "{{ i.settings.page }}",
                        "country_name": "{{ i.settings.country_name }}"
                    }{% unless forloop.last %},{% endunless %}
                {% endfor %}
            ] 
        }
    </noscript>
{% endunless %}