{% assign s_plus = product.metafields.custom_but_hidden.s_plus_reference.value %}
<section data-splus-reference-ids="{{ s_plus | json | escape }}" id="splus-root"></section>
<div id="splus-script-container"></div>
<script defer="defer">
  console.log('hgjgjhghghjhgghjhjggfhfgjhjhgfjfgfhj');
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('splus-script-container');
    let scriptLoaded = false;
    let scriptLoading = false;

    // Function to load the script
    const loadScript = () => {
      if (scriptLoaded || scriptLoading) return;
      scriptLoading = true;

      const script = document.createElement('script');
      script.src = "{{ 'vx-splus.js' | asset_url }}";
      script.defer = true;
      script.type = 'module';
      script.onload = () => {
        scriptLoaded = true;
        scriptLoading = false;
      };
      script.onerror = () => {
        scriptLoading = false;
        console.error('Failed to load S-Plus options.');
      };
      container.appendChild(script);
    };

    // Use requestIdleCallback if available, otherwise setTimeout
    if ('requestIdleCallback' in window) {
      requestIdleCallback(() => loadScript(), { timeout: 4000 });
    } else {
      setTimeout(loadScript, 2000);
    }
  });
</script>
