{% assign s_plus = product.metafields.custom_but_hidden.s_plus_reference.value %}

<section data-splus-reference-ids="{{ s_plus | json | escape }}" id="splus-root"></section>

<div id="splus-script-container" style="display: none;"></div>

<script>
  console.log('hgjgjhghghjhgghjhjggfhfgjhjhgfjfgfhj');
  let splusLoaded = false;
  window.addEventListener('scroll', function () {
    if (!splusLoaded && window.scrollY > 200) {
      splusLoaded = true;
      const container = document.getElementById('splus-script-container');
      const script = document.createElement('script');
      script.src = "{{ 'vx-splus.js' | asset_url }}";
      script.defer = true;
      script.type = 'module';
      container.appendChild(script);
    }
  });
</script>
