<div class="shippingFeeBox">
  {%- assign total_price = cart.total_price -%}
  {%- assign total_price = total_price | plus: 0 -%}
  {%- assign fee = settings.min_price | times: 100 -%}
  {%- if cart.total_price == 0 -%}
    <p class="shippingFeeBox_text">{{ settings.min_price }}円で送料無料</p>
  {%- else -%}
    {%- if total_price < fee -%}
      <p class="shippingFeeBox_text tw-flex tw-justify-center md:tw-justify-end">あと{{ fee | minus: total_price | money_without_currency }}円で送料無料</p>
    {%- else -%}
      <p class="shippingFeeBox_text">カート内の商品を無料で注文できます</p>
    {%- endif -%}
  {%- endif -%}
</div>
