{{ 'dialog-polyfill.css' | asset_url | stylesheet_tag }}
<script src="{{ 'dialog-polyfill.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'basic-modal.js' | asset_url }}" defer="defer"></script>

<div class="shiseido-connect tw-text-center tw-py-5">
  <a
    href="/pages/shiseido-connect"
    class="shiseido-connect-button tw-inline-block tw-bg-black tw-text-white tw-py-2.5 tw-px-5 tw-no-underline tw-rounded tw-font-bold tw-mb-2.5"
  >SHISEIDO ID連携</a
  >

  <div id="open-modal" class="shiseido-connect-desc tw-cursor-pointer tw-text-sm tw-text-gray-700 tw-underline">
    SHISEIDO メンバーシッププログラム会員との<br class="sm:tw-hidden">
    ID連携について
  </div>

  <basic-modal id="basic-modal">
    <dialog class="tw-w-[800px] tw-max-w-[90%] tw-p-0 tw-border-0 tw-rounded">
      <div class="tw-relative">
        <div class="close-button tw-cursor-pointer tw-absolute tw-top-2 tw-right-2 tw-z-10 tw-text-gray-600 hover:tw-text-gray-900">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="tw-w-6 tw-h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </div>

        <div class="shiseido-connect-modal tw-p-6 md:tw-p-8">
          <h2 class="tw-text-center tw-text-lg sm:tw-text-xl tw-font-bold tw-mb-4">
            SHISEIDO<br>
            メンバーシッププログラム会員との<br>
            ID連携について
          </h2>
          <div class="tw-mb-4 tw-text-left sm:tw-text-center">
            <p class="tw-text-sm tw-leading-relaxed tw-mb-2">
              Perfumerie Sukiya Online Store 会員情報と<br class="tw-hidden sm:tw-inline">
              SHISEIDO メンバーシッププログラム<br class="tw-hidden sm:tw-inline">
              会員IDの情報を連携いただくことで<br class="tw-hidden sm:tw-inline">
              パーソナルなブランド体験をお楽しみいただけます。
            </p>
            <p class="tw-text-sm tw-leading-relaxed">
              SHISEIDOの会員ポイントが Perfumerie Sukiya Online Store での<br class="tw-hidden sm:tw-inline">
              購入で付与されますので、ぜひご登録ください。
            </p>
          </div>
          <div class="tw-text-center tw-mb-4">
            <a
              href="/pages/shiseido-connect"
              class="shiseido-connect-button tw-inline-block tw-bg-black tw-text-white tw-py-2.5 tw-px-5 tw-no-underline tw-rounded tw-font-bold"
            >登録手続きへ進む</a
            >
          </div>
          <div class="tw-text-xs tw-text-gray-600 tw-mb-16">
            <ul class="tw-list-disc tw-pl-0 tw-text-left sm:tw-text-center">
              <li class="tw-mb-1">
                Perfumerie Sukiya Online Store 会員登録および SHISEIDO
                メンバーシッププログラムのどちらも会員登録が必要となります。
              </li>
              <li>
                Perfumerie Sukiya Online Store にログインが必要です。未ログインの場合には、ログイン後に<a
                  href="/collections/shiseido"
                  class="tw-underline hover:tw-no-underline"
                >SHISEIDO ブランドトップ</a
                >
                から「SHISEIDO ID連携」ボタンをクリックしてください。
              </li>
            </ul>
          </div>
          <div class="tw-mb-16">
            <h3 class="tw-text-center tw-text-lg tw-font-bold tw-mb-3">ID連携登録の特典</h3>
            <div class="tw-mb-4">
              <p class="tw-text-sm tw-leading-relaxed tw-text-left sm:tw-text-center">
                SHISEIDOメンバーシッププログラムでは<br class="sm:tw-hidden">
                さまざまな特典をご用意しています。
              </p>
            </div>
            <h4 class="tw-text-center tw-text-md tw-font-semibold tw-mb-3">メンバーシッププログラムの特典例</h4>
            <ul class="shiseido-benefits-list tw-p-0 tw-grid tw-grid-cols-1 sm:tw-grid-cols-3 tw-gap-4 tw-text-center">
              <li class="tw-py-3 tw-px-3 tw-border-solid tw-border-gray-300 tw-border-t tw-border-b sm:border-t sm:border-b sm:border-l sm:border-r sm:tw-rounded tw-flex tw-items-center tw-gap-3 sm:tw-block">
                <img
                  src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/program-01.jpg?v=1743745391"
                  alt="ポイント特典"
                  class="tw-w-[52px] tw-h-auto tw-object-contain sm:tw-mx-auto sm:tw-mb-2 sm:tw-h-20 sm:tw-w-auto"
                  width="96"
                  height="85"
                >
                <p class="tw-text-sm tw-leading-5 tw-text-left sm:tw-text-center">
                  ご購入金額に応じて<br class="tw-hidden sm:tw-inline">
                  オンラインストア等で<br class="tw-hidden sm:tw-inline">
                  使える<strong>ポイントが貯まる</strong>
                </p>
              </li>
              <li class="tw-py-3 tw-px-3 tw-border-solid tw-border-gray-300 tw-border-t tw-border-b sm:border-t sm:border-b sm:border-l sm:border-r sm:tw-rounded tw-flex tw-items-center tw-gap-3 sm:tw-block">
                <img
                  src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/program-02.jpg?v=1743745390"
                  alt="特別な体験へご招待"
                  class="tw-w-[52px] tw-h-auto tw-object-contain sm:tw-mx-auto sm:tw-mb-2 sm:tw-h-20 sm:tw-w-auto"
                  width="52"
                  height="75"
                >
                <p class="tw-text-sm tw-leading-5 tw-text-left sm:tw-text-center">
                  メンバー限定<br class="tw-hidden sm:tw-inline">
                  <span class="tw-font-bold">キャンペーンに参加</span><br class="tw-hidden sm:tw-inline">
                  できる
                </p>
              </li>
              <li class="tw-py-3 tw-px-3 tw-border-solid tw-border-gray-300 tw-border-t tw-border-b sm:border-t sm:border-b sm:border-l sm:border-r sm:tw-rounded tw-flex tw-items-center tw-gap-3 sm:tw-block">
                <img
                  src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/program-03.jpg?v=1743745390"
                  alt="お誕生月に特典"
                  class="tw-w-[52px] tw-h-auto tw-object-contain sm:tw-mx-auto sm:tw-mb-2 sm:tw-h-20 sm:tw-w-auto"
                  width="61"
                  height="88"
                >
                <p class="tw-text-sm tw-leading-5 tw-text-left sm:tw-text-center">
                  年間ご購入金額に応じた<br class="tw-hidden sm:tw-inline">
                  特典を交換できる
                </p>
              </li>
            </ul>
            <h3>肌測定＆Webカウンセリング</h3>
            <div class="block-id-linkage-modal-comment">
              <p>3つの指標であなたの肌状態を測定したり、Webカウンセリングをご利用いただけます。</p>
            </div>
            <div class="block-id-linkage-modal-content-mv tw-flex tw-flex-col tw-justify-center sm:tw-flex-row">
              <img
                src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/counseling-01_2x_c7a9a355-fa8e-4a8d-98fc-795ee1f82f65.jpg?v=1743745391"
                alt="肌測定＆Webカウンセリング"
                width="348"
                height="225"
              >
              <img
                src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/counseling-02_2x_e1d2ce25-b5d6-4fdc-8f86-e28e0695a888.jpg?v=1743745390"
                alt="肌測定＆Webカウンセリング"
                width="293"
                height="226"
              >
            </div>

            <p class="tw-text-xs tw-text-gray-600 tw-mt-3 tw-text-center">※特典の内容は変更になる場合がございます。</p>
          </div>

          <p class="tw-text-sm tw-leading-relaxed tw-text-center tw-mb-4">
            その他にも特典を用意しておりますので、<br>
            ぜひ、会員連携に登録してください！
          </p>

          <div class="tw-text-center">
            <a
              href="/pages/shiseido-connect"
              class="shiseido-connect-button tw-inline-block tw-bg-black tw-text-white tw-py-2.5 tw-px-5 tw-no-underline tw-rounded tw-font-bold"
            >登録手続きへ進む</a
            >
          </div>
          <div class="tw-text-xs tw-text-gray-600 tw-mt-4">
            <ul class="tw-list-disc tw-pl-0">
              <li class="tw-mb-1">
                Perfumerie Sukiya Online Store 会員登録および SHISEIDO
                メンバーシッププログラムのどちらも会員登録が必要となります。
              </li>
              <li>
                Perfumerie Sukiya Online Store にログインが必要です。未ログインの場合には、ログイン後に<a
                  href="/collections/shiseido"
                  class="tw-underline hover:tw-no-underline"
                >SHISEIDO ブランドトップ</a
                >
                から「SHISEIDO ID連携」ボタンをクリックしてください。
              </li>
            </ul>
          </div>
        </div>
      </div>
    </dialog>
  </basic-modal>
</div>

<style>
  .shiseido-connect {
  }
  .shiseido-connect-button {
    transition: background-color 0.3s ease;
  }
  .shiseido-connect-button:hover {
    background-color: #c4000f; /* Darker Shiseido Red */
  }
  .shiseido-connect-desc {
    transition: color 0.3s ease;
  }
  .shiseido-connect-desc:hover {
    color: #e60012; /* Shiseido Red */
  }

  /* Basic modal dialog styles (Dawn theme might handle some of this) */
  dialog {
    /* Ensure it's layered correctly */
    z-index: 100;
  }
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
</style>
