<div class="basket-wb">
  <button>Basket <sup class="pulse">2</sup></button>
</div>

{% stylesheet %}
  .basket-wb {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;
    text-align: right;
    transition: opacity 0.4s;
    display: block;
  }

  .basket-wb.empty {
    opacity: 0;
    display: none;
  }

  .basket-wb button {
    margin: 0;
    padding: 10px;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
    background-image: url(../images/icons/basket.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    transition: opacity 0.3s, background-color 0.3s;
  }

  .basket-wb button sup {
    display: inline-block;
    background: #199776;
    font-size: 18px;
    line-height: 18px;
    padding: 1px 6px 3px 6px;
    border-radius: 20px;
    position: absolute;
    margin-left: 4px;
    min-width: 9px;
    opacity: 1;
    transition: opacity 0.3s;
    top: 48px;
    left: 44px;
  }

  @media only screen and (min-width: 600px) {
    .basket-wb button {
      right: 20px;
      top: 20px;
    }
  }

  .basket-wb button {
    right: calc(50% - 510px);
  }

  @media only screen and (min-width: 1134px) {
    .basket-wb button {
      right: calc(50% - 550px);
    }
  }
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}
