<!-- SP ナビメニュー -->
<div class="sp-only">
  <ul class="tw-bg-gray-900 tw-text-white tw-mb-10">
    <li v-for="(item, index) in decorteCategories" :key="index" class="tw-w-full tw-border-b tw-border-gray-700">
      <a :href="item.href" v-if="!item.children" class="tw-flex tw-justify-between tw-items-center tw-p-4">
        <span v-text="item.text"></span>
        <i class="mdi mdi-chevron-right"></i>
      </a>

      <div v-else>
        <button @click="activeIndex == index ? activeIndex = null : activeIndex = index"
                class="tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4">
          <span v-text="item.text"></span>
          <i :class="activeIndex == index ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></i>
        </button>

        <div v-if="activeIndex == index" class="tw-bg-gray-100 tw-text-black">
          <div v-for="(child, i) in item.children" :key="`child_${i}`"
               class="tw-border-b tw-border-gray-700">
            <a :href="child.href" v-if="!child.children" class="tw-block tw-p-4">
              <span v-text="child.text"></span>
              <i class="mdi mdi-chevron-right"></i>
            </a>

            <div v-else>
              <button @click="activeChildIndex == i ? activeChildIndex = null : activeChildIndex = i"
                      class="tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4">
                <span v-text="child.text"></span>
                <i :class="activeChildIndex == i ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></i>
              </button>

              <div v-if="activeChildIndex == i" class="tw-bg-white tw-grid tw-grid-cols-2">
                <a :href="grandchild.href" v-for="(grandchild, j) in child.children"
                   :key="`grandchild_${j}`" class="tw-block tw-p-4 tw-border tw-border-gray-100">
                  <span v-text="grandchild.text"></span>
                  <i class="mdi mdi-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- SP ナビメニュー end -->
