{% if shop.customer_accounts_enabled %}
	{% assign ssw_fave_enabled = 1 %}
	{% if shop.metafields.ssw['fave_enabled'] %}
		{% assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] | plus: 0 %}
	{% endif %}
	{% if ssw_fave_enabled == 1 %}
		<a class="ssw-link-fave-menu ssw-link-fave-menu-hide-count" href="/pages/wishlist" aria-label="{{ shop.metafields.ssw.lang.my_faves }}"><i class="ssw-icon-heart-o"></i><span class="ssw-counter-fave-menu" style="display:none">0</span></a><script defer>var sswFaveCounterMenuLoaded=true;</script>	{% endif %}
{% endif %}