{% if shop.customer_accounts_enabled %}
  {% assign ssw_fave_enabled = 1 %}
  {% if shop.metafields.ssw['fave_enabled'] %}
    {% assign ssw_fave_enabled = shop.metafields.ssw['fave_enabled'] | plus: 0 %}
  {% endif %}
  {% if ssw_fave_enabled == 1 %}
    {% assign productId = ssw-widget-favebtn %} <div class="ssw-faveappbtn ssw-faveappbtn-hidden-count ssw-faveappbtn-counter ssw-faveappbtn2 ssw-fave-btn ssw-wishlist-element sswfavebtn{{ productId }} ssw-fave-btn-default ssw-not-synch" data-count="..." data-pending="0" data-product-id="{{ productId }}" data-params='{"product_id":"{{ productId }}","event":"fave","page":"product_profile"}'><div class="ssw-fave-btn-content"><i class="ssw-icon-heart-o"></i> {{ 'socialshopwave.fave' | t }}</div><div class="ssw-fave-btn-counter"></div></div> {% endif %}
{% endif %}