{% if shop.metafields.ssw.settings.discount_sign_up_enabled == 1 and shop.metafields.ssw.settings.discount_login == 1 %}<div class="ssw-h3">{{ shop.metafields.ssw.settings.discount_login_title }}</div><div class="ssw-text-center">{{ shop.metafields.ssw.settings.discount_login_description }}</div>
{% else %} <div class="ssw-h3" id="login-title">{{ 'socialshopwave.log_in_to_account' | t }}</div>
{% endif %}