{% if shop.metafields.ssw.settings.discount_sign_up_enabled == 1 and shop.metafields.ssw.settings.discount_sign_up == 1 %} <div class="ssw-h3">{{ shop.metafields.ssw.settings.discount_sign_up_title }}</div><div class="ssw-text-center">{{ shop.metafields.ssw.settings.discount_sign_up_description }}</div>
{% else %} <div class="ssw-h3">{{ 'socialshopwave.create_your_account' | t }}</div>
{% endif %}