{% liquid 
  assign wholeRating = rating | floor
  assign missing_stars = 5 | minus: rating | floor
  assign sum = wholeRating | plus: missing_stars
  if sum != 5
    assign halfStars = 1
  else
    assign halfStars = 0
  endif
%}
{% case type %}
  {% when 'card' %}
    <div class="flex row jc-c ai-c ml-2 mr-3 mb-2 h-16px">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span>
            {%- render 'icon-star', currentColor: "#ffd900" -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        {%- render 'icon-star-half' -%}
      {% endif %}
      {% if missing_stars > 0 %}
        {% for j in (1..missing_stars) %}
          <span>
            {%- render 'icon-star', currentColor: "#dddddd" -%}
          </span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="ff-body fw-400 fs-12px lh-100 mt-0 ta-c">
      ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
      {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
    </div>
  {% when 'berater' %}
    <div class="review-div">
      {% if wholeRating > 0 %}
        {% for i in (1..wholeRating) %}
          <span>
            {%- render 'icon-star', currentColor: "#ffd900" -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        <span>
          {%- render 'icon-star-half' -%}
        </span>
      {% endif %}
      {% if missing_stars > 0 %}
        {% for j in (1..missing_stars) %}
          <span>
            {%- render 'icon-star', currentColor: "#dddddd" -%}
          </span>
        {% endfor %}
      {% endif %}
      <p class="bewertungen">
        ({% if reviewCount > 0 %}{{ reviewCount }} {% else %}0 {% endif %}
        {% if reviewCount == 1 %}Bewertung{% else %}Bewertungen{% endif %})
      </p>
    </div>
  {% when 'review' %}
    <div class="flex pos-rel">
      {% if rating > 0 %}
        {% for i in (1..fullRating) %}
          <span>
            {%- render 'icon-star', currentColor: "#ffd900" -%}
          </span>
        {% endfor %}
      {% endif %}
      {% if halfStars == 1 %}
        {%- render 'icon-star-half' -%}
      {% endif %}
      {% if missingStars > 0 %}
        {% for j in (1..missingStars) %}
          <span>
            {%- render 'icon-star', currentColor: "#dddddd" -%}
          </span>
        {% endfor %}
      {% endif %}
    </div>
{% endcase %}