<div class="store-infomation">
  <div class="page-width">
    <header class="store-infomation-header">
      <h2 class="store-infomation-title">Store Information</h2>
    </header>
    <ul class="store-infomation-items">
      {%- for store in stores -%}
        <li class="store-infomation-item">
          <div>
            <p class="store-infomation-item-name">{{ store.name }}</p>
          </div>
          <div class="store-infomation-item-body">
            <p class="store-infomation-item-description">{{ store.description | newline_to_br }}</p>
            <a href="{{ store.google_map }}" target="_blank" class="store-infomation-item-map">View on Google Maps<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24.703 28.8656H2.41406V7.15234H19.5544V8.27159H3.5333V27.7464H23.5517V12.8445H24.703V28.8656Z" fill="#383030"/>
                <path d="M28.2771 3.61719L29.086 4.4261L16.5824 16.9297L15.7734 16.1208L28.2771 3.61719Z" fill="#383030"/>
                <path d="M29.1545 10.6282L28.0126 10.5612L28.3791 4.32724L22.1452 4.69371L22.0781 3.55183L29.597 3.10938L29.1545 10.6282Z" fill="#383030"/>
              </svg>
            </a>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>