  <div class="swiper-pagination__group">
    <div class="swiper-button swiper-button-prev swiper-prev-button-slider-{{ section.id }}">{% render 'icon-caret' %}</div>
    <div class="swiper-pagination swiper-pagination-slider-{{ section.id }}"></div>
    <div class="swiper-button swiper-button-next swiper-next-button-slider-{{ section.id }}">{% render 'icon-caret' %}</div>
  </div>