
            <article id="{{ comment.id }}" class="article-template__comments-comment">
              {{ comment.content }}
              <footer class="right">
                <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: "date" }}</span>
              </footer>
            </article>
        