{% comment %}
  Tiktok video

  Branded content
  Renders influencer reel for PDP.
  Accepts:
  - video: {Object} tiktok video.
  - class: {String} css classes.

  Usage:
  {% render 'tiktok-vid', video:video  %}
{% endcomment %}

<div class="w-[292px] md:w-[326px] self-stretch aspect-[292_/_520] md:aspect-[326_/_580] shrink-0 rounded-4xl h-auto">
  {{
    video
    | video_tag:
      image_size: '3480x',
      autoplay: true,
      loop: true,
      controls: true,
      muted: true,
      class: 'w-full h-full rounded-4xl h-auto'
  }}
</div>
