{% comment %}
  Renders product title & price information

  Usage:
  {% render 'title-price'%}
{% endcomment %}

{% assign subtext = product.description | default: '' %}
{% assign title = product.title | default: '' %}

<div>
  <div class="flex flex-col gap-small pb-[36px]">
    <h1 class="text-t-md text-black">
      {{ title | escape }}
    </h1>

    <div>
      {% render 'price-b' %}

      <span class="text-body-xs text-grey500 mt-mini">
        {{ subtext }}
      </span>
    </div>
  </div>
</div>
