<li>
  {%- if menu_item != blank -%}
  {%- assign link_title_parts = menu_item.title | split: '-' -%}
    <details-disclosure>
      <details>
        <summary class="header__menu-item list-menu__item link focus-inset">

          <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link_title_parts[0] }}{% if link_title_parts[1] %}<br>{{ link_title_parts[1] }}{%endif%}</span>
          {% render 'icon-caret' %}
        </summary>
      </details>

      {% include sub_menu, link: menu_item %}

    </details-disclosure>

  {%- else -%}
    <strong>
      <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
        <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
      </a>
    </strong>
  {%- endif -%}
</li>
