<div class="two-color-swatches" data-product-form-id="{{ product_form_id }}">
  {% for variant in product.variants %}
    {% assign color_values = variant.option1 | split: '/' %}
    {% assign color1 = color_values[0] %}
    {% assign color2 = color_values[1] | default: color1 %}

    <div
      class="custom-swatch {% if variant.available %} available {% else %} unavailable {% endif %}"
      data-variant-id="{{ variant.id }}"
    >
      <div class="custom-swatch__color1" style="background-color: {{ color1 }};"></div>
      <div class="custom-swatch__color2" style="background-color: {{ color2 }};"></div>
    </div>
  {% endfor %}
</div>

<script>
  const twoColorSwatchesContainer = document.querySelector('.two-color-swatches');
  const productFormId = twoColorSwatchesContainer.dataset.productFormId;
  const productForm = document.querySelector(`form[id="${productFormId}"]`);

  twoColorSwatchesContainer.addEventListener('click', (event) => {
    const targetSwatch = event.target.closest('.custom-swatch.available');
    if (targetSwatch) {
      const selectedVariantId = targetSwatch.dataset.variantId;
      productForm.querySelector('input[name="id"]').value = selectedVariantId;
      productForm.dispatchEvent(new CustomEvent('variant_change'));
    }
  });
</script>
