<div class="two-color-swatches" data-product-form-id="{{ product_form_id }}">
  {% for variant in product.variants %}
    {% assign color_values = variant.option1 | split: '/' %}
    {% assign color1 = color_values[0] %}
    {% assign color2 = color_values[1] | default: color1 %}

    {% render 'swatch-input', id: 'two-color-swatch-' | append: variant.id, type: 'radio', name: 'two-color-swatch', value: variant.id, swatch: color1, swatch_color: color1, product_form_id: product_form_id, checked: variant.available, shape: 'square', color2: color2 %}
  {% endfor %}
</div>

<script>
  const twoColorSwatchesContainer = document.querySelector('.two-color-swatches');
  const productFormId = twoColorSwatchesContainer.dataset.productFormId;
  const productForm = document.querySelector(`form[id="${productFormId}"]`);

  twoColorSwatchesContainer.addEventListener('click', (event) => {
    const targetSwatch = event.target.closest('.swatch-input__input');
    if (targetSwatch) {
      const selectedVariantId = targetSwatch.value;
      productForm.querySelector('input[name="id"]').value = selectedVariantId;
      productForm.dispatchEvent(new CustomEvent('variant_change'));
    }
  });
</script>
