{%- style -%}
.usps {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.usps p {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

@media screen and (max-width: 749px) {
}
{%- endstyle -%}
<div class="usps">
  <p>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.7273C6.86061 22.7273 2.27273 18.1393 2.27273 12.5C2.27273 6.86068 6.86061 2.27273 12.5 2.27273C18.1394 2.27273 22.7273 6.86068 22.7273 12.5C22.7273 18.1393 18.1393 22.7273 12.5 22.7273Z" fill="#6DAB3B"></path>
      <path d="M17.1875 8.08061L10.7592 14.5089L7.81294 11.5626C7.36922 11.1189 6.64968 11.1188 6.20589 11.5625C5.7621 12.0063 5.7621 12.7258 6.20589 13.1695L9.95559 16.9194C10.1687 17.1325 10.4577 17.2523 10.7591 17.2523C10.7592 17.2523 10.7591 17.2523 10.7592 17.2523C11.0605 17.2523 11.3495 17.1325 11.5626 16.9195L18.7945 9.68773C19.2383 9.24394 19.2383 8.52447 18.7945 8.08068C18.3508 7.63689 17.6313 7.63682 17.1875 8.08061Z" fill="#212C28"></path>
    </svg>
    <span>Voor 17:00 besteld = volgende werkdag in huis</span>
  </p>
  <p>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.7273C6.86061 22.7273 2.27273 18.1393 2.27273 12.5C2.27273 6.86068 6.86061 2.27273 12.5 2.27273C18.1394 2.27273 22.7273 6.86068 22.7273 12.5C22.7273 18.1393 18.1393 22.7273 12.5 22.7273Z" fill="#6DAB3B"></path>
      <path d="M17.1875 8.08061L10.7592 14.5089L7.81294 11.5626C7.36922 11.1189 6.64968 11.1188 6.20589 11.5625C5.7621 12.0063 5.7621 12.7258 6.20589 13.1695L9.95559 16.9194C10.1687 17.1325 10.4577 17.2523 10.7591 17.2523C10.7592 17.2523 10.7591 17.2523 10.7592 17.2523C11.0605 17.2523 11.3495 17.1325 11.5626 16.9195L18.7945 9.68773C19.2383 9.24394 19.2383 8.52447 18.7945 8.08068C18.3508 7.63689 17.6313 7.63682 17.1875 8.08061Z" fill="#212C28"></path>
    </svg>
    <span>Gratis verzending vanaf 75 euro</span>
  </p>
  {% comment %} <p>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.7273C6.86061 22.7273 2.27273 18.1393 2.27273 12.5C2.27273 6.86068 6.86061 2.27273 12.5 2.27273C18.1394 2.27273 22.7273 6.86068 22.7273 12.5C22.7273 18.1393 18.1393 22.7273 12.5 22.7273Z" fill="#6DAB3B"></path>
      <path d="M17.1875 8.08061L10.7592 14.5089L7.81294 11.5626C7.36922 11.1189 6.64968 11.1188 6.20589 11.5625C5.7621 12.0063 5.7621 12.7258 6.20589 13.1695L9.95559 16.9194C10.1687 17.1325 10.4577 17.2523 10.7591 17.2523C10.7592 17.2523 10.7591 17.2523 10.7592 17.2523C11.0605 17.2523 11.3495 17.1325 11.5626 16.9195L18.7945 9.68773C19.2383 9.24394 19.2383 8.52447 18.7945 8.08068C18.3508 7.63689 17.6313 7.63682 17.1875 8.08061Z" fill="#212C28"></path>
    </svg>
    <span>USP 3</span>
  </p> {% endcomment %}
</div>
