
<!-- VE Helpful Reviews Widget -->
  <div class="ve-product-helpful-reviews"  data-product-id="{{ product.id }}" data-url="{{ shop.url }}{{ product.url }}">
    <div class="ve-helpful-header--wrap">
      <div class="ve-helpful-center--wrap">
        <div class="ve-helpful-heading--wrap">
          <div class="helpful-review-heading-text">Most Helpful Reviews</div>
        </div>
        <div class="ve-helpful-header-hr"></div>
      </div>
      <div class="ve-helpful-review--wrap" data-product-id="{{ product.id }}">
      </div>
    </div>
   <div class="ve-slider-control--wrap"> <!-- new wasnt there before -->
     <div class="ve-slider-dots" data-slide-index="0"></div>
     <div class="ve-slider-dots" data-slide-index="1"></div>
     <div class="ve-slider-dots" data-slide-index="2"></div>
    </div>
  </div>
