{% comment %}
    Renders video popup element.

    Accepts:
    - video_id: id or direct source(required)
    - video_type: htmlvid, vimeo, youtube(required)
    - video_caption: (optional)

    Usage:
    {% render 'video-popup-7923216', video_id: section.settings.video_id, video_type: section.settings.video_type %}
    
{% endcomment %}

<div class="video-popup"
data-video='{{ video_id }}'
data-type='{{ video_type }}'>
    <div>
        {%render 'icon-play'%}
    </div>
</div>