<div class="wagashi-interest-list-items">
  {%- for interest in interests -%}
    <a href="/pages/interest/{{ interest.system.handle }}" class="wagashi-interest-list-item">
      <img src="{{ interest.thumbnail | img_url: '1032x828' }}" width="516" alt="" class="wagashi-interest-list-item-thumbnail" />
      <div class="wagashi-interest-list-item-body">
        <p class="wagashi-interest-list-item-name">{{ interest.name }}</p>
      </div>
    </a>
  {%- endfor -%}
</div>