{% assign list_count = makers.count %}

<div class="wagashi-maker-list-items count-{{ list_count }}">
  {%- for maker in makers -%}
    <a href="/pages/maker/{{ maker.system.handle }}" class="wagashi-maker-list-item">
      <img src="{{ maker.key_visual | img_url: '1036x1036' }}" width="518" alt="" class="wagashi-maker-list-item-thumbnail" />
      <div class="wagashi-maker-list-item-body">
        <p class="wagashi-maker-list-item-name">{{ maker.name }}</p>
      </div>
    </a>
  {%- endfor -%}
</div>