{% assign list_count = categories.count %}

<div class="wagashi-category-list-items count-{{ list_count }}">
  {% assign first_list_count = 0 %}
  {%- for category in categories -%}
    {% assign first_list_count = first_list_count | plus: 1 %}
    {% if first_list_count > 5 %}
      {% break %}
    {% endif %}
    <a href="/pages/category/{{ category.system.handle }}" class="wagashi-category-list-item">
      <img src="{{ category.thumbnail | img_url: '1032x828' }}" width="516" alt="" class="wagashi-category-list-item-thumbnail" />
      <div class="wagashi-category-list-item-body">
        <p class="wagashi-category-list-item-name">{{ category.name }}</p>
      </div>
    </a>
  {%- endfor -%}
</div>