<div class="wagashi-product-list-items">
  {%- for product in products -%}
    <a href="/pages/wagashipedia/{{ product.system.handle }}" class="wagashi-product-list-item">
      <img src="{{ product.images.value | first | img_url: '1032x828' }}" width="516" alt="" class="wagashi-product-list-item-thumbnail" />
      <div class="wagashi-product-list-item-body">
        <p class="wagashi-product-list-item-name">{{ product.title_en }}</p>
      </div>
    </a>
  {%- endfor -%}
</div>