<wishlist-handler
  data-customer-id="{{ customer.id }}"
  data-variant-reference="gid://shopify/ProductVariant/{{ product.selected_or_first_available_variant.id }}"
>
  {% liquid
    assign wishlist_items = customer.metafields.custom.wishlist.value
    assign wishlist_has_item = false
    for item in wishlist_items
      if item.id == product.selected_or_first_available_variant.id
        assign wishlist_has_item = true
        break
      endif
    endfor
  %}
  <button
    {% if wishlist_has_item %}
      class="hidden"
    {% endif %}
    data-add-to-wishlist
  >
    {% render 'icon-heart' %}
  </button>
  <button
    {% unless wishlist_has_item %}
      class="hidden"
    {% endunless %}
    data-remove-from-wishlist
  >
    {% render 'icon-heart-solid' %}
  </button>
</wishlist-handler>
