{% style %}
@media only screen and (max-width: 960px) {
    .affirm-as-low-as {
        margin-top:-4px
    }
}

.affirm-as-low-as .affirm-modal-trigger {
    color: #eee;
    text-decoration: none;
    cursor: default;
}

.xcp-affirm {
  padding-top: 5px;
  font-size: 24px;
  font-family: "AlrightSans-Light";
  text-align: center;
}
.kit-select__affirm-explanation-message {
  font-size: 10px;
}

.__affirm-logo.__affirm-logo-white.__ligature__affirm_full_logo__:after, .__affirm-logo.__affirm-logo-white.__ligature__affirm_short_logo__:after {
  color: #0FA0EA;
}
{% endstyle %}

<div class="xcp-affirm">
  <div class="affirm-as-low-as xcp-affirm-overview" data-learnmore-show="true" data-page-type="product" data-affirm-color="white" data-amount="{{ product.selected_or_first_available_variant.price  }}"></div>
</div>
