{% style %}
.product-form {
  background: none;
}
.product-form .product-form__buttons {
  width: 100%;
  max-width: none;
}
.shopify-payment-button__button--unbranded {
  background-color: #FFB250;
  color: black;
}
.quantity {
  width: 30%;
  padding: 0 !important;
  margin: 0;
}
.quantity__input {
  text-align: center !important;
  padding: 0 5px 0 5px 0 !important;
  margin: 0;
  width: 2em;
  flex-grow: 0 !important;
}
.quantity__button {
  width: fit-content !important;
}

#clyde-cta {
  max-width: 300px;
}
{% endstyle %}

<div id="clyde-cta"></div>

<script src="{{'clyde_modal_relocation.js' | asset_url }}"></script>
