.disclosures {
    container-type: inline-size;
    --disclosures-icon-height: 1.6rem;
  }

  .disclosures__heading {
    margin-bottom: 2rem;
  }

  .disclosures__details {
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .disclosures__summary {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
  }

  .disclosures__summary::-webkit-details-marker {
    display: none;
  }

  .disclosures__details[open] .disclosures__summary {
    padding-bottom: 0rem;
    padding-bottom: 0.5rem;
  }

  .disclosures__summary-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem 0;
    flex: 1;
    max-width: calc(100% - 3rem);
    word-break: break-word;
  }

  .disclosures-summary-item {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .disclosures-summary-item__open-title {
    display: none;
  }

  .disclosures__details[open] .disclosures-summary-item__title {
    display: none;
  }

  .disclosures__details[open] .disclosures-summary-item__open-title {
    display: inline;
    font-weight: var(--font-body-weight-bold);
  }

  .disclosures-separator {
    padding: 0 1rem;
  }

  .disclosures__icon {
    display: block;
    flex-shrink: 0;
    width: auto;
    height: var(--disclosures-icon-height);
  }

  .disclosures-summary-item .disclosures__icon,
  .disclosures-item__header .disclosures__icon {
    margin-block-start: calc((1em * calc(1 + 0.8 / var(--font-body-scale)) - var(--disclosures-icon-height)) / 2);
  }

  .disclosures__content {
    padding-top: 0;
    padding-bottom: 2rem;
    cursor: pointer;
  }

  .disclosures-item {
    position: relative;
    cursor: auto;
  }

  .disclosures-item::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50rem;
    right: 0;
    cursor: pointer;
  }

  .disclosures-item + .disclosures-item {
    padding-top: 2rem;
  }

  .disclosures-item:last-child {
    padding-bottom: 2rem;
  }

  .disclosures-item__content {
    max-width: 50rem;
    cursor: auto;
  }

  .disclosures-item__content p:first-child {
    margin: 0;
  }

  .disclosures-item__header {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .disclosures-item__header span,
  .disclosures-item__header img {
    margin: 0;
    cursor: auto;
  }

  .disclosures-item__header span {
    font-weight: var(--font-body-weight-bold);
  }

  .disclosures__details[open] .disclosures__summary-content > *:not(:first-child) {
    display: none;
  }

  .disclosures__summary > .icon-caret {
    position: absolute;
    right: auto;
    inset-inline-end: 1.5rem;
    top: calc(50% - 0.75rem);
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    transition: transform 0.2s ease;
  }

  .disclosures__details[open] .disclosures__summary > .icon-caret {
    transform: rotate(180deg);
  }

  @container (max-width: 700px) {
    .disclosures__summary-content {
      flex-direction: column;
      align-items: flex-start;
    }

    .disclosures__summary > .icon-caret {
      top: calc(2rem + (1em * calc(1 + 0.8 / var(--font-body-scale)) - 1.5rem) / 2);
    }

    .disclosures-separator {
      display: none;
    }
  }
