@import url('https://fonts.googleapis.com/css?family=Quicksand');

//breakpoints (max-width)
$breakpoints: (
  'xs': 'screen and (max-width: 345px)',
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

//breakpoints (min-width)
$breakpoint-up: (
  'sm': 'screen and (min-width: 401px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 1001px)',
  'xl': 'screen and (min-width: 1201px)',
) !default;

//font
$notera: 'Notera Personal Use Only', serif;
$sans: Arial, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
$copperplate: copperplate, serif;
$cronos: 'cronos-pro', sans-serif;

//color
$bg-section: #e3e3e3;
$bg-light-gray: #ebebeb;
$bg-gray: #d3d3d3;
$bg-dark: #707070;
$danger: #c12020;
$gold: #d0c258;
$bronze: #c97f63;

:root {
  --swiper-pagination-color: #fff;
}
