@import 'var';
@import "mixin";
@import "components/components";
@import "transition";
@import "top";
@import "itemList";
@import "policy";

.freegifts-main-container .d-flex.price-section {
  display: none;
}

li {
  list-style: none;
}

a {
  &.hide-underline {
    text-decoration: inherit;
  }
}

input, select, textarea {
  border-style: solid;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

video {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.error-message {
  color: $danger;
}

.danger-caption {
  color: $danger;
  font-size: 10px;
}

.danger {
  color: $danger;
}

picture {
  img {
    vertical-align: bottom;
  }
}

@include mq() {
  .pc-only {
    display: none;
  }
}

@include mq-up() {
  .sp-only {
    display: none;
  }
}
