@import "components/cpbBrandPage";
@import "components/cpbStory";

.collection-header {
  .brand-logo {
    color: rgba(231, 231, 231, 0.51);
    padding: 0 25px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    width: calc(100% - 50px);
    position: relative;

    @include mq() {
      padding: 0 15px;
    }

    span {
      @include mq() {
        font-size: 13px;
      }
    }

    img {
      margin: 0 auto;

      @include mq-up() {
        width: 50%;
      }
    }

    .verify-logo {
      width: 100px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      @include mq() {
        width: 60px;
        right: 0;
      }
    }
  }
}

.brand-description {
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 23px 0 40px;
  font-size: 15px;

  @include mq() {
    font-size: 10px;
    margin: 8px 25px 16px;
  }
}

.campaign {
  background-color: #000;
  padding: 40px 0;
  position: relative;

  @include mq() {
    padding: 26px 0;
  }

  .main-campaign {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      vertical-align: bottom;
      height: auto;
    }
  }

  .sub-campaigns {
    align-content: space-between;
    height: 100%;

    @include mq-up() {
      margin-left: 16px;
    }

    @include mq() {
      margin-top: 10px;
    }

    > picture {
      img {
        height: auto;

        @include mq() {
          margin-left: 10px;
          width: 26px;
        }
      }
    }
  }

  .view-all-link {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}

.series-list {
  .scroll_item_inr {
    height: 100%;
  }
}

.counseling-banner {
  margin: 20px;
  text-align: center;
}
