.shopify-policy__container {
  max-width: 800px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: left;

    @include mq() {
      display: block;
      width: 100%;
    }

    @include mq-up() {
      width: auto;
      border: 1px solid #ddd;
      padding: 10px 14px;
    }
  }

  td {
    @include mq() {
      margin-bottom: 16px;
    }
  }
}

.shopify-policy__title {
  margin-bottom: 32px;

  h1 {
    font-size: 1.5em;
  }
}
