@import "components/topMainVisual";

.brand-list {
  background-color: #e3e3e3;
  padding-top: 110px;
  padding-bottom: 150px;

  @include mq() {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .brand-logo {
    border-top: solid 1px #707070;
    border-bottom: solid 1px #707070;
  }
}

.top-main-visual {
  .swiper-container {
    width: 890px;
    height: 550px;

    @include mq() {
      width: 100%;
      height: calc((100vw - 72px) / 2 * 3);
    }
  }
}
