{% # import schema from '../schemas/blocks/featured-collection.js' %}

<div
  class="featured-collection-block"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:names.featured_collection",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:settings.collection"
    }
  ],
  "presets": []
}
{% endschema %}
