<div
  class="flex"
  style="{% render 'flex-style', settings: block.settings %}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .flex {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: var(--horizontal-alignment);
    align-items: var(--vertical-alignment);
    gap: var(--gap);
    flex-wrap: var(--flex-wrap);
  }

  @media screen and (max-width: 749px) {
    .flex {
      flex-direction: var(--flex-direction-mobile);
      gap: var(--gap-mobile);
      flex-wrap: var(--flex-wrap-mobile);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Flex Container",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "content_direction",
      "label": "Content direction",
      "options": [
        {
          "value": "row",
          "label": "Horizontal (Row)"
        },
        {
          "value": "column",
          "label": "Vertical (Column)"
        }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "content_direction_mobile",
      "label": "Mobile content direction",
      "options": [
        {
          "value": "row",
          "label": "Horizontal (Row)"
        },
        {
          "value": "column",
          "label": "Vertical (Column)"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        },
        {
          "value": "space-between",
          "label": "Space between"
        },
        {
          "value": "space-around",
          "label": "Space around"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        },
        {
          "value": "stretch",
          "label": "Stretch"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 60,
      "step": 4,
      "unit": "px",
      "label": "Gap between items",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "flex_wrap",
      "label": "Wrap items",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "flex_wrap_mobile",
      "label": "Wrap items on mobile",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Flex Container"
    }
  ]
}
{% endschema %}
