<div {{ block.shopify_attributes }}>
  {% render 'image',
    image: block.settings.image,
    widths: '320, 375, 640, 750, 960, 1125, 1280, 1440, 1536, 1920, 2250, 2560, 2880, 3840, 640, 750, 1280, 1500, 1920, 2250, 2560, 2880, 3072, 3840, 4500, 5120, 5760, 7680, 960, 1920, 2250, 2880, 3375, 3840, 4320, 4608, 5760, 6750, 7680, 8640, 11520',
    sizes: '(min-width: 1200px) 1200px, 100vw',
    placeholder: true
  %}
</div>

{% schema %}
{
  "name": "Image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}
