<style>
  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  p {
    font-family: var(--font-ltcushion), sans-serif;
    font-size: clamp(10px, 16px, 20px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .about-bakedream {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 200px 10vw;
    background-color: var(--old-lace);
    overflow: hidden;
  }

  .about-content {
    display: flex;
    width: 100%;
    max-width: 1275px;
    justify-content: space-between;
    align-items: center;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 620px;
    text-align: left;

    & h2 {
      font-size: clamp(2.5rem, 3.5vw, 64px);
      color: var(--onyx);
      font-weight: 700;
    }

    & p {
      font-size: clamp(16px, 20px, 24px);
      color: var(--onyx);
      line-height: 1.2;
      max-width: 549px;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 310px;
  }

  .logo-outter {
    width: 100%;
    height: 100%;
    animation: logo-rotation 25s linear infinite;
  }

  .logo-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .flying-cookie {
    position: absolute;
    width: 100%;
    max-width: 310px;
    right: -200px;
    bottom: 50px;

    &:last-child {
      position: absolute;
      width: 100%;
      max-width: 220px;
      left: -100px;
      top: 70px;
    }
  }

  /* ✅ Responsive tweaks */
  @media (max-width: 1280px) {
    .flying-cookie {
      max-width: 240px;
      right: -150px;
      & :last-child {
        max-width: 150px;
        left: -80px;
      }
    }
  }

  @media (max-width: 1024px) {
    .about-content {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 60px;
    }

    .about-text {
      align-items: center;
      text-align: center;
    }

    .about-text h2 {
      font-size: clamp(2rem, 6vw, 3rem);
    }

    .about-text p {
      max-width: 90%;
    }

    .logo-wrapper {
      max-width: 200px;
    }

    .flying-cookie {
      max-width: 260px;
      top: 24%;

      &:last-child {
        top: 30%;
      }
    }
  }

  @media (max-width: 479px) {
    .flying-cookie {
      max-width: 140px;
      right: -70px;
      top: 40%;

      &:last-child {
        max-width: 100px;
        left: -30px;
        top: 45%;
      }
    }
  }

  @keyframes logo-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<section class="about-bakedream">
  <div class="about-content">
    <div class="about-text">
      <h2>
        like NY style, <br>
        Unpredictable
      </h2>
      <p>BakeDream—was born from the desire to bake more than cookies: we bake memories, emotions and experiences.</p>
    </div>
    <div class="logo-wrapper">
      <img src="{{ 'isotipo-outter.png' | asset_url }}" class="logo-outter" alt="Bake Dream Bakery Logo">
      <img src="{{ 'isotipo-inner.png' | asset_url }}" class="logo-inner" alt="Bake Dream Bakery Logo">
    </div>
  </div>
  <img src="{{ 'flying-cookie-right.png' | asset_url }}" class="flying-cookie" alt="Bake Dream Bakery Logo">
  <img src="{{ 'flying-cookie-left.png' | asset_url }}" class="flying-cookie" alt="Bake Dream Bakery Logo">
</section>
<script>
  /* GSAP Animations JS */
  document.addEventListener('DOMContentLoaded', () => {
    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: '.about-bakedream',
        start: 'top 50%',
        toggleActions: 'play reset play reverse',
      },
      defaults: { ease: 'power1.out', duration: 0.7 },
    });

    tl.fromTo('.about-text', { y: 100, opacity: 0 }, { y: 0, opacity: 1 })
      .fromTo('.logo-wrapper', { opacity: 0 }, { opacity: 1 }, '-=0.2')
      .fromTo('.flying-cookie', { x: 50, opacity: 0 }, { x: 0, opacity: 1 }, '-=0.5')
      .fromTo('.flying-cookie:last-child', { x: -50, opacity: 0 }, { x: 0, opacity: 1 }, '-=0.7');
  });
</script>
