<div class="account-container">
    {%- comment -%} Points{%- endcomment -%}
    <div>
        <a href="/pages/reward">View Loyaly Points</a>
    </div>
    {%- comment -%}What are loyalty points and how do they work?{%- endcomment -%}
    <div>
        <h3>What are loyalty points and how do they work?</h3>
        <div>
            <p>
                Loyalty points are our way of saying thank you for your continued custom. For almost 20 years Alakazam
                Magic
                have been the front runner in providing you with the finest magic from around the world. We have built a
                fantastic reputation in the industry and have 1000’s of very loyal customers. Now with our new loyalty
                point
                system you will be rewarded for your continued support by the way of points which can be exchanged for
                FREE
                MAGIC!
            </p>
            <p>
                Beside each item you will see a loyalty point value. The value is usually 1 point for every pound you
                spend although look out for our special promotions which can earn you extra points. Each point is worth
                5p
                when exchanged .(there is no monetary value on points so they can not be exchanged for cash)
            </p>
            <p>
                Whenever you
                place an order you will have a choice either use your points to get a discount on your purchase or if
                you
                can keep saving them up to get FREE MAGIC!!
            </p>
        </div>
    </div>

    {%- comment -%}How to use your points:{%- endcomment -%}
    <div>
        <h3>How to use your points:</h3>
        <div>
            <p>
                You can check your loyalty points balance anytime by logging into your account. You will see your
                available points on your account home page.
            </p>
            <p>
                To use your points just select the item/items you require and continue with the checkout as usual.
                Towards the bottom of the Checkout Step 1 page you will see a
                loyalty points box (next to the box you will see your available loyalty points balance) Enter the amount
                of points you would like to use on this transaction.
            </p>
        </div>
    </div>

    {%- comment -%}Examples:{%- endcomment -%}
    <div>
        <h3>Examples:</h3>
        <div>
            <p>
                1. Your current balance is 1000 loyalty points. You wish to purchase a trick for £10.00. Each loyalty
                point is worth £0.05 so the points you would enter in to the box should not exceed 200 (200 points
                equates to £10 and will allow you the item free of charge).
            <p>
                2. Your current balance is 200 loyalty
                points. You purchase an item for £20.00 now by entering 200 points in to the box you will receive a
                £10.00 discount on your order.
            </p>
        </div>
    </div>

    {%- comment -%}Important:{%- endcomment -%}
    <div>
        <h3>Important:</h3>
        <div>
            <p>
                1. The system will not accept your loyalty point request if the points value you enter is greater than
                the value of the item you wish to purchase. 
            <p>
                2. Loyalty Points cannot be used to pay for postage. 
            </p>
            <p>
                3. Loyalty Points may not be used to buy Gift Cards or Save and Spend Vouchers
            </p>
        </div>
    </div>

</div>