<div >
  <h2>What are you redeeming?</h2>
  
 </div>

 <script>
      const initial_profile = {
         email: '{{ customer.email }}'
  };

  const liquidData = new Map([
    ['initial_profile',  initial_profile]
  ]);
  
 </script>

 <div id="pre-sell_form"></div>


 


 
