{{ 'fireworkx-fitment-centre-content.css' | asset_url | stylesheet_tag }}
{{ 'fireworkx-collection-list.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "AndyCab Fitment RTE",
  "tag": "section",
  "class": "fwx-fitment-centre-content"
}
{% endschema %}