{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
	{% if forloop.first %}
      <div class="announcement-bar topbar-usp-list" data-slide-speed="4000" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
    {% endif %}
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow topbar-usp-item">
          {%- endif -%}
              
              <p class="announcement-bar__message h5 {% if block.settings.link == blank %}topbar-usp-item{% endif %}">
                {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p>
              
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%} 
        {%- endif -%}
        
	{% if forloop.last %}
      </div>
	{% endif %}
  {%- endcase -%}
{%- endfor -%}

{% if section.blocks.length > 1 %}
<style>
  .topbar-usp-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: hidden; }

.topbar-usp-item {
  width: 100%;
  text-align: center;
  transition: .4s ease-out;
  transform: translateY(120%);
  display: block; }

.topbar-usp-item.is-visible {
  transform: translateY(0); }

.topbar-usp-item.is-finished {
  transform: translateY(-120%); }

.topbar-usp-item.is-hidden {
  display: none; }
  

  @media screen and (min-width: 750px) {
    .topbar-usp-list {}
  }
  .announcement-bar__message {
    padding: 7px 2rem;
  }
  
  @media screen and (max-width: 749px) {  
    .announcement-bar__message {
      padding: 14.5px 2rem;
    }
  }
</style>
<script>
  $(".topbar-usp-list").each(function() {
          var t = $(this)
          , e = t.find(".topbar-usp-item")
          , n = e.length
          , i = t.data("slide-speed");
          e.first().addClass("is-visible"),
            setInterval((function() {
            var i = t.find(".is-visible").index();
            t.find(".is-visible").removeClass("is-visible").addClass("is-finished").next().addClass("is-visible"),
              setTimeout((function() {
              t.find(".is-finished").removeClass("is-finished").addClass("is-hidden")
            }
                         ), 600),
              setTimeout((function() {
              t.find(".is-hidden").removeClass("is-hidden")
            }
                         ), 1200),
              i === n - 1 && e.first().addClass("is-visible")
          }
                        ), i)
        });
</script>
{% else %}
<style>
  .topbar-usp-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: hidden; }

.topbar-usp-item {
  width: 100%;
  text-align: center;
  transition: .4s ease-out;
  display: block; }
  

  @media screen and (min-width: 750px) {
    .topbar-usp-list {}
  }
  .announcement-bar__message {
    padding: 7px 2rem;
  }
  
  @media screen and (max-width: 749px) {  
    .announcement-bar__message {
      padding: 14.5px 2rem;
    }
  }
</style>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
