{%- if section.blocks.first.settings.text != blank -%}
  <div class="bg-sky py-[7px] md:py-[9px] text-center">
    <div class="page-width px-base">
      <div
        role="region"
        aria-label="{{ 'sections.header.announcement' | t }}"
        class="overflow-hidden"
      >
        <p class="text-teal text-h-xs !text-[16px] uppercase animate-announcement-text !leading-[80%] overflow-hidden">
          {{ section.blocks.first.settings.text | escape }}
        </p>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 1,
  "class": "announcement-bar-section",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "text": "WELCOME"
          }
        }
      ]
    }
  ]
}
{% endschema %}
