<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "class": "spaced-section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "label": "t:sections.apps.settings.include_margins.label",
      "default": false
    }
  ],
  "blocks": [{"type": "@global"}],
  "presets": [{
    "name": "t:sections.apps.presets.name"
  }]
}
{% endschema %}
