{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="article-slider {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}

  <div class="article-slider-wrapper grid page-width slick-carousel">
    {%for block in section.blocks%}
      <div class="grid__item medium-up--one-third small--one-half">
        <a href="{{ block.settings.cta_link }}">
          <div class="article-slider-card">
            <div class="article-slider-img-container">
              <img src="{{block.settings.image | img_url:'master'}}">
            </div>
            <div class="article-slider-text">
              <h5>{{ block.settings.image_title }}</h5>
            </div>
          </div>
        </a>
      </div>
    {%endfor%}
  </div>
</div>

{% javascript %}
  $(".slick-carousel", ".article-slider").slick({
    speed: 1000,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: true,
    swipeToSlide: true,
    centerMode: false,
    arrows: true,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2,
          dots: true

        }
      }, {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          dots: true

        }
      }
    ]
  });
{% endjavascript %}
{% schema %}
  {
    "name": "Article Carousel",
    "max_blocks": 20,
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      }
    ],
    "blocks": [
      {
        "name": "Article",
        "type": "card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "image_title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "image_text",
            "label": "Description"
          }, {
            "type": "url",
            "id": "cta_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Article Slider",
        "category": "Image"
      }
    ]
  }
{% endschema %}
{% stylesheet %}
  .article-slider-wrapper {
    padding-bottom: 50px;
  }
  .article-slider-card {
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
  }
  .article-slider-img-container {
    border: none;
    overflow: hidden;
  }
  .article-slider-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .article-slider-text {
    padding: 20px 0;
  }
  .article-slider-text h5 {
    color: var(--brand-refresh-dark-gray);
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
  }
  .article-slider-text p {
    font-size: 20px;
    font-weight: 200;
    margin: 10px 0;
  }
  .article-slider-card a {
    margin: 0 auto;
  }
  .article-slider-card button {
    background: var(--brand-refresh);
    color: var(--brand-refresh-white);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0.1px var(--brand-refresh-gray);
  }
  .article-slider .slick-dots {
    position: static !important;
  }

  /* MEDIA QUERIES */
  @media(max-width: 750px) {
    .article-slider.contents .page-width {
      padding-left: 30px;
      padding-right: 30px;
    }
    .article-slider-wrapper {
      margin-top: 0;
    }
  }
  @media(max-width: 620px) {}
  @media(max-width: 440px) {
    .article-slider-text h5 {
      font-size: 20px;
      text-align: center;
    }
  }
{% endstylesheet %}