{%- style -%}
  .bd-buyat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 150px 10dvw;
  }

  .bd-buyat__title {
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    color: var(--onyx);
    text-align: center;
  }

  .bd-buyat__description {
    font-size: clamp(12px, 20px, 24px);
    color: var(--onyx);
    text-align: center;
    max-width: 800px;
    margin-bottom: 30px;
  }

  .bd-buyat__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .bd-buyat__item {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 550px;
    overflow: hidden;
    border-radius: 24px;
    transition: transform 0.3s ease;
  }

  .bd-buyat__item:hover,
  .bd-buyat__item:focus {
    transform: scale(1.05);
  }

  .bd-buyat__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    z-index: 1;
  }

  .bd-buyat__item-content {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 2;
    color: var(--snow);
  }

  .bd-buyat__item-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px;
    color: var(--snow);
  }

  .bd-buyat__item-address {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--snow);
  }

  @media (max-width: 1280px) {
    .bd-buyat__container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }
{%- endstyle -%}

<section class="bd-buyat">
  <h2 class="bd-buyat__title">For local deliveries.</h2>
  <p class="bd-buyat__description">We've partnered with CaraotasNYC to bring the BakeDream experience closer to you.</p>
  <div class="bd-buyat__container">
    <a
      href="https://maps.apple.com/place?place-id=I5566AE851A20D2FB&address=162+Irving+Ave%2C+Brooklyn%2C+NY+11237%2C+United+States&coordinate=40.7021405%2C-73.9203677&name=Caraotas+Arepas+%26+Milkshakes&_provider=9902"
      class="bd-buyat__item"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'caraotas.jpg' | asset_url }}"
        alt="Caraotas Brooklyn"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">Caraotas Brooklyn</h4>
        <p class="bd-buyat__item-address">162 Irving Ave, Brooklyn, NY 11237</p>
      </div>
    </a>
    <a
      href="https://maps.apple.com/place?place-id=ICC328EB0E7EA8E&address=92-02+Jamaica+Ave%2C+Woodhaven%2C+NY++11421%2C+United+States&coordinate=40.6931773%2C-73.8530477&name=Caraotas+Arepas+%26+Milkshakes&_provider=9902"
      class="bd-buyat__item"
    >
      <img
        class="bd-buyat__item-image"
        src="{{ 'caraotas-2.jpg' | asset_url }}"
        alt="Caraotas Brooklyn"
        width="480"
        height="550"
      >
      <div class="bd-buyat__item-content">
        <h4 class="bd-buyat__item-title">Caraotas Queens</h4>
        <p class="bd-buyat__item-address">9202 Jamaica Ave, Woodhaven, NY 11421</p>
      </div>
    </a>
  </div>
</section>
