{%- style -%}
  .bd-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 150px 10dvw;
  }

  .bd-experience__title {
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    color: var(--onyx);
    text-align: center;
  }

  .bd-experience__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
  }

  .bd-experience__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(260px, 30vw, 356px);
    gap: 10px;

    & h4 {
      font-size: 24px;
      color: var(--onyx);
      font-weight: 700;
      text-align: center;
    }
    & p {
      text-align: center;
      color: var(--onyx);
      font-size: 20px;
    }
  }

  .bd-experience__feature img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
  }

  /* TABLET */
  @media (max-width: 1024px) {
    .bd-experience__container {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .bd-experience {
      padding: 80px 5dvw;
    }
  }
{%- endstyle -%}

<section class="bd-experience">
  <h2 class="bd-experience__title">A dream experience</h2>
  <div class="bd-experience__container">
    <div class="bd-experience__feature">
      <img src="{{ 'unboxing.webp' | asset_url }}" alt="Bakedream cookie box" width="356" height="446">
      <h4>Unboxing</h4>
      <p>Discover our exclusive range of flavors that you won't find anywhere else.</p>
    </div>
    <div class="bd-experience__feature">
      <img src="{{ 'tasting.webp' | asset_url }}" alt="Taste a bakedream cookie" width="356" height="446">
      <h4>Tasting</h4>
      <p>Discover our exclusive range of flavors that you won't find anywhere else.</p>
    </div>
    <div class="bd-experience__feature">
      <img src="{{ 'dreaming.webp' | asset_url }}" alt="Bakedream cookies " width="356" height="446">
      <h4>Beyond the Cookie</h4>
      <p>Discover our exclusive range of flavors that you won't find anywhere else.</p>
    </div>
  </div>
</section>
