{%- style -%}
  .bd-features {
    width: 100dvw;
    height: 100%;
    padding: 150px 10dvw 150px 10dvw;
    margin-bottom: 50px;
  }

  .bd-features__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bd-features__feature {
    width: 100%;
    height: 100%;
    max-width: 185px;
    max-height: 185px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 1280px) {
    .bd-features__container {
      align-items: center;
      justify-content: center;
      gap: 80px;
      flex-wrap: wrap;
    }
  }
{%- endstyle -%}

<section class="bd-features">
  <div class="bd-features__container">
    <img
      src="{{ 'thick-cookies.svg' | asset_url }}"
      alt="Thick Cookies"
      class="bd-features__feature"
      width="185"
      height="185"
      loading="lazy"
    >
    <img
      src="{{ 'baked-fresh.svg' | asset_url }}"
      alt="Baked Fresh"
      class="bd-features__feature"
      width="185"
      height="185"
      loading="lazy"
    >
    <img
      src="{{ 'handcrafted.svg' | asset_url }}"
      alt="Handcrafted"
      class="bd-features__feature"
      width="185"
      height="185"
      loading="lazy"
    >
    <img
      src="{{ 'delivery-avail.svg' | asset_url }}"
      alt="Nationwide Shipping Available"
      class="bd-features__feature"
      width="185"
      height="185"
      loading="lazy"
    >
  </div>
</section>
