{%- style -%}
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-ltcushion), sans-serif;
    background-color: var(--old-lace);
  }

  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  p {
    font-family: var(--font-ltcushion), sans-serif;
    font-size: clamp(12px, 16px, 20px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .bdabout {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 80px;
    gap: 100px;
    padding: 150px 10dvw;
  }

  .bdabout img {
    border-radius: 24px;
  }

  .bakedream-details {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    font-family: 'Unbounded', sans-serif;
    color: var(--onyx);
  }

  .bakedream-details summary {
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 24px;
    border-bottom: 1px solid var(--onyx);
  }

  .bakedream-details[open] summary {
    margin-bottom: 20px;
  }

  .bakedream-details[open] summary::after {
    content: '−';
  }

  .bakedream-details summary::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 20px;
    top: 0;
  }

  .bakedream-details p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }

  .bdabout__title {
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: 700;
    color: var(--onyx);
    text-align: left;
  }

  .bdabout__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media (max-width: 1280px) {
    .bdabout {
      gap: 50px;
    }
  }

  @media (max-width: 768px) {
    .bdabout {
      align-items: center;
      flex-direction: column;
      gap: 50px;
      margin-top: 30px;
    }

    .bdabout img {
      width: 100%;
      height: auto;
      order: 2;
    }
    .bdabout__container {
      order: 1;
    }
  }
{%- endstyle -%}

<section class="bdabout">
  <img src="{{ 'maria-bakedream.webp' | asset_url }}" alt="Maria BakeDream Founder" width="450" height="750">
  <div class="bdabout__container">
    <h3 class="bdabout__title"><u>About</u></h3>
    <details class="bakedream-details" open>
      <summary>Who’s behind BakeDream?</summary>
      <p><strong>María</strong>, a 23-year-old Venezuelan, is the heart behind BakeDream.</p>
      <p>
        Inspired by her mother, an international chef, she discovered her passion for baking at a young age. Today, she
        leads BakeDream with purpose, turning personal resilience into a brand that delivers homemade joy across all 50
        U.S. states.
      </p>
    </details>
    <details class="bakedream-details" open>
      <summary>Where's BakeDream located?</summary>
      <p>
        While BakeDream is an online brand shipping nationwide, you can also find our cookies in person at CaraotasNYC —
        thanks to a special partnership with the Venezuelan restaurant in New York City.
      </p>
      <p>For local orders in New York, BakeDream is also available for delivery through DoorDash.</p>
    </details>
    <details class="bakedream-details" open>
      <summary>Why did BakeDream begin?</summary>
      <p>
        BakeDream was born from a moment of uncertainty and the courage to start over. After facing challenges in her
        life, María returned to the thing that always brought her comfort—baking.
      </p>
      <p>
        What began as a small idea became a mission to spread joy through flavor, warmth, and tradition in every cookie.
      </p>
    </details>
    <details class="bakedream-details" open>
      <summary>What’s inside every cookie?</summary>
      <p>
        A handmade story of love, resilience, and bold flavor. Each bite is crafted with premium ingredients, Venezuelan
        soul, and the dream of building something bigger — one cookie at a time.
      </p>
    </details>
  </div>
</section>
