<script>
  {% comment %}console.log('blogs', {{ blogs | json }}){% endcomment %}
</script>

<div class="blog-list">
  <div class="page-width">
    <header class="wagashi-header-01">
      <h2 class="wagashi-header-01-text">Inspiring Articles</h2>
    </header>
    {% render "blog-list" %}
  </div>
</div>

{% schema %}
  {
    "name": "Blog list",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Blog list",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}