{% comment %} <div class="custom-section custom-section--faq"
    style="background-color: {{section.settings.bg_color}}">
    
    <div class="{% if section.settings.page_width %}page-width{% endif %}">

        {% if section.settings.title != blank or section.settings.subtitle != blank%}
        <div class="custom-section__header center">
            {% unless section.settings.title == blank %}
            <h2>{{ section.settings.title | escape }}</h2>
            {% endunless %}
            {% unless section.settings.subtitle == blank %}
            <p>{{ section.settings.subtitle | escape }}</p>
            {% endunless%}
        </div>
        {% endif %}

    </div>
</div>

{% schema %}
    {
        "name": "🔰 Name",
        "settings": [
            {
                "type": "header",
                "content": "Section Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle",
                "default": "— subtitle —"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color"
            },
            {
                "type": "checkbox",
                "id": "page_width",
                "label": "Enable Max Page Width",
                "default": true
            }
        ],
        "presets":[
            {
                "name": "🔰 Name",
                "category": "Custom Section"
            }  
        ]
    }
{% endschema %} {% endcomment %}
