{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  {% render 'breadcrumb' %}
</div>

{% schema %}
{
  "name": "Breadcrumb",
  "settings": [],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
