{% unless section.blocks.size == 0 %}
  <div
    class="my-8 w-full max-w-[720px] mx-auto flex flex-wrap justify-center gap-micro"
  >
    {% for block in section.blocks %}
      <div class="bg-sky text-teal text-h-md text-center flex justify-center items-center w-[238px] h-[200px]">
        {{ block.settings.content }}
      </div>
    {% endfor %}
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.caption-block.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "blocks": [
    {
      "type": "caption",
      "name": "t:sections.caption-block.blocks.caption.name",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "default": "Caption",
          "label": "t:sections.caption-block.blocks.caption.settings.content.label"
        }
      ],
      "limit": 3
    }
  ],

  "presets": [
    {
      "name": "t:sections.caption-block.presets.name",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "caption"
        }
      ]
    }
  ]
}
{% endschema %}
