<div class="cf-SectionGrid cf-pt-10 cf-pt-md-13 cf-pb-7 cf-pb-md-8 cf-px-5 cf-px-md-0 color-{{ section.settings.color_scheme }}">
 <div class="cf-SectionGrid-Narrow">
  <h2 class="cf-ff-heading cf-fs-30px cf-fs-md-38px cf-lh-32px cf-lh-md-44px cf-fw-400 cf-mb-5 cf-ls-m124">
    {{ section.settings.title | escape }}
  </h2>
  <div class="cf-mb-11">
    {{ section.settings.subline }}
  </div>
  <form id="cf-form">
    <label class="cf-block cf-fs-0 cf-fs-md-1 cf-lh-20px cf-fw-500 cf-mb-3" for="name">
      Name*
    </label>
    <input type="text" name="name" id="name" required class="cf-block cf-noborder cf-bg-f6 cf-w-100p cf-h-50px cf-mb-6 cf-p-5 cf-fs-0 cf-ff-body cf-lh-142 cf-col-33 cf-va-m cf-nooutline">
  </form>
 </div>
</div>

{% schema %}
{
  "name": "Kontaktformular",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Überschrift",
      "default": "wir sind für Sie da!"
    },
    {
      "type": "richtext",
      "id": "subline",
      "label": "Text"
    }
  ],
  "presets": {
    "name": "Kontaktformular",
    "settings": {
      "color_scheme": "background-1",
      "text": "Wir sind für Sie da!"
    }
  }
}
{% endschema %}