{{ 'cookie-banner.css' | asset_url | stylesheet_tag }}

<section class="cookie-banner" style="display: none;">
  {{ settings.cookie_banner_html }}

  <div class="cookie-banner__btn-group">
    <button class="cookie-banner__btn--ok">{{ settings.cookie_banner_button }}</button>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const cookieBanner = document.querySelector('.cookie-banner');
    const cookieBannerOk = document.querySelector('.cookie-banner__btn--ok');

    const setReadCookiePolicy = () => {
      document.cookie = `_inv_read_cookie_policy_at=${(new Date).getTime()}; domain=inventables.com; path=/; max-age=31536000`;
    };

    const didReadCookiePolicy = () => {
      return document.cookie.split(';').some(crumb => crumb.trim().startsWith('_inv_read_cookie_policy_at='));
    };

    const registerShopifyTrackingConsent = () => {
      window.Shopify.loadFeatures(
        [{ name: 'consent-tracking-api', version: '0.1' }],
        error => {
          if (error) { /* noop */ }

          const { marketing, analytics, preferences } = window.Shopify.customerPrivacy.currentVisitorConsent();

          if ([marketing, analytics, preferences].some(signal => signal === '')) {
            window.Shopify.customerPrivacy.setTrackingConsent({
              'analytics': true,
              'marketing': true,
              'preferences': true
            }, () => { /* success */ });
          }
        }
      );
    };

    registerShopifyTrackingConsent();

    cookieBannerOk.addEventListener('click', () => {
      cookieBanner.style.display = 'none';
    });

    if (!didReadCookiePolicy()) {
      setReadCookiePolicy();
      cookieBanner.style.display = 'block';
    }

    {%- if request.design_mode -%}
      {%- if settings.cookie_banner_preview -%}
        cookieBanner.style.display = 'block';
      {%- else -%}
        cookieBanner.style.display = 'none';
      {%- endif %}
    {%- endif -%}
  });
</script>
