<header class="fixed grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 grid-rows-1 px-[20px] md:px-[30px] lg:px-[50px] gap-[15px] md:gap-[20px] lg:gap-[40px] w-full h-full">
    <div class="bg-black opacity-70">1</div>
    <div class="bg-black opacity-70">2</div>
    <div class="bg-black opacity-70">3</div>
    <div class="bg-black opacity-70">4</div>
    <div class="bg-black opacity-70">5</div>
    <div class="bg-black opacity-70">6</div>
    <div class="bg-black opacity-70">7</div>
    <div class="bg-black opacity-70">8</div>
</header>