{% style %}
{% endstyle %}
<div class="easel-img-carousel">
  <div class="easel-img-carousel__flex-wrapper">
    <div class="easel-img-carousel__right-side">
      {% for block in section.blocks %}
        {{ block.setting.image | image_url: width: 800 | image_tag: class: 'easel-img-carousel__image', data-index: forloop.index0 }}
      {% endfor %}
    </div>
    <div class="easel-img-carousel__left-side">
      {% for block in section.blocks %}
        <div class="easel-img-carousel__content" data-index="{{ forloop.index0 }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <ol class="easel-img-carousel__indicators">
    {% for block in section.blocks %}
      <li class="easel-img-carousel__indicator" data-index="{{ forloop.index0 }}">
      </li>
    {% endfor %}
  </ol>
</div>
{% schema %}
{
  "name": "Easel Image Carousel",
  "presets": [ { "name": "Easel Image Carousel" } ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub-Title"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom Title"
        }
      ]
    }
  ]
}
{% endschema %}
