<section class="standard">
  <article class="hang-right">
    <h3>{{ section.settings.title }}</h3>
    <p>
      {{ section.settings.description }}
    </p>
    <ul class="features">
      {% for block in section.blocks %}
        <li>
          <a class=" button-faq" href="{{ block.settings.faq_link }}">{{ block.settings.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>
{% schema %}
{
  "name": "Find - FAQ",
  "presets": [{ "name": "Find - FAQ WB" }],
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "FAQ"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Here are some frequently asked questions."
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Title",
          "default": "What is the meaning of life?"
        },
        {
          "type": "url",
          "id": "faq_link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
    .standard article.hang-right-faq {
      margin-left: calc(100% - 600px);
    }

    ul.features {
      list-style: none;
      padding: 0;
      margin: 0 -20px;
    }

    ul.features li {
      margin-bottom: 10px;
    }

    #product-page .gallery {
      padding: 20px 0;
    }

    #product-page .gallery .item {
      border-radius: 12px;
      overflow: hidden;
    }

    #product-page .gallery .owl-nav button {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      background: white;
      width: 100%;
      transition: opacity 0.3s;
      opacity: 0;
    }

    #product-page .gallery .owl-nav button:hover {
      opacity: 0;
    }

    #product-page .gallery .owl-nav .owl-prev {
      left: -100%;
    }

    #product-page .gallery .owl-nav .owl-next {
      right: -100%;
    }

    .button-faq {
      background-color: rgba(255, 255, 255, 0);
      width: calc(100% - 40px);
      color: #000000;
      border: 1px solid rgba(0, 0, 0, 0.05);

      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
      background: transparent;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      -webkit-appearance: none;
      font-size: 24px;
      line-height: 28px;
      border-radius: 12px;
      display: block;
      padding: 20px;
      transition: background-color 0.3s, border 0.3s;
      font-weight: 700;
      text-decoration: none;
      width: 100%;
      cursor: pointer;
      &:hover {
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
  }
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
