<section class="standard">
  <article class="hang-right">
    <a id="share"></a>
    <h3>
      {{ section.settings.title }}
    </h3>
    <p>
      {{ section.settings.description }}
    </p>
    <p>
      Tag us or use <a href="https://www.instagram.com/explore/tags/myownwhisky/" target="_blank">#myownwhisky</a> or
      <a href="https://twitter.com/search?q=%23whiskyblender&amp;src=typed_query&amp;f=live" target="_blank"
        >#whiskyblender</a
      >
      so we can find it.
    </p>
    <div class="find-image1">
      <img
        height="auto"
        width="auto"
        src="https://www.drewnotweird.com/whiskyblender/images/illustrations/glencairn.svg"
        alt="Up yer bum!"
      >
    </div>
  </article>
  <article>
    <ul class="social-embed">
      <li class="x">
        <a href="https://twitter.com/DG_Referee/status/1380980990689091589" target="_blank"
          ><img src="https://www.drewnotweird.com/whiskyblender/images/social/twitter1.jpeg"
        ></a>
      </li>
      <li class="instagram">
        <a href="https://www.instagram.com/p/Bzg038CnOJX/" target="_blank"
          ><img src="https://www.drewnotweird.com/whiskyblender/images/social/instagram2.jpg"
        ></a>
      </li>
      <li class="facebook">
        <a
          href="https://www.facebook.com/themachar/posts/pfbid07KRCHXJvstmUmmtR2rXbbAvciggDjfPVUiwUNGaeLYbtpjb6Tj2ywJ4c1cnCZipal"
          target="_blank"
          ><img src="https://www.drewnotweird.com/whiskyblender/images/social/facebook1.jpg"
        ></a>
      </li>
    </ul>
  </article>
</section>
{% schema %}
{
  "name": "Find - Sharing",
  "presets": [{ "name": "Find - Sharing WB" }],
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Share Your Blend"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Share your blend with the world. Tag us or use #myownwhisky or #whiskyblender so we can find it."
    }
  ]
}
{% endschema %}
{% stylesheet %}
  ul.social-embed {
    list-style: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
  }

  ul.social-embed li {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: center;
  }

  ul.social-embed li a {
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  ul.social-embed li.instagram a:after {
    background-image: url(../images/icons/instagram-white.svg);
  }

  ul.social-embed li.x a:after {
    background-image: url(../images/icons/x-white.svg);
  }

  ul.social-embed li.facebook a:after {
    background-image: url(../images/icons/facebook-white.svg);
  }

  ul.social-embed li a:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 8px;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 60px;
    height: 60px;
    transition: left 0.2s ease-in-out;
  }

  ul.social-embed li:hover a:after {
    left: 10px;
  }

  ul.social-embed li img {
    width: 100%;
  }
{% endstylesheet %}
