<section class="banding">
  <article class="max">
    <h3>{{ section.settings.title }}</h3>
    <p>{{ section.settings.description }}</p>
    <input type="text" class="input-boxes" placeholder="Your email">
    <p><button>Sign me up</button></p>
  </article>
</section>

{% stylesheet %}
  .newsletter-wb {
    background-color: #eaeaea;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Find - Newsletter",
  "presets": [{ "name": "Find - Newsletter WB" }],
  "tag": "div",
  "class": "newsletter-wb",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Stay in the loop"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "If you let us know your email we can hit you up with discounts and information on new bottles and stuff."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Sign me up"
    }
  ]
}
{% endschema %}
