{{ 'fireworkx-ranges-fibreglass.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <h2> Our Range of Fibreglass Canopies </h2>
  <div class="fwx-canopy-range">
    <div class="fwx-canopy-range-block platinum">
        <div class="fwx-canopy-range-header"> 
          <h3>Platinum Canopy</h3>
          <span class="fwx-canopy-features">Platinum</span>
        </div>
      <ul>
          <li> {% render "icon-check-circle" %} Curved rear window design</li>
          <li> {% render "icon-check-circle" %} Dual locking mechanisms</li>
          <li> {% render "icon-check-circle" %} High-level mounted brake light</li>
          <li> {% render "icon-check-circle" %} Safety glazed & tin-ted sliding windows</li>
          <li> {% render "icon-check-circle" %} Air-flow outlets</li>
          <li> {% render "icon-check-circle" %} Durable roof racks</li>
          <li> {% render "icon-check-circle" %} Body colour-matched UV-resistant paint coatings</li>
      </ul>
    </div>
    <div class="fwx-canopy-range-block roadrunner">
        <div class="fwx-canopy-range-header"> 
          <h3>RoadRunner Canopy</h3>
          <span class="fwx-canopy-features">RoadRunner</span>
      </div>
      <p>Produced to the same high standard Platinum range, te RoadRunner range is built for the highly demanding environment of commercial & fleet sectors</p>
      <ul>
          <li> {% render "icon-check-circle" %} Glazed automative quality glass flush windows</li>
          <li> {% render "icon-check-circle" %} Durable rear door fixtures</li>
          <li> {% render "icon-check-circle" %} Customisable corporate branding</li>
          <li> {% render "icon-check-circle" %} Colour-matching is available </li>
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Our Range",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "Fireworkx Our Range"
    }
  ]
}
{% endschema %}
