{{ 'fireworkx-image-banner.css' | asset_url | stylesheet_tag }}

<div class="fwx-image-banner-section">
  {%- if section.settings.image != blank -%}
    <div class="fwx-image-banner">
      <img
        src="{{ section.settings.image | img_url: '' }}"
        loading="lazy"
        width=""
        height=""
        >
    </div>
  {%- endif -%}
  <div class="page-width fwx-banner-box">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'text' -%}
            <h1>{{ block.settings.text | escape }}</h1>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div class="page-width">
    {% render 'fireworkx-need-help-or-quote' %}
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Image Banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Image Banner",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}