{{ 'fireworkx-image-banner.css' | asset_url | stylesheet_tag }}

<div class="fwx-image-banner-section">
  {%- if section.settings.image != blank -%}
  <div class="fwx-image-banner" style="background-image:url({{ section.settings.image | img_url: '' }})">
    <div class="fwx-image-banner-text">
      <div class="page-width">  
        <h1>{{section.settings.heading}}</h1>
      </div>
    </div>
    <div class="overlay fwx-is-overlay"></div>
  </div>
  {%- endif -%}
  <div class="fwx-image-banner-cta">
    <div class="page-width">
      {% render 'fireworkx-need-help-or-quote' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Image Banner",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Locally manufactured and hand-made canopies made with high-quality internationally recognized components.",
      "label": "Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "presets": [
    {
      "name": "Fireworkx Image Banner"
    }
  ]
}
{% endschema %}