{{ 'fireworkx-about-us-slider.css' | asset_url | stylesheet_tag }}
<div class="page-width">
    <div class="fireworkx-slider-container">
        <div class="fireworkx-about-heading">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.description }}</p>
        </div>
        <div>
            <div class="fwx-about-image-slider">
                <img
                src="{{ section.settings.cover_image | img_url: '' }}"
                loading="lazy"
                width=""
                height=""
                >
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "About us Slider",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "High-quality & Locally manufactured"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description",
      "default": "<p>Enter the text description</p>"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image slider cover"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fireworkx About us Slider",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
