{{ 'fireworkx-how-buying-online.css' | asset_url | stylesheet_tag }}

<section class="page-width how-buying-content-container-bg">
  <div class="how-buying-content-container">
    <h2 class="ga-title section-title">How buying online from us works?</h2>
    <div class="how-buying-image-container">
      <div class="image-stripe-first">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_1.jpg?v=1665666684" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_2.jpg?v=1665666684" loading="lazy">
      </div>
      <div class="image-stripe-second">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_3.jpg?v=1665666685" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_4.jpg?v=1665666684" loading="lazy">
      </div>
      <div class="image-stripe-third">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_5.jpg?v=1665666684" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0578/5393/5787/files/Andy_Cab_-_Process_-_6.jpg?v=1665666684" loading="lazy">
      </div>
    </div>

      <div class="how-buying-links-container">
        <p><H5>Still not sure?</H5>
      <a href="https://andycab.co.za/pages/buyers-process" class="button button--transparent button--small buying-link">Read more</a>
      </div>
    {%- comment -%}
    {%- endcomment -%}
  </div>
</section>