<div class="page-width">
  <div class="fireworkx-fitment-centre-cta">
    <h3> {{ section.settings.textbox }} </h3>
    <p>{{ section.settings.text }}</p>
    <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Fitment center cta",
  "settings": [
    {
      "id": "textbox",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Description",
      "default": "Enter the text description"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    }
  ]
  ,
  "presets": [
    {
      "name": "Fireworkx Fitment center CTA",
      "category": "Call To Action"
    }
  ]
}
{% endschema %}