<div>
    <div>
        <h1> {{ section.settings.text-box }} </h1>
        <div>
        <img
            src="{{ section.settings.image | img_url: '1500px' }}"
            loading="lazy"
            width="300"
            height="200"
            >
        </div>
        <div>
            {% render 'fireworkx-need-help-or-quote' %}
        </div>
    </div>
</div>
  
  {% schema %}
  {
    "name": "Fireworkx Hero",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "hero section Image"
      },
      {
        "type": "select",
        "id": "add_image",
        "options": [
          {
            "value": "hero-with-image",
            "label": "Hero with image"
          },
          {
            "value": "hero-without-image",
            "label": "Hero without image"
          }
        ],
        "label": "Add an image"
      }
    ],
    "presets": [
      {
        "name": "Fireworkx Hero"
      }
    ]
  }
  {% endschema %}
  