{{ 'fireworkx-our-process.css' | asset_url | stylesheet_tag }}

<div class="fwx-our-process-container">
    <div class="page-width">
        <div class="fwx-our-process-inner-container">
            <div class="fwx-our-process-content">
                <h2>Our process </h2>
                <p class="fireworkx-large-text">Our process includes hand sanding the fiberglass surface to an ultra-smooth 
                finish before each canopy is coated in multiple layers of industrial UV-resistant resin, 
                which prevents long-term flaking and discolouration. Additional sealants are applied to 
                completely weatherproof the entire unit.</p>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Fireworkx Our Process",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "Fireworkx Our Process"
    }
  ]
}
{% endschema %}
