{{ 'fireworkx-our-process.css' | asset_url | stylesheet_tag }}

<div class="page-width">
    <div class="fwx-our-process-container">
        <div class="fwx-our-process-cards">
            <div class="fwx-our-process-image">
                <img 
                    src="http://cdn.shopify.com/s/files/1/2418/2975/products/car-side-awning-sand_1024x1024.jpg?v=1600125567"
                    loading="lazy"
                    width=""
                    height="">
            </div>    
            <div class="fwx-our-process-image">
                <img src="http://cdn.shopify.com/s/files/1/2418/2975/products/car-side-awning-sand_1024x1024.jpg?v=1600125567"
                    loading="lazy"
                    width=""
                    height="">
            </div>    
            <div class="fwx-our-process-image">
                <img src="https://www.autoenhance.co.za/wp-content/uploads/2020/10/FORD-2015-DC-EXEC-1024x724.jpg"
                    loading="lazy"
                    width=""
                    height="">
            </div>    
        </div>
        <div class="fwx-our-process-content">
            <h2>Our process </h2>
            <p> Our process includes hand sanding the fiberglass surface to an ultra-smooth 
            finish before each canopy is coated in multiple layers of industrial UV-resistant resin, 
            which prevents long-term flaking and discolouration. Additional sealants are applied to 
            completely weatherproof the entire unit.</p>
        </div>
    </div>
</div>