<script src="https://unpkg.com/swiper/swiper-bundle.min.js"  defer="defer"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

{{ 'fireworkx-quote-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'fireworkx-quote-slider.js' | asset_url }}" defer="defer"></script>


  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Select between New Canopy and Accessories</div>
      {% comment %} OPTION 1  {% endcomment %}
      <div class="swiper-slide">Choose brand and pass all the canopies</div>
      {% comment %} OPTION 2  {% endcomment %}
      <div class="swiper-slide">Choose brand and pass all the canopies</div>
      <div class="swiper-slide">load all products from collections</div>
      <div class="swiper-slide">Get a product in a form </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
