{{ 'fireworkx-why-choose-andycab.css' | asset_url | stylesheet_tag }}
<div class="fwx-wca">
  <div class="page-width">
    <div class="fwx-wca-intro">
      <div class="fwx-wca-intro-text">
        <h2>Why choose AndyCab?</h2>
        <p class="fireworkx-large-text">With over 20 years of experience, our quality workmanship has been refined to ensure our customers receive a superior product that we are proud to put our name on.
        <br/><br/>
        To attest to our pride, we provide a 3 year warranty on the shell and 1 year warranty on any moving parts.
        </p>
        <a href="/pages/warranty" class="button button--secondary">Our Warranty</a>
      </div>
      <div class="fwx-wca-intro-video">
        <div class="fwx-video-container">
          <iframe src="https://www.youtube.com/embed/zIMWnvwU1QI" class="fwx-is-overlay" title="Why Choose AndyCab" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="fwx-wca-columns">
      <div class="fwx-wca-column">
        <span class="fwx-wca-column-icon">{% render 'icon-brush' %}</span>
        <h4>Customised to your lifestyle</h4>
        <p>We can customize your canopy with colour matching, roof reinforcing, blanksides canopies as well as adding a range of accessories for your convenience.</p>
      </div>
      <div class="fwx-wca-column">
        <span class="fwx-wca-column-icon">{% render 'icon-pin' %}</span>
        <h4>Nationwide Availability</h4>
        <p>We have numerous fitments centres situated nationwide for your convenience.</p>
        <a href="/pages/fitment-centres" class="button button--secondary">Find a Fitment Centre</a>
      </div>
      <div class="fwx-wca-column">
        <span class="fwx-wca-column-icon">{% render 'icon-check-circle' %}</span>
        <h4>Committed to Quality</h4>
        <p>Andy Cab is committed to quality and we spare no expense to live up to this promise.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Why AndyCab",
  "tag": "section",
  "class": "spaced-section fwx-no-margin-bottom",
  "presets": [
    {
      "name": "Fireworkx Why AndyCab"
    }
  ]
}
{% endschema %}
