
{{ 'fireworkx-hero.css' | asset_url | stylesheet_tag }}
<div class="fwx-hero no-image standard">
  <div class="fwx-hero-heading">
    <h1> {{ section.settings.text-box }} </h1>
  </div>
  <div class="fwx-hero-section">
    <div class="fwx-hero-snippet fwx-without-snippet">
          {% render 'fireworkx-need-help-or-quote' %}
    </div>
      <img
        src="{{ section.settings.image | img_url: '1500px' }}"
        loading="lazy"
        width="300"
        height="200"
    >
  </div>
</div>
  
  {% schema %}
  {
    "name": "Fireworkx Hero",
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "hero section Image"
      },
      {
        "type": "select",
        "id": "add_image",
        "options": [
          {
            "value": "hero-with-image",
            "label": "Hero with image"
          },
          {
            "value": "hero-without-image",
            "label": "Hero without image"
          }
        ],
        "label": "Add an image"
      }
    ],
    "presets": [
      {
        "name": "Fireworkx Hero"
      }
    ]
  }
  {% endschema %}
  