{{ 'fireworkx-ranges-fibreglass.css' | asset_url | stylesheet_tag }}
<div class="page-width fwx-range-of-fibreglass-canopies">
    <h1> Our Range of Fibreglass Canopies </h1>
  <div class="fwx-range-of-fibreglass-section">
    <div class="fwx-range-of-fibreglass-platinum">
        <div class="fwx-range-of-fibreglass-section-header"> 
            <h2>Platinum Canopy</h2>
            <span>Platinum</span>
        </div>
      <ul>
          <li> {% render "icon-checkmark" %} Curved rear window design</li>
          <li> {% render "icon-checkmark" %} Dual locking mechanisms</li>
          <li> {% render "icon-checkmark" %} High-level mounted brake light</li>
          <li> {% render "icon-checkmark" %} Safety glazed & tin-ted sliding windows</li>
          <li> {% render "icon-checkmark" %} Air-flow outlets</li>
          <li> {% render "icon-checkmark" %} Durable roof racks</li>
          <li> {% render "icon-checkmark" %} Body colour-matched UV-resistant paint coatings</li>
      </ul>
    </div>
    <div class="fwx-range-of-fibreglass-standard">
        <div class="fwx-range-of-fibreglass-section-header"> 
            <h2>Roadrunner Canopy</h2>
            <span>standard</span>
      </div>
      <p>Produced to the same high standard Platinum range, te Roadrunner range is built for the 
    highly demanding environment of commercial & fleet sectors</p>
      <ul>
          <li> {% render "icon-checkmark" %} Glazed automative quality glass flush windows</li>
          <li> {% render "icon-checkmark" %} Durable rear door fixtures</li>
          <li> {% render "icon-checkmark" %} Customisable corporate branding</li>
          <li> {% render "icon-checkmark" %} Colour-matching is available </li>
      </ul>
    </div>
  </div>
</div>