<div id="section-cta">
  <div class="container">
    <h3> {{ section.settings.text-box }} </h3>
    <P>{{ section.settings.text }}</P>
    <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Fitment center cta",
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Description",
      "default": "Enter the text description"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    }
  ]
  ,
  "presets": [
    {
      "name": "Fitment center cta Fireworkx",
      "category": "Call To Action"
    }
  ]
}
{% endschema %}