<footer class="footer">
  {% for block in section.blocks %}  
    {% case block.type %}
  
      {% when 'link' %}  
        <div class="link" {{ block.shopify_attributes }}>   
          {{ block.settings.linktext | link_to: block.settings.linkurl }}
        </div> 
  
      {% when 'custom-text' %}
        <div class="text" {{ block.shopify_attributes }}>{{ block.settings.custom-text-field }}</div>
  
    {% endcase %} 
  {% endfor %}

</footer>  

{% schema %}
{
  "name": "Inventables Footer",
  "max_blocks": 8,
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer Menu"
    }
  ]
}
{% endschema %}
