<div>
    <div>
        <h2>South Africa</h2>
        <div>
            <h3>Western Cape</h3>
            <ul>
                <li>Cape Town</li>
                <li>Malmesbury</li>
                <li>Vrendenburg</li>
                <li>Bredasdorp</li>
                <li>George</li>
                <li>Paarl - Trackitude</li>
            </ul>
        </div>
        <div>
            <h3>Gauteng</h3>
            <ul>
                <li>Kempton Park</li>
                <li>Pretoria</li>
                <li>Randfontein</li>
                <li>Centurion</li>
            </ul>
        </div>
        <div>
            <h3>Northen Cape</h3>
            <ul>
                <li>Kimberly</li>
                <li>Springbok</li>
            </ul>
        </div>
        <div>
            <h3>Mpumalanga</h3>
            <ul>
                <li>Emalahleni(Witbank)</li>
            </ul>
        </div>
        <div>
            <h3>Eastern Cape</h3>
            <ul>
                <li>Port Elizabeth</li>
                <li>East London</li>
            </ul>
        </div>
        <div>
            <h3>Kwazulu-Natal</h3>
            <ul>
                <li>Pinetown</li>
            </ul>
        </div>
        <div>
            <h3>Free state</h3>
            <ul>
                <li>Bloemfontein</li>
                <li>Welkom</li>
            </ul>
        </div>
        <div>
            <h3>North West</h3>
            <ul>
                <li>Kierksdop</li>
            </ul>
        </div>
    <div>
        <h2>Africa</h2>
        <div>
            <h3>Zimbabwe</h3>
            <ul>
                <li>Harare</li>
                <li>Bulawayo</li>
            </ul>
        </div>
        <div>
            <h3>Namibia</h3>
            <ul>
                <li>Windhoek</li>
            </ul>
        </div>
        <div>
            <h3>Botswana</h3>
            <ul>
                <li>Gaberone</li>
            </ul>
        </div>
        <div>
            <h3>Swaziland</h3>
            <ul>
                <li>Mbabane</li>
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Fireworkx Fitment centres",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "Fireworkx Fitment centres"
    }
  ]
}
{% endschema %}