{% if section.settings.enable %}
{% for block in section.blocks %}
  <div class="globo_widget globo_widget_{{block.settings.widget}}"></div>
{% endfor %}
{% endif %}

{% schema %}
  {
    "name": "Products Widgets",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "Widget",
        "settings": [
          {
             "type": "select",
             "id": "widget",
             "options": [{"value":"","label":"Create app widget first"}],
             "label": "Choose widget"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "Products Widgets",
        "category": "Products"
      }
    ]
  }
{% endschema %}
