{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap-rtl.css' | asset_url | stylesheet_tag }}
{%style%}
.page-cover {
background-position: center center;
		background-repeat: no-repeat;
		height: auto;
		background-size: cover;
		min-height: 500px;
	  padding-top: 80px;
	  padding-bottom: 80px;
	 box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
margin-bottom: 40px;
	}

	@media (max-width: 750px) { 
	.page-cover {
	padding-top: 40px!important;
	  padding-bottom: 40px!important;
	}
	}

.page-cover h1 {
color: white;
}
{%endstyle%}
<div class="page-cover vendor-cover d-flex h-100 flex-column justify-content-center align-items-center align-middle" style="background-image: url('https://cdn.shopify.com/s/files/1/2071/7563/files/canyon-g2df1044ec_1920.jpg?v=1648114729');">
  <h1>Green Policy</h1>
</div>
<div class="page-width">
<div class="row gx-5">
  <div class="col-md-3">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
   <div class="col-md-3">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
</div>
  </div>