{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap-rtl.css' | asset_url | stylesheet_tag }}
<div class="page-width">
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
</div>
  </div>