{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap-rtl.css' | asset_url | stylesheet_tag }}
{%style%}
.page-cover {
background-position: center center;
		background-repeat: no-repeat;
		height: auto;
		background-size: cover;
		min-height: 500px;
	  padding-top: 80px;
	  padding-bottom: 80px;
	 box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
margin-bottom: 40px;
	}

	@media (max-width: 750px) { 
	.page-cover {

min-height: 0;
	}
	}

.page-cover h1 {
color: white;
}
{%endstyle%}
<div class="page-cover vendor-cover d-flex h-100 flex-column justify-content-center align-items-center align-middle" style="background-image: url('https://cdn.shopify.com/s/files/1/2071/7563/files/canyon-g2df1044ec_1920.jpg?v=1648114729');">
  <h1>Green Policy</h1>
</div>
<div class="page-width">
<div class="row gx-5">
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>

</div>
  </div>