{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap-rtl.css' | asset_url | stylesheet_tag }}
{%style%}
.page-cover {
background-position: center center;
		background-repeat: no-repeat;
		height: auto;
		background-size: cover;
		min-height: 500px;
	  padding-top: 80px;
	  padding-bottom: 80px;
	 box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
margin-bottom: 40px;
	}

	@media (max-width: 750px) { 
	.page-cover {

min-height: 0;
	}
	}

  @keyframes border-flicker {
  0% {
    opacity:0.1;
 
  }
  2% {
    opacity:1;

  }
  4% {
    opacity:0.1;
   
  }
  
  8% {
    opacity:1;
 
  }
  70% {
    opacity:0.7;
   
  }
  100% {
    opacity:1;
    
  }
}




  .logo {
  animation: border-flicker 2s linear infinite;
display: block;
  margin-right: auto;
  width: auto;
  height: 400px;
  margin-left: auto;
  }

@media (max-width: 750px) {
.logo {
 
  margin-right: auto;
  width: auto;
  height: 200px;
  margin-left: auto;
  
  }
}

.countdown > *, .countdown .h1 {
color: white!important;
}

.countdown {
margin-left: auto;
margin-right: auto;
width: 250px;
}

@media (max-width: 750px) { 
.countdown {
width: auto;
}
}

.countdown {
font-family: 'Montserrat', sans-serif;
font-weight: 800;
text-transform: uppercase;
}

.countdown .hours, .min, .sec {
display: block;
font-style: italic;
}

{%endstyle%}
<div class="page-cover vendor-cover d-flex h-100 flex-column justify-content-center align-items-center align-middle" style="background-image: url('https://cdn.shopify.com/s/files/1/2071/7563/files/wall-2059909_1280.png?v=1628176442');">
  <img class="logo border-flicker" src="https://cdn.shopify.com/s/files/1/2071/7563/files/hhournew.png?v=1628251481"/>
  <script type="text/javascript">
function countdown(dateEnd) {
  var timer, days, hours, minutes, seconds;
  var current = new Date();

  dateEnd = new Date(dateEnd);
  dateEnd = dateEnd.getTime();

  if ( isNaN(dateEnd) ) {
    return;
  }

  timer = setInterval(calculate, 1000);

  function calculate() {
    var dateStart = new Date();
    var dateStart = new Date(dateStart.getUTCFullYear(),
                             dateStart.getUTCMonth(),
                             dateStart.getUTCDate(),
                             dateStart.getUTCHours(),
                             dateStart.getUTCMinutes(),
                             dateStart.getUTCSeconds());
    var timeRemaining = parseInt((dateEnd - dateStart.getTime()) / 1000)

    if ( timeRemaining >= 0 ) {
      days    = parseInt(timeRemaining / 86400);
      timeRemaining   = (timeRemaining % 86400);
      hours   = parseInt(timeRemaining / 3600);
      timeRemaining   = (timeRemaining % 3600);
      minutes = parseInt(timeRemaining / 60);
      timeRemaining   = (timeRemaining % 60);
      seconds = parseInt(timeRemaining);

     
      document.getElementById("hours").innerHTML   = ("0" + hours).slice(-2);
      document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
      document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
      
    }else if ( timeRemaining < 0 ){
      document.getElementById("sales-banner").style.display = "none";
      document.getElementById("sales-banner").remove();
  
      
    } else {
      return;
    }
    
    
  
  }

  function display(hours, minutes, seconds) {}
}



    countdown('04/24/2022 14:45:00');
</script>
  <div class="countdown mt-3">
  <div class="row justify-content-around">
  <div class="col-4">
    <span id="hours" class="h1"></span>
    <span class="hours">Hrs</span>
    </div>
    <div class="col-4">
      <span id="minutes" class="h1"></span>
      <span class="min">Min</span>
    </div>
    <div class="col-4">
      <span id="seconds" class="h1"></span>
      <span class="sec">Sec</span>
    </div>
  </div>

    
  
</div>
</div>
<div class="page-width">
<div class="row gx-5">
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
  <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2071/7563/files/road-gc48df0ce3_1920.jpg?v=1648118353" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
  </div>

</div>
  
  
   <div class="row">
      <div class="col-md">
        <div class="menu-image h-100 d-flex align-items-start">
          <img src="https://via.placeholder.com/975x678" class="img-fluid" alt="menu image">
        </div>
      </div>

      <div class="col-md">
        <div class="menu-text flex-grow-1 py-4 px-5">
          <h2 class="main-title text-left">Golf Ter</h2>
          <hr class="hr-style-left" />
          <div class="menu-content d-flex justify-content-between">
            <p class="menu-name text-uppercase font-weight-bold">GOlfy</p>
            <p class="menu-price">$200.00</p>
          </div>
  </div>
  
  </div>
  </div>
  
     <div class="row">
      <div class="col-md">
        <div class="menu-image h-100 d-flex align-items-start">
          <img src="https://via.placeholder.com/975x678" class="img-fluid" alt="menu image">
        </div>
      </div>

      <div class="col-md">
        <div class="menu-text flex-grow-1 py-4 px-5">
          <h2 class="main-title text-left">Golf Ter</h2>
          <hr class="hr-style-left" />
          <div class="menu-content d-flex justify-content-between">
            <p class="menu-name text-uppercase font-weight-bold">GOlfy</p>
            <p class="menu-price">$200.00</p>
          </div>
  </div>
  
  </div>
  </div>
</div>