{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div>
  <section class=".inverted-radius">
    <h2>test</h2>
  </section>
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
