<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-ltcushion), sans-serif;
    background-color: var(--old-lace);
  }

  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-unbounded), sans-serif;
    font-weight: normal;
  }

  p {
    font-family: var(--font-ltcushion), sans-serif;
    font-size: clamp(12px, 16px, 20px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .hero {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10dvw 100px 10dvw;
    background-color: var(--old-lace);
    flex-wrap: wrap;
    height: 85dvh;
    width: 100%;
    overflow: hidden;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 10rem;
    flex: 1;
    z-index: 2;
  }

  .hero-subtitle {
    position: relative;
    font-size: clamp(2.5rem, 4.5vw, 64px);
    color: var(--onyx);
    font-weight: 300;
    text-shadow: 2px 0 #fff2e6, -2px 0 #fff2e6, 0 2px #fff2e6, 0 -2px #fff2e6, 1px 1px #fff2e6, -1px -1px #fff2e6,
      1px -1px #fff2e6, -1px 1px #fff2e6;
  }

  .hero-title {
    font-size: clamp(3rem, 6vw, 92px);
    font-weight: 300;
    color: var(--onyx);
    line-height: 1.1;
    text-shadow: 2px 0 #fff2e6, -2px 0 #fff2e6, 0 2px #fff2e6, 0 -2px #fff2e6, 1px 1px #fff2e6, -1px -1px #fff2e6,
      1px -1px #fff2e6, -1px 1px #fff2e6;
  }

  .hero-text {
    font-size: clamp(14px, 20px, 20px);
    color: var(--onyx);
    text-shadow: 2px 0 #fff2e6, -2px 0 #fff2e6, 0 2px #fff2e6, 0 -2px #fff2e6, 1px 1px #fff2e6, -1px -1px #fff2e6,
      1px -1px #fff2e6, -1px 1px #fff2e6;
  }

  .hero-image {
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 700px;
    height: 727px;
    z-index: 1;
  }

  .hero-mask-wrapper {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 1520px;
    height: 1086px;
    opacity: 0.4;
    z-index: 0;

    & img {
      width: 981px;
      height: 785px;
      clip-path: url(#shape);
      -webkit-clip-path: url(#shape);
    }
  }

  .bakedream-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 15px, 20px) clamp(10px, 25px, 30px);
    font-weight: 500;
    text-decoration: none;
    border-radius: 24px;
    gap: 10px;
    border: 3px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
    pointer-events: all;
    cursor: pointer;
  }

  .btn-primary {
    background-color: var(--chocolate-cosmos);
    color: var(--snow);
    transition: transform 0.3s ease;
    border: 3px solid var(--old-lace);
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25), 0px 20px 35px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    color: var(--chocolate-cosmos);
    border: 3px solid var(--chocolate-cosmos);
    background-color: var(--old-lace);
  }

  @media (max-width: 1024px) {
    .hero-mask-wrapper {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    .hero {
      padding: 100px 40px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
        url({{'hero-mobile.webp'|asset_url}}) lightgray 50% / cover no-repeat;
      mask-image: linear-gradient(to top, black 70%, transparent 100%);
      -webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
      & .hero-content {
        gap: 40px;
      }
    }
    .hero img {
      display: none;
    }

    .hero-title {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-description {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-text {
      color: var(--old-lace);
      text-shadow: unset;
    }

    .hero-content {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
</style>

<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      <span class="hero-subtitle">Like NY Style,</span>
      <br>
      <strong>Unpredictable</strong>
    </h1>
    <p class="hero-text">
      Discover our handcrafted cookies—crispy on the outside, soft on the <br>
      inside—made with love in New York.
    </p>
    <a href="{{ routes.all_products_collection_url }}" class="bakedream-btn btn-primary">
      order now <i data-lucide="cookie"></i
    ></a>
  </div>
  <img
    src="{{ 'bd-girl.webp' | asset_url }}"
    alt="BakeDream Official Founder"
    class="hero-image"
    width="800"
    height="800"
    loading="lazy"
    fetchpriority="high"
  >
  <div class="hero-mask-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396 93" width="1546" height="361">
      <defs>
        <clipPath id="shape">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M155.178 506.115C166.44 485.31 178.811 465.19 192.288 445.755C193.658 448.999 194.035 452.261 193.441 455.507C211.601 500.479 227.2 546.561 240.199 593.823C264.418 656.514 308.444 678.162 372.298 658.732C383.218 654.268 392.406 647.486 399.908 638.323C409.202 620.925 419.606 604.213 431.116 588.185C432.485 591.429 432.862 594.692 432.268 597.938C449.359 642.428 465.59 687.422 480.994 732.846C492.952 758.516 507.882 782.266 525.757 804.127C580.841 845.745 631.208 840.746 676.857 789.132C691.758 765.929 706.663 742.729 721.565 719.527C767.325 793.882 806.123 871.579 837.979 952.583C866.723 982.537 899.986 988.883 937.794 971.59C966.503 947.045 975.711 916.739 965.376 880.738C927.812 764.632 871.763 658.074 797.248 561.028C745.721 524.872 695.54 526.934 646.691 567.25C631.516 583.07 616.505 598.621 601.646 613.942C582.833 546.602 555.448 483.083 519.484 423.379C463.395 362.598 407.48 362.849 351.698 424.198C347.835 422.649 344.778 420.112 342.508 416.62C329.122 362.5 303.975 314.676 267.09 273.116C220.756 242.457 175.268 244.23 130.643 278.397C117.693 290.458 105.216 302.928 93.1961 315.845C89.7268 297.393 85.3091 278.94 79.9398 260.482C72.1034 234.557 62.5521 209.323 51.2534 184.852C27.4677 140.404 -9.16959 117.707 -58.6979 116.828C-101.589 128.96 -133.948 154.987 -155.74 194.839C-167.737 149.701 -176.032 104.019 -180.622 57.7941C-191.99 11.2922 -220.731 -6.801 -266.833 3.47653C-286.19 13.2471 -299.419 28.3279 -306.52 48.7188C-306.561 139.887 -294.247 229.51 -269.61 317.66C-256.787 354.279 -233.296 381.473 -199.139 399.24C-134.452 412.869 -88.1883 388.871 -60.3114 327.178C-50.2663 390.319 -31.4428 450.395 -3.8569 507.442C49.0453 560.976 102.052 560.546 155.178 506.115Z" fill="none"/>
        </clipPath>
      </defs>
    </svg>
    <img src="{{ 'hero-mask.webp' | asset_url }}" alt="Chica BakeDream" width="981" height="785" loading="lazy">
  </div>
</section>
<script>
  /* GSAP Animations JS */
  document.addEventListener('DOMContentLoaded', () => {
    gsap.registerPlugin(ScrollTrigger);

    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: '.hero',
        start: 'top 40%',
        toggleActions: 'play reset play reverse',
      },
      defaults: { ease: 'power1.out', duration: 0.7 },
    });

    tl.fromTo('.bakedream-btn', { y: 50, opacity: 0 }, { y: 0, opacity: 1 }, '=0.3').fromTo(
      '.hero-image',
      { x: 50, opacity: 0 },
      { x: 0, opacity: 1 },
      '-=0.5s'
    );

    gsap.utils.toArray('.bd-experience__feature').forEach((el, i) => {
      gsap.from(el, {
        scrollTrigger: {
          trigger: el,
          start: 'top 85%',
        },
        opacity: 0,
        y: 60,
        duration: 1,
        delay: i * 0.1,
        ease: 'power2.out',
      });
    });

    gsap.utils.toArray('.bd-features__feature').forEach((el, i) => {
      gsap.from(el, {
        scrollTrigger: {
          trigger: el,
        },
        opacity: 0,
        duration: 0.5,
        delay: i * 0.3,
        ease: 'power2.in',
      });
    });
  });
</script>
