<style>
  @font-face {
    font-family: 'LTCushion-Light';
    src: url('../assets/LTCushion-Light.ttf');
  }

  :root {
    --font-primary: 'Unbounded', sans-serif;
    --font-secondary: 'LTCushion-Light', sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-secondary);
    background-color: var(--old-lace);
  }

  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  button {
    font-family: var(--font-primary);
    font-weight: normal;
  }

  p {
    font-family: var(--font-secondary);
    font-size: clamp(10px, 14px, 16px);
    color: var(--onyx);
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: clamp(30px, 4vw, 70px) clamp(10px, 155px, 155px);
    background-color: var(--old-lace);
    flex-wrap: wrap;
    height: 90dvh;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    flex: 1;
    margin-bottom: 100px;
  }

  .hero-title {
    display: inline-block;
    position: relative;
    font-size: clamp(2.5rem, 3vw, 48px);
    color: var(--onyx);
    font-weight: 300;
  }

  .hero-description {
    font-size: clamp(4rem, 8vw, 90px);
    font-weight: 300;
    color: var(--onyx);
    line-height: 1.1;
  }

  .hero-text {
    font-size: clamp(14px, 16px, 20px);
    color: var(--onyx);
  }

  .bakedream-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(5px, 10px, 15px) clamp(10px, 20px, 30px);
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid transparent;
    width: fit-content;
    font-size: clamp(12px, 14px, 16px);
  }

  .btn-primary {
    background-color: var(--chocolate-cosmos);
    color: var(--old-lace);
    transition: transform 0.3s ease;
  }

  .btn-primary:hover {
    transform: scale(1.05);
  }

  .hero-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    flex: 1;
    margin-top: clamp(0px, 5vw, 20px);
    margin-bottom: 100px;
    transform: scaleX(-1);
  }

  @media (max-width: 1024px) {
    .hero {
      padding: 100px 40px;
      & .hero-content {
        gap: 40px;
      }
    }
    .hero img {
      display: none;
    }

    .hero-content {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
</style>

<div class="hero">
  <div class="hero-content">
    <h3 class="hero-title">we deliver</h3>
    <h1 class="hero-description">
      your <strong>cookie</strong><br>
      to your <strong>door</strong>.
    </h1>
    <p class="hero-text">
      Discover our handcrafted cookies—crispy on the outside, soft on the <br>
      inside—made with love in New York.
    </p>
    <a href="#order" class="bakedream-btn btn-primary"> order now <i data-lucide="cookie"></i></a>
  </div>
  <img
    src="{{ 'hero-image.png' | asset_url }}"
    alt="hero image"
    class="hero-image"
    loading="lazy"
  >
</div>
<script>
  /* GSAP Animations JS */
  document.addEventListener('DOMContentLoaded', () => {
    const tl = gsap.timeline({ defaults: { ease: 'power1.out', duration: 0.5 } });

    tl.set('.hero-title, .hero-description, .hero-text, .bakedream-btn, .hero-image', {
      opacity: 0,
    });

    tl.fromTo('.hero-title', { y: 100, opacity: 0 }, { y: 0, opacity: 1 })
      .fromTo('.hero-description', { y: 100, opacity: 0 }, { y: 0, opacity: 1 }, '-=0.2')
      .fromTo('.hero-text', { opacity: 0 }, { opacity: 1 }, '-=0.2')
      .fromTo('.bakedream-btn', { y: 20, opacity: 0 }, { y: 0, opacity: 1 }, '-=0.5')
      .fromTo('.hero-image', { y: 100, opacity: 0 }, { y: 0, opacity: 1 }, '-=0.5s');
  });
</script>
