{{ 'section-highlight-text.css' | asset_url | stylesheet_tag }}

<div class="highlight-text-block page-width color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <p>{{ section.settings.highlight_text }}</p>
</div>

{% schema %}
{
  "name": "Highlight Text Block",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "textarea",
      "id": "highlight_text",
      "label": "Highlight Text",
      "default": "Lorem ipsum dolor sit amet consectetur. Nibh vehicula et cursus tortor eu sit sed eu lectus. Eget porta etiam sed arcu etiam. Amet porta faucibus pharetra tincidunt quam dictum porta morbi. Vitae aliquam diam dui habitasse ipsum nisi vulputate tellus lorem. Erat vulputate tortor ac sit est. Blandit volutpat iaculis aliquam enim fringilla sit risus vitae. Proin a in nunc id volutpat vitae ac senectus. Id maecenas turpis nulla amet nisl pharetra et. Non facilisis sit integer dignissim "
    }
  ],
  "presets": [
    {
      "name": "Highlight Text Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}
