{{ 'section-homepage-hero.css' | asset_url | stylesheet_tag }}

<div class="homepage-hero">
  <div class="homepage-hero__info-container">
    <h1 class="homepage-hero__title">{{ section.settings.title }}</h1>
  </div>
  <div class="homepage-hero__slider-container"></div>
</div>

{% schema %}
{
  "name": "Homepage Hero",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable Slider",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
