{{ 'iframe.css' | asset_url | stylesheet_tag }}

{% liquid 
  case section.settings.width
    when 'full'
      assign width = 'SectionGrid-Full'
    when 'wide'
      assign width = 'SectionGrid-Wide'
    when 'narrow'
      assign width = 'SectionGrid-Narrow'
    else
      assign width = 'SectionGrid-Wide'
    endcase
%}

<div class="SectionGrid">
  <div class="{{ width }} w-100p h-100p">
    <iframe title="{{ section.settings.title | escape }}" src="{{ section.settings.url }}" scrolling="no" class="w-100p if-noborder" id="iframe"></iframe>
  </div>
</div>

<script>
const findHeight = e => {
  const heights = [];
  if (e.data.hasOwnProperty("frameHeight")) {
    heights.push(e.data["frameHeight"]);
  }
  if (e.data.hasOwnProperty("offset")) {
    heights.push(e.data["offset"]);
  }
  if (e.data.hasOwnProperty("scroll")) {
    heights.push(e.data["scroll"]);
  }
  if (heights.length > 0) {
    const maxHeight = Math.max(...heights);
    const height = `${maxHeight + 30}px`;
    document.getElementById("iframe").height = height;
  }
}
window.addEventListener("message", findHeight);
</script>

{% schema %}
{
  "name": "Iframe",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Überschrift"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Adresse der darzustellenden Seite"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Breite des Elements",
      "options": [
        {
          "value": "full",
          "label": "volle Seitenbreite"
        },
        {
          "value": "wide",
          "label": "breites Layout (max. 1300px)"
        },
        {
          "value": "narrow",
          "label": "schmales Layout (max. 900px)"
        }
      ],
      "default": "wide"
    }
  ],
  "presets": [
    {
    "name": "Iframe",
    "settings": {
      "width": "wide"
    }
  }
]
}
{% endschema %}