{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="img-with-copy {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}

  <div class="main-content">
    <div class="img-container">
      <img src="{{ section.settings.image | img_url: '1920x' }}" alt=""/>
    </div>
    <div class="img-with-copy-text">
      <p>{{ section.settings.text }}</p>
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "Image with Copy",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading",
        "default": "Sub Title"
      }, {
        "id": "text",
        "type": "textarea",
        "label": "Text"
      }
    ],
    "presets": [
      {
        "name": "Image with Copy",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .img-with-copy .img-bullet-box {
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--brand-refresh-dark-gray);
  }

  .img-with-copy .main-content p {
    color: var(--brand-refresh-dark-gray);
    font-size: 24px;
    font-weight: 400;
  }
  .img-with-copy .img-container {
    max-width: 1400px;
    width: 85vw;
    margin: 0 auto;
    overflow: hidden;
  }
  .img-with-copy img {
    width: 100%;
    object-fit: cover;
  }

  .img-with-copy .img-with-copy-text {
    max-width: 1400px;
    width: 85%;
    height: 40%;
    padding: 50px 0 65px;
    margin: 0 auto;
    text-align: center;
  }

  /* MEDIA QUERIES */

  @media(max-width: 700px) {
    .img-with-copy .img-with-copy-text p {
      font-size: 20px;
    }
  }
  @media(max-width: 500px) {
    .img-with-copy .img-with-copy-text {
      padding: 30px 0 65px;
    }
    .img-with-copy .img-with-copy-text p {
      font-size: 18px;
    }
  }
{% endstylesheet %}