{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="img-carousel {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}

  <div class="img-carousel-wrapper grid page-width slick-carousel">
    {%for block in section.blocks%}
      <div class="grid__item medium-up--one-third small--one-half">
        <div class="img-carousel-card">
          <div class="img-carousel-img-container">
            <img src="{{block.settings.image | img_url:'master'}}">
          </div>
          <div class="img-carousel-text">
            <h5>{{ block.settings.image_title }}</h5>
            <p>{{ block.settings.image_text}}</p>
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
</div>

{% javascript %}
  $(".slick-carousel", ".img-carousel").slick({
    speed: 1000,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: true,
    swipeToSlide: true,
    centerMode: false,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2,
          dots: true
        }
      }, {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          dots: true
        }
      }
    ]
  });
{% endjavascript %}
{% schema %}
  {
    "name": "Image Carousel",
    "max_blocks": 20,
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Sub Title"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "image_title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "image_text",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Carousel",
        "category": "Image"
      }
    ]
  }
{% endschema %}
{% stylesheet %}
  .img-carousel-wrapper {
    padding-bottom: 50px;
  }
  .img-carousel-card {
    width: 100%;
    padding: 0 2px;
  }
  .img-carousel-img-container {
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  .img-carousel-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-carousel-text {
    padding: 20px;
    text-align: center;
  }
  .img-carousel-text h5 {
    font-size: 20px;
    margin: 0 0 6px;
  }
  .img-carousel .slick-dots {
    position: static !important;
  }
  @media(max-width: 786px) {
    .img-carousel.contents .page-width {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
{% endstylesheet %}