{% assign background_color = "bg-" | append: section.settings.background_color %}

<div class="img-bullets {{background_color}}">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    {% render 'headings' %}
  {% endif %}

  <div class="img-bullet-box page-width">
    <div class="img-container">
      <img src="{{ section.settings.image | img_url: '1920x' }}" alt=""/>
    </div>
    <div class="bullet-container">
      <ul>
        {% assign paragraphs = section.settings.text | newline_to_br | split:
         '<br />'%}
        {% for paragraph in paragraphs %}
          <div class="flex">
            <div class="checkmark">
              <span class="blue-font">
                &#10003;
              </span>
            </div>
            <li>{{ paragraph }}</li>
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image / Bullets",
    "settings": [
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White"
          }, {
            "value": "lighter-blue",
            "label": "Blue"
          }
        ]
      }, {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      }, {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "id": "text",
        "type": "textarea",
        "label": "Bullets"
      }
    ],
    "presets": [
      {
        "name": "Image with Bullets",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .img-bullets {
    margin-bottom: 100px;
  }
  .img-bullet-box .img-container {
    width: 100%;
    text-align: center;
  }
  .img-bullets .img-bullet-box {
    font-family: basic-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4a4b54;
  }
  .img-bullets .img-bullet-box li {
    font-size: 26px;
    line-height: 28px;
    list-style: none;
    padding: 0 0 0 5px;
    font-weight: 200;
  }
  .img-bullet-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 0 auto;
  }
  .bullet-container ul {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 15px;
  }
  .bullet-container .checkmark {
    width: 7%;
  }
  .bullet-container span.blue-font {
    font-size: 30px;
  }
  .bullet-container .flex {
    align-items: center;
  }

  /* MEDIA QUERIES */

  @media(max-width: 950px) {
    .bullet-container ul {
      grid-template-columns: 1fr 1fr;
      margin: 15px auto;
    }
    .img-bullet-box {
      grid-template-columns: repeat(1, 1fr);
    }
    .img-bullets .img-bullet-box li {
      font-size: 20px;
    }
    .bullet-container span.blue-font {
      font-size: 18px;
    }
  }

  @media(max-width: 650px) {
    .bullet-container ul {
      grid-template-columns: 1fr 1fr;
      margin: 15px auto;
    }
    .img-bullet-box {
      grid-template-columns: repeat(1, 1fr);
    }
    .img-bullets .img-bullet-box li {
      font-size: 17px;
      line-height: 18px;
    }
    .bullet-container span.blue-font {
      font-size: 15px;
    }
  }
{% endstylesheet %}