<div class="jw-SectionGrid color-{{ section.settings.color_scheme }}">
  <div class="jw-SectionGrid-Narrow">
    <div id="{{ section.settings.id | escape }}">
      <script type="text/javascript" defer src="{{ section.settings.scriptUrl | escape }}"></script>
    </div>
  </div>
</div>

{% style %}
.jw-SectionGrid {
  display: block;
  grid-template-columns: 1fr minmax(25px,200px) minmax(600px,900px) minmax(25px,200px) 1fr;
}

.jw-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

@media screen and (min-width: 990px) {
  .jw-SectionGrid {
    display: grid;
  }
}
{% endstyle %}


{% schema %}
{
  "name": "Jobs-Widget",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "ID des Containerelements",
      "default": "join-widget"
    },
    {
      "type": "text",
      "id": "scriptUrl",
      "label": "URL des zu ladenden Skripts",
      "default": "https://join.com/api/widget/bundle/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXR0aW5ncyI6eyJzaG93Q2F0ZWdvcnlGaWx0ZXIiOnRydWUsInNob3dMb2NhdGlvbkZpbHRlciI6dHJ1ZSwic2hvd0VtcGxveW1lbnRUeXBlRmlsdGVyIjp0cnVlLCJsYW5ndWFnZSI6ImVuIiwiam9ic1BlclBhZ2UiOjI1fSwiam9icyI6e30sImRlc2lnbiI6eyJzaG93TG9nbyI6dHJ1ZSwic2hvd0xvY2F0aW9uIjp0cnVlLCJzaG93RW1wbG95bWVudFR5cGUiOnRydWUsInNob3dDYXRlZ29yeSI6dHJ1ZSwiY29sb3JzIjp7IndpZGdldCI6eyJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsImZpbHRlckJvcmRlciI6IiNDN0NERDgiLCJwYWdpbmF0aW9uIjoiIzI1OEFGRiJ9LCJqb2JDYXJkIjp7InNoYWRvdyI6IiNDN0NkRDgiLCJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsInByaW1hcnlUZXh0IjoiIzMwMzQ0NiIsInNlY29uZGFyeVRleHQiOiIjOEY5Q0IyIn19fSwidmVyc2lvbiI6MiwiY29tcGFueVB1YmxpY0lkIjoiZjMxNzkyM2ZjMTA3ZDU2NjA4ZjdhYTQ5NTFmM2ExOGIiLCJpYXQiOjE2MDY4MTQyOTYsImp0aSI6IjJjOWIwYTg4LWY3MzYtNDJlMC05NDNhLTcxYjEzNjIwZTBmYSJ9.6SHYYO695ArRzGCDxUo6HuDrcm6RD7IwA8qyBfm1uDI"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    }
  ],
  "presets": [
    {
      "name": "Jobs-Widget",
      "settings": {
        "color_scheme": "background-1",
        "id": "join-widget",
        "scriptUrl": "https://join.com/api/widget/bundle/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXR0aW5ncyI6eyJzaG93Q2F0ZWdvcnlGaWx0ZXIiOnRydWUsInNob3dMb2NhdGlvbkZpbHRlciI6dHJ1ZSwic2hvd0VtcGxveW1lbnRUeXBlRmlsdGVyIjp0cnVlLCJsYW5ndWFnZSI6ImVuIiwiam9ic1BlclBhZ2UiOjI1fSwiam9icyI6e30sImRlc2lnbiI6eyJzaG93TG9nbyI6dHJ1ZSwic2hvd0xvY2F0aW9uIjp0cnVlLCJzaG93RW1wbG95bWVudFR5cGUiOnRydWUsInNob3dDYXRlZ29yeSI6dHJ1ZSwiY29sb3JzIjp7IndpZGdldCI6eyJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsImZpbHRlckJvcmRlciI6IiNDN0NERDgiLCJwYWdpbmF0aW9uIjoiIzI1OEFGRiJ9LCJqb2JDYXJkIjp7InNoYWRvdyI6IiNDN0NkRDgiLCJiYWNrZ3JvdW5kIjoiI0ZGRkZGRiIsInByaW1hcnlUZXh0IjoiIzMwMzQ0NiIsInNlY29uZGFyeVRleHQiOiIjOEY5Q0IyIn19fSwidmVyc2lvbiI6MiwiY29tcGFueVB1YmxpY0lkIjoiZjMxNzkyM2ZjMTA3ZDU2NjA4ZjdhYTQ5NTFmM2ExOGIiLCJpYXQiOjE2MDY4MTQyOTYsImp0aSI6IjJjOWIwYTg4LWY3MzYtNDJlMC05NDNhLTcxYjEzNjIwZTBmYSJ9.6SHYYO695ArRzGCDxUo6HuDrcm6RD7IwA8qyBfm1uDI"
      }
    }
  ]
}
{% endschema %}
