<span
 class="junip-review-section"
 style="display: none"
 data-layout={{section.settings.layout}}
 data-reviews-type={{section.settings.reviewsType}}
 data-show-summary={{section.settings.showSummary}}
 data-reviews-count={{section.settings.reviewsCount}}>
  <span class="junip-review-section-wrapper"></span>
</span>
{% schema %}
  {
    "name": "Site & product reviews",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          { "value": "list", "label": "List"},
          { "value": "grid", "label": "Grid"}
        ],
        "default": "list",
        "info": "The layout of the reviews"
      },
      {
        "type": "select",
        "id": "reviewsType",
        "label": "Type of reviews to show",
        "options": [
          { "value": "all", "label": "All"},
          { "value": "product_reviews", "label": "Product reviews"},
          { "value": "store_reviews", "label": "Store reviews"}
        ],
        "default": "all",
        "info": "The type of reviews to show"
      },
      {
        "type": "checkbox",
        "id": "showSummary",
        "label": "Show review summary",
        "default": true,
        "info": "Enabling this will show a review summary at the top of the section"
      },
      {
        "type": "range",
        "id": "reviewsCount",
        "min": 3,
        "max": 20,
        "step": 1,
        "label": "Number of reviews to show",
        "default": 10,
        "info": "The number of reviews to show"
      }
    ],
    "presets": [
      {
        "name": "Site & product reviews",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
