{% if section.settings.show_related %}
  <div class="how-it-works">
    <div class="grid contents page-width">
      <div class="grid__item">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="grid__item">
        <div class="sub-contents">{{ section.settings.para }}</div>
      </div>
    </div>
    <div class="grid page-width slick-carousel">
      {% for block in section.blocks %}
        <div class="slide-image-box"><img src="{{block.settings.image | img_url:'master'}}"></div>
      {% endfor %}
    </div>
  </div>

{% endif %}
{% schema %}
  {
    "name": "How It Works",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_related",
        "label": "Show Section",
        "default": true
      }, {
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      }, {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "id": "para",
        "type": "richtext",
        "label": "Text"
      }

    ],

    "blocks": [
      {
        "type": "Slides",
        "name": " Add Slides",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",

            "label": "Add Slide"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(".slick-carousel").slick({
    speed: 1000,
    autoplay: false,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: true,
    swipeToSlide: true,
    centerMode: false,
    arrows: true,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2,
          dots: true
        }
      }, {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          dots: true
        }
      }
    ]
  });
</script>

{% style %}
  .how-it-works {
    padding: 50px 0;
  }
  .how-it-works .contents {
    display: flex;
  }
  @media(max-width: 786px) {
    .how-it-works .contents {
      flex-direction: column;
      row-gap: 15px;
      padding: 50px 20px;
      align-items: center;
    }
    .how-it-works .grid__item {
      width: 100%;
      max-width: 90%;
    }
  }
{% endstyle %}