<div class="partners page-width">
      {% for block in section.blocks %}
        <div class="grid__item">
          <div class="partner-img-container">
            <a href="{{ block.settings.block_url }}" target="_blank">
              <img src="{{ block.settings.image | img_url: '1920x' }} " class="partners-logo" />
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    {% schema %}
      {
        "name": "Partners Carousel",
        "settings": [],
        "blocks": [
          {
            "type": "icon-block",
            "name": "Add Logos",
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
              },
              {
                "type": "url",
                "id": "block_url",
                "label": "Image Url"
              },
              {
                "type": "text",
                "id": "image_width",
                "label": "Image Width"
              },
              {
                "type": "text",
                "id": "image_height",
                "label": "Image height"
              }, {
                "type": "checkbox",
                "id": "showbackground",
                "label": "Show image as background",
                "default": false
              }
            ]
          }
        ],
        "presets": [
          {
            "name": "Partners Carousel"
          }
        ]
      }
    {% endschema %}
    
    <script>
      $(".partners").slick({
        dots: false,
        infinite: true,
        speed: 1000,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2500,
        cssEase: 'ease',
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          }, {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          }, {
            breakpoint: 501,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
    </script>
    
    {% style %}
      .partners {
        padding-top: 30px;
      }
      .partner-img-container {
        width: 80%;
        margin: 0 auto;
      }
      .partners .slick-track {
        display: flex;
        align-items: center;
      }
      .partners .slick-next {
        right: 20px
      }
      .partners .slick-prev {
        left: 20px
      }
    {% endstyle %}