<section class="integration-landing">
  {% if section.settings.heading != blank %}
      <h2 class="heading text-center {{heading_color}}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
      <h3 class="subheading text-center {{subheading_color}}">{{ section.settings.subheading }}</h3>
    {% endif %}
</section>

{% schema %}
  {
    "name": "Integration Landing Page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Page Title"
      }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Add Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Integration Landing Page"
      }
    ]
  }
{% endschema %}