{% if section.settings.show_related %}
<div class="contents logo">
<div class=" logo-box page-width">

<div class="logo-title">
<h2>{{section.settings.heading}}</h2>
</div>
  
  <div class="grid page-width">
    {% assign features = section.settings.text | newline_to_br | split: '<br />'%}
    {% for block in section.blocks %}
    <div class="grid__item d-flex medium-up--one-quarter small--one-half">
      <div class="logo-image" style="background-image: url({{block.settings.image | img_url:'1920x'}})"> </div>
      <div class="logo-content"> <p>{{block.settings.logo_content}}</p></div>
    
    </div>
    {%endfor%}
  </div>
</div>
</div>

{%endif%}

{% schema %}
  {
    "name": "Leading Integrations",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }


		],

		"blocks" : [
			{
				"type": "logo",
				"name": "Add logo",
				"settings": [
					{
        				"id": "image",
        				"type": "image_picker",
       					"label": "Logo Image"
      				},
					{
						"type": "textarea",
						"id": "logo_content",
						"default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
						"label": "Text"
					}
				]
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
