{% if section.settings.show_related %}
<div class="contents logo technical">
<div class=" logo-box page-width">

<div class="logo-title">
<h2>{{section.settings.heading}}</h2>
</div>
  
  <div class="grid page-width">
    
    {% for block in section.blocks %}
    <div class="grid__item {%if forloop.index0 != 1%}medium-up--one-third" style="padding:0 50px" {%else %} medium-up--one-third {%endif%}" >
    
      <div class="technical-content"> <p>{{block.settings.content}}</p></div>
    
    </div>
    {%endfor%}
  </div>
</div>
</div>

{%endif%}

{% schema %}
  {
    "name": " Technical Specs",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }


		],

		"blocks" : [
			{
				"type": "logo",
				"name": "Add Specs",
				"settings": [
					
					{
						"type": "richtext",
						"id": "content",
						"default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.</b></p>",
						"label": "Text"
					}
				]
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
