{% if section.settings.show_related %}
<div class="contents testimonials">
<div class="grid page-width">
<div class="grid__item text-center" >
<h2>{{section.settings.heading}}</h2>
</div>
  
</div>
  <div class="grid page-width d-flex slick-carousel1">
    {%for block in section.blocks%}
    <div class="testimonial-review-box reviews-d-flex ">
      <div class="user-review">{{block.settings.review}}</div>
      <div class="icon-image"><img src="{{block.settings.image | img_url:'master'}}"></div>
      <div class="user-name">{{block.settings.username}}</div>
    	</div>
    {%endfor%}

  </div>
</div>
{%endif%}


{% schema %}
  {
    "name": "User Reviews",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      	},
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "para",
        "type": "richtext",
        "label": "Text"
      }

		],

		"blocks" : [
			{
				"type": "testimonials",
				"name": "Testimonials Slider",
				"settings": [
					{
        				"id": "review",
        				"type": "textarea",
        				"label": "User Review",
        				"default": "Title"
      				},
					{
        				"id": "image",
        				"type": "image_picker",
        				"label": "Icon"
      				},
					{
        				"id": "username",
        				"type": "text",
        				"label": "User Name",
        				"default": "Title"
      				}
				]
			}
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
  $(".slick-carousel1").slick({
    speed: 3000,
		autoplay: false,
		autoplaySpeed: 0,
		cssEase: 'linear',
    slidesToShow: 3,
  	slidesToScroll: 1,
    infinite: false,
    swipeToSlide: true,
  	centerMode: false,
    focusOnSelect: true,
    arrows:false,
    responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2,
                dots:true,
              }
            },
            {
              breakpoint: 750,
              settings: {
                slidesToShow: 1,
                dots:true,
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                dots:true,
              }
            }
            ]
});
</script>