{% if section.settings.show_related %}
<div class="contents dblue">
  <div class="grid box page-width">
    <div class="grid__item medium-up--one-half">
      <h2>{{section.settings.heading}}</h2>
      <p>{{section.settings.text }}</p>
    </div>
    <div class="grid__item medium-up--one-half img-block-padding">
      <img src="{{section.settings.image | img_url:'1920x'}}" alt="">
    </div>
  </div>
</div>
{%endif%}


{% schema %}
  {
    "name": "Replace Old Keypads",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      	},
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Description"
      }


		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
