
  <div class="two-col-partners">
    <div class="page-width two-col-partners-content">
      <div class="">
        <h2>{{ section.settings.heading }}</h2>
        <div class="sub-contents">{{ section.settings.para }}</div>
      </div>
          <div class="img-container">
            {% if section.settings.image %}
              <img src="{{ section.settings.image | img_url: '1920x' }}" />
            {% endif %}
          </div>
    </div>

  </div>
{% schema %}
  {
    "name": "DIY Solution",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Video Image"
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      }, {
        "id": "para",
        "type": "richtext",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "icon-block",
        "name": "Add Logos",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "block_url",
            "label": "Image Url"
          },
          {
            "type": "text",
            "id": "image_width",
            "label": "Image Width"
          },
          {
            "type": "text",
            "id": "image_height",
            "label": "Image height"
          }, {
            "type": "checkbox",
            "id": "showbackground",
            "label": "Show image as background",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(".partners-logos").slick({
    dots: false,
    infinite: true,
    speed: 1000,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500,
    cssEase: 'ease',
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
</script>

{% style %}
  .two-col-partners {
    padding: 50px 0;
  }
  .two-col-partners-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 0 auto;
    gap: 50px;
  }
  .img-container {
    width: 100%;
    margin: 0 auto;
  }
  .img-container img {
    width: 100%;
  }
  .partners-logos {
    padding-top: 30px;
  }
  @media(max-width: 786px) {
    .two-col-partners-content {
      flex-direction: column;
      row-gap: 15px;
      padding: 50px 20px;
    }
    .two-col-partners-content .grid__item {
      width: 100%;
      max-width: 90%;
    }
  }
{% endstyle %}