{% if section.settings.show_related %}
<div class="contents blue">
  <div class="grid box page-width">

    <div class="grid__item medium-up--one-half">
      <h2>{{section.settings.heading}}</h2>
      <ul>
        {% assign paragraphs = section.settings.text | newline_to_br | split: '<br />'%}
        {% for paragraph in paragraphs %}
          <li class="flex">
            <div class="checkmark"> <span class="blue-font"> &#10003; </span> </div> 
            <div class="checkmark-text">{{ paragraph }}</div>
          </li>
        {% endfor %}
      </ul>

    </div>
    <div class="grid__item medium-up--one-half img-block-padding">
      <img src="{{section.settings.image | img_url:'1920x'}}" alt=""></div>
  </div>
</div>

{%endif%}


{% schema %}
  {
    "name": "Why App-Based",
    "settings": [
		{
		"type": "checkbox",
		"id": "show_related",
		"label": "Show Section",
		"default": true
      },{
        "id": "image",
        "type": "image_picker",
        "label": "Icon Top"
      	},
		{
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "textarea",
        "label": "Text Right Column"
      }


		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
