{{ 'loop-article-title' | asset_url | stylesheet_tag }}

<h1 class='article-title'>{{ article.title }}</h1>

{% schema %}
  {
    "name": "Loop Article Title",
    "settings": [],
	"presets": [
		{
		"name": "Loop Article Title"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
