{{ 'loop-article-banner' | asset_url | stylesheet_tag }}

<div class="article-banner" style="background-image: url('{{ article.image | img_url: '100x100' }}')"></div>

{% schema %}
  {
    "name": "Loop Article Banner",
    "settings": [],
	"presets": [
		{
			"name": "Loop Article Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
