{{ 'loop-article-title.css' | asset_url | stylesheet_tag }}

<div class="article-title-wrap page-width">
<h1 class='article-title'>{{ article.title }}</h1>
</div>

{% schema %}
  {
    "name": "Loop Article Title",
    "settings": [],
	"presets": [
		{
		"name": "Loop Article Title"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
