{{ 'loop-article-author.css' | asset_url | stylesheet_tag }}

{% if article.author %}
<div class="article-author-wrap page-width">
<div class='article-author'>{{ section.settings.author_prefix }}{{ article.author }}</div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Loop Article Author",
    "settings": [
      {
        "type": "text",
        "id": "author_prefix",
        "label": "Author Prefix",
        "default": "By : "
      }
    ],
	"presets": [
		{
		"name": "Loop Article Author"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}