{{ 'loop-article-author.css' | asset_url | stylesheet_tag }}

{% if article.author %}
<div class="article-author-wrap page-width">
<div class='article-author'>{{ article.author }}</div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Loop Article Author",
    "settings": [],
	"presets": [
		{
		"name": "Loop Article Author"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}