{{ 'loop-article-footer.css' | asset_url | stylesheet_tag }}

<div class="loop-article-footer page-width">
  <div class="prev-article laf-part"><a class="article-nav-link" href="{{ blog.previous_article }}">Previous Article</a></div>
  <div class="social-media-share laf-part">Share</div>
  <div class="next-article laf-part"><a class="article-nav-link" href="{{ blog.next_article }}">Next Article</a></div>
</div>

{% schema %}
  {
    "name": "Loop Article Footer",
    "settings": [],
	"presets": [
		{
			"name": "Loop Article Footer"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
