{{ 'loop-article-banner' | asset_url | stylesheet_tag }}

<div class="article-banner" style="background-image: url({{ article.image.src | image_url: width: 2000 }})">
</div>

{% schema %}
  {
    "name": "Loop Article Banner",
    "settings": [],
	"presets": [
		{
			"name": "Loop Article Banner"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
