<link rel="stylesheet" href="https://use.typekit.net/dnd4gke.css">
<div class="cpb-story page-width">
  <section class="tw-relative full-width">
    <picture>
      <source media="(max-width: 768px)"
              srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/image_main_23ss_sp.jpg?v=1733192288">
      <img src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/CPB_23SS_LaCreme_Hero.jpg?v=1733192698"
           alt="" class="tw-w-full tw-aspect-square md:tw-aspect-[1.8] tw-object-cover" width="1428" height="1193" >
    </picture>
    <p class="cronos tw-absolute tw-top-5 md:tw-top-10 tw-text-center tw-w-full tw-text-white tw-text-xl"><span class="tw-text-2xl">UNLOCK THE ESSENCE</span><br/>
      鍵はあき、輝きが解き放たれる。</p>
  </section>
  <section class="full-width">
    <h3 class="tw-text-center cronos tw-text-3xl tw-mb-6">THE DEDICATION</h3>
    <p class="tw-leading-8 md:tw-leading-10 tw-text-center tw-mb-20">至高への終わりなき挑戦にむけて。<br
          class="sp-only"/>
      研究、開発、クラフトマンシップ。<br/>
      お客さまと出会うすべての場に、<br class="sp-only"/>
      私たちの妥協なき精神は浸透しています。<br/>
      まだ出会ったことのない最高の<br class="sp-only"/>
      スキンケアやカラークリエーションを<br/>
      おとどけし続けるため、決して歩みを<br class="sp-only"/>
      止めることはありません。</p>
  </section>

  <section class="the-brilliance">
    <h3 class="tw-text-center cronos tw-text-3xl tw-mb-8">THE BRILLIANCE</h3>
    <swiper-container
        space-between="30"
        autoplay='{"delay": 6000}'
        init="false"
        loop="true"
        navigation="{
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }"
    >
      <swiper-slide>
        <div class="tw-bg-white">
          <div class="tw-mx-auto tw-flex tw-justify-center">
            <picture>
              <source
                  srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_brilliance_21aw_02.jpg?v=1733192786"
                  media="(max-width: 768px)">
              <img
                  src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_brilliance_21aw_02.jpg?v=1733192786"
                  alt="" width="914" height="515">
            </picture>
          </div>
          <div class="slider-description">
            <h4 class="tw-mb-6">THE SKIN ILLUMINATOR<br>イマジネーション閃くカラー</h4>
            <p class="text tw-leading-8 md:tw-leading-10">
              豊かな色彩と陰影。洗練とバランス。<br/>
              光の輝き。<br/>
              クレ・ド・ポー ボーテがめざすのは<br/>
              「すべての瞬間、表情を輝かせること」。<br/>
              それをかなえるのは、光を自在に操る<br/>
              「独自のテクノロジー」と、繊細な<br/>
              色彩やニュアンスを生みだす<br/>
              「カラークリエーション」です。<br/>
              自然やアートからインスピレーション<br/>
              得て生まれる豊かな色彩は、<br/>
              女性の生命力に潜む美しさを<br/>
              引きだし、肌と優美に調和します。
            </p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="tw-bg-white">
          <div class="tw-mx-auto tw-flex tw-justify-center">
            <picture>
              <source
                  srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_brilliance_20ss_03.jpg?v=1733193272"
                  media="(max-width: 768px)">
              <img
                  src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/img_brilliance_20ss_03.jpg?v=1733193272"
                  alt="" width="914" height="515">
            </picture>
          </div>
          <div class="slider-description">
            <h4 class="tw-mb-6">THE EVOLUTION<br>たゆまぬ進化</h4>
            <p class="text tw-leading-8 md:tw-leading-10">
              ラ・クレーム。<br>
              35年前の誕生以来、ハイパフォーマンスクリームの<br>
              先駆者として確かな足跡を残してきました。<br>
              クレ・ド・ポー ボーテ独自の<br>
              ブレインスキン理論の進化によって、<br>
              肌が生まれながらに持つ輝きを限りなく解き放ちます。<br>
              これほどのこだわりと情熱の注がれた<br>
              製品は他にない、唯一無二の存在として、<br>
              今もなおクレ・ド・ポー ボーテの<br>
              スキンケアの頂点を極めます。</p>
            <div class="tw-flex tw-justify-center tw-mt-3">
              <a class="tw-text-center tw-border tw-border-black tw-px-5 tw-py-3 tw-text-current"
                 href="https://online.sukiya.biz/products/cle-de-peau-beautella-claim"
              >詳しくはこちらから</a>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="full-width">
    <div class="the-heritage">
      <div>
        <picture>
          <source media="(max-width: 768px)"
                  srcset="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/210114_img_main_03.jpg?v=1733193590">
          <img
              src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/210114_img_main_03.jpg?v=1733193590"
              alt="THE HERITAGE" width="1400" height="1580">
        </picture>
      </div>
      <div class="section-title">
        <div class="section-title__inner">
          <h3 class="tw-mb-6">THE HERITAGE</h3>
          <p class="tw-leading-8">プロダクトは、輝きそのものです。<br/>
            すこやかな肌と幸福の鍵を内に秘めた<br/>
            パッケージは、息をのむ美しさ。<br/>
            その、熟練の職人たちが<br class="sp-only">腕を振るうパッケージには、<br/>
            歴史ある日本のクラフツマンシップ、<br class="sp-only">デザイナーの価値観、<br/>
            そして完璧さへのこだわりが<br class="sp-only">映し出されています。</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "CPBストーリーメイン",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
