<div class="page-width">
  <link rel="stylesheet" href="https://use.typekit.net/dnd4gke.css">
  <div class="cpb-header">
    <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-p-4">
      <li class="tw-items-center tw-inline-flex tw-text-sm">
        <a href="/" class="tw-text-black">TOP</a></li>
      <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
      <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">
        <a href="/collections/cle-de-peau-beaute" class="tw-text-black">クレ・ド・ポー ボーテ</a></li>
      <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
      <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">クレ・ド・ポー ボーテのストーリー</li>
    </ul>
    <h1 class="brand-logo">
      <a href="/collections/cle-de-peau-beaute"><img
            class="tw-mx-auto"
            src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/cle-de-peau-beaute.svg"
            alt="Clé de Peau Beauté | Perfumerie Sukiya" width="300" height="90"></a>
    </h1>

    <div class="tw-hidden md:tw-flex md:tw-justify-center tw-border-t tw-border-black">
      <div v-for="(item, index) in cpbNavItems" :key="'1_' + index">
        <div
            class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50"
            v-if="item.children"
        >
          <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
             :href="item.href">
            ${ item.text }
            <i aria-hidden="true"
               class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
          </a>
          <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
            <div v-for="(child1, index) in item.children" :key="'2_' + index">
              <div
                  class="tw-group/nest2 tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50"
                  v-if="child1.children"

              >
                <a :href="child1.href"
                   class="tw-flex tw-items-center tw-text-sm tw-tracking-widest"
                >
                  ${child1.text}
                  <i aria-hidden="true"
                     class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
                </a>
                <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-white">
                  <div v-for="(child2, index) in child1.children" :key="'3_' + index">
                    <a :href="child2.href">
                      <div
                          class="tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest">
                        ${child2.text}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <a
                  v-else
                  class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
                  :href="child1.href">
                ${child1.text}
              </a>
            </div>
          </div>
        </div>

        <a
            v-else
            class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-slate-50 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
            :href="item.href"
            :target="item.target"
        >${item.text}
          <i aria-hidden="true"
             class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="cpb-story">
    <section class="tw-m-10">
      {% comment %}<div class="swiper">{% endcomment %}
        {% comment %}<div class="swiper-wrapper">{% endcomment %}
          {% comment %}<div class="swiper-slide">1{% endcomment %}
          {% comment %}<img{% endcomment %}
                      {% comment %}src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_01_01.jpg"{% endcomment %}
                      {% comment %}alt="">{% endcomment %}
          {% comment %}</div>{% endcomment %}
          {% comment %}<div class="swiper-slide">2{% endcomment %}
          {% comment %}<img{% endcomment %}
                      {% comment %}src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_01_01.jpg"{% endcomment %}
                      {% comment %}alt="">{% endcomment %}
          {% comment %}</div>{% endcomment %}
          {% comment %}<div class="swiper-slide">3{% endcomment %}
          {% comment %}<img{% endcomment %}
                      {% comment %}src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_01_01.jpg"{% endcomment %}
                      {% comment %}alt="">{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>{% endcomment %}
        {% comment %}<!-- Add Arrows -->{% endcomment %}
        {% comment %}<div class="swiper-button-next"></div>{% endcomment %}
        {% comment %}<div class="swiper-button-prev"></div>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    </section>

    <!-- SP ナビメニュー -->
    <div class="sp-only">
      <ul class="tw-bg-gray-900 tw-text-white tw-mb-10">
        <li v-for="(item, index) in cpbNavItems" :key="index" class="tw-border-b tw-border-gray-700">
          <a :href="item.href" v-if="!item.children" class="tw-flex tw-justify-between tw-items-center tw-p-4">
            <span v-text="item.text"></span>
            <i class="mdi mdi-chevron-right"></i>
          </a>

          <div v-else class="">
            <button @click="activeIndex == index ? activeIndex = null : activeIndex = index"
                    class="tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4">
              <span v-text="item.text"></span>
              <i :class="activeIndex == index ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></i>
            </button>

            <div v-if="activeIndex == index" class="tw-bg-gray-100 tw-text-black">
              <div v-for="(child, i) in item.children" :key="`child_${i}`"
                   class="tw-border-b tw-border-gray-700">
                <a :href="child.href" v-if="!child.children" class="tw-block tw-p-4">
                  <span v-text="child.text"></span>
                  <i class="mdi mdi-chevron-right"></i>
                </a>

                <div v-else class="">
                  <button @click="activeChildIndex == i ? activeChildIndex = null : activeChildIndex = i"
                          class="tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-p-4">
                    <span v-text="child.text"></span>
                    <i :class="activeChildIndex == i ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></i>
                  </button>

                  <div v-if="activeChildIndex == i" class="tw-bg-white tw-grid tw-grid-cols-2">
                    <a :href="grandchild.href" v-for="(grandchild, j) in child.children"
                       :key="`grandchild_${j}`" class="tw-block tw-p-4 tw-border tw-border-gray-100">
                      <span v-text="grandchild.text"></span>
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- SP ナビメニュー end -->
    <div class="tw-flex tw-justify-center">
      <a class="tw-text-center tw-bg-black tw-text-white tw-px-8 tw-py-3" href="/collections/cle-de-peau-beaute">クレ・ド・ポー ボーテ トップへ戻る</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
