<div class="cpb-header page-width">
  <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-py-4 tw-px-0">
    <li class="tw-items-center tw-inline-flex tw-text-sm"><a href="/" class="tw-text-black">TOP</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400"><a href="/collections/decorte"
                                                                              class="tw-text-black">DECORTÉ</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">{{ page.title }}</li>
  </ul>
  <h1 class="brand-logo tw-relative tw-mt-4 md:tw-max-w-[900px] md:tw-mx-auto">
    <a href="/collections/decorte"><img
          class="tw-mx-auto"
          src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/decorte_64899ade-e198-43ce-bf14-0df9c9ae6ef1.svg?v=1733191122"
          alt="DECORTÉ | Perfumerie Sukiya" width="300" height="90"></a>
    <img class="tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-w-[60px] md:tw-w-[100px] tw-right-5 md:tw-right-1/4"
         src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/decorte-official-logo.svg?v=1733191191"
         alt="ブランド認定正規品取扱店舗 DECORTÉ"
         width="175" height="150"
    >
  </h1>
  {% render 'header-navigation-decorte' %}
</div>

{% schema %}
{
  "name": "decorte-header",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
