<div class="bsi-header page-width">
  <ul class="tw-flex tw-items-center tw-flex-wrap tw-flex-auto tw-list-none tw-m-0 tw-py-4 tw-px-0">
    <li class="tw-items-center tw-inline-flex tw-text-sm"><a href="/" class="tw-text-black">TOP</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400"><a href="/collections/shiseido"
                                                                              class="tw-text-black">SHISEIDO</a></li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-px-3">|</li>
    <li class="tw-items-center tw-inline-flex tw-text-sm tw-text-gray-400">{{ page.title }}</li>
  </ul>
  <h1 class="brand-logo tw-m-0"><a href="/collections/shiseido"><img
          src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido.svg?v=1700812325"
          alt="SHISEIDO | Perfumerie Sukiya" width="300" height="90" class="tw-mx-auto"></a></h1>
</div>

{% schema %}
{
  "name": "bsi-header",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
