{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="w-full max-w-[1080px] mx-auto mt-base rtf-page">
  <div class="pb-large">
    <h1 class="text-h-lg mb-0">
      {{ page.title | escape }}
    </h1>
  </div>

  <div class="rtf-content">
    {{ page.content }}
  </div>

  <div>
    {% for block in section.blocks %}
      {% assign image_with_caption = block.settings %}
      <div class="pt-large pb-huge {% if forloop.last %} mb-0{% else %} mb-base{% endif %}">
        {% render 'image-with-caption',
          image: image_with_caption.image,
          caption: image_with_caption.caption,
          caption_size: image_with_caption.caption_type
        %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "media_with_caption",
      "name": "t:sections.main-page.blocks.media_with_caption.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-page.blocks.media_with_caption.settings.image.label"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.main-page.blocks.media_with_caption.settings.caption.label"
        },
        {
          "type": "select",
          "id": "caption_type",
          "options": [
            {
              "value": "small",
              "label": "t:sections.main-page.settings.caption_type.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-page.settings.caption_type.options__2.label"
            }
          ],
          "default": "small",
          "label": "t:sections.main-page.settings.caption_type.label"
        }
      ]
    }
  ]
}
{% endschema %}
