{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{settings.media_shadow_vertical_offset | at_least: 0}}px + 2rem);
    }
  }
{%- endstyle -%}

<div class="collection-hero gradient">
  {% assign collection_nodes = shop.metafields.collection_tree.collection_tree.value.nodes | json %}
  {% assign collection_id = collection.id | append: '' %}
  {% assign collection_data = shop.metafields.collection_tree.collection_tree.value.nodes[collection_id] | json %}
  {{ collection_data }}
  {% assign collection_tree = shop.metafields.collection_tree.collection_tree.value.parentChildren[collection_id]
    | json
  %}
  {{ collection_tree }}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-tree.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-tree.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-tree.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-tree.settings.show_collection_image.label"
    }
  ]
}
{% endschema %}
