{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
  .collection-hero--with-image .collection-hero__inner {
  padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
  }
  }
{%- endstyle -%}

<!--  Decorteヘッダーここから  -->
<div class="cpb-header">
  <h1 class="brand-logo tw-relative tw-mt-4 md:tw-max-w-[900px] md:tw-mx-auto" :style="{ border: 'none' }">
    <a href="/collections/decorte"><img
          class="tw-mx-auto"
          :src="'https://d36vh7pxyzmz4l.cloudfront.net/images/logo/decorte.svg'"
          alt="DECORTÉ | Perfumerie Sukiya" width="300" height="90"></a>
    <img class="tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-w-[60px] md:tw-w-[100px] tw-right-5 md:tw-right-1/4"
         src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/decorte/ourstory/decorte-official-logo.svg"
         alt="ブランド認定正規品取扱店舗 DECORTÉ"
         width="175" height="150"
    >
  </h1>

  <div class="tw-hidden md:tw-flex md:tw-justify-center">
    <div v-for="(item, index) in decorteNavItems" :key="'1_' + index">
      <div
          class="tw-group tw-relative tw-text-left hover:tw-bg-gray-300 tw-bg-black tw-text-white"
          v-if="item.children"
      >
        <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
           :href="item.href">
          ${ item.text }
          <i aria-hidden="true"
             class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
        </a>
        <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-black tw-text-white">
          <div v-for="(child1, index) in item.children" :key="'2_' + index">
            <div
                class="tw-group/nest2 tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-gray-300"
                v-if="child1.children"
            >
              <a :href="child1.href"
                 class="tw-flex tw-items-center tw-text-sm tw-tracking-widest"
              >
                ${child1.text}
                <i aria-hidden="true"
                   class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
              </a>
              <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-black tw-text-white">
                <div v-for="(child2, index) in child1.children" :key="'3_' + index">
                  <a :href="child2.href">
                    <div
                        class="tw-h-10 tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-gray-300 tw-flex tw-items-center tw-text-sm tw-tracking-widest">
                      ${child2.text}
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <a
                v-else
                class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-gray-300 tw-flex tw-items-center tw-text-sm tw-tracking-widest"
                :href="child1.href">
              ${child1.text}
            </a>
          </div>
        </div>
      </div>

      <a
          v-else
          class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-gray-300 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-black tw-text-white"
          :href="item.href"
          :target="item.target"
      >${item.text}
        <i aria-hidden="true"
           class="tw-inline-flex tw-text-2xl tw-leading-none notranslate mdi mdi-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
<!--  Decorteヘッダーここまで  -->

{% schema %}
{
  "name": "コレクションバナーDecorte",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
