<div class="my-mega py-huge min-h-[70vh] flex flex-col gap-huge text-center items-center justify-center">
  <p class="text-h-lg">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="text-h-lg ">
    {{ 'templates.404.title' | t }}
  </h1>
  <a
    href="{{ routes.all_products_collection_url }}"
    class="inline-flex justify-center items-center gap-[10px] rounded-4xl bg-black text-white hover:bg-sky hover:text-white h-[54px] tabletUp:h-huge px-xl py-md btn-sm"
  >
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
