<link rel="stylesheet" href="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/decorte/css/ourstory.css">
<link rel="stylesheet" href="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/decorte/css/vendor/slick.css">
<main class="tw-my-6">
  {{ page.content }}
</main>
