{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="section-{{ section.id }}-padding">
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page-blank.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
