{% for block in section.blocks %}
<h2>{{ block.settings.id }} </h2>
<p> {{ block.settings.id }} </p>

{% endfor %}

{% schema %}
{
  "name": "FAQs",
  "tag": "section",
  "class": "faqs",
  "blocks": [
    {
      "name": "Questions",
      "type": "questions",
      "settings": [
        {
        "type":"text",
        "id":"question",
        "label": "Question"
        },
        {
          "type":"text",
          "id":"answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
