<link rel="stylesheet" href="https://use.typekit.net/dnd4gke.css">
<div class="cpb-story page-width">
  <section class="tw-relative full-width">
    <picture>
      <source media="(max-width: 768px)"
              srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/image_main_23ss_sp.jpg">
      <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/CPB_23SS_LaCreme_Hero.jpg"
           alt="" class="tw-w-full tw-aspect-[1.8] tw-object-cover">
    </picture>
    <p class="cronos tw-absolute tw-top-10 tw-text-center tw-w-full tw-text-white tw-text-xl"><span class="tw-text-2xl">UNLOCK THE ESSENCE</span><br/>
      鍵はあき、輝きが解き放たれる。</p>
  </section>
  <section class="full-width">
    <h3 class="tw-text-center cronos tw-text-3xl tw-mb-6">THE DEDICATION</h3>
    <p class="tw-leading-8 md:tw-leading-10 tw-text-center tw-mb-20">至高への終わりなき挑戦にむけて。<br
          class="sp-only"/>
      研究、開発、クラフトマンシップ。<br/>
      お客さまと出会うすべての場に、<br class="sp-only"/>
      私たちの妥協なき精神は浸透しています。<br/>
      まだ出会ったことのない最高の<br class="sp-only"/>
      スキンケアやカラークリエーションを<br/>
      おとどけし続けるため、決して歩みを<br class="sp-only"/>
      止めることはありません。</p>
  </section>

  <section class="the-brilliance">
    <h3 class="tw-text-center cronos tw-text-3xl tw-mb-8">THE BRILLIANCE</h3>
    <swiper-container
        :space-between="30"
        :speed="1000"
        :autoplay="false"
        :loop="true"
        :navigation="{
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        }"
    >
      <swiper-slide>
        <div class="tw-bg-white">
          <div
              class="tw-mx-auto"
              @click="cpbStory.slider_1 = !cpbStory.slider_1"
          >
            <picture>
              <source
                  srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_21aw_02.jpg"
                  media="(max-width: 768px)">
              <img
                  src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_21aw_02.jpg"
                  alt="">
            </picture>
          </div>
          <div class="slider-description">
            <h4 class="tw-mb-6">THE SKIN ILLUMINATOR<br>イマジネーション閃くカラー</h4>
            <p class="text tw-leading-8 md:tw-leading-10">
              豊かな色彩と陰影。洗練とバランス。<br/>
              光の輝き。<br/>
              クレ・ド・ポー ボーテがめざすのは<br/>
              「すべての瞬間、表情を輝かせること」。<br/>
              それをかなえるのは、光を自在に操る<br/>
              「独自のテクノロジー」と、繊細な<br/>
              色彩やニュアンスを生みだす<br/>
              「カラークリエーション」です。<br/>
              自然やアートからインスピレーション<br/>
              得て生まれる豊かな色彩は、<br/>
              女性の生命力に潜む美しさを<br/>
              引きだし、肌と優美に調和します。
            </p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="tw-bg-white">
          <div class="tw-mx-auto">
            <picture>
              <source
                  srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_20ss_03.jpg"
                  media="(max-width: 768px)">
              <img
                  src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/img_brilliance_20ss_03.jpg"
                  alt="">
            </picture>
          </div>
          <div class="slider-description">
            <h4 class="tw-mb-6">THE EVOLUTION<br>たゆまぬ進化</h4>
            <p class="text tw-leading-8 md:tw-leading-10">
              ラ・クレーム。<br>
              35年前の誕生以来、ハイパフォーマンスクリームの<br>
              先駆者として確かな足跡を残してきました。<br>
              クレ・ド・ポー ボーテ独自の<br>
              ブレインスキン理論の進化によって、<br>
              肌が生まれながらに持つ輝きを限りなく解き放ちます。<br>
              これほどのこだわりと情熱の注がれた<br>
              製品は他にない、唯一無二の存在として、<br>
              今もなおクレ・ド・ポー ボーテの<br>
              スキンケアの頂点を極めます。</p>
            <div class="tw-flex tw-justify-center tw-mt-3">
              <a class="tw-text-center tw-border tw-border-black tw-px-5 tw-py-3"
                 href="https://online.sukiya.biz/products/cle-de-peau-beautella-claim"
              >詳しくはこちらから</a>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="full-width">
    <div class="the-heritage">
      <div>
        <picture>
          <source media="(max-width: 768px)"
                  srcset="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/210114_img_main_03.jpg">
          <img
              src="https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/210114_img_main_03.jpg"
              alt="THE HERITAGE">
        </picture>
      </div>
      <div class="section-title">
        <div class="section-title__inner">
          <h3 class="tw-mb-6">THE HERITAGE</h3>
          <p class="tw-leading-8">プロダクトは、輝きそのものです。<br/>
            すこやかな肌と幸福の鍵を内に秘めた<br/>
            パッケージは、息をのむ美しさ。<br/>
            その、熟練の職人たちが<br class="sp-only">腕を振るうパッケージには、<br/>
            歴史ある日本のクラフツマンシップ、<br class="sp-only">デザイナーの価値観、<br/>
            そして完璧さへのこだわりが<br class="sp-only">映し出されています。</p>
        </div>
      </div>
    </div>
  </section>
  <section class="story-recommend">
    <div class="tw-my-12">
      <h3 class="tw-text-center tw-text-2xl">商品のご紹介</h3>
      <div class="recommend-list tw-grid tw-grid-cols-2 md:tw-grid-cols-3 tw-gap-4">
        <!--商品リスト▼-->
        {% for product in collections['cpb-story-recommend'].products %}
          <a href="{{ product.url }}">
            <img class="tw-aspect-square tw-object-contain" src="{{ product.featured_image | image_url }}" alt="">
            <div class="tw-tracking-wider">
              <p class="tw-text-xs tw-leading-6">クレ・ド・ポー ボーテ<br/>
                {{ product.title }}<br/>
                <span class="tw-text-sm tw-font-bold">{{ product.price | money }}円</span></p>
            </div>
          </a>
        {% endfor %}
        <!--商品リスト▲-->
      </div>
    </div>
  </section>
  {% render 'sp-navigation-cpb' %}
  <div class="tw-flex tw-justify-center">
    <a class="tw-text-center tw-bg-black tw-text-white tw-px-8 tw-py-3" href="/collections/cle-de-peau-beaute">クレ・ド・ポー
      ボーテ トップへ戻る</a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
