<div class="grid">
  {% for link in section.settings.menu.links %}
    <details>
      <summary>{{ link.title }}</summary>
      {% for childlink in link.links %}
        <details>
          <summary>{{ childlink.title }}</summary>
          <ul>
            {% for evenchildishlink in childlink.links %}
              <li>{{ evenchildishlink.title }}</li>
            {% endfor %}
          </ul>
        </details>
      {% endfor %}
    </details>
  {% endfor %}
</div>
{% schema %}
{
  "name": "navbar_menu",
  "class": "section-navbar",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "navbar_menu"
    }
  ]
}
{% endschema %}
