<div class="mt-40 flex flex-col gap-12 sm:flex-row">
    <img class="sm:w-1/2 object-cover" src="{{ section.settings.referrals_image | img_url: '1500x' }}" width="" height="">
    <div class="sm:w-1/2 text-center">
        <div id="oke-loyalty-referrals" data-oke-referrals-widget></div>
    </div>
</div>

{% schema %}
{
    "name": "Loyalty Referrals",
    "settings": [
        {
            "type": "image_picker",
            "id": "referrals_image",
            "label": "Referrals Image",
        }  
    ],
    "presets": [
        {
            "name": "Loyalty Referrals"
        }
    ]
}
{% endschema %}
