{% schema %}
{
  "name": "Loyalty Redeem",
  "settings": [
    {
      "type": "text",
      "label": "Row Heading",
      "id": "row_heading",
      "default": "Use Your Points"
    },
  ],
  "presets": [
    {
      "name": "Loyalty Redeem"
    }
  ]
}
{% endschema %}

<div class="mt-20 container mx-auto px-10">
  <h1 class="text-xl text-center">{{ section.settings.row_heading }}</h1>
  <div data-oke-loyalty-redeem></div>
</div>
