<div class="bg-[#E4E4E4]">
  <div class="container py-28 px-10 mx-auto">
    <h1 class="text-xl text-center my-0">{{ section.settings.row_heading }}</h1>
    <div class="mt-8" data-oke-loyalty-faq></div>
  </div>
</div>

{% schema %}
{
  "name": "Loyalty FAQ Section",
  "settings": [
    {
      "type": "text",
      "label": "Row Heading",
      "id": "row_heading",
      "default": "FAQs"
    },
    {
      "type": "paragraph",
      "content": "NOTE: Editing of FAQ content can be found in the Okendo Admin > Loyalty > Settings > Program FAQ"
    }
  ],
  "presets": [
    {
      "name": "Loyalty FAQ Section"
    }
  ]
}
{% endschema %}
