{% if customer %}
    {% assign heading = section.settings.row_heading_li | replace: '{{ customer.first_name }}', customer.first_name %} 
    {% assign paragraph = section.settings.row_paragraph_li %}
{% else %}
    {% assign heading = section.settings.row_heading_lo %}
    {% assign paragraph = section.settings.row_paragraph_lo %}
{% endif %}

<div class="min-h-288 c-bg bg-cover bg-center text-center sm:text-left flex flex-col justify-center" style="background-image: url('{{ section.settings.toprow_image | img_url: '1920x' }}');">
    <div class="container mx-auto px-10">
        <h1 class="text-white text-xl sm:text-2xl mb-0">{{ heading }}</h1>
        <p class="text-white">{{ paragraph }}</p>
        {% unless customer %}
            <div class="flex justify-center sm:justify-start gap-10 mt-12">
                <a href="/account/login" class="text-white border font-medium border-white hover:outline-2 rounded-lg py-6 px-16 sm:px-19 no-underline">Sign In</a>
                <a href="/account/register" class="text-white border font-medium border-white hover:outline-2 rounded-lg py-6 px-16 sm:px-19 no-underline">Create an Account</a>
            </div>
        {% endunless %}
    </div>
</div>

{% schema %}
{
    "name": "Loyalty Top Row",
    "settings": [
        {
            "type": "image_picker",
            "id": "toprow_image",
            "label": "Top Row Image Desktop",
        },
        {
            "type": "header",
            "content": "LOGGED IN SETTINGS:"
        },
        {
            "type": "text",
            "label": "Heading",
            "id": "row_heading_li",
            "default": "The Normal Brand Rewards"
        },
        {
            "type": "text",
            "label": "Paragraph",
            "id": "row_paragraph_li",
            "default": "Paragraph"
        },
        {
            "type": "header",
            "content": "LOGGED OUT SETTINGS:"
        },
        {
            "type": "text",
            "label": "Heading",
            "id": "row_heading_lo",
            "default": "Heading"
        },
        {
            "type": "text",
            "label": "Paragraph",
            "id": "row_paragraph_lo",
            "default": "Paragraph"
        },
    ],
    "presets": [
        {
            "name": "Loyalty Top Row"
        }
    ]
}
{% endschema %}
