<div class="container mx-auto px-10">
  {% if customer %}
    <div data-oke-loyalty-profile></div>
  {% endif %}
</div>

{% schema %}
{
    "name": "Loyalty Profile",
    "settings": [],
    "presets": [
        {
            "name": "Loyalty Profile"
        }
    ]
}
{% endschema %}
