{{ 'orange-book.css' | asset_url | stylesheet_tag }}

<div class="wrapper orange-book">
  <iframe
    class="orange-book"
    src="https://cdn.shopify.com/s/files/1/0943/5250/7206/files/Orange_Book_-_Preview.pdf?v=1751449232"
  ></iframe>
</div>

{% schema %}
{
  "name": "Orange Book",
  "tag": "section",
  "class": "orange-book",
  "blocks": [
    {
      "type": "text_block",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Your text here"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "Orange Book",
      "category": "Custom"
    }
  ]
}
{% endschema %}
