{{ 'orange-book.css' | asset_url | stylesheet_tag }}

<h2 class="orange-book-title">{{ section.settings.section_heading }}</h2>
<div class="wrapper orange-book">
  <iframe
    src="https://publuu.com/flip-book/917532/2010680/page/1?embed&transparent"
    width="100%"
    height="380"
    scrolling="no"
    frameborder="0"
    allow="clipboard-write; autoplay; fullscreen"
    class="publuuflip"
  ></iframe>
</div>

{% schema %}
{
  "name": "Orange Book",
  "tag": "section",
  "class": "orange-book",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    }
  ]
}
{% endschema %}
