{{ 'orange-book.css' | asset_url | stylesheet_tag }}

<div class="wrapper orange-book">
  <div class="swiper">
    <div class="swiper-wrapper" id="swiper-wrapper"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<!-- PDF.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>

<script src="{{ 'orange-book.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Orange Book",
  "tag": "section",
  "class": "orange-book"
}
{% endschema %}
