<div class="page-width">
    <div class="custom-page custom-page--custom">
        {{ page.content }}
    </div>
</div>

{% schema %}
    {
        "name": "🔰 Custom Page",
        "tag":"section"
    }
{% endschema %}
