{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div id="rtf-page" class="w-full px-base md:px-0 max-w-[720px] mx-auto mt-base rtf-page">
  <div class="rtf-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page-content.name",
  "tag": "section",
  "class": "section",
  "enabled_on": { "templates": ["page"] },
  "presets": [
    {
      "name": "t:sections.page-content.presets.name"
    }
  ]
}
{% endschema %}
