<div class="custom-section">
    <div class="custom-section__bg-container">
        <div class="page-width">
            <div class="custom-page custom-page--custom">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "🔰 Custom Page",
        "tag":"section"
    }
{% endschema %}
