{% assign logos_mobile = "logo-ard-black.liquid, logo-pro7-black.liquid, logo-instyle-black.liquid, logo-welt-black.liquid" | split: ", " %}
{% assign logos_desktop = "logo-ard-black.liquid, logo-cosmopolitan-black.liquid, logo-sueddeutsche-black.liquid, logo-rtl-black.liquid" | split: ", " %}

<div class="bg-grey py-7 py-md-9">
  <div class="SectionGrid ndesktop pt-0 pt-md-7 pb-0 pb-md-10">
    <div class="anthracite flex row jc-spa ai-c">
      <p class="ff-heading fw-500 fs-1 fs-md-4 lh-136 anthracite mb-7">
        Bekannt aus
      </p>
    </div>
    <div class="flex row jc-spa ai-c">
      {% for logo in logos_mobile %}
        {% render {{ logo }} %}
      {% endfor %}
    </div>
  </div>
  <div class="SectionGrid desktopgrid anthracite">
    <div class="SectionGrid-Wide flex row jc-spa ai-c py-4">
      <p class="ff-heading anthracite fw-400 fs-4 lh-100">
        Bekannt aus
      </p> 
      {% for logo in logos_desktop %}
        {% render {{ logo }} %}
      {% endfor %}
    </div>
  </div>
</div>