{{ 'presse-logos.css' | asset_url | stylesheet_tag }}

<div class="bg-grey py-7 py-md-9">
  <div class="SectionGrid ndesktop pt-0 pt-md-7 pb-0 pb-md-10">
    <div class="anthracite flex row jc-spa ai-c">
      <p class="ff-heading fw-500 fs-1 fs-md-4 lh-136 anthracite mb-7">
        Bekannt aus
      </p>
    </div>
    <div class="flex row jc-spa ai-c">
      <figure class="mh-100 ard">
        {% render 'logo-ard-black.liquid' %}
      </figure>
      <figure class="mh-100 pro7">
        {% render 'logo-pro7-black.liquid' %}
      </figure>
      <figure class="mh-100 instyle">
        {% render 'logo-instyle-black.liquid' %}
      </figure>
      <figure class="mh-100 welt">
        {% render 'logo-welt-black.liquid' %}
      </figure>
    </div>
  </div>
  <div class="SectionGrid desktopgrid anthracite">
    <div class="SectionGrid-Wide flex row jc-spa ai-c py-4">
      <p class="ff-heading anthracite fw-400 fs-4 lh-100" style="flex-basis: 130px; flex-grow: 0; flex-shrink: 0;">
        Bekannt aus
      </p> 
        <figure class="mh-100 ard">
          {% render 'logo-ard-black.liquid' %}
        </figure>
        <figure class="mh-100 cosmopolitan">
          {% render 'logo-cosmopolitan-black.liquid' %}
        </figure>
        <figure class="mh-100 sueddeutsche">
          {% render 'logo-sueddeutsche-black.liquid' %}
        </figure>
        <figure class="mh-100 rtl">
          {% render 'logo-rtl-black.liquid' %}
        </figure>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Presselogos",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "presets": [
    {
      "name": "Presselogos"
    }
  ]
}
{% endschema %}