{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{% assign testimonials =  product.metafields.my_fields.testimonials.value %}
{% if testimonials != blank %}
  <div class="product-testimonials">
    <h2 class="center">What are people saying about the {{ product.title }}</h2>
    <ul class="grid grid--1-col grid--2-col-desktop" role="list">
      {% for testimonial in testimonials %}
        <li class="grid__item">
            <div class="product">
                <div class="rating" role="img" aria-label="5.0 out of 5.0 stars">
                  <span aria-hidden="true" class="rating-star color-icon-accent-2" style="--rating: 5; --rating-max: 5.0; --rating-decimal: 0;"></span>
                </div>
                <div class="rte mb-5">
                  <p>"
                    {{ testimonial.text }}
                    "</p>
                  <span class="bold">{{ testimonial.name }}</span>
                </div>
              </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}


{% schema %}
{
  "name": "Product Testimonials",
  "tag": "section",
  "class": "spaced-section page-width",
  "settings": [],
  "presets": [
    {
      "name": "Product Testimonials"
    }
  ]
}
{% endschema %}