{{ 'smshr-product.css' | asset_url | stylesheet_tag }}

<div class="desktopUp:w-[59.26%] px-base mt-9 tabletUp:mt-meg flex flex-col gap-mega">
  <div>
    <h3 class="text-t-md mb-base">Description</h3>

    <div class="text-body-sm leading-5">
      {{ product.description }}
    </div>
  </div>

  <div>
    {% assign branded_content = product.metafields.custom.branded_content.value %}

    <div class="w-full mb-base">
      <img
        src="{{ branded_content.image | image_url: width: 640 }}"
        class="w-full h-full aspect-auto"
        width=""
        height=""
        loading="lazy"
      >
    </div>

    <p class="text-t-lg">
      {{ branded_content.content }}
    </p>
  </div>
</div>
