{% assign product_form_id = 'product-form-' | append: section.id %}

{{ collections.first.products_count | default: 0 }}

{% for product in collections.first.products %}
  {{ product.title }}
{% endfor %}

<div class="flex flex-wrap gap-y-large justify-between">
  <div class="desktopUp:basis-[59.26%]">
    {% render 'product-image-carousel' %}
  </div>

  <div class="px-base desktopUp:basis-[33.3%] desktopUp:px-0 ">
    {% render 'title-price' %}

    {% render 'product-variant-select', product: product, product_form_id: product_form_id %}

    {% render 'delivery-option', availability: 'in_stock' %}

    {% render 'product-cta' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.smshr-product-detail.name",
  "tag": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "t:sections.smshr-product-detail.presets.name"
    }
  ],
  "settings": []
}
{% endschema %}
