{{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
{{ 'splide-data.css' | asset_url | stylesheet_tag }}

{% assign product_form_id = 'product-form-' | append: section.id %}

<div class="flex flex-wrap gap-y-large justify-between">
  <div class="basis-[59.26%]">
    {% render 'product-image-carousel' %}
  </div>

  <div class="px-base desktopUp:basis-[33.3%] desktopUp:px-0 ">
    {% render 'title-price' %}

    {% render 'product-variant-select', product: product, product_form_id: product_form_id %}

    {% render 'delivery-option', availability: 'in_stock' %}

    {% render 'product-cta' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.smshr-product-detail.name",
  "tag": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "t:sections.smshr-product-detail.presets.name"
    }
  ],
  "settings": []
}
{% endschema %}

{% if product.media.size > 0 %}
  <script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'splide-data.js' | asset_url }}" defer="defer"></script>
{% endif %}
