{% comment %}
  Branded content
  Renders branded content for PDP.
  Accepts:
  - product: {Object} product object.

  Usage:
  {% render 'product-branded-content', product:product  %}
{% endcomment %}

{% assign branded_content = product.metafields.custom.branded_content.value %}

<div>
  <div class="w-full mb-base">
    <img
      src="{{ branded_content.image | image_url: width: 640 }}"
      class="w-full h-full aspect-auto"
      width=""
      height=""
      loading="lazy"
    >
  </div>

  <p class="text-t-lg">
    {{ branded_content.content }}
  </p>
</div>
