{% assign product_form_id = 'product-form-' | append: section.id %}

<div class="flex flex-wrap gap-y-large justify-between lg:mb-0">
  <div class="w-full lg:w-[59.26%]">
    {% render 'product-image-carousel' %}
  </div>

  <div class="w-full px-base lg:w-[33.3%] lg:px-0">
    {% render 'title-price' %}

    {% render 'product-variant-select', product: product, product_form_id: product_form_id %}

    {% render 'delivery-option', availability: 'in_stock' %}

    {% render 'product-cta' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.smshr-product-detail.name",
  "tag": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "t:sections.smshr-product-detail.presets.name"
    }
  ],
  "settings": []
}
{% endschema %}
