{% if recommendations.products_count > 0 %}
  <div class="product-recommendations">
    <ul class="grid product-grid grid--2-col grid--4-col-desktop">
      {%- for product in recommendations.products -%}
        <li class="grid__item">
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: 'square',
            show_secondary_image: false,
            show_vendor: false,
            show_rating: false
          %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
{% endif %}
