{{ 'smshr-product.css' | asset_url | stylesheet_tag }}

<div class="flex flex-wrap gap-y-large justify-between">
  <div class="desktopUp:basis-[59.26%] grow-0 product_desc px-base mt-9 tabletUp:mt-mega">
    {{ product.description }}

    <div>
      {% comment %} add tiktok wrapper {% endcomment %}
    </div>

    <div>
      {% comment %} add more info {% endcomment %}
    </div>
  </div>
</div>
