<link rel="stylesheet" href="{{ 'product-carousel.css' | asset_url }}">
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="section-container page-width carousel-section">

  <h2 class="section-title carousel__title">{{ section.settings.title }}</h2>

  <div class="carousel product-slider-carousel"
    data-flickity='{ 
      "cellAlign": "left",
      "pageDots": false
    }'>
    {%- for product in section.settings.collection.products limit: section.settings.number_of_products -%}

      <div class="carousel-cell">
        {% render 'product-card--carousel',
          product: product,
          media_size: section.settings.image_ratio,
          show_secondary_image: section.settings.show_secondary_image,
          add_image_padding: section.settings.add_image_padding,
          show_vendor: section.settings.show_vendor,
          show_image_outline: section.settings.show_image_outline,
          show_rating: section.settings.show_rating
        %}
      </div>

    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Product slider",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Product Carousel"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "range",
      "id": "number_of_products",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 10,
      "label": "Number of products"
    }
  ]
}
{% endschema %}