{% liquid 
  case section.settings.color_scheme
    when 'background-1'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
    when 'background-2'
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_2
    when 'inverse'
      assign tagBackground = settings.colors_background_1
      assign tagForeground = settings.colors_text
    when 'accent-1'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_1
    when 'accent-2'
      assign tagBackground = settings.colors_solid_button_labels
      assign tagForeground = settings.colors_accent_2
    else
      assign tagBackground = settings.colors_text 
      assign tagForeground = settings.colors_background_1
  endcase
%}

<div class="SectionGrid py-11 color-{{ section.settings.color_scheme }}">
  <div class="SectionGrid-Narrow">
    <div class="flex {% if section.settings.imagePosition == 'left' %}row {% else %}row-reverse {% endif %} wrap flex-1">
      <div class="mnw-220px flex-1 ofh">
        <img src="{{ section.settings.image | img_url: '600x' }}" alt="{{ section.settings.image.alt | escape }}" class="w-100p pb-100p h-auto cover mx-5 mx-md-0 mt-0 mt-md-5 inlblock" loading="lazy" width="600" height="600">
      </div>
      <div class="richtxt mnw-250px flex-1 pt-8 ml-5 {% if section.settings.imagePosition == 'left' %}ml-lg-7 mr-5 mr-lg-0{% else %}ml-lg-0 mr-0 mr-md-5 mr-lg-7{% endif %}">
          {{ section.settings.blockText }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Richtext mit Bild",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "Farbschema"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Bild"
    },
    {
      "type": "select",
      "id": "imagePosition",
      "options": [
        {
          "value": "left",
          "label": "links"
        },
        {
          "value": "right",
          "label": "rechts"
        }
      ],
      "default": "left",
      "label": "Position des Bildes"
    },
    {
      "type": "richtext",
      "id": "blockText",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "buttonDesign",
      "default": "outlined",
      "label": "Layout des Buttons",
      "options": [
        {
          "value": "outlined",
          "label": "nur Kontur"
        },
        {
          "value": "filled",
          "label": "ausgefüllt"
        }
      ]
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Aufschrift des Buttons"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Linkziel des Buttons"
    }
  ],
  "presets": [
    {
      "name": "Richtext mit Bild",
      "settings": {
        "color_scheme": "background-1",
        "imagePosition": "left",
        "buttonDesign": "outlined"
      }
    }
  ]
}
{% endschema %}
