{% unless section.blocks.size == 0 %}
  <div
    class="my-large w-full max-w-[720px] mx-auto flex flex-col gap-base"
  >
    {% for block in section.blocks %}
      <div class="pb-large flex gap-base flex-wrap">
        <div class="rtf-table">
          {{ block.settings.content_1 }}
        </div>

        <div class="rtf-table">
          {{ block.settings.content_2 }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.rtf-table.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "blocks": [
    {
      "type": "table_block",
      "name": "t:sections.rtf-table.blocks.table_block.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content_1",
          "label": "t:sections.rtf-table.blocks.table_block.settings.content_1.label"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "t:sections.rtf-table.blocks.table_block.settings.content_2.label"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "t:sections.rtf-table.presets.name",
      "blocks": [
        {
          "type": "table_block"
        },
        {
          "type": "table_block"
        }
      ]
    }
  ]
}
{% endschema %}
