{{ 'rtf-table.css' | asset_url | stylesheet_tag }}

{% unless section.blocks.size == 0 %}
  <div
    class="my-large w-full max-w-[720px] mx-auto flex flex-col gap-base"
  >
    <table class="border-collapse w-full table-fixed  border-t border-t-grey100">
      {% for block in section.blocks %}
        <tr class="border-b py-large border-b-grey100 flex gap-base w-full">
          <td class="rtf-table w-full">
            {{ block.settings.content_1 }}
          </td>

          <td class="rtf-table w-full">
            {{ block.settings.content_2 }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.rtf-table.name",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"]
  },
  "blocks": [
    {
      "type": "table_block",
      "name": "t:sections.rtf-table.blocks.table_block.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content_1",
          "label": "t:sections.rtf-table.blocks.table_block.settings.content_1.label"
        },
        {
          "type": "richtext",
          "id": "content_2",
          "label": "t:sections.rtf-table.blocks.table_block.settings.content_2.label"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "t:sections.rtf-table.presets.name",
      "blocks": [
        {
          "type": "table_block"
        },
        {
          "type": "table_block"
        }
      ]
    }
  ]
}
{% endschema %}
