<style>
  .sections-divider {
    width: 100%;
    overflow: hidden;
    margin: 50px 0;
  }

  .sections-divider svg {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (max-width: 1024px) {
    .sections-divider {
      margin: 20px 0;
    }
  }
</style>

<div class="sections-divider">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 85"
    fill="none"
    stroke="#D6BCA3"
    stroke-width="10"
  >
    <path d="M0 42.5C68.5714 -7.5 137.143 -7.5 205.714 42.5C274.286 92.5 342.857 92.5 411.429 42.5C480 -7.5 548.571 -7.5 617.143 42.5C685.714 92.5 754.286 92.5 822.857 42.5C891.429 -7.5 960 -7.5 1028.57 42.5C1097.14 92.5 1165.71 92.5 1234.29 42.5C1302.86 -7.5 1371.43 -7.5 1440 42.5" stroke="#D6BCA3" stroke-width="10"/>
  </svg>
</div>
