<style>
  .selling-points {
    position: relative;
    width: 100%;
    height: 75px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--chocolate-cosmos);
    box-sizing: border-box;
    z-index: 10;
  }

  .marquee-content {
    display: inline-flex;
    gap: 60px;
    background-color: var(--chocolate-cosmos);
    animation: scroll-horizontal 40s linear infinite;
  }

  .feature {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    color: var(--old-lace);

    & p,
    i {
      font-size: 20px;
      color: var(--old-lace);
      white-space: nowrap;
    }
  }

  @keyframes scroll-horizontal {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>

<section class="selling-points">
  <div class="marquee-content">
    <div class="feature">
      <i data-lucide="heart"></i>
      <p>Handcrafted with love</p>
    </div>
    <div class="feature">
      <i data-lucide="package"></i>
      <p>Packaged with care</p>
    </div>
    <div class="feature">
      <i data-lucide="smile"></i>
      <p>Happiness in every bite</p>
    </div>
    <div class="feature">
      <i data-lucide="leaf"></i>
      <p>Freshness Guaranteed</p>
    </div>
    <div class="feature">
      <i data-lucide="clock-fading"></i>
      <p>Perfect for any occasion</p>
    </div>
    <div class="feature">
      <i data-lucide="heart"></i>
      <p>Handcrafted with love</p>
    </div>
    <div class="feature">
      <i data-lucide="package"></i>
      <p>Packaged with care</p>
    </div>
    <div class="feature">
      <i data-lucide="smile"></i>
      <p>Happiness in every bite</p>
    </div>
    <div class="feature">
      <i data-lucide="leaf"></i>
      <p>Freshness Guaranteed</p>
    </div>
    <div class="feature">
      <i data-lucide="clock-fading"></i>
      <p>Perfect for any occasion</p>
    </div>
  </div>
</section>
