<section class="standard">
  <article>
    <a name="bottlings"></a>
    <h3>Oor bottlings</h3>
    <p>As well as letting people have their own whisky, we also enjoy bottling some ourselves from time to time.</p>
    <ul class="product-list">
      <li>
        <a href="bottle.html" style="background-image: url(images/shop/yerauntfannyscatsarsehole01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Yer Aunt Fanny's</h4>
            <div class="reveal">
              <p>Blended Malt Scotch Whisky</p>
              <sup class="buy pulse">£35.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="bottle.html" style="background-image: url(images/shop/theweemansblend01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>The Wee Man's Blend</h4>
            <div class="reveal">
              <p>Blended Malt Scotch Whisky</p>
              <sup class="buy pulse">£35.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="bottle.html" style="background-image: url(images/shop/grassandwater01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Just Grass &amp; Water</h4>
            <div class="reveal">
              <p>Single Malt Scotch Whisky</p>
              <sup class="buy pulse">£45.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="bottle.html" style="background-image: url(images/shop/braxtoncrackers01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Attack &amp; Die</h4>
            <div class="reveal">
              <p>Blended Malt Scotch Whisky</p>
              <sup>Out of stock</sup>
            </div>
          </span>
        </a>
      </li>
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Bottles",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
