<section class="banding">
  <article class="max">
    <a name="other-stuff"></a>
    <h3>Claes an' hings</h3>
    <ul class="product-list">
      <li>
        <a href="product.html" style="background-image: url(images/shop/idrinkwhisky01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>I Drink Whisky tee</h4>
            <div class="reveal">
              <p>Black T-shirt</p>
              <sup class="buy pulse">£25.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="product.html" style="background-image: url(images/shop/jotter01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Tasting Notes jotter</h4>
            <div class="reveal">
              <p>76 page soft cover notepad</p>
              <sup class="buy pulse">£3.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="product.html" style="background-image: url(images/shop/acrospire01.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Acrospire tee</h4>
            <div class="reveal">
              <p>Baseball T-shirt with long red sleeves</p>
              <sup>Out of stock</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="product.html" style="background-image: url(images/shop/stagandfalcon.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Stag and Falcon cap</h4>
            <div class="reveal">
              <p>Embroidered petrol trucker hat</p>
              <sup>Out of stock</sup>
            </div>
          </span>
        </a>
      </li>
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Clothes",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
