<section class="banding">
  <article class="max">
    <a name="credit"></a>
    <h3>Gift credit</h3>
    <p>
      We'll email you a voucher to print off, fold up and hand over to that special whisky person in your life. They
      visit the site, blend their bottle and enter voucher to deduct your gift credit from their total.
    </p>
    <ul class="product-list">
      <li>
        <a href="voucher.html" style="background-image: url(images/shop/love-card.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Show love</h4>
            <div class="reveal">
              <p>Printable gift voucher</p>
              <sup class="buy pulse">From £50</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="voucher.html" style="background-image: url(images/shop/thanks-card.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Say thanks</h4>
            <div class="reveal">
              <p>Printable gift voucher</p>
              <sup class="buy pulse">From £50</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="voucher.html" style="background-image: url(images/shop/old-card.jpg)">
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Celebrate</h4>
            <div class="reveal">
              <p>Printable gift voucher</p>
              <sup class="buy pulse">From £50</sup>
            </div>
          </span>
        </a>
      </li>
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Gift",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
