{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customer_inventables.css' | asset_url | stylesheet_tag }}

<div class="login-container">
  <div class="inventables__shopify-login__flash-message">
    You are being redirected to login.
    <span id="redirect" style="display: none">Click <a class="link link--text" href="">here</a> if you are not redirected.</span>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    let searchParams = new URLSearchParams(window.location.search);
    let destination = "{{ shop.metafields.development.local_address }}/shopify/logout?" + searchParams.toString();
    window.location.href = destination;
    let redirect = document.getElementById('redirect');
    redirect.style.removeProperty('display');
    redirect.querySelector('a').href = destination;
  });
</script>
