<section class="header-image tight-header mid-header">
  <a name="subscriptions"></a>
  <h2>
    Malt of <br>
    the month
  </h2>
  <video autoplay="" muted="" loop="" playsinline="" poster="video/cran-bg.jpg">
    <source src="video/cran-bg.mp4" type="video/mp4">
    <source src="video/cran-bg.webm" type="video/webm">
  </video>
</section>
<section class="standard">
  <article class="upwards">
    <p>
      How would you like to get a wee bottle of something special through the mail every month? Sign up to our "Malt of
      the Month" subscription service and each month we'll post you out a 20cl bottle of single cask single malt Scotch
      whisky.
    </p>
    <p class="help">
      You can manage your subscription by setting up an account with us. Then simply log in anytime to manage your
      subscription, pause it, or cancel when you no longer want it.
    </p>
    <p>
      <button onclick="location.href='basket.html';" class="pulse">£35 a month</button>
    </p>
    <p>
      <button onclick="location.href='login.html';" class="secondary-button">Log in</button>
    </p>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop hero banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
