<div class="basket">
  <!-- add "empty" class unless if empty -->
  <button>Basket <sup class="pulse">2</sup></button>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Basket floating icon",
  "presets": [{ "name": "Shop Basket Icon" }],
  "tag": "section"
}
{% endschema %}
