<section class="standard">
  <article>
    <a name="single-cask"></a>
    <h3>Label your own single cask bottle</h3>
    <p>
      We have are always in search of great tasting casks to draw from in order to give you the rare opportunity to name
      and own a bottle of Scotch whisky. Since these are bottled from single casks, once they're all sold, that's all
      there'll ever be of that whisky!
    </p>
    <p class="help">You should also check out the <a href="#subscriptions">Malt of the Month</a> subscription.</p>
    <ul class="product-list">
      <li>
        <a href="label.html" style="background-image: url(images/shop/cask3.jpg)">
          <div class="counter">
            <span class="no-bottles">49</span><span class="out-of">/200</span>
            <span class="bottles-left">bottles left</span>
          </div>
          <img src="images/square.gif" width="100" height="100">
          <span class="deetz">
            <h4>Speyside 23 years old</h4>
            <div class="reveal">
              <p>Single Malt Scotch Whisky</p>
              <sup class="buy pulse">£75.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="label.html" style="background-image: url(images/shop/cask2.jpg)">
          <div class="counter">
            <span class="no-bottles">129</span><span class="out-of">/200</span>
            <span class="bottles-left">bottles left</span>
          </div>
          <img src="images/square.gif" width="100" height="100">
          <span class="deetz">
            <h4>Highland 17 years old</h4>
            <div class="reveal">
              <p>Single Malt Scotch Whisky</p>
              <sup class="buy pulse">£50.00</sup>
            </div>
          </span>
        </a>
      </li>
      <li>
        <a href="label.html" style="background-image: url(images/shop/cask1.jpg)">
          <div class="counter sold-out">
            <span class="no-bottles">0</span><span class="out-of">/200</span>
            <span class="bottles-left">bottles left</span>
          </div>
          <img src="images/square.gif">
          <span class="deetz">
            <h4>Lowland 12 years old</h4>
            <div class="reveal">
              <p>Single Malt Scotch Whisky</p>
              <sup>Out of stock</sup>
            </div>
          </span>
        </a>
      </li>
    </ul>
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  {
  }
{% endjavascript %}

{% schema %}
{
  "name": "Shop Sigle Cask ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "webp_url",
      "label": "WebP URL"
    }
  ],
  "presets": [{ "name": "Shop Hero Banner" }],
  "tag": "section",
  "blocks": [
    {
      "name": "Shop Options",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
