<div id="{{ section.id }}">
  {% assign teaser = section.settings %}
  {% render 'small-teaser', image: teaser.image, title: teaser.title, url: teaser.url, variant: teaser.variant %}
</div>

{% schema %}
{
  "name": "t:sections.small-teaser.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Teamsports",
      "label": "t:sections.small-teaser.settings.title.label"
    },
    {
      "type": "select",
      "id": "variant",
      "options": [
        {
          "value": "small",
          "label": "t:sections.small-teaser.settings.variant.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.small-teaser.settings.variant.options__2.label"
        }
      ],
      "default": "small",
      "label": "t:sections.small-teaser.settings.variant.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.small-teaser.settings.image.label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:sections.small-teaser.settings.url.label",
      "info": "t:sections.small-teaser.settings.url.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.small-teaser.presets.name"
    }
  ]
}
{% endschema %}
