{{ 'spacer-block.css' | asset_url | stylesheet_tag }}

<div class="spacer-block color-{{ section.settings.color_scheme }}">
  {% if section.settings.show_line == 'yes' %}
    <div class="page-width">
      <hr class="divider">
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Spacer Block",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "radio",
      "id": "show_line",
      "label": "Show divider?",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spacer Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}
