<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<div class="page-width">
  <div id="embed-iframe"></div>
</div>

<script>

  window.onSpotifyIframeApiReady = (IFrameAPI) => {
  let element = document.getElementById('embed-iframe');
  let options = {
      uri: 'spotify:episode:7makk4oTQel546B0PZlDM5'
    };
  let callback = (EmbedController) => {};
  IFrameAPI.createController(element, options, callback);
};
</script>


{% schema %}
  {
    "name": "Spotify",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}