
<div class="page-width">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/602rAkHAZiAsKB8BcxEiCM?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  
</div>

<script>

  
</script>


{% schema %}
  {
    "name": "Spotify",
    "settings": [],
	"presets": [
		{
		"name": "Spotify"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}