
<div class="page-width">
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/525NKU3UFgZQtCXWBWE0al?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  
</div>

<script>

  
</script>


{% schema %}
  {
    "name": "Spotify",
    "settings": [
      {
      "type": "html",
      "id": "spotify",
      "label": "Spotify"
      }
    ],
	"presets": [
		{
		"name": "Spotify"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}