
<div class="page-width">
  <div class="spotify-embaded-wrap">{{ section.settings.spotify }}</div>
</div>

<script>

  
</script>


{% schema %}
  {
    "name": "Spotify",
    "settings": [
      {
      "type": "html",
      "id": "spotify",
      "label": "Spotify"
      }
    ],
	"presets": [
		{
		"name": "Spotify"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}