{% comment %}    
/**************************************************
* DO NOT MODIFY THIS FILE!!!                      *
* IT WILL BE OVERWRITTEN BY UPDATES FROM GROWAVE! *
**************************************************/
{% endcomment %}    
<div class="ssw-instagram-feed-wrap container page-width">
    <div class="section clearfix">
      <div class="sixteen columns">
        <div class="clearfix placeholder-instagram">
          <div class="ssw-html-widget ssw-instagram-widget" data-module="service"  data-name="instagramPhotos" {{section.settings.option_galleries_id}}>
            <div class="ssw-page-loading">
              <span class="ssw-spin ssw-loader"></span>
            </div>
          </div>    
        </div>
      </div>
    </div>
</div>
{% schema %}
{
    "name": "Shoppable Instagram",
    "class": "ssw-instagram-section",
    "settings": [
        {
            "type": "select",
            "id": "option_galleries_id",
            "options": [
                {
                    "value": "0",
                    "label": "No galleries"
                }
            ],
            "label": "Choose gallery"
        }
    ],
    "presets": [
        {
            "name": "Shoppable Instagram",
            "category": "Image"
        }
    ]
}
{% endschema %}