<style>
  .fixed-sticky-cart {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background: #fff;
    padding-top: 5px;
    /* border-top: 1px solid #e2e2e2; */
    height: auto !important;
    width: 100%;
    /*max-width: 500px;*/
    margin: auto;
    left: 0;
    right: 0;
    padding: 20px 20px 20px;
    transition: bottom .4s ease-in-out;
    padding: 20px 20px 26px;
    -webkit-box-shadow: 0 -4px 8px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 -4px 8px rgba(0,0,0,.2);
    box-shadow/* Start code Code */: 0 -4px 8px rgb(0 0 0 / 20%);
    }
</style>

<div id="shopify-section-sticky-add-to-cart" class="shopify-section">
  <div class="announcement-bar color-background-1 gradient" role="region" aria-label="Anuncio">
    <p class="announcement-bar__message h5" style="background:yellow !important">
      Intentando hacer un Add to cart {{ template }}
    </p>
  </div>
</div>
<script>
  

  function stickyAddtoCartButton(customWidth) {
    var offSetTop = document.getElementById('shopify-section-sticky-add-to-cart').offset().top;
    
    if (customWidth.matches) { // If media query matches
      window.onscroll = function() {
          //if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
          if ((window.innerHeight + window.scrollY) > offSetTop) {
            document.getElementById('shopify-section-sticky-add-to-cart').classList.add('fixed-sticky-cart');
          } else {
            document.getElementById('shopify-section-sticky-add-to-cart').classList.remove('fixed-sticky-cart');
          }
        }
    };
  }

  let customWidth = window.matchMedia("(max-width: 700px)");

  stickyAddtoCartButton(customWidth) // Call listener function at run time
  customWidth.addListener(stickyAddtoCartButton) // Attach listener function on state changes

  if (customWidth) {
    console.log(customWidth);
  }

</script>