
            {% assign content = shop.metafields.tapita.dynamic-config %}

            <div class="page-width page-width--narrow container">
                <h1 class="main-page-title page-title h0">
                {{ page.title | escape }}
                </h1>
                <div class="rte">
                {{ page.content }}
                </div>
                <div class="tel">
                {% for field in content.value %}
                    {% if field.type == "product_grid" %}
                        {% render 'tapita-product-grid',
                        product_target_ident: field.settings.product_target_ident,
                        product_handle: field.settings.product-handle,
                        product_handles: field.settings.product-handles,
                        product_ident: field.settings.product_ident,
                        product_title: field.settings.product-title,
                        product_limit: field.settings.product-limit,
                        evenlyHeight: field.settings.evenlyHeight
                    %}
                    {% elsif field.type == "product_scroll" %}
                    {% render 'tapita-product-list',
                        product_target_ident: field.settings.product_target_ident,
                        product_handle: field.settings.product-handle,
                        product_handles: field.settings.product-handles,
                        product_ident: field.settings.product_ident,
                        product_title: field.settings.product-title,
                        product_limit: field.settings.product-limit,
                    %}
                {% endif %}
                {% endfor %}
                </div>
            </div>
            {% schema %}
            {
            "name": " Tapita Home Conf  ",
            "tag": "section",
            "class": "spaced-section",
            "settings": [
                {
                "id": "product_ident",
                "default": "tapita-product-grid",
                "type": "text",
                "label": "Default product identification"
                },
                {
                "id": "product_target_ident",
                "default": ".spb-item.type_product_scroll.product_target_ident",
                "type": "text",
                "label": "Default product target identification"
                },
                {
                "id": "product-handle",
                "default": "all",
                "type": "text",
                "label": "Default collection handle"
                },
                {
                "id": "product-handles",
                "default": ",",
                "type": "text",
                "label": "Filter Product By Product Handle"
                },
                {
                "id": "product-limit",
                "default": 8,
                "type": "number",
                "label": "Default product limit"
                },
                {
                "id": "product-title",
                "type": "text",
                "label": "Default product title"
                },
                {
                "type": "header",
                "content": "Header Setting"
                },
                {
                "type": "select",
                "id": "image_ratio",
                "options": [
                    {
                    "value": "adapt",
                    "label": "Adapt"
                    },
                    {
                    "value": "portrait",
                    "label": "Portrait"
                    },
                    {
                    "value": "square",
                    "label": "Square"
                    }
                ],
                "default": "adapt",
                "label": "Image ratio"
                },
                {
                "type": "checkbox",
                "id": "show_secondary_image",
                "default": false,
                "label": "Show Secondary Image"
                },
                {
                "type": "checkbox",
                "id": "add_image_padding",
                "default": false,
                "label": "Add image Padding"
                },
                {
                "type": "checkbox",
                "id": "show_image_outline",
                "default": true,
                "label": "Show image outline"
                },
                {
                "type": "checkbox",
                "id": "show_vendor",
                "default": false,
                "label": "Show Vendor"
                },
                {
                "type": "checkbox",
                "id": "show_rating",
                "default": false,
                "label": "Show rating"
                }
            ]
            }
            {% endschema %}
        