<div id="{{ section.id }}">
  {% assign teaser = section.settings %}
  {% render 'team-callout',
    image: teaser.image,
    headline: teaser.headline,
    copy: teaser.copy,
    cta_label: teaser.cta_label,
    url: teaser.url
  %}
</div>

{% schema %}
{
  "name": "t:sections.team-callout-teaser.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "add your club",
      "label": "t:sections.team-callout-teaser.settings.headline.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.team-callout-teaser.settings.image.label"
    },
    {
      "type": "textarea",
      "id": "teaser_copy",
      "label": "t:sections.team-callout-teaser.settings.copy.label"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "t:sections.team-callout-teaser.settings.cta_label.label"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:sections.team-callout-teaser.settings.url.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.team-callout-teaser.presets.name"
    }
  ]
}
{% endschema %}
