{% liquid
  assign carousel_id = 'Teaser-Carousel-' | append: section.id
%}

<div
  class="block carousel-base{% if section.index ==1 %} !mb-10{% endif %}"
>
  {% unless section.blocks.size == 0 %}
    <div
      id="{{carousel_id}}"
      class="splide"
      aria-label="teaser carousel"
    >
      <div class="relative flex justify-between items-center carousel-heading">
        <h1 class="text-h-md">{{ section.settings.headline }}</h1>

        <div class="splide__arrows flex gap-base">
          {% render 'prev', class: 'splide__arrow splide__arrow--prev' %}
          {% render 'next', class: 'splide__arrow splide__arrow--next' %}
        </div>
      </div>

      <div class="relative">
        <div class="splide__track">
          <ul class="splide__list carousel-list">
            {% for block in section.blocks %}
              {% assign teaser = block.settings %}
              <li class="splide__slide w-full">
                {% render 'teaser',
                  image: teaser.image,
                  headline: teaser.headline,
                  copy: teaser.teaser_copy,
                  price: teaser.price,
                  class: 'max-w-[100vw] md:max-w-[calc(100vw_-_32px)] xl:max-w-[1080px] 2xl:max-w-[1400px]'
                %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endunless %}
</div>

{% unless section.blocks.size == 0 %}
  <script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'splide-carousel.js' | asset_url }}" defer="defer"></script>
{% endunless %}

{% schema %}
{
  "name": "t:sections.teaser-carousel.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "Highlights",
      "label": "t:sections.teaser-carousel.settings.headline.label"
    }
  ],
  "blocks": [
    {
      "type": "teaser",
      "name": "t:sections.teaser-carousel.blocks.teaser.name",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "label": "t:sections.teaser-carousel.blocks.teaser.settings.headline.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.teaser-carousel.blocks.teaser.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "teaser_copy",
          "label": "t:sections.teaser-carousel.blocks.teaser.settings.teaser_copy.label"
        },
        {
          "type": "number",
          "id": "price",
          "label": "t:sections.teaser-carousel.blocks.teaser.settings.price.label",
          "info": "t:sections.teaser-carousel.blocks.teaser.settings.price.info"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:sections.teaser-carousel.blocks.teaser.settings.url.label",
          "info": "t:sections.teaser-carousel.blocks.teaser.settings.url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.teaser-carousel.presets.name",
      "blocks": [
        {
          "type": "teaser"
        },
        {
          "type": "teaser"
        }
      ]
    }
  ]
}
{% endschema %}
