{{ 'section-text-banner.css' | asset_url | stylesheet_tag }}

<div class="text-banner-section color-scheme-{{ section.settings.color-scheme }}">
  <div>
    <h2>{{ section.settings.text_banner_title }} </h2>
    <p>{{ section.settings.text_banner_body }}</p>
</div>
</div>

{% schema %}
  {
    "name": "Text Banner",
    "settings": [
      {
        "id": "text_banner_title",
        "type": "text",
        "label": "Title",
        "default": "Title"
      },
      {
        "id": "text_banner_body",
        "type": "text",
        "label": "Content text",
        "default": "Add your text here"
      },
      {
        "type": "select",
        "id": "color-scheme",
        "options": [
        {
          "value": "bw",
          "label": "Sort/hvitt"
        },
          {
            "value": "primary",
            "label": "Blå"
          },
          {
            "value": "secondary",
            "label": "Grønn"
          }
        ],
        "default": "primary",
        "label": "Fargevalg"
      }
    ],
    "presets": [
      {
        "name": "text-banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
