<section>
    <div class="grid">
        {% for page in pages %}
            {% if page.template_suffix == 'designer' %}
                <a href="{{ page.url }}">
                    <img src="{{ page.metafields.custom.designer_image | image_url: width: 400 }}">
                    <h2>{{ page.title }}</h2>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>
