<section>
    <h1>{{ page.title }}</h1>
    <div class="grid">
        {% for image in page.metafields.custom.designer_gallery_images %}
            <img src="{{ image | image_url: width: 800 }}">
        {% endfor %}
    </div>
</section>
