{% liquid
  assign carousel_id = 'TikTok-Carousel-' | append: section.id

  assign link_block = section.blocks | where: 'type', 'tiktok_link'
  assign video_block = section.blocks | where: 'type', 'reel_item'
%}

<div
  class="block carousel-base bg-black  !max-w-[unset] {% if section.index ==1 %} !mb-10{% endif %}"
>
  {% unless section.blocks.size == 0 %}
    <splide-carousel
      id="{{carousel_id}}"
      class="splide py-mega"
      aria-label="teaser carousel"
      data-id="{{ carousel_id }}"
      data-options='{"autoHeight": true,"gap": "48px","focus": "center","breakpoints": {"800": {"gap": "24px", "padding":{"left":16}}}}'
    >
      <h1 class="text-h-lg text-white text-center px-large">{{ 'sections.tiktok_carousel.headline' | t }}</h1>

      {% if video_block.size > 0 %}
        <div class="relative my-huge">
          <div class="splide__track">
            <ul class="splide__list carousel-list">
              {% for block in video_block %}
                {% assign reel = block.settings %}
                <li class="splide__slide">
                  {% render 'tiktok-vid', video: reel.video %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if link_block.size > 0 %}
        <div class="relative w-full flex flex-col-reverse md:flex-row justify-between px-large md:px-[100px] max-w-[1280px] gap-y-large mx-auto">
          <div class="flex flex-col md:flex-row gap-base items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
              <path d="M23.4305 12.1073C25.2819 13.399 27.5498 14.1591 29.9993 14.1591V9.55832C29.5358 9.55842 29.0734 9.51123 28.6198 9.41745V13.0389C26.1705 13.0389 23.9028 12.2789 22.051 10.9873V20.376C22.051 25.0727 18.1502 28.8799 13.3385 28.8799C11.5432 28.8799 9.87447 28.3501 8.48828 27.4416C10.0704 29.0205 12.2768 30 14.7177 30C19.5297 30 23.4307 26.1928 23.4307 21.4959V12.1073H23.4305ZM25.1323 7.46576C24.1861 6.45686 23.5649 5.15305 23.4305 3.71162V3.11987H22.1232C22.4523 4.95192 23.5747 6.51711 25.1323 7.46576ZM11.5317 23.8374C11.003 23.1609 10.7174 22.3334 10.7187 21.4824C10.7187 19.3343 12.5029 17.5926 14.7041 17.5926C15.1144 17.5925 15.5222 17.6538 15.9131 17.7749V13.0714C15.4562 13.0102 14.9951 12.9843 14.5342 12.9938V16.6548C14.1429 16.5337 13.735 16.4722 13.3246 16.4726C11.1234 16.4726 9.33926 18.2142 9.33926 20.3625C9.33926 21.8816 10.2311 23.1968 11.5317 23.8374Z" fill="#FF004F"/>
              <path d="M22.0537 10.9872C23.9056 12.2788 26.1732 13.0388 28.6225 13.0388V9.41735C27.2554 9.1331 26.045 8.43574 25.135 7.46576C23.5773 6.51702 22.455 4.95182 22.126 3.11987H18.6921V21.4957C18.6843 23.6379 16.9032 25.3725 14.7066 25.3725C13.4123 25.3725 12.2623 24.7703 11.5341 23.8374C10.2336 23.1968 9.34177 21.8815 9.34177 20.3626C9.34177 18.2144 11.1259 16.4727 13.3271 16.4727C13.7489 16.4727 14.1554 16.5368 14.5367 16.6549V12.9939C9.80957 13.0892 6.00781 16.8592 6.00781 21.4958C6.00781 23.8103 6.95454 25.9086 8.49108 27.4417C9.87727 28.3501 11.546 28.88 13.3413 28.88C18.1531 28.88 22.0538 25.0726 22.0538 20.376V10.9872H22.0537Z" fill="white"/>
              <path d="M28.623 9.41746V8.43825C27.3902 8.44008 26.1815 8.10308 25.1355 7.46578C26.0614 8.45526 27.2807 9.13754 28.623 9.41746ZM22.1264 3.11998C22.0951 2.9449 22.0709 2.76866 22.0542 2.59175V2H17.313V20.376C17.3054 22.518 15.5244 24.2526 13.3276 24.2526C12.6827 24.2526 12.0738 24.1031 11.5346 23.8376C12.2628 24.7704 13.4128 25.3726 14.7071 25.3726C16.9035 25.3726 18.6849 23.6381 18.6926 21.4959V3.11998H22.1264ZM14.5374 12.994V11.9516C14.1412 11.8987 13.7418 11.8722 13.3419 11.8724C8.52976 11.8723 4.62891 15.6797 4.62891 20.376C4.62891 23.3204 6.16201 25.9152 8.49167 27.4416C6.95513 25.9086 6.0084 23.8102 6.0084 21.4958C6.0084 16.8593 9.81006 13.0893 14.5374 12.994Z" fill="#00F2EA"/>
            </svg>

            {% for block in link_block %}
              {% assign link = block.settings %}
              {% render 'button', variant: 'secondary', size: 'sm', text: link.cta_label, url: link.cta_url %}
            {% endfor %}
          </div>

          <div class="splide__arrows flex gap-base justify-end">
            {% render 'prev',
              class: 'splide__arrow splide__arrow--prev bg-grey50 stroke-white bg-opacity-20 disabled:!bg-grey50 disabled:!bg-opacity-20  disabled:!stroke-white '
            %}
            {% render 'next',
              class: 'splide__arrow splide__arrow--next bg-grey50 stroke-white bg-opacity-20 disabled:!bg-grey50 disabled:!bg-opacity-20  disabled:!stroke-white '
            %}
          </div>
        </div>
      {% endif %}
    </splide-carousel>
  {% endunless %}
</div>

{% schema %}
{
  "name": "t:sections.tiktok-carousel.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "reel_item",
      "name": "t:sections.tiktok-carousel.blocks.reel_item.name",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.tiktok-carousel.blocks.reel_item.settings.video.label"
        }
      ]
    },
    {
      "type": "tiktok_link",
      "name": "t:sections.tiktok-carousel.blocks.tiktok_link.name",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "cta_label",
          "label": "t:sections.tiktok-carousel.blocks.tiktok_link.settings.cta_label.label"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "t:sections.tiktok-carousel.blocks.tiktok_link.settings.cta_url.label",
          "info": "t:sections.tiktok-carousel.blocks.tiktok_link.settings.cta_url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tiktok-carousel.presets.name",
      "blocks": [
        {
          "type": "reel_item"
        }
      ]
    }
  ]
}
{% endschema %}
