{% assign subtext = product.description | default: '(inkl. 19% USt. inkl. Versand)' %}
{% assign title = product.description | default: 'Victas Benedict Duda AFC' %}

<div>
  <div class="tw-flex tw-flex-col tw-gap-small tw-pb-[36px]">
    <h1 class="tw-text-t-md tw-text-black">
      {{ title | escape }}
    </h1>

    <div>
      {% render 'price-b' %}

      <span class="tw-text-body-xs tw-text-grey500 tw-mt-mini">
        {{ subtext }}
      </span>
    </div>
  </div>
</div>
