<div
    class="top-main-visual tw-text-center tw-bg-black tw-pt-[68px] md:tw-pt-[4px] tw-px-[36px] tw-pb-[28px] tw-relative">
  <swiper-container
      space-between="30"
      effect="fade"
      loop="true"
      autoplay="true"
      init="false">
    {%- for block in section.blocks -%}
      <swiper-slide>
        <a
        {% if block.settings.link %}
          href="{{ block.settings.link }}"
        {% else %}
          role="link" aria-disabled="true"
            {% endif %}>
          <picture>
            <source srcset="{{ block.settings.image_sp | image_url: width: 828 }}" media="(max-width: 768px)">
            <img src="{{ block.settings.image | image_url: width: 1618 }}" alt="" width="1618" height="1618" class="" {% if forloop.index > 1 %}loading="lazy"{% endif %}>
          </picture>
        </a>
      </swiper-slide>
    {% endfor %}
  </swiper-container>
  <p>scroll</p>
</div>

{% schema %}
{
  "name": "TOP スライダー",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 10,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "スライド",
          "label": "タイトル"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_sp",
          "label": "SP画像"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TOP スライダー",
    }
  ]
}
{% endschema %}
