<div class="brand-list">
  <div class="brand page-width">
    <h3
      class="top-section-title tw-text-[22px] tw-font-medium tw-underline tw-underline-offset-[12px] tw-decoration-1 tw-mb-10 tw-px-2">
      BRAND</h3>
    <div class="tw-flex tw-flex-wrap">
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/acca-kappa"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/acca-kappa.svg?v=1700812326" alt="ACCA KAPPA"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/addiction"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/addiction.svg?v=1700812326" alt="ADDICTION"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/atelier-materi"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/ateliermateri.svg?v=1735115441" alt="ATELIER MATERI"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/baum"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/baum.svg?v=1721308712" alt="BAUM"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/canoma"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/canoma.svg?v=1715324227" alt="çanoma"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/chloe"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/chloe.svg?v=1700812326" alt="Chloé"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/clean"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/clean.svg?v=1700812326" alt="CLEAN"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/cle-de-peau-beaute"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/cle-de-peau-beaute.svg?v=1700812326"
            alt="クレ・ド・ポー ボーテ"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/decorte"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/decorte.svg?v=1700812326" alt="DECORTÉ"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/dolce-and-gabbana"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/dolce-and-gabbana.svg?v=1700812326"
            alt="DOLCE &amp; GABBANA"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/effectim"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/effectim.svg?v=1700812326" alt="EFFECTIM"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/frederic-malle"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/fredericmalle.svg?v=1728368875" alt="FREDERIC MALLE"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/imaginaryauthors"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/imaginaryauthors.svg?v=1732691373" alt="Imaginary Authors"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/isseymiyake"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/isseymiyake.svg?v=1700812326" alt="ISSEY MIYAKE"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jillstuart"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/jillstuart.svg?v=1700812326" alt="JILL STUART"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jillstuart-floranotis"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/jillstuart-floranotis.svg?v=1700812326"
            alt="Flora Notis JILL STUART" class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a>
      </div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jimmy-choo"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/jimmy-choo.svg?v=1700812326" alt="JIMMY CHOO"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/kanebo"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/kanebo.svg?v=1700812326" alt="KANEBO"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/kiehls"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/kiehls.svg?v=1706882760" alt="KIEHL'S"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/la-nuit"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/la-nuit_99de2e47-e651-4538-8af4-427eaad3b2a5.svg?v=1715133154" alt="La Nuit"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/lanvin"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/lanvin.svg?v=1700812326" alt="LANVIN"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/laura_mercier"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/laura_mercier.svg?v=1700812326"
            alt="LAURA MERCIER"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/mad-et-len"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/mad-et-len.svg?v=1700812326" alt="MAD et LEN"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/marvis"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/marvis.svg?v=1700812326" alt="MARVIS"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/melvita"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/melvita.svg?v=1700812326" alt="Melvita"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/mirko-buffini"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/mirko-buffini.svg?v=1700812326"
            alt="MIRKO BUFFINI"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/miumiu"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/miumiu.svg?v=1700812326" alt="MIU MIU"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/molton-brown"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/molton-brown.svg?v=1700812326"
            alt="MOLTON BROWN"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/montblanc"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/montblanc.svg?v=1730770590" alt="Montblanc"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/nars"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/nars.svg?v=1700812325" alt="NARS"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/nineteen-sixtynine"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/nineteen-sixtynine.svg?v=1732863603" alt="19-69"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/nuxe"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/nuxe.svg?v=1700812326" alt="NUXE"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/obvious"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/obvious.svg?v=1735116199" alt="OBVIOUS"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/paul-and-joe"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/paul-and-joe.svg?v=1700812326" alt="PAUL & JOE"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/predia"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/predia.svg?v=1700812326" alt="Prédia"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/serge-lutens"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/serge-lutens.svg?v=1700812325"
            alt="SERGE LUTENS"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/shiseido-men"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido-men.svg?v=1700812325"
            alt="SHISEIDO MEN"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="97"></a></div>
    </div>
    <h3
      class="top-section-title tw-text-[22px] tw-font-medium tw-underline tw-underline-offset-[12px] tw-decoration-1 tw-my-10 tw-px-2">
      COUNSELING BRAND</h3>
    <div class="tw-flex tw-flex-wrap">
      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/benefique"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/benefique.svg?v=1700812326" alt="BENEFIQUE"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>

      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/inoui"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/inoui.svg?v=1700812326" alt="INOUI"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>

      <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/shiseido"><img
            src="https://cdn.shopify.com/s/files/1/0496/5436/6365/files/shiseido.svg?v=1700812325" alt="SHISEIDO"
            class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover" loading="lazy" width="300" height="90"></a></div>
      <a
        href="https://www.shiseido.co.jp/sw/check/auth/SWFG060420.seam?online_shop_id=158410p&amp;rynymt_url=https://online.sukiya.biz/"
        target="_blank"
        class="tw-text-sm tw-font-bold tw-text-white tw-bg-black tw-px-4 tw-py-2 tw-mt-3 tw-mx-2 tw-no-underline"
        aria-describedby="a11y-new-window-external-message" rel="null noopener">資生堂 オンラインカウンセリング <i
          class="mdi mdi-open-in-new tw-ml-2"></i></a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TOP BRAND LIST",
  "presets": [
    {
      "name": "TOP BRAND LIST",
      "category": "TOP"
    }
  ]
}
{% endschema %}
