{{ 'component-brand-list.css' | asset_url | stylesheet_tag }}

<div class="brand-list">
    <h3 class="top-section-title">BRAND</h3>
        <div id="cards">
            <div class="brand-card">
                <div class="picture"><img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/acca-kappa.svg" alt="ACCA KAPPA" class="brand-logo"></div>
            </div>
            <div class="brand-card">
                <div class="picture"><img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/addiction.svg" alt="ADDICTION" class="brand-logo"></div>
            </div>
            <div class="brand-card">
                <div class="picture"><img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/chloe.svg" alt="CHOLE" class="brand-logo"></div>
            </div>
            <div class="brand-card">
                <div class="picture"><img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/clean.svg" alt="CLEAN" class="brand-logo"></div>
            </div>
            <div class="brand-card">
                <div class="picture"><img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/cle-de-peau-beaute.svg" alt="CLE DE PEAU BEAUTE" class="brand-logo"></div>
            </div>
        </div>
</div>

{% schema %}
{
  "name": "TOP BRAND LIST",
  "presets": [
    {
      "name": "TOP BRAND LIST",
      "category": "TOP"
    }
  ]
}
{% endschema %}