{{ 'component-brand-list.css' | asset_url | stylesheet_tag }}

<div class="brand-list">
    <h3 class="top-section-title">BRAND</h3>
        <div id="cards">
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/acca-kappa.svg" alt="ACCA KAPPA" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/addiction.svg" alt="ADDICTION" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/chloe.svg" alt="CHOLE" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/clean.svg" alt="CLEAN" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/cle-de-peau-beaute.svg" alt="CLE DE PEAU BEAUTE" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/decorte.svg" alt="DECORTE" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/dolce&gabbana.svg" alt="DOLCE&GABBANA" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/isseymiyake.svg" alt="Flora Notis" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/jillstuart.svg" alt="JILLSTUART" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/flora-notis.svg" alt="Flora Notis" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/jimmy-choo.svg" alt="JIMMY CHOO" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/kanebo.svg" alt="KANEBO" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/lanvin.svg" alt="LANVIN" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/laura-mercier.svg" alt="LAURA MERCIER" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/mad-et-len.svg" alt="MAD et LEN" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/marvis.svg" alt="MARVIS" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/melvita.svg" alt="Melvita" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/mirko-buffini.svg" alt="MIRKO BUFFINI" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/miumiu.svg" alt="MIUMIU" class="brand-logo">
            </div>
            <div class="brand-card">
                <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/molton-brown.svg" alt="MOLTON BROWN" class="brand-logo">
            </div>
        </div>
    <h3 class="top-section-title">Counseling BRAND</h3>
    <div id="cards">
        <div class="brand-card">
            <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/benefique.svg" alt="BENEFIQUE" class="brand-logo">
        </div>
        <div class="brand-card">
            <img src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/shiseido.svg" alt="SHISEIDO" class="brand-logo">
        </div>
        <a href="" class="btn" style="text-decoration:none;">資生堂 オンラインカウンセリング</a>
    </div>
</div>

{% schema %}
{
  "name": "TOP BRAND LIST",
  "presets": [
    {
      "name": "TOP BRAND LIST",
      "category": "TOP"
    }
  ]
}
{% endschema %}