<div class="brand-list">
    <v-container grid-list-lg>
        <v-layout wrap>
            <v-col class="brand">
                <h3 class="top-section-title mb-3">BRAND</h3>
                <v-row wrap>
                    <template v-for="brand in brands">
                        <v-col
                                v-if="!brand.hide && !brand.counselingBrand"
                                :key="brand.slug"
                                cols="6"
                                sm="3"
                        >
                            <v-card
                                    flat
                                    tile
                                    :href="brand.to"
                            >
                                <v-img
                                        :src="'https://d36vh7pxyzmz4l.cloudfront.net/images/logo/' + brand.slug + '.svg'"
                                        :alt="brand.title"
                                        aspect-ratio="3.1"
                                        class="brand-logo"
                                ></v-img>
                            </v-card>
                        </v-col>
                    </template>
                </v-row>
                <h3 class="top-section-title mb-3 mt-5">Counseling BRAND</h3>
                <v-row wrap>
                    <template v-for="brand in brands">
                        <v-col
                                v-if="brand.counselingBrand"
                                :key="brand.slug"
                                cols="6"
                                sm="3"
                        >
                            <v-card
                                    flat
                                    tile
                                    :href="brand.to"
                            >
                                <v-img
                                        :src="'https://d36vh7pxyzmz4l.cloudfront.net/images/logo/' + brand.slug + '.svg'"
                                        :alt="brand.title"
                                        aspect-ratio="3.1"
                                        class="brand-logo"
                                ></v-img>
                            </v-card>
                        </v-col>
                    </template>
                    <v-col cols="6">
                        <v-btn
                                tile
                                depressed
                                large
                                dark
                                color="#222222"
                                :style="{fontWeight:'bold'}"
                                href="https://www.shiseido.co.jp/sw/check/auth/SWFG060420.seam?online_shop_id=158410p&rynymt_url=https://online.sukiya.biz/"
                                target="_blank"
                        >資生堂 オンラインカウンセリング
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-layout>
    </v-container>
</div>

{% schema %}
{
  "name": "TOP BRAND LIST",
  "presets": [
    {
      "name": "TOP BRAND LIST",
      "category": "TOP"
    }
  ]
}
{% endschema %}