<div class="brand-list">
    <div class="brand page-width">
        <h3 class="top-section-title tw-text-[22px] tw-font-medium tw-underline tw-underline-offset-[12px] tw-decoration-1 tw-mb-10 tw-px-2">
            BRAND</h3>
        <div class="tw-flex tw-flex-wrap">
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/acca-kappa"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/acca-kappa.svg" alt="ACCA KAPPA"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/addiction"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/addiction.svg" alt="ADDICTION"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/chloe"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/chloe.svg" alt="Chloé"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/clean"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/clean.svg" alt="CLEAN"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/cle-de-peau-beaute"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/cle-de-peau-beaute.svg" alt="クレ・ド・ポー ボーテ"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/decorte"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/decorte.svg" alt="DECORTÉ"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/dolce-and-gabbana"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/dolce-and-gabbana.svg" alt="DOLCE &amp; GABBANA"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/effectim"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/effectim.svg" alt="EFFECTIM"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/isseymiyake"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/isseymiyake.svg" alt="ISSEY MIYAKE"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jillstuart"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/jillstuart.svg" alt="JILL STUART"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jillstuart-floranotis"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/jillstuart-floranotis.svg"
                        alt="Flora Notis JILL STUART" class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/jimmy-choo"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/jimmy-choo.svg" alt="JIMMY CHOO"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/kanebo"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/kanebo.svg" alt="KANEBO"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/lanvin"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/lanvin.svg" alt="LANVIN"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/laura_mercier"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/laura_mercier.svg" alt="LAURA MERCIER"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/mad-et-len"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/mad-et-len.svg" alt="MAD et LEN"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/marvis"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/marvis.svg" alt="MARVIS"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/melvita"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/melvita.svg" alt="Melvita"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/mirko-buffini"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/mirko-buffini.svg" alt="MIRKO BUFFINI"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/miumiu"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/miumiu.svg" alt="MIU MIU"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/molton-brown"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/molton-brown.svg" alt="MOLTON BROWN"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/montblanc"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/montblanc.svg" alt="Montblanc"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/nars"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/nars.svg" alt="NARS"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/nuxe"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/nuxe.svg" alt="NUXE"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/paul-and-joe"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/paul-and-joe.svg" alt="PAUL & JOE"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/predia"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/predia.svg" alt="Prédia"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/serge-lutens"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/serge-lutens.svg" alt="SERGE LUTENS"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/shiseido-men"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/shiseido-men.svg" alt="SHISEIDO MEN"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
        </div>
        <h3 class="top-section-title tw-text-[22px] tw-font-medium tw-underline tw-underline-offset-[12px] tw-decoration-1 tw-my-10 tw-px-2">
            COUNSELING BRAND</h3>
        <div class="tw-flex tw-flex-wrap">
            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/benefique"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/benefique.svg" alt="BENEFIQUE"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>

            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/inoui"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/inoui.svg" alt="INOUI"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>

            <div class="tw-w-1/2 md:tw-w-1/4 tw-mb-4 tw-px-2"><a href="/collections/shiseido"><img
                        src="https://d36vh7pxyzmz4l.cloudfront.net/images/logo/shiseido.svg" alt="SHISEIDO"
                        class="brand-logo tw-bg-white tw-aspect-[3.1] tw-object-cover"></a></div>
            <a
                href="https://www.shiseido.co.jp/sw/check/auth/SWFG060420.seam?online_shop_id=158410p&amp;rynymt_url=https://online.sukiya.biz/"
                target="_blank" class="tw-text-sm tw-font-bold tw-text-white tw-bg-black tw-px-4 tw-py-2 tw-mt-3 tw-mx-2 tw-no-underline"
                aria-describedby="a11y-new-window-external-message" rel="null noopener">資生堂 オンラインカウンセリング <i class="mdi mdi-open-in-new tw-ml-2"></i></a>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "TOP BRAND LIST",
  "presets": [
    {
      "name": "TOP BRAND LIST",
      "category": "TOP"
    }
  ]
}
{% endschema %}
