{{ 'section-usp-block.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  {% case section.settings.layout_style %}
    {% when 'usp-1' %}
      {% render 'usp-1', section: section %}
    {% when 'usp-2' %}
      {% render 'usp-2', section: section %}
    {% when 'usp-3' %}
      {% render 'usp-3', section: section %}
    {% else %}
      <p>No layout selected.</p>
  {% endcase %}
</div>

{% schema %}
{
  "name": "USP Section",
  "settings": [
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout Style",
      "default": "usp-1",
      "options": [
        { "value": "usp-1", "label": "Short USP 1" },
        { "value": "usp-2", "label": "Short USP 2" },
        { "value": "usp-3", "label": "Short USP 3" }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "USP Title",
      "default": "Short USP Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "USP Description",
      "default": "Lorem ipsum dolor sit amet consectetur. Ultrices et aliquam purus et amet fermentum sed egestas."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "USP Image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "USP Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
