<script>
  {% comment %}console.log('wagashi_maker_list', {{ page.metafields.custom.wagashi_maker_list.value | json }}){% endcomment %}
</script>

<div class="wagashi-maker-list">
  <div class="page-width">
    <header class="wagashi-header-01">
      <h2 class="wagashi-header-01-text">Explore by Maker</h2>
    </header>
    {% render "wagashi-maker-list", makers: page.metafields.custom.wagashi_maker_list.value %}
  </div>
</div>

{% schema %}
  {
    "name": "Wagashi maker list",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Wagashi maker list",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}