<script>
  {% comment %}console.log('wagashi_area', {{ page.metafields.custom.wagashi_area.value | json }}){% endcomment %}
</script>

{% assign area = page.metafields.custom.wagashi_area.value %}

<div class="wagashi-area">
  <header class="wagashi-header-01">
    <h2 class="wagashi-header-01-text">Explore by Area</h2>
  </header>
  {% render "wagashi-area-section", area: area, has_hover: section.settings.has_hover %}
</div>

{% schema %}
  {
    "name": "Wagashi area",
    "settings": [
      {
        "type": "checkbox",
        "id": "has_hover",
        "label": "has hover"
      }
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Wagashi area",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}