<script>
  {% comment %}console.log('wagashi_interest_list', {{ page.metafields.custom.wagashi_interest_list.value | json }}){% endcomment %}
</script>

<div class="wagashi-interest-list">
  <div class="page-width">
    <header class="wagashi-header-01">
      <h2 class="wagashi-header-01-text">Explore by <span>Interest</span></h2>
    </header>
    {% render "wagashi-interest-list", interests: page.metafields.custom.wagashi_interest_list.value %}
  </div>
</div>

{% schema %}
  {
    "name": "Wagashi interest list",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Wagashi interest list",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}