<script>
  {% comment %}console.log('wagashi_category_list', {{ page.metafields.custom.wagashi_category_list.value | json }}){% endcomment %}
</script>

<div class="wagashi-category-list">
  <header class="wagashi-header-02">
    <h2 class="wagashi-header-02-text"><span>Type</span> of  Wagashi</h2>
  </header>
  <div class="page-width">
    {% render "wagashi-category-list-first", categories: page.metafields.custom.wagashi_category_list.value %}
    {% render "wagashi-category-list-second", categories: page.metafields.custom.wagashi_category_list.value %}
  </div>
</div>

{% schema %}
  {
    "name": "Wagashi category list",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Wagashi category list",
        "settings": {},
        "blocks": []
      }
    ]
  }
{% endschema %}