{% style %}
.xcp-easel-header, .xcp-easel-header__detail {
  display: flex;
  width: 100%;
}

.xcp-easel-header svg {
  width: 25%;
  stroke-width: 2px;
}

.xcp-easel-header .xcp-easel-header__svg--first {
  width: 69%;
}

.xcp-easel-header__detail .xcp-easel-header__svg--first {
  width: 80%;
}

.xcp-easel-header__detail .xcp-easel-header__svg--second {
  width: 20%;
}

.xcp-easel-header .xcp-easel-header__header {
  width: 25%;
  text-align: center;
  position: relative;
  bottom: 10px;
  margin: 0;
}
.xcp-easel-header__wrapper--abs {
  position: absolute;
  width: 100%;
}
.xcp-easel-header__wrapper--rel {
  position: relative;
  bottom: 150px;
  width: 100%;
}
.xcp-easel-header__wrapper--rel img {
  width: 50%;
  min-width: 160px;
  margin: 0 auto;
  display: block;
}

.xcp-easel-header.desktop img {
    width: 300px;
    position: relative;
    bottom: 69px;
    margin: 0 20px;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

}
{% endstyle %}
<div class="xcp-easel-header desktop">
  <svg class="xcp-easel-header__svg--first">
   <line x1="0" y1="0" x2="100%" y2="0" stroke="orange" />
  </svg>
  {% if section.settings.header_image %}
    {{section.settings.header_image | image_url: width: "100%", height: 150 | image_tag: class: 'xcp-easel-header__header-image' }}
  {% else %}
    <h3 class="xcp-easel-header__header">Easel Pro</h3>
  {% endif %}
  <svg class="xcp-easel-header__svg--second">
   <line x1="0" y1="0" x2="100%" y2="0" stroke="orange" />
  </svg>
  <svg class="xcp-easel-header__svg--third">
   <line x1="0" y1="0" x2="100%" y2="100" stroke="orange" />
  </svg>
  <svg class="xcp-easel-header__svg--forth">
   <line x1="0" y1="100" x2="100%" y2="100" stroke="orange" />
  </svg>
</div>
<div class="xcp-easel-sub-header__wrapper-abs desktop">
  <div class="xcp-easel-sub-header__wrapper-rel">
    {{sections.settings.sub_text}}
  </div>
</div>
<div class="xcp-easel-header__detail mobile">
  <svg class="xcp-easel-header__svg--first">
   <line x1="0" y1="0" x2="100%" y2="0" stroke="orange" />
  </svg>
  <svg class="xcp-easel-header__svg--second">
   <line x1="0" y1="0" x2="100%" y2="100" stroke="orange" />
  </svg>
</div>
<div class="xcp-easel-header__wrapper--abs mobile">
  <div class="xcp-easel-header__wrapper--rel">
    {% if section.settings.header_image %}
      <div class="xcp-easel-header__wrapper--center">
        {{section.settings.header_image | image_url: width: "100%", height: 150 | image_tag: class: 'xcp-easel-header__header-image' }}
      </div>
    {% else %}
      <h3 class="xcp-easel-header__header">{{section.settings.header}}</h3>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "XCPro Easel Header",
  "tag": "section",
  "class": "section",
  "settings": [
     {
       "type": "html",
       "id": "header",
       "label": "Header"
     },
     {
       "type": "image_picker",
       "id": "header_image",
       "label": "Header Image"
     },
     {
       "type": "html",
       "id": "sub_text",
       "label": "Sub text"
     }
  ],
  "blocks": [
  ],
  "presets": [
     {
       "name": "XCPro Easel Header"
     }
  ]
}
{% endschema %}
