<h3>XCPro Image Floating Text</h3>
{% schema %}
{
  "name": "XCPro Image Floating Text",
  "tag": "section",
  "class": "section",
  "settings": [
     {
       "type": "image_picker",
       "id": "image",
       "label": "Image"
     }
  ],
  "blocks": [
     {
       "name": "Title",
       "type": "title",
       "settings": [
         {
           "type": "html",
           "id": "content",
           "label": "Content"
         }
       ]
     },
     {
       "name": "Text",
       "type": "text",
       "settings": [
         {
           "type": "richtext",
           "id": "content",
           "label": "Content"
         }
       ]
     },
     {
       "name": "Vutton",
       "type": "button",
       "settings": [
         {
           "type": "text",
           "id": "label",
           "label": "Label"
         },
         {
           "type": "url",
           "id": "url",
           "label": "URL"
         }
       ]
     }

   ],
   "presets": [
      {
        "name": "XCPro Image Floating Text"
      }
   ]
}
{% endschema %}
