{% assign product_blocks = section.blocks | where: 'type', 'product' %}
<div class="xcp-pick-your-pro">
  {% for block in product_block %}
    <div class="xcp-pick-your-pro__product-card">
      {{block.settings.image | image_url | image_tag}}
      <h4 class="xcp-pick-your-pro__product-card__title">{{block.settings.product.title}}</h4>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "XCP Pick Your Pro",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "name": "Product Card",
      "type": "product-card",
      "settings": [
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Button text",
          "id": "button_text"
        },
        {
          "type": "url",
          "label": "Button link",
          "id": "button_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "XCP Pick Your Pro"
    }
  ]
}
{% endschema %}
