{% style %}
@media only screen and (max-width: 960px) {
    .affirm-as-low-as {
        margin-top:-4px
    }
}

.affirm-as-low-as .affirm-modal-trigger {
    color: #eee;
    text-decoration: underline
}
{% endstyle %}

<div class="affirm-as-low-as" data-learnmore-show="true" data-page-type="product" data-affirm-color="white" data-amount="{{ product.selected_or_first_available_variant.price  }}">Or for a low monthly price with Affirm.</div>

<div class="kit-select__affirm-explanation-message">
  Financing payments begin after the unit ships.
</div>

{% schema %}
{
  "name": "XCPro Affirm",
  "presets": [
    {
      "name": "XCPro Affirm"
    }
  ]
}
{% endschema %}
