
      {% if section.settings.section_id.size > 0 %}
        {% assign sectionKey = 'zeno-section-' | append: section.settings.section_id %}
        {% include sectionKey %}
      {% else %}
        {% if request.design_mode %}
          <div style="text-align: center; padding: 16px; border: 1px solid #9E9E9E;">
            <h3 style="margin: 0;">Zeno Section</h3>
            <p style="margin: 8px 0 0 0; color: #9E9E9E;">No section selected. Please select a section from the list.</p>
          </div
        {% endif %}
      {% endif %}

      {% schema %}
        {
          "presets": [
            {
              "name": "Zeno Section"
            }
          ],
          "settings": [
            {
              "id": "section_id",
              "type": "select",
              "label": "Select section",
              "options": [
                {
                  "label": "None",
                  "value": ""
                }
              ]
            },
            {
              "type": "paragraph",
              "content": "Save your section in Zeno Page Builder to use it here. [Learn more](https://help.zenobuilder.com/en/articles/6697754-use-saved-sections-in-shopify-theme-editor)"
            }
          ]
        }
      {% endschema %}
    