
        <div class="zn-content collection">
          {% assign collectionKey = 'zeno-collection-' | append: collection.id %}
          {% if section.settings.spId != '' %}
            {% assign collectionKey = 'zeno-collection-' | append: section.settings.spId %}
          {% endif %}
          <link rel="stylesheet" href="{{ collectionKey | append: '.css' | asset_url }}">
          {% include collectionKey %}
          <script src="{{ collectionKey | append: '.js' | asset_url }}"></script>
        </div>

        {% schema %}
          {
            "settings": [
              {
                "type": "text",
                "id": "spId",
                "label": "ID"
              }
            ]
          }
        {% endschema %}
      