.hide-video {
  display: none;
}

.embed-container {
  position: relative;
  height: 350px;
  width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.academy-video {
  position: relative;
  height: 125px;
  width: 100%;
  max-width: 125px;
  display: flex;
  align-items: center;
}

.academy-video iframe,
.academy-video object,
.academy-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.academy-other-videos {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.akad-heading {
  font-family: proxima-nova, sans-serif;
  font-weight: bolder;
  font-size: 36px !important;
  color: #021140;
}

.akad-strong {
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #021140;
  margin: 4rem 0;
}

.akad-body {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  font-size: 16px !important;
  color: #021140;
}

.arc-text {
  margin: 3rem 0;
}

.akad-body-heading {
  font-family: proxima-nova, sans-serif;
  font-weight: bolder;
  font-size: 20px !important;
  color: #021140;
}

/* .academy-stream > a {
  font-family: proxima-nova, sans-serif;

  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #021140;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  text-align: right;
} */

.academy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.academy-container > div:nth-child(3) {
  margin-left: auto;
}

.academy-content {
  font-size: 10px;
  max-width: 520px;
}

.academy-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}

.academy-dates > p {
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  color: #021140;
  margin-top: 0;
}

.academy-dates > p:nth-child(1) {
  font-weight: bolder !important;
}

.academy-filters {
  height: 3rem;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.academy-select {
  border-radius: 14px;
  padding: 6px 12px;
  width: 100%;
  max-width: 600px;
  border: 1px solid;
}

.academy-select:focus {
  outline: none !important;
  border: 2px solid #021140;
}

.academy-hr-divider {
  margin: 1rem 0 !important;
  padding: 0 !important;
  width: 100%;
  border: 1px solid white !important;
}

.academy-load-btns {
  text-align: center;
  margin-top: 3rem;
}

.academy-load-btn {
  font-family: proxima-nova, sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  text-decoration: none;

  background: white;
  color: #021140;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  border: 1px solid #021140;
  cursor: pointer;
}

.academy-load-btn:hover {
  color: white;
  background: #021140;
}

.academy-options {
  border: none;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-size: 12px !important;
  text-decoration: none;

  appearance: auto !important;
  background-color: transparent;
  border: none !important;
  border-radius: 0 !important;
  color: #021140;
  width: 100% !important;
  height: 100% !important;
  max-width: 150px !important;
  box-sizing: border-box;
  transition: box-shadow var(--duration-short) ease;
}
.academy-options:focus {
  box-shadow: none !important;
}

.academy-stream > div {
  text-align: right;
}

.academy-stream > div > p {
  font-weight: bold;
  color: #fc6505;
  padding: 0;
  margin: 0;
}

.academy-stream > div > p > i {
  animation: blinker 2s linear infinite;
  color: white;
  font-weight: bold;
}
.academy-stream > div > em {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

@keyframes blinker {
  50% {
    color: #fc6505;
  }
}

@media screen and (max-width: 750px) {
  .academy-stream > div {
    text-align: center;
  }
  .academy-container {
    text-align: center;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 0;
  }

  .academy-container > div:nth-child(3) {
    margin-left: 0;
  }

  .academy-dates {
    justify-content: space-around;
    width: auto;
  }

  .academy-stream {
    margin-top: 20px;
  }

  .academy-filters {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .academy-recent-content {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.academy-recent {
  max-width: 750px;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.recent-downloads {
  margin-bottom: 1rem !important;
}

.academy-recent-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.cursor-for-tabs {
  cursor: pointer;
}

.download-info {
  margin-top: 2rem;
}

.download-container {
  display: flex;
  flex-direction: row;
}

.download-container > div {
  margin-right: 2rem;
}
