@media screen and (max-width: 750px) {
  .alakazam-mega-contact__top-block_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alakazam-mega-contact__main-content {
    flex-direction: column !important;
  }
  .alakazam-mega-contact__main-content-map {
    margin-right: 0 !important;
  }
  .gmap_canvas > iframe {
    width: 100% !important;
  }
  .alakazam-mega-contact__contact-info {
    flex-direction: column !important;
    align-items: baseline !important;
  }
}

/* Top */
.alakazam-mega-contact__top-block_container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.alakazam-mega-contact__top-block_container > div {
  display: flex;
  align-items: center;
}
.alakazam-mega-contact__top-block_content > div:nth-child(1) {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.alakazam-mega-contact__top-block_content > div:nth-child(2) > p {
  margin: 0 !important;
  display: flex;
  align-items: center;
}
/* Mega block */
.alakazam-mega-contact__background {
  background-color: rgba(2, 17, 64, 1);
  padding: 2rem 0;
}

.alakazam-mega-contact__main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.alakazam-mega-contact__main-content-map {
  margin-right: 3rem;
  width: 100%;
}

.alakazam-mega-contact__contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.alakazam-mega-contact__contact-info_contact-social > ul {
  display: flex;
  justify-content: center;
}

.alakazam-mega-contact__table {
}

.alakazam-mega-contact__contact-info_address > p {
  margin-top: 0 !important;
}
.alakazam-mega-contact__contact-info_contact-trademark {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.alakazam-mega-contact__contact-info_address-address > p,
.alakazam-mega-contact__contact-info_contact-trademark > div > p {
  margin: 0;
}

.alakazam-mega-contact__contact-info_contact > *:nth-child(1),
.alakazam-mega-contact__contact-info_contact > *:nth-child(2) {
  margin-bottom: 2rem;
}
