.ak-customer__addresses {
  margin: 0 !important;
  width: 100%;
  max-width: none !important;
}

.ak-customer-addresses__header {
  display: flex;
  flex-direction: row;
}

.ak-customer-details__form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ak-customer-details__address-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.ak-customer-details__flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.ak-customer-details__flex > div:nth-child(2) {
  margin-left: 3rem;
}

.ak-customer-details__address-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2rem;
}

.ak-customer-details__address-default > span {
  height: 50px;
  display: flex;
  align-items: center;
}

.ak-customer-details__address-default > span > label {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ak-customer-details__address-default > span > label > input {
  margin: 0 0 0 1rem !important;
}

.ak-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ak-mandatory {
  font-family: proxima-nova, sans-serif;
}
.ak-field > label {
  font-family: proxima-nova, sans-serif;
  font-size: 16px !important;
  color: #021140;
  font-weight: normal;
  min-width: 100px;
}

.ak-field > input {
  width: 100%;
  max-width: 400px !important;
  min-width: 150px !important;
  padding: 1rem;
  margin: 1rem 0;
}

.ak-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px !important;
  min-width: 150px !important;
}
.ak-select > select {
  width: 100%;
  max-width: 400px !important;
  min-width: 150px !important;
  padding: 1rem;
  margin: 1rem;
}

.ak-field__btn {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.ak-customer-addresses__add-address-btn {
  border-radius: 30px !important;
  min-width: 200px !important;
  max-height: 45px !important;
  padding: 1rem !important;
  text-decoration: none !important;
  text-align: center !important;
  font-size: 14px !important;
  font-family: proxima-nova, sans-serif !important;
  font-weight: bold !important;
  cursor: pointer !important;
  text-decoration: none !important;
  background: rgba(2, 17, 64, 1) !important;
  color: #fff !important;
  border: 1px solid rgba(2, 17, 64, 1) !important;
}

.ak-field__login {
  margin-bottom: 2rem;
}

.ak-field__login > button {
  /* margin-top: 0 !important; */
  margin-bottom: 0 !important;
  width: 100%;
  border-radius: 30px;
  max-height: 45px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none !important;
  background: rgba(2, 17, 64, 1);
  color: #fff;
  border: 1px solid rgba(2, 17, 64, 1);
}

.toggle__add-address-btn {
  display: block !important;
}

/* login page */

.ak-login__container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 349px;
  width: 100%;
  margin: 0 auto;
}

.ak-field__password {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ak-field > input::placeholder {
  font-family: proxima-nova, sans-serif !important;
  color: rgba(2, 17, 64, 1) !important;
  font-size: 16px;
}

.ak-field__password > label {
  position: absolute;
  top: 0.9rem;
  right: 0;
  height: 10px;
  min-width: 15px !important;
  margin-right: 15px;
}

.ak-field__password > label > svg {
  height: 15px;
}

.ak-field__recovery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
