/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  border-bottom: 0.1px solid #12121214;
  box-shadow: none;
  width: 100%;
  /* font-size: 1.6rem; */
  position: relative;
}

@media screen and (min-width: 750px) {
  .customer table {
    border: none;
    box-shadow: 0 0 0 1px #12121214;
  }
}

@media screen and (forced-colors: active) {
  .customer table {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
}

.customer tbody {
  color: #121212;
}

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .customer td {
    padding-right: 22px;
  }
}

.customer tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.customer td:empty {
  display: initial;
}

.customer thead th {
  font-size: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.customer tbody td:first-of-type {
  padding-top: 40px;
}

@media screen and (min-width: 750px) {
  .customer th,
  .customer td:first-of-type {
    text-align: left;
    padding-left: 0;
    padding-right: 22px;
  }

  .customer thead th,
  .customer tbody td {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .customer th:first-of-type,
  .customer td:first-of-type {
    padding-left: 22px;
  }

  .customer tbody td {
    vertical-align: top;
  }

  .customer tbody td:first-of-type {
    padding-top: 24px;
  }
}

.customer tbody td:last-of-type {
  padding-bottom: 40px;
}

@media screen and (min-width: 750px) {
  .customer tbody td:last-of-type {
    padding-bottom: 0;
  }
}

.customer tbody tr {
  border-top: 0.010px solid #12121214;
}

@media screen and (min-width: 750px) {
  .customer tbody tr:first-of-type {
    border-top: none;
  }
}

@media screen and (forced-colors: active) {
  .customer tbody tr {
    border-top: 1px solid transparent;
  }
}

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.customer tfoot td:first-of-type {
  text-align: left;
}

.customer tfoot tr:first-of-type td {
  padding-top: 40px;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 24px;
  }
}

.customer tfoot tr:last-of-type td {
  padding-bottom: 40px;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 24px;
  }
}

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: ' ';
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: #12121214;
}

@media screen and (forced-colors: active) {
  .customer thead::after,
  .customer tfoot::before {
    background: CanvasText;
  }
}

/* mobile table overrides */
@media screen and (max-width: 749px) {
  .customer thead,
  .customer th,
  .customer tfoot td:first-of-type {
    display: none;
  }

  .customer td {
    display: flex;
    text-align: right;
  }

  .customer td::before {
    color: rgba(#000000, 0.75);
    content: attr(data-label);
    font-size: 14px;
    padding-right: 20px;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
  }

  .customer td:first-of-type {
    display: flex;
    align-items: center;
  }

  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}