.alert-box {
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid;
}
.alert-box__icon {
  height: 2rem;
}
.alert-box__title {
  margin: 0;
}
.alert-box__message {
  color: unset;
}

.alert-box--default {
  border-color: blue;
}
.alert-box--default .alert-box__icon {
  color: blue;
}

.alert-box--success {
  border-color: green;
}
.alert-box--success .alert-box__icon {
  color: green;
}

.alert-box--warning {
  border-color: orange;
}
.alert-box--warning .alert-box__icon {
  color: orange;
}

.alert-box--error {
  border-color: red;
}
.alert-box--error .alert-box__icon {
  color: red;
}