.quiz-container{
    min-height: 100vh;
}
.wrap-form{
    max-width: 80rem; /* 1280px */
    margin-left: auto;
    margin-right: auto;
}

.vue-step-wizard {
    display: grid;
    grid-template-columns: 1fr;
}
.step-body{
    display: grid;
    padding: 3rem;
}
.step-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 11px 29px 25px;
    z-index: 20;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: grid;
    gap: 5px;
    background: var(--gradient-background);
    background-attachment: fixed;

}
.step-footer button{
    width: 100%;
}
.mobile-footer{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.mobile-footer .product-image{
    width: 40px;
    height: 40px;
}
.mobile-info{
    overflow: hidden;
    display: grid;
    gap:5px;
    width: 100%;
}
.mobile-info h3{
    margin:0;
}
.list-ingredients{
    display: grid;
    width: 100%;
    grid-auto-flow:column;
    gap:0.4rem;
    overflow:hidden;
    list-style: none;
    align-self: center;
    font-size: 1.2rem;
    line-height: 17px;
    padding: 0;
}
.list-ingredients li{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    white-space: nowrap;
    gap: 2px;
}

.list-ingredients .image{
    width: 2rem;
    height: 2rem;
}
.step-progress{
    border: 1px solid rgba(145,142,142,.2) !important;
    background-color: rgba(145,142,142,.2);
    border-radius: 5px;
}
.bar{
    color: #000 !important;
    background-color: rgba(var(--color-button));
    display: block;
    height: 5px;
    border-radius: 5px;
}
.field {
    flex-direction: column;
}
.field__input{
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.45);
    font-size:1rem;
    padding:1.5rem;
    background:#FFF;
}

.field__input:focus{
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.7);
    padding:1.5rem;
}
.field__input:hover{
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.6);
    padding:1.5rem;
}

.error{
    color: red;
}
.question-header{
    display: flex;
    align-items: center;
}
.question-header h2{
    margin-left: 1rem;
}
.question-header .icon{
    flex-shrink: 0;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 3rem;
    block-size: 3rem;
    background: rgba(var(--color-button), 0.3);
    color: rgba(var(--color-button), 0.7);
}
.question-header .icon > svg {
    width: 75%;
}
.step-button{
    border-radius: 0.2rem;
}
.lg-button{
    display: none;
}
ul.ks-cboxtags {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(139, 139, 139, .3);
    border-radius: 5px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    /*font-size:1rem;*/
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "+";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\2713";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label, ul.ks-cboxtags li input[type="checkbox"]:hover + label {
    border: 1px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
}
@media only screen and (min-width: 1024px) {
    .lg-button{
        display: flex;
        justify-content: center;
    }
    .lg-button button{
        min-width: 20rem;
        height: 2rem;
        border-radius: 0.2rem;
    }
    .quiz-container{
        padding: 0;
        margin: 0 auto;
    }

    ul.ks-cboxtags {
        grid-template-columns: 1fr 1fr;
    }
    .list-ingredients{
        grid-auto-flow: row;
        gap:1rem;
    }
    .list-ingredients li{
        gap:2rem;
    }
    .list-ingredients .image{
        height:3rem;
        width:3rem;
    }
    .wrap-form{
        display:grid;
        margin:0;
        max-width: 100%;
        grid-template-columns: 2fr 1fr;
    }
    .step-body{
        padding: 10rem 5rem;
    }
    .page-width{
        /*margin:0;*/
        /*padding:0;*/
    }
    .step-footer{
        background-color: rgba(var(--color-button), 0.15);;
        position: relative;
        width: 100%;
        box-shadow: none;
    }
    .lg-hidden{
        display:none;
    }

    .mobile-footer{
        padding: 4rem;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
    }
    .mobile-footer .product-image{
        /*grid-row: 1;*/
        margin-bottom:2rem;
        width: 100px;
        height: 100px;
    }
}


.loading-evyana {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #f8f4d5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-evyana svg.logo-loading {
    margin-bottom: 150px;
}

.loading-evyana p.text-loading {
    margin-top: 150px;
}

.loading-dot {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url('#goo');
  animation: rotate-move 2s ease-in-out infinite;
}

.dot { 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block!important;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

.multiselect {
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.45);
    font-size:1rem;
    padding: 0;
    background:#FFF;
    border: none;
    padding-right: 1rem;
}

.multiselect .multiselect-tags{
    padding: 0 1.5rem;
    min-height: 49.5px;
}

.multiselect .multiselect-tags .multiselect-tag {
    min-height: 30px;
    font-size: 10px;
    background: #fe8da1;
    padding: 1rem;
}

.multiselect-tags .multiselect-caret{
    width: 2rem;
    height: 2rem;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
  20% {transform: scale(1)}
  45% {transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
  55% {transform: translate(-50%, -50%) rotate(0deg)}
  80% {transform: translate(-50%, -50%) rotate(360deg)}
  100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
  0%, 100% {z-index: 3}
  33.3% {z-index: 2}
  66.6% {z-index: 1}
}