.loading-evyana{
    background-color: rgba(var(--color-button), 0.15);
    min-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-around;
}
.quiz-container{
    min-height: 100vh;
    display: grid;
    align-content: space-between;
}
.wrap-form{
    max-width: 80rem; /* 1280px */
    margin-left: auto;
    margin-right: auto;
}

.vue-step-wizard {
    display: grid;
    grid-template-columns: 1fr;
}
.step-body{
    display: grid;
    padding: 3rem;
}
.step-footer{
    width: 100%;
    padding: 11px 29px 25px;
    z-index: 20;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: grid;
    gap: 5px;
    background: var(--gradient-background);
    background-attachment: fixed;

}
.step-footer button{
    width: 100%;
}
.mobile-footer{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.mobile-footer .product-image{
    width: 40px;
    height: 40px;
}
.mobile-info{
    overflow: hidden;
    display: grid;
    gap:5px;
    width: 100%;
}
.mobile-info h3{
    margin:0;
}
.list-ingredients{
    display: grid;
    width: 100%;
    grid-auto-flow:column;
    gap:0.4rem;
    overflow:hidden;
    list-style: none;
    align-self: center;
    font-size: 1.2rem;
    line-height: 17px;
    padding: 0;
}
.list-ingredients li{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    white-space: nowrap;
    gap: 2px;
}

.list-ingredients .image{
    width: 2rem;
    height: 2rem;
}
.step-progress{
    border: 1px solid rgba(145,142,142,.2) !important;
    background-color: rgba(145,142,142,.2);
    border-radius: 5px;
}
.bar{
    color: #000 !important;
    background-color: rgba(var(--color-button));
    display: block;
    height: 5px;
    border-radius: 5px;
}
.field {
    flex-direction: column;
}
.field__input{
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.45);
    font-size:1rem;
    padding:1.5rem;
    background:#FFF;
}

.field__input:focus{
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.7);
    padding:1.5rem;
}
.field__input:hover{
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.6);
    padding:1.5rem;
}

.error{
    color: red;
}
.question-header{
    display: flex;
    align-items: center;
}
.question-header h2{
    /*margin-left: 1rem;*/
}
.question-header .icon{
    flex-shrink: 0;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 3rem;
    block-size: 3rem;
    background: rgba(var(--color-button), 0.3);
    color: rgba(var(--color-button), 0.7);
}
.question-header .icon > svg {
    width: 75%;
}
.step-button{
    border-radius: 0.2rem;
}
.lg-button{
    display: none;
}
ul.ks-cboxtags {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(139, 139, 139, .3);
    border-radius: 5px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    /*font-size:1rem;*/
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "+";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\2713";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label, ul.ks-cboxtags li input[type="checkbox"]:hover + label {
    border: 1px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
}


@-webkit-keyframes spinner {
    to {transform: rotate(360deg);}
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}
.result-card{
    margin-bottom: calc(5rem + var(--page-width-margin));
    margin-top: 5rem;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    -webkit-animation: spinner .8s ease infinite;
            animation: spinner .8s ease infinite;
}
#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    border-radius: 50%;
    border-top-color: rgba(var(--color-button), 0.75);;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
.result-container{
    /*padding-left: 20vw;*/
    /*padding-right: 20vw;*/
}
.result-card{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 2rem;
}
.slick-list{
    display: flex;
}
.slick-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.concern-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
    column-gap: 20px;
    position: relative;
}
.image-with-tag{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
}
.image-with-tag img{
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}
.image-container{
    padding-right: 15px;
    padding-top: 25px;
    position: relative;
}
.img-src{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;

}
.image-about{
    grid-column:1 / span 2;

}
.image-tag{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #5fd1ae;
    text-transform: uppercase;
    padding: 5px;
}
.quote-container{
    position:relative;
    /*relative lg:ml-10*/
}
.quote-svg{
    position:absolute;
    top:0;
    left:0

    /*absolute top-0 left-0 transform -translate-x-8 -translate-y-24 h-36 w-36 text-indigo-200 opacity-50*/
}
.slick-item img{
    width:100px;
}
@media only screen and (min-width: 1024px) {
    .result-card{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .image-container{
        padding:5rem;
    }
    .lg-button{
        display: flex;
        justify-content: center;
    }
    .lg-button button{
        min-width: 20rem;
        height: 2rem;
        border-radius: 0.2rem;
    }
    .quiz-container{
        padding: 0;
        margin: 0 auto;
    }

    ul.ks-cboxtags {
        grid-template-columns: 1fr 1fr;
    }
    .list-ingredients{
        grid-auto-flow: row;
        gap:1rem;
    }
    .list-ingredients li{
        gap:2rem;
    }
    .list-ingredients .image{
        height:3rem;
        width:3rem;
    }
    .wrap-form{
        display:grid;
        margin:0;
        max-width: 100%;
        grid-template-columns: 2fr 1fr;
    }
    .step-body{
        min-height: 100vh;
        max-width: 80rem;
        /*align-content: center;*/
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .page-width{
        /*margin:0;*/
        /*padding:0;*/
    }
    .step-footer{
        background-color: rgba(var(--color-button), 0.15);
        width: 100%;
        box-shadow: none;
    }
    .lg-hidden{
        display:none;
    }

    .mobile-footer{
        padding: 4rem;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        max-width: 40rem;
    }
    .mobile-footer .product-image{
        /*grid-row: 1;*/
        margin-bottom:2rem;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .slick-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slick-list .slick-item {
        margin-bottom: 2rem;
    }

    .result-container.page-width{
        padding: 0;
    }

    .result-card {
        margin-top: 0;
        padding: 1rem;
    }

    .quote-svg {
        width: 30px;
    }
    .image-container{
        padding: 0;
    }
}
