.area-detail {
  color: var(--jb-color-accent2-400);
}

.area-detail-kv {
  position: relative;
  line-height: 0;
  .page-width {
    @media only screen and (min-width: 769px) {
      max-width: 1140px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }
  .area-detail-kv-image-box {
    @media only screen and (max-width: 768px) {
      position: relative;
      height: 454px;
    }
  }
  .area-detail-kv-image {
    aspect-ratio: 1440/660;
    object-fit: cover;
    width: 100%;
    line-height: 0;
    @media only screen and (max-width: 768px) {
      width: auto;
      height: 100%;
      position: absolute;
      right: 0;
    }
    &.has-mobile {
      @media only screen and (max-width: 768px) {
        aspect-ratio: 390 / 454;
        width: 100%;
        position: static;
      }
    }
  }
  .area-detail-kv-body {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 665px;
    @media only screen and (max-width: 768px) {
      position: static;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      display: block;
    }
  }
  .area-detail-kv-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    @media only screen and (min-width: 769px) {
      color: #fff;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 1;
    }
  }
  .area-detail-kv-title-en {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 12px;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
      margin-top: 6px;
    }
  }
  .area-detail-kv-description {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
      mt10
    }
  }
}
