.awards-section {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.swiper {
    width: 100%;
}
  
.awards-carousel {
    width: 100% !important;
    padding: 4.625rem 0;
}

.awards-section img {
    object-fit: cover;
}

.award-slide {
    margin: 0 4.625rem;
}

.award-slide,
.award-slide img {
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    transition: none !important;
    display: flex;
}

.awards-section .swiper-slide {
    backface-visibility: visible !important;
    filter: none !important;
}