.slider {
  padding-bottom: 50px;
}

.slider.slider--desktop {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
  -webkit-overflow-scrolling: touch;
}

.slider.slider--desktop .slider.slider__slide {
  margin-bottom: 0;
  padding-bottom: 0;
}

.slider-buttons {
  display: flex !important;
}

.slider__slide {
  width: 100% !important;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.slider__slide:first-child {
  padding-left: 0 !important;
}

.slider__slide:last-child {
  padding-right: 0 !important;
}

sleepink-slider .slider-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

.bs-mobile {
  display: block;
}

.bs-tablet {
  display: none;
}

.bs-desktop {
  display: none;
}

.bs-submit {
  font-family: var(--font-body-family);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12.95px;
  padding-bottom: 11.05px;
  padding-left: 14.7933px;
  padding-right: 14.7933px;
  margin-top: 16px;
  margin-right: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

.bs-submit:hover,
.bs-submit:active,
.bs-submit:focus {
  opacity: 0.6;
}

.button {
  font-family: var(--font-body-family);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12.95px;
  padding-bottom: 11.05px;
  padding-left: 14.7933px;
  padding-right: 14.7933px;
  margin-top: 16px;
  margin-right: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  opacity: 0.6;
}

.bs-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.bs-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.bs-left {
  text-align: left;
}

.bs-center {
  text-align: center;
}

.bs-mb-1 {
  margin-bottom: 2px;
}

.bs-mb-2 {
  margin-bottom: 4px;
}

.bs-mb-5 {
  margin-bottom: 16px;
}

.bs-ml-0 {
  margin-left: 0;
}

.bs-ml-2 {
  margin-left: 4px;
}

.bs-mr-3 {
  margin-right: 8px;
}

.bs-mt-0 {
  margin-top: 0;
}

.bs-mt-5 {
  margin-top: 16px;
}

.bs-mt-6 {
  margin-top: 20px;
}

.bs-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bs-pb-5 {
  padding-bottom: 16px;
}

.bs-pb-7 {
  padding-bottom: 24px;
}

.bs-pt-10 {
  padding-top: 48px;
}

.bs-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.bs-px-0:first-of-type {
  padding-left: 0;
}

.bs-px-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.bs-px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.bs-py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bs-w-100p {
  width: 100%;
}

.bs-w-300px {
  width: 300px;
}

.bs-h-lg-auto {
  height: calc(25vw - 19.5px);
  max-height: 293.5px;
}

.bs-h-md-auto {
  height: calc(50vw - 28px);
  max-height: 300px;
}

.bs-h-300px {
  height: 300px;
}

.bs-mnw-300px {
  min-width: 300px;
}

.bs-flex {
  display: flex;
}

.bs-row {
  flex-direction: row;
}

.bs-column {
  flex-direction: column;
}

.bs-jc-c {
  justify-content: center;
}

.bs-ai-c {
  align-items: center;
}

.bs-grid {
  display: grid;
}

.bs-1col {
  grid-template-columns: 1fr;
}

.bs-2col {
  grid-template-columns: 1fr 1fr;
}

.bs-4col {
  grid-template-columns: repeat(4, 1fr);
}

.bs-1row {
  grid-template-rows: 1fr;
}

.bs-gap-4 {
  gap: 12px;
}

.bs-pos-abs {
  position: absolute;
}

.bs-l-0 {
  left: 0;
}

.bs-t-10px {
  top: 10px;
}

.bs-pos-rel {
  position: relative;
}

.bs-mxw-300px {
  max-width: 300px;
}

.bs-ff-body {
  font-family: var(--font-body-family);
}

.bs-ff-heading {
  font-family: var(--font-heading-family);
}

.bs-fs-11px {
  font-size: 11px;
}

.bs-fs-12px {
  font-size: 12px;
}

.bs-fs-1 {
  font-size: 16px;
}

.bs-fs-7 {
  font-size: 28px;
}

.bs-fs-87p {
  font-size: 0.875em;
}

.bs-lh-100 {
  line-height: 1;
}

.bs-lh-145 {
  line-height: 1.45;
}

.bs-lh-30px {
  line-height: 30px;
}

.bs-fw-300 {
  font-weight: 300;
}

.bs-fw-400 {
  font-weight: 400;
}

.bs-fw-500 {
  font-weight: 500;
}

.bs-ls-m100 {
  letter-spacing: -1px;
}

.bs-ls-m124 {
  letter-spacing: -1.24px;
}

.bs-td-lt {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.1em;
}

.bs-square-outer:before {
  content: "";
  float: left;
  padding-top: "100%";
}

.bs-square-inner {
  float: left;
}

.bs-bgcol-fg {
  background-color: var(--color-foreground);
}

.bs-col-bg {
  color: var(--color-background);
}

.bs-contain {
  object-fit: contain;
}

@media screen and (min-width: 500px) {
  .bs-mobile {
    display: none;
  }
  .bs-tablet {
    display: block;
  }
  .bs-pb-md-8 {
    padding-bottom: 32px;
  }
  .bs-pt-md-13 {
    padding-top: 72px;
  }
  .bs-px-md-5 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .bs-mnw-md-210px {
    min-width: 210px;
  }
  .bs-fs-md-12px {
    font-size: 12px;
  }
  .bs-lh-md-114 {
    line-height: 1.14;
  }
  .bs-lh-md-136 {
    line-height: 1.36;
  }
  .bs-ls-md-m067 {
    letter-spacing: -0.67px;
  }
  .submit {
    line-height: 1.288;
    letter-spacing: 0.67px;
    padding-top: 12.7516px;
    padding-bottom: 10.7516px;
    padding-left: 14.0017px;
    padding-right: 14.0017px;
  }
  .button {
    line-height: 1.288;
    letter-spacing: 0.67px;
  }
}

@media screen and (min-width: 990px) {
  .bs-tablet {
    display: none;
  }
  .bs-desktop {
    display: block;
  }
  .bs-SectionGrid {
    display: grid;
  }
  .bs-mb-lg-5 {
    margin-bottom: 16px;
  }
  .bs-mx-lg-unset {
    margin-left: unset;
    margin-right: unset;
  }
  .bs-px-lg-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bs-mnw-lg-unset {
    min-width: unset;
  }
  .bs-mxw-lg-unset {
    max-width: unset;
  }
  .bs-t-lg-16px {
    top: 16px;
  }
  .bs-fs-lg-3 {
    font-size: 20px;
  }
  .bs-fs-lg-90p {
    font-size: 0.9em;
  }
  .bs-fs-lg-38px {
    font-size: 38px;
  }
  .bs-lh-lg-110 {
    line-height: 1.1;
  }
  .bs-lh-lg-111 {
    line-height: 1.11;
  }
  .bs-lh-lg-133 {
    line-height: 1.33;
  }
  .bs-lh-lg-44px {
    line-height: 44px;
  }
  .bs-fw-lg-400 {
    font-weight: 400;
  }
  .bs-ls-lg-m098 {
    letter-spacing: -0.98px;
  }
}
