.bs-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.bs-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.bs-left {
  text-align: left;
}

.bs-center {
  text-align: center;
}

.bs-mb-2 {
  margin-bottom: 4px;
}

.bs-mb-5 {
  margin-bottom: 16px;
}

.bs-w-100p {
  width: 100%;
}

.bs-mnw-300px {
  min-width: 300px;
}

.bs-mt-6 {
  margin-top: 20px;
}

.bs-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bs-pb-5 {
  padding-bottom: 16px;
}

.bs-pb-7 {
  padding-bottom: 24px;
}

.bs-pt-10 {
  padding-top: 48px;
}

.bs-px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.bs-flex {
  display: flex;
}

.bs-column {
  flex-direction: column;
}

.bs-ai-c {
  align-items: center;
}

.bs-grid {
  display: grid;
}

.bs-1col {
  grid-template-columns: 1fr;
}

.bs-1row {
  grid-template-rows: 1fr;
}

.bs-pos-rel {
  position: relative;
}

.bs-mxw-300px {
  max-width: 300px;
}

.bs-ff-heading {
  font-family: var(--font-heading-family);
}

.bs-fs-7 {
  font-size: 28px;
}

.bs-lh-30px {
  line-height: 30px;
}

.bs-fw-500 {
  font-weight: 500;
}

.bs-ls-m124 {
  letter-spacing: -1.24px;
}

.bs-square-outer:before {
  content: "";
  float: left;
  padding-top: "100%";
}

.bs-square-inner {
  float: left;
}

@media screen and (min-width: 500px) {
  .bs-pb-md-8 {
    padding-bottom: 32px;
  }
  .bs-pt-md-13 {
    padding-top: 72px;
  }
  .bs-px-md-5 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .bs-mnw-md-210px {
    min-width: 210px;
  }
}

@media screen and (min-width: 990px) {
  .bs-SectionGrid {
    display: grid;
  }
  .bs-mb-lg-5 {
    margin-bottom: 16px;
  }
  .bs-mx-lg-unset {
    margin-left: unset;
    margin-right: unset;
  }
  .bs-px-lg-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bs-mnw-lg-unset {
    min-width: unset;
  }
  .bs-mxw-lg-unset {
    max-width: unset;
  }
  .bs-fs-lg-38px {
    font-size: 38px;
  }
  .bs-lh-lg-44px {
    line-height: 44px;
  }
  .bs-fw-lg-400 {
    font-weight: 400;
  }
}
