.breadcrumbs__list,
.breadcrumbs__list li {
    list-style: none;
}

.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem 25rem 0 25rem;
    padding: 0;
}

.breadcrumbs__item:not(:last-child):after {
    border-style: solid;
    border-width: .10em .10em 0 0;
    content: '';
    display: inline-block;
    height: .20em;
    margin: 0 .20em;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
    width: .20em;
}

.breadcrumbs__list a {
    color: var(--gradient-base-accent-1);
}

@media screen and (max-width: 1024px) {
    .breadcrumbs__list {
        justify-content: center;
        margin: 0;
    }
}