.breadcrumbs {
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 13px;
  color: #706b67;
}
/*.breadcrumbs__link:visited {
  color: black !important;
}
.breadcrumbs__link {
  color: black !important;
}*/
.breadcrumbs__link {
  text-decoration: none !important;
  color: #706b67;
}
.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #706b67;
  content: '';
  display: inline-block;
  height: 0.35em;
  margin: 0 0.2em;
  position: relative;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 0.35em;
  margin-bottom: 3px;
}

.breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs__link[aria-current='page'] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs__link[aria-current='page']:hover,
.breadcrumbs__link[aria-current='page']:focus {
  text-decoration: underline;
}

.breadcrumbs__item :hover,
.breadcrumbs__link :focus {
  text-decoration: underline !important;
}

.collection__title {
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}
