.brushstroke{
    position: relative;
    min-height: 7rem;
    display: flex;
    align-items: center;
}
.brushstroke h2{
    position:relative;
    text-align: center;
    margin:0;
}
.brushstroke svg{
    position: absolute;
    height:100%;
    width: 100%;

}
.brushstroke__text {
    position: relative;
    text-align: left;
}
.brushstroke-accent-1{
    fill: rgb(var(--color-base-accent-1));
}
.brushstroke-accent-2{
    fill: rgb(var(--color-base-accent-2));
}
.brushstroke-background-1{
    fill: rgb(var(--color-base-background-1));
}
.brushstroke-background-2{
    fill: rgb(var(--color-base-background-2));
}
.brushstroke-button-color{
    fill: rgb(var(--color-base-outline-button-labels));
}