.btn {
  display: inline-block;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 12px 60px;
  font-size: 16px;
  padding: 12px 60px;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background 0.5s ease;
  font-weight: bold;
  font-family: "AlrightSans-Bold", lato, helvetica, sans-serif;
  font-weight: bold;
  height: 4.5rem;
  line-height: normal;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: #ffb256;
  color: #383838;
}

.btn-primary:hover {
  background: #ffe3a6;
  color: #383838;
}

.btn-secondary {
  background: #eee;
  color: #383838;
}

.btn-secondary:hover {
  filter: brightness(85%);
  color: black;
}
