.campaign-block-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign-block__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-block__background-image img {
    z-index: 1;
}

.campaign-block__background-image.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56.34%, rgba(0, 0, 0, 0.75) 79.35%);
    z-index: 2;
}

.campaign-block__content.overlapping-text {
    position: absolute;
    bottom: 5rem;
    z-index: 3;
    width: var(--page-width);
}

.campaign-block__content.overlapping-text .campaign-block__text {
    width: 30%;
}

.campaign-block__content:not(.overlapping-text) {
    text-align: center;
    width: 40%;
    margin-top: 2rem;
}

.campaign-block-container.side-by-side {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.campaign-block__content.side-by-side{
    text-align: left;
    padding: 3rem;
}

@media screen and (max-width: 750px) {
    .campaign-block__content.overlapping-text {
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
        width: 90%;
    }

    .campaign-block__background-image img {
        min-height: 40rem;
    }

    .campaign-block__content:not(.overlapping-text) {
        width: 90%;
    }

    .campaign-block-container.side-by-side {
        flex-wrap: wrap;        
    }
}