.campaign-block-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaign-block__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-block__content.overlapping-text {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    right: 5rem;
    z-index: 1;
}

.campaign-block__content:not(.overlapping-text) {
    text-align: center;
    width: 40%;
}

@media screen and (max-width: 750px) {
    .campaign-block__content.overlapping-text {
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }

    .campaign-block__background-image img {
        min-height: 40rem;
    }

    .campaign-block__content:not(.overlapping-text) {
        width: 100%;
    }
}