.category-page {}
.category-page-key-visual {
  background-color: #f1efe3;
  padding: 40px;
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
}
.category-page-key-visual-body {
  max-width: 1000px;
  margin: auto;
}
.category-page-key-visual-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.category-page-key-visual-intro {
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
}
.category-page-key-visual-image {
  text-align: center;
  margin-top: 16px;
  img {
    max-width: 100%;
    height: auto;
  }
}
.category-page-content {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
  h1,h2,h3 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}