.shopify-payment-button__button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  transition: background 0.2s ease-in-out;
  background-color: var(--grey-50);
  color: var(--black);
  height: 54px;
  padding: 12px 0;
  line-height: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'National 2';
  width: 100%;
  flex-grow: 1;
  &:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  }
}

.shopify-payment-button__button[disabled] {
  opacity: 0.6;
  cursor: default;
  background-color: var(--grey-300);
  color: var(--grey-500);
}

@media screen and (min-width: 400px) {
  .shopify-payment-button__button {
    height: 48px;
  }
}


.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) !important;
  background-color: var(--grey-50);
}

.shopify-payment-button__more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: none;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  text-decoration: underline;
  width: 100%;
}

.shopify-payment-button__more-options.shopify-payment-button__skeleton {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.shopify-payment-button__more-options[disabled] {
  opacity: 0.6;
  cursor: default !important;
}

.shopify-payment-button__button.shopify-payment-button__button--branded {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  --wallet-button-border-radius: 32px;
}

.shopify-payment-button__button.shopify-payment-button__button--branded .shopify-cleanslate {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}

.shopify-payment-button__button{
  border-radius: 32px;
}

.shopify-cleanslate > div{
  border-radius: 32px;
}

.shopify-payment-button__button.button.loading {
  position: relative;
  color: transparent;
}

.shopify-payment-button__button.button.loading > .loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.shopify-payment-button__button.button.loading > .loading-overlay__spinner .spinner {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.button.loading > .loading-overlay__spinner .path {
  stroke: white;
}

.shopify-payment-button__button .loading-overlay__spinner {
  width: 1.8rem;
  display: inline-block;
}

.shopify-payment-button__button .spinner {
  animation: shopify-rotator 1.4s linear infinite;
}

@keyframes shopify-rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.shopify-payment-button__button .path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: rgb(18, 18, 18);
  animation: shopify-dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .shopify-payment-button__button .path {
    stroke: CanvasText;
  }
}

@keyframes shopify-dash {
  0% {
    stroke-dashoffset: 280;
  }
  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}



