.collection-slider {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  }
  
  .collection-item {
    min-width: 200px;
    text-align: center;
  }
  
  .collection-item img {
    width: 100%;
    height: auto;
  }