.collapsible-content__media--small {
  height: 19.4rem;
}

.collapsible-content__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .collapsible-content__media--small {
    height: 31.4rem;
  }

  .collapsible-content__media--large {
    height: 69.5rem;
  }
}

@media screen and (max-width: 749px) {
  .collapsible-content__grid {
    flex-direction: column-reverse;
  }
}

.collapsible-content-wrapper {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .collapsible-content__grid--reverse {
    flex-direction: row-reverse;
  }

  .collapsible-content-wrapper {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }  
}

.collapsible-content-wrapper--narrow {
  margin: 0 auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  max-width: 73.4rem;
}

.color:not(.color-background-1).accordion:not(:first-child) {
  margin-top: 1rem;
}

.caption-with-letter-spacing + h2 {
  margin-top: 1rem;
}

@media screen and (min-width: 750px) {
  .collapsible-content .accordion {
    margin-top: 0;
  }
}

.accordion.color {
  border: none;
}

.accordion.color summary, .accordion.color .accordion__content {
  padding-left: 1.5rem;
}

.collapsible-content summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.collapsible-content summary:hover .summary__title {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  .collapsible-content__grid .grid__item:nth-child(2) {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .collapsible-content__grid .grid__item:nth-child(2) {
    padding-left: 7rem;
  }
}
