.collage-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.collage {
  display: grid;
}

.collage__item > * {
  width: 100%;
}

.collage__item .card__content {
  flex-grow: initial;
}

@media screen and (max-width: 749px) {
  .collage {
    grid-column-gap: var(--grid-mobile-horizontal-spacing);
    grid-row-gap: var(--grid-mobile-vertical-spacing);
  }

  .collage--mobile {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.collage-card {
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  /* border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity)); */
  padding: var(--image-padding);
}

/* Needed for gradient continuity with or without animation, background-attachment: local scopes the gradient to its container which happens automatically when a transform is applied (animation on scroll) */
.collage-card.gradient {
  transform: perspective(0);
}

.collage-card:after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
    rgba(var(--color-shadow), var(--shadow-opacity));
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
}

.collage-card .media {
  height: 100%;
  overflow: hidden;
  /* border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding)); */
}

.collage-card .deferred-media {
  height: 100%;
  overflow: visible;
}

.collage-card__link {
  display: block;
  height: 100%;
}

.collage-card .deferred-media__poster {
  background-color: transparent;
  border: 0;
}

.collage-card .deferred-media__poster:after {
  content: '';
  position: absolute;
  z-index: 1;
  outline-offset: 0.3rem;
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.collage-card .deferred-media__poster:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus:not(:focus-visible),
.collage-card .deferred-media__poster:focus:not(:focus-visible):after {
  outline: none;
  box-shadow: none;
}

.collage-card .deferred-media__poster:focus {
  outline: none;
  box-shadow: none;
}

.collage {
  display: grid;
  align-items: start;
  column-gap: var(--grid-desktop-horizontal-spacing);
  row-gap: var(--grid-desktop-vertical-spacing);
  overflow: hidden;
}

.collage__item {
  grid-area: span var(--collage-item-grid-row-span) / span var(--collage-item-grid-column-span-mobile);
  height: 100%;
}

@media only screen and (min-width: 990px) {
  .collage__item {
    grid-area: span var(--collage-item-grid-row-span) / span var(--collage-item-grid-column-span);
  }
}

.collage__item .card__inner {
  height: 100%;
}

.collage__item .card--standard:not(.card--horizontal) .placeholder-svg {
  height: 100%;
}

/* .collage__item .card--standard > .card__content .card__information {
  padding: 1rem;
}

.collage__item .card--card .card__content {
  padding: 0px;
} */

/* .collage__item .card__content,
.collage__item .card__information {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.collage .card__information * {
  font-size: var(--s-3);
  list-style: normal;
} */

.collage .card__inner {
  --ratio-percent: auto !important;
}

.collage video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage-card .product-card-wrapper .card,
.collage-card .collection-card-wrapper .card {
  --shadow-horizontal-offset: 0px;
  --shadow-vertical-offset: 0px;
  --shadow-blur-radius: 0px;
  --shadow-opacity: 0px;
  --shadow-visible: 0;
  --image-padding: 0px;
}

@media only screen and (min-width: 990px) {
  .collage .card__information * {
    font-size: var(--s-1);
  }
}
