.collage-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.collage {
  display: grid;
}

.collage__item > * {
  width: 100%;
}

@media screen and (max-width: 749px) {
  .collage {
    grid-column-gap: var(--grid-mobile-horizontal-spacing);
    grid-row-gap: var(--grid-mobile-vertical-spacing);
  }

  .collage--mobile {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .collage--mobile .collage__item--left:first-child {
    grid-column: span 2;
  }

  .collage--mobile .collage__item--left:first-child:nth-last-child(2) {
    grid-column: span 1;
  }

  .collage--mobile .collage__item--left:nth-child(3n) {
    grid-column-start: 2;
  }

  .collage--mobile .collage__item--right:first-child {
    grid-column-start: 1;
  }

  .collage--mobile .collage__item--right:first-child:last-child {
    grid-column: span 2;
  }

  .collage--mobile .collage__item--right:nth-child(3n - 1) {
    grid-column-start: 2;
  }

  .collage--mobile .collage__item--right:nth-child(3n) {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 750px) {
  .collage {
    grid-auto-flow: column;
    grid-column-gap: var(--grid-desktop-horizontal-spacing);
    grid-row-gap: var(--grid-desktop-vertical-spacing);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .collage__item--left:first-child {
    grid-column: 1 / span 2;
    grid-row: span 2;
  }

  .collage__item--left:first-child:last-child {
    grid-column: 1 / span 3;
  }

  .collage__item--left:nth-child(3n - 1),
  .collage__item--left:nth-child(3n) {
    grid-column-start: 3;
  }

  .collage__item--left:nth-child(3n - 1):last-child {
    grid-row: span 2;
  }

  .collage__item--right:first-child {
    grid-column: 1 / span 1;
    grid-row: span 1;
  }

  .collage__item--right:first-child:last-child {
    grid-column: 1 / span 3;
  }

  .collage__item--right:nth-child(3n - 1) {
    grid-column-start: 1;
  }

  .collage__item--right:nth-child(3n-1):last-child {
    grid-column: span 2;
  }

  .collage__item--right:nth-child(3n) {
    grid-column: 2 / span 2;
    grid-row: span 2;
  }

  .collage__item--collection:only-child,
  .collage__item--product:only-child {
    justify-self: center;
    max-width: 73rem;
    width: 100%;
  }
}

.collage-card {
  background: rgb(var(--color-background));
  border-radius: var(--card-corner-radius);
  border: var(--card-border-width) solid rgba(var(--color-foreground), var(--card-border-opacity));
  height: 100%;
  padding: var(--card-image-padding);
  position: relative;
}

.collage-card:after {
  border-radius: var(--card-corner-radius);
  box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-shadow), var(--card-shadow-opacity));
  content: '';
  position: absolute;
  top: calc(var(--card-border-width) * -1);
  right: calc(var(--card-border-width) * -1);
  bottom: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  z-index: -1;
}

.collage-card .media {
  border-radius: calc(var(--card-corner-radius) - var(--card-border-width) - var(--card-image-padding));
  height: 100%;
  overflow: hidden;
}

.collage--collapsed .collage-card,
.collage--collapsed .collage-card:after {
  border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
}

.collage--collapsed .collage-card .media {
  border-top-left-radius: calc(var(--top-left-radius) - var(--card-border-width) - var(--card-image-padding));
  border-top-right-radius: calc(var(--top-right-radius) - var(--card-border-width) - var(--card-image-padding));
  border-bottom-right-radius: calc(var(--bottom-right-radius) - var(--card-border-width) - var(--card-image-padding));
  border-bottom-left-radius: calc(var(--bottom-left-radius) - var(--card-border-width) - var(--card-image-padding));
}


.collage-card .deferred-media {
  height: 100%;
  overflow: visible;
}

.collage-card__link {
  display: block;
  height: 100%;
}

.collage-card .deferred-media__poster {
  background-color: transparent;
  border: 0;
}

.collage-card .deferred-media__poster:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  right: calc(var(--card-border-width) * -1);
  top: calc(var(--card-border-width) * -1);
  outline-offset: 0.3rem;
}

.collage-card .deferred-media__poster:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.collage-card .deferred-media__poster:focus:not(:focus-visible),
.collage-card .deferred-media__poster:focus:not(:focus-visible):after {
  outline: none;
  box-shadow: none;
}

.collage-card .deferred-media__poster:focus {
  outline: none;
  box-shadow: none;
}

.collage .collage-card-spacing img {
  object-fit: contain;
}

.collage--collapsed-y .collage__item .card--card,
.collage--collapsed-y .collage__item--collection .card--text,
.collage--collapsed-y .collage-card {
  height: calc(100% + var(--card-border-width));
}

.collage--collapsed-x .collage-card {
  width: calc(100% + var(--card-border-width));
}

/* offset collage for border collapsing */
.collage--collapsed-x {
  padding-right: var(--card-border-width);
}
.collage--collapsed-y {
  padding-bottom: var(--card-border-width);
}

/* offset collage cards for border collapsing */
.collage--collapsed-x :where(.card, .collage-card) {
  margin-right: calc(var(--card-border-width) * -1);
}
.collage--collapsed-y :where(.card--card, .text--only, .collage-card) {
  margin-bottom: calc(var(--card-border-width) * -1);
}

@media screen and (min-width: 750px) {
  /* offset collage card shadows to prevent overlap */
  .collage--collapsed-x .collage__item--left:first-child :where(.card--card, .collage-card):after,
  .collage--collapsed-x .collage__item--left:first-child .card--standard .card__inner:after {
    margin-right: var(--card-border-width);
  }
  .collage--collapsed-x .collage__item--right:last-child :where(.card--card, .collage-card):after,
  .collage--collapsed-x .collage__item--right:last-child .card--standard .card__inner:after {
    margin-left: var(--card-border-width);
  }
  .collage--collapsed-y .collage__item--left:nth-child(3) :where(.card--card, .collage-card):after {
    margin-top: var(--card-border-width);
  }
  .collage--collapsed-y .collage__item--right:first-child :where(.card--card, .collage-card):after {
    margin-bottom: var(--card-border-width);
  }
}

@media screen and (max-width: 749px) {
  /* offset collage card shadows to prevent overlap */
  .collage--collapsed-y:not(.collage--mobile) .collage__item:not(:first-child) :where(.card--card, .collage-card):after,
  .collage--collapsed-y.collage--mobile .collage__item--right:nth-child(3) :where(.card--card, .collage-card):after,
  .collage--collapsed-y.collage--mobile .collage__item--right:nth-child(3) .card--standard .card__inner:after {
    margin-top: var(--card-border-width);
  }
  .collage--mobile.collage--collapsed-y .collage__item--left:first-child :where(.card--card, .collage-card):after {
    margin-bottom: var(--card-border-width);
  }
  .collage--mobile.collage--collapsed-x .collage__item--left:nth-child(3) :where(.card--card, .collage-card):after,
  .collage--mobile.collage--collapsed-x .collage__item--left:nth-child(3) .card--standard .card__inner:after {
    margin-left: var(--card-border-width);
  }
  .collage--mobile.collage--collapsed-x .collage__item--right:first-child :where(.card--card, .collage-card):after,
  .collage--mobile.collage--collapsed-x .collage__item--right:first-child .card--standard .card__inner:after {
    margin-right: var(--card-border-width);
  }
}

.collage--collapsed .collage__item {
  --top-left-radius: 0;
  --top-right-radius: 0;
  --bottom-right-radius: 0;
  --bottom-left-radius: 0;
}

@media screen and (min-width: 750px) {
  .collage--collapsed .collage__item:only-child,
  .collage--collapsed .collage__item--left:first-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--right:last-child {
    --top-left-radius: var(--card-corner-radius);
    --bottom-left-radius: var(--card-corner-radius);
  }

  .collage--collapsed .collage__item:only-child,
  .collage--collapsed .collage__item--right:last-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--left:first-child {
    --top-right-radius: var(--card-corner-radius);
    --bottom-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x .collage__item--right:first-child,
  .collage--collapsed-x:not(.collage--collapsed-y) .collage__item--right:nth-last-child(2),
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--left:nth-child(2),
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--right:first-child,
  .collage--collapsed-y.contains-card--standard .collage__item--right:first-child:where(.collage__item--product, .collage__item--collection) + .collage__item:nth-last-child(2),
   .collage--collapsed-y.contains-card--standard:not(.collage--collapsed-x) .collage__item--left:nth-child(2):where(.collage__item--product, .collage__item--collection) + .collage__item {
    --top-left-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x .collage__item--left:nth-child(2),
  .collage--collapsed-x:not(.collage--collapsed-y) .collage__item--left:last-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--left:nth-child(2),
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--right:first-child,
  .collage--collapsed-y.contains-card--standard .collage__item--left:nth-child(2):where(.collage__item--product, .collage__item--collection) + .collage__item,
  .collage--collapsed-y.contains-card--standard:not(.collage--collapsed-x) .collage__item--right:first-child:where(.collage__item--product, .collage__item--collection) + .collage__item {
    --top-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x .collage__item--left:last-child,
  .collage--collapsed-x:not(.collage--collapsed-y) .collage__item--left:nth-child(2),
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--left:last-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--right:nth-last-child(2),
  .collage--collapsed-y.contains-card--standard .collage__item--left:nth-child(2):where(.collage__item--product, .collage__item--collection),
  .collage--collapsed-y.contains-card--standard:not(.collage--collapsed-x) .collage__item--right:first-child:where(.collage__item--product, .collage__item--collection) {
    --bottom-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x .collage__item--right:nth-last-child(2):first-child,
  .collage--collapsed-x .collage__item--right:nth-child(2):not(:last-child),
  .collage--collapsed-x:not(.collage--collapsed-y) .collage__item--right:first-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--left:last-child,
  .collage--collapsed-y:not(.collage--collapsed-x) .collage__item--right:nth-last-child(2),
  .collage--collapsed-y.contains-card--standard .collage__item--right:first-child:where(.collage__item--product, .collage__item--collection),
  .collage--collapsed-y.contains-card--standard:not(.collage--collapsed-x) .collage__item--left:nth-child(2):where(.collage__item--product, .collage__item--collection) {
    --bottom-left-radius: var(--card-corner-radius);
  }

}

@media screen and (max-width: 749px) {
  .collage--collapsed-y .collage__item--left:nth-last-child(3),
  .collage--collapsed-y:not(.collage--mobile) .collage__item:first-child,
  .collage--collapsed-x:not(.collage--collapsed-y):not(.collage--mobile) .collage__item,
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--left:nth-last-child(3),
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--right:nth-child(3),
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--right:nth-child(-n + 2),
  .collage--collapsed-y.contains-card--standard:not(.collage--mobile) .collage__item:where(.collage__item--product, .collage__item--collection) + .collage__item,
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--left:nth-child(2):last-child,
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--left:nth-last-child(2):first-child {
    --top-left-radius: var(--card-corner-radius);
    --top-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-y:not(.collage--mobile) .collage__item:last-child,
  .collage--collapsed-x:not(.collage--collapsed-y):not(.collage--mobile) .collage__item,
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--left:nth-last-child(3),
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--right:nth-child(3),
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--left:nth-last-child(-n + 2),
  .collage--collapsed-y.contains-card--standard:not(.collage--mobile) .collage__item:where(.collage__item--product, .collage__item--collection),
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--right:nth-child(2):last-child,
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--right:nth-last-child(2):first-child {
    --bottom-left-radius: var(--card-corner-radius);
    --bottom-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--left:nth-last-child(2),
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--right:first-child {
    --top-left-radius: var(--card-corner-radius);
    --bottom-left-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--left:last-child,
  .collage--collapsed-x:not(.collage--collapsed-y).collage--mobile .collage__item--right:nth-child(2) {
    --top-right-radius: var(--card-corner-radius);
    --bottom-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed-y .collage__item:first-child,
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--right:first-child:where(.collage__item--product, .collage__item--collection) ~ .collage__item:nth-child(3),
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--left:nth-last-child(3):where(.collage__item--product, .collage__item--collection) + .collage__item:nth-child(2),
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile.contains-card--standard .collage__item--left:nth-last-child(3):where(.collage__item--product, .collage__item--collection) ~ .collage__item {
    --top-left-radius: var(--card-corner-radius);
  }

  .collage--collapsed-x.collage--mobile .collage__item--right:nth-child(2),
  .collage--collapsed-x.collage--mobile .collage__item:last-child:not(:nth-child(3)),
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--right:nth-child(2):where(.collage__item--product, .collage__item--collection) + .collage__item,
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--left:first-child:where(.collage__item--product, .collage__item--collection) ~ .collage__item:nth-child(3),
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile.contains-card--standard .collage__item--left:nth-last-child(3):where(.collage__item--product, .collage__item--collection) ~ .collage__item {
    --top-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed.collage--mobile .collage__item:last-child,
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--right:nth-child(2):where(.collage__item--product, .collage__item--collection),
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item--left:nth-last-child(3):where(.collage__item--product, .collage__item--collection) {
    --bottom-right-radius: var(--card-corner-radius);
  }

  .collage--collapsed.collage--mobile .collage__item:only-child,
  .collage--collapsed-x.collage--mobile .collage__item--right:nth-last-child(2):first-child,
  .collage--collapsed-y:not(.collage--collapsed-x).collage--mobile .collage__item--left:nth-child(2),
  .collage--collapsed-y.collage--mobile .collage__item--right:nth-child(3),
  .collage--collapsed-x.collage--mobile .collage__item--left:nth-last-child(2),
  .collage--collapsed-y.collage--mobile.contains-card--standard .collage__item:first-child:where(.collage__item--product, .collage__item--collection) {
    --bottom-left-radius: var(--card-corner-radius);
  }
}
