/* color-swatch + label.color-swatch,
.color-swatch + label.color-swatch:after,
.__input input[type='radio'] + label.color-swatch:before {
  border-radius: 0;
}
.__input input[type='radio'] + label.color-swatch.round,
.__input input[type='radio'] + label.color-swatch.round:after,
.__input input[type='radio'] + label.color-swatch.round:before {
  border-radius: 100%;
} */

.color-swatch:checked + label {
  border: 2px solid var(--black);
}

.color-swatch:checked + label:hover {
  border: 1px solid var(--black);
  opacity: 0.8;
}

.color-swatch:disabled + label {
  cursor: not-allowed;
  opacity: 0.5;
}

.color-swatch:not(:disabled) + label:hover {
  border: 1px solid var(--black);
}
.color-swatch:not(:disabled) + label .disabled-line {
  display: none;
}

.color-swatch:disabled + label .disabled-line {
  cursor: not-allowed;
}

/* [title] {
  position: relative;
}

[title]:after {
 
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  white-space: nowrap; 


  content: attr(title);
  display: none;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 120%; 
  background-color: #000;
  color: white;
  width: max-content;
  padding: 2px 4px;
  font-size: 10px;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: opacity 250ms ease-in-out 500ms; 
}

[title]:hover:after {
  opacity: 1;
  text-transform: uppercase;
} */
