/* color-swatch + label.color-swatch,
.color-swatch + label.color-swatch:after,
.product-form__input input[type='radio'] + label.color-swatch:before {
  border-radius: 0;
}
.product-form__input input[type='radio'] + label.color-swatch.round,
.product-form__input input[type='radio'] + label.color-swatch.round:after,
.product-form__input input[type='radio'] + label.color-swatch.round:before {
  border-radius: 100%;
} */

.color-swatch:checked + label {
  border: 2px solid var(--black);
  background-color: green !important;
}

.color-swatch:checked + label:hover {
  border: 1px solid var(--black);
  opacity: 0.8;
}

.color-swatch:disabled + label {
  cursor: not-allowed;
  opacity: 0.5;
}

.color-swatch:not(:disabled) + label:hover {
  border: 1px solid var(--black);
}
.color-swatch:not(:disabled) + label .disabled-line {
  display: none;
}

.color-swatch:disabled + label .disabled-line {
  cursor: not-allowed;
}


