/* For @include*/
@-webkit-keyframes shine {
  0% {
    left: 0%;
    opacity: 0;
  }
  45% {
    opacity: 0.38;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 90%;
  }
}
@keyframes shine {
  0% {
    left: 0%;
    opacity: 0;
  }
  45% {
    opacity: 0.38;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes loading-square {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(68px, 0) rotate(360deg);
            transform: translate(68px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes loading-square {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(68px, 0) rotate(360deg);
            transform: translate(68px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
/* Reusable Classes */
.fade-out {
  -webkit-animation: fade-out 2.3s forwards;
          animation: fade-out 2.3s forwards;
}

#loader {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0%;
  left: 0;
  z-index: 8000;
  background-color: #ffffff;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  place-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.loading .loader__content p {
  width: 75px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.loading .loader__content .square__wrapper {
  position: relative;
  width: 75px;
}
.loading .loader__content .square__wrapper .square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: var(--color-primary);
  display: block;
}
.loading .loader__content .square__wrapper .square {
  -webkit-animation: loading-square 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loading-square 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}