.audio-container {
  border: 1px solid black;
  padding: 1.5rem 4rem;
  text-align: center;
  list-style: none;
  background-color: #fff;
}

.audio-track-list {
  padding: 0;
}

.audio-track h3 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.custom-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-wrapper {
  width: 100%;
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #000 0%, #ccc 0%);
  transition: background 0.1s linear;
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: none;
}

.progress-bar::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #000;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.play {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2.2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  font-size: 1.5rem;
  background: none;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #555;
}

.current-time,
.duration {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
