.search__input.field__input {
  padding-right: 3.15rem;
}

.search__button .icon {
  height: 1.15rem;
  width: 1.15rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
