.discounts {
  font-size: 1.2rem;
}

.discounts__discount {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.discounts__discount svg {
  color: var(--color-button-background);
}

.discounts__discount--end {
  justify-content: flex-end;
}

.discounts__discount > .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}
