.image-with-text .grid {
  margin-left: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.image-with-text__media-wrapper {
  --border-width: var(--media-border-width);
  min-height: 100%;
  border-radius: var(--media-radius);
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  position: relative;
}

.image-with-text__media-wrapper--small {
  height: 19.4rem;
}

.image-with-text__media-wrapper--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media-wrapper--small {
    height: 31.4rem;
  }

  .image-with-text__media-wrapper--large {
    height: 69.5rem;
  }
}

.image-with-text__media {
  height: 100%;
  width: 100%;
  position: absolute;
}

.image-with-text__media--placeholder {
  background: rgba(var(--color-foreground), 0.04);
}

.image-with-text__media-wrapper--adapt .image-with-text__media--placeholder {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .image-with-text__media-wrapper--adapt .image-with-text__media--placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .image-with-text__media-wrapper--adapt .image-with-text__media--placeholder {
    height: 30rem;
  }
}

.image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.image-with-text__content-wrapper {
  --border-width: var(--text-boxes-border-width);
  align-items: flex-start;
  border-radius: var(--text-boxes-radius);
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
}

.image-with-text__media-wrapper:after,
.image-with-text__content-wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: content-box;
}

.image-with-text__content-wrapper:after {
  top: calc(var(--text-boxes-border-width) * -1);
  left: calc(var(--text-boxes-border-width) * -1);
  border: var(--text-boxes-border-width) solid transparent;
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-foreground), var(--text-boxes-shadow-opacity));
}

.image-with-text__media-wrapper:after {
  border: var(--media-border-width) solid transparent;
  top: calc(var(--media-border-width) * -1);
  left: calc(var(--media-border-width) * -1);
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-foreground), var(--media-shadow-opacity));
}

.image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-wrapper:after,
.image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content-wrapper:after {
  width: calc(100% - var(--text-boxes-border-width));
}

.image-with-text:not(.image-with-text--overlap) .media,
.image-with-text:not(.image-with-text--overlap) .placeholder {
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

@media screen and (max-width: 749px) {
  .image-with-text:not(.image-with-text--overlap) .image-with-text__media-wrapper,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__media-wrapper > *,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__media-wrapper:after {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text:not(.image-with-text--overlap) .image-with-text__content-wrapper,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__content-wrapper:after {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .image-with-text:not(.image-with-text--overlap) .image-with-text__media-wrapper {
    margin-bottom: calc(var(--text-boxes-border-width) * -1);
  }

  .image-with-text:not(.image-with-text--overlap) .image-with-text__content-wrapper {
    margin-top: calc(var(--text-boxes-border-width) * -1);
  }

}

@media screen and (min-width: 750px) {
  .image-with-text__grid--reverse .image-with-text__content-wrapper {
    margin-left: auto;
  }

  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-wrapper,
  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-wrapper > *,
  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-wrapper:after,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content-wrapper,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content-wrapper:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content-wrapper,
  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content-wrapper:after,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-wrapper,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-wrapper > *,
  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-wrapper:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .image-with-text:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content-wrapper {
    margin-left: calc(var(--text-boxes-border-width) * -1);
  }

  .image-with-text:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content-wrapper {
    margin-right: calc(var(--text-boxes-border-width) * -1);
  }
}

@media screen and (min-width: 990px) {
  .image-with-text__content-wrapper {
    padding: 6rem 7rem 7rem;
  }
}

.image-with-text__content-wrapper > * + * {
  margin-top: 2rem;
}

.image-with-text__content-wrapper > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.image-with-text__content-wrapper > :first-child:is(.image-with-text__heading) {
  margin-top: 0;
}

.image-with-text__content-wrapper :last-child:is(.image-with-text__heading) {
  margin-bottom: 0;
}

.image-with-text__content-wrapper .button + .image-with-text__text {
  margin-top: 2rem;
}

.image-with-text__content-wrapper .image-with-text__text + .button {
  margin-top: 3rem;
}

.image-with-text__heading {
  margin-bottom: 0;
}

.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}
