.collection-hero--with-image {
  background-color: rgba(var(--color-foreground), 0.04);
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(2.5rem + var(--page-width-margin)) 0
      calc(2.5rem + var(--page-width-margin));
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 3.15rem 0 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 0.95rem;
  font-size: 1.0rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.15rem;
    margin-top: 1.25rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 3.15rem 0 2.5rem;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 12.5rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 2.5rem 1.25rem 2.5rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 1.9rem;
    min-height: 12.5rem;
  }
}
