.brand-list {
    background-color:#DCDCDC;
}

.top-section-title {
    font-size: 40px;
    font-weight: bold;
    margin-left: 170px;
    margin-bottom: 50px;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brand-card {
    width: calc(100% / 4 - 180px);
    height: 65px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px;
    background-color:white;
}

.brand-card:nth-of-type(1) {
    margin-left: 170px;
}

.brand-card:nth-of-type(4n) {
    margin-right: 170px;
}

.brand-card:nth-of-type(5n) {
    margin-left: 170px;
}
