.container{
display: grid;
grid-template-columns: 1fr minmax(25px,200px) minmax(150px,250px) 400px minmax(150px,250px) minmax(25px,200px) 1fr;
z-index: 10;
}

.decoration-left{
    grid-column: 1 / span 3;
    width: 100%;
    justify-self: left;
    height: 600px;
    grid-area: 1 / 2 / span 1 / span 1;
    z-index: 9;
}

.decoration-right{
    height: 400px;
    grid-area: 1 / 5 / span 1 / span 3;
    z-index: 9;
}

.content{
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
    z-index: 12;
}