
.trustpilot-content {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.trustpilot-text {
  font-weight: 500;
}

.trustpilot-stars-img {
  height: 20px;
  width: auto;
}

.trustpilot-count {
  font-weight: 500;
}

.trustpilot-logo-img {
  height: 16px;
  width: auto;
}

@media screen and (max-width: 749px) {
  .trustpilot-content {
    gap: 6px;
    margin-top:15px
  }

  
  
  .trustpilot-stars-img {
    height: 18px;
  }
  
  .trustpilot-logo-img {
    height: 14px;
  }
}
