.container123 {
  padding-bottom: 32px;
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.content123 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin-left: 16px;
  margin-right: 16px;
}

.header123 {
  margin-bottom: 64px;
  counter-reset: count;
  text-align: center;
}

.title123 {
  font-family: var(--font-heading-family);
  text-shadow: 0 0 2px white;
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -1.24px;
  margin-bottom: 16px;
}

.intro123 {
  font-family: var(--font-body-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.24px;
  margin-bottom: 56px;
  text-shadow: 0 0 2px white;
}

.main123 {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.part123 {
  display: flex;
  margin-bottom: 56px;
  align-items: flex-start;
  counter-increment: count;
  font-family: var(--font-heading-family);
  align-self: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.part123:last-of-type {
  margin-bottom: 0;
}
.figure123 {
  padding-right: 0.5em;
  margin-right: 0;
  font-size: 18px;
  line-height: 1.15;
  color: #185341;
  border-color: #185341;
  border-right-width: 1;
  border-right-style: solid;
  text-shadow: 0 0 2px white;
}

.text123 {
  width: unset;
}

.steptitle123 {
  font-size: 18px;
  line-height: 1.15;
  margin-bottom: 4px;
  margin-left: 4px;
  letter-spacing: 0;
  text-shadow: 0 0 2px white;
}

.steptext-d123 {
  display: none;
  font-size: 18px;
  line-height: unset;
  font-weight: 300;
  letter-spacing: 0;
  text-shadow: 0 0 2px white;
}

.steptext-m123 {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.24px;
  text-shadow: 0 0 2px white;
  width: 100%;
}

.decoration-left {
  display: none;
  height: 600px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  width: 100%;
  z-index: 2;
  justify-self: right;
}

.decoration-left img {
  object-fit: contain;
  object-position: left center;
}

.decoration-right {
  height: 400px;
  grid-column: 5 / span 3;
  grid-row: 1 / span 1;
  display: none;
  z-index: -1;
}

.decoration-right img {
  object-fit: contain;
  object-position: right center;
}

@media screen and (min-width: 500px) {
  .container123 {
    padding-bottom: 72px;
  }
  .content123 {
    margin-right: 48px;
  }
  .main123 {
    margin-bottom: 0;
  }
  .part123 {
    align-items: stretch;
  }
  .part123:first-of-type {
    align-self: flex-start;
  }
  .part123:nth-of-type(2) {
    align-self: center;
  }
  .part123:last-of-type {
    align-self: flex-end;
  }
  .figure123 {
    padding-right: 0.125em;
    margin-right: 0.175em;
    font-size: 58px;
    line-height: 1;
  }
  .steptitle123 {
    font-size: 20px;
    line-height: 3;
    margin-left: unset;
  }
  .steptext-d123 {
    display: block;
  }
  .steptext-m123 {
    display: none;
  }
  .decoration-left {
    display: block;
    height: unset;
    justify-self: left;
  }
}

@media screen and (min-width: 990px) {
  .container123 {
    grid-template-columns:
      1fr minmax(25px, 200px) minmax(150px, 250px) 400px minmax(150px, 250px)
      minmax(25px, 200px) 1fr;
  }
  .content123 {
    grid-column: 3 / span 3;
    margin-left: 0;
    margin-right: 0;
  }
  .title123 {
    font-size: 38px;
    line-height: 44px;
    font-weight: 400;
  }
  .intro123 {
    font-size: 22px;
    line-height: 28px;
  }
  .part123 {
    width: auto;
    flex-wrap: nowrap;
  }
  .figure123 {
    padding-right: 24px;
    margin-right: 24px;
  }
  .text123 {
    width: 350px;
  }
  .steptitle123 {
    font-size: 22px;
    line-height: 28px;
  }
  .steptext-d123 {
    line-height: 1.4;
  }
  .decoration-left {
    grid-column: 1 / span 3;
  }
  .decoration-right {
    display: block;
  }
}
/* Parallax definitions */
