.card__icon.card__icon-wishlist {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  z-index: 2;
}
.card__icon .button-wishlist {
  position: relative;
  width: 50px;
  height: 50px;
}
.card__icon .button-wishlist svg {
  width: 100%;
  height: auto;
}

.icon.icon-heart {
  fill: transparent;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.active .icon.icon-heart {
  fill: red;
}