.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  scroll-snap-align: start;
}

.product-card__image-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.product-card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  height: 30rem;
}

.product-card__image-multicolour {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  height: 35rem;
}

.product-card__badge {
  position: absolute;
  bottom: 23px;
  right: 15px;
  padding: 0.1rem 1.2rem;
  border-radius: 10px;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.product-card__title {
  text-transform: uppercase;
  margin: 0;
}

.product-card__description {
  line-height: normal;
}

.product-card__price {
  font-weight: bold;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: fit-content;
  width: 100%;
}

.product-card__information {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  display: flex;
  height: 100%;
  pointer-events: none;
}

.swiper-progress-bar {
  height: 4px;
  background: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  margin: 0.5rem 0;
}

.swiper-progress-fill {
  height: 100%;
  width: 0%;
  background: #000;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.swiper-pagination-progressbar {
  margin: 1.5rem 1rem 0 1rem;
  width: -webkit-fill-available !important;
  background-color: #fff !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000 !important;
}

.swiper-slide img {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
