.discounts {
  font-size: 0.75rem;
}

.discounts__discount {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.discounts__discount svg {
  color: rgba(var(--color-button), var(--alpha-button-background));
}

.discounts__discount--end {
  justify-content: flex-end;
}

.discounts__discount > .icon {
  color: rgb(var(--color-foreground));
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.44rem;
}
