.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: calc(5rem + var(--page-width-margin));
  }

  .product-grid.negative-margin {
    margin-bottom: calc(-5rem - var(--page-width-margin));
  }

  .product-grid.negative-margin--small {
    margin-bottom: calc(-1rem - var(--page-width-margin));
  }
}
