
/* .card-information + .card {
  margin-bottom: 1.3rem;
}

@media screen and (min-width: 750px) {
  .card-information + .card {
    margin-bottom: 1.7rem;
  }
} */

/* .card.card--soft {
  background-color: rgba(var(--color-foreground), 0.04);
  color: rgb(var(--color-foreground));
} */

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

/* .card--media {
  display: block;
  text-decoration: none;
} */

/* .card--text-only {
  display: flex;
  justify-content: center;
} */

/* .card--text-only.card--product {
  position: static;
} */

/* .card--text-only::before {
  content: '';
  display: block;
  padding-bottom: 100%;
} */

/* .card--product {
  position: relative;
} */

.card--stretch {
  height: 100%;
}

.card--outline:not(.card--soft) {
  border: calc(0.1rem / var(--font-body-scale)) solid rgba(var(--color-foreground), 0.04);
}

.card--light-border {
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.card--light-border:hover {
  border: 0.1rem solid rgba(var(--color-foreground), 0.3);
  box-shadow: none;
}

.card__text-spacing {
  padding: 3rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-foreground), 0.04);
}

/* .card--media .card__text-spacing {
  padding: 2rem;
} */

@media screen and (min-width: 750px) {
  /* .card--media .card__text-spacing {
    padding-left: 3rem;
    padding-right: 3rem;
  } */
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card__content > * {
  margin: 0;
}

.card--text-only .card__content {
  grid-row: 2;
  justify-self: flex-start;
  margin-bottom: 6rem;
  margin-top: 5rem;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
}

.card__text-spacing > * {
  margin: 0;
}

.card__text-spacing > *:not(.overlay-card) + * {
  margin-top: 1.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card-information__text {
  display: block;
  margin: 0;
  padding-right: 1.2rem;
}

.card-information {
  width: 100%;
}

.card-information > * {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.card-information > .price {
  color: rgb(var(--color-foreground));
}

.card-information > .rating {
  margin-top: 0.4rem;
}

.card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating) {
  margin-top: 0.7rem;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-wrapper {
  color: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}

/* .card-wrapper .card-information {
  order: 1;
} */

.card__media-spacer {
  padding: 2rem 2rem 0;
}

@media screen and (min-width: 750px) {
  .card__media-spacer {
    padding: 3rem 3rem 0;
  }
}

.card__media-full-spacer {
  padding: 2rem;
}

.card-article-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.overlay-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: transparent;
  transition: background-color var(--duration-long) ease;
}

.card:hover .card-colored .overlay-card {
  background-color: rgba(var(--color-card-hover), 0.06);
}

/* Update */ 

.card {
  /* overflow: hidden; */
  text-decoration: none;
  text-align: var(--card-text-alignment);
}

.card--card,
.card--standard .card__inner { 
  position: relative;
  border-radius: var(--card-corner-radius);
  overflow: hidden;
  border: var(--card-border-width) solid rgba(var(--color-foreground), var(--card-border-opacity));
  box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-foreground), var(--card-shadow-opacity));
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--card-text-alignment);
}

.card__media,
.media {
  position: absolute;
  top: 0;
  bottom: 0;
}

.media {
  width: 100%;
}

.card__media {
  margin: var(--card-image-padding);
  width: calc(100% - 2 * var(--card-image-padding));
}

.card--standard .card__media {
  margin: var(--card-image-padding);
}

.card__inner {
  width: 100%;
}

.card__inner .card__content {
  padding: calc(var(--card-image-padding) + 1rem);
}

.card__media + .card__content {
  position: relative;
}

.card__content {
  padding: 1rem;
  display: grid;
  width: 100%;
  grid-template-rows: minmax(0,1fr) max-content minmax(0,1fr);
}

.card__content--auto-margins {
  grid-template-rows: minmax(0,auto) max-content minmax(0,auto);
}

.card__information {
  padding-left: 1rem;
  padding-right: 1rem;
  grid-row-start: 2;
}

.card__information {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

@media screen and (min-width: 750px) {
  .card__information {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }
}

.card__badge {
  grid-row-start: 3;
  align-self: flex-end;
  justify-self: flex-start;
}

.card__badge.top {
  grid-row-start: 1;
  align-self: flex-start;
}

.card__badge.right {
  justify-self: flex-end;
}

.card__media .media img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center center;
}

.card__inner:not(.ratio) > .card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
}

/* Standard style */

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text > .card__content .card__heading,
.card--standard > .card__content .card__badge {
  display: none;
}

.card--standard > .card__content {
  padding: 0;
}

.card--standard > .card__content .card__information {
  padding-left: 0;
  padding-right: 0;
}

/* Card style */

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media > .card__content .card__badge {
  display: none;
}

/* Update 2 */ 

.card__heading a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-wrapper .card__heading a:focus-visible {
  outline: 0;
  box-shadow: none;
}

.card-wrapper .card__heading a:focus-visible::after {
  outline: .2rem solid rgba(var(--color-foreground),.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3);
}

.card-wrapper:focus-within .card {
  box-shadow: none;
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child,
  .card--search img {
    transition: transform var(--duration-long) ease;
  }

  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover
    .media.media--hover-effect
    > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .card-wrapper:hover .card__heading a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  /* .card-wrapper:hover .card--search img {
    transform: scale(1.05);
  } */

  /* .card-wrapper:hover .card__text {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  } */

  /* .card-wrapper:hover .card--soft {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  } */
}