.tabbed-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  scroll-snap-align: start;
  width: 32rem;
  height: auto;
  height: 35rem;
}

.tabbed-product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.tabbed-product-card__image-wrapper {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: var(--product-card-corner-radius);
  height: 100%;
}

.tabbed-product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--product-card-corner-radius);
}

.tabbed-product-card__content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.tabbed-product-card__title {
  text-transform: uppercase;
  margin: 0;
}

.tabbed-product-card__price {
  margin: 0.5rem 0 0 0;
}

.tabbed-product-card__badge {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 0.5rem 1.2rem;
  border-radius: var(--product-card-corner-radius);
  z-index: 5;
}

.tabbed-product-swiper {
  width: 100%;
  height: 100%;
  border-radius: var(--product-card-corner-radius);
  overflow: hidden;
}

.tabbed-product-swiper .swiper-wrapper {
  height: 100%;
}

.tabbed-product-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tabbed-product-swiper .tabbed-product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--product-card-corner-radius);
}

.tabbed-product-card__progress {
  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  z-index: 10;
  overflow: hidden;
  display: none;
}

.tabbed-product-card__progress-bar {
  height: 100%;
  background-color: #000;
  border-radius: 2px;
  width: 0%;
  transition: width 0.3s ease;
  display: block !important; /* necessary due to shopify base css hiding empty divs */
}

.tabbed-product-card__image-wrapper:not(:has(.tabbed-product-swiper)) .tabbed-product-card__progress {
  display: none;
}

@media screen and (max-width: 950px) {
  .tabbed-product-card__progress {
    display: block;
  }
}
