.brand-list{
    background-color:#DCDCDC;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brand-card {
    width: calc(100% / 4 - 180px);
    height: 65px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-right: 10px;
    margin-left: 10px;
}
