product-shipping-countdown {
  display: flex;
  padding: 1rem 1.65rem;

  background: rgba(var(--color-button), 1);
  color: rgba(var(--color-button-text), 1);
  border-radius: var(--buttons-radius);
  font-weight: 600;
  justify-content: center;

  &:empty {
    display: none;
  }
}
