/*
 * The general approach was borrowed from here:
 * https://codepen.io/simeydotme/pen/PrQKgo
 */

/* Add rounded corners and card shadows. */

.collection--shine .card-wrapper .card .card__inner {
    overflow: hidden;
    border-radius: 5% / 3.5%;
    box-shadow: 0;
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    transform-origin: center;
}

.collection--shine .card-wrapper:hover .card .card__inner {
    box-shadow:
        -10px -10px 10px -10px rgba(0, 0, 0, 0.05),
        10px 10px 10px -10px rgba(0, 0, 0, 0.05),
        0 0 5px 0px rgba(255,255,255,0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
    animation: cardLift 12s ease 0s 1;
}

@keyframes cardLift {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateZ(3deg) rotateX(-3deg) rotateY(-8deg);
    }
}

/* Add sparkles: visible on hover. */

.collection--shine .card-wrapper .card .card__inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    mix-blend-mode: screen;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
        linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 150%;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    opacity: 0;
}

.collection--shine .card-wrapper:hover .card .card__inner:after {
    background-size: 160%;
    z-index: 2;
    opacity: 0.75;
}

/* Add shine effect: visible and animated on hover. */

.collection--shine .card-wrapper .card .card__inner .card__media:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    background-size: 250% 250%, 100% 100%;
    background-image: -webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 17%,
        rgba(255, 255, 255, 0.8) 25%,
        rgba(255, 255, 255, 0.0) 30%
    );
    opacity: 0;
    transition: background-position 0s ease;
}

.collection--shine .card-wrapper:hover .card .card__inner .card__media:after {
    background-position: 0 0, 0 0;
    opacity: 1;
    transition-duration: 2s;
    z-index: 2;
}
