.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  background-color: rgb(var(--color-background));
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.header__menu-item {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.header__inline-menu {
  margin-left: auto !important;
  margin-right: auto !important;
}

.header {
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}