.rating {
  --percent: calc(var(--rating) / var(--rating-max) * 100%);
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block !important;
  font-family: Times;
  -webkit-text-stroke: 0.1rem rgb(var(--color-base-accent-2));
}

.rating::before {
  content: '★★★★★';
  letter-spacing: 0.5rem;
  background: linear-gradient(
    90deg,
    rgb(var(--color-base-accent-2)) var(--percent),
    rgb(var(--color-base-background-1)) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating + .caption {
  display: inline-block;
}
