.product-form__input input[type=radio]+label.color-swatch__label {
  border: 0;
  background-color: unset;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.product-form__input input[type=radio].disabled+label.color-swatch__label  {
  text-decoration: none;
  opacity: 0.3;
  cursor: not-allowed;
}

.product-form__input input[type=radio]:checked+label.color-swatch__label {
  color: #000;
}

.product-form__input input[type=radio]:checked+label.color-swatch__label .color-swatch {
  border: 1px solid #858585;
  box-shadow: inset 0 0 0 2px #858585;
}

.product-color-swatches {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.color-swatch {
  display: block !important;
  width: var(--color-swatches-width);
  height: var(--color-swatches-height);
  overflow: hidden;
  border-radius: var(--color-swatches-radius);
  position: relative;
  box-shadow: inset 0 0 0 2px #FFFFFF;
  border: 1px solid #c8c8c8;
}