/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch {
  width: var(--color-swatches-width);
  height: var(--color-swatches-height);
  display: block;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--color-swatches-radius);
}

.card__content .swatch {
  width: var(--product-cards-color-swatches-width);
  height: var(--product-cards-color-swatches-height);
}


.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}
