.share-button {
  display: block;
  position: relative;
}

.share-button__button .icon-share {
  margin-right: 1rem;
}

.share-button__fallback {
  border: 0.1rem solid var(--color-foreground-10);
  background: var(--color-background);
  padding: 2rem;
  position: absolute;
  top: 4rem;
  left: -0.1rem;
  z-index: 3;
  width: 100%;
}

.share-button__fallback {
  display: flex;
  flex-direction: column;
}

.share-button__fallback .button {
  margin-top: 1rem;
}

.share-button__fallback .icon-clipboard {
  height: 1.4rem;
  width: 1.8rem;
}

.share-button__message:not(:empty) {
  font-size: 1.2rem;
  text-align: right;
  display: block;
  margin-top: 0.5rem;
}
