.slideshow {
  position: relative;
}

@media screen and (max-width: 749px) {
  .slideshow--adapt_image:not(.slideshow--stacked) .slideshow__slide {
    height: auto;
  }

  .slideshow--small:not(.slideshow--stacked) .slideshow__slide,
  .slideshow--small.slideshow--stacked .slideshow__media {
    height: 28rem;
  }
  .slideshow--medium:not(.slideshow--stacked) .slideshow__slide,
  .slideshow--medium.slideshow--stacked .slideshow__media {
    height: 34rem;
  }
  .slideshow--large:not(.slideshow--stacked) .slideshow__slide,
  .slideshow--large.slideshow--stacked .slideshow__media {
    height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--small {
    height: 42rem;
  }
  .slideshow--medium {
    height: 56rem;
  }
  .slideshow--large {
    height: 72rem;
  }
}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.slideshow__media {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slideshow:not(.slideshow--stacked) .slideshow__media {
    position: absolute;
  }
}

.slideshow__text-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slideshow__text-box {
  border: 0;
  padding: 4rem 3.5rem;
  position: relative;
  height: fit-content;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-box {
    padding: 5rem;
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}

.slideshow__text-box > *:first-child {
  margin-top: 0;
}

.slideshow__text-box > h2 {
  margin-bottom: 0;
}
