/* .grid {
    display: grid;
} */

.mb-8 {
    margin-bottom: 2rem
}

.gap-x-2 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-y-2\.5 {
    row-gap: .625rem
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.gap-2\.5 {
    gap: .625rem
}

.flex {
    display: flex
}

.items-center {
    align-items: center;
}

.shrink-0 {
    flex-shrink: 0;
    color:rgba(115,181,8)
}
