/* Form Elements */
form.installment {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.2rem 0;
  max-width: 37rem;
  min-width: fit-content;
  border: none;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-form__input .form__label {
  padding-left: 0;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  border: 0.1rem solid var(--color-foreground-55);
  border-radius: 4rem;
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
}

.product-form__input input[type='radio'] + label:hover {
  border: 0.1rem solid var(--color-foreground);
}

.product-form__input input[type='radio']:checked + label {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.product-form__input input[type='radio']:disabled + label {
  border-color: var(--color-foreground-10);
  color: var(--color-foreground-40);
  text-decoration: line-through;
}
.product-form__input input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem var(--color-background),
    0 0 0 0.5rem var(--color-foreground-55);
}

/* Fallback */
.product-form__input input[type='radio']:focus + label {
  box-shadow: 0 0 0 0.3rem var(--color-background),
    0 0 0 0.5rem var(--color-foreground-55);
}

/* No outline when focus-visible is available in the browser */
.product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__input .select {
  max-width: 25rem;
}

/* Submit Buttons */
.product-form__buttons {
  margin: 3rem 0 0 0;
}

.product-form__submit {
  margin-bottom: 1rem;
}

.product-form__submit[disabled] + .shopify-payment-button {
  display: none;
}

/* Overrides */
.shopify-payment-button__more-options {
  color: var(--color-foreground);
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
