@media screen and (max-width: 749px) {
  .product__media-list {
    margin-left: -2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    width: calc(100% + 4rem);
  }

  .product__media-wrapper slider-component {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .slider.product__media-list {
    padding-bottom: 0;
  }

  .slider.product__media-list::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
  }

  .product__media-list::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
  }

  .product__media-list::-webkit-scrollbar-track {
    background-color: var(--color-foreground-20);
  }

  .product__media-list .product__media-item {
    width: calc(100% - 3rem);
  }

  .product__media-list .product__media-item:first-of-type {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .product__media-item:first-child {
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .product__media-list .product__media-item:first-child {
    padding-left: 0;
  }

  .product__media-list .product__media-item {
    padding: 0 0 0.5rem;
    width: 100%;
  }
}

.product__media-icon .icon {
  width: 1.2rem;
  height: 1.4rem;
}

.product__media-icon {
  background-color: var(--color-background);
  border-radius: 50%;
  border: 0.1rem solid var(--color-foreground-10);
  color: var(--color-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  z-index: 1;
  transition: color var(--duration-short) ease, opacity var(--duration-short) ease;
}

.product__media-video .product__media-icon {
  opacity: 1;
}

.product__modal-opener--image .product__media-toggle:hover {
  cursor: zoom-in;
}

.product__media-toggle:hover .product__media-icon,
.product__media-video:hover .product__media-icon {
  border: 0.1rem solid var(--color-foreground-10);
}

@media screen and (min-width: 750px) {
  .grid__item.product__media-item--full {
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .product__media-icon {
    opacity: 0;
  }

  .product__media-toggle:hover .product__media-icon,
  .product__media-toggle:focus .product__media-icon {
    opacity: 1;
  }
}

.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.product-media-modal {
  background-color: var(--color-base-background-1);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: -1;
}

@media screen and (min-width: 750px) {
  .product-media-modal {
    padding: 0;
  }
}

.product-media-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-media-modal__content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.product-media-modal__content > *:not(.active),
.product__media-list .deferred-media {
  display: none;
}

@media screen and (min-width: 750px) {
  .product-media-modal__content {
    height: 100vh;
  }

  .product-media-modal__content > *:not(.active) {
    display: block;
  }

  .product-media-modal__content {
    justify-content: flex-start;
    padding-bottom: 2rem;
  }

  .product-media-modal__content > *:first-child {
    padding-top: 2rem;
  }

  .product__modal-opener:not(.product__modal-opener--image) {
    display: none;
  }

  .product__media-list .deferred-media {
    display: block;
  }
}

.product-media-modal__content > * {
  height: auto;
  margin: auto;
}

.product-media-modal__content .media {
  background: none;
}

.product-media-modal__model {
  width: 100%;
}

.product-media-modal__toggle {
  background-color: var(--color-background);
  border: 0.1rem solid var(--color-foreground-10);
  border-radius: 50%;
  color: var(--color-foreground-55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 4rem;
}

.product-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .product-media-modal__content > * {
    max-width: 96%;
    width: 100%;
  }

  .product-media-modal__content > * + * {
    margin-top: 2rem;
  }

  .product-media-modal__toggle {
    right: 4.8rem;
    top: 3.5rem;
  }
}

@media screen and (min-width: 990px) {
  .product-media-modal__content > * {
    max-width: 98%;
  }

  .product-media-modal__content > * + * {
    margin-top: 1.5rem;
  }

  .product-media-modal__content {
    padding-bottom: 1.5rem;
  }

  .product-media-modal__content > *:first-child {
    padding-top: 1.5rem;
  }

  .product-media-modal__toggle {
    right: 4.3rem;
    top: 3rem;
  }
}

.product-media-modal__toggle:hover {
  color: var(--color-foreground-75);
}

.product-media-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}
