.facets-vertical {
    display: flex;
}
  
.facets-vertical-container {
width: 33%;
}

#ProductGridContainer {
    width: 66%;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
}

.facet-checkbox {
  padding: 1rem 2rem 1rem 0;
  flex-grow: 1;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  word-break: break-word;
}

.facet-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: -0.4rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.facet-checkbox > svg {
  background-color: rgb(var(--color-background));
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.3rem;
  z-index: 5;
  top: 1.4rem;
}

.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark {
  visibility: visible;
}

.facets__heading {
display: block;
color: rgba(var(--color-foreground), 0.85);
font-size: 1.4rem;
margin: -1.5rem 2rem 0 0;
}

.disclosure-has-popup[open] > summary::before {
    content: none;
}

.active-facets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: -0.5rem;
  }
  
  .active-facets__button {
    display: block;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
  }

span.active-facets__button-inner {
    color: rgb(var(--color-foreground));
    box-shadow: 0 0 0 0.1rem rgb(var(--color-foreground));
    border-radius: 2.6rem;
    font-size: 1rem;
    min-height: 0;
    min-width: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: stretch;
  }
  
  span.active-facets__button-inner:before,
  span.active-facets__button-inner:after {
    display: none;
  }
  
  .facets__summary {
    color: rgba(var(--color-foreground), 0.75);
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    padding: 0 1.75rem 0 0;
  }

  .facet-filters__field {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .facet-filters__field .select {
    width: auto;
  }
  
  .facet-filters__field .select:after,
  .facet-filters__field .select:before,
  .mobile-facets__sort .select:after,
  .mobile-facets__sort .select:before {
    content: none;
  }
  
  .facet-filters__field .select__select,
  .mobile-facets__sort .select__select {
    border-radius: 0;
    min-width: auto;
    min-height: auto;
    transition: none;
  }

  .facet-filters {
    align-items: flex-start;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    padding-left: 2.5rem;
  }
  
  @media screen and (min-width: 990px) {
    .facet-filters {
      padding-left: 3rem;
    }
  }
  

  .facet-filters button {
    margin-left: 2.5rem;
  }
  
  .facet-filters__sort {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-size: 1.4rem;
    height: auto;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    margin: 0;
    padding-left: 0;
    padding-right: 1.75rem;
  }
  
  .facet-filters__sort + .icon-caret {
    right: 0;
  }
  
  @media screen and (forced-colors: active) {
    .facet-filters__sort {
      border: none;
    }
  }
  
  .facet-filters__sort,
  .facet-filters__sort:hover {
    box-shadow: none;
    filter: none;
    transition: none;
  }

  .facet-filters__label {
    display: block;
    color: var(--color-foreground-85);
    font-size: 1.4rem;
    margin: 0 2rem 0 0;
  }