popup-notice {
    display: none;
    position: fixed;
    inset: 0;
    background: rgb(34, 36, 42, 0.25);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

popup-notice[open] {
    display: flex;
}

popup-notice::backdrop {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-notice__content {
    margin: 0 auto;
    max-width: 30rem;
    border-radius: 4px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
}

.popup-notice__content .product-notice-icon {
    margin-right: 0;
    top: 0;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.popup-notice__content .product-notice-icon svg {
    width: 25px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.popup-notice__cta button {
    width: 100%;
    box-sizing: border-box;
}
