@media screen and (min-width: 990px) {
    .custom-container{
        display: grid;
        grid-template-columns: minmax(0, 1fr) 10fr minmax(0, 1fr);
        z-index: 10;
    }
    .decoration-left{
        justify-self: left;
    }   
    .decoration-right{
        justify-self: right;
    }
    .content{
        grid-column: 2 / span 1;
    }
}
  
@media screen and (max-width: 989px) {
    .decoration-right{
        display: none;
    }
    .decoration-left{
        transform: scaleX(-1);
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
    .custom-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr; 
    }
    .content{
        grid-column: 1 / span 3;
        grid-row: 1 / span 1; 
    }
}

@media screen and (min-width: 750px) {
    .explanation:nth-child(2){
        justify-self: center;
    }
    
    .explanation:nth-child(3){
        justify-self: right;
    }    
}

@media screen and (max-width: 749px) {
    .explanation:nth-child(2){
        justify-self: left;
    }
    
    .explanation:nth-child(3){
        justify-self: left;
    }
}


@media screen and (min-width: 501px) {
    .number p{
        font-size: 58px;
        line-height: 58px;
    }
    .intro{
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 500px) {
    .number p{
        font-size: 40px;
        line-height: 40px;
    }
    .intro{
        font-size: 2rem;
    }
}

.decoration-left{
    z-index: 9;
}

.decoration-right{
    z-index: 9;
}

.content{
    z-index: 12;
}

.explanations{
    display: grid;
    margin-top: 4rem;
}

.explanation{
    display: grid; 
    grid-template-columns: minmax(40px, 80px) minmax(200px, 350px);
    margin-bottom: 4rem;
}

.number{
    margin: 0;
    padding: 0;
}

.number p{
    padding: 0;
    margin: 0;
    color: var(--color-base-accent-1);
}

.text{
    border-left: 1px solid var(--color-base-accent-1);
    padding-left: 2rem;
}

.explainer-head{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.explainer-text{
    margin: 0;
}

.textshadow{
    text-shadow: 0 0 4px white;
}