.search__input.field__input {
  padding-right: 5rem;
}

.search__button .icon {
  height: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}
