.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
    margin-top: -5px;
    margin-bottom: 30px;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #493069;
    background-color: #fff;
    border: 0;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 400;
    border: #493069 solid 3px;
    padding: 12px 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a:hover {
    color: #fff;
    background-color: #493069;
 
}

@media screen and (max-width: 750px) {
    .image-main {
        width: 245px;
        height: 289px;
        object-fit: cover;
    }
}