.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 1.9rem 0 0.65rem;
}

.cart__empty-text {
  margin: 2.8rem 0 1.25rem;
}

.cart__contents > * + * {
  margin-top: 1.55rem;
}

.cart__login-title {
  margin: 3.45rem 0 0.315rem;
}

.cart__login-paragraph {
  margin-top: 0.5rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 4.4rem 0 0.65rem;
  }

  .cart__empty-text {
    margin: 0 0 1.9rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 1.9rem;
  border-bottom: 0.065rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 2.5rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 3.15rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 2.5rem;
}

.cart__footer .discounts {
  margin-top: 0.65rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.15rem;
  margin-bottom: 1.25rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  padding: 0.65rem;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 2.5rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 22.0rem;
  }

  .cart__footer > * + * {
    margin-left: 2.5rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 0.65rem;
}

.cart__update-button {
  margin-bottom: 0.65rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 22.5rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 0.65rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 0.65rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 1.4rem 0 1.0rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 22.5rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 22.0rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }

  .tax-note {
    margin-bottom: 1.4rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 0.65rem;
  }
}
