@media screen and (max-width: 989px) {
  .image-card-wrapper.page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-card-wrapper .grid {
  background-color: rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-background-1));
}

.image-card-title {
  color: rgb(var(--color-base-background-1));
}

.image-card-box {
  padding: 4rem 3.5rem;
}

@media screen and (min-width: 990px) {
  .image-card-wrapper .grid {
    flex-direction: row-reverse;
  }

  .image-card-box {
    width: calc(66.666% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(66.666% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .image-card-image {
    width: calc(33.333% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(33.333% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .image-card-wrapper .media {
    --ratio-percent: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}