.articles-wrapper {
  margin: 0 0 5rem 0;
}

@media screen and (min-width: 750px) {
  .articles-wrapper.grid {
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.article-card {
  background: rgba(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
  border: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  border-radius: var(--grid-corner-radius);
  align-self: flex-start;
  flex: 0 1 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.article-card:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-foreground), var(--text-boxes-shadow-opacity));
  content: '';
  position: absolute;
  width: calc(var(--text-boxes-border-width) + 100%);
  height: calc(var(--text-boxes-border-width) * 2 + 100%);
  top: calc(var(--text-boxes-border-width) * -1);
  left: calc(var(--text-boxes-border-width) * -1);
  z-index: -1;
}

.article-card .focused,
.no-js .article-card :focus,
.article-card :focus-visible {
  outline-offset: calc(0.3rem + var(--text-boxes-border-width));
  box-shadow: none;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__info {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  z-index: 1;
  border-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
}

.article-content:hover .article-card__title {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-long) ease;
}

.article-content:hover img {
  transform: scale(1.07);
}

.article-card__image-wrapper {
  overflow: hidden;
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
}

@media screen and (max-width: 749px) {
  .grid--no-gap-mobile .article-card:after {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }

  .grid--no-gap-mobile .article-content {
    border-top-left-radius: calc(var(--top-left-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--top-right-radius) - var(--text-boxes-border-width));
    border-bottom-right-radius: calc(var(--bottom-right-radius) - var(--text-boxes-border-width));
    border-bottom-left-radius: calc(var(--bottom-left-radius) - var(--text-boxes-border-width));
  }

  .grid--no-gap-mobile .article-card .article-card__image-wrapper {
    border-top-left-radius: calc(var(--top-left-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--top-right-radius) - var(--text-boxes-border-width));
  }
}

@media screen and (min-width: 750px) {
  .grid--no-gap .article-card:after {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }

  .grid--no-gap .article-content {
    border-top-left-radius: calc(var(--top-left-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--top-right-radius) - var(--text-boxes-border-width));
    border-bottom-right-radius: calc(var(--bottom-right-radius) - var(--text-boxes-border-width));
    border-bottom-left-radius: calc(var(--bottom-left-radius) - var(--text-boxes-border-width));
  }

  .grid--no-gap .article-card .article-card__image-wrapper {
    border-top-left-radius: calc(var(--top-left-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--top-right-radius) - var(--text-boxes-border-width));
  }
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-content:hover .article-card__link {
  text-decoration-thickness: 0.2rem;
}

.article-card__header {
  line-height: calc(0.8 / var(--font-body-scale));
  margin-bottom: 1.2rem;
}

.article-card__header h2 {
  margin: 0 0 0.6rem;
}

.article-card__header h2:only-child {
  margin: 0;
}

.article-card__header h2:not(:first-child) {
  margin-top: 1rem;
}

.article-card__header h2 + span {
  display: inline-block;
  margin-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small {
  padding-bottom: 11rem;
}

.article-card__image--medium {
  padding-bottom: 22rem;
}

.article-card__image--large {
  padding-bottom: 33rem;
}

@media screen and (min-width: 750px) {
  .article-card__image--small {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large {
    padding-bottom: 40.7rem;
  }
}
