.product__accordion {
  padding-left: 0;
  padding-right: 0;
}

.product__accordion details>* {
  padding-left: 16px;
  padding-right: 16px;
}

.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 16px;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title+.icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion+.accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  margin: 0;
  word-break: break-word;
  font-size: 20px;
  line-height: 150%;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  word-break: break-word;
  overflow-x: auto;
  padding: 1.5rem 0.6rem;
  font-size: 16px;
  letter-spacing: unset;
}

.accordion__content img {
  max-width: 100%;
}

.color-inverse .accordion__content p {
  color: #fff !important;
}

.color-accent-1 .accordion p {
  color: #fff !important;
}

/* what you get */
.whatyouget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23px 12px;
}

.whatyouget__item--image-with-title {
  flex: 0 0 calc(50% - 14px);
}

.whatyouget__item--text-block {
  flex: 1 1 100%;
}

.whatyouget__image {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  margin: 0 auto;
  padding: 12px;
  background-blend-mode: multiply;
  background-color: #FBF9F8;
}

.whatyouget__item--text-block .whatyouget__image {
  padding: 0;
}

.whatyouget__item--text-block .whatyouget__image img {
  width: 100%;
}

.whatyouget__title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px;
  letter-spacing: 0;
}
