.thumbnails {
  display: grid;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .thumbnails {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 990px) {
  .thumbnails {
    grid-template-columns: repeat(6, 1fr);
  }
}

.thumbnail {
  position: relative;
  display: block;
  width: 100%;
  color: var(--color-foreground);
  cursor: pointer;
  border: 0.2rem inset var(--color-background);
  border-style: solid;
}

.thumbnail:hover {
  opacity: 0.7;
}

.thumbnail.is-active {
  border: 0.2rem solid var(--color-foreground);
}

.thumbnail img {
  pointer-events: none;
}

.thumbnail .icon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 2;
  pointer-events: none;
  fill: var(--color-background);
}
