.collection-tree__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.collection-tree__child {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
}

.collection-tree__child img {
  border: 1px solid #bfbfbf;
  border-radius: 0.25rem;
}

@media (min-width: 1024px) {
  .collection-tree__child {
    width: 16.666667%;
  }
}
