.product-option {
  font-size: 1.4rem;
  word-break: break-word;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.table-items td,
.table-items th {
  padding: 0;
  border: none;
}

.table-items thead th {
  text-transform: uppercase;
}

.table-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.table-item__image-container {
  display: inline-flex;
  align-items: flex-start;
}

.table-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.table-item__details>* {
  margin: 0;
  max-width: 30rem;
}

.table-item__price-wrapper>* {
  display: block;
  margin: 0;
  padding: 0;
}

.table-item__discounted-prices .table-item__old-price {
  font-size: 1.4rem;
}

.table-item__old-price {
  opacity: 0.7;
}

@media screen and (max-width: 749px) {

  .table-items,
  .table-items thead,
  .table-items tbody {
    display: block;
    width: 100%;
  }

  .table-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .table-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .table-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .table-items td {
    vertical-align: top;
    padding-top: 4rem;
  }
}