.brand-list {
    background-color:#DCDCDC;
}

.top-section-title-brand {
    margin: 30px -20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 225px;
    text-decoration: underline;
}

.top-section-title-counseling {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 30px 0px 225px;
    text-decoration: underline;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brand-card {
    width: calc(100% / 4 - 125px);
    height: 55px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px;
    background-color:white;
}

.brand-card:nth-of-type(1) {
    margin-left: 170px;
}

.brand-card:nth-of-type(4n) {
    margin-right: 170px;
}

.brand-card:nth-of-type(4n+1) {
    margin-left: 170px;
}

.counseling-brand-card {
    width: calc(100% / 4 - 125px);
    height: 55px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px;
    background-color:white;
}

.counseling-brand-card:nth-of-type(1) {
    margin-left: -125px;
}


.btn {
    background-color: black;
    height: 35px;
    width: 200px;
    margin: 11px 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}