/* Breadcrumbs */
.breadcrumbs {
  padding: 1.5rem 0;
  background-color: transparent;
  width: 100%;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.4;
}

@media screen and (min-width: 750px) {
  .breadcrumbs__list {
    font-size: 1.4rem;
  }
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: rgba(var(--color-foreground), 0.7);
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumbs__link:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.breadcrumbs__separator {
  margin: 0 0.8rem;
  color: rgba(var(--color-foreground), 0.5);
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .breadcrumbs__separator {
    margin: 0 1rem;
  }
}

.breadcrumbs__item--current .breadcrumbs__text {
  color: rgb(var(--color-foreground));
  font-weight: 500;
}

.breadcrumbs__text {
  display: inline-block;
}

/* Responsive adjustments */
@media screen and (max-width: 749px) {
  .breadcrumbs {
    padding: 1rem 0;
  }

  .breadcrumbs__list {
    font-size: 1.2rem;
  }

  .breadcrumbs__separator {
    margin: 0 0.6rem;
  }
}
