* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    padding: 0px;
    position: relative;
}


.container .right-block img {
    object-fit: contain;
    height: 315px;
    width: 100%;
}

.container .left-block img {
    object-fit: contain;
    width: 100%; 
    height: 315px;
    order: 2;
    padding-right: 30px;
}
    
.container a {
    text-decoration: none;
    text-transform: uppercase;
    color: #493069;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    border: #493069 solid 3px;
    padding: 12px 28px;
    width: 150px;
}
    
.container a:hover {
    color: #fff;
    background-color: #493069;
}

.container p {
    margin: 30px 60px;

}

.left-block {
    align-items: center;
    margin-top: 30px;
}

.right-block {
    margin-top: 30px;
    z-index: -1; 
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
      
    /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

      
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    height: 15px;
    margin: 30px 2px;
}
      
.active, .dot:hover {
    background-color: #717171;
}
      
/* Fading animation */
.fade {
    animation-duration: 1.5s;
    animation-name: fade;
}
      
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
    
@media screen and (min-width: 750px) {    
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: left;
        padding: 15px 60px;

    }

    .container p {
        margin: 0px 0px;
        margin-bottom: 30px;
    
    }

    .left-block { 
        grid-area: 2 / 1 / 6 / 3; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .left-block p {
        margin-right: 25%;
    }

    .left-block img {
        display: table-footer-group;
    }

    .right-block { 
        grid-area: 1 / 3 / 5 / 6; 
        display: flex;
        flex-direction: column;
    }

    .right-block p {
        margin-right: 40%;
    }

    .container .right-block img {
        object-fit: cover;
        width: 640px;
        height: 438px;
        width: 100%;
        text-align: left;
        
    }

    .container .left-block img {
        object-fit: contain;
        width: 100%; 
        height: 452px;
        width: 434px;
    }

    .dot {
    display: none;
    visibility: hidden;
    }


}