.collection-tree__title {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.collection-tree__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
}

.collection-tree__child {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
}

.collection-tree__child img {
  border: 1px solid #bfbfbf;
  border-radius: 0.25rem;
}

.collection-tree__child {
  width: 50%;
}

@media (min-width: 768px) {
  .collection-tree__child {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .collection-tree__child {
    width: 16.666667%;
  }
}

.subcollection__title {
  margin-bottom: 0;
}

.collection-tree__grandchildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--link-primary-color);
}
