/* Device Sizes | Mobile - Default */
.breadcrumbs {
  margin: 2em 0 0;
}

@media screen and (max-width: 749px) {
  .breadcrumbs {
    margin-bottom: 2em;
  }
}
.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: "";
  display: inline-block;
  height: 0.2em;
  margin: 0 0.2em;
  position: relative;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  width: 0.2em;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 0.2em;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--color-primary-dark);
  font-weight: 600;
}

.breadcrumbs__link[aria-current=page] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}