volume-pricing {
  display: block;
  margin-top: 2rem;
}

volume-pricing li:nth-child(even) {
  background: rgba(var(--color-foreground), 0.03);
}

volume-pricing ul {
  margin-top: 1.2rem;
}

volume-pricing li {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
}

.volume-pricing-note {
  margin-top: -1.5rem;
}

volume-pricing show-more-button {
  margin-top: 0.8rem
}