pickup-availability {
  display: block;
}

pickup-availability[available] {
  min-height: 5.0rem;
}

.pickup-availability-preview {
  align-items: flex-start;
  display: flex;
  gap: 0.125rem;
  padding: 0.65rem 1.25rem 0 0;
}

.pickup-availability-preview .icon {
  flex-shrink: 0;
  height: 1.15rem;
}

.pickup-availability-preview .icon-unavailable {
  height: 1.0rem;
  margin-top: 0.065rem;
}

.pickup-availability-button {
  background-color: transparent;
  color: rgba(var(--color-foreground), 0.75);
  letter-spacing: 0.0375rem;
  padding: 0 0 0.125rem;
  text-align: left;
  text-decoration: underline;
}

.pickup-availability-button:hover {
  color: rgb(var(--color-foreground));
}

.pickup-availability-info * {
  margin: 0 0 0.375rem;
}

pickup-availability-drawer {
  background-color: rgb(var(--color-background));
  border: 0.065rem solid rgba(var(--color-foreground), 0.2);
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  padding: 1.25rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  transition: opacity var(--duration-default) ease,
    transform var(--duration-default) ease;
  transform: translateX(100%);
  width: 100%;
}

pickup-availability-drawer[open] {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (min-width: 750px) {
  pickup-availability-drawer {
    transform: translateX(100%);
    width: 23.5rem;
  }

  pickup-availability-drawer[open] {
    opacity: 1;
    transform: translateX(0);
    animation: animateDrawerOpen var(--duration-default) ease;
  }
}

.pickup-availability-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.pickup-availability-drawer-title {
  margin: 0.315rem 0 0;
}

.pickup-availability-header .icon {
  width: 1.25rem;
}

.pickup-availability-drawer-button {
  background-color: transparent;
  border: none;
  color: rgb(var(--color-foreground));
  cursor: pointer;
  display: block;
  height: 2.75rem;
  padding: 0.75rem;
  width: 2.75rem;
}

.pickup-availability-drawer-button:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.pickup-availability-variant {
  font-size: 0.8rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin: 0 0 0.75rem;
  text-transform: capitalize;
}

.pickup-availability-variant > * + strong {
  margin-left: 0.65rem;
}

.pickup-availability-list__item {
  border-bottom: 0.065rem solid rgba(var(--color-foreground), 0.08);
  padding: 1.25rem 0;
}

.pickup-availability-list__item:first-child {
  border-top: 0.065rem solid rgba(var(--color-foreground), 0.08);
}

.pickup-availability-list__item > * {
  margin: 0;
}

.pickup-availability-list__item > * + * {
  margin-top: 0.65rem;
}

.pickup-availability-address {
  font-style: normal;
  font-size: 0.75rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.pickup-availability-address p {
  margin: 0;
}

@keyframes animateDrawerOpen {
  @media screen and (max-width: 749px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 750px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
