.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 27rem;
  scroll-snap-align: start;
}

.product-card__image-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.product-card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  height: 30rem;
}

.product-card__badge {
  position: absolute;
  bottom: 23px;
  right: 15px;
  padding: 0.1rem 1.2rem;
  border-radius: 10px;
}

.product-card__content {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  text-transform: uppercase;
  margin: 0;
}

.product-card__description {
  line-height: normal;
}

.product-card__price {
  font-weight: bold;
  margin: 0;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
