.rating.color-icon-text {
  --color-icon: rgb(var(--color-base-text));
}

.rating.color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

.rating.color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

.rating.color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}

.rating {
  --percent: calc(var(--rating) / var(--rating-max) * 100%);
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block !important;
  font-family: Times;
  margin: 1rem 0 1rem;
}

.rating::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-base-text), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating + .caption {
  display: inline-block;
  margin: 1rem 0 1rem;
}
