.mega-menu {
  position: initial;
}

.mega-menu-content {
  background-color: rgb(var(--color-background));
  left: 0;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.mega-menu .header__submenu {
  min-width: auto;
  top: 100%;
}

.js .mega-menu-content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu-content {
  animation: animateMenuOpen var(--duration-default) ease;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion) {
  .mega-menu[open] .mega-menu-content {
      opacity: 1;
      transform: translateY(0);
  }
}
