.rating {
  margin: 1rem 0;
  display: inline-block;
}

.rating-star.color-icon-text {
  --color-icon: rgb(var(--color-base-text));
}

.rating-star.color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

.rating-star.color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

.rating-star.color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}

.rating-star {
  --percent: calc(var(--rating) / var(--rating-max) * 100%);
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block !important;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-base-text), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }
}

@media (forced-colors: active) {
  .rating-text {
    display: block;
  }
}
