.drawer {
  position: fixed;
  visibility: hidden;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100vh;
  width: 40rem;
  max-width: calc(100vw - 3rem);
  padding: 0 1.5rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner.is-empty {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}

.drawer__inner.is-empty .drawer__header {
  display: none;
}

.drawer__inner:not(.is-empty) .cart-drawer__warnings,
.drawer__inner:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  background-color: rgb(var(--color-background));
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer__heading {
  margin: 1rem 0;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 3;
}

.drawer__close svg {
  height: 2.4rem;
  width: 2.4rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
}

.cart-drawer__collection {
  margin-bottom: 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 81px; /* Might need to look into using something else than a hard coded value */
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2,auto) / repeat(4,1fr);
  gap: 1.5rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .tax-note {
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}
