.card__icon.card__icon-wishlist {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8rem;
  z-index: 2;
}
.card__icon .button-wishlist {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}
.card__icon .button-wishlist svg {
  width: 100%;
  height: auto;
}

.icon.icon-heart {
  fill: transparent;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  stroke-width: 2;
  stroke: currentColor;
}

.active .icon.icon-heart {
  fill: var(--color-primary);
  stroke: transparent;
}