.inline-rte a {
    color: currentColor;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness var(--duration-short) ease;
}

.inline-rte a:hover {
    color: rgb(var(--color-link));
    text-decoration-thickness: 0.2rem;
}
