.artist-information-container {
  display: flex;
  align-items: flex-end;
  max-width: var(--max-width-md);
}

.artist-information {
  width: 50%;
  height: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.artist-information h4 {
  margin-bottom: 0;
}

.artist-image {
  width: 50%;
  display: flex;
}

.artist-image img {
  width: 100%;
  height: 100%;
}

.audio-player-slider .swiper-slide {
  max-width: var(--max-width-md);
}

.audio-player-slider .swiper-slide {
  filter: blur(3px);
  opacity: 0.5;
  transition: all 0.3s ease;
  transform: scale(0.95);
  pointer-events: none;
}

.audio-player-slider .swiper-slide-active {
  filter: none;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  z-index: 2;
}

.audio-player-slide-progress {
  width: 100%;
  max-width: var(--max-width-md);
  margin: 2rem auto;
  padding: 0 1rem;
}

.audio-player-slide-progress-bar {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(to right, black 0%, #ddd 0%);
  outline: none;
  cursor: pointer;
}

.audio-player-slide-progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  background: black;
  border-radius: 50%;
  margin-top: -3px;
}

.audio-player-slide-progress-bar::-moz-range-thumb {
  background: black;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border: none;
}
