.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  font-size: 14px;
  background-color: #171b1f;
  padding: 0 20px 20px 20px;
  color: rgba(250, 249, 246, 0.75);
}

@media screen and (min-width: 750px) {
  .cookie-banner {
    width: 60%;
    bottom: 30px;
    left: 30px;
    border-radius: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .cookie-banner {
    width: 40%;
  }
}

.cookie-banner a {
  color: rgba(250, 249, 246, 0.75);
}

.cookie-banner__btn-group {
  display: flex;
  justify-content: flex-end;
}

.cookie-banner__btn--ok {
  padding: 10px 18px;
  background-color: #ffb256;
  color: #171b1f;
  border: none;
  font-size: 1.4rem;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.cookie-banner__btn--ok:hover {
  cursor: pointer;
}
