:root {
  --font-body-family: "quasimoda", sans-serif !important;
  --font-heading-family: "quasimoda", sans-serif !important;
}

.shopify-policy__container {
  padding-bottom: 36px;
}

/* base.css */

.caption-with-letter-spacing {
  font-size: 1.2rem;
}

.caption-large {
  font-size: 1.5rem;
  line-height: 1.3 !important;
  display: block;
}

.header__submenu .header__menu-item {
  width: 100%;
}

.list-menu__item--active {
  text-decoration: none !important;
  display: inline-block;
  background-color: #FFA9FF;
}

.list-menu__item--active:hover {
  text-decoration: none;
}

/* slider immagini */
@media screen and (min-width: 750px) {
  .slideshow__controls {
    position: absolute !important;
    width: 100%;
    bottom: 0;
  }
}

/* collection text list */
.bg-image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.coll-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coll-list .coll-list__item {
  margin: 1rem;
}

.coll-list .coll-list__item .coll_item__content {
  padding: 1rem;
  text-decoration: none;
  min-width: 22rem
}

h2.featured-collection__title,
h2.collection-list__title,
h2.blog__title {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

strong,
h2.footer-block__heading {
  display: inline-block;
  background-color: #FFA9FF;
}

/* contact page */
.form-with-text__grid .contact-text__blocks {
  padding-left: 0;
  padding-right: 2rem;
}

.form-with-text__grid.form-with-text__grid--reverse .contact-text__blocks {
  padding-left: 2rem;
  padding-right: 0;
}

.form-with-text__grid .contact-text__blocks .contact-text__heading {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .form-with-text__grid--reverse {
    flex-direction: row-reverse;
  }

  .contact__button {
    margin-top: 2rem !important;
  }
}

/* footer */
.footer__content-top .list-menu__item--link {
  padding-bottom: 0 !important;
  line-height: calc(1 + 0.5 / var(--font-body-scale)) !important;
}

.footer__logo {
  text-align: center;
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .footer__content-top .footer-block__details-content {
    font-size: 1.4rem;
  }
}

/* macy */

#macy-container::before {
  content: "";
  display: table;
  clear: both;
}

#macy-container {
  margin-top: 22px;
}

#macy-container::after {
  content: "";
  display: table;
  clear: both;
}

.macy {
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eee;
}

.macy-image {
  width: 100%;
  display: block;
  height: auto;
}