
.product-groups__images img {width: 60px;}
.product-groups__images a:hover img {border:  solid 1px black;}
@media screen and (max-width: 798px){.product-groups__images img {width: 40px;}}


a.klaviyo-bis-trigger {color: #4E4E4E;}





a.banner__media.media>img {
  &.mob {@media screen and (min-width: 750px) {display: none;}}
  &.dt {@media screen and (max-width: 749px) {display: none;}}
}


.product-form__input input[type='radio'] + label.color {
  padding: 0;
  overflow: hidden;
  border-color: transparent;
  >img {max-width: 59px;}
}

/* HC - New blog template added - 26 Jul '21 */
.hc-same-num-row .media--landscape {
  padding-bottom: 0;
}
.hc-same-num-row .media model-viewer, .hc-same-num-row .media>:not(.zoom, .hc-same-num-row .deferred-media__poster-button){
  position: initial;
}
@media screen and (min-width: 750px){
  .hc-same-num-row .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  .hc-same-num-row .blog-articles > *:first-child, .hc-same-num-row .blog-articles > *:nth-child(4), .hc-same-num-row .blog-articles > *:last-child:nth-child(2), .hc-same-num-row .blog-articles > *:last-child:nth-child(5){
    grid-column: unset;
  }
  .hc-same-num-row .blog-articles > *:first-child, .hc-same-num-row .blog-articles > *:nth-child(4), .hc-same-num-row .blog-articles > *:last-child:nth-child(2), .hc-same-num-row .blog-articles > *:last-child:nth-child(5) {
    grid-column: auto !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1024px){
  .hc-same-num-row .blog-articles {
    grid-template-columns: 1fr 1fr;
  }
}
div#blogs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width:640px) {justify-content: space-between;}
  >a {
    border: 1px solid rgb(209, 209, 209);
    padding: 4px 16px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    margin: 0 5px 10px;
    transition: .5s;
    &.active {background: rgb(255, 218, 236);}
    &:hover {background: rgb(243, 243, 243);}
  }
}
section.shopify-section.spaced-section.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  >a {
    margin: 0 5px 10px;
    text-decoration: none;
    text-align: center;
  }
}
a.banner__media.media {z-index: 2;}