
.product-groups__images img {width: 60px;}
.product-groups__images a:hover img {border:  solid 1px black;}
@media screen and (max-width: 798px){.product-groups__images img {width: 40px;}}


a.klaviyo-bis-trigger {color: #4E4E4E;}


details-disclosure>details {position: static;}
ul.list-menu.list-menu--inline {position: relative;
  ul.header__submenu.list-menu.list-menu--disclosure {
    width: 100%;
    columns: 3;
    >li {
      width: 33.333333%;
      display: inline;
      svg.icon.icon-caret {display: none;}
      ul.header__submenu.list-menu {
        background: none;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

ul.header__submenu.list-menu.list-menu--disclosure>li {
  >div>a.header__menu-item.link.link--text.list-menu__item, >a.header__menu-item.link.link--text.list-menu__item {
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul.header__submenu.list-menu a.header__menu-item.link.link--text.list-menu__item {
    color: black;
    padding: 0 20px 5px;
    &:hover {color: #555;}
  }
}


a.banner__media.media>img {
  &.mob {@media screen and (min-width: 750px) {display: none;}}
  &.dt {@media screen and (max-width: 749px) {display: none;}}
}


.product-form__input input[type='radio'] + label.color {
  padding: 0;
  overflow: hidden;
  border-color: transparent;
  >img {max-width: 59px;}
}
