@media (max-width: 750px) {
  .quantity {
  width: 100%!important;
  }
}


button:hover {
  opacity: 0.9;
  
}

::selection {
  background: #FBB03E!important;
}
::-moz-selection {
  background: #FBB03E!important;
}

.header__menu-item, .menu-drawer__menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  
}

.header__menu-item:hover span {
text-decoration: underline solid #FBB03E 4px!important;
  color: #FBB03E;
}

.header__active-menu-item {
  text-decoration: underline solid #FBB03E 4px!important;
  color: #FBB03E;
}

.menu-drawer__menu-item--active {
  border-left: solid 3px black;
}

.menu-drawer__menu-item {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
  margin: 10px;
  background-color: #F5F5F5;

}

.drawer-beer {
  background:url("https://cdn.shopify.com/s/files/1/2071/7563/files/galacticstout.png?v=1646654237") no-repeat scroll #f5f5f5;
    background-position:  center right;
  background-size: 18px 50px;
  background-position: 95% 7px; 
}






.mega-menu__content .promo-block .promo-block-image {
  height: auto!important;
  width: 100%!important;
}

.drink-details, .drink-abv, .beer-style {
  font-size: 14px;
}


.card__heading {
  font-weight: 600;
   text-transform: none!important;
}

.title, .blog__title {
  margin-left: auto!important;
  margin-right: auto!important;
}

.page-width-product {
 max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


.price--large {
  font-size: 2.4rem!important;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.13rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 750px) {
  .price--large {
    font-size: 2.2rem!important;
  }
}