/* section-pre-header */
#shopify-section-pre-header {
  z-index: 4;
}

.SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.WideGrid {
  grid-column: 2 / span 3;
}

.pre-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  color: var(--color-foreground);
}

.pre-header__link {
  text-decoration: none;
  color: white;
  font-family: var(--font-heading-family);
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 100%;
}

.pre-header__link:hover {
  color: var(--color-foreground);
  background-color: var(--color-card-hover);
}

.pre-head-combo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pre-head-img img {
  height: 22px;
  width: auto;
  max-width: 22px;
  object-fit: scale-down;
}

.pre-head-txt {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 500px) {
  .pre-header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 990px) {
  .SectionGrid {
    display: grid;
  }
}

@media screen and (max-width: 989px) {
  .pre-head-txt {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}

/*Modifying Comment to provoke commit */
