.difficulty-rating{
    display: flex;
    align-items: center;
    margin: 3rem 0rem;
}

.difficulty-rating-stars{
    display: flex;
    align-items: center;
    padding: 0.4rem;
}

.difficulty-rating-stars img{
    margin: 0.4rem;
}