.directions dl {
}
.directions .stepwrapper{
    display: flex;
    align-items: center;
    justify-content: left;
}
.directions dt{
    margin-top:1rem;
    font-weight: bold;
    font-size: 3.7rem;
    border-right: 1px solid;
    padding-right: 2rem;
    flex-shrink: 0;
}


.directions dd {
    margin-left: 1rem;
}