.disclosure {
  position: relative;
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  padding: 0 0.95rem 0 0.95rem;
  font-size: 0.8rem;
  background-color: transparent;
}

.disclosure__list {
  border: 1px solid rgba(var(--color-foreground), 0.2);
  font-size: 0.9rem;
  margin-top: -0.315rem;
  min-height: 5.0rem;
  max-height: 12.0rem;
  max-width: 14.0rem;
  min-width: 7.5rem;
  width: max-content;
  overflow-y: auto;
  padding-bottom: 0.315rem;
  padding-top: 0.315rem;
  position: absolute;
  bottom: 100%;
  transform: translateY(-0.65rem);
  z-index: 2;
  background-color: rgb(var(--color-background));
}

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: block;
  padding: 0.315rem 1.4rem;
  text-decoration: none;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}
