.dynamic-artists-gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 2.5rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  order: var(--grid-item-order);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}

.gallery-item img {
  width: 100%;
  flex: 1 1 auto;
  object-fit: cover;
  display: block;
}

.gallery-info {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
  padding: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2;
  position: relative;
}

.gallery-item.active .gallery-info {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.gallery-item-full-width {
  grid-column: span 2;
  grid-row: span 1;
}

.gallery-item-half-width {
  grid-column: span 1;
  grid-row: span 2;
}

.gallery-item-half-width.active {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery-item-half-width.active + .gallery-item,
.gallery-item-half-width.active + .gallery-item + .gallery-item {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-item-half-width-half-height {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-item-half-width-half-height.active {
  grid-column: span 2;
  order: var(--grid-item-open-order);
}

.gallery-item-half-width-half-height.active + .gallery-item-half-width-half-height {
  grid-row: span 2;
}

.gallery-item-half-width-half-height + .gallery-item-half-width-half-height.active {
  order: var(--grid-item-order);
}

.gallery-item-half-width-half-height:has(+ .gallery-item-half-width-half-height.active) {
  grid-row: span 2;
}

