.faq-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.faq-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.accordion {
  border-top: none;
}

.faq-h-0 {
  height: 0;
}

.faq-mb-7 {
  margin-bottom: 24px;
}

.faq-mt-13 {
  margin-top: 72px;
}

.faq-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.faq-mx-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.faq-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.faq-my-25px {
  margin-top: 0;
  margin-bottom: 0;
}

.faq-my-25px:first-of-type {
  margin-top: 25px;
}

.faq-my-25px:last-of-type {
  margin-bottom: 25px;
}

.faq-pl-6 {
  padding-left: 20px;
}

.faq-pr-9 {
  padding-right: 40px;
}

.faq-pt-6 {
  padding-top: 20px;
}

.faq-ff-body {
  font-family: var(--font-body-family);
}

.faq-ff-heading {
  font-family: var(--font-heading-family);
}

.faq-fs-1 {
  font-size: 16px;
}

.faq-fs-2 {
  font-size: 16px;
}

.faq-fs-7 {
  font-size: 28px;
}

.faq-lh-114 {
  line-height: 1.14;
}

.faq-lh-145 {
  line-height: 1.45;
}

.faq-lh-150 {
  line-height: 1.5;
}

.faq-fw-300 {
  font-weight: 300;
}

.faq-fw-400 {
  font-weight: 400;
}

.faq-fw-500 {
  font-weight: 500;
}

.faq-ls-m148 {
  letter-spacing: -1.48px;
}

.faq-ls-p024 {
  letter-spacing: 0.24px;
}

.faq-btw-05px {
  border-top-width: 0.5px;
}

.faq-btc-e5 {
  border-top-color: #e5e5e5;
}

.faq-bts-solid {
  border-top-style: solid;
}

.faq-hyphen {
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
}

@media screen and (min-width: 500px) {
  .faq-mb-md-8 {
    margin-bottom: 32px;
  }

  .faq-pr-md-15 {
    padding-right: 88px;
  }

  .faq-hyphen {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
  }
}

@media screen and (min-width: 990px) {
  .faq-SectionGrid {
    display: grid;
  }

  .faq-fs-lg-3 {
    font-size: 20px;
  }

  .faq-fs-lg-9 {
    font-size: 36px;
  }
}
