  .star-clickable {
    display: none;
  }
  .product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin:1rem auto auto;
    max-width: 37rem;
    min-width: fit-content;
    border: none;
  }
