.featured-artists-products__header {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-artists-products__text {
  max-width: 60%;
}
.featured-artists-products__spotify img {
  width: 32px;
  height: 32px;
}
.featured-artists-products__products {
  padding: 2rem;
  text-align: center;
}
.featured-artists-products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}
