.fwx-product-card {
  position: relative;
  padding: 2rem 1.6rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media screen and (min-width: 750px) {
  .fwx-product-card {
    box-shadow: var(--card-box-shadow);
    border-radius: var(--border-radius);
    transition: box-shadow 0.15s;
  }
  .fwx-product-card:hover {
    box-shadow: var(--card-box-shadow-hover);
  }
}

@media screen and (min-width: 990px) {
  .fwx-product-card {
    padding: 2rem;
  }
}

.fwx-product-card .card--product {
  margin-bottom: 2rem;
}

@media screen and (min-width: 990px) {
  .fwx-product-card {
    font-size: 2rem;
  }
}

.fwx-canopy-features {
  padding: 0.4rem 0.8rem;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-small);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.fwx-product-card .fwx-canopy-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fwx-product-card .fwx-canopy-title.Platinum .fwx-canopy-features {
  background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
  color: #fff;
}

.fwx-canopy-year {
  color: #666;
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.fwx-canopy-year,
.fwx-canopy-model {
  font-size: 1.3rem;
}
@media screen and (min-width: 990px) {
  .fwx-canopy-year,
  .fwx-canopy-model {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

.fwx-product-title {
  font-weight: bold;
}

.fwx-product-card .price {
  font-weight: bold;
  letter-spacing: normal;
  padding-top: 2rem;
}

@media screen and (min-width: 990px) {
  .fwx-product-card .price {
    padding-top: 4rem;
  }
}

.fwx-product-card .price dd.price__compare {
  order: 1;
}

.fwx-product-card
  .card-information__wrapper
  > *:not(.visually-hidden:first-child)
  + *:not(.rating) {
  margin-top: auto;
}

.fwx-product-card .card + .card-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.fwx-product-card .card-information__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fwx-product-card .card__badge {
  top: -1.7rem;
  right: 1rem;
  bottom: auto;
  left: auto;
}
@media screen and (min-width: 990px) {
  .fwx-product-card .card__badge {
    top: 1rem;
    right: 1rem;
    bottom: auto;
    left: auto;
  }
}

.fwx-product-card .card__badge > * {
  margin-right: 0;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.fwx-product-card .badge {
  letter-spacing: normal;
}
