.fireworkx-slider-container {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 5rem;
    margin-top: 5rem;
}

.fireworkx-about-heading h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 150%;
    color: #000000;
}

@media screen and (min-width: 750px) {
    .fireworkx-about-heading h2 {
        font-size: 4rem;
    }
  }

  @media screen and (min-width: 1280px) {
    .fireworkx-about-heading h2 {
        font-size: 4rem;
    }
  }

.fireworkx-about-heading p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
}

.fwx-about-image-slider{
    margin-top: 7rem;
}

.mySwiper2 {
    height: 50%;
    width: 80%;
    margin-top: 5rem;
}

  .mySwiper {
    height: 20%;
    width: 80%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }

