body{
  height:3000px; /* just to force scrollbar */
}

body.modal-open{
  overflow:hidden;
}

ul li {
  list-style: none;
}
.modal{
  position:fixed;
  visibility:hidden;
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index: 3;
}

.modal-overlay:empty{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:block;
}

.modal-content-container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  pointer-events:none;
  justify-content:center;
}

.modal-content{
  background:white;
  padding:20px;
  pointer-events:all;
}

.modal-open .modal{
  opacity:1;
  visibility:visible;
  pointer-events:all;
}
.fwx-enquiry-swiper {
	width: 100%;
	height: 100%;
	pointer-events: all;
}

.fwx-slide-container {
	padding: 0.8rem;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 750px) {
	.fwx-slide-container {
		padding: 1.6rem;
	}
}

@media screen and (min-width: 900px) {
	.fwx-slide-container {
		padding: 3rem;
	}
}

.fwx-slide-contents {
	padding: 1.6rem;
	flex-grow: 1;
	max-width: 85rem;
	max-height: 100%;
	overflow: auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

@media screen and (min-width: 750px) {
	.fwx-slide-contents {
		padding: 3rem;
	}
}
.choose-a-quote-container .fwx-slide-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}
.button-quote-type {
  width: 26.0rem;
  height: 22.0rem;
  background: #012169;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.2rem;

color: #FFFFFF;
}
.product-list li{
  display:none;
}
.product-list li.show-product{
  display:flex;
}
.single-product {
  display: none;
}
.show-single-product {
  display: flex;
}

.swiper-slide h6 {
  font-size: 2.4rem;
}
.product-list-items .show-product{
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  margin-top: 1.2rem;
  padding: 1rem;
}

.accessory-product {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  margin-top: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}
.product-icon {
  width: 9.3rem;
  height: 5.7rem;
  border-radius: 1rem;
  margin-right: 2rem;
}