.fwx-our-process-cards {
	display: grid;
	gap: 2rem;
}

.fwx-our-process-cards img {
	max-width: 100%;
}

.fwx-our-process-cards .fwx-our-process-image {
	display: none;
	border-radius: var(--border-radius-small);
	overflow: hidden;
}

.fwx-our-process-cards .fwx-our-process-image:first-child {
	display: block;
}

@media screen and (min-width: 420px) {
	.fwx-our-process-cards .fwx-our-process-image:nth-child(2) {
		display: block;
	}
	.fwx-our-process-cards {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 750px) {
	.fwx-our-process-cards .fwx-our-process-image {
		display: block;
	}
	.fwx-our-process-cards {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 3rem;
	}
}

/* Outer container */

.fwx-our-process-container {
	background-color: var(--grey-light);
	padding: 3rem 0;
}

@media screen and (min-width: 750px) {
	.fwx-our-process-container {
		background-color: transparent;
		padding: 0;
	}
}

/* Inner container */
@media screen and (min-width: 750px) {
	.fwx-our-process-inner-container {
		background-color: var(--grey-light);
		padding: 3rem 6rem;
		border-radius: var(--border-radius);
	}
}
@media screen and (min-width: 990px) {
	.fwx-our-process-inner-container {
		padding: 4rem 8rem;
	}
}
