.fireworkx-fitment-centre-cta {
	background-color: var(--grey-light);
	padding: 2rem 1.6rem;
	display: grid;
	gap: var(--gap);
	border-radius: var(--border-radius);
}

@media screen and (min-width: 750px) {
	.fireworkx-fitment-centre-cta {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		padding: 4rem 6rem;
	}
}

.fireworkx-fitment-centre-cta * {
	margin: 0;
}

.fireworkx-fitment-centre-cta h2 {
	margin-bottom: 2rem;
}
