.fwx-product-card {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
	padding: 2rem 1.6rem;
	border-radius: var(--border-radius);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
}

@media screen and (min-width: 990px) {
	.fwx-product-card {
		padding: 2rem;
	}
}

.fwx-canopy-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.fwx-canopy-features {
	padding: 0.5rem 1rem;
	background-color: #f0f0f0;
	border-radius: var(--border-radius-small);
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.fwx-product-card .fwx-canopy-title.Platinum .fwx-canopy-features {
	background-color: #404040;
	color: #fff;
}

.fwx-canopy-model {
}
.fwx-canopy-size {
	font-weight: bold;
}
.fwx-canopy-year {
}

.fwx-product-card .price {
	font-weight: bold;
	letter-spacing: normal;
}

.fwx-product-card
	.card-information__wrapper
	> *:not(.visually-hidden:first-child)
	+ *:not(.rating) {
	margin-top: auto;
}

.fwx-product-card .card + .card-information {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.fwx-product-card .card-information__wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
