.fwx-get-in-touch-snippet {
	display: flex;
	flex-direction: column;
}
.fwx-get-in-touch-snippet h2 {
	display: flex;
	align-items: center;
}
.fwx-get-in-touch a {
	display: block;
}

.fwx-find-us p,
.fwx-find-us span {
	line-height: 60%;
}

.fwx-find-us svg {
	color: rgb(var(--color-base-accent-1));
	width: 1.6rem;
	height: 1.5rem;
	margin-right: 1.1rem;
}

.fwx-address {
	margin-left: 3rem;
}

.fwx-open-in-google {
	text-align: center;
	font-size: 1.7rem;
	align-items: center;
	color: rgb(var(--color-base-accent-1));
	margin-left: 3rem;
}

.fwx-get-in-touch-social-icons {
	gap: 1rem;
	list-style-type: none;
	padding-left: 0;
	display: flex;
}

.fwx-get-in-touch-social-icons .list-social__link {
	width: 6.4rem;
	height: 6.4rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(var(--color-base-accent-1));
}

.fwx-get-in-touch-social-icons .list-social__link:hover {
	background-color: var(--primary-light);
}

.fwx-get-in-touch-social-icons svg {
	width: 3rem;
}
