body{
  height:3000px; /* just to force scrollbar */
}

body.modal-open{
  overflow:hidden;
}

ul li {
  list-style: none;
}
.modal{
  position:fixed;
  visibility:hidden;
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index: 3;
}

.modal-overlay:empty{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:block;
}

.modal-content-container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  pointer-events:none;
  justify-content:center;
}

.modal-content{
  background:white;
  padding:20px;
  pointer-events:all;
}

.modal-open .modal{
  opacity:1;
  visibility:visible;
  pointer-events:all;
}
.fwx-enquiry-swiper {
	width: 100%;
	height: 100%;
	pointer-events: all;
}

.fwx-slide-container {
	padding: 0.8rem;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 750px) {
	.fwx-slide-container {
		padding: 1.6rem;
	}
}

@media screen and (min-width: 900px) {
	.fwx-slide-container {
		padding: 3rem;
	}
}

.fwx-slide-contents {
	background: white;
	padding: 1.6rem;
	flex-grow: 1;
	max-width: 85rem;
	max-height: 100%;
	overflow: auto;
}

@media screen and (min-width: 750px) {
	.fwx-slide-contents {
		padding: 3rem;
	}
}

.product-list li{
  display:none;
}
.product-list li.show-product{
  display:block;
}
.single-product {
  display: none;
}
.show-single-product {
  display: block;
}