.fwx-quote-container {
	background: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	padding: 2.4rem 1.6rem;
	background: #ffffff;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	justify-content: center;
}

@media screen and (min-width: 750px) {
	.fwx-quote-container {
		padding: 4rem;
		padding-bottom: 2rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-quote-container {
		justify-content: flex-start;
	}
}

.fwx-get-quote-online {
	display: grid;
	gap: 2rem;
	width: 100%;
}

.fwx-get-quote-online h3 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

@media screen and (min-width: 990px) {
	.fwx-get-quote-online h3 {
		text-align: left;
		font-size: 3.2rem;
	}
}
.fwx-get-quote-online button {
	width: 100%;
}

.fwx-quote-container .fwx-contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media screen and (min-width: 990px) {
	.fwx-quote-container .fwx-contact {
		gap: 1rem;
	}
}
.fwx-quote-container .fwx-contact a {
	font-weight: bold;
	text-decoration: none;
	color: #012169;
}

@media screen and (min-width: 990px) {
	.fwx-quote-container .fwx-contact a {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 1140px) {
	.fwx-quote-container .fwx-contact a {
		font-size: 2rem;
	}
}
