.fwx-main-product {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.product__text.caption-with-letter-spacing {
  font-size: 1.2rem;
  font-weight: 650;
  margin-bottom: 1.3rem;
}

@media screen and (min-width: 750px) {
  .fwx-main-product {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .fwx-main-product {
    background-color: var(--grey-light);
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
}

.fwx-product-images-swiper {
  margin-bottom: 2rem;
  position: relative;
}

.image_slider {
  margin-bottom: 2rem;
}

@media screen and (min-width: 990px) {
  .image_slider {
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    padding: 4rem;
  }
}

.fwx-main-product .swiper-button-prev,
.fwx-main-product .swiper-button-next {
  display: block;
  color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  text-shadow: 0px 1px 2px rgb(0 0 0 / 40%), 0px 3px 6px rgb(0 0 0 / 40%);
}

.fwx-main-product .swiper-slide {
  display: flex;
}

.fwx-product-images-swiper .swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.fwx-product-images-swiper .swiper-slide iframe {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}
@media screen and (min-width: 750px) {
  .fwx-product-images-swiper .swiper-slide img {
    height: 350px;
  }

  .fwx-product-images-swiper .swiper-slide iframe {
    height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .fwx-product-images-swiper .swiper-slide img {
    height: 400px;
  }

  .fwx-product-images-swiper .swiper-slide iframe {
    height: 400px;
  }
}

.fwx-product-thumbs-swiper .swiper-slide img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: var(--border-radius-small);
  transition: opacity 0.15s;
}

.fwx-product-thumbs-swiper
  .swiper-slide:not(.swiper-slide-thumb-active):hover:before {
  box-shadow: inset 0 0 0 0.4rem rgb(1, 33, 105);
}

.fwx-product-thumbs-swiper .swiper-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  z-index: 1;
  transition: box-shadow 0.15s;
}

.fwx-product-thumbs-swiper .swiper-slide.swiper-slide-thumb-active:before {
  box-shadow: inset 0 0 0 0.4rem rgb(1, 33, 105);
}

.fwx-product-thumbs-swiper .swiper-pagination-bullet-active {
  background-color: var(--gradient-base-accent-1);
}

.fwx-product-thumbs-swiper .swiper-slide:hover {
  cursor: pointer;
}

@media screen and (min-width: 990px) {
  .product:not(.product--no-media):not(.featured-product)
    .product__media-wrapper,
  .product:not(.product--no-media):not(.featured-product)
    .product__info-wrapper {
    max-width: 50%;
    width: calc(50% - 1rem / 2);
    margin-top: 0;
  }
}

.fwx-main-product .fwx-canopy-year {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.6rem;
  color: #666;
}

.fwx-main-product .fwx-canopy-model {
  font-size: 2rem;
}

@media screen and (min-width: 990px) {
  .fwx-main-product .fwx-canopy-year {
    font-size: 2rem;
  }
  .fwx-main-product .fwx-canopy-model {
    font-size: 2.4rem;
  }
}

.fwx-main-product .fwx-product-title {
  font-weight: bold;
}

.fwx-main-product .fwx-canopy-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fwx-main-product .fwx-canopy-features {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-small);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.fwx-main-product .fwx-canopy-title.Platinum .fwx-canopy-features {
  background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
  color: #fff;
}

.fwx-main-product .fwx-product-title {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.fwx-main-product .product__description.rte ul {
  gap: 0.6rem;
  display: grid;
}
.fwx-main-product .product__description.rte li {
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .fwx-main-product .product__description.rte li {
    font-size: 1.6rem;
  }
}

.fwx-main-product .product-form {
  margin-bottom: 0;
}

@media screen and (min-width: 990px) {
  .fwx-main-product .product__info-wrapper .card,
  .fwx-main-product .fwx-quote-container {
    background: #ffffff;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 25%), 0px 4px 6px rgb(0 0 0 / 25%);
    border-radius: var(--border-radius);
    padding: 4rem;
  }
  .fwx-main-product .fwx-quote-container {
    padding-bottom: 2rem;
  }
}

.fwx-main-product .price-item {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: normal;
}
@media screen and (min-width: 990px) {
  .fwx-main-product .price-item {
    font-size: 3.2rem;
  }
}

.fwx-main-product .price--on-sale .price__sale {
  flex-direction: column;
}

.fwx-main-product .fwx-quote-container h3 {
  margin-top: 0;
}

@media screen and (min-width: 990px) {
  .fwx-main-product .fwx-quote-container h3 {
    text-align: center;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 750px) {
  .fwx-main-product .fwx-quote-container {
    padding: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-main-product .fwx-quote-container {
    padding: 4rem;
    padding-bottom: 2.4rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-main-product .fwx-quote-container .fwx-contact a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1140px) {
  .fwx-main-product .fwx-quote-container .fwx-contact a {
    font-size: 1.6rem;
  }
}

.fwx-main-product .fwx-quote-container .fwx-contact {
  margin: 0 auto;
}

.fwx-variant-picker-heading {
  font-size: 1.4rem;
}

variant-radios,
variant-selects {
  display: block;
  margin-bottom: 2rem;
}

.product-form__input input[type="radio"] + label {
  letter-spacing: 0;
  border-color: var(--grey);
  padding: 1rem 1.5rem;
}

.product-form__input input[type="radio"]:checked + label {
  background-color: rgb(1, 33, 105);
  border-color: rgb(1, 33, 105);
}

.card-image-container img {
  cursor: pointer;
  width: 100%; 
  border-radius: var(--border-radius);
  margin-top: 10px;
}

@media screen and (min-width: 990px) {
  .card-image-container img {
    width: 100%;
    margin-top: -15px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%), 0 4px 6px rgb(0 0 0 / 25%);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

/* product video styling */
.fwx-product-images-swiper .swiper-slide-active {
  height: auto;
}

.product-video-container {
  width: 100%;
  height: 100%;
  max-height: 400px;
}

@media screen and (max-width: 768px) {
  .product-video-container {
    max-height: 350px;
  }
}

.product-video-container video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}