.fwx-fitment-centre-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .fwx-fitment-centre-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-fitment-centre-content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.fwx-fitment-centre-content h2 {
  margin-top: 0;
}

.fwx-fitment-centre-content p {
  font-size: var(--paragraph-large);
}

.fwx-fitment-centre-content .rte p:last-child {
  margin-bottom: 0;
}
