:root {
  --primary-light: #ccdaf8;
  --red: #e02323;
  --black: #000;
  --grey-light: #f8f8f8;
  --grey-medium: #f0f0f0;
  --grey: #ccc;
  --border-radius: 5px;
  --border-radius-small: 5px;
  --font-heading-weight: bold;
  --gap: 1.6rem;
  --font-body-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif;
  --font-heading-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --page-width: 140rem;
  --card-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25),
    0px 4px 6px rgba(0, 0, 0, 0.25);
  --card-box-shadow-hover: 0px 3px 6px rgb(0 0 0 / 35%),
    0px 6px 10px rgb(0 0 0 / 35%);
  --box-shadow-link: 0 0 0 0.2rem var(--grey);
  --box-shadow-link-hover: 0 0 0 0.4rem rgb(var(--color-base-accent-2)),
    0 0 0 1rem rgb(var(--color-base-accent-2), 0.2);
}

@media screen and (min-width: 750px) {
  :root {
    --border-radius: 10px;
    --gap: 3rem;
    --paragraph: 2rem;
    --paragraph-large: 2rem;
  }
}

@media screen and (min-width: 990px) {
  :root {
    --paragraph-large: 2.4rem;
  }
}

body {
  letter-spacing: 0;
  line-height: 1.5;
  color: var(--color-foreground);
}

.rte a {
  color: rgb(1, 33, 105); 
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.2rem;
  font-weight: bold;
}

p {
  font-size: var(--paragraph);
  color: var(--black);
}

.fireworkx-large-text {
  font-size: var(--paragraph-large);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  letter-spacing: 0;
}

h1,
.h1 {
  font-size: 4rem;
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: 5.6rem;
  }
}

@media only screen and (min-width: 990px) {
  h1,
  .h1 {
    font-size: 7.2rem;
  }
}

h2,
.h2 {
  font-size: 3.2rem;
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: 4rem;
  }
}

h3,
.h3 {
  font-size: 2.4rem;
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: 3.2rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: 2.4rem;
  }
}

.fwx-is-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button {
  font-weight: bold;
  padding: 1.4rem 2rem;
  border-radius: 10px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0;
  transition: background-color 0.15s, box-shadow 0.15s;
  background-color: rgb(1, 33, 105);
}

.button svg {
  margin-right: 1rem;
}

.button--primary {
  background-color: rgb(1, 33, 105);
}

.button--secondary {
  background-color: var(--primary-light);
  color: rgb(1, 33, 105);
}

.button-white {
  background-color: #fff;
}

.button--transparent {
  background-color: transparent;
  color: rgb(1, 33, 105);
}

.button--transparent:hover {
  background-color: var(--primary-light);
}

.button--cta {
  background-color: rgb(14, 172, 59);
  color: white;
}

.button--small {
  padding: 0.6rem;
  font-size: 1.2rem;
  min-height: 0;
  min-width: 0;
}

.button--small svg {
  margin-right: 0.6rem;
}

.button:not([disabled]):hover {
  box-shadow: 0 0 0 0.6rem rgba(1, 33, 105, 0.2);
}

.button.button--cta:not([disabled]):hover {
  box-shadow: 0 0 0 0.6rem rgba(var(--color-base-accent-2), 0.2);
}

.button.button--secondary:not([disabled]):hover {
  box-shadow: 0 0 0 0.6rem rgb(204 218 248 / 30%);
}

.button.button--transparent:not([disabled]):hover {
  box-shadow: none;
}

@media only screen and (min-width: 380px) {
  .button--small {
    font-size: 1.4rem;
    padding: 1rem;
  }
  .button--small svg {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 750px) {
  .button.large {
    font-size: 1.8rem;
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 750px) {
  .spaced-section {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 990px) {
  .spaced-section {
    margin-top: 12rem;
  }
}

@media screen and (min-width: 750px) {
  .reputon-google-reviews-widget {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 990px) {
  .reputon-google-reviews-widget {
    margin-top: 12rem;
  }
}

.spaced-section.fwx-no-margin-bottom {
  margin-bottom: 0;
}

.spaced-section.fwx-is-last-section {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .spaced-section.fwx-is-last-section {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .spaced-section.fwx-is-last-section {
    margin-bottom: 8rem;
  }
}

/* Form */

.fwx-form {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 750px) {
  .fwx-form {
    gap: 2.4rem;
  }
}

/* Field Group */

.fwx-field-group {
  display: grid;
  gap: 1.6rem;
}

@media screen and (min-width: 460px) {
  .fwx-field-group {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .fwx-field-group.full-width {
    grid-template-columns: 1fr;
  }
}

/* Fields */

.fwx-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label */

.fwx-label {
  order: -1;
  margin-bottom: 0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;
}

@media screen and (min-width: 460px) {
  .fwx-label {
    font-size: 1.6rem;
  }
}

/* Input */
.fwx-input {
  padding: 1.2rem;
  font-size: 1.4rem;
  border-radius: var(--border-radius-small);
  border: 0.2rem solid var(--grey);
  transition: border-color 0.15s;
  width: 100%;
  background: white;
}

@media screen and (min-width: 460px) {
  .fwx-input {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
}

.fwx-input:hover {
  border-color: var(--color-foreground);
}

.fwx-input:focus {
  border-color: var(--color-foreground);
}

.fwx-input.invalid {
  border-color: var(--red);
}

/* Textarea */

.fwx-textarea {
  font-family: var(--font-body-family);
}

/* Radio Buttons */

.fwx-radio-button {
  display: inline-flex;
  align-items: center;
}

.fwx-radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Radio labels  */

.fwx-options-field .fwx-radio-button:nth-of-type(2) {
  margin-left: 1.6rem;
}

.fwx-radio-button label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.fwx-radio-button label:hover:before {
  border-color: black;
}

.fwx-radio-button label:before {
  content: "";
  display: inline-flex;
  height: 2.4rem;
  width: 2.4rem;
  border: 0.3rem solid var(--grey);
  border-radius: 50%;
  margin-right: 0.8rem;
  transition: border-color 0.1s;
}

.fwx-radio-button label:after {
  content: "";
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  background: rgb(1, 33, 105);
  border-radius: 50%;
  left: 0.6rem;
  transition: transform 0.1s;
  transform: scale(0);
}

.fwx-radio-button input:checked + label:before {
  border-color: rgb(1, 33, 105);
}

.fwx-radio-button input:checked + label:after {
  transform: scale(1);
}

/* Firework Title */

.fwx-canopy-features {
  padding: 0.4rem 0.8rem;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-small);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.fwx-canopy-title.Platinum .fwx-canopy-features {
  background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
  color: #fff;
}

.fwx-canopy-year,
.fwx-canopy-model {
  font-size: 1.3rem;
}

@media screen and (min-width: 990px) {
  .fwx-canopy-year,
  .fwx-canopy-model {
    font-size: 1.5rem;
  }
}

.fwx-product-title {
  font-weight: bold;
}

/* Firework title card style */

.fwx-title-card.fwx-canopy-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 480px) {
  .fwx-title-card.fwx-canopy-title {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.fwx-title-card .fwx-canopy-size {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .fwx-title-card .fwx-canopy-size {
    order: -1;
    margin-right: 0.8rem;
    width: auto;
  }
}

@media screen and (min-width: 750px) {
  .fwx-title-card .fwx-canopy-size {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-title-card .fwx-canopy-size {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .fwx-title-card .fwx-canopy-features {
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}

.fwx-title-card .fwx-canopy-features {
  margin-bottom: 0;
}

.fwx-title-card .fwx-canopy-title.Platinum .fwx-canopy-features {
  background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
  color: #fff;
}

.fwx-title-card .fwx-model-year-container {
  width: 100%;
}

/* Whatsapp widget */

.andycab-whatsapp-icon {
  position: fixed;
  bottom: 8px;
  display: flex;
  align-items: center;
  right: 8px;
  gap: 20px;
  text-decoration: none;
  z-index: 2;
}

.andycab-whatsapp-icon svg {
  max-width: 60px;
  max-height: 60px;
  transition: transform 0.2s;
}

.andycab-whatsapp-icon span {
  position: absolute;
  right: calc(100% + 16px);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  border-radius: 10px;
  padding: 8px 12px;
  background: linear-gradient(180deg, #88df90 0%, #2cb441 100%);
  color: #fff;
  width: 164px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .andycab-whatsapp-icon {
    bottom: 24px;
    right: 24px;
  }
  .andycab-whatsapp-icon:hover svg {
    transform: scale(1.15);
  }
  .andycab-whatsapp-icon:hover span {
    font-size: 16px;
    opacity: 1;
  }
}
@media screen and (min-width: 990px) {
  .andycab-whatsapp-icon {
    bottom: 32px;
    right: 32px;
  }
}

/* Sale and sold out badges */

.product .price {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .product .price__badge-sold-out,
  .product .price__badge-sale,
  .product .price--sold-out .price__badge-sold-out,
  .product .price--sold-out .price__badge-sale {
    position: absolute;
    top: 0;
    right: 0;
  }
  .product .price {
    flex-direction: row;
  }
}
@media screen and (min-width: 990px) {
  .product .price__badge-sold-out,
  .product .price__badge-sale,
  .product .price--sold-out .price__badge-sold-out,
  .product .price--sold-out .price__badge-sale {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.fwx-contact-content {
  text-align: center;
}

/* search modal width */
@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 47.8rem;
  }
}

.search-modal__form .search__input {
  background-color: transparent;
}


.predictive-search .predictive-search__heading {
  font-size: 1.2rem;
}

/* cart notification */
.cart-notification-wrapper .cart-notification__heading {
  color: white
}

.cart-notification-wrapper .product-option {
  font-size: 2rem;
  font-weight: bold;
}

/* cart page */
.cart-item__quantity-wrapper .button--tertiary {
  background-color: transparent;
}

.cart-item__quantity-wrapper .button--tertiary:not([disabled]):hover {
  box-shadow: none;
  color: black;
}

/* collection list */
.collection-list .card-wrapper {
  background-color: rgb(237,237,237);
}

.collection-list .card-wrapper .card__content .card__information {
  padding-left: 3rem;
  padding-right: 3rem;
}

.collection-list .card__inner .card__media {
  position: absolute;
}

.collection-list .card__inner .card__media .media {
  position: absolute;
}

/* image with text */
.image-with-text .image-with-text__media {
  border: none;
}
