:root {
	--primary-light: #ccdaf8;
	--red: #e02323;
	--black: #000;
	--grey-light: #f8f8f8;
	--grey-medium: #f0f0f0;
	--grey: #ccc;
	--border-radius: 5px;
	--border-radius-small: 5px;
	--font-heading-weight: bold;
	--gap: 1.6rem;
	--font-body-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
	--font-heading-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--page-width: 140rem;
	--box-shadow-link: 0 0 0 0.2rem var(--grey);
	--box-shadow-link-hover: 0 0 0 0.4rem rgb(var(--color-base-accent-2)),
		0 0 0 1rem rgb(var(--color-base-accent-2), 0.2);
}

@media screen and (min-width: 750px) {
	:root {
		--border-radius: 10px;
		--gap: 3rem;
		--paragraph: 2rem;
		--paragraph-large: 2rem;
	}
}

@media screen and (min-width: 990px) {
	:root {
		--paragraph-large: 2.4rem;
	}
}

body {
	letter-spacing: 0;
	line-height: 1.5;
	color: rgba(var(--color-foreground));
}

p {
	font-size: var(--paragraph);
	color: var(--black);
}

.fireworkx-large-text {
	font-size: var(--paragraph-large);
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
	letter-spacing: 0;
}

h1,
.h1 {
	font-size: 4rem;
}

@media only screen and (min-width: 750px) {
	h1,
	.h1 {
		font-size: 5.6rem;
	}
}

@media only screen and (min-width: 990px) {
	h1,
	.h1 {
		font-size: 7.2rem;
	}
}

h2,
.h2 {
	font-size: 3.2rem;
}

@media only screen and (min-width: 750px) {
	h2,
	.h2 {
		font-size: 4rem;
	}
}

h3,
.h3 {
	font-size: 2.4rem;
}

@media only screen and (min-width: 750px) {
	h3,
	.h3 {
		font-size: 3.2rem;
	}
}

h4,
.h4 {
	font-size: 2rem;
}

@media only screen and (min-width: 750px) {
	h3,
	.h3 {
		font-size: 2.4rem;
	}
}

.fwx-is-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.button {
	font-weight: bold;
	padding: 1.4rem 2rem;
	border-radius: var(--border-radius);
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	letter-spacing: 0;
}

.button:hover {
	transition: background-color 0.15s;
}

.button svg {
	margin-right: 1rem;
}

.button--secondary {
	background-color: var(--primary-light);
	color: rgb(var(--color-base-accent-1));
}

.button--transparent {
	background-color: transparent;
	color: rgb(var(--color-base-accent-1));
}

.button--transparent:hover {
	background-color: var(--primary-light);
}

.button--cta {
	background-color: var(--gradient-base-accent-2);
	color: white;
}

.button--small {
	padding: 0.6rem;
	font-size: 1.2rem;
	min-height: 0;
}

.button--small svg {
	margin-right: 0.6rem;
}

@media only screen and (min-width: 380px) {
	.button--small {
		font-size: 1.4rem;
		padding: 1rem;
	}
	.button--small svg {
		margin-right: 1rem;
	}
}

@media only screen and (min-width: 750px) {
	.button.large {
		font-size: 1.8rem;
		padding: 2rem 3rem;
	}
}

.button:not([disabled]):hover {
	box-shadow: none;
}

@media screen and (min-width: 750px) {
	.spaced-section {
		margin-top: 8rem;
	}
}

@media screen and (min-width: 990px) {
	.spaced-section {
		margin-top: 12rem;
	}
}

.spaced-section:last-child {
	margin-bottom: 0;
}

.spaced-section.fwx-is-last-section {
	margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.spaced-section.fwx-is-last-section {
		margin-bottom: 5rem;
	}
}

@media screen and (min-width: 990px) {
	.spaced-section.fwx-is-last-section {
		margin-bottom: 8rem;
	}
}

/* Form */

.fwx-form {
	display: grid;
	gap: 2rem;
}
@media screen and (min-width: 750px) {
	.fwx-form {
		gap: 2.4rem;
	}
}

/* Field Group */

.fwx-field-group {
	display: grid;
	gap: 1.6rem;
}

@media screen and (min-width: 460px) {
	.fwx-field-group {
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}

	.fwx-field-group.full-width {
		grid-template-columns: 1fr;
	}
}

/* Fields */

.fwx-field {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Label */

.fwx-label {
	order: -1;
	margin-bottom: 0.4rem;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 0;
}

@media screen and (min-width: 460px) {
	.fwx-label {
		font-size: 1.6rem;
	}
}

/* Input */
.fwx-input {
	padding: 1.2rem;
	font-size: 1.4rem;
	border-radius: var(--border-radius-small);
	border: 0.2rem solid var(--grey);
	transition: border-color 0.15s;
	width: 100%;
	background: white;
}

@media screen and (min-width: 460px) {
	.fwx-input {
		padding: 1.6rem;
		font-size: 1.6rem;
	}
}

.fwx-input:hover {
	border-color: var(--color-foreground);
}

.fwx-input:focus {
	border-color: var(--color-foreground);
}

/* Textarea */

.fwx-textarea {
	font-family: var(--font-body-family);
}

/* Radio Buttons */

.fwx-radio-button {
	display: inline-flex;
	align-items: center;
}

.fwx-radio-button input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Radio labels  */

.fwx-options-field .fwx-radio-button:nth-of-type(2) {
	margin-left: 1.6rem;
}

.fwx-radio-button label {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.fwx-radio-button label:hover:before {
	border-color: black;
}

.fwx-radio-button label:before {
	content: "";
	display: inline-flex;
	height: 2.4rem;
	width: 2.4rem;
	border: 0.3rem solid var(--grey);
	border-radius: 50%;
	margin-right: 0.8rem;
	transition: border-color 0.1s;
}

.fwx-radio-button label:after {
	content: "";
	display: block;
	height: 1.2rem;
	width: 1.2rem;
	position: absolute;
	background: var(--gradient-base-accent-1);
	border-radius: 50%;
	left: 0.6rem;
	transition: transform 0.1s;
	transform: scale(0);
}

.fwx-radio-button input:checked + label:before {
	border-color: var(--gradient-base-accent-1);
}

.fwx-radio-button input:checked + label:after {
	transform: scale(1);
}

/* Firework Title */

.fwx-canopy-features {
	padding: 0.4rem 0.8rem;
	background-color: #f0f0f0;
	border-radius: var(--border-radius-small);
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.fwx-canopy-title.Platinum .fwx-canopy-features {
	background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
	color: #fff;
}

.fwx-canopy-year,
.fwx-canopy-model {
	font-size: 1.3rem;
}

@media screen and (min-width: 990px) {
	.fwx-canopy-year,
	.fwx-canopy-model {
		font-size: 1.5rem;
	}
}

.fwx-product-title {
	font-weight: bold;
}

/* Firework title card style */

.fwx-title-card.fwx-canopy-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media screen and (min-width: 480px) {
	.fwx-title-card.fwx-canopy-title {
		flex-wrap: wrap;
		flex-direction: row;
	}
}

.fwx-title-card .fwx-canopy-size {
	width: 100%;
}

@media screen and (min-width: 480px) {
	.fwx-title-card .fwx-canopy-size {
		order: -1;
		margin-right: 0.8rem;
		width: auto;
	}
}

@media screen and (min-width: 750px) {
	.fwx-title-card .fwx-canopy-size {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-title-card .fwx-canopy-size {
		font-size: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.fwx-title-card .fwx-canopy-features {
		padding: 0.2rem 0.6rem;
		font-size: 1rem;
		margin-bottom: 0.3rem;
	}
}

.fwx-title-card .fwx-canopy-features {
	margin-bottom: 0;
}

.fwx-title-card .fwx-canopy-title.Platinum .fwx-canopy-features {
	background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
	color: #fff;
}

.fwx-title-card .fwx-model-year-container {
	width: 100%;
}
