.fwx-get-in-touch-snippet {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 750px) {
  .fwx-get-in-touch-snippet {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-get-in-touch-snippet {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.fwx-get-in-touch-snippet h2 {
  margin-top: 0;
}

.fwx-get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fwx-get-in-touch a {
  display: inline-flex;
}

@media screen and (min-width: 990px) {
  .fwx-get-in-touch a {
    font-size: 2rem;
  }
}

.fwx-get-in-touch,
.fwx-find-us {
  padding: 2rem;
  background-color: var(--grey-light);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 750px) {
  .fwx-get-in-touch,
  .fwx-find-us {
    padding: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .fwx-get-in-touch,
  .fwx-find-us {
    padding: 0;
    background-color: transparent;
  }
}

/* Jordy Custom Style */
.fwx-find-us svg {
  color: rgb(var(--color-base-accent-1));
  color: rgb(1, 33, 105);
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--gradient-base-accent-1);
  fill: rgb(1, 33, 105);
}

.fwx-address-container {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.fwx-address-container p {
  margin: 0;
}

.fwx-get-in-touch-social-icons {
  gap: 1rem;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0;
}

/* Jordy Custom style */

.fwx-get-in-touch-social-icons .list-social__link {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-base-accent-1));
  color: rgb(1, 33, 105);
}

.fwx-get-in-touch-social-icons .list-social__link:hover {
  background-color: var(--primary-light);
}
