.fwx-wca {
	background-color: rgb(1, 33, 105);
}

.fwx-wca h2 {
	margin-top: 0;
}

.fwx-wca h2,
.fwx-wca h4,
.fwx-wca p {
	color: white;
}

.fwx-wca {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
	.fwx-wca {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-wca {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
}

.fwx-wca-intro {
	display: grid;
	gap: 4rem;
	margin-bottom: 4rem;
}

@media screen and (min-width: 990px) {
	.fwx-wca-intro {
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
		margin-bottom: 8rem;
	}
}

.fwx-video-container {
	padding-top: 56.25%;
	display: block;
	position: relative;
}

.fwx-video-container iframe {
	width: 100% !important;
	height: 100% !important;
}

.fwx-wca-columns {
	display: grid;
	gap: 4rem;
}

@media screen and (min-width: 750px) {
	.fwx-wca-columns {
		gap: 6rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 990px) {
	.fwx-wca-columns {
		gap: 8rem;
	}
}

.fwx-wca-columns p {
	margin-bottom: 0;
}

.fwx-wca-columns .button {
	margin-top: 2rem;
}

.fwx-wca-column-icon {
	width: 5.2rem;
	height: 5.2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--red);
}

.fwx-wca-column-icon svg {
	fill: #fff;
}
