:root {
	--grey: #ccc;
	--border-radius: 5px;
}

@media screen and (min-width: 750px) {
	:root {
		--border-radius: 10px;
	}
}

h1,
.h1 {
	font-size: 5.6rem;
}

@media only screen and (min-width: 750px) {
	h1,
	.h1 {
		font-size: 7.2rem;
	}
}

h2,
.h2 {
	font-size: 3.2rem;
}

@media only screen and (min-width: 750px) {
	h2,
	.h2 {
		font-size: 4rem;
	}
}

h3,
.h3 {
	font-size: 2.4rem;
}

@media only screen and (min-width: 750px) {
	h3,
	.h3 {
		font-size: 3.2rem;
	}
}

h4,
.h4 {
	font-size: 2rem;
}

@media only screen and (min-width: 750px) {
	h3,
	.h3 {
		font-size: 2.4rem;
	}
}

.fwx-is-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
