/* General Modal Styles */

body.modal-open {
	overflow: hidden;
}

ul li { 
	list-style: none;
}

.modal {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
	transition: opacity 0.15s, visibility 0.15s;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: block;
}

.modal-open .modal {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.fwx-close-modal-button {
	width: 4rem;
	height: 4rem;
	background: white;
	border-radius: 50%;
	top: 0.8rem;
	right: 0.8rem;
	display: flex;
	align-items: center;
	position: absolute;
	border: none;
	justify-content: center;
	cursor: pointer;
	transform: translateY(-50px);
	transition: transform 0.15s;
}

.modal-open .fwx-close-modal-button {
	transform: translateY(0);
}

.fwx-close-modal-button svg {
	max-width: 1.6rem;
	pointer-events: none;
}

@media screen and (min-width: 750px) {
	.fwx-close-modal-button {
		top: 1.6rem;
		right: 1.6rem;
	}
}
@media screen and (min-width: 990px) {
	.fwx-close-modal-button {
		top: 2.4rem;
		right: 2.4rem;
	}
}
.modal-content-container {
	padding: 0.8rem;
	padding-top: 6rem;
	width: 100%;
}
/* Enquiry Swiper */

.fwx-enquiry-swiper {
	width: 100%;
	height: 100%;
	pointer-events: all;
	transform: translateY(10rem);
	transition: transform 0.15s;
}

.modal-open .fwx-enquiry-swiper {
	transform: translateY(0);
}

.fwx-slide-container,
.modal-content-container {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
@media screen and (min-width: 750px) {
	.fwx-slide-container {
		align-items: center;
	}
}
@media screen and (min-width: 750px) {
	.modal-content-container {
		padding: 6rem;
		align-items: center;
	}
}

@media screen and (min-width: 900px) {
	.modal-content-container {
		padding: 8rem;
	}
}

.fwx-slide-contents {
	overflow: auto;
}

.fwx-slide-contents,
.fwx-modal-content {
	padding: 2.4rem 1.6rem;
	flex-grow: 1;
	max-width: 85rem;
	max-height: 100%;
	background: #ffffff;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
	border-radius: 2rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.fwx-modal-content {
	max-width: 85rem;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 0;
	overflow: hidden;
}

@media screen and (min-width: 750px) {
	.fwx-slide-contents {
		padding: 4rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-slide-contents {
		padding: 6rem;
	}
}

@media screen and (min-width: 750px) {
	.fwx-modal-content {
		padding: 4rem;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 990px) {
	.fwx-modal-content {
		padding: 6rem;
		padding-bottom: 0;
	}
}

.fwx-modal-content h2,
.fwx-enquiry-swiper h2 {
	margin-top: 0;
}

@media screen and (max-width: 750px) {
	.fwx-modal-content h2,
	.fwx-enquiry-swiper h2 {
		font-size: 2.4rem;
	}
}

.fwx-enquiry-swiper button {
	cursor: pointer;
}

.fwx-modal-content .product-heading.has-subtitle {
	margin-bottom: 0rem;
}

.fwx-modal-content h4 {
	font-size: 2.4rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

/* Enquiry type */

.enquiry-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.8rem;
}

@media screen and (min-width: 460px) {
	.enquiry-type {
		gap: 1.6rem;
	}
}

@media screen and (min-width: 750px) {
	.enquiry-type {
		gap: 3rem;
	}
}

@media screen and (min-width: 990px) {
	.enquiry-type {
		gap: 4rem;
	}
}

.enquiry-type h3 {
	margin: 0;
	color: white;
}

@media screen and (max-width: 460px) {
	.enquiry-type h3 {
		font-size: 1.6rem;
	}
}

.enquiry-type img {
	margin-bottom: 1.6rem;
	width: 100%;
	max-width: 25rem;
	border-radius: var(--border-radius-small);
}

.enquiry-choice-cta {
	padding-top: 100%;
	position: relative;
}

.enquiry-choice-cta button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: none;
	background-color: rgb(1, 33, 105);
	/* box-shadow: var(--box-shadow-link); */
	border-radius: var(--border-radius);
	padding: 3rem;
	transition: box-shadow 0.15s;
}
.enquiry-choice-cta button[data-enquiry-type="accessories"] {
	background-color: var(--primary-light);
}
.enquiry-choice-cta button[data-enquiry-type="accessories"] h3 {
	color: var(--gradient-base-accent-1);
}

@media screen and (min-width: 750px) {
	.enquiry-choice-cta button:hover {
		box-shadow: 0 0 0 0.8rem rgb(1 33 105 / 20%);
	}
	.enquiry-choice-cta button[data-enquiry-type="accessories"]:hover {
		box-shadow: 0 0 0 0.8rem rgb(204 218 248 / 30%);
	}
}

/* Brand grid */

.fwx-enquiry-swiper .fwx-collection-grid {
	padding-left: 0;
}

.enquiry-type-container .fwx-slide-contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
}

/* Product List */

.product-list-items {
	padding: 0.2rem;
	display: grid;
	gap: 0.8rem;
	overflow: auto;
	margin: 0;
	padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
	.product-list-items {
		gap: 1.6rem;
		padding: 1rem;
		padding-bottom: 4rem;
	}
}
.product-list-items .show-product a {
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow-link);
	padding: 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	color: var(--color-foreground);
	transition: box-shadow 0.15s;
}

@media screen and (min-width: 750px) {
	.product-list-items .show-product a {
		padding: 1.6rem;
	}
	.product-list-items .show-product a:hover {
		box-shadow: var(--box-shadow-link-hover);
	}
}

.product-list-items .show-product h3{
	margin:0;
	font-size: 1.4rem;
}
@media screen and (min-width: 750px) {
	.product-list-items .show-product h3{
		font-size: 2rem;
	}
}
.product-icon {
	width: 100%;
	max-width: 8rem;
	align-self: flex-start;
	border-radius: var(--border-radius-small);
	margin-right: 1rem;
}

@media screen and (min-width: 750px) {
	.product-icon {
		max-width: 10rem;
		margin-right: 2rem;
	}
}
