:root {
  --fwx-menu-item-underline-offset: 1.4rem;
  --fwx-menu-item-underline-thickness: 0.2rem;
}

@media screen and (min-width: 990px) and (max-width: 1140px) {
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.list-menu__item {
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 1055px) {
  .list-menu__item {
    font-size: 1.6rem;
  }
}

.header__menu-item span,
.header__menu-item:hover span,
.header__menu-item:hover .header__active-menu-item {
  text-decoration-thickness: var(--fwx-menu-item-underline-thickness);
  text-underline-offset: var(--fwx-menu-item-underline-offset);
  text-decoration-color: rgb(var(--color-foreground), 0.5);
}

.header__menu-item .header__active-menu-item,
.header__menu-item:hover .header__active-menu-item {
  text-decoration-color: rgb(var(--color-foreground));
}

.list-menu__item--active {
  text-decoration-thickness: var(--fwx-menu-item-underline-thickness);
  text-underline-offset: 0.8rem;
}

/* MOBILE TOP NAV */
#fwx-mobile-menu-canopies {
  background: #fff;
  color: var(--black);
}
#fwx-mobile-menu-canopies button {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.fwx-brand-collection {
  display: flex;
  flex-direction: column;
}

.js .menu-drawer__menu li {
  margin-bottom: 0;
  padding: 0;
}
.fwx-mobile-collection-block a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  border-top: 1px solid #cccccc;
  color: inherit;
  margin-bottom: 0;
  text-decoration: none;
}
.fwx-mobile-collection-block h4 {
  color: inherit;
}
.fwx-mobile-collection-block a img {
  max-height: 80px;
}

#fwx-mobile-menu-canopies-button:hover {
  color: inherit;
}

/* DESKTOP TOP NAV */
.header__inline-menu details[open] > .fwx-new-canopies-submenu {
  width: 100%;
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  animation: animateMenuOpen var(--duration-default) ease;
  z-index: 1;
  background: #fff;
  left: 0;
  top: 120px;
  z-index: -1;
  box-shadow: var(--card-box-shadow);
  padding: 2.4rem 0;
}

.header__inline-menu details[open] > .fwx-new-canopies-submenu h2 {
  color: var(--black);
  padding-left: 1.5rem;
}

.header__inline-menu details[open] > .fwx-new-canopies-submenu h4 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 990px) {
  .fwx-brand-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 0;
  }
}

@media screen and (min-width: 1140px) {
  .fwx-brand-collection {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
