.fwx-hero {
	background-color: var(--grey-light);
}

.fwx-hero-heading {
	padding-top: 3rem;
	padding-bottom: 12rem;
	background-color: var(--gradient-base-accent-1);
	text-align: center;
}

@media screen and (min-width: 990px) {
	.fwx-hero-heading {
		padding-top: 6rem;
		padding-bottom: 18rem;
		text-align: left;
	}
}

.fwx-hero-heading h1 {
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
}

.fwx-hero-content {
	margin-top: -10rem;
}

@media screen and (min-width: 990px) {
	.fwx-hero-content {
		margin-top: -14rem;
	}
}

.fwx-hero-section {
	display: grid;
	width: 100%;
}

@media screen and (min-width: 990px) {
	.fwx-hero-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}
}

.fwx-hero .fwx-quote-container {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 990px) {
	.fwx-hero .fwx-quote-container {
		max-width: 60rem;
	}
}

.fwx-hero-section img {
	display: none;
	order: -1;
	max-width: 100%;
	margin-bottom: 2rem;
	max-width: 60rem;
	width: 100%;
}

@media screen and (min-width: 990px) {
	.fwx-hero-section img {
		display: block;
		order: 1;
		margin-bottom: 0;
		margin-left: auto;
	}
}

@media screen and (min-width: 990px) {
	.fwx-hero-section img {
		margin-top: -6rem;
	}
}

/* Standard Layout Overrides */

.fwx-hero.standard {
	background-color: rgb(1, 33, 105);
}

.fwx-hero.standard .fwx-hero-snippet {
	width: 100%;
}

.fwx-hero.standard .fwx-hero-heading {
	padding-bottom: 3rem;
	display: grid;
	gap: 2rem;
}

@media screen and (min-width: 990px) {
	.fwx-hero.standard .fwx-hero-heading {
		padding-bottom: 6rem;
		display: flex;
		align-items: center;
	}
	.fwx-hero.standard .fwx-quote-container {
		margin-right: 0;
	}
}

/* No image Layout Overrides */

.fwx-hero.no-image .fwx-hero-content {
	margin-top: -8rem;
}

@media screen and (min-width: 750px) {
	.fwx-hero.no-image {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: var(--gradient-base-accent-1);
		align-items: center;
	}
	.fwx-hero.no-image .fwx-hero-heading {
		padding-bottom: 6rem;
	}
	.fwx-hero.no-image .fwx-hero-content {
		margin-top: auto;
		margin-bottom: auto;
	}
	.fwx-hero.no-image .fwx-hero-section {
		grid-template-columns: 1fr;
	}
}
