@media screen and (min-width: 1320px) {
	.article-template__hero-container:first-child {
		margin-top: 7rem;
	}
}

@media screen and (min-width: 1320px) {
	.article-template__hero-container {
		max-width: 80rem;
	}
}

.article-template__title {
	font-size: 2.4rem;
}

@media screen and (min-width: 750px) { 
	.article-template__title {
		font-size: 3.2rem;
	}
}

@media screen and (min-width: 990px) {
	.article-template__title {
		font-size: 4rem;
	}
}

.caption-with-letter-spacing {
	font-size: 1.4rem;
	letter-spacing: 0;
	text-transform: none;
}

.fwx-article-back-button {
	margin-top: 3rem;
}

@media screen and (min-width: 990px) {
	.fwx-article-back-button {
		margin-top: 6rem;
	}
}

.fwx-article-back-button svg {
	transform: rotate(180deg);
}

.fwx-article-template a {
	color: rgb(1, 33, 105);
}