/* General */

.fwx-collection-list.fwx-brands .fwx-collection-block .h4 {
	display: none;
}

/* Heading */

.fwx-collection-list-heading {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	width: 100%;
	gap: 2rem;
	margin-bottom: 4rem;
}

.fwx-collection-list-heading-text {
	margin-right: auto;
}

.fwx-collection-list-heading-text * {
	margin: 0;
}

.fwx-collection-list-heading-text h2 {
	margin-bottom: 1rem;
}

/* Grid */

.fwx-collection-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.6rem;
}

@media screen and (min-width: 360px) {
	.fwx-collection-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 460px) {
	.fwx-collection-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 750px) {
	.fwx-collection-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 990px) {
	.fwx-collection-grid {
		gap: 2.4rem;
	}
}

/* Grid Item */

.fwx-collection-block {
	box-shadow: var(--box-shadow-link);
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
	transition: box-shadow 0.15s;
}

.fwx-collection-block:hover {
	border-color: rgb(14, 172, 59);
	box-shadow: 0 0 0 .4rem rgb(14, 172, 59), 0 0 0 1rem rgb(14, 172, 59, .2);
}

.fwx-collection-block img {
	width: 100%;
	display: block;
}

.fwx-collection-block .h4 {
	display: flex;
	padding: 2rem;
	align-items: flex-end;
	color: #fff;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 36.18%);
}

.fwx-collection-description {
	font-size: 1.6rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.fwx-collection-description img {
	max-width: 12rem;
}

@media screen and (min-width: 750px) {
	.fwx-collection-description {
		font-size: 2rem;
		padding-top: 8rem;
		padding-bottom: 8rem;
		display: flex;
		gap: 4rem;
		align-items: center;
	}
}

@media screen and (min-width: 990px) {
	.fwx-collection-description {
		gap: 6rem;
	}
}
