.fireworkx-wca {
	background-color: rgb(var(--color-base-accent-1));
}

.fireworkx-wca h2 {
	margin-top: 0;
}

.fireworkx-wca h2,
.fireworkx-wca h4,
.fireworkx-wca p {
	color: white;
}

.fireworkx-wca {
	padding: 2.4rem 1.6rem;
}

@media screen and (min-width: 750px) {
	.fireworkx-wca {
		padding: 4rem 3.2rem;
	}
}

@media screen and (min-width: 750px) {
	.fireworkx-wca {
		padding: 6rem 4rem;
	}
}
