.fwx-contact-page-section {
	display: grid;
	gap: 4rem;
}

@media screen and (min-width: 990px) {
	.fwx-contact-page-section {
		grid-template-columns: auto auto;
		gap: 4rem;
		align-items: center;
	}
}

@media screen and (min-width: 990px) {
	.fwx-contact-form {
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
		border-radius: var(--border-radius);
		padding: 4rem;
	}
}

.fwx-contact-form h2 {
	margin-top: 0;
}

.fwx-contact-form form {
	display: grid;
	gap: 2rem;
}
@media screen and (min-width: 750px) {
	.fwx-contact-form form {
		gap: 2.4rem;
	}
}
