.fwx-fitment-centre {
	background: var(--grey-light);
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

/* @media screen and (min-width: 750px) {
	.fwx-fitment-centre {
	}
} */
.fwx-fitment-centre details {
	transition: box-shadow 0.15s;
	box-shadow: var(--card-box-shadow);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.fwx-fitment-centre details:hover {
	box-shadow: var(--card-box-shadow-hover);
}

.fwx-country summary {
	display: flex;
	padding: 1.6rem;
	background: white;
}

@media screen and (min-width: 750px) {
	.fwx-country summary {
		padding: 2rem;
	}
}

.fwx-country summary h3 {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 2rem;
	flex-grow: 1;
}

.fwx-country summary img {
	margin-right: 1.2rem;
}

.fwx-province {
	background: var(--grey-medium);
	padding: 1.6rem 2rem;
	margin: 0;
	font-size: 1.4rem;
	width: 100%;
}

@media screen and (min-width: 750px) {
	.fwx-province {
		font-size: 1.6rem;
	}
}

.fwx-fitment-centre .fwx-country-fitment-centre {
	display: flex;
	background: white;
	flex-wrap: wrap;
}

.fwx-province-fitment-centre {
	padding: 1.6rem;
	width: 100%;
	border-bottom: 2px solid var(--grey-medium);
	flex-grow: 1;
}

@media screen and (min-width: 750px) {
	.fwx-province-fitment-centre {
		width: 50%;
		padding: 2.4rem;
	}
}

.fwx-province-fitment-centre p {
	font-size: 1.6rem;
}

.fwx-province-fitment-centre h3 {
	margin-top: 0;
	font-size: 1.6rem;
}

.fwx-contact-buttons {
	margin-left: -1rem;
}

.fwx-country summary .icon-caret {
	width: 3.2rem;
	height: 3.2rem;
	background-color: rgb(1, 33, 105);
	padding: 0.7rem;
	border: 0.2rem solid transparent;
	border-radius: 50%;
	position: static;
	margin-left: auto;
	transition: transform 0.15s, background-color 0.15s;
	color: white;
	flex-shrink: 0;
}

.fwx-fitment-centre details[open] summary .icon-caret {
	border-color: var(--gradient-base-accent-1);
	background-color: transparent;
	transform: rotate(180deg);
	color: var(--gradient-base-accent-1);
	box-shadow: var(--box-shadow-link);
}

.fwx-fitment-centre-content + .fwx-fitment-centre {
	padding-top: 3rem;
}

.fwx-fitment-centre-content ~ .fwx-fitment-centre:last-child {
	padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.fwx-fitment-centre-content + .fwx-fitment-centre {
		padding-top: 6rem;
	}

	.fwx-fitment-centre-content ~ .fwx-fitment-centre:last-child {
		padding-bottom: 6rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-fitment-centre-content + .fwx-fitment-centre {
		padding-top: 8rem;
	}

	.fwx-fitment-centre-content ~ .fwx-fitment-centre:last-child {
		padding-bottom: 8rem;
	}
}
