.enquiry-product {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    padding: .2rem;
}

.fwx-product-form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.fwx-contact-fields {
    margin-bottom: 1.2rem;
}

.fwx-field {
    margin-bottom: 1rem;
}

.fwx-options-field {
    font-weight: 200px;
}
