.fwx-fitment-centres{
  background:var(--grey-light);
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.fwx-fitment-centres{
		padding-top: 6rem;
		padding-bottom: 8rem;
	}
}


.fwx-country summary{
  display:flex;
  background: white;
  padding: 1.6rem;
}

@media screen and (min-width: 750px) {
  .fwx-country summary{
    padding: 2rem;
  }
}

.fwx-country summary h3{
  display: flex;
  align-items: center;
  margin:0;
}

.fwx-country summary img{
  margin-right: 1rem;
}

.fwx-province{
  background:var(--grey-medium);
  padding:2rem;
  margin:0;
  font-size: 1.4rem;
}

.fwx-fitment-centre h3{
  margin-top: 0;
}