.how-buying-content-container-bg {
  background: #efefef;
  max-width: inherit;
  margin: 0;
}
.how-buying-content-container {
  max-width: 1385px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 7.5rem;
  padding-bottom: 8.5rem;
}

.how-buying-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .how-buying-image-container {
    display: flex;
    flex-direction: revert;
    gap: 15px;
  }
}
.image-stripe-first,
.image-stripe-second,
.image-stripe-third {
  display: flex;
  gap: 15px;
}

.how-buying-image-container img {
  width: 48%;
}

@media screen and (min-width: 750px) {
  .how-buying-image-container img {
    width: 105px;
  }
}
@media screen and (min-width: 1440px) {
  .how-buying-image-container img {
    width: 200px;
  }
}

.how-buying-links-container {
  display: flex;
  color: #012169;
  gap: 3px;
}
.buying-link {
  font-weight: 700;
}
.buying-link:nth-of-type(2) {
  text-decoration: underline;
  font-weight: 700;
}
