.fwx-contact-page-section {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

@media screen and (min-width: 750px) {
    .fwx-contact-page-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: inherit;
    } 
}


@media screen and (min-width: 750px) {
    .fwx-contact-form {
        background: #FFFFFF;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        padding: 2rem; 
        padding-top: 3.2rem;
        padding-bottom: 7.4rem;
    }
}
.fwx-contact-form h2 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}
@media screen and (min-width: 750px) {
  .fwx-contact-form h2 {
    font-size: 3.2rem;
  }
}

