#shopify-section-template--15917398556843__fireworkx-how-buying-online {
    background: #EFEFEF;
  }
  .how-buying-content-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 7.5rem;
    padding-bottom: 8.5rem;
  }

  .how-buying-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

  @media screen and (min-width: 750px) {
    .how-buying-image-container {
      display: flex;
      flex-direction: revert;
      gap: 20px;
    }
  }
  .image-stripe-first,
  .image-stripe-second {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .how-buying-image-container img {
    width: 30%;
  }

  .how-buying-links-container {
    display: flex;
    color: #012169;
    gap: 3px;
  }
  .buying-link {
    font-weight: 700;
  }
  .buying-link:nth-of-type(2) {
    text-decoration: underline;
    font-weight: 700;
  }