.fwx-collection-product-grid {
	background-color: var(--grey-light);
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.fwx-collection-product-grid {
		padding-top: 6rem;
		padding-bottom: 8rem;
	}
}

/* Removes container padding on small screens */
@media screen and (max-width: 750px) {
	.fwx-collection-product-grid .page-width {
		padding-left: 0;
		padding-right: 0;
	}
}

.fwx-product-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding-left: 0;
	gap: 0.1rem;
}

/* For grid dividing lines on small screens */
@media screen and (max-width: 750px) {
	.fwx-product-grid {
		background-color: var(--grey-medium);
	}
}

.fwx-product-grid-large {
	grid-template-columns: 1fr;
}

@media screen and (min-width: 750px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2.4rem;
	}
	.fwx-product-grid-large {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3rem;
	}
	.fwx-product-grid-large {
		grid-template-columns: 1fr 1fr;
	}
}

.fwx-product-grid-item {
	display: flex;
	flex-direction: column;
}
