.fwx-hero-heading {
    background-color: var(--gradient-base-accent-1);
    padding-top: 6rem;
    padding-bottom:18rem;
}

.fwx-hero-heading h1{
    color: #FFFFFF;
    padding:0 3rem;
    width:100%;
    margin:0 auto;
}

.fwx-hero-section {
    display: grid;
    padding:0 3rem;
    width:100%;
    margin:0 auto;
    margin-top: 3rem;
}

@media screen and (min-width:750px) {
    .fwx-hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding:0 3rem;
        gap: 3rem;
        margin:0 auto;
        margin-top: -10rem;
    }
}
.fwx-hero-section img {
    display: block;
    order: -1;
    width: 100%;
    margin-bottom: 2rem;
}

@media screen and (min-width:750px) {
    .fwx-hero-section img {
        order: 1;
        margin-top: -8rem;
        opacity: 0.5;
    }
}

.fwx-hero-snippet {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding:1rem;
    align-self: flex-start;
}



.fwx-hero.no-image img{
    display: none;
} 

.fwx-hero.no-image {
    padding: 0;
}
@media screen and (min-width:750px) {
    .fwx-hero.no-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: var(--gradient-base-accent-1);
    }
}

.fwx-hero.no-image .fwx-hero-section {
    padding:0 3rem;
    margin:0 auto;
    margin-top: -10rem;
}

@media screen and (min-width:750px) {
    .fwx-hero.no-image .fwx-hero-section {
        display: block;
        margin-top: 1rem;
    }
}



.fwx-hero.standard .fwx-hero-section {
    display: none;
}