/* Heading */

.fwx-product-list-heading {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	width: 100%;
	gap: 2rem;
	margin-bottom: 4rem;
}

.fwx-product-list-heading-text {
	margin-right: auto;
}

.fwx-product-list-heading-text * {
	margin: 0;
}

/* Grid */

.fwx-product-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.6rem;
}

@media screen and (min-width: 460px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 750px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 990px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 2.4rem;
	}
}

/* Grid Item */

.fwx-product-block {
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
	transition: box-shadow 0.15s;
	padding-top: 100%;
}

.fwx-product-block:hover {
	border-color: rgb(var(--color-base-accent-2));
	box-shadow: 0 0 0 0.4rem rgb(var(--color-base-accent-2)),
		0 0 0 1rem rgb(var(--color-base-accent-2), 0.2);
}

.fwx-product-block-image-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fwx-product-block img {
	height: 100%;
	display: block;
}

.fwx-product-block .h4 {
	display: flex;
	padding: 1.2rem;
	font-size: 1.6rem;
	align-items: flex-end;
	color: #fff;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
}

@media screen and (min-width: 1140px) {
	.fwx-product-block .h4 {
		padding: 2rem;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-product-block .h4 {
		font-size: 2rem;
	}
}
