.fwx-blog {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.fwx-blog {
		background-color: var(--grey-light);
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-blog {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}

.fwx-blog-articles {
	display: grid;
	gap: 1.6rem;
}

@media screen and (min-width: 750px) {
	.fwx-blog-articles {
		gap: 2.4rem;
	}
}
.fwx-article-card {
	flex-grow: 1;
	padding-bottom: 1.6rem;
	border-bottom: 0.2rem solid var(--grey);
}
@media screen and (min-width: 750px) {
	.fwx-article-card {
		padding-bottom: 0;
		border: none;
	}
}

.fwx-article-content {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	border-radius: var(--border-radius);
	text-decoration: none;
}
@media screen and (min-width: 750px) {
	.fwx-article-content {
		padding: 2.4rem;
		background: white;
		box-shadow: var(--card-box-shadow);
		align-items: center;
		gap: 2.4rem;
		transition: box-shadow 0.15s;
	}
	.fwx-article-content:hover {
		box-shadow: var(--card-box-shadow-hover);
	}
}

@media screen and (min-width: 990px) {
	.fwx-article-content {
		padding: 4rem;
		gap: 4rem;
	}
}

.fwx-card-image {
	width: 100%;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	max-width: 30%;
	order: 1;
	margin-left: auto;
}

@media screen and (min-width: 750px) {
	.fwx-card-image {
		order: -1;
		margin-left: 0;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-image-container {
		margin-right: 5rem;
	}
}

.fwx-article-card-info {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

@media screen and (min-width: 750px) {
	.fwx-article-card-info {
		gap: 1.6rem;
	}
}

.fwx-article-card-title {
	font-weight: bold;
	font-size: 1.4rem;
	color: #012169;
	margin: 0;
}

@media screen and (min-width: 750px) {
	.fwx-article-card-title {
		font-size: 2.4rem;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-article-card-title {
		font-size: 3rem;
	}
}

.fwx-published-date {
	font-size: 1.2rem;
	color: black;
	display: inline-flex;
}

@media screen and (min-width: 750px) {
	.fwx-published-date {
		font-size: 1.6rem;
	}
}
.fwx-article-card-excerpt {
	display: none;
}

@media screen and (min-width: 750px) {
	.fwx-article-card-excerpt {
		display: block;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 990px) {
	.fwx-article-card-excerpt {
		font-size: 2rem;
	}
}

.fwx-article-card-footer {
	display: none;
}

@media screen and (min-width: 750px) {
	.fwx-article-card-footer {
		font-size: 4rem;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-article-card-footer {
		font-size: 4rem;
	}
}
