.fwx-footer {
	background-color: var(--grey-light);
	padding: 2rem 0;
}

.fwx-footer-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.fwx-footer ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}

@media only screen and (min-width: 380px) {
	.fwx-footer ul {
		flex-direction: row;
	}
}

.fwx-footer ul.fwx-footer-contact-links {
	margin-right: auto;
}

.fwx-footer-social-icons {
	gap: 1rem;
}

.fwx-footer .list-social__link {
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(var(--color-base-accent-1));
}

.fwx-footer .list-social__link:hover {
	background-color: var(--primary-light);
}

.fwx-footer svg {
	width: 2rem;
}
