.fwx-collection-product-grid {
	background-color: var(--grey-light);
}

.fwx-product-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style: none;
	padding-left: 0;
	gap: 1.6rem;
}

.fwx-product-grid-large {
	grid-template-columns: 1fr;
}

@media screen and (min-width: 750px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2.4rem;
	}
	.fwx-product-grid-large {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 990px) {
	.fwx-product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 3rem;
	}
	.fwx-product-grid-large {
		grid-template-columns: 1fr 1fr;
	}
}

.fwx-product-grid-item {
	display: flex;
	flex-direction: column;
}
