.fwx-range-of-fibreglass-canopies {
    background-color: #FFFFFF;
}
.fwx-range-of-fibreglass-canopies h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 150%;
    color: #000000;
    margin-bottom: 3rem;
}
@media screen and (min-width: 750px) {
    .fwx-range-of-fibreglass-canopies h1 {
        font-size: 3.3rem;
    }
  }

@media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-canopies h1 {
        font-size: 4rem;
    }
}


@media screen and (min-width: 750px) {
   .fwx-range-of-fibreglass-section {
    display: flex;
    gap: 1.5rem;
}
  }

  @media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-section {
        display: flex;
        gap: 3rem;
    }
  }
.fwx-range-of-fibreglass-section-header {
    display: flex;
    justify-content: space-between;
}
.fwx-range-of-fibreglass-section ul {
    padding-left: 0;
}

.fwx-range-of-fibreglass-section ul li svg {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-right: .8rem;
    background: rgb(var(--color-base-accent-2)) no-repeat center;
    padding: .4rem;
    flex-shrink: 0;
}

.fwx-range-of-fibreglass-platinum {
    background: #242424;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-bottom: 3.7rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
    .fwx-range-of-fibreglass-platinum {
        width: 50%;
        padding-left: 3.5rem;
        padding-bottom: 5.7rem;
    }
}
 
@media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-platinum {
        width: 50%;
        padding-left: 4rem;
        padding-bottom: 6.7rem;
    }
}

.fwx-range-of-fibreglass-platinum h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

@media screen and (min-width: 750px) {
    .fwx-range-of-fibreglass-platinum h2 {
        font-size: 2.4rem;
    }
}
 
@media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-platinum h2 {
        font-size: 2.4rem;
    }
}

.fwx-range-of-fibreglass-platinum span {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color:#404040;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    margin-right: 2.2rem;
    margin-top: 2.1rem;
}
.fwx-range-of-fibreglass-platinum ul li {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 190%;
    color: #FFFFFF;
}

.fwx-range-of-fibreglass-standard {
    background: #FFFFFF;
    border-radius: 1rem;
    border: .1rem solid #333;
    padding-left: 2rem;
    padding-bottom: 3.7rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
    .fwx-range-of-fibreglass-standard {
        width: 50%;
        padding-left: 3.5rem;
        padding-bottom: 5.7rem;
    }
}
 
@media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-standard {
        width: 50%;
        padding-left: 4rem;
        padding-bottom: 6.7rem;
    }
}
.fwx-range-of-fibreglass-standard h2 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
}

@media screen and (min-width: 750px) {
    .fwx-range-of-fibreglass-standard h2 {
        font-size: 2.4rem;
    }
}
 
@media screen and (min-width: 1280px) {
    .fwx-range-of-fibreglass-standard h2 {
        font-size: 2.4rem;
    }
}
.fwx-range-of-fibreglass-standard span {
    background: #F0F0F0;
    border-radius: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
    margin-right: 2.2rem;
    margin-top: 2.1rem;
}
.fwx-range-of-fibreglass-standard p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
}

.fwx-range-of-fibreglass-standard ul li {
    list-style: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 190%;
    color: #000000;
}