.fwx-get-in-touch-snippet {
    display: flex;
    flex-direction: column;
}
.fwx-get-in-touch-snippet h2{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
}
.fwx-get-in-touch a {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
}


.fwx-find-us p,span {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 60%;
    color: #000000;
}

.fwx-find-us svg {
    fill: #001648;
    width: 1.6rem;
    height: 1.5rem;
    margin-right: 1.1rem;
}

.fwx-address {
    margin-left: 3rem;
}

.fwx-open-in-google {
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 150%;
    align-items: center;
    color: #fff;
    margin-left: 3rem;
}
.social-media-icons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin-top: 3.9rem;
}
.social-media-icons li a {
    width: 3.2rem;
    height: 3.2rem;
    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    /* color: #012169; */
}
