/* Intro */

.fwx-about-heading {
	margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
	.fwx-about-heading {
		margin-bottom: 4rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-about-heading {
		margin-bottom: 6rem;
	}
}

.fwx-about-heading h2 {
	margin-top: 0;
}

/* General swiper */

.fwx-about-us-images-swiper img,
.fwx-about-us-thumbs-swiper img {
	width: 100%;
}

@media screen and (min-width: 750px) {
	.fwx-about-us-slider {
		background: white;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 6px rgba(0, 0, 0, 0.25);
		border-radius: var(--border-radius);
		padding: 4rem 6rem;
	}
}

@media screen and (min-width: 990px) {
	.fwx-about-us-slider {
		padding: 6rem 8rem;
	}
}

@media screen and (min-width: 1280px) {
	.fwx-about-us-slider {
		padding: 8rem 12rem;
	}
}

.fwx-about-us-slider .swiper-button-prev,
.fwx-about-us-slider .swiper-button-next {
	display: block;
	color: white;
}

.fwx-about-us-slider .swiper-button-next:after,
.fwx-about-us-slider .swiper-button-prev:after {
	text-shadow: 0px 1px 2px rgb(0 0 0 / 40%), 0px 3px 6px rgb(0 0 0 / 40%);
}

.fwx-about-us-slider .swiper-slide {
	display: flex;
}

/* Images swiper */

.fwx-about-us-images-swiper {
	margin-bottom: 2rem;
}
.fwx-about-swiper-pagination {
	position: absolute;
	top: 1rem;
	right: 1rem;
	left: auto;
	bottom: auto;
	width: auto;
	z-index: 1;
	color: white;
	text-shadow: 0rem 0.1rem 0.2rem rgb(0 0 0 / 60%);
	font-weight: bold;
	line-height: 1;
}

@media screen and (min-width: 750px) {
	.fwx-about-swiper-pagination {
		font-size: 2rem;
		top: 2rem;
		right: 2rem;
	}
}

/* Thumbs swiper */

.fwx-about-us-thumbs-swiper .swiper-slide img {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-small);
	transition: opacity 0.15s;
}

.fwx-about-us-thumbs-swiper .swiper-slide:not(.swiper-slide-thumb-active):hover:before {
	box-shadow: inset 0 0 0 0.4rem var(--gradient-base-accent-1);
}

.fwx-about-us-thumbs-swiper .swiper-slide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-small);
	z-index: 1;
	transition: box-shadow 0.15s;
}

.fwx-about-us-thumbs-swiper .swiper-slide.swiper-slide-thumb-active:before {
	box-shadow: inset 0 0 0 0.4rem var(--gradient-base-accent-1);
}

.fwx-about-us-thumbs-swiper .swiper-pagination-bullet-active {
	background-color: var(--gradient-base-accent-1);
}

.fwx-about-us-thumbs-swiper .swiper-slide:hover {
	cursor: pointer;
}
