.fwx-enquiry-product-container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding-bottom: 2rem;
}
@media screen and (min-width: 750px) {
	.fwx-enquiry-product-container {
		padding: 0 1rem 4rem 1rem;
	}
}

/* Product card */
.fwx-enquiry-product {
	display: flex;
	align-items: center;
	padding: 1.2rem 1.6rem;
	border-radius: var(--border-radius-small);
	margin-bottom: 2rem;
	border: 0.2rem solid var(--grey);
	background-color: var(--grey-light);
}

@media screen and (min-width: 750px) {
	.fwx-enquiry-product {
		padding: 1.6rem 2.4rem;
	}
}

.fwx-enquiry-product img {
	max-width: 8rem;
	margin-right: 0.8rem;
	border-radius: var(--border-radius-small);
}

@media screen and (min-width: 750px) {
	.fwx-enquiry-product img {
		max-width: 14rem;
		margin-right: 2rem;
	}
}

.fwx-enquiry-product .fwx-canopy-year {
	margin-top: 0;
	margin-bottom: 0;
}
