.error-message-container {
    width: 100%;
    height: 50px;
    color: #ffffff;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red) ;
    border-radius: var(--border-radius);
    gap: 20px;
    margin-top: 10px;
    padding-left : 15px;
}

.error-message-container h5 {
    color : #ffffff;
    flex : 1;
    font-size: 1.7rem;
}

.error-icon svg{
    width : 25px;
}