:root {
	--fwx-menu-item-underline-offset: 1.4rem;
	--fwx-menu-item-underline-thickness: 0.2rem;
}

.list-menu__item {
	font-weight: bold;
	color: #fff;
}

@media screen and (min-width: 1055px) {
	.list-menu__item {
		font-size: 1.6rem;
	}
}

.header__menu-item span,
.header__menu-item:hover span,
.header__menu-item:hover .header__active-menu-item {
	text-decoration-thickness: var(--fwx-menu-item-underline-thickness);
	text-underline-offset: var(--fwx-menu-item-underline-offset);
	text-decoration-color: rgb(var(--color-foreground), 0.5);
}

.header__menu-item .header__active-menu-item,
.header__menu-item:hover .header__active-menu-item {
	text-decoration-color: rgb(var(--color-foreground));
}

.list-menu__item--active {
	text-decoration-thickness: var(--fwx-menu-item-underline-thickness);
	text-underline-offset: 0.8rem;
}
