.fwx-canopy-range {
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 750px) {
  .fwx-canopy-range {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.fwx-canopy-range-block {
  border-radius: var(--border-radius);
  padding: 1.6rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .fwx-canopy-range-block {
    padding: 3rem;
  }
}

.fwx-canopy-range-block.platinum {
  background-color: #242424;
  color: white;
}

.fwx-canopy-range-block.platinum h3 {
  color: white;
}

.fwx-canopy-range-block.platinum .fwx-canopy-range-header .fwx-canopy-features {
  background: linear-gradient(82.15deg, #000000 0%, #616161 100%);
  color: #fff;
}

.fwx-canopy-range-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fwx-canopy-range-header h3 {
  order: 1;
  margin: 0;
}

.fwx-canopy-range-header .fwx-canopy-features {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: var(--border-radius-small);
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 990px) {
  .fwx-canopy-range-header .fwx-canopy-features {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.fwx-canopy-range-block.roadrunner {
  border: 0.3rem solid var(--grey);
}

.fwx-canopy-range-block ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fwx-canopy-range-block ul li {
  display: flex;
}

.fwx-canopy-range-block ul li svg {
  fill: var(--gradient-base-accent-2);
  margin-right: 1rem;
  max-width: 2rem;
  flex-shrink: 0;
}

/*  Custom styling for Icons */

.fwx-canopy-range li svg path {
  fill: #0eac3b;
}
