.flicker-carousel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    max-width: var(--page-width);
}

.flicker-carousel.flicker-right {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.flicker-images {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 680px;
}

.flicker-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
    opacity: 0.3;
}

.flicker-image-wrapper.active {
    transform: rotate(0deg) !important;
    z-index: 1001;
    opacity: 1;
}

.flicker-image-wrapper img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.flicker-year {
    text-align: center;
    font-family: 'Calisto MT', serif;
}

.flicker-text-block {
    max-width: 45.25rem;
    width: 100%;
}

.flicker-text-slide {
    display: none;
}

.flicker-text-slide.active {
    display: block;
}

.flicker-text-slide h3 {
    width: var(--width-sm);
}

.flicker-text-slide h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--colour-orange);
    margin: 17px auto 0;
}

.flicker-image-wrapper .flicker-year {
    display: none;
}

.flicker-image-wrapper.active .flicker-year {
    display: block;
}

.flicker-next-btn {
    margin-top: 3rem;
}

@media screen and (max-width: 990px) {
    .flicker-carousel {
        flex-direction: column;
    }
    
    .flicker-carousel.flicker-right {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 650px) {
    .flicker-images,
    .flicker-text-block {
        max-width: 85%;
    }
}