
@font-face {
    font-family: 'National 2';
    src: url('./National2-Extrabold.woff2') format('woff2'),
        url('./National2-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-BlackItalic.woff2') format('woff2'),
        url('./National2-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Black.woff2') format('woff2'),
        url('./National2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-BoldItalic.woff2') format('woff2'),
        url('./National2-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Bold.woff2') format('woff2'),
        url('./National2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-ExtraboldItalic.woff2') format('woff2'),
        url('./National2-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-RegularItalic.woff2') format('woff2'),
        url('./National2-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-LightItalic.woff2') format('woff2'),
        url('./National2-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-MediumItalic.woff2') format('woff2'),
        url('./National2-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Medium.woff2') format('woff2'),
        url('./National2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Extralight.woff2') format('woff2'),
        url('./National2-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Light.woff2') format('woff2'),
        url('./National2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-ExtralightItalic.woff2') format('woff2'),
        url('./National2-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Regular.woff2') format('woff2'),
        url('./National2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2 Compressed';
    src: url('./National2Compressed-BoldItalic.woff2') format('woff2'),
        url('./National2Compressed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-Thin.woff2') format('woff2'),
        url('./National2-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2 Compressed';
    src: url('./National2Compressed-Bold.woff2') format('woff2'),
        url('./National2Compressed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National 2';
    src: url('./National2-ThinItalic.woff2') format('woff2'),
        url('./National2-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}