.swiper-slide img {
    object-fit: cover;
}

@media screen and (max-width: 749px) {

    .gallery-with-thumbs-thumnail {
        width: 100px;
    }

    .gallery-with-thumbs-thumnail img {
        height: auto;
    }
}