.ga-carousel_wrapper .gowl-carousel,.ga-carousel_wrapper .gowl-carousel .gowl-item{-webkit-tap-highlight-color:transparent;position:relative}.ga-carousel_wrapper .gowl-carousel{display:none;width:100%;z-index:1}.ga-carousel_wrapper .gowl-carousel .gowl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.ga-carousel_wrapper .gowl-carousel .gowl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.ga-carousel_wrapper .gowl-carousel .gowl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.ga-carousel_wrapper .gowl-carousel .gowl-item,.ga-carousel_wrapper .gowl-carousel .gowl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.ga-carousel_wrapper .gowl-carousel .gowl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.ga-carousel_wrapper .gowl-carousel .gowl-item img{display:block;width:100%}.ga-carousel_wrapper .gowl-carousel .gowl-dots.disabled,.ga-carousel_wrapper .gowl-carousel .gowl-nav.disabled{display:none}.ga-carousel_wrapper .gowl-carousel.gowl-loaded,.no-js .ga-carousel_wrapper .gowl-carousel{display:block}.ga-carousel_wrapper .gowl-carousel .gowl-dot,.ga-carousel_wrapper .gowl-carousel .gowl-nav .gowl-next,.ga-carousel_wrapper .gowl-carousel .gowl-nav .gowl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ga-carousel_wrapper .gowl-carousel .gowl-nav button.gowl-next,.ga-carousel_wrapper .gowl-carousel .gowl-nav button.gowl-prev,.ga-carousel_wrapper .gowl-carousel button.gowl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.ga-carousel_wrapper .gowl-carousel.gowl-loading{opacity:0;display:block}.ga-carousel_wrapper .gowl-carousel.gowl-hidden{opacity:0}.ga-carousel_wrapper .gowl-carousel.gowl-refresh .gowl-item{visibility:hidden}.ga-carousel_wrapper .gowl-carousel.gowl-drag .gowl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ga-carousel_wrapper .gowl-carousel.gowl-grab{cursor:move;cursor:grab}.ga-carousel_wrapper .gowl-carousel.gowl-rtl{direction:rtl}.ga-carousel_wrapper .gowl-carousel.gowl-rtl .gowl-item{float:right}.ga-carousel_wrapper .gowl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.ga-carousel_wrapper .gowl-carousel .gowl-animated-in{z-index:0}.ga-carousel_wrapper .gowl-carousel .gowl-animated-out{z-index:1}.ga-carousel_wrapper .gowl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.gowl-height{transition:height .5s ease-in-out}.ga-carousel_wrapper .gowl-carousel .gowl-item .gowl-lazy{opacity:0;transition:opacity .4s ease}.ga-carousel_wrapper .gowl-carousel .gowl-item .gowl-lazy:not([src]),.ga-carousel_wrapper .gowl-carousel .gowl-item .gowl-lazy[src^=""]{max-height:0}.ga-carousel_wrapper .gowl-carousel .gowl-item img.gowl-lazy{transform-style:preserve-3d}.ga-carousel_wrapper .gowl-carousel .gowl-video-wrapper{position:relative;height:100%;background:#000}.ga-carousel_wrapper .gowl-carousel .gowl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(gowl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.ga-carousel_wrapper .gowl-carousel .gowl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.ga-carousel_wrapper .gowl-carousel .gowl-video-playing .gowl-video-play-icon,.ga-carousel_wrapper .gowl-carousel .gowl-video-playing .gowl-video-tn{display:none}.ga-carousel_wrapper .gowl-carousel .gowl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.ga-carousel_wrapper .gowl-carousel .gowl-video-frame{position:relative;z-index:1;height:100%;width:100%}.ga *{margin:0;padding:0;list-style:none;box-sizing:border-box;text-decoration:none;line-height:1.3}.ga a:hover{text-decoration:none}.ga h2{margin-bottom:10px;border:none;text-transform:none;font-size:25px;font-weight:600;font-style:normal;color:#000}.ga-subtitle{padding-bottom:10px}.ga-product_title{overflow:hidden}.ga-products-carousel-wrapper{position:relative;padding-left:35px;padding-right:35px}.condition-choices .Polaris-ChoiceList__Choices{display:block}.ga-product_image{width:100%;background-position:center;background-size:contain;background-repeat:no-repeat;margin-bottom:10px}.ga-carousel_wrapper .ga-product{padding-left:10px;padding-right:10px;padding-bottom:10px}.ga-product_image:after{content:"";display:block;padding-top:100%}.ga-product>a{display:block;position:relative}.ga-products-carousel .gowl-nav .gowl-next,.ga-products-carousel .gowl-nav .gowl-prev{width:28px;height:45px;top:40%;margin-top:-20px;user-select:none;position:absolute;border:1px solid #d0d0d0;border-radius:2px;background:linear-gradient(#e7eaf0,#f7f8fa);cursor:pointer;pointer-events:all;opacity:.7}.ga-products-carousel .gowl-nav .gowl-next:hover,.ga-products-carousel .gowl-nav .gowl-prev:hover{opacity:1}.ga-product_oldprice{color:#999;text-decoration:line-through;margin-left:8px;font-weight:700}.ga-products-carousel .gowl-nav .gowl-prev{left:-35px}.ga-products-carousel .gowl-nav .gowl-next{right:-35px}.ga-products-carousel .gowl-nav .gowl-next svg,.ga-products-carousel .gowl-nav .gowl-prev svg{width:26px;height:43px}h3.ga-product_title{margin-bottom:7px;font-size:1.2em}span.ga-product_price-container{display:block;margin-bottom:10px}span.ga-product_price{font-weight:700}button.ga-addalltocart,button.ga-product_addtocart{height:36px;display:block;width:100%;line-height:36px;padding-left:20px;padding-right:20px;white-space:normal;margin-top:0;background-color:#557b97;color:#fff;font-style:normal;font-weight:600;letter-spacing:0;border:none;cursor:pointer;font-size:14px;border-radius:2px}.ga-product-form button.ga-addalltocart{margin-top:6px}button.ga-addalltocart:hover,button.ga-product_addtocart:hover{background-color:#436076}.ga-products>.ga-product{display:inline-block;vertical-align:middle;float:left;margin-right:10px;line-height:65px;margin-bottom:20px}.ga-template_2 select.ga-product_variant_select{margin:0}.ga-template_2 .ga-products .ga-product a img{height:auto;max-width:100%}.ga-template_2 .ga-products .ga-products_image .ga-product>a{display:block;width:70px;position:relative;overflow:hidden}.ga-template_2 .ga-products_image .ga-product{padding-right:30px;position:relative;margin-bottom:12px}.ga-template_2 .ga-products_image .ga-product:before{content:"+";display:inline-block;font-size:1.5em;float:left;position:absolute;top:50%;right:8px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}.ga-template_2 .ga-products-input .ga-product_variants-container{padding:0}.ga-template_2 .ga-product.last:before,.ga-template_2 .ga-product:last-child:before{display:none}.ga-hide{display:none!important}.ga{clear:both;padding-top:30px;padding-bottom:30px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.Polaris-Card__Section>.ga{padding:0}.ga-template_2 .ga-products-input span.ga-product_price-container{display:inline-block;vertical-align:middle}ul.ga-products-input{display:block;clear:both;padding-top:15px}ul.ga-products-input li{margin-bottom:8px;position:relative;padding-left:20px;text-align:left!important}ul.ga-products-input li>*{display:inline-block;vertical-align:middle;margin:1px 6px}.ga-products-box .text-left{text-align:left!important}.ga-products-box .text-center{text-align:center!important}.ga-template_2 .ga-products{float:left;margin-right:15px;overflow:hidden}.ga-product-form{display:flex;float:left;flex-direction:column;justify-content:end;margin-bottom:12px}.ga-template_3 .ga-product-form{text-align:right}.ga-carousel_wrapper{width:100%}.ga-template_2 .ga-products{display:flex;align-items:center;justify-content:left;width:100%;-webkit-flex-wrap:wrap;flex-wrap:wrap}.ga-template_2 span.ga-product_price{font-weight:700}.ga-template_1 select.ga-product_variant_select{margin-bottom:10px}.ga-hidden{opacity:0!important;visibility:hidden!important;display:block!important;pointer-events:none}.ga:after{content:"";display:block;clear:both}select.ga-product_variant_select{border-radius:2!important;min-width:60px;display:block;-webkit-appearance:menulist;background-image:none;width:100%;max-width:100%;font-weight:400;border:1px solid #e8e9eb;color:#000;background-color:#fff;text-align:left;vertical-align:baseline;margin:2px 0 10px;height:28px;min-height:28px;max-height:28px;padding:0 5px}.ga-product_variants-container{padding-top:3px;padding-bottom:3px}ul.ga-products-input li input{position:absolute;left:0;top:50%;margin-top:-6px;height:auto;margin-left:0;margin-right:0}ul.ga-products-table{border:1px solid #e3dfdf;border-bottom:none;list-style:none;margin:25px 0;padding:0}ul.ga-products-table>li{padding-top:16px;padding-bottom:16px;border-bottom:1px solid #e3dfdf;display:flex;align-items:center}.product_main>a,.product_main>span{/*position:relative;overflow:hidden;text-decoration:none;display:flex;align-items:center*/}ul.ga-products-table>li:after{content:"";display:block;clear:both}ul.ga-products-table>li>div,ul.ga-products-table>li>span{padding-left:10px;padding-right:10px}ul.ga-products-table .ga-product_variants-container{flex:0 0 20%;min-width:80px;max-width:180px}.narrow .hidden-narrow,.visible-narrow{display:none!important}.narrow .visible-narrow{display:block!important}ul.ga-products-table>li>span.ga-product_price-container{text-align:center;margin-top:5px;flex: 0 0 auto;min-width:115px;}ul.ga-products-table>li .product_main{position:relative;padding-left:35px;flex:1 1 auto;min-width:40%;display:flex;align-items:center}ul.ga-products-table>li .product_main .ga-products_image{margin-right:10px;max-width:20%;flex:0 0 55px}.ga-template_3.narrow ul.ga-products-table .ga-product_variants-container.ga-hidden{display:none!important}ul.ga-products-table>li .product_main input{position:absolute;left:10px;top:50%;margin-top:-7px;height:auto!important}.ga-template_2 .ga-deactive>.ga-product_price-container,.ga-template_2 .ga-deactive>.ga-product_variants-container,.ga-template_2 .ga-deactive>a,.ga-template_3 .ga-deactive .product_main>a,.ga-template_3 .ga-deactive>.ga-product_price-container,.ga-template_3 .ga-deactive>.ga-product_variants-container{opacity:.7}.ga-template_3 .ga-product-form{float:right;line-height:45px}.ga-template_3 .ga-product-form button.ga-product_addtocart{display:inline-block;width:auto;margin-top:8px}.ga-product-form .ga-total_price,.ga-template_3 .ga-product-form .ga-product_price{font-weight:700}.ga-template_3.narrow ul.ga-products-table>li .product_main{width:70%}.ga-template_3.narrow ul.ga-products-table .ga-product_description{display:none}.ga-template_3.narrow ul.ga-products-table .ga-product_variants-container{width:30%}.ga-template_3 select.ga-product_variant_select{margin:5px 0 0;width:100%;}span.ga-label{position:absolute;padding:7px 9px;font-weight:700;text-transform:uppercase;line-height:1.1;top:5px;left:5px;z-index:9}button.ga-product_addtocart:disabled{opacity:.8;cursor:default}.ga-template_2 .ga-product_variants-container.ga-hidden{display:none!important}span.ga-label.ga-label_sale{color:#fff;font-size:.8em;background:#bf0000}span.ga-label.ga-label_sold{color:#fff;font-size:.8em;background:#636262;float:right;right:0}.ga-product-form button.ga-addalltocart{display:inline-block;width:auto}.ga-products_image{display:flex;margin-right:20px;-webkit-flex-wrap:wrap;flex-wrap:wrap;width:100%;align-items:center}.ga-carousel_wrapper{position:relative;padding-left:25px;padding-right:25px}.ga-carousel_wrapper .gowl-nav .gowl-next,.ga-carousel_wrapper .gowl-nav .gowl-prev{width:28px;height:45px;outline:0;top:40%;margin-top:-20px;user-select:none;position:absolute;border:1px solid #d0d0d0;border-radius:2px;background:linear-gradient(#e7eaf0,#f7f8fa);cursor:pointer;pointer-events:all;opacity:.7;display:flex;align-items:center;justify-content:center;}.ga-carousel_wrapper .gowl-nav .gowl-next svg,.ga-carousel_wrapper .gowl-nav .gowl-prev svg{width: 100%}.ga-carousel_wrapper .gowl-nav .gowl-next{right:-25px}.ga-carousel_wrapper .gowl-nav .gowl-prev{left:-25px}@media screen and (max-width:567px){ul.ga-products-table>li .product_main{flex:1 1 auto}}ul.ga-products-table>li .product_main .ga-products_image img{max-width:100%}

.ga-products-box{max-width:1170px;margin:15px auto}
.ga-products-box h2{color:#212121;font-size:25px;text-align:left}
.ga-products-box .ga-subtitle{color:#212121;font-size:18px;text-align:left}
.ga-products-box .ga-product_title{color:#212121;font-size:15px}
.ga-products-box .ga-product_variant_select{color:#212121;font-size:14px}
.ga-products-box .ga-product_price{color:#212121;font-size:14px}
.ga-products-box .ga-product_oldprice{color:#919191;font-size:14px}
.ga-products-box button.ga-product_addtocart,
.ga-products-box button.ga-addalltocart{color:#fff;background-color:#212121;font-size:14px}
.ga-products-box .ga-label_sale{color:#fff;background-color:#c00000}
.gowl-rtl select.ga-product_variant_select {text-align: right;direction: rtl;}
span.ga-label.ga-label_sold {right: auto;}
.ga-carousel_wrapper .gowl-carousel .gowl-item.active {background: transparent;}
          #wigget_9528{max-width:1500px;margin:15px auto;}
    #wigget_9528 h2{color:#012169;font-size:25px;text-align:left;}
    #wigget_9528 .ga-subtitle{color:#012169;font-size:18px;text-align:left;}    #wigget_9528 .ga-product_title,
    #wigget_9528 select.ga-product_variant_select{color:#012169;font-size:15px;}
    #wigget_9528 span.ga-product_price{color:#012169;font-size:14px;}
        #wigget_9528 .ga-product_oldprice{color:#012169;font-size:14px;}
        #wigget_9528 button.ga-product_addtocart,
    #wigget_9528 button.ga-addalltocart{color:#FFFFFF;background-color:#012169;font-size:14px;}
    #wigget_9528 .ga-label_sale{color:#FFFFFF;background-color:#0eac3b;}
      


  #ga-product_bought_together{max-width:1500px;margin:15px auto;}
  #ga-product_bought_together h2{color:#012169;font-size:25px;text-align:left;}
  #ga-product_bought_together .ga-subtitle{color:#012169;font-size:18px;text-align:left;}  #ga-product_bought_together .ga-product_title,
  #ga-product_bought_together select.ga-product_variant_select{color:#012169;font-size:15px;}
  #ga-product_bought_together span.ga-product_price{color:#012169;font-size:14px;}
      #ga-product_bought_together .ga-product_oldprice{color:#012169;font-size:16px;}
    #ga-product_bought_together button.ga-product_addtocart,
  #ga-product_bought_together button.ga-addalltocart{color:#FFFFFF;background-color:#012169;font-size:14px;}
  #ga-product_bought_together .ga-label_sale{color:#FFFFFF;background-color:#0eac3b;}
  #ga-product_related{max-width:1500px;margin:15px auto;}
  #ga-product_related h2{color:#000000;font-size:28px;text-align:left;}
  #ga-product_related .ga-subtitle{color:#012169;font-size:18px;text-align:left;}  #ga-product_related .ga-product_title,
  #ga-product_related select.ga-product_variant_select{color:#000000;font-size:16px;}
  #ga-product_related span.ga-product_price{color:#000000;font-size:16px;}
    #ga-product_related .ga-product_oldprice{color:#000000;font-size:13px;}
    #ga-product_related button.ga-product_addtocart, #ga-product_related button.ga-addalltocart{color:#FFFFFF;background-color:#012169;font-size:13px;}
  #ga-product_related .ga-label_sale{color:#FFFFFF;background-color:#0eac3b;}
  #ga-cart{max-width:1500px;margin:15px auto;}
  #ga-cart h2{color:#012169;font-size:20px;text-align:left;}
  #ga-cart .ga-subtitle{color:#012169;font-size:18px;text-align:left;}  #ga-cart .ga-product_title, #ga-cart select.ga-product_variant_select{color:#012169;font-size:14px;}
  #ga-cart span.ga-product_price{color:#012169;font-size:14px;}
      #ga-cart .ga-product_oldprice{color:#012169;font-size:16px;}
    #ga-cart button.ga-product_addtocart,
  #ga-cart button.ga-addalltocart{color:#FFFFFF;background-color:#012169;font-size:15px;}
  #ga-cart .ga-label_sale{color:#FFFFFF;background-color:#0eac3b;}
  
  
  
  @media  only screen and (max-width:749px){.return-link-wrapper{margin-bottom:0 !important;}}
  .ga-product_image:after{padding-top:125%;}
  .ga.ga-template_2 span.ga-label,.ga.ga-template_3 span.ga-label{display: none !important;}

.ga_up_in_cart{
  width: 100%;
  float:left;
  padding: 10px;
}
.ga-arrow-top{
  position:relative;
}
.ga_up_in_cart{
  background-color: #f8f8f8;
}
.ga-products-upsell-box .ga-product_variants-container {
  min-height: 20px;
}
/** style offer box */
.ga-products-upsell-box {
  padding: 10px;
}
.ga-products-upsell-box ul{
  padding:0;
}
.ga-products-upsell-box ul li{
  list-style:none;
  border-top: 1px solid #e8e9eb;
  padding: 5px 0;
}
.ga-products-upsell-box ul li:first-child{
  border-top: none;
}
.ga-products-upsell-box .ga-upsell-product {
  display: flex;
}
.ga-upsell-product {
  display: flex;
}
.ga-products-upsell-box  .product_main,.ga-upsell-product .product_main{
  max-width: 100px;
}
.ga_cart_upsell_wp .ga-products-upsell-box .product_main, .ga_cart_upsell_wp  .ga-upsell-product .product_main {
  max-width: 65px;
}
.ga_cart_upsell_wp  .ga-upsell-product-data{
  padding-right: 10px;
}
.ga-upsell-product-data {
  padding: 0 10px;
  flex: 1;
}
button.ga-upsell-product_addtocart{
  border:none;
}
.ga-products-upsell-box .ga-product_title{
  text-decoration: none;
}
.ga-upsell-product_addtocart{
  padding: 10px;
}
.ga-upsell-product_addtocart {
  min-width: 67px;
  padding: 0 10px;
  line-height: 44px;
}
.ga_cart_upsell_wp  .ga-products-upsell-box .ga-product_title {
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
}
.ga-price-addtocart-show{
  width:100%;
  float:left;
}
.ga_up_pre_purchase .ga-product_price-container,.ga_up_pre_purchase .ga-upsell-product_addtocart-wp{
  width:100%;
}
.ga_up_pre_purchase .ga-product_price-container.ga-showaddToCartBtn,.ga_up_pre_purchase .ga-upsell-product_addtocart-wp.ga-showprice{
  width:50%;
  float: left;
}
.ga_up_pre_purchase .ga-upsell-product_addtocart-wp.ga-showprice{
  text-align:right;
}
.ga_up_pre_purchase  .product_main{
  max-width: 75px;
  
}
.ga-products_image{
  text-decoration: none;
  border: none;
}
.ga_up_pre_purchase {
  border: 1px solid #e8e9eb;
  background: #fff;
}
.ga_up_pre_purchase .ga-title {
  background: #e8e9eb;
  padding: 10px;
  margin: 0 0 5px 0;
}
.ga_up_pre_purchase.ga-products-upsell-box{
  padding: 0px;
}
.ga_up_pre_purchase  .ga-upsell-products{
  padding: 10px;
}
.ga-carousel_wrapper {
  box-sizing: border-box;
}
.ga_up_thankyou{
  border-radius: 5px;
  box-shadow: 0 0 3px #d9d9d9;
}
.ga-thankyou-headbox {
  border-bottom: 1px rgba(0,0,0,0.1) solid;
  padding: 10px 0;
  margin-bottom: 10px;
}
.ga_up_thankyou  .ga-carousel_wrapper .ga-product {
  text-align: center;
}
.ga-products_image img {
  max-width: 100%;
}
.ga-product_image {
  display: block !important;
}
.ga-upsell-products > ul{
  margin: 0 !important;
}
.ga-upsell-product {
  position: relative;
}
.ga_up_in_cart .ga-upsell-product span.ga-label.ga-label_sold,
.ga_up_in_cart .ga-upsell-product  .ga-label_sale {
  right: auto;
  left: 0;
  top: 0;
}
.ga_up_in_cart .ga-label {
  padding: 4px 5px;
}
.ga_up_in_cart .ga-upsell-product-data{
  display:flex;
}
.ga_up_in_cart .ga_upsell_cart_baseinfo {
  flex: 1;
}
.ga_up_in_cart .ga-upsell-product-data .ga_upsell_cart_adtocart{
  display:none;
}
.ga_cart_upsell_wp .ga-products-upsell-box{
  width:100%;
}
.ga-products-upsell-box .ga-title{
  margin-bottom: 5px;
  text-transform: none;
  border: none;
  padding: 0;
}
.ga_cart_upsell_wp .ga-upsell-product_addtocart {
    font-weight: bold;
    height: auto;
}
@media  screen and (min-width: 1025px){
  .ga-products-upsell-box {
    min-width: 360px;
    padding:16px
  }
}
@media  screen and (min-width: 768px) and (max-width: 1024px){
  .ga-products-upsell-box {
    min-width: 330px;
  }
}
@media  screen and (max-width: 767px) {
  .ga-products-upsell-box {
    padding: 10px 5px;
    min-width: 250px;
  }
  .ga_cart_upsell_wp .ga-upsell-product-data{
    padding: 0 3px;
  }
  .ga_cart_upsell_wp .ga-products-upsell-box .product_main, .ga_cart_upsell_wp .ga-upsell-product .product_main {
    max-width: 50px;
  }
  .ga_cart_upsell_wp .ga-products-upsell-box .ga-product_title {
      font-weight: bold;
      font-size: 0.9em;
  }
  .ga-upsell-product_addtocart{
    width:100%;
    text-align:center;
  }
  .ga_up_in_cart .ga-upsell-product-data{
    flex-direction: column;
  }
  .ga-products-upsell-box .ga-title{
    font-size: 1.1em !important;
    margin-bottom: 5px;
  }
  .ga-products-upsell-box .ga-subtitle{
    font-size: 0.9em !important;
  }
  .ga-products-upsell-box ul li {
    padding: 5px 0;
  }
  .ga_up_in_cart .ga_upsell_cart_adtocart{
    display:none;
  }
  .ga_up_in_cart .ga-upsell-product-data .ga_upsell_cart_adtocart{
    display:block;
  }
}
.ga-thankyou-page-upsell .ga-upsell-product_addtocart{
  width:100%;
}
.ga-thankyou-page-upsell .ga-products-upsell-box .ga-upsell-product {
  display: block;
}
.ga_up_in_cart  .ga-product_price,.ga_up_in_cart  .ga-product_oldprice {
  font-weight: normal;
}
.ga_up_in_cart .ga-product_price-container {
  margin-bottom: 0;
}
.ga_up_in_cart .ga-product_variant_select{
  margin: 2px 0 2px;
}
.ga-thankyou-page-upsell.ga-thankyou-page-upsellv2 {
  max-width: 100%;
  table-layout: fixed;
  display: table;
  width: 100%;
}
  
  .ga_offer_1205{max-width:433px;margin:5px auto;}
  .ga_offer_1205 h2{color:#606060;font-size:14px;text-align:left;}
  .ga_offer_1205 .ga-subtitle{color:#000000;font-size:14px;text-align:left;}  .ga_offer_1205 .ga-product_title,
  .ga_offer_1205 select.ga-product_variant_select{color:#111111;font-size:14px;}
  .ga_offer_1205 span.ga-product_price{color:#B12704;font-size:15px;}
  .ga_offer_1205 .ga-product_oldprice{color:#989898;font-size:15px;}
  .ga_offer_1205 button.ga-product_addtocart,.ga_offer_1205 button.ga-upsell-product_addtocart,
  .ga_offer_1205 button.ga-addalltocart{color:#ffffff;background-color:#6371c7;font-size:14px;}
  .ga_offer_1205 .ga-label_sale{color:#ffffff;background-color:#c00000;}

                .ga-product_oldprice{
        opacity: 0.75;
      }
                  .ga h2 {
          font-weight: normal;
          font-style: normal;
      }
            .ga-template_1 .ga-product_price-container *,
      #ga-product_bought_together button.ga-addalltocart, #ga-product_bought_together button.ga-product_addtocart,
      button.ga-addalltocart, button.ga-product_addtocart,
      .ga_cart_upsell_wp .ga-upsell-product_addtocart,
      .ga-label_sale{
        font-weight:normal; 
      }
                    .ga-carousel_wrapper .ga-product {
      font-weight: normal;
    }
          .ga-product_price,.ga-product_oldprice {
        font-weight: normal !important;
      }
    
            .ga-products-box .ga-carousel_wrapper .ga-product_title{
        font-weight: normal  !important;
      }
              .ga-template_1  .ga-label {
        font-weight: normal;
        text-transform: unset;
    }
              
.ga-products-box .ga-carousel_wrapper .ga-label{
  top:auto !important;
  bottom:1rem !important;
  left: 1rem !important;
}
span.ga-label {
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 1;
  padding: .6rem 1.3rem;
  text-align: center;
}

.ga-carousel_wrapper .gowl-carousel .gowl-nav button.gowl-next, .ga-carousel_wrapper .gowl-carousel .gowl-nav button.gowl-prev, .ga-carousel_wrapper .gowl-carousel button.gowl-dot {
  min-width: auto;
}
select.ga-product_variant_select{
  background: transparent;
}
.ga-carousel_wrapper .gowl-carousel  .ga-product-content{
  padding: 10px;
}
.ga-product_image{
  display: block;
}
.ga-thankyou-page-upsellv2 .ga-products-upsell-box {
  padding: 0 !important;
  box-shadow: unset !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}