.greenhouse-jobs-wrapper h1 {
  text-align: center;
}

#greenhouse-jobs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#greenhouse-jobs-container .department ul.jobs {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#greenhouse-jobs-container .column .department {
  padding: 28px 0px;
  margin: 0 24px;
  text-align: center;
}

#greenhouse-jobs-container .column .department:not(:last-child) {
  border-bottom: 1px solid #BCBAB8;
}

#greenhouse-jobs-container .department h3 {
  margin-top: 0;
  font-size: 20px;
}

#greenhouse-jobs-container .department ul.jobs li {
  margin-top: 2rem;
}

#greenhouse-jobs-container .department ul.jobs li * {
  margin: 0;
}

#greenhouse-jobs-container .department ul.jobs li a {
  color: #9C9C9C;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.03rem;
  font-weight: 400;
}

#greenhouse-jobs-container .department ul.jobs li a:hover {
  color: rgb(118, 98, 148);
}

#greenhouse-jobs-container .department ul.jobs li p.location {
  font-size: 18px;
  margin-top: 4px;
}

@media screen and (max-width: 840px) {
  #greenhouse-jobs-container {
    grid-template-columns: 1fr;
  }

  #greenhouse-jobs-container .column .department:not(:last-child) {
    border-bottom: unset;
  }

  #greenhouse-jobs-container .column .department {
    margin: 0;
    padding: 0;
    padding-top: 24px;
  }

  #greenhouse-jobs-container .department h3 {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  
  #greenhouse-jobs-container .department ul.jobs li:first-child {
    margin-top: 12px;
  }
}
