.spontaneous_greenhouse-container h2 {
  margin-top: 0;
  margin-bottom: 2px;
}

.spontaneous_greenhouse-container p.subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
}

form#spontaneous_greenhouse label:not(.checkbox), form#spontaneous_greenhouse label:not(.checkbox) input {
  display: block;
  max-width: 400px;
  width: 100%;
}

form#spontaneous_greenhouse label {
  margin-bottom: 16px;
}

form#spontaneous_greenhouse label input{
  border: 1px solid #BABABA;
  padding: 8px 6px;
  font-size: 18px;
  margin-top: 4px;
  font-weight: 400;
}

form#spontaneous_greenhouse input[type=submit] {
  display: inline-block;
  margin-top: 16px;
}

.feedback-container p {
  display: none;
  margin-top: 16px;
}
.feedback-container p.feedback-error {
  color: rgb(225,126,143);
}
.feedback-container p.feedback-success {
  color: rgb(180,255,194);
}

span.required {
  color: rgb(222, 90, 90);
  font-size: 12px;
}
