.spontaneous_greenhouse-container h2 {
  margin-top: 0;
}

form#spontaneous_greenhouse label:not(.checkbox), form#spontaneous_greenhouse label:not(.checkbox) input {
  display: block;
  max-width: 400px;
  width: 100%;
}

form#spontaneous_greenhouse label {
  margin-bottom: 16px;
}

form#spontaneous_greenhouse label input{
  border: 1px solid #BABABA;
  padding: 8px 6px;
  font-size: 18px;
  margin-top: 4px;
  font-family: "Avantt Regular";
}

form#spontaneous_greenhouse input[type=submit] {
  display: inline-block;
  margin-top: 16px;
}

.feedback-container p {
  display: none;
}
