.grid--no-gap, .grid--no-gap-mobile {
  --top-left-radius: 0;
  --top-right-radius: 0;
  --bottom-right-radius: 0;
  --bottom-left-radius: 0;
}

@media screen and (max-width: 749px) {
  .grid.grid--no-x-gap-mobile {
    margin-left: var(--grid-border-width);
  }
  .grid.grid--no-y-gap-mobile {
    margin-top: var(--grid-border-width);
  }

  .grid.grid--no-x-gap-mobile .grid__item .grid__item--facade {
    margin-left: calc(var(--grid-border-width) * -1);
  }
  .grid.grid--no-y-gap-mobile .grid__item .grid__item--facade {
    margin-top: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-gap-mobile .grid__item--facade {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    /* overflow: hidden; */
    position: relative;  
    border: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
  }
}

@media screen and (min-width: 750px) {
  .grid.grid--no-x-gap {
    margin-left: var(--grid-border-width);
  }
  .grid.grid--no-y-gap {
    margin-top: var(--grid-border-width);
  }

  .grid.grid--no-gap.grid--no-x-gap .grid__item .grid__item--facade {
    margin-left: calc(var(--grid-border-width) * -1);
  }
  .grid.grid--no-gap.grid--no-y-gap .grid__item .grid__item--facade {
    margin-top: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-gap .grid__item--facade {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
    /* overflow: hidden; */
    position: relative;  
    border: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
  }
}

@media screen and (max-width: 749px) {
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--1-col:not(.slider) {
    margin-left: inherit;
  }

  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--1-col:not(.slider) .grid__item .grid__item--facade {
    margin-left: inherit;
  }

  /* 1 col no y gap */
  .grid--no-gap-mobile.grid--no-y-gap-mobile.grid--1-col .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--no-y-gap-mobile.grid--1-col .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  /* 2 col no y gap */
  .grid--no-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(-n + 2) {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-last-child(-n + 2) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 2 col no x gap */
  .grid--no-gap-mobile.grid--no-x-gap-mobile:not(.grid--no-y-gap-mobile).grid--1-col .grid__item,
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--2-col .grid__item {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--2-col .grid__item:nth-child(2n + 1):not(:last-child) {
    --top-right-radius: 0;
    --bottom-right-radius: 0;
  }
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--2-col .grid__item:nth-child(2n + 2) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }

  /* 2 col no x or y gap */
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(2n + 1):not(:nth-child(-n + 2)) {
    --top-left-radius: 0;
  }
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(2n + 1):not(:nth-last-child(-n + 2)) {
    --bottom-left-radius: 0;
  }
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(2n + 1),
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(2n + 2):not(:nth-child(-n + 2)) {
    --top-right-radius: 0;
  }
  .grid--no-gap-mobile.grid--no-x-gap-mobile.grid--no-y-gap-mobile.grid--2-col .grid__item:nth-child(2n + 2):not(:nth-last-child(-n + 2)) {
    --bottom-right-radius: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  /* 3 col no y gap */
  .grid--no-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(-n + 3) {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-last-child(-n + 3) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  /* 3 col no x gap */
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item:nth-child(3n + 1) {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item:nth-child(3n + 1):not(:last-child) {
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item:nth-child(3n + 2) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item:nth-child(3n + 2):not(:last-child) {
    --top-right-radius: 0;
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet .grid__item:nth-child(3n + 3) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  /* 3 col no x or y gap */
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(3n + 1):not(:first-child) {
    --top-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(3n + 2),
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(3n + 3):not(:nth-child(3)) {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(3n + 1):not(:nth-last-child(-n + 3)) {
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet .grid__item:nth-child(3n + 3):not(:nth-last-child(-n + 3)) {
    --bottom-right-radius: 0;
  }
  /* product media grid */
  .grid.product__media-list.grid--no-y-gap .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-y-gap .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 750px) {
  /* 2 col no y gap */
  .grid--no-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(-n + 2) {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-last-child(-n + 2) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  /* 2 col no x gap */
  .grid--no-gap.grid--no-x-gap.grid--2-col-tablet .grid__item {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-x-gap.grid--2-col-tablet .grid__item:nth-child(2n + 1):not(:last-child) {
    --top-right-radius: 0;
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--2-col-tablet .grid__item:nth-child(2n + 2) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  /* 2 col no x or y gap */
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(2n + 2):not(:nth-child(2)),
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(2n + 1):last-child {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(2n + 2):not(:nth-last-child(-n + 2)) {
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(2n + 1):not(:first-child) {
    --top-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--2-col-tablet .grid__item:nth-child(2n + 1):not(:nth-last-child(-n + 2)) {
    --bottom-left-radius: 0;
  }
  /* 5 items */
  .grid--no-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-last-child(3):nth-child(3) {
    --bottom-right-radius: 0;
  }
  .grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(5):last-child {
    --top-right-radius: 0;
  }
}

@media screen and (min-width: 990px) {
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item,
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  /* 4 col no y gap */
  .grid--no-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(-n + 4) {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-last-child(-n + 4) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  /* 4 col no x gap */
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 2),
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 3),
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 4) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 1):not(:last-child),
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 2):not(:last-child),
  .grid--no-gap.grid--no-x-gap.grid--4-col-desktop .grid__item:nth-child(4n + 3):not(:last-child) {
    --top-right-radius: 0;
    --bottom-right-radius: 0;
  }
  /* no x or y gap */
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(4n + 1):not(:first-child) {
    --top-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(4n + 4):not(:nth-child(4)),
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:last-child {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(4n + 4):not(:nth-last-child(-n + 4)) {
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(4n + 1):not(:nth-last-child(-n + 4)) {
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-child(4):last-child {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--4-col-desktop .grid__item:nth-last-child(4):first-child {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  /* 3 col no y gap */
  .grid--no-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(-n + 3) {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-last-child(-n + 3) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  /* 3 col no x gap */
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 1) {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 1):not(:last-child) {
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 2) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 2):not(:last-child) {
    --top-right-radius: 0;
    --bottom-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 3) {
    --top-left-radius: 0;
    --bottom-left-radius: 0;
  }
  /* 3 col no x or y gap */
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 1):not(:first-child) {
    --top-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 3):not(:nth-child(3)) {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 1):not(:nth-last-child(-n + 3)) {
    --bottom-left-radius: 0;
  }
  .grid--no-gap.grid--no-x-gap.grid--no-y-gap.grid--3-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(3n + 3):not(:nth-last-child(-n + 3)) {
    --bottom-right-radius: 0;
  }

  /* product media grid */
  .grid.product__media-list.grid--no-y-gap .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-y-gap .grid__item:only-child {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-y-gap .grid__item:last-child:nth-child(even) {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-y-gap .grid__item:last-child:nth-child(odd) {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-y-gap .grid__item:nth-last-child(2):nth-child(even) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-x-gap:not(.grid--no-y-gap) .grid__item:first-child,
  .grid.product__media-list.grid--no-x-gap:not(.grid--no-y-gap) .grid__item:nth-child(even) {
    --top-left-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid.product__media-list.grid--no-x-gap:not(.grid--no-y-gap) .grid__item:nth-child(odd),
  .grid.product__media-list.grid--no-x-gap:not(.grid--no-y-gap) .grid__item:last-child:nth-child(even) {
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (max-width: 749px) {
  .grid--no-gap-mobile .grid__item .grid__item--facade {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }
}

@media screen and (min-width: 750px) {
  .grid--no-gap .grid__item .grid__item--facade {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }
}
