:is(.grid--no-gap, .grid--no-gap-mobile) {
  --top-left-radius: 0;
  --top-right-radius: 0;
  --bottom-right-radius: 0;
  --bottom-left-radius: 0;
}

@media screen and (max-width: 749px) {
  .grid.grid--no-x-gap-mobile {
    margin-left: var(--grid-border-width);
  }

  .grid.grid--no-y-gap-mobile {
    margin-top: var(--grid-border-width);
  }

  .grid.grid--no-x-gap-mobile .grid__item {
    margin-left: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-y-gap-mobile .grid__item {
    margin-top: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-gap-mobile .grid__item--facade {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    position: relative;  
    border: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
  }
}

@media screen and (min-width: 750px) {
  .grid.grid--no-gap.grid--no-x-gap {
    margin-left: var(--grid-border-width);
  }

  .grid.grid--no-gap.grid--no-y-gap {
    margin-top: var(--grid-border-width);
  }

  .grid.grid--no-gap.grid--no-x-gap .grid__item {
    margin-left: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-gap.grid--no-y-gap .grid__item {
    margin-top: calc(var(--grid-border-width) * -1);
  }

  .grid.grid--no-gap .grid__item--facade {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    overflow: hidden;
    position: relative;  
    border: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
  }
}

@media screen and (max-width: 749px) {
  /* 1 column mobile */
  .grid--no-gap-mobile.grid--1-col .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--1-col .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 2 col mobile */
  .grid--no-gap-mobile.grid--2-col .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--2-col .grid__item:nth-child(2) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--2-col .grid__item:nth-last-child(2) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--2-col .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--2-col:is(.total-items-3, .total-items-5, .total-items-7, .total-items-9, .total-items-11) .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap-mobile.grid--2-col:is(.total-items-3, .total-items-5, .total-items-7, .total-items-9, .total-items-11) .grid__item:nth-last-child(2) {
    --bottom-left-radius: 0;
    --bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  /* 2x2 tablet */
  .grid--no-gap.grid--2-col-tablet .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet .grid__item:nth-child(2) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.total-items-5, .total-items-7) .grid__item:nth-last-child(2) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 1x2 or 1x3 tablet */
  .grid--no-gap:is(.total-items-2, .total-items-3) .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap:is(.total-items-2, .total-items-3) .grid__item:last-child {
    --top-right-radius: var(--grid-corner-radius);
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 2x* */
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7) .grid__item:nth-last-child(2) {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7) .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
  }

  .grid--no-gap.grid--3-col-tablet .grid__item:nth-child(3) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-7, .total-items-10) .grid__item:last-child,
  .grid--no-gap.grid--3-col-tablet:is(.total-items-8, .total-items-11) .grid__item:nth-last-child(2) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-7, .total-items-10) .grid__item:nth-last-child(2),
  .grid--no-gap.grid--3-col-tablet:is(.total-items-8, .total-items-11) .grid__item:nth-last-child(3) {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-6, .total-items-9, .total-items-12) .grid__item:nth-last-child(3) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 750px) {
  .grid--no-gap.grid--3-col-tablet {
    width: calc(var(--grid-border-width) * 2 + 100%);
  }
  /* 3x* tablet/desktop */
  .grid--no-gap.grid--3-col-tablet .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 5 items 3x2 tablet/desktop */
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:nth-child(3) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:nth-child(4) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 990px) {
  .grid--no-gap.grid--4-col-desktop {
    width: calc(var(--grid-border-width) * 3 + 100%);
  }
  /* 4x* or more */
  .grid--no-gap.grid--4-col-desktop .grid__item:nth-child(4) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-8, .total-items-12, .total-items-16, .total-items-20, .total-items-24) .grid__item:nth-last-child(4) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-6, .total-items-10) .grid__item:nth-last-child(2) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-6, .total-items-10) .grid__item:nth-last-child(3) {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-7) .grid__item:nth-last-child(3) {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-7) .grid__item:nth-child(4) {
    --bottom-right-radius: var(--grid-corner-radius);
  }

  /* 4x1 or less desktop */
  .grid--no-gap:is(.total-items-2, .total-items-3, .total-items-4) .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap:is(.total-items-2, .total-items-3, .total-items-4) .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop):is(.total-items-4) .grid__item:last-child {
    --top-right-radius: 0;
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop):is(.total-items-4) .grid__item:first-child {
    --bottom-left-radius: 0;
  }

  /* 2x2 desktop */
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:first-child {
    --top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(2) {
    --top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop, .total-items-5, .total-items-7) .grid__item:nth-last-child(2),
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:last-child {
    --bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:nth-last-child(2) {
    --bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:last-child {
    --bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (max-width: 749px) {
  .grid--no-gap-mobile .grid__item .grid__item--facade {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }
}

@media screen and (min-width: 750px) {
  .grid--no-gap .grid__item .grid__item--facade {
    border-radius: var(--top-left-radius) var(--top-right-radius) var(--bottom-right-radius) var(--bottom-left-radius);
  }
}
