/* 
  Each group of radius selectors for a particular number of columns is identical and repeatable.
  Any modification for one group should be made to all.
  
  Specificity matters. Modify with caution.

  --collapsed-offset-x/y: the distance to offset an item's border onto the siblings below and to the right
  --collapsed-shadow-offset-x/y: the distance to offset the overlapping shadows caused by offsetting grid items
  --top/bottom-left/right: the radius value of one particular corner of the item
*/

.grid--collapsed-x {
  --collapsed-offset-x: var(--border-width);
}
.grid--collapsed-y {
  --collapsed-offset-y: var(--border-width);
}

.grid--collapsed-x .grid__item {
  --collapsed-offset-x: calc(var(--border-width) * -1);
  --collapsed-shadow-offset-x: var(--border-width);
}
.grid--collapsed-y .grid__item {
  --collapsed-offset-y: calc(var(--border-width) * -1);
  --collapsed-shadow-offset-y: var(--border-width);
}

.grid--collapsed .grid__item {
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
}

@media screen and (max-width: 989px) {
  /* reset shadow origin along first row/col so its flush with grid edge */
  .grid--1-col-tablet-down.grid--collapsed-x .grid__item,
  .grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --collapsed-shadow-offset-x: 0px;
  }
  .grid--1-col-tablet-down.grid--collapsed-y .grid__item:first-child,
  .grid--2-col-tablet-down.grid--collapsed-y .grid__item:nth-child(-n + 2) {
    --collapsed-shadow-offset-y: 0px;
  }

  .grid--1-col-tablet-down.grid--collapsed:not(.grid--collapsed-y) .grid__item,
  .grid--1-col-tablet-down.grid--collapsed-y .grid__item:first-child,
  .contains-card--standard.grid--1-col-tablet-down.grid--collapsed-x .grid__item {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--1-col-tablet-down.grid--collapsed:not(.grid--collapsed-y) .grid__item,
  .grid--1-col-tablet-down.grid--collapsed-y .grid__item:last-child,
  .contains-card--standard.grid--1-col-tablet-down.grid--collapsed-x .grid__item {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--2-col-tablet-down.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 2) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 2) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(2n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(2n),
  .grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n):nth-last-child(-n + 2) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid--collapsed-y .grid__item:nth-child(2n):nth-last-child(2n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--2-col-tablet-down.grid--collapsed-y .grid__item:nth-last-child(2n + 1) {
    --top-right-radius: 0px;
  }
  .grid--2-col-tablet-down.grid--collapsed.grid--collapsed-y .grid__item:nth-child(2n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--2-col-tablet-down.grid--collapsed.grid--collapsed-y .grid__item:nth-child(2n + 1) {
    --top-left-radius: 0px;
  }
  .grid--2-col-tablet-down.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--2-col-tablet-down.grid.grid--collapsed .grid__item:nth-child(2),
  .grid--2-col-tablet-down.grid.grid--collapsed .grid__item:nth-child(-n + 2):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-tablet-down.grid.grid--collapsed .grid__item:nth-child(2n + 1):nth-last-child(-n + 2) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--2-col-tablet-down.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n + 2) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
}

@media screen and (min-width: 990px) {
  /* reset shadow origin along first row/col so its flush with grid edge */
  .grid--1-col-desktop.grid--collapsed-x .grid__item,
  .grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n + 1),
  .grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n + 1),
  .grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n + 1),
  .grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n + 1),
  .grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n + 1) {
    --collapsed-shadow-offset-x: 0px;
  }
  .grid--1-col-desktop.grid--collapsed-y .grid__item:nth-child(1),
  .grid--2-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 2),
  .grid--3-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 3),
  .grid--4-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 4),
  .grid--5-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 5),
  .grid--6-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 6) {
    --collapsed-shadow-offset-y: 0px;
  }

  .grid--1-col-desktop.grid--collapsed:not(.grid--collapsed-y) .grid__item,
  .grid--1-col-desktop.grid--collapsed-y .grid__item:first-child,
  .contains-card--standard.grid--1-col-desktop.grid--collapsed-x .grid__item {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--1-col-desktop.grid--collapsed:not(.grid--collapsed-y) .grid__item,
  .grid--1-col-desktop.grid--collapsed-y .grid__item:last-child,
  .contains-card--standard.grid--1-col-desktop.grid--collapsed-x .grid__item {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--2-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 2) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 2) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(2n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(2n),
  .grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n):nth-last-child(-n + 2) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid--collapsed-y .grid__item:nth-child(2n):nth-last-child(2n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--2-col-desktop.grid--collapsed-y .grid__item:nth-last-child(2n + 1) {
    --top-right-radius: 0px;
  }
  .grid--2-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(2n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--2-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(2n + 1) {
    --top-left-radius: 0px;
  }
  .grid--2-col-desktop.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--2-col-desktop.grid.grid--collapsed .grid__item:nth-child(2),
  .grid--2-col-desktop.grid.grid--collapsed .grid__item:nth-child(-n + 2):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--2-col-desktop.grid.grid--collapsed .grid__item:nth-child(2n + 1):nth-last-child(-n + 2) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--2-col-desktop.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n + 2) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--3-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 3) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 3) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(3n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(3n),
  .grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n):nth-last-child(-n + 3) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid--collapsed-y .grid__item:nth-child(3n):nth-last-child(3n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--3-col-desktop.grid--collapsed-y .grid__item:nth-last-child(3n + 1) {
    --top-right-radius: 0px;
  }
  .grid--3-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(3n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--3-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(3n + 1) {
    --top-left-radius: 0px;
  }
  .grid--3-col-desktop.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--3-col-desktop.grid.grid--collapsed .grid__item:nth-child(3),
  .grid--3-col-desktop.grid.grid--collapsed .grid__item:nth-child(-n + 3):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--3-col-desktop.grid.grid--collapsed .grid__item:nth-child(3n + 1):nth-last-child(-n + 3) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--3-col-desktop.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n + 3) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--4-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 4) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 4) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(4n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(4n),
  .grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n):nth-last-child(-n + 4) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid--collapsed-y .grid__item:nth-child(4n):nth-last-child(4n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--4-col-desktop.grid--collapsed-y .grid__item:nth-last-child(4n + 1) {
    --top-right-radius: 0px;
  }
  .grid--4-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(4n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--4-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(4n + 1) {
    --top-left-radius: 0px;
  }
  .grid--4-col-desktop.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--4-col-desktop.grid.grid--collapsed .grid__item:nth-child(4),
  .grid--4-col-desktop.grid.grid--collapsed .grid__item:nth-child(-n + 4):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--4-col-desktop.grid.grid--collapsed .grid__item:nth-child(4n + 1):nth-last-child(-n + 4) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--4-col-desktop.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n + 4) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--5-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 5) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 5) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(5n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(5n),
  .grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n):nth-last-child(-n + 5) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid--collapsed-y .grid__item:nth-child(5n):nth-last-child(5n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--5-col-desktop.grid--collapsed-y .grid__item:nth-last-child(5n + 1) {
    --top-right-radius: 0px;
  }
  .grid--5-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(5n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--5-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(5n + 1) {
    --top-left-radius: 0px;
  }
  .grid--5-col-desktop.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--5-col-desktop.grid.grid--collapsed .grid__item:nth-child(5),
  .grid--5-col-desktop.grid.grid--collapsed .grid__item:nth-child(-n + 5):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--5-col-desktop.grid.grid--collapsed .grid__item:nth-child(5n + 1):nth-last-child(-n + 5) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--5-col-desktop.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n + 5) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }

  .grid--6-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-child(-n + 6) {
    --top-left-radius: var(--border-radius);
    --top-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid--collapsed-y:not(.grid--collapsed-x) .grid__item:nth-last-child(-n + 6) {
    --bottom-left-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(6n) {
    --top-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-child(6n),
  .grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n):nth-last-child(-n + 6) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid--collapsed-y .grid__item:nth-child(6n):nth-last-child(6n + 1) {
    --bottom-right-radius: 0px;
  }
  .grid--6-col-desktop.grid--collapsed-y .grid__item:nth-last-child(6n + 1) {
    --top-right-radius: 0px;
  }
  .grid--6-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(6n + 1) {
    --bottom-left-radius: 0px;
  }
  .grid--6-col-desktop.grid--collapsed.grid--collapsed-y .grid__item:nth-child(6n + 1) {
    --top-left-radius: 0px;
  }
  .grid--6-col-desktop.grid.grid--collapsed-x:not(.grid--collapsed-y) .grid__item:nth-last-child(1),
  .grid--6-col-desktop.grid.grid--collapsed .grid__item:nth-child(6),
  .grid--6-col-desktop.grid.grid--collapsed .grid__item:nth-child(-n + 6):last-child {
    --top-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid.grid--collapsed .grid__item:nth-child(1) {
    --top-left-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid.grid--collapsed .grid__item:nth-last-child(1) {
    --bottom-right-radius: var(--border-radius);
  }
  .grid--6-col-desktop.grid.grid--collapsed .grid__item:nth-child(6n + 1):nth-last-child(-n + 6) {
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n + 1) {
    --top-left-radius: var(--border-radius);
    --bottom-left-radius: var(--border-radius);
  }
  .contains-card--standard.grid--6-col-desktop.grid--collapsed-x .grid__item:last-child,
  .contains-card--standard.grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n + 6) {
    --top-right-radius: var(--border-radius);
    --bottom-right-radius: var(--border-radius);
  }
}
