/* 
  --collapsed-offset-x/y: the distance to offset an item's border onto the siblings below and to the right
  --collapsed-shadow-offset-x/y: the distance to offset the overlapping shadows caused by offsetting grid items
*/
.grid--collapsed-x {
  --collapsed-offset-x: var(--border-width);
}
.grid--collapsed-y {
  --collapsed-offset-y: var(--border-width);
}

.grid--collapsed-x .grid__item {
  --collapsed-offset-x: calc(var(--border-width) * -1);
  --collapsed-shadow-offset-x: var(--border-width);
}
.grid--collapsed-y .grid__item {
  --collapsed-offset-y: calc(var(--border-width) * -1);
  --collapsed-shadow-offset-y: var(--border-width);
}

@media screen and (max-width: 989px) {
  /* reset shadow origin along first row/col so its flush with grid edge */
  .grid--1-col-tablet-down.grid--collapsed-x .grid__item,
  .grid--2-col-tablet-down.grid--collapsed-x .grid__item:nth-child(2n + 1) {
    --collapsed-shadow-offset-x: 0px;
  }
  .grid--1-col-tablet-down.grid--collapsed-y .grid__item:first-child,
  .grid--2-col-tablet-down.grid--collapsed-y .grid__item:nth-child(-n + 2) {
    --collapsed-shadow-offset-y: 0px;
  }
}

@media screen and (min-width: 990px) {
  /* reset shadow origin along first row/col so its flush with grid edge */
  .grid--1-col-desktop.grid--collapsed-x .grid__item,
  .grid--2-col-desktop.grid--collapsed-x .grid__item:nth-child(2n + 1),
  .grid--3-col-desktop.grid--collapsed-x .grid__item:nth-child(3n + 1),
  .grid--4-col-desktop.grid--collapsed-x .grid__item:nth-child(4n + 1),
  .grid--5-col-desktop.grid--collapsed-x .grid__item:nth-child(5n + 1),
  .grid--6-col-desktop.grid--collapsed-x .grid__item:nth-child(6n + 1) {
    --collapsed-shadow-offset-x: 0px;
  }
  .grid--1-col-desktop.grid--collapsed-y .grid__item:nth-child(1),
  .grid--2-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 2),
  .grid--3-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 3),
  .grid--4-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 4),
  .grid--5-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 5),
  .grid--6-col-desktop.grid--collapsed-y .grid__item:nth-child(-n + 6) {
    --collapsed-shadow-offset-y: 0px;
  }
}
