.grid--no-gap .card--card,
.grid--no-gap.product-grid {
  --grid-corner-radius: var(--card-corner-radius);
  --grid-border-width: var(--card-border-width);
  --grid-border-opacity: var(--card-border-opacity);
  --grid-shadow-horizontal-offset: var(--card-shadow-horizontal-offset);
  --grid-shadow-vertical-offset: var(--card-shadow-vertical-offset);
  --grid-shadow-blur-radius: var(--card-shadow-blur-radius);
  --grid-shadow-opacity: var(--card-shadow-opacity);
}

.grid--no-gap .text-box,
.grid--no-gap.multicolumn-list {
  --grid-corner-radius: var(--text-boxes-radius);
  --grid-border-width: var(--text-boxes-border-width);
  --grid-border-opacity: var(--text-boxes-border-opacity);
  --grid-shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
  --grid-shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
  --grid-shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
  --grid-shadow-opacity: var(--text-boxes-shadow-opacity);
}

.grid.grid--no-x-gap {
  margin-left: var(--grid-border-width);
}

.grid.grid--no-y-gap {
  margin-top: var(--grid-border-width);
}

.grid.grid--no-x-gap .grid__item {
  margin-left: calc(var(--grid-border-width) * -1);
}

.grid.grid--no-y-gap .grid__item {
  margin-top: calc(var(--grid-border-width) * -1);
}

.grid.grid--no-gap .grid__item--facade {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  overflow: hidden;
  position: relative;  
  border: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  /* 2x2 tablet */
  .grid--no-gap.grid--2-col-tablet .grid__item:first-child .grid__item--facade {
    border-top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet .grid__item:nth-child(2) .grid__item--facade {
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.total-items-5, .total-items-7) .grid__item:nth-last-child(2) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet .grid__item:last-child .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }

  /* 1x2 or 1x3 tablet */
  .grid--no-gap:is(.total-items-2, .total-items-3) .grid__item:first-child .grid__item--facade {
    border-top-left-radius: var(--grid-corner-radius);
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap:is(.total-items-2, .total-items-3) .grid__item:last-child .grid__item--facade {
    border-top-right-radius: var(--grid-corner-radius);
    border-bottom-right-radius: var(--grid-corner-radius);
  }

  /* 2x* */
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7) .grid__item:nth-last-child(2) .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7) .grid__item:last-child .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }

  .grid--no-gap.grid--3-col-tablet .grid__item:nth-child(3) .grid__item--facade {
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-7, .total-items-10) .grid__item:last-child .grid__item--facade,
  .grid--no-gap.grid--3-col-tablet:is(.total-items-8, .total-items-11) .grid__item:nth-last-child(2) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-7, .total-items-10) .grid__item:nth-last-child(2) .grid__item--facade,
  .grid--no-gap.grid--3-col-tablet:is(.total-items-8, .total-items-11) .grid__item:nth-last-child(3) .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet:is(.total-items-6, .total-items-9, .total-items-12) .grid__item:nth-last-child(3) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 750px) {
  /* 3x* tablet/desktop */
  .grid--no-gap.grid--3-col-tablet .grid__item:first-child .grid__item--facade {
    border-top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--3-col-tablet .grid__item:last-child .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }

  /* .grid--no-gap.grid--3-col-tablet .grid__item:first-child .grid__item--facade {
    border-top: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
    border-left: var(--grid-border-width) solid rgba(var(--color-foreground), var(--grid-border-opacity));
  } */

  /* 5 items 3x2 tablet/desktop */
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:first-child .grid__item--facade {
    border-top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:nth-child(3) .grid__item--facade {
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:nth-child(4) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.total-items-5.grid--3-col-tablet .grid__item:last-child .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
}

@media screen and (min-width: 990px) {
  /* 4x* or more */
  .grid--no-gap.grid--4-col-desktop .grid__item:nth-child(4) .grid__item--facade {
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-8, .total-items-12, .total-items-16, .total-items-20, .total-items-24) .grid__item:nth-last-child(4) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-6, .total-items-10) .grid__item:nth-last-child(2) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-6, .total-items-10) .grid__item:nth-last-child(3) .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-7) .grid__item:nth-last-child(3) .grid__item--facade {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--4-col-desktop:is(.total-items-7) .grid__item:nth-child(4) .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
  }

  /* 4x1 or less desktop */
  .grid--no-gap:is(.total-items-2, .total-items-3, .total-items-4) .grid__item:first-child .grid__item--facade {
    border-top-left-radius: var(--grid-corner-radius);
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap:is(.total-items-2, .total-items-3, .total-items-4) .grid__item:last-child .grid__item--facade {
    border-bottom-right-radius: var(--grid-corner-radius);
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop):is(.total-items-4) .grid__item:last-child .grid__item--facade {
    border-top-right-radius: 0;
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop):is(.total-items-4) .grid__item:first-child .grid__item--facade {
    border-bottom-left-radius: 0;
  }

  /* 2x2 desktop */
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:first-child .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:first-child {
    border-top-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(2) .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:nth-child(2) {
    border-top-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop, .total-items-5, .total-items-7) .grid__item:nth-last-child(2) .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop, .total-items-5, .total-items-7) .grid__item:nth-last-child(2),
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:last-child .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:last-child {
    border-bottom-left-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:nth-last-child(2) .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:is(.total-items-5, .total-items-7):not(.grid--4-col-desktop) .grid__item:nth-last-child(2) {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:last-child .grid__item--facade,
  .grid--no-gap.grid--2-col-tablet:not(.grid--4-col-desktop) .grid__item:last-child {
    border-bottom-right-radius: var(--grid-corner-radius);
  }
}