.header-ribbon-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ribbon {
    display: flex;
    transition: all 300ms ease-in;
}

.ribbon-block {
    flex-shrink: 0;

    width: 100vw;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: black;
    padding: 10px;
}