/* Custom CSS for Animated Image Start */

.animated-image-wrapper {
  padding-bottom: 16%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-inside {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width:100%;

}


#animation-wrapper animation-hero {
  position: absolute;
}

#animation-wrapper animation-hero img {
  width: 100%;
  height:100%;
  overflow: hidden;
  object-position: center center;    }

#animation-wrapper animation-hero:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 2s;
  animation-duration: 5s;
  z-index: 20;
}

#animation-wrapper img {
  object-fit: cover;
}

#animation-wrapper animation-hero:nth-of-type(2) {

  z-index: 10;
}

#animation-wrapper animation-hero:nth-of-type(n+3) {

  display: none;
}

@keyframes fader {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }

  ;

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }

  ;
}
/* Custom CSS for Animated Image End */
