/* Custom CSS for Animated Image Start */


.gif{
  animation-duration:0s !important;
}

.small{
  padding-bottom: 16%;
}
.medium{
  padding-bottom: 46%;
}

.large{
  padding-bottom: 65%;
}

/* STARTS TEXT CSS */
.hero__text-wrap{
  z-index: 21;
  width:100%;
  height:100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-alignment{
  width:100%;
  height:100%;

}

.hero__text-content{
  display: flex;
  height: 100%;

}


.text-center{
  align-items: center;
  justify-content: center;
}

.text-left{
  align-items: center;
  justify-content: flex-start;
}

.text-right{
  align-items: center;
  justify-content: flex-end;
}

.text-top{
  padding-top: 40px;
  align-items: flex-start;
  justify-content: center;

}

.text-bottom{
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
}

.text-align-left{
  text-align:left;
}
.text-align-right{
  text-align:right;
}
.text-align-center{
  text-align:center;
}



/* ENDS TEXT CSS */

.animated-image-wrapper {
  /*   padding-bottom: 16%; */
  position: relative;
  overflow: hidden;
  display: flex;
/*   margin:40px 0px; */
  justify-content: center;
  align-items: center;
}

.image-inside {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width:100%;

}


#animation-wrapper animation-hero {
  position: absolute;
}

#animation-wrapper animation-hero img {
  width: 100%;
  height:100%;
  overflow: hidden;
  object-position: center center;    }

#animation-wrapper animation-hero:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 2s;
  animation-duration: 5s;
  z-index: 20;
}

#animation-wrapper img {
  object-fit: cover;
}

#animation-wrapper animation-hero:nth-of-type(2) {

  z-index: 10;
}

#animation-wrapper animation-hero:nth-of-type(n+3) {

  display: none;
}



@keyframes fader {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }

  ;

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }

  ;
}

@media screen and (max-width: 479px) {
  .animated-image-wrapper {
    padding-bottom:100% !important;
  }

  .hero-desktop{
    display:none;
  }

}

/* Custom CSS for Animated Image End */
