.hero-wrapper {
  position: relative;
}
.hero-natural--template--15610231619780__1654709147163583e9 {
  height: 0;
  padding-bottom: 16%;
}
.hero[data-natural] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero.loaded {
  animation: none;
}
.hero {
  position: relative;
  overflow: hidden;
  animation: placeholder-shimmer 1.3s linear .5s infinite;
  background-size: 300% 100%;
}
.hero {
  background-image: linear-gradient(100deg, #000000 40%, #212121 63%, #000000 79%);
}
.hero-animated--template--15610231619780__1654709147163583e9[data-style="fading"] .animated__slide--active {
  animation-duration: 3s;
}
.hero-animated[data-style=fading] .animated__slide--active {
  animation: hero-animate 4s cubic-bezier(.12,.63,.6,.74) forwards;
  z-index: 2;
}
.animated__slide:first-child {
  display: block;
}
.animated__slide--active {
  opacity: 1;
}

.animated__slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
[data-animate_images=false] .hero-animated .hero__image, [data-animate_images=false] .hero-animated .hero__image-wrapper, [data-animate_images=false] .hero-animated .hero__text-wrap {
  opacity: 1!important;
  transform: none;
}

.hero__image-wrapper, .hero__media {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
[data-animate_images=false] .hero-animated .hero__image, [data-animate_images=false] .hero-animated .hero__image-wrapper, [data-animate_images=false] .hero-animated .hero__text-wrap {
  opacity: 1!important;
  transform: none;
}
img[data-sizes=auto] {
  display: block;
  width: 100%;
}
.hero__image--1654709147d6dd2217-0 {
  object-position: center center;
}
.hero__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
}
.lazyloaded {
  opacity: 1;
}
.lazyautosizes, .lazyload {
  opacity: 0;
}
iframe, img {
  max-width: 100%;
}
img {
  border: 0 none;
}