.if-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.if-SectionGrid-Full {
  grid-column: 1 / span 5;
}

.if-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.if-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.if-w-100p {
  width: 100%;
}

.if-h-100p {
  height: 100%;
}

.if-noborder {
  border: none;
}

@media screen and (min-width: 990px) {
  .if-SectionGrid {
    display: grid;
  }
}
