qty-vol-popover {
  position: absolute;
  width: 27rem;
  z-index: 1;
  background: white;
}

volume-pricing li:nth-child(even) {
  background: rgba(var(--color-foreground), 0.03);
}

volume-pricing li {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
}

qty-vol-popover .button {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.8rem 0 0;
  display: flex;
  justify-content: flex-end;
}

qty-vol-popover .button .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.quantity__rules span:first-of-type {
  display: block;
}