/* Slider settings */

.slider {
  padding-bottom: 50px;
}

.slider.slider--desktop {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
  -webkit-overflow-scrolling: touch;
}

.slider.slider--desktop .slider__slide {
  margin-bottom: 0;
  padding-bottom: 0;
}

.slider-buttons {
  display: flex !important;
}

sleepink-slider .slider-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

/* Own styles, prefixed with is- */

.is-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.is-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.is-ndesktopflex {
  display: flex;
}

.is-h-auto {
  height: auto;
}

.is-h-169px {
  height: 169px;
}

.is-h-650px {
  height: 650px;
}

.is-h-100p {
  height: 100%;
}

.is-h-95p {
  height: 95%;
}

.is-w-320px {
  width: 320px;
}

.is-w-100p {
  width: 100%;
}

.is-w-90p {
  width: 90%;
}

.is-mnw-320px {
  min-width: 320px;
}

.is-mxw-320px {
  max-width: 320px;
}

.is-mxw-1200px {
  max-width: 1200px;
}

.is-flex {
  display: flex;
}

.is-column {
  flex-direction: column;
}

.is-jc-c {
  justify-content: center;
}

.is-jc-fe {
  justify-content: flex-end;
}

.is-ai-c {
  align-items: center;
}

.is-5col-2-3 {
  grid-template-columns: 5px 1fr 30px 1fr 5px;
}

.is-1row {
  grid-template-rows: 1fr;
}

.is-col-2 {
  grid-column: 2 / span 1;
}

.is-col-4-5 {
  grid-column: 4 / span 2;
}

.is-row-1 {
  grid-row: 1 / span 1;
}

.is-mb-3 {
  margin-bottom: 8px;
}

.is-pb-20px {
  padding-bottom: 20px;
}

.is-pl-10px {
  padding-left: 10px;
}

.is-pt-5px {
  padding-top: 5px;
}

.is-px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.is-py-11 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.is-ff-body {
  font-family: var(--font-body-family);
}

.is-ff-heading {
  font-family: var(--font-heading-family);
}

.is-fs-2 {
  font-size: 18px;
}

.is-fs-4 {
  font-size: 22px;
}

.is-fw-300 {
  font-weight: 300;
}

.is-fw-400 {
  font-weight: 400;
}

.is-lh-26px {
  line-height: 26px;
}

.is-ls-p024 {
  letter-spacing: 0.24px;
}

.is-ls-p04 {
  letter-spacing: 0.4px;
}

.is-curs-def {
  cursor: default;
}

.is-nooutline {
  outline: none;
}

.is-nooutline:active {
  outline: none;
}

.is-nooutline:focus {
  outline: none;
}

.is-contain {
  object-fit: contain;
}

.is-cover {
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .is-h-md-360px {
    height: 360px;
  }

  .is-h-md-370px {
    height: 370px;
  }

  .is-h-md-400px {
    height: 400px;
  }

  .is-h-md-800px {
    height: 800px;
  }

  .is-w-md-400px {
    width: 400px;
  }

  .is-w-md-420px {
    width: 420px;
  }

  .is-mnw-md-unset {
    min-width: unset;
  }

  .is-mxw-md-420px {
    max-width: 420px;
  }

  .is-pb-md-50px {
    padding-bottom: 50px;
  }

  .is-pl-md-15px {
    padding-left: 15px;
  }

  .is-pt-md-10px {
    padding-top: 10px;
  }

  .is-px-md-15px {
    padding-left: 15px;
    padding-right: 15px;
  }

  .is-ls-md-p082 {
    letter-spacing: 0.82px;
  }
}

@media screen and (min-width: 990px) {
  .is-SectionGrid {
    display: grid;
  }

  .is-ndesktopflex {
    display: none;
  }

  .is-h-lg-360px {
    height: 360px;
  }

  .is-h-lg-400px {
    height: 400px;
  }

  .is-h-lg-100p {
    height: 100%;
  }

  .is-h-lg-90p {
    height: 90%;
  }

  .is-w-lg-auto {
    width: auto;
  }

  .is-mnw-lg-367px {
    min-width: 367px;
  }

  .is-mxw-lg-550px {
    max-width: 550px;
  }

  .is-lg-row {
    flex-direction: row;
  }

  .is-lg-grid {
    display: grid;
  }

  .is-pb-lg-unset {
    padding-bottom: unset;
  }

  .is-pt-lg-unset {
    padding-top: unset;
  }
}
