body {
  font-family: "AlrightSans-Regular";
}

#MainContent {
  min-height: 56vh;
}

.footer {
  background-color: #333333;
  color: white;
  padding-top: 40px;
  font-family: "AlrightSans-Regular";
}

.inventables__footer__content .footer-block__heading {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.inventables__footer__content .link--text {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.inventables__footer__content .link--text:hover {
  font-weight: bold;
}

@media (max-width: 750px) {
  .inventables__footer__content .footer__blocks-wrapper {
    flex-direction: column;
  }

  .inventables__footer__content {
    width: 80%;
    margin: 0 auto;
  }

  .inventables__footer__content .footer-block {
    margin: 0 auto;
    width: 100%;
  }
}

@font-face {
  font-family: "AlrightSans-Bold";
  src: url("{{ 'AlrightSans-Bold.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-BoldItalic";
  src: url("{{ 'AlrightSans-BoldItalic.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-ExtraThin";
  src: url("{{ 'AlrightSans-ExtraThin.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-ExtraThinItalic";
  src: url("{{ 'AlrightSans-ExtraThinItalic.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-Light";
  src: url("{{ 'AlrightSans-Light.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-LightItalic";
  src: url("{{ 'AlrightSans-LightItalic.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-Medium";
  src: url("{{ 'AlrightSans-Medium.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-Regular";
  src: url("{{ 'AlrightSans-Regular.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-RegularItalic";
  src: url("{{ 'AlrightSans-RegularItalic.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-Thin";
  src: url("{{ 'AlrightSans-Thin.otf' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "AlrightSans-ThinItalic";
  src: url("{{ 'AlrightSans-ThinItalic.otf' | asset_url }}") format("[font-format]");
}
