#MainContent {
  min-height: 56vh;
}

.footer {
  background-color: #333333;
  color: white;
  padding-top: 40px;
}

.inventables__footer__content .footer-block__heading {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.inventables__footer__content .link--text {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.inventables__footer__content .link--text:hover {
  font-weight: bold;
}

@media (max-width: 750px) {
  .inventables__footer__content .footer__blocks-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .inventables__footer__content {
    width: 80%;
    margin: 0 auto;
  }

  .inventables__footer__content .footer-block {
    margin: 0 auto;
  }
}
