/* In Social - Custom */

.menu-drawer__navigation {
  padding-top: 0;
}

.menu-drawer__close-button {
  margin-top: 0;
}

.menu-drawer__inner-container {
  height: auto;
}

.megamenu__link-img {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.megamenu__link-img_img {
  max-width: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.megamenu__link-img_img img {
  width: 100%;
}

.megamenu__cat_wrap {
  overflow-x: auto;
  white-space: nowrap;
  padding: var(--grid-desktop-horizontal-spacing);
}

.megamenu__cat_wrap::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.megamenu__cat_wrap::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.megamenu__cat_wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.megamenu__cat_wrap::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.megamenu__cat_wrap::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

.megamenu__cat_item {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  text-align: center;
  width: 100%;
  margin-right: var(--grid-desktop-horizontal-spacing);
}

.megamenu__cat_item:last-child {
  margin-right: 0;
}

.megamenu__cat_item img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 990px) {
  .mega-menu__link--level-2 {
    font-size: 1.3rem;
  }
  
  .mega-menu__list:not(.mega-menu__list--condensed) .mega-menu__link--level-2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .mega-menu__content > div.has_megamenu_img {
    display: grid;
    grid-template-columns: 1fr 220px;
  }

  .megamenu__link-img_wrap,
  .megamenu__cat_menu {
    padding-top: 0;
  }
  
  .megamenu__link-img_wrap > ul {
    display: flex !important;
    width: 100%;
    justify-content: center;
  }

  .megamenu__cat_menu > div > ul {
    display: flex !important;
    gap: 2.4rem 2rem;
    padding-left: 0;
  }

  .megamenu__link-img {
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top: 0;
    padding-top: 0;
 
  }

  .megamenu__link-img_img {
    max-width: 150px;
  }

  .megamenu__cat_wrap {
    padding: 0;
  }

  .megamenu__columns {
    width: 125px;
  }
  
  .megamenu__columns[data-menu-col] {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    width: auto;
  }

  .megamenu__columns[data-menu-col="2"] > li {
    width: calc(50% - 2rem);
  }

  .megamenu__columns[data-menu-col="3"] > li {
    width: calc(33.3333% - 2rem);
  }
}