  @mixin animation-delay($delay: 15) {
      $t: 0;
      $i: -$delay;
      @while $i <= $delay/2 {
        &:nth-child(#{$t}) {
          animation-delay: $i+s;
        }
        $t: $t + 1;
        $i: $i + $delay/4;
      }
    }
  
  
  .container {
    width: 100%;
    position: relative;
    perspective: 3000px;
    padding: 100px;
    left: 22.5%;
  }
  
  #circ-caro-carousel {
    position: relative;
  
  }
  
  .circ-caro-img {
    display: block;
    animation: rotate 15000ms ease-in-out infinite;
    @include animation-delay;
    position: absolute;
    background-color: white;
    padding: 12em;
    text-align: center;
    min-width: 66%;
  
  
  
  
  
    
  }
  
  @keyframes rotate {
    0%, 20%, 96%, 100% {
      transform: rotateY(45deg) scale(.6);
      right: 0; 
      box-shadow: 0 0 10px rgba(black,.5);  
      z-index: -1;
      -webkit-filter: opacity(80%) blur(3px);
  
    }
   
    21%, 45% {
      transform: rotateY(0deg) scale(1);
      right: 40%; 
      box-shadow: 0 0 20px rgba(black,1);
      z-index: 100;
      -webkit-filter: opacity(100%) blur(0px);
  
    }
    
    
    46%,70% {
      transform: rotateY(-45deg) scale(.6);
      right: 81%; 
      box-shadow: 0 0 10px rgba(black,.5);
      z-index: -1;
      -webkit-filter: opacity(80%) blur(3px);
  
    }
  
    
    71%, 95% {
      transform: rotateY(-90deg) scale(.6);
      right: 80%; 
      box-shadow: 0 0 10px rgba(black,0);
      z-index: 0;
      -webkit-filter: opacity(0%) blur(0px);
    }
  
  }