.gallery {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.gallery .gallery-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.gallery .gallery-item {
  display: flex;
  width: 330px;
  height: 200px;
  background: var(--gradient-background);
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  border: 1px solid rgb(var(--color-base-text));
  border-radius: 20px;
}

.gallery .gallery-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .main-pos {
  margin-left: 0em !important;
  z-index: 3000;
}
.gallery .left-pos {
  opacity: .3;
  margin-left: -15em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}
.gallery .back-pos {
  margin-left: 0em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}
.gallery .right-pos {
  opacity: .3;
  margin-left:  15em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}


.gallery {
	width: 100%;
}

.gallery .gallery-item .media {
  width: 100%;
}

.gallery .gallery-item .media img {
  object-fit: contain;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

@media(max-width: 749px) {
  .gallery {
    min-height: 14rem;
  }
  .gallery .left-pos {
    margin-left: -10em!important;
  }
  .gallery .right-pos {
    margin-left: 10em !important;
  }
  .gallery .gallery-item {
    width: 200px;
    height: 140px;
  }
  /* .gallery .gallery-item  {
    width: 30vw;
  } */
}