.circle-carousel .carousel-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.circle-carousel .carousel-container ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.circle-carousel li img {
  width: 70%;
  object-fit: contain;
}
.circle-carousel li {
  display: flex;
  width: 300px;
  height: 200px;
  background: var(--brand-refresh-white);
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  border: 1px solid var(--brand-refresh-gray);
  border-radius: 20px;
}
.circle-carousel li p {
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  margin-top: 1.175em;
}
.circle-carousel .items {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-carousel .main-pos {
  margin-left: 0em !important;
  z-index: 3000;
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}
.circle-carousel .left-pos {
  opacity: .3;
  margin-left: -10em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}
.circle-carousel .back-pos {
  margin-left: 0em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}
.circle-carousel .right-pos {
  opacity: .3;
  margin-left:  10em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}
.circle-carousel span {
  position: relative;
  margin: 0 auto;
  left: 17em;
  top: 20em;
}

.circle-carousel {
	width: 100%;
}
.circ-caro-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  padding: 75px 0;
}

.circ-caro-carousel {
  width: 100%;
  position: relative;
}

.circ-caro-para {
	border: none;
	border-radius: 20px;
}

.circ-btn {
  margin: 30px 0;
  transition: .2s;
}
.circ-btn:hover {
  transform: scale(1.03);
}
.circ-btn a {
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}


@media(max-width: 1086px) {
  .circ-caro-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .circle-carousel .carousel-container {
    height: 25vh;
    margin: 0 auto;
    position: relative;
  }
  .circle-carousel li {
    width: 200px;
    height: 140px;
  }
  .circ-caro-carousel .circ-caro-img-container {
    width: 30vw;
  }
  .circ-btn {
    text-align: center;
  }
  .circ-caro-para {
    text-align: center;
  }
}