.k-announce {
  display: flex;
  align-items: center;
  justify-content: center;
}
.k-announce .announce-text p {
  margin: 0;
  text-align: center;
  padding: 0px 20px;
}
.k-announce a {
  text-decoration: none;
}
@media(max-width: 600px) {
  .k-announce .announce-text p {
    font-size: 18px;
  }
}
