.article-carousel {
  width: 100%;
  padding: 50px 0;
  border-radius: 20px;
}
.article-caro-container {
  width: 100%;
  padding: 30px;
}
.article-carousel .slick-prev {
  left: -5px;
}
.article-carousel .slick-next {
  right: -5px;
}
.article-carousel .slick-slide img {
  width: 95%;
  margin: 0 auto;
}
.article-carousel a {
  text-decoration: none;
  color: var(--brand-refresh-dark);
  font-size: 18px;
}
.article-carousel .article-box {
  text-align: center;
  padding: 10px;
}