.automate-image img {
    object-fit: contain !important;
}

.automate-item {
    padding: 3.5rem;
    height: 100%;
    --media-border-width: 0;
}

.automate-item h3 {
    margin-top: 0;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: 600;
}

.automate-content {
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.opener-side {
    position: absolute;
    bottom: 2.5rem;
    right: 3.5rem;
}

.content-automate {
    line-height: 1.2em;
}

.page-opener-item  button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: block;
}

.page-opener-item svg {
    display: block;
}

.modal-page {
    background: rgba(var(--color-foreground), 0.2);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
}

.modal-page[open] {
    opacity: 1;
    visibility: visible;
    z-index: 101;
}
  
/* .modal-page[open] .modal-page__content {
    animation: slide-top 1s ease both;
} */

.modal-page__content {
    background-color: rgb(var(--color-background));
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    max-width: 130rem;
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
    border-radius: 2rem;
}

.modal-page__toggle {
    align-items: center;
    background-color: rgb(234,234,234);
    border-radius: 50%;
    border: 0;
    color: rgba(var(--color-foreground), 0.55);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 1.2rem;
    position: sticky;
    right: 0.5rem;
    top: 2rem;
    width: 4rem;
    z-index: 999;
}

@keyframes slide-top {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(-20px);
    }
  }
  
@keyframes slide-top-only {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media screen and (min-width: 750px) {
    .modal-page__toggle {
        right: -53.7rem;
        top: 8rem;
    }
}

@media screen and (min-width: 990px) {
    .modal-page__toggle {
        right: -53.7rem;
        top: 8rem;
    }
}

.modal-page__toggle .icon {
    height: auto;
    margin: 0;
    width: 2.2rem;
}

.modal-page__content-info {
    height: calc(100% - 6rem);
    margin: 0 auto;
    padding-top: 2rem;
    width: calc(100% - 1rem);
}

@media screen and (min-width: 750px) {
    .modal-page__content-info {
        height: calc(100% - 7.5rem);
        padding-top: 2rem;
        width: calc(100% - 9.6rem);
    }
}

@media screen and (min-width: 990px) {
    .modal-page__content-info {
        height: calc(100% - 7rem);
        padding-top: 2rem;
        width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .modal-page__toggle {
        right: -37rem;
    }
}


@media (max-width: 989px) {
    .modal-page__content-info {
        width: 100% !important;
    }
    
    .modal-page__content {
        width:  calc(100% - 3rem) !important;
        top: 1rem;
    }
    .modal-page__toggle {
        right: -38vw;
        top: 2.5rem !important;
    }
}

@media (max-width: 749px) {
    .automate-item {
        max-width: 32rem;
        margin: auto;
    }
}