.bg-img-showcase {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: #fff;
  padding: 0 20px;
}
.bg-img-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: no-repeat center center/cover;
  z-index: -1;
}
.bg-img-video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(-50px, -60px);
}
.bg-img-container {
  position: relative;
  display: grid;
  color: #fff;
  background: no-repeat;
}
.bg-img-inner {
  position: relative;
  display: flex;
  padding: 55px 0;
  z-index: 2;
}
.bg-img-content-wrapper {
  display: flex;
  max-width: 700px;
  margin: 0 100px;
  z-index: 3;
}
.bg-img-content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.bg-img-header {
  margin: 0 auto 20px;
  width: 100%;
  line-height: 70px;
}
.bg-img-text {
  line-height: 35px;
  background: var(--brand-refresh-white-clear);
  padding: 40px;
  border-radius: 40px;
}
.bg-img-logo {
  width: 70%;
  margin: 0 auto;
}
.bg-img-logo img {
  max-width: 100%;
}
.bg-img-button {
  text-align: center;
  margin-top: 60px;
}
.bg-img-button a {
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
.bg-img a {
  color: var(--brand-refresh);
}
/* MEDIA QUERIES */
@media(max-width: 1515px) {
  .bg-img-video-container video {
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
  }
}
@media(max-width: 1280px) {
  .bg-img-inner {
    justify-content: center;
    padding-top: 0;
    height: 100%;
  }
  .bg-img-content {
    text-align: center;
  }
  .bg-img-logo {
    display: block;
  }
  .bg-img-text {
    font-size: 24px;
    margin-top: 40px;
  }
  .bg-img-button {
    margin-top: 35px;
  }
  .bg-img-button a {
    padding: 15px 35px;
  }
}
@media(max-width: 767px) {
  .bg-img-content-wrapper {
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media(max-width: 600px) {
  .bg-img-text {
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
  }
  .bg-img-header {
    font-size: 40px;
    line-height: 50px;
  }
  .bg-img-button {
    margin-top: 40px;
  }
  .bg-img-button a {
    padding: 10px 30px;
  }
}