.bullet-surround {
  width: 100%;
}
.bullet-surround .inner-content {
  width: 100%;
  height: 100vh;
  padding-top: 15px;
}
.bullet-surround .img-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 3;
}
.bullet-surround .img-container img {
  width: 20vw;
}
.bullet-surround .bullet-container {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 4;
}
.bullet-surround .bullets {
  text-align: center;
}
.bullet-surround .bullet-img {
  width: 100%;
  margin: 0 auto;
}
.bullet-surround .bullet-img img {
  width: 7vw;
  margin: 0 auto;
}
.bullet-surround .bullet-front {
  transition: ease-in-out;
}
.hubitat-green {
  filter: invert(53%) sepia(100%) saturate(600%) hue-rotate(37deg) brightness(102%) contrast(94%);
}
.hubitat-green-span {
  background-color: #81BB08 !important;
}
.ha-blue {
  filter: invert(72%) sepia(6%) saturate(3428%) hue-rotate(175deg) brightness(148%) contrast(80%);
}
.ha-blue-span {
  background-color: #72BFEC !important;
}

.bullet-surround .bullet-1 {
  align-self: start;
  grid-column: 2 / 3;
}
.bullet-surround .bullet-2 {
  align-self: start;
  grid-column: 3 / 4;
}
.bullet-surround .bullet-3 {
  grid-row: 4 / 2;
  justify-self: end;
}
.bullet-surround .bullet-4 {
  grid-row: 4 / 2;
  justify-self: start;
  grid-column: 4;
}
.bullet-surround .bullet-5 {
  grid-row: 5;
  grid-column: 2;
  align-self: end;
}
.bullet-surround .bullet-6 {
  grid-row: 5;
  grid-column: 3;
  align-self: end;
}
.bullet-surround .bullet-span {
  background-color: var(--brand-refresh-gray);
  padding: 3px 15px;
  border-radius: 20px;
  color: var(--brand-refresh-white);
  font-size: 17px;
}
.bullet-surround .hover-text {
  background-color: #81BB08;
  padding: 3px 15px;
  border-radius: 20px;
  color: var(--brand-refresh-white)
}
.bullet-surround .img-container-mobile {
  width: 50vw;
}
.bullet-surround .bullet-container-mobile ul {
  width: 67%;
  margin: 30px 0;
}
.bullet-surround .bullet-container-mobile li {
  margin: 15px auto;
  padding: 10px 15px;
  text-align: center;
  color: var(--brand-refresh-white);
  background: var(--brand-refresh-gray-clear);
  border-radius: 20px;
  font-size: 18px;
}
.bullet-surround .bullet-container-mobile {
  display: none;
}
/* MEDIA QUERIES */
@media(max-width: 1200px) {
  .bullet-surround .img-container img {
    width: 25vw;
  }
}
@media(max-width: 950px) {
  .bullet-surround .bullet-container {
    display: none;
  }
  .bullet-surround .inner-content {
    height: 100%;
  }
  .bullet-surround .img-container {
    display: none;
  }
  .bullet-surround .bullet-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bullet-surround .img-container-mobile img {
    width: 85%;
    margin: 0 auto;
    display: block;
  }
}
@media(max-width: 650px) {
  .img-container-mobile img {
    width: 100%;
  }
}