.click-icon-box img {
  width: 100%;
  padding: 20px;
}
.click-icons
  {
    width:100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .click-icons-container {
    width: 100%;
    margin-top: 20px
  }
  .click-icon-box .icon-img-container
  {
    width: 70%;
    margin: 0 auto;
  }
  .click-icon-box .click-icon-text
  {
    margin-bottom:20px;
  }
  .click-icon-box .icon-image-container {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 100%;
    max-width: 74px;
    max-height: 74px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    }
    .click-icons .click-image-box {
      width: calc(8% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
      max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    }
    .click-icons .click-icon-text p {
      text-transform: uppercase;
      max-width: 105px;
      margin: 0 auto;
    }
  @media (max-width:786px)
    {
      .click-icons .grid__item
      {
        padding:0px 27px 0 27px;
      }
      .click-icons .page-width
      {
        padding:0px;
      }
      .click-icons-section
      {
        margin:0px !important;
      }
    }