.comparison {
  
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  padding:50px 10px;
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  border: none;
  box-shadow: none;
}

.comparison table td {
  border: 1px solid #E8E8E8;
}

.comparison td,
.comparison th {
  border-right: 1px solid #E8E8E8;
  empty-cells: show;
  padding: 10px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  color: var(--brand-refresh-gray);
  font-size: 15px;
}

.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .far-left {
  border-top-left-radius: 5px;
}
.comparison .far-right {
  border-top-right-radius: 5px;
}

.comparison .compare-row {
  background: #F7F7F7;
}
.comparison .compare-row td:nth-child(even) {
  background: var(--brand-refresh-white);
}

.comparison .check {
  color: var(--brand-refresh);
}
.comparison .check span{
  font-size: 20px;
}
.table-container {
  width: 100%;
  overflow-x: scroll;
}
.comparison th {
  font-weight: normal;
  padding: 0;
  border-top: 0px solid #E8E8E8;
  border-bottom: 0px solid #E8E8E8;
}

.comparison tr td:first-child {
  text-align: left;
  padding: 15px;
  border-left: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
}

.comparison .product,
.comparison .tl {
  color: #FFF;
  padding: 10px;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .product {
  background-color: var(--brand-refresh);
  height: 40px;
}

.hide-border {
  border: none !important;
}

.comparison .product.prod-image{
  background-color: var(--brand-refresh-white);
  width: 17%;
  border: none;
  transition: .3s;
}
.comparison .product.prod-image:hover {
  transform: scale(.95);
}
.comparison .product.prod-image img{
  width: 100%;
}
.comparison .comp-learn-more td{
  color: rgb(var(--color-base-accent-1));
  font-weight: 700;
  transition: .2s;
}
.comparison .comp-learn-more td:hover{
  transform: scale(1.03);
}
.comparison .comp-learn-more a:visited{
  color: rgb(var(--color-base-accent-1));
}
.comparison .price-info {
  padding: 15px;
}

.comparison .price-now,
.comparison .price-now span {
  color: #808080;
}
.comparison .price-now span {
  font-family: var(--font-heading-family);
  font-size: 3rem;
  color: #545454;
}
.comparison .price-now p {
  text-align: center;
  line-height: 16px;
  display: inline;
}
.comparison .price-buy {
  background: #EC671A;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
.comparison .price-buy:hover {
  background: #E84D00;
}

.current-product {
  border-left: 2px solid rgb(var(--color-base-accent-1)) !important;
  border-right: 2px solid rgb(var(--color-base-accent-1)) !important;
}
.current-product-bottom {
  border-bottom: 2px solid rgb(var(--color-base-accent-1)) !important;
}

@media screen and (min-width: 721px) and (max-width: 1000px) {
  .table_ul li {
    letter-spacing: 0px;
  }
  .comparison .price-now span {
    font-size: 32px;
  }
  .comparison .price-now p {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .table_ul {
    padding: 0px;
  }
  .table_ul li {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 0;
  }
  .comparison {
    max-width: 100%;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }
  .comparison .row {
    background: #FFF;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
    border-top: none;
    padding: 10px;
  }
  .price-info {
    border-top: 0 !important;
    padding: 10px 0 !important;
  }
  .price-info p {
    line-height: 8px;
    font-size: 8px !important;
  }
  .comparison .compare-row {
    background: #ffffff;
  }
  .comparison .price-now p {
    display: block;
  }
  .comparison .price-now span {
    font-size: 24px;
  }
  .comparison .qbse {
    font-size: 1.2em;
  }
  .comparison td {
    font-size: 14px;
  }
  .comparison th {
    font-size: 14px;
  }
}