.faq {
  padding: 50px 0;
}
.faq-description {
  margin-top: 2em;
  margin-bottom: 2em;
}

.faq-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 12px var(--brand-refresh-gray);
}

.tab {
  width: 100%;
  color: var(--brand-refresh-white);
  overflow: hidden;
  background-color: var(--brand-refresh-background);
}

.tab-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  color:  var(--brand-refresh);
  border-bottom: 1px solid var(--brand-refresh-gray);
}

.tabs .tab:last-child label {
  border-bottom: none;
}

.tabs .tab:last-child .faq-checkbox:checked ~ label {
  border-bottom: 1px solid var(--brand-refresh-gray)
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  background-color: var(--brand-refresh-white);
  transition: all 0.5s ease;
  color: var(--brand-refresh-dark-gray);
}

.tab-content p {
  margin: 0;
}

.faq-checkbox:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.faq-title {
  text-align: center;
  font-size: calc(var(--font-heading-scale) * 2.4rem);
  margin-bottom: 70px;
}

@media (max-width: 786px) {
  .faq-container {
    padding: 0 20px;
  }
}