.features {
  padding: 50px 0;
}
.features-images {
  text-align: center;
}
.features-images img{
  width: 100%;
}

.features-bullets ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@media (max-width: 786px) {
  .features-images-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
  .features-bullets ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}