.features {
  padding: 50px 0;
}
.features-images {
  text-align: center;
}
.features-images img{
  width: 100%;
}

.features-bullets ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features-bullets li {
  list-style-type: disc;
  margin:0 20px;
  color: var(--brand-refresh);
  font-weight: 400;
}
.features-bullets li::marker {
  color: var(--brand-refresh);
}

@media (max-width: 786px) {
  .features-images-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
  .features-bullets ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}