.hero-showcase {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  color: var(--brand-refresh-white);
  padding: 0 20px;
}
.hero-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:var(--brand-refresh-white) no-repeat center center/cover;
  z-index: -1;
}
.hero-video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(-50px, -60px);
}
.hero-new-container {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  color: var(--brand-refresh-white);
  padding: 0 20px;
  background: center/cover no-repeat;
}
.hero-new-inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 55px 0;
  z-index: 2;
  height: 85vh;
}
.hero-new-content-wrapper {
  display: flex;
  align-items: center;
  max-width: 700px;
  height: 100%;
  margin: 0 100px;
  z-index: 3;
}
.hero-new-content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
}
.hero-new-header {
  margin: 0 auto 20px;
  width: 100%;
  line-height: 70px;
}
.hero-new-text {
  line-height: 40px;
}
.hero-2-logo {
  width: 100%;
}
.hero-new-button {
  text-align: center;
  margin-top: 60px;
}
.hero-new-button a {
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.hero-2-works-with {
  width: 60%;
  align-self: end;
  margin-right: 20px;
}
.hero-2-logo img {
  max-width: 100%;
}
.hero-2-works-with img {
  width: 100%;
  border-radius: 7px;
}
.hero-new .slick-dots {
  position: absolute;
}

.hero-new.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media(max-width: 1515px) {
  .hero-video-container video {
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
  }
}
@media(max-width: 820px) {
  .hero-new-content {
    text-align: center;
  }
  .hero-new-text {
    font-size: 24px;
    line-height: 25px;
  }
  .hero-new-header {
    font-size: 48px;
    line-height: 60px;
  }
  .hero-new-button {
    margin-top: 35px;
  }
  .hero-new-button a {
    padding: 15px 35px;
  }
}
@media(max-width: 767px) {
  .hero-new-content-wrapper {
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media(max-width: 600px) {
  .hero-new-text {
    font-size: 18px;
    line-height: 20px;
  }
  .hero-new-header {
    font-size: 40px;
    line-height: 50px;
  }
  .hero-new-button {
    margin-top: 40px;
  }
  .hero-new-button a {
    padding: 10px 30px;
  }
}