.k-hero .banner__heading {
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.2em;
}

.k-hero .banner .banner__box {
  --color-button-text: 255,255,255 !important;
  --color-foreground: var(--color-base-text) !important;
  --color-button: var(--color-base-accent-1) !important;
}

.k-hero .banner__buttons .button {
  font-weight: 700;
  --buttons-radius: 40px;
  --buttons-radius-outset: 40px;
  min-height: calc(6rem + var(--buttons-border-width) * 2);
  font-size: 3rem;
}

.content-color-accent-1 {
  --color-foreground: var(--color-base-accent-1);
}

.content-color-accent-2 {
  --color-foreground: var(--color-base-accent-2);
}

.content-color-dark-blue {
  --color-foreground: 34,56,129;
}

.content-color-white {
  --color-foreground: 255,255,255;
}

.k-hero .slideshow__text.banner__box {
  max-width: 66.5rem;
}

@media (min-width: 750px) {
  .k-hero .banner__buttons .button {
    font-size: 3rem;
    min-height: calc(6rem + var(--buttons-border-width) * 2);
  }
}

@media (max-width: 749px) {
  .bg-mobile-pos-left img {
    object-position: left center;
  }
  .bg-mobile-pos-right img {
    object-position: right center;
  }
}