.how-it-works-para p{
  padding: 0;
  margin: 30px 0px;
  font-weight: 400;
}
.how-it-works .contents {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}
.how-it-works .slide-image-box {
  width: 50%;
  margin: 0 auto;
}
@media(max-width: 786px) {
  .how-it-works .contents {
    flex-direction: column;
    row-gap: 15px;
    padding: 50px 20px;
    align-items: center;
  }
  .how-it-works .grid__item {
    width: 100%;
    max-width: 90%;
  }
}