.hide {
  display: none;
}
.home-overview {
  text-align: center;
}
.home-image-box {
  width: 100%;
  position: relative;
}
.home-overview .home-img-container {
  position: relative;
  max-width: 850px;
  margin: 0 auto;
}
.home-img-container > *:not(.home-img-bg) {
  position: absolute;
  width: 25px;
  height: 25px;
}
.home-overview .home-img-container img {
  width: 100%;
  display: block;
}
.home-overview p {
  padding: 0 34px;
}
 .home-garage {
  top: 200px;
  left: 204px;
}
.home-tablet {
  top: 344px;
  left: 294px;
}
.home-front-window {
  top: 467px;
  left: 279px;
}
.home-side-window {
  bottom: 238px;
  right: 205px;
}
.home-motion {
  top: 131px;
  right: 136px;
}
.home-slide-door {
  top: 54px;
  right: 270px;
}
.home-sink {
  top: 120px;
  right: 421px;
}
.home-logo {
  top: 177px;
  left: 325px;
}
.home-bath {
  top: 268px;
  right: 374px;
}
.home-overview .modal {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--brand-refresh-dark-gray);
  border-radius: 20px;
  padding: 23px;
  background-color: var(--brand-refresh-white);
  box-shadow: 0px 0px 10px var(--brand-refresh);
  transition: .4s;
}
.modal h4 {
  font-size: 28px;
  font-weight: 700;
}
.modal img {
  width: 70%;
  margin: 0 auto;
}
.modal.garage, .modal.tablet, .modal.front-window, .modal.logo {
  top: 15%;
  left: 50%;
}
.modal.sink, .modal.bath  {
  top: 15%;
  right: 60%;
}

.modal.slide-door, .modal.motion, .modal.side-window {
  top: 15%;
  right: 40%;
}

@media(max-width: 850px) {
  .home-overview .modal {
    display: none;
  }
}