.home-overview-content {
  text-align: center;
}
.home-overview .home-img-container {
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}
.home-overview img {
  width: 100%;
}
.home-image-box {
  width: 100%;
}
.home-image-box span {
  position: absolute;
}
.home-span-all {
  width: 100%;
}
.home-garage {
  top: 197px;
  left: 212px;
}
.home-tablet {
  top: 341px;
  left: 304px;
}
.home-front-window {
  top: 467px;
  left: 282px;
}
.home-side-window {
  bottom: 246px;
  right: 209px;
}
.home-motion {
  top: 127px;
  right: 142px;
}
.home-slide-door {
  top: 50px;
  right: 275px;
}
.home-sink {
  top: 116px;
  right: 430px;
}
.home-logo {
  top: 174px;
  left: 337px;
}
.home-bath {
  top: 266px;
  right: 382px;
}