.icon-w-bul {
  padding: 50px 0;
}
.icon-w-bul-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 50px;
}
.icon-main-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid var(--brand-refresh-gray);
  border-radius: 20px;
}
.icon-w-bul-icon .block-icon {
  width: 60%;
  margin: 0 auto 15px;
}
.icon-w-bul-icon .block-icon img {
  width: 100%;
}
.icon-w-bul-icon {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}
.icon-text {
  line-height: 25px;
}
.icon-text p {
  margin-bottom: 0;
}
.icon-w-bul-list {
  display: grid;
  grid-template-rows: 1fr;
}
.icon-w-bul-list .checkmark {
  width: 5%;
}
.icon-w-bul-list li {
  list-style: none;
  padding: 0 0 0 5px;
  font-weight: 400;
  margin-bottom: 2px;
}
.icon-w-bul .safety-warning {
  display: flex;
  align-items: center;
  background-color: #ff9;
  gap: 20px;
  padding: 5px 30px;
  border-radius: 20px;
}
.icon-w-bul .warning-icon svg {
  height: 7rem;
  vertical-align: text-top;
}
.icon-w-bul .warning-icon path {
  fill: var(--brand-dark-grey)
}

.icon-w-bul h3 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
}
.icon-w-bul .warning-description p {
  font-size: 1.1rem;
}
@media(max-width: 786px) {
  .icon-main-grid {
    grid-row: 1;
  }
  .icon-w-bul-content-container {
    grid-row: 2;
  }
  .icon-w-bul-container {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media(max-width: 650px) {
  .icon-main-grid {
  grid-template-columns: repeat(2, 1fr);
  }
  .icon-w-bul-icon {
    width: 33%;
  }
}