.icon-w-bul .grid {
  --grid-desktop-horizontal-spacing: 50px;
  --grid-mobile-vertical-spacing: 40px;
}

.icon-main-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid rgb(var(--color-base-text));
  border-radius: 20px;
}
.icon-w-bul-icon .block-icon {
  width: 70px;
  height: 70px;
  max-width: 100%;
  margin: 0 auto 15px;
  border-radius: 50%;
  background-color: var(--icon-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-w-bul-icon .block-icon img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.icon-w-bul-icon {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}

.icon-w-bul-list {
  padding-left: 0;
}

.icon-w-bul-list .checkmark {
  width: 5%;
}
.icon-w-bul-list li {
  list-style: none;
  padding: 0 0 0 5px;
  font-weight: 400;
  margin-bottom: 2px;
}
.icon-w-bul .safety-warning {
  display: flex;
  align-items: center;
  background-color: #ff9;
  gap: 20px;
  padding: 5px 30px;
  border-radius: 20px;
}
.icon-w-bul .warning-icon svg {
  height: 7rem;
  vertical-align: text-top;
}
.icon-w-bul .warning-icon path {
  fill: rgb(var(--color-base-text));
}

.icon-text small {
  line-height: 1.2em;
  display: block;
}

.icon-w-bul .warning-description p {
  font-size: 1.1rem;
}

.icon-w-bul .title-wrapper-with-link {
  align-items: flex-start;
}

.icon-w-bul .title-wrapper-with-link {
  margin: 0rem 0 2rem;
}

@media(max-width: 749px) {
  .icon-main-grid {
    padding: 0;
    justify-content: center;
  }
  .icon-w-bul-icon {
    width: 33%;
  }
}