.img-with-copy .img-container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.img-with-copy img {
  width: 100%;
  object-fit: cover;
}
.img-with-copy .img-with-copy-text {
  max-width: 1400px;
  width: 85%;
  height: 40%;
  padding: 50px 0 65px;
  margin: 0 auto;
  text-align: center;
}
.img-with-copy-para {
  color: var(--brand-refresh-dark-gray);
}
.img-with-copy-para a {
  color: var(--brand-refresh);
}