.k-image-banner .banner--desktop-transparent .banner__box {
    --color-button: var(--color-base-accent-1) !important;
    --color-button-text: 255,255,255 !important;
    --buttons-shadow-blur-radius: 50px;
    --buttons-radius-outset: 50px;
    --buttons-radius: 50px;
}

.k-image-banner .dark-text .banner__box {
    --color-foreground: var(--color-base-text) !important;
}

.k-image-banner .banner__text {
    line-height: 1.3em;
}

.k-image-banner .banner__heading {
    line-height: 1.2em;
}

.k-image-banner .banner__text {
    color: rgb(var(--color-foreground));
}

.k-image-banner .banner__box .banner__heading+* {
    margin-top: 1.3rem;
}
 
.k-image-banner .banner__box>*+.banner__buttons {
    margin-top: 3rem;
}

.k-image-banner .banner__buttons .button--primary {
    min-width: calc(18rem + var(--buttons-border-width) * 2);
}

.k-image-banner .image-with-text__media-item.full-width-text .banner__box {
    max-width: 75rem;
    margin: auto;
}


.k-image-banner .vector-k-banner {
    position: absolute;
    width: 100%;
    max-width: 35rem;
    z-index: 2;
}
.k-image-banner .vector-k-banner.vec-1 {
    right: 2rem;
    top: 0;
}

.vec-2 {
    bottom: -5rem;
    left: 2rem;
    height: auto;
}
.k-image-banner .top-image {
    max-width: 10rem;
    margin: auto;
}

.k-image-banner .banner {
    height: 100%;
    overflow-y: hidden; 
}

.k-image-banner .banner:after {
    content: unset !important;
}

@media (min-width: 1440px) {
    .k-image-banner .image-with-text__text-image .media {
        padding-bottom: 60% !important;
        min-width: 74rem;
        left: -11rem;
    }
    .k-image-banner .image-with-text__text-image .media img {
        object-fit: contain;
    }
}

@media (min-width: 750px) {
    .k-image-banner .banner__text {
        font-size: 1.735rem;
    }
    .k-image-banner .wrap-text {
        max-width: 35rem;
    }
    .k-image-banner .image-with-text__media-item {
        width: calc(47% - var(--grid-desktop-horizontal-spacing) / 2);
    }
    .k-image-banner .image-with-text__text-image {
        width: calc(53% - var(--grid-desktop-horizontal-spacing) / 2);
    }

    .k-image-banner .banner__content.banner__content--middle-left .banner__box {
        padding-left: 0;
    }

    .k-image-banner .banner--content-align-left.banner--desktop-transparent .banner__box {
        max-width: 100%;
    }
}

@media (max-width: 749px) {

    .k-image-banner .vector-k-banner {
        max-width: 16rem;
    }
    .k-image-banner .vector-k-banner.vec-1 {
        top: -3rem;
    }
    .k-image-banner .banner__box>*+.banner__buttons {
        margin-top: 1.5rem;
    }
    .k-image-banner .banner__heading {
        font-size: calc(var(--font-heading-scale) * 3.5rem);
    }
    .k-image-banner .image-with-text__text-image {
        padding-bottom: 3rem;
    }
}