.img-carousel-wrapper {
  padding-bottom: 50px;
}
.img-carousel-card {
  width: 100%;
  padding: 0 2px;
}
.img-carousel-img-container {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.img-carousel-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-carousel-text {
  padding: 20px;
  text-align: center;
}
.img-carousel-text h5 {
  font-size: 20px;
  margin: 0 0 6px;
}
.img-carousel .slick-dots {
  position: static !important;
}
.img-carousel .slick-next {
  right: 16px;
}
.img-carousel .slick-prev {
  left: 16px;
}
@media(max-width: 786px) {
  .img-carousel.contents .page-width {
    padding-left: 30px;
    padding-right: 30px;
  }
  .img-carousel-img-container {
    width: 90%;
    margin: 0 auto;
  }
}