
.img-with-header-hero-container {
  position: relative;
  height: 90vh;
  display: table;
  width: 100%;
  background: center/cover no-repeat;
}
.img-with-header-content-inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 55px 0;
  z-index: 2;
  height: 100%;
}
.img-with-header-wrapper {
  width: 67%;
}
.img-with-header-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  align-items: center;
  margin-left: 40px;
  height: 100%;
  grid-auto-rows: minmax(115px, auto);
}
.img-with-header-content span{
  color: white;
  background: var(--brand-refresh-gray-clear);
  box-shadow: 1px 1px 10px 1px gray;
  padding: 5px 15px;
  border-radius: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img {
  width: 100%;
}
.circle-bullet {
  justify-self: center;
  background: none !important;
  box-shadow: none !important;
}
.bullet {
  align-self: end;
  justify-self: end;
}
.bullet:nth-child(2) {
  align-self: start;
  justify-self: center;
}
.bullet:nth-child(3) {
  justify-self: start;
}
.bullet:nth-child(4) {
  align-self: center;
  justify-self: start;
}
.bullet:nth-child(5) {
  align-self: start;
  justify-self: end;
}
.bullet:nth-child(6) {
  align-self: center;
  justify-self: end;
}
.bullet:nth-child(7) {
  align-self: start;
  justify-self: end;
}
.blank-bullet {
  background: none !important;
  box-shadow: none !important;
}
.img-with-header-content-alt {
  display: none;
}
.img-with-header-content-alt ul li {
  margin: 15px auto;
  padding: 10px 15px;
  text-align: center;
  color: var(--brand-refresh-white);
  background: var(--brand-refresh-gray-clear);
  border-radius: 20px;
}
.image-mobile-container {
  width: 80%;
  margin: 0 auto 30px;
}
.image-mobile-container img {
  width: 100%;
}
.img-with-header ul {
  padding: 0;
}

/* Animation */

.fadeInLeft {
  -webkit-animation: fadeInLeft 2s both; /* Safari 4+ */
-moz-animation: fadeInLeft 2s both; /* Fx 5+ */
-o-animation: fadeInLeft 2s both; /* Opera 12+ */
animation: fadeInLeft 2s both; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes fadeInLeft {
  0% {
    opactiy: 0;
    -webkit-transform: translateX(-100px);
  }
  100% {
    opactiy: 1;
    -webkit-transform: translateX(0px);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opactiy: 0;
    -moz-transform: translateX(-100px);
  }
  100% {
    opactiy: 1;
    -moz-transform: translateX(0px);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opactiy: 0;
    -o-transform: translateX(-100px);
  }
  100% {
    opactiy: 1;
    -o-transform: translateX(0px);
  }
}
@keyframes fadeInLeft {
  0% {
    opactiy: 0;
    transform: translateX(-100px);
  }
  100% {
    opactiy: 1;
    transform: translateX(0px);
  }
}
.fadeInTop {
-webkit-animation: fadeInTop 2s both; /* Safari 4+ */
-moz-animation: fadeInTop 2s both; /* Fx 5+ */
-o-animation: fadeInTop 2s both; /* Opera 12+ */
animation: fadeInTop 2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInTop {
0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
}
}

@-moz-keyframes fadeInTop {
0% {
    opacity: 0;
    -moz-transform: translateY(-100px);
}
100% {
    opacity: 1;
    -moz-transform: translateY(0);
}
}

@-o-keyframes fadeInTop {
0% {
    opacity: 0;
    -o-transform: translateY(-100px);
}
100% {
    opacity: 1;
    -o-transform: translateY(0);
}
}

@keyframes fadeInTop{
0% {
    opacity: 0;
    transform: translateY(-100px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
.fadeInRight {
-webkit-animation: fadeInRight 2s both; /* Safari 4+ */
-moz-animation: fadeInRight 2s both; /* Fx 5+ */
-o-animation: fadeInRight 2s both; /* Opera 12+ */
animation: fadeInRight 2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInRight {
0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
}
}

@-moz-keyframes fadeInRight {
0% {
    opacity: 0;
    -moz-transform: translateX(100px);
}
100% {
    opacity: 1;
    -moz-transform: translateX(0);
}
}

@-o-keyframes fadeInRight {
0% {
    opacity: 0;
    -o-transform: translateX(100px);
}
100% {
    opacity: 1;
    -o-transform: translateX(0);
}
}

@keyframes fadeInRight {
0% {
    opacity: 0;
    transform: translateX(100px);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}

/* MEDIA QUERIES */
@media (max-width: 950px){
  .img-with-header-content-inner {
  justify-content: center;
}
.img-with-header-content-alt {
  display: block;
}
.img-with-header-content {
  display: none;
}
}