.star-gradients {
    max-width: 10rem;
    margin-bottom: 2rem;
}

.star-gradients img {
    display: block;
    max-width: 100%;
}

.client-content {
    border-radius: 15px;
    background: #FFF;
    box-shadow: 7px 10px 49.8px 0px rgba(86, 188, 249, 0.25);
    padding: 3.5rem;
    margin: 2rem 0 4rem;
    font-size: 14px;
    transition: all ease .2s;
}


.materialize-slider .slider-button {
    background: rgb(var(--color-base-accent-1));
    color: rgb(var(--color-background)) !important;
}

.content-client {
    max-width: 40rem;
}


.client-header h3 {
    margin: 0 0 1.5rem;
}

.client-row {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.client-row > div:first-child {
    width: calc(35% - 3rem / 2);
    max-width: calc(35% - 3rem / 2);
}

.client-row > div:last-child {
    width: calc(65% - 3rem / 2);
    max-width: calc(65% - 3rem / 2);
}


.materialize-slider .slider:before {
    padding-left: 50%;
    content: '';
    position: relative;
    display: block;
}

.materialize-slider .slider__slide:last-child {
    margin-right: 50%;
}

@media screen and (min-width: 990px) {
    
    .materialize-slider .grid__item:not([aria-hidden="false"]) .client-content {
        transform: scale(.9);
    }

    .materialize-slider .grid__item {
        width: calc(85rem - var(--grid-desktop-horizontal-spacing)* 2 / 3);
        max-width: calc(85rem - var(--grid-desktop-horizontal-spacing)* 2 / 3);
    }
    /* .materialize-slider .grid__item[aria-hidden="false"] .client-content {
        margin: 2rem 2rem 4rem;
    } */
    .materialize-slider .slider:before {
        padding-left: 28rem;
    }
    
    .materialize-slider .slider__slide:last-child {
        margin-right: 28rem;
    }
    
    .materialize-slider .slider {
        align-items: flex-end;
    }

    .materialize-slider .slider__slide:first-child {
        margin-left: 0;
    }
    .materialize-slider .show-arrows .slider-button--next {
        right: 15rem;
    }
    .materialize-slider .show-arrows .slider-button--prev {
        left: 15rem;
    }
}
@media (max-width: 749px) {
    .client-content {
        padding: 1.5rem;
    }
    .client-row > div {
        width: 100% !important;
        max-width: 100% !important;
    }

    .materialize-slider .grid__item {
        width: 75%;
        max-width: 75%;
    }
    .materialize-slider .show-arrows .slider-button--next {
        right: 1.5rem !important;
    }
    .materialize-slider .show-arrows .slider-button--prev {
        left: 1.5rem !important;
    }
}