.num-counter .content-container {

}
.num-counter .content-container p {
  color: var(--brand-refresh-dark-gray);
}
.num-counter .counter-image {
  justify-self: center;
  overflow: hidden;
  border-radius: 10px;
}
.num-counter .counter-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.num-counter .counter-text-container {
  width: 100%;
}
.num-counter .counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}
.num-counter .counter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.num-counter .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.count-num-container {
  height: 10vh;
}
.counter-text-container {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.counter-image {
  height: 10vh;
}
.num-counter h1 {
  color: var(--brand-refresh);
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
.num-counter span.counter-text {
  font-weight: 400;
  margin: 10px 0 0;
}
.num-counter .progress {
  background: white;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 35px;
  width: 300px;
  border: 2px solid black;
}
.num-counter .progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  background: var(--brand-refresh);
  height: 20px;
  width: 0;
}
.progress-animation {
  animation: load 3s normal forwards;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* MEDIA QUERIES */
@media(max-width: 1280px) {
  .num-counter .content-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    gap: 5px;
    padding: 0 0 50px;
  }
  .num-counter .counter-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .num-counter .img-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 45vw;
  }
  .num-counter .paragraph {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    margin-top: 25px;
  }
}


@media(max-width: 800px) {
  .num-counter .content-container {
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
  }
  .num-counter .img-container {
    width: 75vw;
  }
  .num-counter h1 {
    font-size: 100px;
  }
  .num-counter span.counter-text {
    font-size: 24px;
  }
  .num-counter .progress {
    height: 30px;
    width: 225px;
  }
  .num-counter .progress-value {
    height: 17px;
  }
}
@media(max-width: 600px) {
  .num-counter {
    padding-bottom: 20px;
  }
  .num-counter .content-container p {
    font-size: 18px;
  }
  .img-below-container {
    margin: 30px auto 0;
  }
}