.num-counter .heading {
  margin: 0;
}
.num-counter .counter-text p {
  margin: 0;
}
.num-counter .counter-image {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 16px;
  width: 50%;
  height: 50%;
}
.num-counter .counter-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.num-counter .counter-text-container {
  width: 100%;
}
.num-counter .counter-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  margin: 30px auto;
  gap: 20px;
}
.num-counter .counter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.num-counter .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.count-num-container {
  height: 10vh;
}
.counter-text-container {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.counter-image {
  height: 10vh;
}
.num-counter .numbers {
  color: var(--brand-refresh);
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}
.num-counter span.counter-text {
  font-weight: 400;
  margin: 10px 0 0;
}
.num-counter .progress {
  background: white;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 35px;
  width: 300px;
  border: 2px solid black;
}
.num-counter .progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  background: var(--brand-refresh);
  height: 20px;
  width: 0;
}
.num-counter .progress-animation {
  animation: load 3s normal forwards;
}
.num-counter div:empty {
  display: block;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* MEDIA QUERIES */

@media(max-width: 1000px) {
  .num-counter .counter-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 786px) {
  .num-counter .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 500px) {
  .num-counter .counter-container {
    grid-template-columns: repeat(1, 1fr);
  }
}