.grid.sub-grid {
    --grid-desktop-horizontal-spacing: 75px;
}

.p-0 {
    padding: 0 !important;
}

.tab-flex {
    position: relative;
    display: flex;
    padding: 1.8rem;
    gap: 10px;
    border: 1px solid #D9D9D9;
}

.no-aspect img,.placeholder-tab-img svg {
    max-height: 60px;
    width: auto;
    border-radius: 0;
    max-width: 100%;
    height: auto;
}
.placeholder-tab-img {
    position: relative;
    max-width: 60px;
}

.no-aspect .logo-link:before,.placeholder-tab-img  .logo-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.placeholder-tab-img svg {
    display: block;
}

.tab-flex a:not(.logo-link) {
    display: block;
    text-align: right;
    text-decoration: none;
    position: absolute;
    bottom: 1.8rem;
    right: 2rem;
    line-height: 1.2em;
}

.tab-detail:not(:last-child) {
    margin-bottom: 2rem;
}

.tab-flex:not(:last-child):not(.installers-column .tab-flex) {
    margin-bottom: 2rem;
}

.tab-flex .title {
    margin: 0;
    line-height: 1.2em;
}

.tab-flex>div {
    flex: 0 1 auto;
    max-width: 100%;
}

.installers-column .tab-flex .t-flex-column:first-child {
    flex: 0 calc(15% - 5px);
}

.installers-column .tab-flex .t-flex-column:last-child {
    flex: 0 calc(85% - 5px);
    padding-right: 3rem;
}

.sub-grid .title-wrapper-with-link {
    gap: 0;
    margin-bottom: 2.5rem;
}

.grid.sub-grid {
    --grid-desktop-horizontal-spacing: 75px;
    --grid-mobile-vertical-spacing: 50px;
}

.description-column {
    line-height: 1.2em;
}

.description-column {
    font-size: 1.3rem;
}


.tab__content {
    border: 1px solid #D9D9D9;
    width: 100%;
    padding: 2rem;
    overflow: hidden !important;
}

.tab-detail[open] summary {
    display: none;
}

.tab__content .button {
    font-size: 1.5rem;
}

.tagline {
    margin-bottom: 1rem;
}

.close-tab svg {
    width: 2rem;
    height: 2rem;
    display: block;
}

.close-tab {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 3;
}

.tab-detail .icon-caret {
    position: absolute;
    height: 1.3rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.tab-detail[open] {
    position: relative;
    z-index: 2;
}

.tab-logo {
    margin: 1.5rem 0;
}

.tab__content .title {
    margin: 0;
    line-height: 1em;
    padding-right: 3rem;
}

.list-style-type li {
    list-style: disc;
}

.tab__content .list-style-type {
    margin: 1rem 0 2rem;
    padding-left: 2.5rem;
    line-height: 1.2em;
}

.service-area {
    margin-bottom: 1rem;
}

.hubspot-form-wrapper {
    z-index: 2;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    position: relative;
}

.hubspot-form-wrapper iframe {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 990px) {
    .main-title {
        margin: 5rem 0 3rem;
    }
    .installers-column .tab-flex {
        position: relative;
        display: flex;
        padding: 1.8rem;
        gap: 20px;
        border: 1px solid #D9D9D9;
    }
}


@media (min-width: 750px) {
    .block-title {
        font-size: calc(var(--font-heading-scale) * 3.2rem);
    }
}

@media (max-width: 749px) {
    .installers-column .tab-flex .t-flex-column:last-child {
        padding-right: 2.5rem;
    }
    main {
        z-index: 2;
    }
    .tab-flex,.tab__content {
        padding: 2rem;
        --media-radius: 10px;
    }
    .tab-flex a {
        bottom: 1rem;
    }
    .no-aspect.landscape-ratio {
        max-width: 250px;
    }

    .no-aspect.square-ratio {
        max-width: 125px;
    }

    .link-max {
        max-width: 215px;
    }

    .placeholder-tab-img svg {
        max-height: 60px;
    }
}