.phones-carousel .phones-container {
  max-width: 1400px;
  margin: 0 auto;
}

.phones-carousel .image-card {
  height: 520px;
  background: var(--brand-refresh-white);
  overflow: hidden;
  border: 1px solid var(--brand-refresh-gray);
  border-radius: 10px;
  margin: 0 25px 60px;
}
.phones-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-card-content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--brand-refresh-dark-gray);
}
.phones-carousel .image-card-content {
  padding: 10px 20px;
}
.phones-carousel .slick-dots {
  position: static !important;
  padding-bottom: 30px;
}
.phones-carousel .slick-dots li button {
  color: #818181;
}


/* MEDIA QUERIES */

@media(max-width: 992px) {
  .phones-carousel .image-card {
    height: 460px;
  }
}

@media(max-width: 786px) {
  .phones-carousel .image-card {
    height: 400px;
  }
}
@media(max-width: 650px) {
  .phones-carousel .image-card {
    height: 650px;
  }
}
@media(max-width: 600px) {
  .phones-carousel .image-card {
    height: 550px;
    margin: 0 50px;
  }
  .phones-carousel .slick-next {
    right: 16px;
  }
  .phones-carousel .slick-prev {
    left: 16px;
  }
}