.platforms-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.platforms-img-container {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  transition: .4s;
  background-color: var(--brand-refresh-white);
}
.platforms-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
}
.platforms-img-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px var(--brand-refresh-gray);
}
@media(max-width: 786px){
  .platforms-images {
  grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 600px) {
  .logo-box .logo-container {
  grid-template-columns: repeat(1, 1fr);
  }
}