.popover-image {
    max-width: 3.5rem;
    margin: 0 0 1.5rem;
}

.popover-item {
    max-width: 30rem;
    margin: auto;
}

.popover-item .rte {
    line-height: 1.2em;
}

.popover-image img {
    object-fit: contain;
}

.popover-item h3 {
    margin: 0 0 0.5rem;
}


.popover-button {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    --buttons-shadow-blur-radius: 8px;
    --buttons-radius-outset: 8px;
    --buttons-radius: 8px;
}

.icon-circle-check svg {
    display: block;
    position: absolute;
    left: 0;
    width: 1.8rem;
}

.button--popover-wrap {
    position: relative;
    margin-top: 1.5rem;
}

.popover-container {
    z-index: 4;
    position: relative;
}

.popover-block {
    box-shadow: 0px 4px 20px -5px #0000004D;
    padding: 2.3rem;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 33rem;
    max-width: 33rem;
    z-index: -1;
    visibility: hidden;
    text-align: left;
}

.button--popover-wrap.active .popover-block {
    z-index: 4;
    opacity: 1;
    visibility: visible;
}
.popover-button .icon-down {
    transition: all ease .3s;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.button--popover-wrap.active .popover-button .icon-down {
    transform: translateY(-50%) rotate(-180deg);
} 

.popover-block li {
    position: relative;
    padding-left: 3.3rem;
    margin-bottom: 1.5rem;
    line-height: 1.2em;
    top: 0.1rem;
}
.popover-block li:last-child {
    margin-bottom: 0;
}

.link.learn-more-pop:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    background: rgb(var(--color-base-accent-1))!important;
    height: 1.5px;
    width: 100%;
}

.learn-more-pop {
    margin: 0 !important;
    position: relative;
    text-decoration: none;
}

.popover-section .grid-desktop {
    --grid-desktop-vertical-spacing: 60px;
}

@media (min-width: 750px) {
    .popover-section slideshow-component {
        overflow: visible;
    }

    .grid-desktop {
        flex-wrap: wrap !important;
        overflow-y: unset !important;
        overflow-x: unset !important;
    }
}

@media (max-width: 1200px) {
    .popover-block {
        min-width: 25rem;
    }
}
@media (max-width: 749px) {
    .popover-section .grid__item:nth-child(even) .popover-block {
        left: auto;
        right: 0;
    }
    .popover-block li {
        font-size: 1.4rem;
    }
    .popover-item {
        text-align: center;
    }
    .popover-image {
        margin-left: auto;
        margin-right: auto;
    }
    .popover-section .slideshow__slide {
        width: 100%;
        max-width: 100%;
    }
}