.purchase-links {
  width: 100%;
  padding-bottom: 80px;
}
.purchase-main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}
.purchase-product {
  width: 50%;
}
.purchase-img-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase-product img {
  width: 20vh;
}
.purchase-product-content {
  height: 10vh;
  display: flex;
  flex-direction: column;
}
.purchase-button {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: end;
  margin-top: 20px;
}
.purchase-button a {
  width: 100%;
}
.purchase-product a button {
  background: var(--brand-refresh);
  color: var(--brand-refresh-white);
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  box-shadow: 1px 1px 10px 1px var(--brand-refresh-gray)
}
.purchase-product h5 {
  color: var(--brand-refresh-dark-gray);
  margin: 20px auto 0;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  line-height: 25px;
}
.purchase-product p {
  color: var(--brand-refresh-gray);
  margin: 5px auto;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}

/* MEDIA QUERIES */
@media(max-width: 1000px) {
  .purchase-main-content {
    padding: 0 70px;
  }
  .purchase-product h5 {
    margin: 45px auto 0;
    font-size: 24px;
  }
  .purchase-product p {
    margin: 30px auto;
    font-size: 20px;
  }
  .purchase-product a button {
    width: 90%;
    font-size: 25px;
  }
}
@media(max-width: 800px) {
  .purchase-main-content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-items: center;
    padding: 0 30px;
    text-align: center;
  }
  .purchase-img-container {
    height: 100%;
  }
  .purchase-product h5 {
    margin: 45px auto 0;
    font-size: 24px;
  }
  .purchase-product p {
    margin: 30px auto;
    font-size: 20px;
  }
  .purchase-button {
    margin-top: 0;
  }
  .purchase-product a button {
    font-size: 24px;
  }
}
@media(max-width: 600px) {
  .purchase-product {
    width: 100%;
  }
  .purchase-product h5 {
    margin: 20px auto 0;
    font-size: 24px;
  }
  .purchase-product p {
    margin: 30px auto;
    font-size: 20px;
  }
  .purchase-product a button {
    width: 80%;
  }
}