.quiz button {
  padding: 10px 25px;
  border-radius: 31px;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 700;
  border: none;
  transition: .2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.quiz button:hover {
  transform: scale(1.03);
}
.octane-ai-quiz-rendered {
  width: 100%;
}
.quiz h3 {
  margin: 0;
  color: var(--brand-refresh-dark);
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
}
.quiz h4 {
  margin: 15px 0;
  color: var(--brand-refresh-dark);
  font-weight: 400;
  font-size: 20px;
  font-weight: 300;
}
.quiz-close {
  display: none;
}
