.quick-buy {
  padding: 50px 0;
}

.quick-variants form {
  width: 100%;
}

.product-title h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.quick-product-box .price {
  margin-bottom: 1.5rem;
}

.quick-product-box .product-form__submit {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.6rem;
  min-height: calc(3.5rem + var(--buttons-border-width) * 2);
}

.quick-product-box {
  display: grid;
  height: 100%;
  grid-template-rows: minmax(0,1fr) max-content auto;
}

@media (min-width: 750px) {
  .quick-product-box .product-form__submit {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}