.quick-buy {
  padding: 50px 0;
}
.quick-buy img {
  width: 100%;
}
.quick-buy h2 {
  font-size: 28px;
}
.quick-variants {
  display: flex;
}
.quick-product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
}
.quick-variants form {
  width: 100%;
}
.quick-buy .product-price__sale-label {
  color: var(--brand-cta-green);
  font-size: 1.4rem;
  font-style: italic;
  vertical-align: text-bottom;
}

@media (max-width: 786px) {
  .quick-variants {
    flex-wrap: wrap;
  }
  .quick-product-box {
    width: 50%;
  }
}