.k-qualities .content-container {
    width: 100%;
}

.k-qualities .banner__heading {
    margin-top: 0;
}
.quality-inner h3 {
    margin: 0;
}

.k-qualities .banner__text {
    margin-top: 1rem;
}
.grid-qualities {
    display: grid;
}
@media (min-width: 750px) {
    .k-qualities .banner__content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .grid-qualities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }
    .quality-item {
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        min-height: 26rem;
    }
    .quality-inner {
        padding: 3.5rem 3.5rem;
        width: 100%;
    }
    .quality-item h3 {
        color: var(--text-color);
        margin-bottom: 2rem;
        max-width: 13rem;
    }

    .divider-quality {
        width: 40px;
        height: 3px;
        display: block;
        background-color: var(--divider-color);
    }

    .k-qualities .grid__item:first-child {
        width: calc(33.3% - var(--grid-desktop-horizontal-spacing) / 2);
    }
    .k-qualities .grid__item:last-child {
        width: calc(66.7% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}


@media (max-width: 989px) and (min-width: 750px) {
    .vector-image-grid.vctr-4 {
        top: 50%;
        right: 0rem !important;
    }
    .vector-image-grid.vctr-5 {
        right: 0rem !important;
    }
    .vector-image-grid.vctr-3 {
        right: 0rem !important;
    }

    .banner__content .page-width {
        padding: 0;
    }
}
@media (max-width: 749px) {
    .grid-qualities {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        margin-top: 1.5rem;
    }
    .quality-item h3 { 
        font-size: 1.5rem;
        letter-spacing: .06rem;
        line-height: 1.2em;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        position: relative;
        padding-left: 1.5rem;
    }
    .quality-item h3:before {
        content: '';
        height: 12px;
        width: 3px;
        background-color: var(--dash-color);
        position: absolute;
        left: 0;
        top: 3px; 
        display: block;
    }
}