.quick-buy {
  padding: 50px 0;
}
.quick-buy img {
  width: 100%;
}
.quick-variants {
  display: flex;
}
.quick-product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
}
.product-title {
  background-color: var(--brand-refresh-dark);
  width: 100%;
}
.product-title h3 {
  color: var(--brand-refresh-white);
}
.quick-buy-description {
  margin: 35px 0;
}
.product-add .atc {
  border: none;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--brand-refresh);
  color: var(--brand-refresh-white);
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  font-weight: 700;
  letter-spacing: normal;
  transition: .5s ease;
}
.product-add .atc:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 5px var(--brand-refresh);
}
.quick-variants form {
  width: 100%;
}

@media (max-width: 786px) {
  .quick-variants {
    flex-wrap: wrap;
  }
  .quick-product-box {
    width: 50%;
  }
}