.integration-logos {
  padding: 50px 0;
}
.integration-logos h2 {
  font-size: calc(var(--font-heading-scale) * 2.4rem);
  margin-bottom: 50px;
  text-align: center;
}
.logo-box .logo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.solo-logo .img-container {
  width: 100%;
  height: 20vh;
  border: 0.25px solid var(--brand-refresh-gray);
  border-radius: 20px;
  transition: .4s;
}
.solo-logo .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px;
}
.solo-logo .img-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px var(--brand-refresh);
}
@media(max-width: 786px){
  .logo-box .logo-container {
  grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 650px) {
  .logo-box .logo-container {
  grid-template-columns: repeat(2, 1fr);
  }
}