
.meta-table {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

.countries-table {
    --media-radius: 6px;
}

.table-column {
    flex: 0 50%;
    max-width: 50%;
}

.countries-table table {
    width: 100%;
}

.table-title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: left;
    margin: auto;
    line-height: 1em;
    justify-content: center;
}

.table-title.w-icon {
    max-width: 137px;
}

.table-cell {
    padding: 1rem;
    border: 1.5px solid #EFEFEF;
    min-height: var(--cell-height);
    border-top: 0;
}

.heading-column {
    padding: 1.3rem;
}

.table-title>div:first-child {
    flex: 0 calc(30px - 1.5rem / 2);
}
.table-title>div:last-child {
    flex: 1 auto;
}

.table-title h3 {
    margin: 0;
    text-align: center;
}

.table-title .link {
    font-size: 1.4rem;
}

.table-column .icon-caret {
    top: 50%;
    height: 0.9rem;
    right: 4.5rem;
    transition: all ease .3s;
    transform: translateY(-50%);
}

.table-column details[open] .icon-caret {
    transform: translateY(-50%) rotate(-180deg);
}

.table-cell.state-cell {
    display: grid;
}
.table-title.w-icon .media {
    padding-bottom: 93% !important;
}

@media screen and (min-width: 990px) {
    .countries-table .title,.countries-table .title-wrapper-with-link {
        margin: 0 0 2rem;
    }
    .table-column summary {
        pointer-events: none;
    }
}

@media (max-width: 989px) {

    .table-column:first-child {
        margin-bottom: 2.5rem;
    }
    .table-column {
        flex: 0 100%;
        max-width: 100%;
    }
}