.starratings {
  display: flex;
  gap: 3px;
  align-items: center;
}

.starratings img {
  display: block;
}

.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
  width: 100%;
  padding-bottom: 1rem;
}

.review-content {
  padding: 2.5rem 3rem;
  border-radius: var(--media-radius);
  max-width: 32rem;
  margin: auto;
}

.content-review {
  font-size: 1.3rem;
  font-style: italic;
}

.review-header h3 {
  margin: 0;
}

@media (max-width: 989px) {
  .review-content {
    max-width: 21rem;
  }
}