.testimonials .name-star {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 25px 30px;
  border: none;
  border-radius: 20px;
  height: 35vh;
  margin: 0 15px;
}
.testimonial-container {
  padding-top: 30px;
}
.testimonial-container p {
  font-size: 14px;
}
.testimonials .user-name {
  font-size: 20px;
  font-weight: 600;
}
.testimonials .slick-prev {
  left: -5px;
}
.testimonials .slick-next {
  right: -5px;
}