.two-col-two-list {
  padding: 50px 0;
}
.two-col-two-list-box .img-container {
  width: 100%;
  text-align: center;
}
.two-col-two-list-box .img-container img {
  width: 100%;
}
.bullet-container h2 {
  font-size: 28px;
}
.two-col-two-list .two-col-two-list-box li {
  font-size: 18px;
  list-style: "\2713";
  padding: 0 0 0 5px;
  font-weight: 400;
}
.two-col-two-list .two-col-two-list-box li::marker {
  color: var(--brand-refresh);
}
.two-col-two-list-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 auto;
  gap: 50px;
}
.bullet-container ul {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0;
}
.two-col-two-list .list-all {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.two-col-two-list span {
  font-weight: 700;
  font-size: calc(var(--font-heading-scale) * 2rem);
}
.two-col-two-list a:link, .two-col-para a:visited {
  color: var(--brand-refresh);
}
.two-col-two-list a:hover {
  color: var(--brand-refresh-gray);
}
.two-col-two-list p {
  font-size: 22px;
}

/* MEDIA QUERIES */

@media(max-width: 786px) {
  .bullet-container ul {
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
    column-gap: 15px;
  }
  .two-col-two-list-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .two-col-two-list-box .img-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .two-col-two-list .two-col-two-list-box li {
    font-size: 20px;
  }
  .two-col-two-list .page-width {
    padding: 0 10rem;
  }
  .bullet-container h2 {
    text-align: center;
  }
  .bullet-container p {
    text-align: center;
  }
}

@media(max-width: 650px) {
  .bullet-container ul {
    grid-template-columns: none;
    grid-template-rows: repeat(1, 1fr);
  }
  .two-col-two-list .two-col-two-list-box li {
    font-size: 16px;
  }
  .bullet-container span.brand-blue {
    font-size: 16px;
  }
  .two-col-two-list .page-width {
    padding: 0 1.5rem;
  }
}