.two-col-box .img-container img {
  display: block;
  width: 100%;
}
.two-col .two-col-box {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #4a4b54;
}
.two-col .bullet-container {
  padding: 0 10px;
}
.two-col .two-col-box li {
  font-size: 20px;
  list-style: "\2713";
  padding: 0 0 0 10px;
  font-weight: 400;
  margin-bottom: 20px;
}
/* .two-col-para p:nth-child(odd) {
  background-color: var(--brand-refresh-background);
  padding: 10px 15px;
} */
.two-col .two-col-box li::marker {
  color: var(--brand-refresh);
}
.two-col-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 auto;
  gap: 50px;
}
.bullet-container ul {
  display: grid;
  grid-template-rows: 1fr;
  padding: 0;
}
.bullet-container .checkmark {
  width: 7%;
}
.bullet-container span.brand-blue {
  font-size: 18px;
}
.two-col-button-container {
  width: 100%;
}
.two-col-button {
  margin: 30px 0;
  transition: .2s;
}
.two-col-button:hover {
  transform: scale(1.03);
}
.two-col-button a {
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}
.two-col-para a:link, .two-col-para a:visited {
  color: var(--brand-refresh);
}
.two-col-para a:hover {
  color: var(--brand-refresh-gray);
}
.two-col .img-btns {
  width: 100%;
  display: flex;
}
.two-col-img-btn .button-container {
  display: grid;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}
.two-col-img-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-below-container {
  width: 50%;
  margin: 20px auto 0;
}
.two-col .img-below-container img {
  width: 100%;
}
.two-col .counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.two-col .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.two-col h1 {
  color: var(--brand-refresh);
  font-size: 140px;
  margin: 0;
}
.two-col span.counter-text {
  font-size: 38px;
  font-weight: 700;
  margin: 10px 0 0;
}
.two-col .progress {
  background: white;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 35px;
  width: 300px;
  border: 2px solid black;
}
.two-col .progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  background: var(--brand-refresh);
  height: 20px;
  width: 0;
}
.progress-animation {
  animation: load 3s normal forwards;
}
.two-col div:empty {
  display: block;
}


@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* MEDIA QUERIES */

@media(max-width: 786px) {
  .bullet-container ul {
    grid-template-columns: 1fr 1fr;
    margin: 15px auto;
    column-gap: 15px;
  }
  .two-col-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
  }
  .two-col-box .img-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .two-col .two-col-box li {
    font-size: 20px;
  }
  .two-col .page-width {
    padding: 0 10rem;
  }
  .bullet-container h3 {
    text-align: center;
  }
  .bullet-container p {
    text-align: center;
  }
  .two-col-button {
    text-align: center;
  }
  .two-col .img-container {
    width: 75vw;
  }
  .two-col h1 {
    font-size: 100px;
  }
  .two-col span.counter-text {
    font-size: 24px;
  }
  .two-col .progress {
    height: 30px;
    width: 225px;
  }
  .two-col .progress-value {
    height: 17px;
  }
  .two-col .counter-container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}
@media(max-width: 650px) {
  .bullet-container ul {
    grid-template-columns: none;
    grid-template-rows: repeat(1, 1fr);
  }
  .two-col .two-col-box li {
    font-size: 16px;
  }
  .bullet-container span.brand-blue {
    font-size: 16px;
  }
  .two-col .page-width {
    padding: 0 1.5rem;
  }
  .img-below-container {
    margin: 30px auto 0;
  }
}
