.two-col-carousel h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0;
}
.two-col-caro-box {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 44px;
}
.video-carousel, .article-carousel {
  /* background-color: var(--brand-refresh-background-light); */
  border-radius: 20px;
  padding: 10px;
}
.video-carousel .slick-track {
  width: 50%;
}
.video-caro-container, .article-caro-container {
  width: 100%;
  padding: 30px;
}
.video-caro-container .slick-prev, .article-carousel .slick-prev {
  left: 10px;
}
.video-caro-container .slick-next, .article-carousel .slick-next {
  right: 10px;
}
.video-caro-container .slick-slide img, .article-carousel .slick-slide img  {
  width: 95%;
  margin: 0 auto;
}
.video-caro-container a, .article-carousel a {
  text-decoration: none;
  color: var(--brand-refresh-dark);
  font-size: 18px;
}
.video-caro-container .video-box, .article-carousel .article-box {
  text-align: center;
  padding: 10px;
}
.video-box .playIcon {
  position: relative;
}
.video-box .playIcon:before {
  content: "";
  background: url('/cdn/shop/t/32/assets/icon-play.png?v=45797579361936715051683244356');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  right: 0;
  z-index: 99;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 30px;
}

.two-col-carousel>.grid {
  --grid-desktop-horizontal-spacing: 40px;
  --grid-desktop-vertical-spacing: 40px;
  --grid-mobile-horizontal-spacing: 20px;
  --grid-mobile-vertical-spacing: 20px;
}

.two-col-carousel .slider-button--prev {
  left: -2rem;
}
.two-col-carousel .slider-button--next {
  right: -2rem;
}

@media(max-width: 1050px) {
  .two-col-carousel h2 {
    font-size: 30px;
  }
}
