.two-col-carousel h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0;
}
.two-col-caro-box {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 44px;
}
.video-carousel, .article-carousel {
  width: 50%;
  background-color: var(--brand-refresh-background-light);
  border-radius: 20px;
  height: 40vh;
  padding: 10px;
}
.video-carousel .slick-track {
  width: 50%;
}
.video-caro-container, .article-caro-container {
  width: 100%;
  padding: 30px;
}
.video-caro-container .slick-prev, .article-carousel .slick-prev {
  left: 10px;
}
.video-caro-container .slick-next, .article-carousel .slick-next {
  right: 10px;
}
.video-caro-container .slick-slide img, .article-carousel .slick-slide img  {
  width: 95%;
  margin: 0 auto;
}
.video-caro-container a, .article-carousel a {
  text-decoration: none;
  color: var(--brand-refresh-dark);
  font-size: 18px;
}
.video-caro-container .video-box, .article-carousel .article-box {
  text-align: center;
  padding: 10px;
}
.video-box .playIcon {
  position: relative;
}
.video-box .playIcon:before {
	content: '';
  background: url('https://cdn.shopify.com/s/files/1/2085/3145/files/Group_256x256_crop_center.png?v=1624878545');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
  left: 0;
  right: 0;
  z-index: 99;
  top: 35px;
  width: 100px;
  height: 100px;
  margin: auto;
}
.two-col-carousel .fa.fa-chevron-left:before,
.two-col-carousel .fa.fa-chevron-right:before,
.two-col-carousel .slick-prev:before,
.two-col-carousel .slick-next:before {
  font-size: 24px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--brand-refresh-dark-gray);
}

@media(max-width: 1050px) {
  .video-carousel, .article-carousel {
    height: 48vh;
  }
  .two-col-carousel h2 {
    font-size: 30px;
  }
}
@media(max-width: 600px) {
  .two-col-caro-box {
    flex-direction: column;
  }
  .video-carousel, .article-carousel {
    width: 100%;
  }
}