.image-with-text__content li {
  list-style: "\2713";
  padding: 0 0 0 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.image-with-text__content li::marker {
  color: rgb(var(--color-base-accent-1));
}

.image-with-text__media.rounded-corners {
  border-radius: 20px;
}

.two-col-button {
  margin: 30px 0;
  transition: .2s;
}
.two-col-button:hover {
  transform: scale(1.03);
}
.two-col-button a {
  padding: 10px 30px;
  border-radius: 40px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
}

.two-col-img-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-col .counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.two-col .counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.two-col h1 {
  color: var(--brand-refresh);
  margin: 0;
}
.two-col span.counter-text {
  font-size: 38px;
  font-weight: 700;
  margin: 10px 0 0;
}
.two-col .progress {
  background: white;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 35px;
  width: 300px;
  border: 2px solid black;
}
.two-col .progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  background: var(--brand-refresh);
  height: 20px;
  width: 0;
}
.progress-animation {
  animation: load 3s normal forwards;
}
.two-col div:empty {
  display: block;
}

.contain-image img {
  object-fit: contain !important;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
