.video-carousel {
  width: 100%;
  padding: 50px 0;
  border-radius: 20px;
}
.video-caro-container {
  width: 100%;
  padding: 30px;
}
.video-carousel .slick-prev {
  left: -5px;
}
.video-carousel .slick-next {
  right: -5px;
}
.video-carousel .slick-slide img {
  width: 95%;
  margin: 0 auto;
}
.video-carousel a {
  text-decoration: none;
  color: var(--brand-refresh-dark);
  font-size: 18px;
}
.video-carousel .video-box {
  text-align: center;
  padding: 10px;
}
.video-box .playIcon {
  position: relative;
}
.video-box .playIcon:before {
	content: '';
  background: url('https://cdn.shopify.com/s/files/1/2085/3145/files/Group_256x256_crop_center.png?v=1624878545');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
  left: 0;
  right: 0;
  z-index: 99;
  top: 50px;
  width: 150px;
  height: 150px;
  margin: auto;
}