html {
  scroll-behavior: smooth;
}
:root {
  --font-heading-family: "basic-sans", sans-serif;
}

/*================ Brand Colors ================*/:root {
  --brand-refresh: #3F75FF;
  --brand-refresh-dark: #061C2B;
  --brand-refresh-white: #FFFFFF;
  --brand-refresh-white-clear: rgba(255, 255, 255, 0.85);
  --brand-refresh-gray: #818181;
  --brand-refresh-gray-clear: rgba(129, 129, 129, 0.80);
  --brand-refresh-dark-gray: #4a4b54;
  --brand-refresh-background: #D9E3FF;
  --brand-refresh-background-light: #eef4f9;
  --brand-refresh-orange: #EC7557;
  --brand-refresh-dark-blue: #223881;
  --holiday-red: #D5261F;
  --holiday-red-clear: rgba(213, 38, 31, 0.88);
  --holiday-green: #0A9718;
  --brand-cta-green: #47F5A3;
  --brand-cream: #F0EFEF;
}

/* Global Declarations */
:root {
  --font-heading-family: basic-sans, sans-serif;
  --font-heading-weight: 400;
  --font-body-family: basic-sans, sans-serif;
  --font-body-weight: 300;
}

.accent-link {
  color: rgb(var(--color-base-accent-1));
}

.subtitle {
  font-size: calc(1.0 * 28px);
  --font-body-weight: 300;
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  line-height: 1.2em;
}

.button {
  font-weight: 700 !important;
  font-size: 1.8rem;
}

.multicolumn .title-wrapper-with-link {
  justify-content: center;
}

.image-with-text__media--square {
  --media-border-width: 0;
}

.title-wrapper-with-link {
  flex-direction: column;
}

@media (min-width: 990px) {
  .title.mb-2 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.8rem;
  }
}

.image-with-text__media--square {
  min-height: auto !important;
}

@media only screen and (min-width: 750px) {
  h1, .h1 {
    font-size: calc(var(--font-heading-scale) * 42px);
  }
}

@media (max-width: 749px) {
  .subtitle {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
  }
}

/*================ Slick Slider ================*/

.slick-dots {
  position: static;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: var(--brand-refresh-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: var(--brand-refresh);
}
.slide-image-box {
  overflow: hidden;
}
.slick-slide img {
  width: 100%;
  padding: 10px;
}

/*================ Text Alignment ================*/

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/*================ Flex item alignment ================*/

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-left {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-self-center {
  align-self: center;
}
.align-end {
  align-items: end;
}

/*================ Grid ================*/
.grid-one-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid-two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*================ Viewports ================*/
/* HEIGHT */
.vh-ten {
  height: 10vh;
}
.vh-twenty {
  height: 20vh;
}
.vh-thirty {
  height: 30vh;
}
.vh-forty {
  height: 40vh;
}
.vh-fifty {
  height: 50vh;
}
.vh-sixty {
  height: 60vh;
}
.vh-seventy {
  height: 70vh;
}
.vh-eighty {
  height: 80vh;
}
.vh-ninety {
  height: 90vh;
}
.vh-hundred {
  height: 100vh;
}

/* WIDTH */

.vw-ten {
  width: 10vw;
}
.vw-twenty {
  width: 20vw;
}
.vh-thirty {
  width: 30vw;
}
.vw-forty {
  width: 40vw;
}
.vw-fifty {
  width: 50vw;
}
.vw-sixty {
  width: 60vw;
}
.vw-seventy {
  width: 70vw;
}
.vw-eighty {
  width: 80vw;
}
.vw-ninety {
  width: 90vw;
}
.vw-hundred {
  width: 100vw;
}
/*================ Font Sizes ================*/

.font-size-small {
  font-size: 18px;
}
.font-size-medium {
  font-size: 28px;
}
.font-size-medium-large {
  font-size: 48px;
}
.font-size-large {
  font-size: 64px;
}

/*================ Font Weights ================*/

.font-weight-light {
  font-weight: 300;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}

/*================ Class Colors ================*/

.brand-blue {
  color: rgb(var(--color-base-accent-1));
}
.brand-light-blue {
  color: var(--brand-refresh-background);
}
.brand-lighter-blue {
  color: var(--brand-refresh-background-light);
}
.brand-dark {
  color: var(--brand-refresh-dark);
}
.brand-white {
  color: var(--brand-refresh-white);
}
.brand-white-clear {
  color: var(--brand-refresh-white-clear);
}
.brand-gray {
  color: var(--brand-refresh-gray);
}
.brand-dark-gray {
  color: var(--brand-refresh-dark-gray);
}
.brand-gray-clear {
  color: var(--brand-refresh-gray-clear);
}
.brand-dark-blue {
  color: var(--brand-refresh-dark-blue);
}

/*================ Background Colors ================*/

.bg-blue {
  background-color: rgb(var(--color-base-accent-1));
}
.bg-light-blue {
  background-color: var(--brand-refresh-background);
}
.bg-lighter-blue {
  background-color: var(--brand-refresh-background-light);
}
.bg-dark {
  background-color: var(--brand-refresh-dark);
}
.bg-white {
  background-color: var(--brand-refresh-white);
}
.bg-white-clear {
  background-color: var(--brand-refresh-white-clear);
}
.bg-gray {
  background-color: var(--brand-refresh-gray);
}
.bg-dark-gray {
  background-color: var(--brand-refresh-dark-gray);
}
.bg-gray-clear {
  background-color: var(--brand-refresh-gray-clear);
}
.bg-dark-blue {
  background-color: var(--brand-refresh-dark-blue);
}
.bg-cream {
  background-color: var(--brand-cream);
}


/*================ Opacity / Visually Seen ================*/

.hidden {
  display: none;
}

/*================ Header ================*/
.section-header.shopify-section-group-header-group {
  z-index: 4;
}

.header__icon { color: var(--brand-refresh); }

.header__menu-item { 
  font-family: var(--font-heading-family);
}
.header__menu-item.link {
  font-size: 2rem;
}

li {
  list-style: none;
}

/*================ Footer ================*/

.footer .footer-block__image-wrapper {
  background: none;
  border: none;
}

/*================ Shop Now Button ================*/
.shop-btn {
  font-family: var(--font-heading-family);
  width: 168px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: var(--brand-refresh-dark);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: var(--brand-cta-green);
  border-radius: 35px;
  padding: 0.8rem 1.2rem;
  transition: .3s;
}
.shop-btn:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 5px gray;
}
@media(max-width: 990px){
  .shop-btn {
    display: none;
  }
}

.slick-prev:before, .slick-next:before {
  color: var(--brand-refresh);
}

/*================= Announcement Bar ============*/
.announcement-bar__message {
  font-size: 1.5rem;
}

/* CSS Animations */
@keyframes flip-in {
  0% {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes slide-in {
  0% {
    margin-right: -89px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

/* Slider Component K-Sections */

.slider-container-adapt  .aligned-vertical.slider--desktop {
  margin: 0 !important;
  align-items: center;
}

.k-section .slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--color-base-background-1)) !important;
  background-color: rgba(var(--color-base-accent-1),.8);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
}

.k-section .slider-button:hover {
  background-color: rgba(var(--color-base-accent-1),1);
}

.k-section .slider-button .icon {
  height: 0.8rem;
  display: block;
}

.grid__media {
  height: auto !important;
}

.banner__media video {
  object-fit: cover;
  object-position: center center;
}

.rounded-corners {
  --media-radius: 20px;
}


/* K Cards */
.k-card {
  border: 1px solid rgba(var(--color-base-text),.8);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  background: rgb(var(--color-base-background-1));
}

.k-card .card__information {
  margin: 1.5rem 1.5rem 2.5rem;
}

.k-card .card__information h3 {
  margin: 0;
}


/* Slideshow/Slider dots */
slideshow-component .slideshow__controls {
  width: 100%;
  border: 0;
  z-index: 3;
}

slideshow-component .slideshow__controls:not(.below-area) {
  position: absolute;
  bottom: 8px;
  left: 0; 
}

slideshow-component .slider-counter__link--dots .dot {
  border: 0;
  background-color: rgb(var(--color-base-text));
  width: 13px;
  height: 13px;
}

slideshow-component .slider-counter__link--dots:not(.slider-counter__link--active) .dot {
  opacity: .2;
}

slideshow-component .slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(var(--color-base-accent-1));
}

slideshow-component .slider-button {
  display: none !important;
}

/* Add 'slider-container-adapt' class to Dawn's slider-component to avoid full width slider */

.slider-container-adapt .slider-button--next {
  right: 0;
}

.slider-container-adapt .slider-button--prev {
  left: 0;
}

.slider-container-adapt .slider-counter {
  display: none;
}

.slider-container-adapt .slider-button--next {
  right: 2rem;
}

.slider-container-adapt .slider-button--prev {
  left: 2rem;
}

.slider-container-adapt  .slider--desktop {
  --desktop-margin-left-first-item: 0;
  margin: 0;
}


/* Header Extras */
.flag-img img {
  max-width: 100%;
  display: block;
  height: 3.5rem;
  width: 3.5rem;
}

.header {
  transition: all ease .3s;
}

.shop-btn {
  margin-right: 0;
  animation: slide-in 1s ease-in-out;
}

.flag-img {
  perspective: 1000px;
  animation: flip-in 1s ease-in-out;
}

.reseller-link {
  display: block;
  flex: 0 100%;
  text-align: right;
  grid-column: 3;
  grid-row: 0;
}

.header {
  transition: all ease .3s;
}

.header__icon--reseller {
  margin-left: 2rem;
}
.header__icon--reseller.disabled {
  display: none !important;
}

@media screen and (min-width: 990px) {
  .reseller-link {
    margin-right: -1.2rem;
  }
  .grid--8-col-desktop .grid__item {
    width: calc(12.5% - var(--grid-desktop-horizontal-spacing) * 7 / 8);
    max-width: calc(12.5% - var(--grid-desktop-horizontal-spacing) * 7 / 8);
  }
  .slider-container-adapt .grid--6-col-desktop .grid__item {
    width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6) !important;
    max-width: calc(16.66% - var(--grid-desktop-horizontal-spacing) * 5 / 6) !important;
  }

  .slider-container-adapt .grid--5-col-desktop .grid__item {
    width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5) !important;
    max-width: calc(20% - var(--grid-desktop-horizontal-spacing) * 4 / 5) !important;
  }

  .slider-container-adapt .grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4) !important;
    max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4) !important;
  }

  .slider-container-adapt .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3) !important;
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3) !important;
  }

  .slider-container-adapt .grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }

  .slider-container-adapt .slider--desktop:after {
    content: unset;
  }
}

@media screen and (max-width: 989px) {
  .slider-container-adapt .slider.slider--tablet {
      scroll-padding-left: 0rem;
      margin-bottom: 0;
  }
  .slider-container-adapt .slider--tablet:after {
    content: "";
    width: 0;
    padding-left: 2.5rem;
    margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
  }
}


@media screen and (max-width: 749px) {
  .bg-mobile-pos-left img,.bg-mobile-pos-left video {
    object-position: left center;
  }
  
  .bg-mobile-pos-right img,.bg-mobile-pos-right video {
    object-position: right center;
  }
  
  .slider-container-adapt .grid--peek.slider:after {
    padding-left: 2.5rem;
  }
  .slider-container-adapt .grid--peek.slider .grid__item:first-of-type {
    margin-left: 0;
  }
  .slider-container-adapt .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item,
  .grid--peek .grid__item {
    width: 100%;
  }

  .slider-container-adapt .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
  .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
    width: 100%;
  }
  .slider-container-adapt .slider-container-adapt .grid--peek.slider:after {
    content: unset;
  }
}
