.ks-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.ks-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.ks-mb-8 {
  margin-bottom: 32px;
}

.ks-mt-6 {
  margin-top: 20px;
}

.ks-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ks-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ks-pos-rel {
  position: relative;
}

.ks-flex {
  display: flex;
}

.ks-row {
  flex-direction: row;
}

.ks-jc-c {
  justify-content: center;
}

.ks-ai-c {
  align-items: center;
}

.ks-bgcol-bg {
  background-color: var(--color-background);
}

.ks-col-fg {
  color: var(--color-foreground);
}

.ks-ta-c {
  text-align: center;
}

.ks-ff-heading {
  font-family: var(--font-heading-family);
}

.ks-fs-7 {
  font-size: 28px;
}

.ks-lh-30px {
  line-height: 30px;
}

.ks-fw-500 {
  font-weight: 500;
}

.ks-ls-m124 {
  letter-spacing: -1.24px;
}

@media screen and (min-width: 500px) {
  .ks-mxw-md-500px {
    max-width: 500px;
  }
}

@media screen and (min-width: 990px) {
  .ks-SectionGrid {
    display: grid;
  }
  .ks-fs-lg-38px {
    font-size: 38px;
  }
  .ks-lh-lg-44px {
    line-height: 44px;
  }
  .ks-fw-lg-400 {
    font-weight: 400;
  }
}
