/*  Überschreibe default styles */

.grid__item {
  width: 100% !important;
  max-width: 100%;
}

.grid__item {
  padding-left: 0 !important;
}

.grid__item {
  padding-right: 0 !important;
}

.ks-desktop {
  display: none;
}

.ks-ndesktop {
  display: block;
}

.ks-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.ks-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.ks-mb-8 {
  margin-bottom: 32px;
}

.ks-mr-3 {
  margin-right: 8px;
}

.ks-mt-5 {
  margin-top: 16px;
}

.ks-mt-6 {
  margin-top: 20px;
}

.ks-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ks-px-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.ks-px-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ks-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ks-py-9 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ks-h-340px {
  height: 340px;
}

.ks-mnh-350px {
  min-height: 350px;
}

.ks-pos-rel {
  position: relative;
}

.ks-flex {
  display: flex;
}

.ks-row {
  flex-direction: row;
}

.ks-jc-c {
  justify-content: center;
}

.ks-jc-fs {
  justify-content: flex-start;
}

.ks-ai-c {
  align-items: center;
}

.ks-grid {
  display: grid;
}

.ks-1col {
  grid-template-columns: 1fr;
}

.ks-gap-64px {
  gap: 64px;
}

.ks-block {
  display: block;
}

.ks-bgcol-bg {
  background-color: var(--color-background);
}

.ks-col-fg {
  color: var(--color-foreground);
}

.ks-ta-c {
  text-align: center;
}

.ks-ff-heading {
  font-family: var(--font-heading-family);
}

.ks-ff-body {
  font-family: var(--font-body-family);
}

.ks-fs-0 {
  font-size: 14px;
}

.ks-fs-3 {
  font-size: 18px;
}

.ks-fs-7 {
  font-size: 28px;
}

.ks-lh-116 {
  line-height: 1.16;
}

.ks-lh-186 {
  line-height: 1.86;
}

.ks-lh-30px {
  line-height: 30px;
}

.ks-fw-500 {
  font-weight: 500;
}

.ks-ls-m124 {
  letter-spacing: -1.24px;
}

@media screen and (min-width: 500px) {
  .ks-mt-md-4 {
    margin-top: 12px;
  }
  .ks-mxw-md-500px {
    max-width: 500px;
  }
}

@media screen and (min-width: 990px) {
  .ks-desktop {
    display: block;
  }
  .ks-ndesktop {
    display: none;
  }
  .ks-SectionGrid {
    display: grid;
  }
  .ks-mt-lg-6 {
    margin-top: 24px;
  }
  .ks-h-lg-300px {
    height: 300px;
  }
  .ks-fs-lg-38px {
    font-size: 38px;
  }
  .ks-lh-lg-44px {
    line-height: 44px;
  }
  .ks-fw-lg-400 {
    font-weight: 400;
  }
}
