.flex-column {
    flex-direction: column;
}

.modal .rel {
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    justify-content: center;
}

.modal-content {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #333;
    text-align: center;
    opacity: 1;
    margin: auto auto 24px auto;
}

.modal-content img {
    height: 38px;
}

.modal-marg {
    margin: auto 0;
    display: flex;
    width: 100%;
    max-width: 480px;
    /*   height: 100vh;
    max-height: 300px; */
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: #fff;
    z-index: 13;
    padding: 32px 0;
    border-radius: 8px;
    box-shadow: -10px 0 30px #00000026;
}

#modal-div {
    width: 100%;
}

.modal-div {
    /*   margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.localization-form {
    display: flex;
    flex-direction: column;
}

.modal-span {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #0202025c;
}

.modal-text {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #333;
    opacity: 1;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    /*   margin-bottom: 24px !important; */
}

.modal-buttons, .select-selected {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin: 12px auto;
    display: flex;
    align-items: center;
    /*   justify-content: center; */
    padding: 0.3em 28px 0.3em 0.5em;
    border: 1px solid #babfc3;
    border-radius: 4px;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-color: #f4f4f4 !important;
    /*   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBzMy40IDQuNCAzLjUgNC40QzMuNyA0LjQgNy4xIDAgNy4xIDBIMHoiLz48L3N2Zz4=") !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important; */
}

.modal-buttons option {
    background-color: #fff;
}

.modal-buttons option:hover {
    background-color: var(--dd-color-fourth);
    color: #333;
    cursor: pointer;
}

.close-lang {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}

.country-text, .lang-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #333;
    opacity: 1;
    margin: 0;
}

.lang-select-btn {
    /* width: 100%; */
    margin: 1rem 0;
}

.checkbox_tooltip_wrapper {
    display: flex;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-flex;
    cursor: pointer;
}

.tooltip svg {
    margin-right: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    transition: all .3s ease;
    width: 250px;
    bottom: 100%;
    left: 50%;
    position: absolute;
    font-size: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    box-sizing: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #020202;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 1.2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 560px) {
    .modal-marg {
        margin-left: 20px;
        margin-right: 20px;
    }
}