.live-shopping-grid {
    padding-top: 40px;
}

.ls-heading {
    text-align: center;
    text-transform: uppercase;
}

.ls-grid-card {
    position: relative;
    min-height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls-grid-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.ls-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.ls-grid-card.full-width-card {
    width: 100%;
}

.ls-grid-card {
    width: calc(50% - 10px);
}

.ls-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
}

.ls-grid-card .banner__heading {
    position: relative;
    z-index: 1;
    margin: 0;
    color: #fff;
}

.ls-btn.button {
    background-color: #fff;
    color: #000;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .ls-grid-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .ls-grid-card {
        width: 100%;
    }
}