.loop-hero-banner--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: var(--section-height);
}

.loop-hero-banner--wrapper .custom-caption {
  color: #fff;
  margin-top: 0;
}

.hero-banner--container {
  width: 100%;
}

.loop-hero-banner--wrapper .hero-media {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.loop-hero-banner--wrapper .hero-media img {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.loop-hero-banner--wrapper .hero-media img {
  width: 100%;
}

.loop-hero-banner--wrapper .content {
  max-width: 55rem;
  padding: 8rem 4rem;
  letter-spacing: -0.02px;
}


.loop-hero-banner--wrapper .content h2 {
  font-size: 154px;
  font-family: "FKScreamer", "Avantt", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 83%;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.content h2,
.content .subheading,
.content .buttons,
.content .footnote,
.content .block-form {
  padding: 0 18px;
}

.loop-hero-banner--wrapper .content .subheading {
  font-size: 32px;
  margin: 16px 0;
}

.loop-hero-banner--wrapper .content .subheading * {
  line-height: 96%;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .block-form form {
  max-width: 36rem;
  margin: 0 auto;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .subheading {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .content {
  max-width: unset;
  text-align: center;
}

@media screen and (max-width: 749.9px) {
  .hero-banner--container .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .loop-hero-banner--wrapper .custom-caption {
    color: #252427;
  }

  .loop-hero-banner--wrapper .content {
    padding: 12rem 0 4rem;
  }

  .loop-hero-banner--wrapper .content h2 {
    font-size: 65px;
    width: 210px;
  }

  .loop-hero-banner--wrapper .content .subheading {
    font-size: 20px;
    width: 300px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .loop-hero-banner--wrapper .content .buttons {
    padding-left: 18px;
    padding-right: 18px;
  }

  .hero-banner--container.hero-banner__overlay-mobile .content {
    text-align: center;
  }

  .hero-banner--container.hero-banner__overlay-mobile .content h2,
  .hero-banner--container.hero-banner__overlay-mobile .content .subheading {
    width: unset;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content {
    text-align: center;
    padding: 25px 0;
    max-width: 100%;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content .subheading {
    width: 100%;
    margin: 0 auto;
    font-size: 26px;
    line-height: 1;
    letter-spacing: -0.3px;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content .subheading * {
    color: #252427 !important;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content h2 {
    color: #252427 !important;
    text-align: center;
    width: 100%;
    font-size: 80px;
    padding-bottom: 25px;
  }

  .loop-hero-banner--wrapper .hero-banner--container.centered .content {
    padding-top: 4rem;
  }

  .loop-hero-banner--wrapper .hero-banner--container.centered .content>* {
    max-width: unset;
    width: 100%;
  }
}

.loop-hero-banner--wrapper .content .buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.loop-hero-banner--wrapper .buttons a {
  flex: 1 1 0;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  line-height: 26px !important;
}

.loop-hero-banner--wrapper .content .buttons .button-1,
.loop-hero-banner--wrapper .content .buttons .button-2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 2rem;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  border-radius: var(--buttons-radius);
}

.loop-hero-banner--wrapper .button-primary {
  background: #252427;
  color: #fff;
  border: 1px solid #252427;
}

.loop-hero-banner--wrapper .content .buttons .button-1 {
  color: var(--button-1-color);
  background-color: var(--button-1-background-color);
  border: 1px solid var(--button-1-border-color);
}

@media (hover: hover) {
  .loop-hero-banner--wrapper .content .buttons .button-1:hover {
    color: var(--button-1-background-color);
    background-color: var(--button-1-color);
    border: 1px solid var(--button-1-border-color);
  }
}

.loop-hero-banner--wrapper .content .buttons .button-2 {
  color: var(--button-2-color);
  background-color: var(--button-2-background-color);
  border: 1px solid var(--button-2-border-color);
}

@media (hover: hover) {
  .loop-hero-banner--wrapper .content .buttons .button-2:hover {
    color: var(--button-2-background-color);
    background-color: var(--button-2-color);
    border: 1px solid var(--button-2-border-color);
  }
}

.loop-hero-banner--wrapper .content .buttons .button-1+.button-2 {
  margin-top: 12px;
  margin-left: 0;
}

@media screen and (max-width: 749.9px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) {
  .small-up-hide {
    display: none !important;
  }
}


.loop-hero-banner--wrapper .content .buttons .button--secondary {
  background: unset;
  color: #252427;
  border: 2px solid #252427;
}

.loop-hero-banner--wrapper .content .buttons .button--secondary::after {
  content: unset;
}

.loop-hero-banner--wrapper .content .footnote {
  font-weight: 600;
  font-size: 13.18px;
  line-height: 14.14px;
  margin: 24px 0 12px;
  font-family: 'Avantt', var(--font-body-family), sans-serif;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loop-hero-banner--wrapper .content .footnote svg {
  margin-right: 2.5px;
}

.loop-hero-banner--wrapper .content .footnote p {
  margin: 4px 7px 0;
}

@media screen and (min-width: 750px) {
  .loop-hero-banner--wrapper .content .footnote {
    justify-content: flex-start;
  }

  .loop-hero-banner--wrapper .hero-banner--container.centered .content .newsletter-form__message {
    justify-content: center;
  }

  .loop-hero-banner--wrapper .content .buttons {
    flex-direction: row;
  }

  .loop-hero-banner--wrapper .content .buttons .button-1+.button-2 {
    margin-left: 12px;
    margin-top: 0;
  }
}

@media screen and (max-width: 749.9px) {
  .loop-hero-banner--wrapper .content .buttons a {
    width: 100%;
    display: block !important;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media img,
  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media {
    position: static;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media {
    display: flex;
    max-height: 50vh;
  }

  .loop-hero-banner--wrapper .content .buttons .button-2 {
    border-color: var(--button-2-color);
  }
}

.block-form button {
  color: white !important;
  background: #6243B9 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: "Avantt" !important;
  padding: 11.5px 35px !important;
  border-radius: 200px !important;
  min-height: 60px;
  height: unset !important;
}

.block-form input {
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: "Avantt" !important;
  padding: 11.5px 35px !important;
  border-radius: 200px !important;
}

.block-form input::placeholder {
  font-size: 20px !important;
  font-family: Avantt !important;
}

.block-form p,
.block-form span:not([role=alert]) {
  color: white !important;
  font-size: 14px !important;
}

.block-form p a {
  color: #6243B9 !important;
  font-size: 14px !important;
}

.block-form .field::after {
  box-shadow: unset !important;
}

.gdpr-disclaimer {
  margin-top: 16px;
  display: inline-block;
}

@media screen and (min-width: 750px) {
  .gdpr-disclaimer {
    color: white;
  }
}

.hero-banner__overlay-mobile .gdpr-disclaimer {
  color: white;
}

.gdpr-disclaimer a {
  color: #6243B9 !important;
}

#NewsletterHero button[type=submit] {
  position: static;
  width: 100%;
  margin: 16px auto 0;
}


@media screen and (max-width: 749.9px) {
  #NewsletterHero button[type=submit] {
    position: static;
    width: 100%;
    margin: 16px auto 0;
  }

  .block-form input {
    border: 1px solid black;
  }
}
