.article-title {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.article-banner-title-wrap{
  display: flex;
  flex-direction: column;
}

@media (max-width: 749px){
  .article-banner-title-wrap{
    flex-direction: column-reverse;
  }

  .banner{
    min-height: 25vh;
  }

  .article-title {
    width: 100%;
}
}