.article_grid_container {
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: dense;
  grid-template-rows: auto;
}

.article_image {
  width: 100%;
}
img.article_img {
  width: 100%;
  height:100%;
  display: block;
  transition: 0.2s ease-in-out;
  object-fit: cover;
}
.article_head h3 {
  font-size: 20px;
  text-align: left;
  letter-spacing: -0.02em;
  font-weight: 600 !important;
  margin-bottom: 0.6rem;
  color: #1d1d1f;
  margin-top: 0;
}
.article_text_wrapper {
  padding: 2rem 2rem 2rem 0rem;
}
.article_date span {
  color: #766294;
  text-transform: none;
  font-weight: 400;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  padding-top: 0.4rem;
}
.article_content p {
  text-align: left;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  color: #1d1d1f;
  letter-spacing: -0.02em;
  font-weight: 300;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  /* max-width: 82rem; */
}
.article_grid_items {
  text-decoration: none;
}
.article_image {
  overflow: hidden;
/*   max-width: 630px; */
  height: 360px;
}
.article_grid_items:hover .article_img {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.article_grid_items:hover .article_head {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  .article_grid_container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 489px) {
  .article_grid_container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
