.image-with-text__text--caption,
.image-with-text__text {
  opacity: 0.65;
}

/* .image-with-text__text--caption {
  margin-bottom: 1.5rem;
} */

.image-with-text__media img {
  width: 100%;
  height: 100%;
}

.loop-featured-product--wrapper variant-radios label.featured-coll {
  border: 2px solid transparent !important;
}

.loop-featured-product--wrapper variant-radios a.active label.featured-coll {
  border-color: black !important;
}

.loop-featured-product--wrapper .image-with-text__media--placeholder:after,
.loop-featured-product--wrapper .image-with-text__media-item,
.loop-featured-product--wrapper .image-with-text__media {
  background: none;
}
