.custom-Img-txt-video{
  height:100%;
  width:100%;
  object-fit:cover;
}
.play-btn{
    position: absolute;
  height:100%;
    width: 100%;
  display:flex;
      justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
  
}
.play-btn svg{
  width:95px;
  
}
.custom-youtube-video{
    height: 100%;
    position: relative;
    width: 100%;
}

.js-youtube{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.youtube-video-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 750px) {
  .image-with-text__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
