.no-disp{
  display : none;
}

.article-filter.selected {
    color: #fff;
    background-color: #333;
}

.blog-section {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #000;
    font-size: 16px;
    line-height: 1.4;
}

.blog-container {
    z-index: 10;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
}


.new-blog-post-collection-item {
    box-shadow: rgba(149, 157, 165, 0.11) 0px 8px 24px;
    border-radius: 20px;
    transition: transform 200ms ease;
    text-decoration: none;
    cursor: pointer;
  
}

.new-blog-post-collection-item a {
    color:#000;

}


.new-blog-post-collection-item:hover {
    -ms-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
}

.new-blog-post-list {
    margin-top: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.new-blog-post-link-block {
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}

.new-blog-post-grid-image {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border-radius: 20px 20px 0px 0px;

}
.new-blog-post-grid-image img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    height:230px;
    object-fit:cover;
    display: inline-block;
    border-radius: 20px 20px 0px 0px;

}


.new-blog-post-grid-text-wrap {
    margin-top: 20px;
    padding: 0px 10px;
    padding-bottom: 15px;
}

.h5-heading {
    /* color: #575445; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
}

.blog-description {
    text-align: center;
    font-size: 16px;
    opacity: 0.9;
    margin: 10px 0px;
}

.new-blog-post-bottom-info-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-blog-post-author-wrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.new-blog-post-author-name {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.new-blog-post-date {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}


.new-blog-read-more {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* FILTER ARTICLE STARTS */
.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#shopify-section-language-selector .flex-box {
    margin-bottom: 0;
}

.favourites {
    font-size: 15px;
    line-height: 20px;
    padding: 4px 12px;
    border: 1px solid;
    border-radius: 20px;
    margin-right: 11px;
    cursor: pointer;
    transition: .4s ease;
}

.favourites:hover {
    background-color: #333;
    color: #fff;
    opacity:0.4;
}

/* FILTER ARTICLE ENDS */
.load-more-blog-posts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-blog-posts {
    font-size: 18px;
    text-align: center;
    margin: 40px 0px;
    cursor: pointer;
    transition: transform 200ms ease;
}

.load-more-blog-posts:hover {
    transition: transform 200ms ease;
    text-decoration: underline;
}


@media screen and (max-width: 479px) {
    .blog-section {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .h5-heading {
        font-size: 20px;
    }
    .blog-description {
        font-size: 15px;
    }
}

@media screen and (max-width: 991px) {
    .new-blog-post-list.two-column {
        grid-template-columns: 1fr 1fr;
    }
    .blog-section {
        padding: 32px 0px;
    }
    .favourites {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .new-blog-post-list.two-column {

        grid-template-columns: 1fr;
    }

}
