.loop-article-footer{
	display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--text-boxes-radius);
}

.laf-part{
  width: 30%;
  text-align: center;
}
.social-media-share {
    /* color: #000; */
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.social-media-share .icon{
	height: 1.8rem;
    width: 1.8rem;
}
