.loop-article-footer{
	display: flex;
  justify-content: space-between;
}

.laf-part{
  width: 30%;
  text-align: center;
}
.social-media-share{
	color: #000;
}
.social-media-share .icon{
	height: 1.8rem;
    width: 1.8rem;
}