.loop_linktree {
  display: flex;
  width: 100vw;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 45px 0px;
}

.newsletter-form__message {
  color: white;
}

.loop_linktree_container {
  display: flex;
  padding: 0px 20px;
  max-width: 680px;
  flex-direction: column;
  text-align: center;
}
.loop_linktree_uppersection {
  text-decoration: none;
}

.loop_linktree_uppersection h1 {
  margin: 0px;
  color: #252427;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.15;
  max-width: 100%;
}
.logo_wrapper {
  max-width: 165px;
  min-height: 60px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_wrapper img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.share_icon_wrapper {
  display: flex;
  justify-content: flex-end;
}
.share_icon_wrapper svg {
  stroke: #333;
}
a.share_loop {
  background-color: rgb(240, 240, 240);
  display: flex;
  padding: 12px;
  border-radius: 50%;
}
.share-button {
  display: block;
  position: relative;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  border: 0;
  padding: 10px;
  border-radius: 50%;
  display: none;
}
.share-button:hover {
  background-color: rgb(235, 235, 235);
}
.share_loop svg {
  width: 18px;
  height: 18px;
  display: flex;
}
a.share_loop:hover {
  background-color: rgb(235, 235, 235);
}
.social_item_icon {
  position: absolute;
  right: 5px;
  /* display: flex; */
  display: none;
}
.social_item_icon svg {
  background-color: #766294;
  /* padding: 12px; */
  /* border-radius: 50%; */
  width: 18px;
  height: 18px;
  fill: white;
  margin-right: 6px;
}

a.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  white-space: normal;
  background: none;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  padding: 16px 20px;
  padding-right: 30px;
}
.social_link span {
  font-size: 16px;
}
.social_item {
  margin-bottom: 16px;
  border: 2px solid #6243B9;
  background-color: #6243B9;
  border-radius: 100px;
  color: white;
  box-shadow: rgb(255 255 255 / 4%) 0px 2px 8px 0px;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.social_item:not(:first-of-type) {
  background-color: #252427;
  border-color: #252427;
}
.social_item:not(:first-of-type) .social_item_icon svg {
  background-color: #252427;
}
.social_item:hover {
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 12px 0px;
  transform: scale(1.01);
}

.loop_scoial_container {
  margin-top: 32px;
}
.loop_linktree_newsletter {
  margin-top: 48px;
}
.loop_linktree_newsletter .field::after,
.loop_linktree_newsletter .field:hover::after {
  box-shadow: 0 0 0 2px #252427;
  border-radius: 100px;
}
.field__input:focus {
  box-shadow: none;
}
.newsletter_heading h2 {
  margin: 0 auto;
  margin-bottom: 12px;
  /* max-width: 280px; */
  font-size: 20px;
  text-align: center;
  color: #252427;
}
@media screen and (min-width: 769px) {
  .social_link:hover .social_item_icon {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .social_link span {
    font-size: 14px;
  }
  .share_icon_wrapper {
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 479px) {
}
