a{
  color: inherit;
  text-decoration: none;
}

.article-card {
    display: block;
    height: 390px;
}

.rel-art-img {
    width: 100%;
    height: 200px;
    display: block;
}

.rel-art-img img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 749px){
.rel-art-slider-wrapper .grid--peek .grid__item {
    min-width: 70%;
}
}