.loop-hero-banner--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loop-hero-banner--wrapper .custom-caption {
  color: #fff;
  margin-top: 0;
}

.hero-banner--container {
  width: 100%;
}

.loop-hero-banner--wrapper .hero-media {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.loop-hero-banner--wrapper .hero-media img {
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.loop-hero-banner--wrapper .hero-media img {
  width: 100%;
}

.loop-hero-banner--wrapper .content {
  max-width: 55rem;
  padding: 8rem 4rem;
}


.loop-hero-banner--wrapper .content h2 {
  font-size: 154px;
  font-family: "FKScreamer", "Avantt", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 83%;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.loop-hero-banner--wrapper .content .subheading {
  font-size: 32px;
  margin: 16px 0;
}

.loop-hero-banner--wrapper .content .subheading * {
  line-height: 96%;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .block-form form { 
  max-width: 36rem;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .subheading {
  margin-left: auto;
  margin-right: auto;
}

.loop-hero-banner--wrapper .hero-banner--container.centered .content {
  max-width: unset;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .loop-hero-banner--wrapper .custom-caption {
    color: #252427;
  }

  .loop-hero-banner--wrapper .content {
    padding: 12rem 0 4rem;
  }

  .loop-hero-banner--wrapper .content h2 {
    font-size: 65px;
    width: 210px;
  }

  .loop-hero-banner--wrapper .content .subheading {
    font-size: 20px;
    width: 300px;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content {
    text-align: center;
    padding: 4rem 0;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content .subheading {
    width: 100%;
    margin: 0 auto;
  }
  .hero-banner--container:not(.hero-banner__overlay-mobile) .content .subheading * {
    color: #252427 !important;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .content h2 {
    color: #252427 !important;
    text-align: center;
    width: 100%;
    font-size: 80px;
  }
  
  .loop-hero-banner--wrapper .hero-banner--container.centered .content {
    padding-top: 4rem;
  }

  .loop-hero-banner--wrapper .hero-banner--container.centered .content * {
    max-width: unset;
    width: 100%;
  }
}

.loop-hero-banner--wrapper .content .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 7.5px;
}

.loop-hero-banner--wrapper .content .buttons .button--secondary {
  background: unset;
  color: #252427;
  border: 2px solid #252427;
}

.loop-hero-banner--wrapper .content .buttons .button--secondary::after {
  content: unset;
}

@media screen and (max-width: 750px) {
  .loop-hero-banner--wrapper .content .buttons a {
    width: 100%;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media img,
  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media {
    position: static;
  }

  .hero-banner--container:not(.hero-banner__overlay-mobile) .hero-media {
    display: flex;
    max-height: 50vh;
  }
}

.block-form button {
  color: white !important;
  background: #6243B9 !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: "Avantt" !important;
  padding: 11.5px 35px !important;
  border-radius: 200px !important;
  min-height: 60px;
  height: unset !important;
}

.block-form input {
  font-size: 20px !important;
  font-weight: 400 !important;
  font-family: "Avantt" !important;
  padding: 11.5px 35px !important;
  border-radius: 200px !important;
}

.block-form input::placeholder {
  font-size: 20px !important;
  font-family: Avantt !important;
}

.block-form p,
.block-form span:not([role=alert]) {
  color: white !important;
  font-size: 14px !important;
}

.block-form p a {
  color: #6243B9 !important;
  font-size: 14px !important;
}

.gdpr-disclaimer {
  margin-top: 16px;
  display: inline-block;
}

@media screen and (min-width: 750px) {
  .gdpr-disclaimer {
    color: white;
  }
}
 
.hero-banner__overlay-mobile .gdpr-disclaimer {
  color: white;
}

.gdpr-disclaimer a {
  color: #6243B9 !important;
}

#NewsletterHero button[type=submit] {
  position: static;
  width: 100%;
  margin: 16px auto 0;
}


@media screen and (max-width: 750px) { 
  #NewsletterHero button[type=submit] {
    position: static;
    width: 100%;
    margin: 16px auto 0;
  }
}
