.page-type-page {
  &.handle-japanbite-snack-box {
    #MainContent {
      background-color: #F2F2E0;
      background-image: none;
    }
  }

  .lp-kv {
    min-height: 0 !important;
    @media only screen and (min-width: 769px) {
      min-height: 600px !important;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    .banner__media {
      &:nth-child(1) {
        width: 80%;
        height: 100%;
        background-color: transparent;
        @media only screen and (max-width: 768px) {
          position: absolute;
          height: 48vw !important;
        }

        img {
          object-fit: cover;
          object-position: right;
          @media only screen and (max-width: 768px) {
            object-position: top;
            width: auto;
          }
        }
      }

      &:nth-child(2) {
        top: 0;
        right: 100px;
        width: 450px;
        background-color: transparent;
        @media only screen and (min-width: 769px) {
          left: 57%;
        }
        @media only screen and (max-width: 768px) {
          position: static;
          width: 90%;
          right: 0;
          top: 20px;
          margin: auto;
          height: auto !important;
          img {
            position: relative;
          }
        }
      }
    }

    .banner__content {
      padding: 0;
      display: block;
      margin-top: 100px;
      @media only screen and (max-width: 768px) {
        margin-top: 0;
        /*position: absolute;*/
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        display: flex;
        align-items: center;
      }
    }

    .banner__box {
      background-color: transparent;
      max-width: 700px;
      max-height: 100%;
      @media only screen and (min-width: 769px) {
        margin-left: 80px;
      }
      @media only screen and (max-width: 768px) {
        padding: 0;
      }
    }

    .banner__heading {
      font-family: var(--font-baskervville);
      font-style: italic;
      text-align: left;
      @media only screen and (max-width: 768px) {
        font-size: 32px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        font-style: normal;
      }
    }

    .banner__text {
      text-align: left;
      margin-top: 50px;
      @media only screen and (max-width: 768px) {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    .banner__buttons {
      margin-top: 50px;
      display: block;
      text-align: left;

      @media only screen and (max-width: 768px) {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }

      a {
        background: linear-gradient(90deg, #FB6930 0%, #DA4106 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        font-size: 24px;
        font-weight: normal;
        @media only screen and (max-width: 768px) {
          width: 100%;
          margin: 0;
        }
      }
    }
  }

  #index-experience.lp-experience {
    background-color: transparent;

    .page-width {
      @media only screen and (max-width: 768px) {
        background: #F3ECD2;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        margin-top: 24px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .multicolumn-card__image-wrapper {
      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    @media only screen and (min-width: 769px) {
      .title-wrapper-with-link {
        display: none;
      }

      .multicolumn-list {
        background-color: #F3ECD2;
        border-radius: 86px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        padding: 40px;
      }

      .multicolumn-list__item {
        padding-left: 10px;
        padding-right: 10px;
      }

      .multicolumn-card__image-wrapper {
        margin-left: 0;
        margin-right: 0;

        .media {
          padding-bottom: 0px !important;
          height: 50%;
          max-height: 220px;
          margin: auto;

          img {
            border-radius: 50%;
          }
        }
      }

      .multicolumn-card__info {
        h3 {
          background-color: transparent;
          color: var(--font-baskervville);
          font-size: 20px;
          font-weight: 400;
          margin-top: 8px;
        }

        p {
          color: var(--jb-color-accent2-400);
          font-size: 20px;
          font-weight: 300;
          margin-top: 8px;
          text-align: center;
        }
      }
    }
  }

  .featured-product {
    background-color: transparent;

    .product__kv-image {
      aspect-ratio: auto;
      @media only screen and (max-width: 1050px) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
      }
    }

    .product__media-item__slider {
      @media only screen and (max-width: 750px) {
        display: none;
      }
    }
  }

  .lp-contents {
    background-color: transparent;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 67px;
      background-color: #91AD70;
      @media only screen and (max-width: 768px) {
        height: 30px;
      }
    }

    > .page-width {
      @media only screen and (max-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .multicolumn-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      @media only screen and (min-width: 1001px) {
        padding-left: 5vw;
        padding-right: 5vw;
      }
      @media only screen and (max-width: 1000px) {
        gap: 60px;
        gap: calc(60 / 375 * 100vw);
      }
    }

    .multicolumn-list__item {
      position: relative;
      @media only screen and (min-width: 1001px) {
        width: 49%;
        max-width: 49%;
      }
      @media only screen and (max-width: 1000px) {
        width: 100%;
        max-width: 100%;
      }

      .multicolumn-card__image-wrapper {
        padding-top: 0;
      }

      .multicolumn-card__info {
        @media only screen and (max-width: 1000px) {
          /*padding-left: 5rem;*/
          /*padding-right: 5rem;*/
        }

        h3 {
          color: var(--jb-color-accent2-400);
          font-size: 24px;
        }

        p {
          color: var(--jb-color-accent2-400);
          font-size: 14px;
          line-height: 1.5;
          @media only screen and (max-width: 1000px) {
            line-height: 1.2;
          }

          & + p {
            font-size: 12px;
            margin-top: 10px;
            @media only screen and (max-width: 1000px) {
              display: none;
            }
          }
        }
      }

      &:nth-child(odd) {
        &:not(:first-child) {
          @media only screen and (min-width: 1001px) {
            margin-top: 100px;
          }
        }
      }

      &:nth-child(even) {
        /*margin-top: -100px;*/
        @media only screen and (min-width: 1001px) {
          margin-top: 200px;
        }

        &:nth-child(2) {
          @media only screen and (min-width: 1001px) {

            margin-top: 100px;
          }

        }

        .multicolumn-card {
          @media only screen and (max-width: 1000px) {
            margin-left: auto;
          }
        }

        @media only screen and (max-width: 1000px) {
          .multicolumn-card__info {
            h3, p {
              text-align: center;
            }
          }
        }
      }

      &:nth-child(1) {
        .multicolumn-card {
          width: 250px;
          @media only screen and (max-width: 1000px) {
            width: calc(193 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 80px;
            left: 160px;
            @media only screen and (max-width: 1000px) {
              top: 30px;
              left: auto;
              right: -20px;
              width: calc(200 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(2) {
        .multicolumn-card {
          width: 250px;
          @media only screen and (max-width: 1000px) {
            width: calc(170 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 180px;
            left: 200px;
            width: 350px;
            @media only screen and (max-width: 1000px) {
              top: 20px;
              left: -20px;
              width: calc(210 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(3) {
        .multicolumn-card {
          width: 300px;
          @media only screen and (max-width: 1000px) {
            width: calc(180 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            width: 400px;
            top: 80px;
            left: 200px;
            @media only screen and (max-width: 1000px) {
              top: 80px;
              left: auto;
              right: -20px;
              width: calc(190 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(4) {
        .multicolumn-card {
          width: 260px;
          @media only screen and (max-width: 1000px) {
            width: calc(160 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 0px;
            left: 140px;
            width: 430px;
            @media only screen and (max-width: 1000px) {
              top: 40px;
              left: -20px;
              width: calc(200 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(5) {
        .multicolumn-card {
          width: 330px;
          @media only screen and (max-width: 1000px) {
            width: calc(180 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 120px;
            left: 140px;
            width: 430px;
            @media only screen and (max-width: 1000px) {
              top: 0px;
              left: auto;
              right: -20px;
              width: calc(210 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(6) {
        .multicolumn-card {
          width: 380px;
          @media only screen and (max-width: 1000px) {
            width: calc(200 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 0px;
            left: 180px;
            @media only screen and (max-width: 1000px) {
              top: 20px;
              left: auto;
              left: -20px;
              width: calc(210 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(7) {
        .multicolumn-card {
          width: 230px;
          @media only screen and (max-width: 1000px) {
            width: calc(200 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 40px;
            left: 100px;
            @media only screen and (max-width: 1000px) {
              top: 50px;
              left: 180px;
              width: calc(200 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(8) {
        .multicolumn-card {
          width: 230px;
          @media only screen and (max-width: 1000px) {
            width: calc(170 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 110px;
            left: 70px;
            @media only screen and (max-width: 1000px) {
              top: 30px;
              left: -20px;
              width: calc(200 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(9) {
        .multicolumn-card {
          width: 260px;
          @media only screen and (max-width: 1000px) {
            width: calc(220 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 0px;
            left: 150px;
            @media only screen and (max-width: 1000px) {
              top: 30px;
              left: auto;
              right: -20px;
              width: calc(170 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(10) {
        .multicolumn-card {
          width: 330px;
          @media only screen and (max-width: 1000px) {
            width: calc(180 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 170px;
            left: 40px;
            width: 400px;
            @media only screen and (max-width: 1000px) {
              top: 70px;
              left: -20px;
              width: calc(160 / 375 * 100vw);
            }
          }
        }
      }

      &:nth-child(11) {
        .multicolumn-card {
          width: 420px;
          @media only screen and (max-width: 1000px) {
            width: calc(170 / 375 * 100vw);
          }
        }

        .multicolumn-card__image-wrapper {
          .media {
            top: 170px;
            left: 40px;
            width: 400px;
            @media only screen and (max-width: 1000px) {
              top: 100px;
              left: auto;
              right: -20px;
              width: calc(170 / 375 * 100vw);
            }
          }
        }
      }
    }

    .multicolumn-card {
      @media only screen and (max-width: 1000px) {
        position: static;
      }
    }

    .multicolumn-card__info {
      position: relative;
      z-index: 1;
    }

    .multicolumn-card__image-wrapper {
      .media {
        padding-bottom: 0 !important;
        position: absolute;
        width: 500px;

        img {
          max-width: none;
          position: relative;
          width: 100%;
        }
      }

      .multicolumn-card__image {
        &:not(.-sp) {
          @media only screen and (max-width: 1000px) {
            display: none;
          }
        }

        &.-sp {
          @media only screen and (max-width: 1000px) {
            display: block !important;
          }
        }
      }
    }

  }

  .lp-by-numbers {
    background-color: transparent;

    .multicolumn-list {
      column-gap: 0;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .multicolumn-list__item {
      width: calc(100% / 4);
      max-width: calc(100% / 4);
      min-width: 250px;
      padding-left: 20px;
      padding-right: 20px;
      @media only screen and (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      .multicolumn-card__image-wrapper {
        padding-top: 0;

        .media {
          padding-bottom: 60% !important;

          img {
            width: auto;
            height: 90%;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }

      .multicolumn-card__info {
        h3 {
          background-color: transparent;
          font-size: 32px;
          font-weight: 400;
          line-height: 1;
          margin-top: 12px;
          text-align: center;
        }

        p {
          color: var(--jb-color-accent2-400);
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .lp-reviews {
    background-color: transparent;

    .multicolumn-list {
      gap: 20px;
    }

    .multicolumn-list__item {
      padding: 16px;
      background-color: #F6F1E0;
      border-radius: 16px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      width: calc(100% / 3 - 20px);
      @media only screen and (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }

      .multicolumn-card__image-wrapper {
        padding-top: 0;
        margin-left: auto;

        .media {
          padding-bottom: 10% !important;

          img {
            width: auto;
            height: 100%;
            left: 0;
            right: auto;
          }
        }
      }

      .multicolumn-card__info {
        h3 {
          background-color: transparent;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          margin-top: 20px;
        }

        p {
          color: var(--jb-color-accent2-400);
          font-size: 16px;
          margin-top: 16px;
        }
      }
    }
  }

  .lp-banner {
    @media only screen and (max-width: 768px) {
      height: 100vw !important;
      min-height: 350px;
      justify-content: flex-end;
    }

    &.banner--medium:not(.banner--adapt) {
      min-height: 40rem;
    }

    .banner__media {
      width: 100%;
      height: 100% !important;
      background-color: transparent;

      &:nth-child(1) {
        @media only screen and (max-width: 768px) {
          display: none;
        }

        img {
          object-fit: cover;
          object-position: center;
        }
      }

      &:nth-child(2) {
        position: absolute;
        @media only screen and (min-width: 769px) {
          display: none;
        }

        img {
          object-fit: cover;
          object-position: top;
        }
      }
    }

    .banner__content {
      padding: 0;
      justify-content: flex-start;
      margin-left: 10%;
      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    .banner__box {
      background-color: transparent;
      max-height: 100%;
    }

    .banner__buttons {
      display: block;
      margin: auto;

      a {
        width: 275px;
        max-width: 100%;
        background: linear-gradient(90deg, #FB6930 0%, #DA4106 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 11px;
        font-size: 24px;
        font-weight: normal;
      }
    }
  }
}

.tingle-modal {
  &.lp-more-details {
    background-color: rgb(0 0 0 / .1);
    backdrop-filter: none;

    .tingle-modal-box {
      background-color: transparent;
      @media only screen and (max-width: 768px) {
        padding: 20px;
      }

    }

    .tingle-modal-box__content {
      border-radius: 40px;
      background-color: rgb(255 255 255 / .8);
      overflow: auto;
      max-height: 85vh;

      p {
        b {
          font-size: 20px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 12px;
          b {
            font-size: 16px;
          }
        }
      }
    }
  }
}