/* .menu-drawer {
  background-color: #1E1E1E;
} */
.menu-drawer ::selection {
  background-color: unset;
}
.js details[open].menu-opening>.menu-drawer {
  margin-top: -0.2px;
}
.menu-drawer__navigation--custom {
  padding: 27px;
  width: 100%;
}
.menu-drawer__inner-submenu {
  padding: 27px;
}
.menu-drawer__menu-item--active:hover {
  background-color: rgba(var(--color-foreground),0);
}

.menu-drawer__menu-item--active, .menu-drawer__menu-item:focus, .menu-drawer__close-button:focus, .menu-drawer__menu-item:hover, .menu-drawer__close-button:hover {
  background-color: rgba(var(--color-foreground),0);
}

.menu-drawer__navigation--custom .menu-drawer__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-drawer__navigation--custom .menu-drawer__menu li {
  width: 100%;
}

.menu-drawer__navigation--custom .menu-drawer__menu li:first-child .button,
.menu-drawer__navigation--custom .menu-drawer__menu li:last-child .button {
  position: relative;
  z-index: 2;
  font-weight: 600;
}

.menu-drawer__navigation--custom .menu-drawer__menu li:first-child .button::after {
  background-color: #766294;
  z-index: -1;
  box-shadow: unset;
}
.menu-drawer__navigation--custom .menu-drawer__menu li:last-child .button::after {
  background-color: #FF7E8F;
  z-index: -1;
  box-shadow: unset;
}

.menu-drawer__menu li > details > summary,
.menu-drawer__menu li > a.mobile-menu__item,
.menu-drawer__menu li > .mobile-menu__accordion > details > summary,
.menu-drawer__menu li > .mobile-menu__accordion > details > ul.list-menu > li,
.menu-drawer__menu li .menu-drawer__close-button
{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 18px;
  padding-bottom: 18px;
}
.menu-drawer__inner-submenu .menu-drawer__menu li > a.mobile-menu__item {
  border-bottom: 0;
}
.menu-drawer__menu li > .mobile-menu__accordion > details > ul.list-menu > li {
  padding-left: 24px;
}

.mobile-menu__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  letter-spacing: -0.035em;
  text-decoration: none;
  column-gap: 10px;

  font-size: 17px;
  line-height: 1.2;
  font-family: "Avantt", sans-serif;
}
.menu-drawer__inner-submenu .menu-drawer__menu .mobile-menu__item {
  font-size: 20px;
}
.mobile-menu__item--first {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
}
.mobile-menu__item--second {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}

.menu-drawer__close-button {
  border: 0;
  padding: 0;
  margin-top: 0;
}
.menu-drawer__close-button:hover,
.menu-drawer__close-button:focus {
  background-color: transparent;
}
.menu-drawer__close-button svg {
  transform: rotate(180deg);
}

.mobile-menu__accordion {
  color: #FFF;
}

.mobile-menu__accordion details div {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 1.5em;
}

.mobile-menu__accordion details div > * + * {
	margin-top: 1.5em;
}

.mobile-menu__accordion details + details {
	margin-top: .5rem;
}

.mobile-menu__accordion summary {
	list-style: none;
}

.mobile-menu__accordion summary::-webkit-details-marker {
	display: none;
}

.mobile-menu__accordion summary {
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: -0.035em;
	cursor: pointer;
	position: relative;
  padding: 0 2rem 0 0;
}

.mobile-menu__accordion summary:after {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	/* content: "↓"; */
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.mobile-menu__accordion details[open] summary svg {
  transform: rotate(180deg);
}
.mobile-menu__accordion details ul li {
  font-weight: 600;
}
.mobile-menu__accordion details ul li a {
  color: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.035em;
  text-decoration: none;
}

/* bestsellers */
.bestsellers  {
  padding: 0 12px;
}

.bestsellers h3 {
  margin-top: 34px;
  margin-bottom: 10px;
}

.bestsellers__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-self: middle;
  gap: 8px;
}

.bestsellers .bestsellers__bestseller a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.bestsellers .bestsellers__bestseller a span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.bestsellers .bestsellers__bestseller .image {
  background-color: #766294;
  border-radius: 16px;
}

.bestsellers .bestsellers__bestseller img {
  max-width: 100%;
  height: auto;
}


.mobile-menu__best-sellers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0 27px;
  margin-bottom: 22px;
}
.mobile-menu__best-sellers h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.015em;
}
.mobile-menu__best-sellers .button {
  --border-offset: 0;
  font-weight: 600;
  margin-bottom: 8px;
  justify-content: center;
  min-height: calc(49px + var(--buttons-border-width) * 2);
}
.mobile-menu__best-sellers .button svg {
  position: absolute;
  right: 20px;
}
.mobile-menu__best-sellers .button sup {
  position: relative;
  top: -6px;
  left: -9px;
  font-size: 8px;
  color: #FF7E8F;
}

.mobile-menu__best-sellers .button:not([disabled]):hover::after {
	box-shadow: unset;
	--border-offset: 0;
}

.menu-drawer__utility-links {
  padding: 12px 20px;
  background-color: #363636;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu-drawer__utility-links .menu-drawer__account {
  padding: 12px 0;
  margin-left: 0;
  font-weight: 600;
}
.menu-drawer__utility-links .language-wrapper .flag {
  margin-right: 1rem;
}
.menu-drawer__utility-links .language-wrapper .header-country-code {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: rgb(var(--color-foreground));
}
.menu-drawer__utility-links .menu-drawer .list-social {
  margin-left: 0;
}
.menu-drawer__utility-links li.list-social__item {
  flex: 1 1 auto;
}

/* hide other parts */
@media screen and (max-width: 749px) {
  .menu-drawer__navigation-container .language-wrapper {
    display: none;
  }
  .menu-drawer__navigation-container .custom_menu-drawer__account--header {
    display: none;
  }
  .menu-drawer__navigation-container .list-social {
    display: none;
  }
}