.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 3.15rem;
  margin-bottom: 3.15rem;
}

.newsletter__wrapper:not(.color-background-1) {
  padding-top: 3.15rem;
  padding-bottom: 3.15rem;
}

@media screen and (min-width: 750px) {
  .newsletter--narrow .newsletter__wrapper,
  .newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
    margin-top: calc(3.15rem + var(--page-width-margin));
    margin-bottom: calc(3.15rem + var(--page-width-margin));
  }

  .newsletter__wrapper:not(.color-background-1) {
    padding-top: calc(3.15rem + var(--page-width-margin));
    padding-bottom: calc(3.15rem + var(--page-width-margin));
  }
}

.newsletter__wrapper {
  padding-right: calc(2.5rem / var(--font-body-scale));
  padding-left: calc(2.5rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 1.25rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 1.9rem;
}

.newsletter__subheading {
  max-width: 44.0rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 22.5rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 0.95rem;
}

.newsletter__button {
  margin-top: 1.9rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 0.65rem;
  }
}
