
/* BG: policy pages */
.shopify-policy__container {
  max-width: var(--page-width) !important;
}

/* BG: carousel */
.slider-component-full-width {
  max-width: var(--page-width) !important;
  margin: 0 auto !important;
}