/* BG: customize to a five column footer */
@media (min-width: 768px) {
  .footer__content-top .footer__blocks-wrapper .grid__item {
    width: calc(
      20% - var(--grid-desktop-horizontal-spacing) * 4 / 5
    ) !important;
  }
}

/* BG: policy pages */
.shopify-policy__container {
  max-width: var(--page-width) !important;
}

/* BG: carousel */
.slider-component-full-width {
  max-width: var(--page-width) !important;
  margin: 0 auto !important;
}