.oke-sr-count-number, .oke-sr-label-text {
  visibility: hidden;
}

.oke-sr-count {
  position: relative;
}

.oke-sr-count::before {
  content: "Join 4,095+ Happy Parents";
  content: var(--happy-customers);
  visibility: visible;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  font-size: 14px;
}
