:root {

  --font-body-scale: 1.7;
  --font-heading-scale: 0.8;
}

.open-graph {
  width: 1200px;
  height: 630px;
  overflow: hidden;
  display: flex;
  padding: 1rem;
}

.open-graph__meta {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.open-graph__price {
  margin: 0 0 1rem 0;
}

.open-graph__variant-label {
  font-size: 1.3rem;
  line-height: calc(1 + .5 / var(--font-body-scale));
  letter-spacing: .04rem;
}

.open-graph__variants {
  padding: 0;
  margin: 0 0 1rem 0;
  list-style-type: none;
  display: flex;
  color: black;
}

.open-graph__variant-item {
  border: 0.1rem solid rgba(var(--color-foreground), 0.55);
  border-radius: 4rem;
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
}

.open-graph__variant-item--unavailable {
  border-color: rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}

.open-graph__title {
  margin: 1.5rem 0;
}

.open-graph__variant-item--unavailable {
  color: rgba(var(--color-base-text), 0.5);
}

.open-graph__featured-image {
  display: flex;
  margin-right: 1rem;
}

.open-graph__image-list {
  margin: 1rem 0 0 0;
  flex: 1 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

.open-graph__image-item {
  display: flex;
  margin-right: 1rem;
} 
