:root {
  --font-trade: 'Trade Gothic LT Pro', Helvetica, Arial, sans-serif, serif;
  --font-ivar: 'Ivar Headline', Georgia, serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-orange: #ef612e;
  --color-orange-darkened: #ed4d14;
  --color-light-gray: #ebebeb;
  --color-border: rgba(0, 0, 0, 0.1);

  --variant-pills-radius: 0;

  --ease-opacity: cubic-bezier(0.28, 0, 0.49, 1);
  --ease-transform: cubic-bezier(0.24, 0.002, 0.002, 1);
}

/* Globals */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  letter-spacing: 0;
}

.hide {
  display: none !important;
}

/* Typography */
@font-face {
  font-family: 'Ivar Headline';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_a07eef15-9fcf-4c0e-9ab7-12891f3e82fd.woff2?v=1722394511')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_5988fc83-de90-4a8d-810b-6fac8860b73d.woff?v=1722394511')
      format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Trade Gothic LT Pro';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff2?v=1723490022')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff?v=1723490022') format('woff');
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-ivar);
  letter-spacing: 0;
}

.mobile--hxxl {
  @media screen and (max-width: 750px) {
    font-size: clamp(calc(var(--font-heading-scale) * 5.6rem), 14vw, calc(var(--font-heading-scale) * 7.2rem));
  }
}

.mobile--hxl {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 5rem);
  }
}

.mobile--h0 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

.mobile--h1 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
}

.mobile--h2 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
}

.mobile--h3 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 1.7rem);
  }
}

.mobile--h4 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
  }
}

.mobile--h5 {
  @media screen and (max-width: 750px) {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
  }
}

.price {
  letter-spacing: 0 !important;
}

@media screen and (min-width: 750px) {
  .price--large .price-item {
    font-size: 2rem !important;
  }
}

/* Buttons */
.button,
.contact-page input[type='submit'] {
  font-weight: 700;
  letter-spacing: 0;
}

.button--tall {
  min-height: 5.5rem;
}

.button--orange {
  background-color: var(--color-orange);
  color: rgb(var(--color-secondary-button));
  transition: background-color 0.32s var(--ease-opacity);
}

.button--orange:hover,
.button--orange:focus {
  background-color: var(--color-orange-darkened);
}

.button--orange:after,
.button--orange:hover:after,
.button--orange:focus:after {
  content: none;
}

.button--mobile-small {
  @media screen and (max-width: 750px) {
    min-height: 0;
    padding: 1.1rem 2rem;
  }
}

.button--small {
  @media screen and (min-width: 750px) {
    min-height: 0;
    padding: 1.1rem 2rem;
  }
}

/* Main nav + Mega menu */
a.mega-menu__link {
  font-size: 1.4rem;
}

.announcement-bar__message span {
  font-family: var(--font-roboto);
  font-weight: 500;
}

.mega-menu__menu-item-link {
  color: inherit;
  text-decoration: none;
}

details[open] > .header__menu-item,
.header__menu-item:hover span {
  text-decoration: none;
}

.header .list-menu__item {
  font-family: var(--font-trade);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
}

.header__menu-item .icon-caret {
  height: 0.4rem;
  right: 1.2rem;
}

.header__inline-menu .list-menu li:nth-child(7) {
  margin-left: auto;
}

summary.list-menu__item {
  padding-right: 2.5rem;
}

.mega-menu__list .mega-menu__link--level-2 {
  font-weight: 700;
  text-decoration-thickness: 1px;
}

@media screen and (min-width: 990px) {
  header.header {
    padding-bottom: 0;
  }

  .mega-menu {
    padding-bottom: 20px;
  }
}

/* Footer */

.footer .footer__list-social {
  justify-content: flex-start;
  margin-left: -1.1rem;
}

.footer .footer-block__heading {
  font-family: var(--font-trade);
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .footer .footer__list-social.list-social {
    justify-content: flex-start;
    margin-left: -1.1rem;
  }

  .footer-block__details-content + .footer__list-social.list-social {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 989px) {
  .footer .footer-block__details-content .list-menu__item--link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .footer .list-menu__item--link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Component-level overrides */
.media > img,
.media > video {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.18s var(--ease-opacity);
}

.card-wrapper .media video {
  object-fit: cover;
}

@media screen and (min-width: 990px) {
  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: none !important;
  }
  .card-wrapper:hover .media.media--hover-effect > img + img,
  .card-wrapper:hover .media.media--hover-effect > img + video {
    opacity: 1;
    transform: none !important;
    transition: opacity 0.18s var(--ease-opacity);
  }
  .card-wrapper.swatch-selected:hover .media.media--hover-effect > img:first-child:not(:only-child),
  .card-wrapper.swatch-selected:hover .media.media--hover-effect > img:first-child:not(:only-child) {
    opacity: 1 !important;
  }
}

.badge {
  font-family: var(--font-trade);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.7rem 1.3rem 0.5rem;
  border-radius: 3px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card .card__content,
.card .card__information,
.card--card .quick-add {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

.card--card .quick-add {
  position: static;
}

.card--card status-favorite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

.quick-add__submit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 0;
  transition: background-color 0.2s var(--ease-opacity);
  cursor: pointer;
  font-family: var(--font-roboto);
  color: rgb(var(--color-foreground));
  font-weight: 700;
}

.quick-add__submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.card .card__heading {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.6rem;
}

.card .card__content {
  padding-top: 0;
}

.card__content .card-information > *:not(.visually-hidden:first-child) + *:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0.3rem;
}

.card--card.card--media > .card__content .card__badge {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card .rating-count {
  display: none;
}

.card-wrapper .rating-star {
  --color-rating-star: var(--color-orange);
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 750px) {
  .facets-container .product-count {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .facets-container .facet-filters__field {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
    margin: 4rem 0;
    padding-bottom: 1.5rem;
  }
}

.product-count .product-count__text {
  letter-spacing: 0;
}

.facets-container .facet-filters__field {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.facets-container .facet-filters__field .select {
  width: 100%;
}

.accordion__title {
  font-family: var(--font-roboto);
  font-weight: 700;
}

.accordion__content {
  padding: 1.5rem 0 0 !important;
}

.product__info-wrapper .product__accordion .accordion__content {
  font-size: 0.9em;
}

.product__info-wrapper .status-favorite-button {
  margin-left: -16px;
  margin-bottom: -8px;
}

.accordion summary {
  padding: 2rem 0 !important;
}

.collapsible-content summary:hover .accordion__title {
  text-decoration: none !important;
}

.product_tile_color_holder {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 1rem !important;

  --swatch-input--size: 1.5rem;
}

.product-tile-color-name {
  width: 100%;
  font-size: 0.85em;
  color: rgba(var(--color-foreground), 0.65);
}

.product_tile_color_holder input {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.product_tile_color_holder .product_tile_color_holder__more-colors {
  display: none;
  padding: 2px;
}

.product_tile_color_holder .product_tile_color_holder__more-colors svg {
  display: block;
}

.product_tile_color_holder[data-has-more-colors] .product_tile_color_holder__more-colors {
  display: block;
}

.product_tile_color_holder[data-has-more-colors] label:nth-of-type(n + 8),
.product_tile_color_holder[data-has-more-colors] input:nth-of-type(n + 8) {
  display: none;
}

.product-grid.hide-out-of-stock [data-in-stock='false'] {
  display: none;
}

/* Product Page */
.product__title h1 {
  font-size: calc(var(--font-heading-scale) * 3.4rem);
  margin-top: 0.2em;
}

@media (max-width: 768px) {
  .product__title h1 {
    font-size: calc(var(--font-heading-scale) * 2rem);
  }
}

.product__info-container .price {
  font-family: var(--font-trade);
}

.product__info-wrapper .product__info-container > * + * {
  margin: 1.2rem 0 0.8rem;
}

@media (max-width: 768px) {
  .product__info-wrapper .yotpo-small {
    padding-left: 0;
  }
}

.product-form {
  position: relative;
}

.product-form .popup-notice {
  position: absolute;
  z-index: 5;
  inset: -2rem -2rem auto -2rem;
  border-radius: var(--buttons-radius-outset);
  padding: 1rem 1.5rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.75);
}

.product-form .popup-notice.is-hidden {
  display: none;
}

.product-form .popup-notice__cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.6rem;
}

.product-form .popup-notice__cta button {
  flex: 1;
  width: 50%;
}

.product-form-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.product-form-color {
  position: relative;
}

.product-form-color:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(var(--color-foreground));
  opacity: 0;
}

.product-form-color img {
  display: block;
}

.product-form-color:has(:checked):before {
  opacity: 1;
}

.product__info-container .product-form__input--pill input[type='radio'] + label {
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border: none;
  font-family: var(--font-trade);
  padding-top: 3px;
}

.product__info-container .product-form__input--pill input[type='radio']:checked + label {
  background-color: var(--color-light-gray);
  color: rgb(var(--color-foreground));
}

.product__info-container .product-form__input--pill input[type='radio']:disabled + label,
.product__info-container .product-form__input--pill input[type='radio'].disabled + label,
.product__info-container .product-form__input--pill input[type='radio'].disabled:checked + label {
  text-decoration: none;
  cursor: initial;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.product__info-container .product-form__input--pill input[type='radio']:disabled + label:after,
.product__info-container .product-form__input--pill input[type='radio'].disabled + label:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: rotate(45deg) translate(-50%);
  transform-origin: 1px 1px;
}

.product .product-form__input {
  margin-bottom: 3rem;
}

.product__accordion .accordion__content p:first-of-type {
  margin-top: 0;
}

.product__title--badges {
  margin-bottom: 1rem;
}

.product-badges .badge {
  margin-right: 0.5rem;
}

.tall-sizing-controls {
  border-bottom: 0.1rem solid var(--color-border);
  margin: 1rem 0 2rem;
  padding-bottom: 2rem;
}

.tall-sizing-controls button {
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 3px 2rem 0;
  font-family: var(--font-trade);
  text-transform: uppercase;
  cursor: pointer;
  min-height: 5rem;
  line-height: 1;
  color: rgb(var(--color-foreground));
}

.tall-sizing-controls button.inactive {
  background-color: transparent;
}

.color-category {
  width: 100%;
}

.color-category + .color-category {
  margin-top: 1.5rem;
}

.product .form__label--flex {
  width: 100%;
  display: flex;
}

.product .form__label--flex .size-chart__toggle {
  margin-left: auto;
}

.product .form__label .link {
  font-size: 1em;
}

/* Product Gallery Overrides */
@media screen and (min-width: 750px) {
  .product .product-media-gallery {
    display: flex;
  }

  .product__media-wrapper .slider-mobile-gutter .slider-button {
    display: none !important;
  }

  .product-media-gallery .thumbnail-slider {
    order: 1;
    flex: 0 0 9rem;
    align-items: flex-start !important;
  }

  .product-media-gallery .slider-media-main {
    order: 2;
    flex: 1;
  }

  .product .product-media-gallery .thumbnail-slider .thumbnail-list {
    flex-direction: column;
    padding: 1px 1rem 0 1px;
  }

  .product .thumbnail-list .thumbnail-list__item.slider__slide {
    width: 100% !important;
  }

  .product .product-media-gallery .thumbnail,
  .product .product-media-gallery .thumbnail img {
    position: relative;
    display: block;
  }

  .product .product-media-gallery .thumbnail-list__item:before {
    content: none;
  }
}

/* Accounts */
.account-rewards .yotpo-widget-hero-section {
  display: none;
}

/* Breadcrumbs */

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 0.7em;
}

.breadcrumbs__item {
  margin-right: 0.5rem;
}

.breadcrumbs__separator {
  display: inline-block;
  margin-left: 0.5rem;
}

.breadcrumbs__item:first-child {
  margin-right: 2.5rem;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child .breadcrumbs__separator {
  display: none;
}

.breadcrumbs__item a {
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.breadcrumbs__item a:hover {
  text-decoration: underline;
}

.contact-page {
  padding-top: 60px;
}

.contact-page #page-title {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: calc(var(--font-heading-scale) * 4rem);
}

@media screen and (min-width: 750px) {
  .contact-page {
    padding-top: 100px;
  }

  .contact-page #page-title {
    margin-bottom: 4rem;
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}

.collection .slider-buttons {
  display: none;
}

@media screen and (min-width: 750px) {
  .collection__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.slideshow__text .banner__buttons {
  justify-content: center;
  gap: 2rem;
}

/* Size chart modal */
details[open] > .modal__content {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}

.size-chart-modal summary {
  display: none;
}

.size-chart-modal .modal__content {
  position: fixed;
  z-index: 4;
  inset: 0;
}

.size-chart-modal__content {
  display: block;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  height: 100%;
}

.size-chart-modal__content--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.size-chart-modal__content img {
  max-width: 100%;
}

.size-chart-modal__content-bottom {
  bottom: calc((var(--inputs-margin-offset) / 2));
}

.size-chart-modal__content-top {
  top: calc((var(--inputs-margin-offset) / 2));
}

.size-chart-modal__form {
  width: 100%;
}

.size-chart-modal__close-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media screen and (min-width: 750px) {
  .size-chart-modal__close-button {
    top: 3rem;
    right: 3rem;
  }

  .size-chart-modal__content {
    padding: 0 6rem;
  }
}

.product-card-wrapper.swatch-selected .media.media--hover-effect>img+img,
.product-card-wrapper.swatch-selected .media.media--hover-effect>video {
  display: none;
}

/* Trade Gothic Eyebrow Styles */
.banner .caption-with-letter-spacing,
.rich-text .caption-with-letter-spacing,
.multicolumn-list h3,
.article-card .card__heading {
  font-family: var(--font-trade);
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.rich-text a:not(.button),
.custom-liquid a:not(.button) {
  color: inherit;
  font-weight: 500;
}

.banner__heading {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .slideshow__media.has-mobile-image img:first-child {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__media.has-mobile-image img:nth-child(2) {
    display: none;
  }
}

.image-with-text__media.image-with-text__media--adapt {
  min-height: 0;
}

@media screen and (max-width: 749px) {
  .banner.has-mobile-image .banner__media:not(.banner__mobile-image) {
    display: none;
  }
}

@media screen and (min-width: 749px) {
  .banner .banner__media.banner__mobile-image {
    display: none;
  }
}

.text-align-center {
  text-align: center;
}

.related-products .product-grid li:nth-child(n + 5) {
  display: none;
}

.product-notice {
  border-radius: var(--buttons-radius-outset);
  padding: 1rem 1.5rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.75);
}

.product-notice-icon {
  display: inline-block;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}

.product-notice-icon svg {
  display: block;
  width: 15px;
}

@media (max-width: 768px) {
  .yotpo-small {
    padding-left: 0 !important;
  }
  
  .yotpo .yotpo-review .yotpo-footer {
    display: flex;
  }

  .yotpo .yotpo-review .yotpo-footer .yotpo-grouping-reference {
    display: none;
  }

  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful {
    margin-left: auto;
  }
}

#INDmenu-btn {
  bottom: 0 !important;
}

.slider-bullet-nav {
  padding: 0 1.5rem 0 3rem;
  max-width: var(--page-width);
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.slider-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.slider-bullet-button {
  color: transparent;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  appearance: none;
  background-color: #F6F4F2;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(var(--color-foreground));
}

.slider-bullet-button.active {
  background-color: rgb(var(--color-foreground));
}

@media (min-width: 750px) {
  .slider-bullet-nav {
    display: none;
  }
}

.product .slider-buttons {
  display: none !important;
}