@font-face {
  font-family: 'Ivar Headline';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_a07eef15-9fcf-4c0e-9ab7-12891f3e82fd.woff2?v=1722394511')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_5988fc83-de90-4a8d-810b-6fac8860b73d.woff?v=1722394511')
      format('woff');
}

@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff2?v=1723490022')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff?v=1723490022') format('woff');
}

html {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Ivar Headline', Georgia, serif;
}

.list-menu__item {
  font-family: 'Trade Gothic LT Pro', Helvetica, Arial, sans-serif, serif;
  line-height: 1;
  text-transform: uppercase;
}
