:root {
  --font-trade: 'Trade Gothic LT Pro', Helvetica, Arial, sans-serif, serif;
  --font-ivar: 'Ivar Headline', Georgia, serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-orange: #ef612e;
  --color-orange-darkened: #ed4d14;
  --color-light-gray: #ebebeb;
  --color-border: rgba(0, 0, 0, 0.1);

  --variant-pills-radius: 0;

  --ease-opacity: cubic-bezier(0.28, 0, 0.49, 1);
  --ease-transform: cubic-bezier(0.24, 0.002, 0.002, 1);
}

/* Globals */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  letter-spacing: 0;
}

.hide {
  display: none !important;
}

/* Typography */
@font-face {
  font-family: 'Ivar Headline';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_a07eef15-9fcf-4c0e-9ab7-12891f3e82fd.woff2?v=1722394511')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/IvarHeadline-Regular_5988fc83-de90-4a8d-810b-6fac8860b73d.woff?v=1722394511')
      format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Trade Gothic LT Pro';
  src: url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff2?v=1723490022')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0749/3241/files/TradeGothicLTPro-BdCn20.woff?v=1723490022') format('woff');
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: var(--font-ivar);
  letter-spacing: 0;
}

.price {
  letter-spacing: 0 !important;
}

@media screen and (min-width: 750px) {
  .price--large .price-item {
    font-size: 2rem !important;
  }
}

/* Buttons */
.button {
  font-weight: 700;
  letter-spacing: 0;
}

.button--tall {
  min-height: 5.5rem;
}

.button--orange {
  background-color: var(--color-orange);
  color: rgb(var(--color-secondary-button));
  transition: background-color 0.32s var(--ease-opacity);
}

.button--orange:hover,
.button--orange:focus {
  background-color: var(--color-orange-darkened);
}

.button--orange:after,
.button--orange:hover:after,
.button--orange:focus:after {
  content: none;
}

/* Main nav + Mega menu */
.announcement-bar__message span {
  font-family: var(--font-roboto);
  font-weight: 500;
}

.header .list-menu__item {
  font-family: var(--font-trade);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
}

.header__menu-item .icon-caret {
  height: 0.4rem;
  right: 1.2rem;
}

summary.list-menu__item {
  padding-right: 2.5rem;
}

.mega-menu__list .mega-menu__link--level-2 {
  font-weight: 400;
  font-family: var(--font-ivar);
  font-size: 1.8rem;
  text-decoration-thickness: 1px;
}

/* Footer */

.footer .footer__list-social {
  justify-content: flex-start;
  margin-left: -1.1rem;
}

.footer .footer-block__heading {
  font-family: var(--font-trade);
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .footer .footer__list-social.list-social {
    justify-content: flex-start;
    margin-left: -1.1rem;
  }

  .footer-block__details-content + .footer__list-social.list-social {
    margin-top: -4rem;
  }
}

@media screen and (max-width: 989px) {
  .footer .footer-block__details-content .list-menu__item--link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .footer .list-menu__item--link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Component-level overrides */
.media > img {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.18s var(--ease-opacity);
}

@media screen and (min-width: 990px) {
  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
    transform: none !important;
  }
  .card-wrapper:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transform: none !important;
    transition: opacity 0.18s var(--ease-opacity);
  }
}

.badge {
  font-family: var(--font-trade);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.7rem 1.3rem 0.5rem;
  border-radius: 3px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.card .card__content,
.card .card__information,
.card--card .quick-add {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

.card .card__heading {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1.6rem;
}

.card .card__content {
  padding-top: 0;
}

.card__content
  .card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0.3rem;
}

.card .rating-count {
  display: none;
}

.card-wrapper .rating-star {
  --color-rating-star: var(--color-orange);
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 750px) {
  .facets-container .product-count {
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .facets-container .facet-filters__field {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
    margin: 4rem 0;
    padding-bottom: 1.5rem;
  }
}

.product-count .product-count__text {
  letter-spacing: 0;
}

.facets-container .facet-filters__field {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.facets-container .facet-filters__field .select {
  width: 100%;
}

.accordion__title {
  font-family: var(--font-roboto);
  font-weight: 700;
}

.accordion__content {
  padding: 1.5rem 0 0 !important;
}

.product__info-wrapper .product__accordion .accordion__content {
  font-size: 0.9em;
}

.accordion summary {
  padding: 2rem 0 !important;
}

.collapsible-content summary:hover .accordion__title {
  text-decoration: none !important;
}

/* Product Page */
.product__title h1 {
  font-size: calc(var(--font-heading-scale) * 3.4rem);
}

.product__info-container .price {
  font-family: var(--font-trade);
}

.product__info-wrapper .product__info-container > * + * {
  margin: 0.8rem 0;
}

@media (max-width: 768px) {
  .product__info-wrapper .yotpo-small {
    padding-left: 0;
  }
}

.product-form-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.product-form-color {
  position: relative;
}

.product-form-color:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(var(--color-foreground));
  opacity: 0;
}

.product-form-color img {
  display: block;
}

.product-form-color:has(:checked):before {
  opacity: 1;
}

.product__info-container .product-form__input--pill input[type='radio'] + label {
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border: none;
  font-family: var(--font-trade);
  padding-top: 3px;
}

.product__info-container .product-form__input--pill input[type='radio']:checked + label {
  background-color: var(--color-light-gray);
  color: rgb(var(--color-foreground));
}

.product__info-container .product-form__input--pill input[type='radio']:disabled + label,
.product__info-container .product-form__input--pill input[type='radio'].disabled + label,
.product__info-container .product-form__input--pill input[type='radio'].disabled:checked + label {
  text-decoration: none;
  cursor: initial;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.product__info-container .product-form__input--pill input[type='radio']:disabled + label:after,
.product__info-container .product-form__input--pill input[type='radio'].disabled + label:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 141.421%;
  background-color: rgba(0, 0, 0, 0.2);
  left: -1px;
  top: 0px;
  transform: rotate(45deg);
  transform-origin: 1px 1px;
}

.product .product-form__input {
  margin-bottom: 3rem;
}

.product__accordion .accordion__content p:first-of-type {
  margin-top: 0;
}

.product__title--badges {
  margin-bottom: 1rem;
}

.product-badges .badge + .badge {
  margin-left: 0.5rem;
}

.tall-sizing-controls {
  border-bottom: 0.1rem solid var(--color-border);
  margin: 1rem 0 2rem;
  padding-bottom: 2rem;
}

.tall-sizing-controls button {
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 3px 2rem 0;
  font-family: var(--font-trade);
  text-transform: uppercase;
  cursor: pointer;
  min-height: 5rem;
  line-height: 1;
}

.tall-sizing-controls button.inactive {
  background-color: transparent;
}

.color-category + .color-category {
  margin-top: 1.5rem;
}

.product-form__input [data-selected-value]:before {
  content: ':';
  margin-right: 0.5em;
  margin-left: -0.2em;
}

/* Product Gallery Overrides */
@media screen and (min-width: 750px) {
  .product .product-media-gallery {
    display: flex;
  }

  .product__media-wrapper .slider-mobile-gutter .slider-button {
    display: none !important;
  }

  .product-media-gallery .thumbnail-slider {
    order: 1;
    flex: 0 0 9rem;
    align-items: flex-start !important;
  }

  .product-media-gallery .slider-media-main {
    order: 2;
    flex: 1;
  }

  .product .product-media-gallery .thumbnail-slider .thumbnail-list {
    flex-direction: column;
    padding: 1px 1rem 0 1px;
  }

  .product .thumbnail-list .thumbnail-list__item.slider__slide {
    width: 100% !important;
  }

  .product .product-media-gallery .thumbnail,
  .product .product-media-gallery .thumbnail img {
    position: relative;
    display: block;
  }

  .product .product-media-gallery .thumbnail-list__item:before {
    content: none;
  }
}

/* Accounts */
.account-rewards .yotpo-widget-hero-section {
  display: none;
}

/* Breadcrumbs */

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 0.8em;
}

.breadcrumbs__item {
  margin-right: 0.5rem;
}

.breadcrumbs__separator {
  display: inline-block;
  margin-left: 0.5rem;
}

.breadcrumbs__item:first-child {
  margin-right: 2.5rem;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:last-child .breadcrumbs__separator {
  display: none;
}

.breadcrumbs__item a {
  text-decoration: none;
  color: rgb(var(--color-foreground));
}

.breadcrumbs__item a:hover {
  text-decoration: underline;
}

.contact-page {
  padding-top: 60px;
}

.contact-page #page-title {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: calc(var(--font-heading-scale) * 4rem);
}

@media screen and (min-width: 750px) {
  .contact-page {
    padding-top: 100px;
  }

  .contact-page #page-title {
    margin-bottom: 4rem;
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}
