.ph-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.ph-SectionGrid-Full {
  grid-column: 1 / span 5;
}

.ph-ndesktopgrid {
  display: grid;
}

.ph-w-100p {
  width: 100%;
}

.ph-1col {
  grid-template-columns: 1fr;
}

.ph-6row {
  grid-template-rows: repeat(6, 1fr);
}

.ph-col-1 {
  grid-column: 1 / span 1;
}

.ph-row-1-5 {
  grid-row: 1 / span 5;
}

.ph-row-5-6 {
  grid-row: 5 / span 2;
}

.ph-z-5 {
  z-index: 5;
}

.ph-z-1000 {
  z-index: 1000;
}

.ph-flex {
  display: flex;
}

.ph-column {
  flex-direction: column;
}

.ph-jc-fe {
  justify-content: flex-end;
}

.ph-ta-c {
  text-align: center;
}

.ph-uppercase {
  text-transform: uppercase;
}

.ph-mb-5 {
  margin-bottom: 16px;
}

.ph-mb-8 {
  margin-bottom: 32px;
}

.ph-mt-3 {
  margin-top: 8px;
}

.ph-mt-4 {
  margin-top: 12px;
}

.ph-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ph-px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.ph-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ph-py-3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ph-ff-body {
  font-family: var(--font-body-family);
}

.ph-ff-heading {
  font-family: var(--font-heading-family);
}

.ph-fs-3 {
  font-size: 20px;
}

.ph-lh-117 {
  line-height: 1.17;
}

.ph-lh-133 {
  line-height: 1.33;
}

.ph-mxh-60px {
  max-height: 60px;
}

.ph-inlblock {
  display: inline-block;
}

.ph-nodec {
  text-decoration: none;
}

.ph-button:hover,
.ph-button:active,
.ph-button:focus {
  opacity: 0.6;
}

.ph-cover {
  object-fit: cover;
}

@media screen and (min-width: 990px) {
  .ph-SectionGrid {
    display: grid;
  }
  .ph-ndesktopgrid {
    display: none;
  }
}
