.ph-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.ph-SectionGrid-Full {
  grid-column: 1 / span 5;
}

.ph-ndesktop {
  display: block;
}

.ph-desktopgrid {
  display: none;
}

.ph-w-100p {
  width: 100%;
}

.ph-h-auto {
  height: auto;
}

.ph-h-280px {
  height: 280px;
}

.ph-grid {
  display: grid;
}

.ph-2col {
  grid-template-columns: 1fr 1fr;
}

.ph-1row {
  grid-template-rows: 1fr;
}

.ph-col-1 {
  grid-column: 1 / span 1;
}

.ph-col-1-5 {
  grid-column: 1 / span 5;
}

.ph-col-2-4 {
  grid-column: 2 / span 3;
}

.ph-row-1 {
  grid-row: 1 / span 1;
}

.ph-z-5 {
  z-index: 5;
}

.ph-z-1000 {
  z-index: 1000;
}

.ph-flex {
  display: flex;
}

.ph-column {
  flex-direction: column;
}

.ph-jc-c {
  justify-content: center;
}

.ph-jc-fe {
  justify-content: flex-end;
}

.ph-ai-fs {
  align-items: flex-start;
}

.ph-ta-c {
  text-align: center;
}

.ph-ta-l {
  text-align: left;
}

.ph-uppercase {
  text-transform: uppercase;
}

.ph-mb-3 {
  margin-bottom: 8px;
}

.ph-mb-5 {
  margin-bottom: 16px;
}

.ph-mb-8 {
  margin-bottom: 32px;
}

.ph-ml-5 {
  margin-left: 16px;
}

.ph-mt-0 {
  margin-top: 0;
}

.ph-mt-3 {
  margin-top: 8px;
}

.ph-mt-4 {
  margin-top: 12px;
}

.ph-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ph-px-7 {
  padding-left: 24px;
  padding-right: 24px;
}

.ph-px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.ph-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ph-py-3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ph-py-5 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ph-ff-body {
  font-family: var(--font-body-family);
}

.ph-ff-heading {
  font-family: var(--font-heading-family);
}

.ph-fs-1 {
  font-size: 16px;
}

.ph-fs-3 {
  font-size: 20px;
}

.ph-fs-22px {
  font-size: 22px;
}

.ph-fs-62px {
  font-size: 62px;
}

.ph-fw-300 {
  font-weight: 300;
}

.ph-fw-500 {
  font-weight: 500;
}

.ph-lh-100 {
  line-height: 1;
}

.ph-lh-117 {
  line-height: 1.17;
}

.ph-lh-133 {
  line-height: 1.33;
}

.ph-lh-60px {
  line-height: 60px;
}

.ph-ls-m220 {
  letter-spacing: -2.2px;
}

.ph-ls-p024 {
  letter-spacing: 0.24px;
}

.ph-mxh-60px {
  max-height: 60px;
}

.ph-mxh-630px {
  max-height: 630px;
}

.ph-mxh-700px {
  max-height: 700px;
}

.ph-inlblock {
  display: inline-block;
}

.ph-nodec {
  text-decoration: none;
}

.ph-button:hover,
.ph-button:active,
.ph-button:focus {
  opacity: 0.6;
}

.ph-cover {
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .ph-h-md-600px {
    height: 600px;
  }
}

@media screen and (min-width: 990px) {
  .ph-SectionGrid {
    display: grid;
  }
  .ph-ndesktop {
    display: none;
  }
  .ph-desktopgrid {
    display: grid;
  }
  .ph-fs-lg-62px {
    font-size: 62px;
  }
  .ph-lh-lg-60px {
    line-height: 60px;
  }
  .ph-ls-lg-m360 {
    letter-spacing: -3.6px;
  }
}
