/* Slider settings */

.slider.slider--desktop {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
  -webkit-overflow-scrolling: touch;
}

.slider.slider--desktop .slider__slide {
  margin-bottom: 0;
  padding-bottom: 0;
}

.slider-buttons {
  display: flex !important;
}

/* Own styles, prefixed with ps- */

.ps-mobile {
  display: block;
}

.ps-nmobile {
  display: none;
}

.ps-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.ps-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.ps-flex {
  display: flex;
}

.ps-column {
  flex-direction: column;
}

.ps-jc-spb {
  justify-content: space-between;
}

.ps-ai-c {
  align-items: center;
}

.ps-w-100p {
  width: 100%;
}

.ps-w-84p {
  width: 84%;
}

.ps-w-90vw {
  width: 90vw;
}

.ps-h-100p {
  height: 100%;
}

.ps-mxw-100p {
  max-width: 100%;
}

.ps-mxh-230px {
  max-height: 230px;
}

.ps-mxh-30px {
  max-height: 30px;
}

.ps-pos-rel {
  position: relative;
}

.ps-ofl-hidden {
  overflow: hidden;
}

.ps-bgcol-bg {
  background-color: var(--color-background);
}

.ps-col-fg {
  color: var(--color-foreground);
}

.ps-mb-5 {
  margin-bottom: 16px;
}

.ps-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ps-pb-11 {
  padding-bottom: 56px;
}

.ps-pt-0 {
  padding-top: 0;
}

.ps-pt-9 {
  padding-top: 40px;
}

.ps-px-2p {
  padding-left: 2%;
  padding-right: 2%;
}

.ps-px-38px {
  padding-left: 38px;
  padding-right: 38px;
}

.ps-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ps-ff-heading {
  font-family: var(--font-heading-family);
}

.ps-fs-0 {
  font-size: 14px;
}

.ps-fs-7 {
  font-size: 28px;
}

.ps-lh-30px {
  line-height: 30px;
}

.ps-lh-130 {
  line-height: 130%;
}

.ps-ls-m124 {
  letter-spacing: -1.24px;
}

.ps-fw-300 {
  font-weight: 300;
}

.ps-fw-500 {
  font-weight: 500;
}

.ps-ta-c {
  text-align: center;
}

.ps-noborder {
  border: none;
}

.ps-noborder:active {
  border: none;
}

.ps-noborder:focus {
  border: none;
}

.ps-nooutline {
  outline: none;
}

.ps-nooutline:active {
  outline: none;
}

.ps-nooutline:focus {
  outline: none;
}

@media screen and (min-width: 500px) {
  .ps-mobile {
    display: none;
  }
  .ps-nmobile {
    display: block;
  }
  .ps-w-md-85p {
    width: 85%;
  }
  .ps-w-md-74p {
    width: 74%;
  }
  .ps-mnh-md-230px {
    min-height: 230px;
  }
  .ps-mb-md-15px {
    margin-bottom: 15px;
  }
  .ps-pb-md-12 {
    padding-bottom: 64px;
  }
  .ps-pt-md-7 {
    padding-top: 24px;
  }
  .ps-px-md-3p {
    padding-left: 3%;
    padding-right: 3%;
  }
  .ps-px-md-11 {
    padding-left: 56px;
    padding-right: 56px;
  }
  .ps-py-md-13 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .ps-fs-md-4 {
    font-size: 22px;
  }
}

@media screen and (min-width: 990px) {
  .ps-SectionGrid {
    display: grid;
  }
  .ps-w-lg-auto {
    width: auto;
  }
  .ps-mb-md-18px {
    margin-bottom: 18px;
  }
  .ps-pb-lg-10 {
    padding-bottom: 48px;
  }
  .ps-pt-lg-10 {
    padding-top: 48px;
  }
  .ps-fs-lg-38px {
    font-style: 38px;
  }
  .ps-lh-lg-44px {
    line-height: 44px;
  }
  .ps-fs-lg-2 {
    font-size: 16px;
  }
  .ps-lh-lg-140 {
    line-height: 140%;
  }
  .ps-fw-lg-400 {
    font-weight: 400;
  }
}
