.SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.w-100p {
  width: 100%;
}

.w-84p {
  width: 84%;
}

.pos-rel {
  position: relative;
}

.ofl-hidden {
  overflow: hidden;
}

.bgcol-bg {
  background-color: var(--color-background);
}

.col-fg {
  color: var(--color-foreground);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pb-11 {
  padding-bottom: 56px;
}

.pt-0 {
  padding-top: 0;
}

.pt-9 {
  padding-top: 40px;
}

.px-2p {
  padding-left: 2%;
  padding-right: 2%;
}

.ff-heading {
  font-family: var(--font-heading-family);
}

.fs-7 {
  font-size: 28px;
}

.lh-30px {
  line-height: 30px;
}

.ls-m124 {
  letter-spacing: -1.24px;
}

.fw-500 {
  font-weight: 500;
}

.ta-c {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .w-md-74p {
    width: 74%;
  }
  .pb-md-12 {
    padding-bottom: 64px;
  }
  .pt-md-7 {
    padding-top: 24px;
  }
  .px-md-3p {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (min-width: 990px) {
  .SectionGrid {
    display: grid;
  }
  .w-lg-auto {
    width: auto;
  }
  .pb-lg-10 {
    padding-bottom: 48px;
  }
  .pt-lg-10 {
    padding-top: 48px;
  }
  .fs-lg-38px {
    font-style: 38px;
  }
  .lh-lg-44px {
    line-height: 44px;
  }
  .fw-lg-400 {
    font-weight: 400;
  }
}
