.SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.bg-grey {
  background-color: #f9f9fa;
}

.anthracite {
  color: #111111;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.jc-spa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ndesktop {
  display: block;
}

.desktopgrid {
  display: none;
}

.mb-7 {
  margin-bottom: 24px;
}

.py-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-7 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ff-heading {
  font-family: var(--font-heading-family);
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fs-1 {
  font-size: 16px;
}

.fs-4 {
  font-size: 22px;
}

.lh-100 {
  line-height: 100%;
}

.lh-136 {
  line-height: 136%;
}

@media screen and (min-width: 420px) {
  .py-md-9 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-md-7 {
    padding-top: 24px;
  }
  .pb-md-10 {
    padding-bottom: 48px;
  }
  .fs-md-4 {
    font-size: 22px;
  }
}

@media screen and (min-width: 1000px) {
  .SectionGrid {
    display: grid;
  }
  .ndesktop {
    display: none;
  }
  .desktopgrid {
    display: grid;
  }
}
