/* Slider settings */

li {
  list-style-type: none;
}

.slider {
  padding-bottom: 50px;
}

.grid__item.slider__slide {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: unset !important;
  width: 100% !important;
}

.slider__slide:first-child {
  padding-left: 0 !important;
}

.slider__slide:last-child {
  padding-right: 0 !important;
}

.slider.slider--desktop {
  position: relative;
  flex-wrap: inherit;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-left: 1rem;
  -webkit-overflow-scrolling: touch;
}

.slider.slider--desktop .slider__slide {
  margin-bottom: 0;
  padding-bottom: 0;
}

.slider-buttons {
  display: flex !important;
}

sleepink-slider .slider-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}

/* Own styles, prefixed with pv- */

.pv-mobile {
  display: block;
}

.pv-nmobile {
  display: none;
}

.pv-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.pv-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.pv-flex {
  display: flex;
}

.pv-row {
  flex-direction: row;
}

.pv-column {
  flex-direction: column;
}

.pv-jc-c {
  justify-content: center;
}

.pv-jc-spb {
  justify-content: space-between;
}

.pv-js-c {
  justify-self: center;
}

.pv-ai-c {
  align-items: center;
}

.pv-as-c {
  align-self: center;
}

.pv-as-bl {
  align-self: baseline;
}

.pv-grid {
  display: grid;
}

.pv-1col {
  grid-template-columns: 1fr;
}

.pv-2col {
  grid-template-columns: 1fr 1fr;
}

.pv-col-1 {
  grid-column: 1 / span 1;
}

.pv-col-1-2 {
  grid-column: 1 / span 2;
}

.pv-row-1-2 {
  grid-row: 1 / span 2;
}

.pv-row-1-4 {
  grid-row: 1 / span 4;
}

.pv-row-2 {
  grid-row: 2 / span 1;
}

.pv-w-100p {
  width: 100%;
}

.pv-w-84p {
  width: 84%;
}

.pv-w-90vw {
  width: 90vw;
}

.pv-w-90p {
  width: 90%;
}

.pv-w-22px {
  width: 22px;
}

.pv-h-100p {
  height: 100%;
}

.pv-h-22px {
  height: 22px;
}

.pv-h-400px {
  height: 400px;
}

.pv-mxh-60px {
  max-height: 60px;
}

.pv-mxw-100p {
  max-width: 100%;
}

.pb-mxh-150px {
  max-height: 150px;
}

.pv-mxh-230px {
  max-height: 230px;
}

.pv-mxh-30px {
  max-height: 30px;
}

.pv-pos-rel {
  position: relative;
}

.pv-ofl-hidden {
  overflow: hidden;
}

.pv-bgcol-bg {
  background-color: var(--color-background);
}

.pv-col-fg {
  color: var(--color-foreground);
}

.pv-mb-5 {
  margin-bottom: 16px;
}

.pv-ml-1 {
  margin-left: 2px;
}

.pv-ml-2 {
  margin-left: 4px;
}

.pv-ml-3 {
  margin-left: 8px;
}

.pv-mr-3 {
  margin-right: 8px;
}

.pv-mt-1 {
  margin-top: 2px;
}

.pv-mt-2 {
  margin-top: 4px;
}

.pv-mt-6 {
  margin-top: 20px;
}

.pv-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pv-my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.pv-my-4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.pv-pb-11 {
  padding-bottom: 56px;
}

.pv-pb-50px {
  padding-bottom: 50px;
}

.pv-pt-0 {
  padding-top: 0;
}

.pv-pt-9 {
  padding-top: 40px;
}

.pv-px-2p {
  padding-left: 2%;
  padding-right: 2%;
}

.pv-px-38px {
  padding-left: 38px;
  padding-right: 38px;
}

.pv-py-5 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pv-py-11 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.pv-ff-body {
  font-family: var(--font-body-family);
}

.pv-ff-heading {
  font-family: var(--font-heading-family);
}

.pv-fs-0 {
  font-size: 14px;
}

.py-fs-2 {
  font-size: 18px;
}

.pv-fs-4 {
  font-size: 22px;
}

.pv-fs-7 {
  font-size: 28px;
}

.pv-lh-26px {
  line-height: 26px;
}

.pv-lh-30px {
  line-height: 30px;
}

.pv-lh-130 {
  line-height: 130%;
}

.pv-lh-150 {
  line-height: 1.5;
}

.pv-ls-m124 {
  letter-spacing: -1.24px;
}

.pv-fw-300 {
  font-weight: 300;
}

.pv-fw-400 {
  font-weight: 400;
}

.pv-fw-500 {
  font-weight: 500;
}

.pv-uppercase {
  text-transform: uppercase;
}

.pv-ta-c {
  text-align: center;
}

.pv-contain {
  object-fit: contain;
}

.pv-op-cc {
  object-position: center center;
}

.pv-noborder {
  border: none;
}

.pv-noborder:active {
  border: none;
}

.pv-noborder:focus {
  border: none;
}

.pv-nooutline {
  outline: none;
}

.pv-nooutline:active {
  outline: none;
}

.pv-nooutline:focus {
  outline: none;
}

.pv-nodec {
  text-decoration: none;
}

.pv-contain {
  object-fit: contain;
}

@media screen and (min-width: 500px) {
  .pv-mobile {
    display: none;
  }
  .pv-nmobile {
    display: block;
  }
  .pv-w-md-85p {
    width: 85%;
  }
  .pv-w-md-74p {
    width: 74%;
  }
  .pv-mnh-md-230px {
    min-height: 230px;
  }
  .pv-mb-md-15px {
    margin-bottom: 15px;
  }
  .pv-pb-md-12 {
    padding-bottom: 64px;
  }
  .pv-pt-md-7 {
    padding-top: 24px;
  }
  .pv-px-md-3p {
    padding-left: 3%;
    padding-right: 3%;
  }
  .pv-px-md-11 {
    padding-left: 56px;
    padding-right: 56px;
  }
  .pv-py-md-13 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .pv-fs-md-4 {
    font-size: 22px;
  }
}

@media screen and (min-width: 990px) {
  .pv-SectionGrid {
    display: grid;
  }
  .pv-lg-5sect {
    grid-template-columns:
      1fr minmax(20px, 200px) minmax(600px, 900px) minmax(20px, 200px)
      1fr;
  }
  .pv-lg-2col {
    grid-template-columns: 1fr 1fr;
  }
  .pv-lg-col-1 {
    grid-column: 1 / span 1;
  }
  .pv-lg-col-2 {
    grid-column: 2 / span 1;
  }
  .pv-lg-col-3 {
    grid-column: 3 / span 1;
  }
  .pv-lg-row-1 {
    grid-row: 1 / span 1;
  }
  .pv-lg-row-1-2 {
    grid-row: 1 / span 2;
  }
  .pv-lg-row-unset {
    grid-row: unset;
  }
  .pv-w-lg-auto {
    width: auto;
  }
  .pv-mb-md-18px {
    margin-bottom: 18px;
  }
  .pv-pb-lg-10 {
    padding-bottom: 48px;
  }
  .pv-pt-lg-10 {
    padding-top: 48px;
  }
  .pv-fs-lg-38px {
    font-style: 38px;
  }
  .pv-lh-lg-44px {
    line-height: 44px;
  }
  .pv-fs-lg-2 {
    font-size: 16px;
  }
  .pv-lg-fs-7 {
    font-size: 28px;
  }
  .pv-lg-fs-38px {
    font-size: 38px;
  }
  .pv-lh-lg-140 {
    line-height: 140%;
  }
  .pv-lg-lh-32px {
    line-height: 32px;
  }
  .pv-lg-lh-44px {
    line-height: 44px;
  }
  .pv-lg-ls-m100 {
    letter-spacing: -1px;
  }
  .pv-lg-fw-400 {
    font-weight: 400;
  }
  .pv-lg-fw-500 {
    font-weight: 500;
  }
}
