.pom-main-image{
    border-radius: 1.2rem;
}
.pom-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    padding: 2rem;
}
.pom {
    display: grid;
    gap: 1.5rem;
    margin-top: 1rem;
}
.pom-container{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.pom-image{
    height: 100px;
    width: 100px;
    border: 1px solid rgba(var(--color-foreground), 0.75);;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.pom-highlight{
    font-weight: 700;
    font-size: 21px;
    margin: 0;
    color: rgb(74, 74, 74);
    font-style: normal;
}
/*.pom-container {*/
/*    position: relative;*/
/*    padding: 2rem;*/
/*    border: 1px solid gray;*/
/*    border-radius: 0 1rem 1rem 1rem;*/
/*    background: #FFF;*/
/*    cursor: pointer;*/
/*    height: 180px;*/
/*    width: 160px;*/
/*}*/
.pom-info{
    display: flex;
    flex-direction: column;
}
/*.pom-image {*/
/*    margin: auto;*/
/*    display: block;*/
/*    width: 100px;*/
/*    height: auto;*/
/*}*/


.pom-text {
    text-align: left;
    margin: 0;
    color: rgba(var(--color-foreground), 0.75);
}