@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Open+Sans:wght@400;600&family=Playfair+Display&display=swap');

:root {
  --c-base:  #fff;
  --c-red:    #BC0000;
  --c-gray-1: #EEE;
  --c-gray-2: #888;
  --c-gray-3: #4D4D4D;
  --c-gray-4: #111111;
}

/* Carousel */
.carousel-section {
  font-family: 'Open Sans', sans-serif;
}

.carousel__title,
.product-card__title {
  font-family: 'Playfair Display', serif;
}

.flickity-button {
  display: none;
}

/* Product card */
.carousel-cell {
  width: calc(80%);
  margin-right: 24px;
}

.carousel__title {
  font-size: 30pt;
}

.product-card__title {
  font-size: 18pt;
}

/* Product image */
.product-card__img-container {
  height: 90vw;
  width: 100%;
  position: relative;
}

.product-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__new-tag {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: var(--c-red);
  color: var(--c-base);
  font-size: 12pt;
  padding: 0 0.8em ;
}

/* Product info */
.card-info {
  margin-bottom: 3rem;
}

.product-card__title,
.product-card__description {
  margin-bottom: 1rem;
}

.card-info a {
  text-decoration: none;
  margin-bottom: 1rem;
}

.product-card__description {
  font-size: 12pt;
}

.product-card__price {
  color: var(--c-gray-4);
}

.product-card__price--compare {
  color: var(--c-gray-2);
  text-decoration: line-through;
} 

/* CTA button */
.product-form__cta {
  background: var(--c-base);
  color: var(--c-gray-4);
  display: block;
  width: calc(100% - 4px);
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14pt;
  border: solid 2px var(--c-gray-4);
  box-shadow: 2px 2px var(--c-base), 4px 4px var(--c-gray-4);
  margin-bottom: 4px;
  cursor: pointer;
}

.product-form__cta:hover {
  color: var(--c-base);
  background: var(--c-gray-4);
}

.product-form__cta:active {
  color: var(--c-base);
  background: var(--c-gray-3);
}

.product-form__cta:disabled {
  pointer-events: none;
  color: var(--c-gray-2);
  border: solid 2px var(--c-gray-2);
  box-shadow: 2px 2px var(--c-base), 4px 4px var(--c-gray-2);
}

.product-form__cta .loading-overlay__spinner {
  display: none!important;
}

/* TABLET */
@media (min-width: 600px) {

  /* Carousel */
  .flickity-button {
    display: block;
    background: var(--c-base)!important;
    width: 36pt!important;
    height: 36pt!important;
    top: 25vw!important;
    box-shadow: 1px 2pt 2pt #0000005c;
  }

  .flickity-button-icon {
    width: 40%!important;
    left: 28%!important;
  }
  
  /* Product card */
  .carousel-cell {
    width: calc(50% - 12px);
    margin-right: 24px;
  }

  .carousel__title {
    font-size: 32pt;
  }
  
  .product-card__title {
    font-size: 20pt;
  } 
  
  /* Product image */
  .product-card__img-container {
    height: 50vw;
    width: 100%;
  }
}

/* DESKTOP */
@media (min-width: 1200px) {

  /* Carousel */
  .flickity-button {
    top: 30%!important;
  }
  
  /* Product card */
  .carousel-cell {
    width: calc(25% - 18px);
    margin-right: 24px;
  }

  .carousel__title {
    font-size: 36pt;
  }
  
  .product-card__title {
    font-size: 24pt;
  } 
  
  /* Product image */
  .product-card__img-container {
    height: 28vw;
    max-height: 450px;
    width: 100%;
  }
}