@media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product--large:not(.product--no-media) .product__info-wrapper {
    padding: 0 0 0 4rem;
    max-width: 55%;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product--large:not(.product--no-media).product--right .product__info-wrapper {
    padding: 0 4rem 0 0;
  }

  .product--medium:not(.product--no-media) .product__media-wrapper,
  .product--small:not(.product--no-media) .product__info-wrapper {
    max-width: 55%;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .product--medium:not(.product--no-media) .product__info-wrapper,
  .product--small:not(.product--no-media) .product__media-wrapper {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}

.product__info-container {
  background: #f5f5f5;
  box-shadow: 0 0 8px -1px #bebebe;
  padding: 1rem 3rem;
}

.product-quantity-indicator {
  padding: 0;
}

.product-quantity-indicator,
.product-quantity-indicator li {
  list-style: none;
}

.product-quantity-indicator li {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 10px;
}

.product-quantity-indicator li span {
  font-weight: bold;
}

.product-quantity-indicator li svg {
  width: 20px;
  height: auto;
}

.price-container {
  display: grid;
  align-items: center;
}

.green {
  color: green;
}

.orange {
  color: #ff6600;
}

.red {
  color: red;
}