quantity-popover volume-pricing li:nth-child(odd) {
  background: rgba(var(--color-foreground), 0.03);
}

quantity-popover volume-pricing li {
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
}

.quantity-popover__info.global-settings-popup {
  width: 100%;
  z-index: 2;
  background-color: rgb(var(--color-background));
}

.quantity-popover__info .quantity__rules {
  margin-bottom: 1rem;
}

.quantity-popover__info--wide {
  padding-top: 3.2rem;
}

.quantity-popover__info .button {
  width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.8rem 0 0;
  display: flex;
  justify-content: flex-end;
}

.quantity-popover__info .button .icon {
  width: 1.5rem;
  height: 1.5rem;
}

quantity-popover volume-pricing {
  margin-top: 1.2rem;
  display: block;
}

quantity-popover .quantity__rules span:first-of-type {
  display: block;
}

.variant-item__quantity-wrap {
  display: flex;
  padding: 0.5rem;
}

@media screen and (min-width: 750px) {
  quantity-popover .variant-item__quantity-wrapper:hover .variant-item__quantity-wrap.variant-item__quantity-wrap--hover {
    background-color: rgba(var(--color-foreground), 0.03);
  }

  .quantity-popover__info.global-settings-popup {
    width: 27rem;
  }

  .variant-item__quantity-wrap {
    width: 20rem;
  }
}

quantity-popover:has(.quantity__input:focus-visible) .quantity-popover__info {
  display: block;
}

quantity-popover .quantity {
  background: rgb(var(--color-background));
}

quantity-popover .quantity__rules {
  margin-left: 1.2rem;
}

quantity-popover .quantity__rules .divider:nth-child(2)::before {
  content: none;
}