quickbuy-modal .product__media-item:not(:first-child),
quickbuy-modal pickup-availability,
quickbuy-modal .product__description,
quickbuy-modal .product__accordion,
quickbuy-modal .share-button {
  display: none;
}

.quick-buy-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.quick-buy-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.quick-buy-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  overflow: auto;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.quick-buy-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.quick-buy-modal__content:focus-visible{
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
  0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
  var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media screen and (min-width: 750px) {
  .quick-buy-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem 2rem 3rem;
  }
}

.quick-buy-modal__content img {
  max-width: 100%;
}

.quick-buy-modal__content-info {
  padding-right: 4.4rem;
}

.quick-buy-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .quick-buy-modal__content-info > * {
    max-height: 100%;
  }
}

.quick-buy-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.quick-buy-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.quick-buy-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.quick-buy-modal__content {
  max-width: var(--page-width);
}

quickbuy-modal product-modal {
  display: none;
}

quickbuy-modal .quick-buy-modal__content-info {
  padding-right: 0;
}

quickbuy-modal .product__view-details {
  display: block;
}

@media screen and (min-width: 750px) {
  quickbuy-modal .product--small:not(.product--no-media) .product__media-wrapper,
  quickbuy-modal .product--medium:not(.product--no-media) .product__media-wrapper,
  quickbuy-modal .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  quickbuy-modal .product--small:not(.product--no-media) .product__info-wrapper,
  quickbuy-modal .product--medium:not(.product--no-media) .product__info-wrapper,
  quickbuy-modal .product--large:not(.product--no-media) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 55%;
    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2)
  }
}

quickbuy-modal .page-width {
  padding: 0;
}

quickbuy-modal .product__title > h1 {
  display: none;
}

quickbuy-modal .product__title > a {
  display: block;
}

.quick-buy__submit {
  transition: background-color var(--duration-long) ease;
}
