.quick-order-form {
  display: block;
}

.quick-order-form table {
  border-collapse: collapse;
}

.quick-order-form thead {
  background-color: rgba(var(--color-foreground), 0.02);
}

.quick-order-form thead th:first-child {
  padding-left: 1rem;
}

.quick-order-form thead th:last-child {
  padding-right: 1rem;
}

.quick-order-form .quick-order-list__table thead th {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.quick-order-form .quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 3rem);
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
}

.quick-order-form .variant-item__name,
.quick-order-form .variant-item__price .price,
.quick-order-form .variant-item__totals .price {
  font-size: 1.4rem;
}

.quick-order-form a.variant-item__name {
  text-decoration: none;
}

.quick-order-form a.variant-item__name:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.1rem;
}

.quick-order-form .quick-order-list__table th {
  border: 0;
}

.quick-order-form tr.variant-item:not(.product):hover,
.quick-order-form tr.variant-item:not(.product):focus-within,
.quick-order-form tr.one-variant:hover {
  background-color: rgba(var(--color-foreground), 0.02);
}

.quick-order-form tr.variant-item td.variant-item__inner {
  display: table-cell;
}

.quick-order-form .quick-order-list__table td {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.quick-order-form tr.product td {
  min-height: calc((var(--inputs-border-width) * 2) + 5rem);
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.quick-order-form .product-item__title--wrapper {
  display: flex;
}

.quick-order-form .product:not(:first-child) {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.quick-order-form .product:first-child {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.quick-order-form tr .variant-item__image-container {
  margin-right: 0.8rem;
}

.quick-order-form tr.product .variant-item__image-container {
  width: 3.6rem;
  border: min(var(--media-border-width), 1.8rem) solid rgba(var(--color-foreground),var(--media-border-opacity));
  height: auto;
}

.quick-order-form tr:not(.product) .variant-item__image-container {
  width: 2.6rem;
  height: 2.6rem;
  border: min(var(--media-border-width), 1.3rem) solid rgba(var(--color-foreground),var(--media-border-opacity));
  background-color: transparent;
}

.quick-order-form tr .variant-item__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.8rem;
}

.quick-order-form tr:not(.product) .variant-item__media {
  width: 2.6rem;
  height: 4rem;
}

.quick-order-form tr.product .variant-item__media {
  width: 3.6rem;
  height: auto;
}

.quick-order-form .field {
  margin-bottom: 1.8rem;
}

.quick-order-form .field label {
  opacity: 0.3;
}

.search--wrapper {
  display: flex;
}

.total-items {
  white-space: nowrap;
  line-height: calc(1 + .5 / var(--font-body-scale));
  font-size: 1.4rem;
  margin-left: 1.6rem;
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
}

.quick-order-form tr:not(.one-variant) .variant-item__totals .loading__spinner {
  padding-top: 1.5rem;
}

.quick-order-form tr.one-variant .variant-item__totals .loading__spinner {
  padding-top: 2.3rem;
}

.product-item__inner .small-hide {
  display: flex;
  flex-direction: column;
  align-self: center;
}
