.quick-add-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.quick-add-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.2rem;
  width: 100%;
  position: absolute;
  top: 0;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
  overflow: hidden;
}

.quick-add-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.quick-add-modal__content:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media screen and (min-width: 750px) {
  .quick-add-modal__content {
    margin-top: 10rem;
    width: 70%;
    height: calc(100% - 20rem);
    overflow: hidden;
  }
}

.quick-add-modal__content img {
  max-width: 100%;
}

.quick-add-modal__content-info {
  padding-right: 4.4rem;
  display: flex;
  overflow-y: auto;
  padding: 2.5rem;
  height: 100%;
}

.quick-add-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .quick-add-modal__content {
    bottom: 3.2rem;
  }
  
  .quick-add-modal__content-info > * {
    max-height: 100%;
  }
}

.quick-add-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1.2rem;
  z-index: 5;
  width: 4rem;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
}

.quick-add-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.quick-add-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.quick-add-modal__content {
  max-width: var(--page-width);
}

quick-add-modal .product:not(.featured-product) .product__view-details {
  display: block;
}

.quick-add-hidden,
quick-add-modal .product__modal-opener:not(.product__modal-opener--image),
quick-add-modal .product__media-item:not(:first-child) {
  display: none !important;
}

quick-add-modal .product__media-list .deferred-media {
  display: block;
  width: 100%;
}

quick-add-modal .product__xr-button {
  width: calc(100% - 1.5rem);
  margin-left: 0;
}

@media screen and (max-width: 749px) {
  quick-add-modal .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
  }
}

@media screen and (min-width: 750px) {
  quick-add-modal .product--small:not(.product--no-media) .product__media-wrapper,
  quick-add-modal .product--medium:not(.product--no-media) .product__media-wrapper,
  quick-add-modal .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  quick-add-modal .product--small:not(.product--no-media) .product__info-wrapper,
  quick-add-modal .product--medium:not(.product--no-media) .product__info-wrapper,
  quick-add-modal .product--large:not(.product--no-media) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 54%;
    width: calc(54% - var(--grid-desktop-horizontal-spacing) / 2)
  }

  quick-add-modal .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: none;
  }
}

quick-add-modal .page-width {
  padding: 0;
}

quick-add-modal .product__title > h1 {
  display: none;
}

quick-add-modal .product__title > a {
  display: block;
  text-decoration: none;
}

quick-add-modal .product__title > a:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.3rem;
}

quick-add-modal .product__view-details {
  padding-bottom: 3rem;
}

.quick-add__submit {
  padding: 0 2rem;
}
