quickbuy-modal .product__media-item:not(:first-child),
quickbuy-modal pickup-availability,
quickbuy-modal .product__description,
quickbuy-modal .product__accordion,
quickbuy-modal .share-button {
  display: none;
}

quickbuy-modal .product-popup-modal__content-info {
  padding-right: 0;
}

quickbuy-modal .product--small:not(.product--no-media) .product__media-wrapper,
quickbuy-modal .product--medium:not(.product--no-media) .product__media-wrapper,
quickbuy-modal .product--large:not(.product--no-media) .product__media-wrapper {
  max-width: 45%;
  width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
}

quickbuy-modal .product--small:not(.product--no-media) .product__info-wrapper,
quickbuy-modal .product--medium:not(.product--no-media) .product__info-wrapper,
quickbuy-modal .product--large:not(.product--no-media) .product__info-wrapper {
  padding-left: 4rem;
  max-width: 55%;
  width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2)
}
quickbuy-modal .page-width {
  padding: 0;
}

