.quick-order-form {
  display: block;
}

.quick-order-form thead {
  background-color: rgba(var(--color-foreground), 0.02);
}

.quick-order-form .quick-order-list__table thead th {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.quick-order-form .quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 3rem);
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
}

.quick-order-form .variant-item__name,
.quick-order-form .variant-item__price .price,
.quick-order-form .variant-item__totals .price {
  font-size: 1.4rem;
}