#quiz{
    min-height:60vh;
}

.quiz-grid {
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.sidebar{
    background: red;
}
.quiz-question-container{
    max-width: 75%;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
.pagination-next{
    width:100%;
    margin-top:15px;
}
.optionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}
.option label {
    display: inline-block;
    color: rgba(var(--color-foreground), 0.75);
    cursor: pointer;
    position: relative;
    width: 100%;
    height:100%;
    text-align: left;
}
.option label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 1px solid rgba(var(--color-button), 0.3);
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.option label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: rgba(var(--color-foreground), 0.75);
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}
.option label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 1px;
    background: rgba(var(--color-foreground), 0.75);
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.option label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}
.option label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

.option input[type=checkbox], .option input[type=radio] {
    display: none;
}
.option input[type=checkbox]:checked + label,
.option input[type=radio]:checked + label  {
    background-color: rgba(var(--color-button), 0.9);
    color:rgba(var(--color-background), 1);
}
.option input[type=checkbox]:hover + label,
.option input[type=radio]:hover + label{
    background-color: rgba(var(--color-button), 0.4);
}

.option input[type=checkbox]:checked + label span,
.option input[type=radio]:checked + label span  {
    background: var(--color-background);
    border: 1px solid rgba(var(--color-background), 1);
    transform: scale(1.25);
}

.option input[type=checkbox]:checked + label span:after,
.option input[type=radio]:checked + label span:after  {
    width: 10px;
    background: rgba(var(--color-background), 1);
    transition: width 150ms ease 100ms;
}
.option input[type=checkbox]:checked + label span:before,
.option input[type=radio]:checked + label span:before  {
    width: 5px;
    background-color: rgba(var(--color-background), 1);
    transition: width 150ms ease 100ms;
}
.option input[type=checkbox]:checked + label:hover span,
.option input[type=radio]:checked + label:hover span  {
    background: rgba(var(--color-background), 1);
    transform: scale(1.25);
}
.option input[type=checkbox]:checked + label:hover span:after,
.option input[type=radio]:checked + label:hover span:after  {
    width: 10px;
    background: rgba(var(--color-button), 0.7);
    transition: width 150ms ease 100ms;
}
.option input[type=checkbox]:checked + label:hover span:before,
.option input[type=radio]:checked + label:hover span:before  {
    width: 5px;
    background: rgba(var(--color-button), 0.7);
    transition: width 150ms ease 100ms;
}
.option label {
    align-items: center;
    border-radius: 4px;
    border: 1px solid;
    border-color: rgba(var(--color-button), 0.4);
    box-shadow: rgba(222, 201, 186, 0.1) 0px 4px 12px 0px;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: rgba(var(--color-foreground), 0.75);
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: flex-start;
    letter-spacing: normal;
    line-height: 24px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
    -moz-box-align: center;
    -moz-box-pack: start
}
/*ANIMATIONS*/
.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-left{
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both reverse;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both reverse;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-4-12 13:38:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
