.section{
    padding-top: 2rem;
}
.lp-cta{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.quizhero{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.quizhero__container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50rem;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}
.analyze{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "body"
    "ingredients"
;
}
.analyze__title{
    text-align: center;
}
.analyze__body{
    display: flex;
    align-items: center;
}
.analyze__body__image{
    flex-shrink: 1;
    margin-right: 1rem;
}
.analyze__body__image img{
    max-width: 100%;
}
.analyze__ingredients__title{
    text-transform: uppercase;
}
.analyze__ingredients__list ul, .every-ingredient__image__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding:0;
}
.analyze__ingredients__list ul li, .every-ingredient__image__list__item{
    display: grid;
    margin-right: 1rem;
    grid-template-columns: 1fr;
    gap:0.5rem;
    text-align: center;
    list-style-type: none;
}
.analyze__ingredients__list ul li img, .every-ingredient__image__list__item img{
    margin-bottom: 1rem;
    height: 8rem;
    /*width: 8rem;*/
}
.analyze__body__content{
    flex-shrink: 0;
}
.analyze__body__content__name{
    font-size: 2rem;
    font-weight: 600;
}
.analyze__body__content__list__title{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.analyze__body__content__list__description{
    font-weight: 700;
    text-transform: lowercase;
    margin-left:0;
    font-size: 2rem;
}

.how{
    background-color: #fdedf2;
}
.how__title, .ingredient__body__title,.proven__title {
    text-align: center;
}
.how__container{
    margin-top:3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image"
    "body"
;
    justify-content: center;
}
.how__body{
    grid-area: body;
}
.how__image{
    grid-area: image;
}
.how__body__number{
    color: #75e0d0;
    font-size: 5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.how__body__title{
    font-weight: 700;
    margin-top:1rem;
    text-transform: uppercase;
    font-size: 3rem;
}
.every-ingredient{
    background-color: #75e0d0;
    padding-bottom: 2rem;
}
.every-ingredient__body__title{
    color: #FFF;
}
.every-ingredient__body__description{
    font-weight: 600;
    font-size: 2rem;
}
.every-ingredient__image__list__item{
   justify-items: center;
    margin-top: 2rem;
}
.every-ingredient__image__list__item span{
    font-size: 1.2rem;
    font-weight: 550;
}
.proven__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2rem;
}
.proven__item__image{
    padding: 2rem;
    height: 8rem;
    width: 8rem;
    color: #99adb5;
    background: #fcd9e1;
    border-radius: 50%;
}
.proven__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.proven__item__title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.proven__item__body{
    margin-top: 0;
    margin-bottom: 1rem;
}
.allabout__image img{
    width: 100%;
    object-fit: cover;
}
.allabout{
    align-items: center;
}
@media only screen and (min-width: 1024px) {
    .quizhero__container{
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 80rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "content image"
        "cta image"
    ;
    }
    .quizhero__image{
        grid-area: image;
    }
    .quizhero__content{
        grid-area: content;
    }
    .quizhero__cta{
        grid-area: cta;
    }
    .analyze{
        align-items: center;
        margin-top:5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    "body ingredients"
    ;
    }
    .analyze__body{
        justify-content: end;
    }
    .analyze--reverse .analyze__body{
        justify-content: start;
    }
    .analyze--reverse{
        grid-template-areas:
    "ingredients body"
    ;
    }
    .analyze--reverse .analyze__body img{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .analyze__body {
        grid-area: body;
    }
    .analyze__ingredients{
        grid-area: ingredients;
    }
    .how__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .how__container{
        grid-template-areas:
        "body image"
    ;
    }
    .how__container--reverse{
        grid-template-areas:
        "image body"
    ;
    }
    .how__container--reverse .how__image{
        margin-left:auto;
        margin-right:2rem;
    }
    .every-ingredient__container{
        display: grid;
        align-items: center;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .every-ingredient__image__list__item{
        /*margin-top: 0;*/
    }
    .proven__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .allabout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "content image";
    }
    .allabout__image {
        grid-area: image;
        padding: 0 5rem;
    }
    .allabout__content{
        grid-area: content;
    }
}

