[id^="quiz-kit-content"] {
  border-top: 1px solid #E3DDDC;
}

#quiz-kit-success-popup{
  display:none;
}

.knkQuy a{
  height:auto;
}

#submit-form-terms-div a{
  color:#000;
}

.quiz_active{
   pointer-events: none !important; 
   opacity: 0.3 !important;
}

#quiz-kit-container h1[id^="quiz-kit-question-title"], [id^="quiz-kit-results-title"] {
  font-family: 'Avantt', sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}

#quiz-kit-container {
  padding-top: 68px;
  max-width: 1300px;
}

[id^="quiz-kit-question-wrapper"] {
  justify-content: flex-start;
}

[id^="quiz-kit-question-image-box"], [id^="quiz-kit-question-text-box"] {
  border-color: #E3DDDC;
  justify-content: space-evenly;
}

[id^="quiz-kit-question-grid"] {
  min-height: 170px;
}

[id^="quiz-kit-question-text-box"] {
  display: flex;
  padding: 35px 40px;
  flex-grow: 1;
  height: auto !important;
  min-height: auto !important;
  align-items: center;
}
[id^="quiz-kit-question-text-box"] h3 {
  margin: 0 !important;
  font-family: 'Avantt', sans-serif !important;
  line-height: 24px !important;
  text-align: center;
  min-width: 100%;
}
[id^="quiz-kit-question-text-box"] p {
  width: fit-content !important;
}

[id^="quiz-kit-question-image-box"] > div:first-of-type {
  margin-bottom: 10px;
}

[id^="quiz-kit-question-image-box"] img {
  max-width: 72px;
  height: auto;
  max-height: 72px;
}

[id^="quiz-kit-question-image-box"] h3 {
  font-family: 'Avantt', sans-serif !important;
  font-size: 18px !important;
}


[id^="quiz-kit-question-image-box"]:hover, [id^="quiz-kit-question-text-box"]:hover, [id^="quiz-kit-question-image-box"].quiz-active-class {
  position:relative;
  border: none;
}
[id^="quiz-kit-question-image-box"]:hover::before, [id^="quiz-kit-question-text-box"]:hover::before, [id^="quiz-kit-question-image-box"].quiz-active-class::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px; 
  padding: 3px; 
  background: linear-gradient(0deg, #6243B9, #6243B9), #B4FFC2;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: source-out; 
  mask-composite: exclude; 
}

#quiz-kit-question-prev-button {
  font-family: 'Avantt', sans-serif !important;
  font-size: 18px !important;
  border: 2px solid #000 !important;
  border-radius: 100px;
  padding: 12px 40px;
}

#quiz-kit-question-prev-button:hover {
  background-color: #000 !important;
  color: #fff !important;
  opacity: 1;
}

#quiz-kit-question-prev-button svg, #quiz-kit-container svg {
  display: none;
}

h2[id^="quiz-kit-subscribe"] {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  letter-spacing: 1.6px;
}

h1[id^="quiz-kit-subscribe"] {
  text-align: center;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  width: 100%;
}

div[id^="quiz-kit-subscribe"] {
     width: 100%;
    margin: 0 auto;
    max-width: 790px;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

div[id*="discount"] {
  width: fit-content;
  width: -moz-fit-content;
  overflow: hidden;
  position: relative;
  border: none;
  padding: 15px 30px;
  margin: 40px auto 0;
}

div[id*="discount"]::before {
  content: "";
  position: absolute;
  border: 12px dashed #000;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

div[id*="discount"] img {
  max-height: 25px;
  left: 20px;
}

div[id*="discount"] h2 {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 1.6px !important;
  margin-left: 35px !important;
}

form[id^="quiz-kit-subscribe"] {
  width: 100%;
}

[id^="quiz-kit-subscribe"] input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  text-align: left;
}

[id^="quiz-kit-subscribe"] input::placeholder {
  text-align: left;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
}

button[id^="quiz-kit-subscribe"] {
  display: inline-block;
  border-radius: 100px !important;
  border: 2px solid rgb(37, 36, 39) !important;
  background-color: rgb(37, 36, 39) !important;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #fff !important;
  padding: 8px 40px !important;
  margin: 40px 0px 0 0 !important;
  transition: 0.3s !important;
  line-height: 1.6 !important;
  text-transform: unset;
}

button[id^="quiz-kit-subscribe"]:hover {
  background-color: #000 !important;
  border: 2px solid #000 !important;
  color: #fff !important;
}

a[id^="quiz-kit-subscribe"] {
  display: inline-block;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #000 !important;
  border-radius: 100px;
  padding: 9px 40px;
  width: fit-content;
  margin: 40px 0px;
  transition: 0.3s !important;
  cursor: pointer;
/*   pointer-events: none !important; */
  opacity: 0.3;
}

a[id^="quiz-kit-subscribe"]:hover {
  background-color: #000 !important;
  color: #fff !important;
}

[id^="quiz-kit-results-product"] {
  width: fit-content;
  width: -moz-fit-content;
  padding-bottom: 5px;
}

[id^="quiz-kit-results-product"] div {
  width: 100%;
  margin: 10px auto;
  max-width: none;
}

[id^="quiz-kit-results-product"] > div:nth-of-type(2) h3 {
  text-align: center;
  font-size: 34px !important;
  font-weight: 600 !important;
}
[id^="quiz-kit-results-product"] > div:nth-of-type(2) > h4:first-of-type {
  font-weight: 600 !important;
  font-size: 24px !important;
  text-align: center;
  width: 100%;
}

#submit-form-terms-div {
  display: flex;
  padding: 40px 20px 0;
  align-items: center;
  justify-content: center;
}

#submit-form-terms-div input {
  width: auto;
}

#submit-form-terms-div a {
  margin-left: 10px;
  font-size: 16px;
}
#submit-form-terms-div a:hover {
  text-decoration: underline !important;
}

#submit-form-terms-div input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
#submit-form-terms-div input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -6px;
  left: 0;
  border: 2px solid #555555;
  background-color: white;
  padding: 10px;
}
#submit-form-terms-div input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 6px;
  height: 17px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left: 9px;
}

@media screen and (min-width: 769px) { 
  [id^="quiz-kit-results-product"] {
    display: flex;
    width: 100%;
  }
  [id^="quiz-kit-results-product"] div:nth-of-type(2) {
    width: 35%;
  }
  [id^="quiz-kit-results-product"] > div:first-of-type {
    width: 35%;
  }
/*   [id^="quiz-kit-results-product"] > div:first-of-type a {
    height: 100%;
  } */
  [id^="quiz-kit-results-product"] > div:first-of-type img {
    max-width: 100%;
    object-fit:contain !important;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) {
    max-width: 100%;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) h3 {
    text-align: left;
    font-size: 40px !important;
    font-weight: 600 !important;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) > h4:first-of-type {
    font-weight: 600 !important;
    font-size: 28px !important;
    text-align: left;
    width: 100%;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) > div:first-of-type {
    margin: 10px 0;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) > div:nth-of-type(2) {
    width: 100%;
  }
  [id^="quiz-kit-results-product"] > div:nth-of-type(2) > div:nth-of-type(2) button {
    width: auto !important;
    margin: 15px auto 15px 0 !important;
  }
}

[id^="quiz-kit-results-description"], [id^="quiz-kit-results-product"] h3, [id^="quiz-kit-results-product"] h4, [id^="quiz-kit-results-product"] select {
  font-family: 'Avantt', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px;
}

[id^="quiz-kit-results-product"] button {
  border-radius: 100px !important;
  border: 2px solid #DE3D5E !important;
  background-color: #DE3D5E !important;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #fff !important;
  padding: 12px 40px !important;
  margin: 0 !important;
  width: 100%;
  max-width: none;
  margin: 0 20px 0 0;
  transition: 0.3s !important;
  height: auto !important;
}

[id^="quiz-kit-results-custom-button"] {
  border-radius: 100px !important;
  border: 2px solid #000 !important;
  background-color: #fff !important;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000 !important;
  padding: 12px 40px !important;
  margin: 0 !important;
  width: 100%;
  max-width: none;
  margin: 0 20px 0 0;
  transition: 0.3s !important;
  opacity: 1;
}

[id^="quiz-kit-results-product"] button:hover, [id^="quiz-kit-results-custom-button"]:hover {
  background-color: #000 !important;
  border: 12x solid #000 !important;
  color: #fff !important;
  opacity: 1;
}

[id^='quiz-kit-results-retake-quiz-button'] {
  display: inline-block;
  font-family: 'Avantt', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #000 !important;
  border-radius: 100px !important;
  padding: 12px 40px;
  width: fit-content;
  margin: 0 0 0 20px;
  transition: 0.3s !important;
  display: none;
}

[id^='quiz-kit-results-retake-quiz-button']:hover {
  background-color: #000 !important;
  color: #fff !important;
  opacity: 1;
}


@media screen and (max-width: 768px) {
  #quiz-kit-container h1[id^=quiz-kit-question-title], [id^=quiz-kit-results-title] {
    font-size: 20px !important;
  }
  #quiz-kit-container {
    padding-top: 33px;
  }
  [id^="quiz-kit-question-image-box"] {
    flex-direction: row;
    max-width: 330px;
    min-height: 100px !important;
    padding: 20px;
  }
  [id^="quiz-kit-question-image-box"] > div:first-of-type {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  [id^="quiz-kit-question-image-box"] > div:first-of-type > div:first-of-type {
    display: flex;
    height: auto;
  }
  [id^="quiz-kit-question-image-box"] h3 {
    flex-grow: revert;
    flex-basis: revert;
    text-align: left;
    margin-left: 24px !important;
    font-size: 16px !important;
  }
  [id^="quiz-kit-question-image-box"] picture {
    width: 64px;
  }
  div[id*="form"] {
    padding-bottom: 30px;
  }
  button[id^="quiz-kit-subscribe"], a[id^="quiz-kit-subscribe"], [id^="quiz-kit-results-product"] button, [id^="quiz-kit-results-custom-button"], [id^='quiz-kit-results-retake-quiz-button'] {
    width: 100% !important;
    margin: 10px 0 !important;
    font-size: 16px !important;
  }
}
