.quote-carousel-slide cite {
    font-weight: bold;
}

.quote-carousel-section {
    text-align: center;
}

.quote-carousel {
    display: flex;
    width: 100%;
}

.quote-carousel:not(.swiper-wrapper) {
    justify-content: center;
}

.quote-swiper {
    width: 100%;
}