.rc_popup__block__footer, .rc_popup__learn_more, .rc-option__discount,.rc_popup {
    display:none !important;
}
.rc_widget__option__plans__dropdown{
    padding: 1rem;
}
.rc-container{
    border: 1px solid rgba(var(--color-base-accent-3));
    padding: 1rem;
}
.rc-widget .rc-option--active {
    background-color: rgba(var(--color-base-accent-1), 0.1);

}
.rc_widget__option__selector {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.rc_widget__option__selector input[type='radio'] {
    display: none;
}

.rc_widget__option__selector label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 0.5rem;
    margin: 0 5px 0 0;
    width: 2rem;
    height: 2rem;
    border-radius: 11px;
    border: 2px solid rgba(var(--color-base-accent-3));
    background-color: transparent;
}
.rc_widget__option__selector input[type=radio]:checked + label:before {
    content: " ";
    display: inline-block;
    background: rgba(var(--color-base-accent-3),0.6);
    position: relative;
    margin: 0 5px 0 0;
    width: 2rem;
    height: 2rem;
    border-radius: 11px;
}