.rtf-table {
  color: var(--black);
  /* *:not(table, tbody, tr, td, p.empty,blockquote) {
    margin-bottom: var(--spacing-base);
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize !important;
    padding-top: var(--spacing-mini);
    padding-bottom: var(--spacing-small);
  }

  p:not(.empty) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  p.empty,
  p:has(> span.empty:only-child),
  br {
    height: var(--spacing-base);
    display: block;
    margin-bottom: 0;
  }

  p:has(> span.empty:only-child) {
    display: none;
  }

  a {
    font-family: 'National 2';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  h1 {
    font-family: 'National 2';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  h2 {
    font-family: 'National 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: 'National 2';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }


  ol,
  ul {
    list-style: initial !important;
    list-style-position: inside !important;
    padding-top: var(--spacing-mini);
    padding-bottom: var(--spacing-large);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }


}
