.gallery {
  position: relative;
  width: var(--width-full);
  height: 100%;
  flex: none;
}

.gallery__wrap {
  position: relative;
  width: var(--width-full);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gallery__item {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  position: relative;
}

.gallery__item img {
  object-fit: cover;
  width: var(--width-full);
  height: 100%;
}

.gallery--bento {
  display: grid;
  height: 100%;
  gap: 1vh;
  grid-template-columns: repeat(3, 32.5vw);
  grid-template-rows: repeat(3, 30vh);
  justify-content: center;
  align-content: center;
}

.gallery--final.gallery--bento {
  grid-template-columns: repeat(3, 100vw);
  grid-template-rows: repeat(4, 49.5vh);
  gap: 1vh;
}

.centerpiece-overlay {
  position: absolute;
  bottom: 20%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  max-width: 40%;
  z-index: 10;
  text-align: center;
}

@media (max-width: 650px) {
  .centerpiece-overlay {
    max-width: 90%;
  }
}

.centerpiece-overlay.show {
  opacity: 1;
}
