.gallery {
	position: relative;
	width: 100%;
	height: 100%;
	flex: none;
}

.gallery__wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.gallery__item {
	background-position: 50% 50%;
	background-size: cover;
	flex: none;
	position: relative;
}

.gallery__item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.gallery--bento {
	display: grid;
	height: 100%;
	gap: 1vh;
	grid-template-columns: repeat(3, 32.5vw);
	grid-template-rows: repeat(3, 23vh);
	justify-content: center;
	align-content: center;
}

.gallery--final.gallery--bento {
	grid-template-columns: repeat(3, 100vw);
	grid-template-rows: repeat(4, 49.5vh);
	gap: 1vh;
}

.centerpiece-overlay {
	position: absolute;
	bottom: 20%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
	max-width: 80%;
	z-index: 10;
}

.centerpiece-overlay.show {
  	opacity: 1;
}