menu-drawer + .header__search {
  display: none;
}

.header > .header__search {
  grid-area: left-icons;
  justify-self: start;
}

.header--top-center.drawer-menu > .header__search {
  margin-left: 3.2rem;
}

.header--top-center header-drawer {
  grid-area: left-icons;
}

.header:not(.header--has-menu) * > .header__search {
  display: none;
}

.header__search {
  display: inline-flex;
  line-height: 0;
}

.header--top-center > .header__search {
  display: none;
}

.header--top-center * > .header__search {
  display: inline-flex;
}

@media screen and (min-width: 990px) {
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }

  .header:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
}

details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}

details[open] .modal-overlay {
  display: block;
}

details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: #12121280;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}

.search-modal {
  opacity: 0;
  min-height: calc(100% + 2px);
  height: 100%;

  border-bottom: 1px solid var(--grey-100);
  background: var(--white);
}

.search-modal__content {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 0 5rem 0 1rem; */
  position: relative;
}

.modal__content {
  position: absolute;
  inset: 0;
  top: 64px;
  background: white;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  height: 100vh;
  max-height: 700px;
}

.search-modal__content-bottom {
  bottom: 0px;
}

.search-modal__content-top {
  top: 0px;
}

.search-modal__form {
  width: 100%;
}
/* 
@media screen and (min-width: 750px) {
  .search-modal__content {
    padding: 0 6rem;
  }
} */

/* @media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 400px
  }

  
} */

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide the clear button (x) in Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}
