.season-detail {
  color: var(--jb-color-accent2-400);
}

.season-detail-kv {
  position: relative;
  line-height: 0;
  .page-width {
    @media only screen and (min-width: 769px) {
      max-width: 1140px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }
  .season-detail-kv-image-box {
    @media only screen and (max-width: 768px) {
      position: relative;
      height: 454px;
    }
  }
  .season-detail-kv-image {
    aspect-ratio: 1440/660;
    object-fit: cover;
    width: 100%;
    line-height: 0;
    @media only screen and (max-width: 768px) {
      width: auto;
      height: 100%;
      position: absolute;
      right: 0;
    }
    &.has-mobile {
      @media only screen and (max-width: 768px) {
        aspect-ratio: 390 / 454;
        width: 100%;
        position: static;
      }
    }
  }
  .season-detail-kv-body {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 820px;
    @media only screen and (max-width: 768px) {
      position: static;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .season-detail-kv-subtitle {
    font-size: 24px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
    @media only screen and (min-width: 769px) {
      color: #fff;
    }
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 1;
    }
  }
  .season-detail-kv-title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  .season-detail-kv-description {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
      mt10
    }
  }
}

.season-detail-features {
  .page-width {
    max-width: 1140px;
  }
  .season-detail-features-items {
    display: flex;
    gap: 40px;
    align-items: center;
    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
    & + .season-detail-features-items {
      margin-top: 60px;
      @media only screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }
    &:nth-child(even) {
      @media only screen and (min-width: 769px) {
        flex-direction: row-reverse;
      }
    }
  }
  .season-detail-features-body {
  }
  .season-detail-features-subtitle {
    font-size: 20px;
    font-weight: bold;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .season-detail-features-title {
    font-size: 48px;
    font-size: 48px;
    border-bottom: solid 1px currentColor;
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  .season-detail-features-description {
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .season-detail-features-image {
    max-width: 100%;
    border-radius: 30px;
    @media only screen and (min-width: 1001px) {
      min-width: 500px;
    }
    @media only screen and (max-width: 1000px) {
      min-width: 300px;
    }
  }
}
