.footer {
  background-color: var(--black-background);
}
.container {
}
.footer-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 90px;
  line-height: 111%;
  color: var(--white);
  margin-bottom: 48px;
  padding-top: 96px;
}
.footer-indent {
  width: 100px;
  height: 6px;
  background: var(--yellow);
  margin-bottom: 56px;
  display: block !important;
}
.footer-wrapper {
  display: flex;
  column-gap: 100px;
  padding-bottom: 96px;
}
.footer-left-side {
}
.footer-left-side-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: var(--white);
}
.footer-left-side-value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 105%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--yellow);
}
.footer-right-side {
}
.custom-form {
  input {
    display: block;
    width: 445px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    border: none;
    padding-left: 20px;
  }

  input::placeholder {
    color: var(--black);
    opacity: 1;
  }
}
.form-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: var(--white);
  margin-bottom: 40px;
}
