.year-title {
    font-family: var(--font-heading-family) !important;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
    text-align: right;
    transition: all ease .3s;
}

.year-title:not(.active .year-title) {
    font-size: 2.5rem;
    color: rgba(var(--color-foreground),.3);
}

li[data-year].active .year-title {
    font-size: calc(var(--font-heading-scale) * 4rem);
}


.year--display li:last-child {
    margin-bottom: 0;
}

.year-grid {
    margin-top: 6rem;
}

.year-grid>div {
    box-sizing: border-box;
}

.dot-year {
    width: 1.8rem;
    height: 1.8rem;
    background: rgb(var(--color-base-accent-1));
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
    z-index: 2;
}

li[data-year].active .dot-year {
    background-color: rgb(var(--color-divider));
}

.year-grid {
    display: flex;
    gap: 6rem;
}

.year--display {
    position: relative;
}

.year-sticky {
    position: sticky;
    top: 0;
}

li[data-year] {
    cursor: pointer;
}

.year--display li {
    display: block;
    position: relative;
    margin-bottom: 5rem;
    padding-right: 5rem;
}

.year--display:after {
    content: '';
    background: rgba(var(--color-base-accent-1),.2);
    height: calc(100% - 40px);
    width: 0.3rem;
    display: block;
    position: absolute;
    right: -1.5px;
    top: 20px;
}


li[data-year].active .dot-year:after {
    content: '';
    background: rgba(var(--color-divider),.3);
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    border-radius: 50%;
    transition: all ease .3s;
}

.year-grid > div:first-child {
    width: calc(20% - 6rem * 1/2);
}

.year-grid > div:last-child {
    width: calc(80% - 6rem * 1/2);
}

.k-timeline .slider-button--next .icon,.k-timeline .slider-button--next:not([disabled]):hover .icon {
    transform: rotate(180deg) !important;
}

.k-timeline .slider-button {
    width: auto;
    height: auto;
}

.k-timeline .slider-button .icon {
    height: 1.2rem;
    display: block;
}

.k-timeline .slider-button--prev .icon {
    transform: rotate(0) !important;
}

.k-timeline .slideshow__controls {
    position: relative !important;
    top: unset !important;
    bottom: 0 !important;
    gap: 0.5rem;
}

.k-timeline .global-media-settings {
    --media-border-width: 0px;
}

.content-media h3 {
    margin-top: 0;
}

.content-media {
    margin-bottom: 2rem;
}

.k-timeline .slideshow__controls {
    justify-content: flex-start;
}

.year-mobile-title .year-title {
    font-size: calc(var(--font-heading-scale) * 42px) !important;
    color: rgba(var(--color-foreground),1) !important;
    text-align: left;
}

.year-mobile-title {
    margin-bottom: 2rem;
}

.timeline-slider {
    width: 100%;
}

.timeline-slider .slider__slide[hidden] {
    display: none;
}

@media only screen and (min-width: 750px) {
    li[data-year].active .year-title {
        font-size: calc(var(--font-heading-scale) * 42px);
    }
}

@media (max-width: 749px) {
    .year--display li {
        padding-right: 0;
        padding-bottom: 2rem;
        width: 0;
    }
    .year--display {
        width: 0;
        margin: auto;
    }
    .year--display:after {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 20px);
        top: 14px;
    }
    .dot-year {
        right: unset;
        left: 50%;
        width: 1.3rem;
        height: 1.3rem;
        transform: translate(-50%,-50%);
    }
    .year-grid {
        gap: 2rem;
    }
    .year-grid>div:last-child {
        width: calc(85% - 2rem * 1/2);
    }
    .year-grid>div:first-child {
        width: calc(15% - 2rem * 1/2);
    }
    li[data-year].active .dot-year:after {
        right: -15px;
    }
    .content-media h3 {
        margin-bottom: 1rem;
    }
}