.inventables-header__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
}

.inventables-header__container__header-logo {
  width: 300px;
  height: auto;
}

.icon-close {
  width: 22px;
  position: relative;
  top: 7px;
  margin-left: 18px;
}

@media (max-width: 750px) {
  .inventables-header__back-link__text {
    display: none
  }
}
