.featured-artists-page-width {
  margin: 0 auto;
  max-width: 200rem;
  padding: 0 4rem;
}

.featured-artists-products__header {
  padding: 5rem 2rem 0 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.featured-artists-products__text {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.featured-artists-products__divider {
  max-width: 45rem;
  width: 100%;
  height: 0.2rem;
  background-color: #272727;
  margin: 4rem auto;
}

.featured-artists-products__spotify {
  height: 3.2rem;
}

.featured-artists-products__spotify img {
  height: 100%;
}

.featured-artists-products__products {
  text-align: center;
  margin-bottom: 3rem;
}

.featured-artists-products__grid {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  justify-items: center;
  overflow-x: auto;
  min-width: 100%;
  justify-content: center;
}

.featured-artists-products__text h2,
.featured-artists-products__text p {
  margin: 0 0 3rem 0;
}

.featured-artists-products__subtitle {
  margin: 6.5rem 0 4rem 0;
  text-transform: uppercase;
}

.featured-artist-spotify-container {
  max-width: 140rem;
  margin: 0 auto;
}

@media screen and (max-width: 989px) {
  .featured-artists-products__grid {
    justify-content: flex-start;
  }
}
