/* Device Sizes | Mobile - Default */
.custom-section--shopby .grid {
  margin-left: 0px !important;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby .grid .grid__item {
    padding: 0px;
  }
  .custom-section--shopby .custom-section__bg-container {
    padding: 0 !important;
    margin-top: 35px;
    margin-bottom: 35x;
  }
  .custom-section--shopby .custom-section__header {
    margin-bottom: 1.2rem;
  }
}
.custom-section--shopby .custom-section__header--title {
  color: #fff;
  margin-top: 1.2rem;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby .custom-section__header--title {
    font-size: 32px;
  }
}
.custom-section--shopby__image {
  display: grid;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby__image {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: -35px;
    margin-top: -35px;
  }
}
.custom-section--shopby__image .tabcontent {
  grid-area: 1/1;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby__image .tabcontent {
    height: 100%;
    width: auto;
    max-height: 550px;
  }
}
.custom-section--shopby__image div.tabcontent {
  width: 100%;
}
.custom-section--shopby__image .tabcontent:not(:first-of-type) {
  display: none;
}
.custom-section--shopby__image .tabcontent:not(:first-child) {
  display: none;
}
.custom-section--shopby__tab-buttons {
  position: relative;
}
.custom-section--shopby__tab-buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.custom-section--shopby__tab-buttons-wrapper .tab-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(73, 69, 69, 0.21);
  color: #fff;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  min-width: 80px;
  padding: 1rem 0.5rem;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby__tab-buttons-wrapper .tab-button {
    font-size: 17px;
    min-width: 150px;
    padding: 1rem;
  }
}
.custom-section--shopby__tab-buttons-wrapper .tab-button::after {
  position: absolute;
  display: none;
  content: "";
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #fff;
}
.custom-section--shopby__tab-buttons-wrapper .tab-button.active::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-section--shopby .tabcontent--product-option {
  min-height: 200px;
}
.custom-section--shopby .tabcontent--product-option .grid {
  position: relative;
}
.custom-section--shopby .tabcontent--product-option .grid__item {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1rem 0;
}
.custom-section--shopby .tabcontent--product-option .grid__item.grid__item--color {
  width: 25%;
  max-width: 25%;
  padding: 1rem 0;
}
@media screen and (min-width: 990px) {
  .custom-section--shopby .tabcontent--product-option .grid__item {
    width: 25%;
    max-width: 25%;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 990px) {
  .custom-section--shopby .tabcontent__link-color:hover .tabcontent__link--colorswatch {
    -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
  }
}
.custom-section--shopby .tabcontent__link--colorswatch {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby .tabcontent__link--colorswatch {
    height: 60px;
    width: 60px;
  }
}
.custom-section--shopby .tabcontent__link--label {
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0.8rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}
.custom-section--shopby .tabcontent__link--image {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 750px) {
  .custom-section--shopby .tabcontent__link--image {
    height: 30px;
  }
}
.custom-section--shopby .tabcontent:not(:first-of-type) {
  display: none;
}