.homepage-hero {
  height: 100vh;
  display: flex;
}

.homepage-hero__info-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.homepage-hero__slider,
.homepage-hero__static {
  width: 70%;
  height: 100%;
  position: relative;
}

.homepage-hero__image,
.homepage-hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-hero__title {
  margin-bottom: 1.5rem;
  font-family: var(--font-body-black);
}

.homepage-hero__subtitle {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.homepage-hero__description {
  max-width: 36rem;
}

.homepage-hero__cta {
  max-width: fit-content;
}

.homepage-hero__slide-content {
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6rem 6rem 6rem 8rem;
}

.homepage-hero__navigation {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 10;
  display: flex;
  gap: 1rem;
}

.homepage-hero__nav-button {
  width: 3.5rem;
  height: 3.5rem;
  outline: 1px solid #fff;
  background: #000;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.homepage-hero__nav-prev {
  transform: rotate(180deg);
  opacity: 0;
  pointer-events: none;
}

.homepage-hero__pagination {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.homepage-hero__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
  margin: 0 0.3rem;
}

.homepage-hero__pagination .swiper-pagination-bullet-active {
  background: #fff;
  height: 12px;
  width: 12px;
}

@media (max-width: 990px) {
  .homepage-hero {
    flex-direction: column-reverse;
  }

  .homepage-hero__description {
    margin: 2rem auto;
  }

  .homepage-hero__info-container,
  .homepage-hero__slider {
    width: 100%;
  }

  .homepage-hero__slide-content {
    height: 100%;
    text-align: center;
  }

  .homepage-hero__navigation {
    display: none;
  }

  .homepage-hero__pagination {
    display: flex;
  }
}
