.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 1.9rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 2.5rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 33.0rem;
  height: 33.0rem;
}
