.inventables-header__container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
}

.inventables-header__container__header-logo {
  width: 300px;
  height: auto;
}

.inventables-header__back-link {
  text-decoration: none;
}

.inventables-header__back-link__text {
  color: #ffffff;
}

.inventables-header__back-link__text:visited {
  color: #ffffff;
}

.icon-close {
  position: relative;
  top: 7px;
  width: 22px;
  margin-left: 18px;
  color: white;
}

@media (max-width: 750px) {
  .inventables-header__back-link__text {
    display: none
  }
}

.list-menu__item {
  font-size: 14px !important;
  font-family: "AlrightSans-Light", lato, helvetica, sans-serif;
  color: #fff !important;
}
