/* Device Sizes | Mobile - Default */
.custom-section--hb {
  /* Text and Image Container div*/
}
.custom-section--hb .custom-section__bg-container {
  padding-top: 60px;
}
.custom-section--hb__kicker {
  margin-top: 0;
  margin-bottom: 15px !important;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.custom-section--hb__heading {
  margin-top: 0;
  margin-bottom: 25px !important;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.custom-section--hb__subheading {
  margin-top: 0;
  margin-bottom: 50px !important;
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}
.custom-section--hb__button {
  text-align: center;
  padding-bottom: 20px;
}
.custom-section--hb__kicker, .custom-section--hb__heading, .custom-section--hb__subheading, .custom-section--hb__button {
  width: 100%;
}
.custom-section--hb__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-section--hb__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 990px) {
  .custom-section--hb .custom-section__bg-container {
    padding-top: 70px;
  }
  .custom-section--hb__heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
  }
  .custom-section--hb__kicker, .custom-section--hb__heading, .custom-section--hb__subheading, .custom-section--hb__button {
    text-align: left;
  }
  .custom-section--hb__image {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}