@media only screen and (max-width: 749px) {
  .hotspots-section .index-section {
    margin-bottom: 1rem;
  }
}

.hotspots-section .hotspots-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hotspots-section .hotspots-wrapper.is-reverse {
  flex-direction: row-reverse;
}

.hotspots__title {
  width: 100%;
  margin-bottom: 3rem;
}

.hotspots {
  position: relative;
  width: 70%;
}

@media only screen and (max-width: 749px) {
  .hotspots {
    width: 100%;
  }
}

.hotspots .grid__image-ratio img {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 1;
  top: 0;
  width: 100%;
}

[data-animate_images='true'] .hotspots .grid__image-ratio img {
  opacity: 1;
}

.hotspots__buttons {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hotspot__button {
  border-radius: 50%;
  line-height: 0;
  padding: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 749px) {
  .hotspot__button {
    padding: 0.5rem;
  }
}

.hotspot__button:hover .hotspot__button-content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hotspot__button-content {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  left: 50%;
  min-width: 5rem;
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 1rem);
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

.hotspot__button-content p,
.hotspot__button-content span {
  margin-bottom: 0;
  white-space: nowrap;
}

.hotspot__button-content:before {
  border-style: solid;
  border-width: 0 0.5rem 1rem 0.5rem;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: -1rem;
  transform: translateX(-50%);
  width: 0;
}

.hotspot__button-content .content__prices {
  display: flex;
  flex-wrap: nowrap;
}

.hotspots__content {
  align-items: center;
  display: flex;
  padding: 2.4rem;
  width: 30%;
}

.page-width .hotspots__content {
  padding-left: 40px;
  padding-right: 0;
}

@media only screen and (max-width: 749px) {
  .page-width .hotspots__content {
    padding-left: 0;
  }

  .hotspot-content__block .card-wrapper {
    max-width: 70%;
    margin-inline: auto;
  }
}

.page-width.is-reverse .hotspots__content {
  padding-left: 0;
  padding-right: 4rem;
}

@media only screen and (max-width: 749px) {
  .page-width.is-reverse .hotspots__content {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 749px) {
  .hotspots__content {
    padding: 1rem 2rem 0;
    width: 100%;
  }
}

.hotspot-content__block {
  animation: fade-in 0.5s ease 0s forwards;
  display: none;
  max-height: 0;
  position: sticky;
  top: 0;
  width: 100%;
}

.modal-closing .hotspot-content__block,
.modal-open .hotspot-content__block {
  animation: none;
  position: static;
}

@media only screen and (max-width: 749px) {
  .hotspot-content__block {
    align-items: center;
    padding-top: 0;
    position: relative;
  }
}

.hotspot-content__block.is-active {
  display: block;
  max-height: none;
}

.hotspot-content__block .grid-product__image-wrap {
  margin: 0;
}

.hotspot-content__block .grid__item {
  display: block;
  float: none;
  padding: 0;
}

.hotspot-content__block .grid-product__tags {
  margin-left: 0;
}

@media only screen and (max-width: 749px) {
  .hotspot-content__block .grid-product__tag {
    left: 0;
    right: auto;
  }
}

.hotspot-content__block .grid-item__meta,
.hotspot-content__block .grid-product__meta {
  padding-top: 1rem;
}

@media only screen and (max-width: 749px) {
  .hotspot-content__block .grid-item__meta,
  .hotspot-content__block .grid-product__meta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 0;
    text-align: left;
  }

  .hotspot-content__block .grid-item__meta .grid-item__meta-main,
  .hotspot-content__block .grid-item__meta .grid-item__meta-secondary,
  .hotspot-content__block .grid-product__meta .grid-item__meta-main,
  .hotspot-content__block .grid-product__meta .grid-item__meta-secondary {
    flex: none;
    width: 100%;
  }
}

@media only screen and (max-width: 749px) {
  .hotspot-content__block .grid-product {
    padding-left: 0;
    padding-right: 0;
  }

  .hotspot-content__block .quick-add-btn {
    display: none;
  }

  .hotspot-content__block .grid__item-image-wrapper {
    display: flex;
  }

  .hotspot-content__block .grid__item-image-wrapper .grid-product__image-mask {
    flex: 0 0 30%;
  }

  .hotspot-content__block .grid-item__link,
  .hotspot-content__block .grid-product__link {
    display: flex;
    flex-wrap: nowrap;
  }

  [data-grid-style='grey-round'] .hotspot-content__block .grid-item__link {
    border-radius: 1rem 0 0 1rem;
  }

  [data-grid-style='white-round'] .hotspot-content__block .grid-item__link {
    border-radius: 1rem 0 0 1rem;
  }

  .hotspot-content__block .grid-product__image-mask,
  .hotspot-content__block .grid-product__image-wrap,
  .hotspot-content__block .product-slider {
    width: 30%;
  }

  .hotspot-content__block .grid-product__actions {
    left: 1rem;
    right: auto;
    top: 1rem;
  }
}

.hotspot-content__block .modal .grid__item {
  float: left;
}

.hotspots-section .icon {
  fill: currentColor;
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;
}

.hotspots-section .icon.icon-bag g {
  stroke-width: 5;
}

.hotspots-section .icon.icon-plus {
  stroke-width: 0.5;
}

.hotspots-section .text-left {
  text-align: left;
}

.hotspots-section .text-center {
  text-align: center;
}

.hotspots-section .text-right {
  text-align: right;
}

@media only screen and (max-width: 749px) {
  .hotspots-section .icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}
