.similar-products {
  padding: 4rem 0;
}

.similar-products__title {
  text-align: center;
  margin-bottom: 2rem;
}

.similar-products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.similar-products__card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 24rem;
}

.similar-products__card-image-wrapper {
  height: 18rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.similar-products__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.similar-products__card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.similar-products__card-title {
  text-transform: uppercase;
  margin: 0;
}

.similar-products__card-price {
  margin: 0;
}

.similar-products__card-badge {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.25rem;
}
