.spotify-embed__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 50rem;
  margin: 5rem auto;
}

.spotify-embed__header h2 {
  margin: 0 0 1rem 0;
}

.spotify-embed__button-container {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.spotify-embed__button-container-center {
  justify-content: center;
}

.spotify-embed__button {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: var(--buttons-radius-outset);
  align-items: center;
}

.spotify-embed__button-logo {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  object-fit: contain;
  width: 6.7rem;
}

@media (max-width: 650px) {
  .spotify-embed__button-container {
    justify-content: center;
  }
}
