.featured-collection-text__container,
.featured-collection-text__container > .link--text {
    line-height: 120%;
    position: relative;
}

.featured-collection-text__container > .link--text {
    z-index: 500;
    display: inline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.25ch;
}

.featured-collection-text__container > a:not(:last-of-type)::after {
    content: ", ";
    display: inline-block;
}

.featured-collection-text__container .price {
    display: none;
}

.featured-collection-text__container > a:hover + img {
    z-index: 1;
    display: block;
}

.featured-collection-text__container img {
    z-index: 1;
    display: none;
    position: absolute;
    top: 10%;
    left: 25%;
    right: 25%;
}

.collection-text .collection__view-all {
    margin-top: 2em;
}

.featured-collection-text__container.size1,
.featured-collection-text__container .size1 {
    font-size: 6vw;
}

.featured-collection-text__container.size2,
.featured-collection-text__container .size2 {
    font-size: 8vw;
}

.featured-collection-text__container.size3,
.featured-collection-text__container .size3 {
    font-size: 10vw;
}
