.best-sellers-block {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best-sellers-intro__title,
.best-sellers-subtitle,
.product-tab {
  text-transform: uppercase;
}

.best-sellers-intro__description {
  max-width: 50rem;
}

.product-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0;
  margin-bottom: 1rem;
}

.product-tab {
  list-style: none;
  cursor: pointer;
}

.product-tab.active {
  border-bottom: 2px solid #000;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.product-grid.hidden {
  display: none;
}

.product-tab-content {
  width: 100%;
}
