/* Device Sizes | Mobile - Default */
@media screen and (min-width: 990px) {
  .custom-section--featured-collection slider-component ul {
    position: relative;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  .custom-section--featured-collection .slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: none;
  }
  .custom-section--featured-collection .slider-button {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    pointer-events: all;
    margin-bottom: 150px;
  }
  .custom-section--featured-collection .slider-button:not([disabled]) {
    -webkit-box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
            box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
    background-color: #fff;
  }
  .custom-section--featured-collection .slider-button .icon {
    height: auto;
    width: 80%;
  }
  .custom-section--featured-collection .slider-button[disabled] .icon {
    display: none;
  }
}
.custom-section--featured-collection .form {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.custom-section--featured-collection .form button {
  text-transform: uppercase;
  font-weight: 700;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 990px) {
  .custom-section--featured-collection .form button.btn-hover-bs:hover {
    -webkit-box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
            box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
  }
  .custom-section--featured-collection .form button {
    margin-bottom: 3.5rem;
  }
}
.custom-section--featured-collection .card-information {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.custom-section--featured-collection .card-information .card-information__wrapper {
  text-align: center;
}
.custom-section--featured-collection .card-information .card-information__wrapper .card-information__text {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.custom-section--featured-collection .card-information .card-information__wrapper .price {
  place-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.custom-section--featured-collection .path {
  stroke: #fff;
}