.inventables__footer-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.list-social__link {
  color: white;
}

.list-social__link .icon {
  height: 3rem;
  width: 3rem;
}

.footer-logo {
  width: 300px;
  height: auto;
}

