.accordion-small-wrapper {
  max-width: var(--max-width-md);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-uppercase {
  text-transform: uppercase;
}

.accordion-block__item + .accordion-block__item {
  margin-top: 1.5rem;
}

.accordion-block__trigger {
  width: 100%;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;
}

.accordion-block__title {
  flex: 1 1 auto;
}

.accordion-block__icon {
  margin-left: 1rem;
  transition: transform 0.2s;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-block__icon::before {
  content: '';
  display: inline-block;
  border-style: solid;
  border-width: 0.12rem 0.12rem 0 0;
  width: 1rem;
  height: 1rem;
  transform: rotate(135deg);
  transition: transform 0.2s;
}

.accordion-block__checkbox[type='checkbox'] {
  display: none;
}

.accordion-block__checkbox:checked + .accordion-block__trigger .accordion-block__icon::before {
  transform: rotate(317deg);
}

.accordion-block__checkbox + .accordion-block__trigger + .accordion-block__content {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion-block__checkbox:checked + .accordion-block__trigger + .accordion-block__content {
  max-height: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.accordion-block__content {
  padding: 0 1.5rem;
  margin-top: -0.2rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  animation: none;
}

@media screen and (max-width: 650px) {
  .accordion-block__trigger {
    padding: 0rem 1.5rem;
  }
}
