.text-stack__inner {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.text-stack__content {
  max-width: 45rem;
  margin-left: auto;
}

.text-stack__content p {
  margin: 3rem 0;
}

.text-stack__btn {
  text-transform: uppercase;
}

.text-stack__media-grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 1rem;
  position: relative;
  height: auto;
  max-width: 50%;
}

.media-grid__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.media-grid__item--1 {
  grid-column: 41 / 24;
  grid-row: 1 / 25;
  z-index: 1;
}

/* parallax item */

.media-grid__item--2 {
  grid-column: 31 / 5;
  grid-row: 5 / 60;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 120%;
    width: 100%;
    position: relative;
  }
}

.media-grid__item--3 {
  grid-column: 1 / 19;
  grid-row: 49 / 74;
}

@media screen and (max-width: 650px) {
  .text-stack__inner {
    flex-direction: column;
    align-items: center;
  }
  .text-stack__media-grid {
    width: 100%;
    max-width: 100%;
    gap: 0;
  }
  .text-stack__content {
    max-width: 28rem;
    margin-left: 0;
  }
  .text-stack__content h2,
  .text-stack__btn {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
