.inventables__footer-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.list-social__link {
  color: white;
}

.list-social__link .icon {
  height: 3rem;
  width: 3rem;
}

.footer-logo {
  width: 300px;
  height: auto;
}

@media (max-width: 750px) {
  .inventables__footer-header {
    flex-direction: column;
  }

  .footer-inventables__header-link {
    width: 300px;
    margin: 0 auto;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  font-size: .5rem;
}

.footer-wrapper .footer .footer__inline-menu .footer__menu-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0;
}