.multicolumn .title {
  margin: 0;
}
.multicolumn .center .title {
  margin: 0 auto;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center
.multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
    height: 100%;
    }

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
    }

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
    }

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list__item {
    margin: 0 0 var(--grid-mobile-vertical-spacing);
      padding: 0;
      }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .multicolumn-list.slider .multicolumn-list__item {
    width: calc(100% - 3rem);
  }
}


@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .multicolumn-list__item {
    margin-top: var(--grid-desktop-vertical-spacing);
      max-width: 50%;
      }
  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
  .grid--2-col-tablet .multicolumn-list__item:nth-of-type(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item {
    max-width: 25%;
  }

  .grid--2-col-tablet.grid--4-col-desktop
  .multicolumn-list__item:nth-of-type(-n + 4) {
    margin-top: 0;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none
.slider
.multicolumn-card__image-wrapper
+ .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none
.multicolumn-list:not(.slider)
.center
.multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}
/*   
@media screen and (min-width: 750px) {
.background-none .multicolumn-card__image-wrapper {
margin-left: 1.5rem;
margin-right: 1.5rem;
}
*/
.background-none .multicolumn-list .multicolumn-card__info,
.background-none
.multicolumn-list:not(.slider)
.center
.multicolumn-card__info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
    border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
      overflow: hidden;
      }

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

/* custom css for multicolumn starts Here */
.p-multi-col{
  text-align:center;
  margin-bottom:35px;
}
.card-multi-col{
  box-shadow: 5px 9px 10px 0 rgba(0,0,0,.1);
  border-radius: 20px 20px 12px 12px;
  cursor:pointer;
  /*   min-width:244px;  */

}
.media-multi-col{
  border-radius: 20px 20px 0px 0px; 
  height: 100%;
}
.multicolumn-card__image-wrapper{
  height: 329px;
  position:relative;
}
.video-multi-col{
  object-fit: cover;
}

.multicolumn-card_user{
  display: flex;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: 13px;
  margin-left: 14px;
  align-items: center;
}
.user_image_profile{
  width: 34px;
  height:34px;
  object-fit:cover;
  border-radius: 50px;
  margin-right: 4px;
  display: flex;
}
.user_name{
  color: white;
  font-weight: bold;
  vertical-align: middle;
  line-height: 1.2;
}

.multicolumn-card_product{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;

}

.product-name{
  letter-spacing:0;
  font-size:16px;
  line-height:1.2;
  
}

.product_image{
  max-width:75px;
  display:block;
  margin-right:5px;
}
.product_image_url{
  display:flex;
}

.play-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity:.5;
}

.play-btn svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 42%;
}

.slick-list{
  padding: 15px 0px;
}

.slick-slide{
  margin:0px 10px;

}

.slick-dots li button:before{
  font-size:10px
}

.slick-dots{
  bottom:-30px;
  left:0;
}

.slick-arrow{
  display:none !important;
}

@media screen and (max-width:600px) {
  .slick-slide{
    margin:0px 30px;

  }

}


@media screen and (max-width:912px) {

  .product-name{
    font-size:14px;
  }


}


@media screen and (max-width:426px) {

  .product-name{
    font-size:18px;
  }


}