.wagashi-header-01 {
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media only screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wagashi-header-01-text {
    font-size: 48px;
    font-family: var(--font-baskervville);
    line-height: 1;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
    span {
      color: var(--jb-color-accent1-400);
    }
  }
}

.wagashi-header-02 {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  @media only screen and (max-width: 768px) {
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &:before,
  &:after {
    content: '';
    height: 1px;
    display: block;
    background-color: currentColor;
    width: 100%;
  }
  .wagashi-header-02-text {
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-baskervville);
    line-height: 1;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
      min-width: 70%;
      text-align: center;
      white-space: normal;
      word-break: keep-all;
    }
    span {
      color: var(--jb-color-accent1-400);
    }
  }
}

.wagashi-header-03 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  @media only screen and (max-width: 768px) {
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wagashi-header-03-text {
    white-space: nowrap;
    font-size: 64px;
    font-family: var(--font-baskervville);
    line-height: 1;
    border-bottom: solid 1px currentColor;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
    span {
      color: var(--jb-color-accent1-400);
    }
  }
}

.wagashi-header-04 {
  margin-top: 60px;
  margin-bottom: 60px;
  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wagashi-header-04-text {
    font-size: 48px;
    font-weight: bold;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
    span {
      color: var(--jb-color-accent1-400);
    }
  }
}

.wagashi-kv {
  position: relative;
  line-height: 0;

  .splide.splide-key-visual-index .splide__arrow svg {
    @media only screen and (max-width: 768px) {
      fill: var(--jb-color-accent2-400);
    }
  }
  .splide.splide-key-visual-index .splide__arrow {
    @media only screen and (max-width: 768px) {
      border-color: var(--jb-color-accent2-400);
    }
  }
  .wagashi-kv .page-width {
  }
  .wagashi-kv-image-box {
    @media only screen and (max-width: 768px) {
      position: relative;
      height: 454px;
    }
  }
  .wagashi-kv-image {
    aspect-ratio: 1440/660;
    object-fit: cover;
    width: 100%;
    line-height: 0;
    @media only screen and (max-width: 768px) {
      aspect-ratio: 1440 / 660 !important;
      width: auto !important;
      height: 100% !important;
      position: absolute;
      right: 0;
    }
    &.has-mobile {
      @media only screen and (max-width: 768px) {
        aspect-ratio: 390 / 454 !important;
        width: 100% !important;
        height: 100% !important;
        min-height: auto;
        max-height: none;
      }
    }
  }

  .wagashi-kv-body {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    max-width: 665px;
    @media only screen and (max-width: 768px) {
      position: static;
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .wagashi-kv-description {
    max-width: 650px;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 10px;
    color: #FFFFFF;
  }
  #splide01-slide02{
    .wagashi-kv-description {
          color: #244559;
    }
  }

  .wagashi-kv-hgroup {
    color: var(--jb-color-accent2-400);
  }

  .wagashi-kv-subtitle {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    color: #FFFFFF;
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  .wagashi-kv-title {
    font-size: 48px;
    font-family: var(--font-baskervville);
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 0;
    @media only screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  .wagashi-kv-button {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EA6F48;
      font-size: 20px;
      font-weight: 600;
      color: #F6F1E0;
      line-height: 1;
      padding: 10px 6px 10px 6px;
      border-radius: 15px;
      min-width: 180px;
      display: inline-flex;
      margin-top: 60px;
      text-decoration: none;
      transition: opacity .2s;
      @media only screen and (max-width: 768px) {
        margin-top: 20px;
      }
      &:hover {
        opacity: .6;
      }
    }
  }
}

.wagashi-category-list {
  .page-width {
    max-width: 1140px;
  }
  .wagashi-category-list-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    &.count-1 {
      @media only screen and (max-width: 768px) {
        grid-template-rows: repeat(1, 1fr);
      }
    }
    &.-second {
      margin-top: 40px;
      .wagashi-category-list-item {
        @media only screen and (min-width: 769px) {
          &:nth-child(1) { grid-area: 1 / 3 / 3 / 5; }
          &:nth-child(2) { grid-area: 1 / 1 / 2 / 2; }
          &:nth-child(3) { grid-area: 1 / 2 / 2 / 3; }
          &:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
          &:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
        }
      }
    }
  }
  .wagashi-category-list-item {
    position: relative;
    transition: opacity .2s;
    &:hover {
      opacity: .6;
    }
    @media only screen and (min-width: 769px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
        .wagashi-category-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(3) {
        grid-area: 1 / 4 / 2 / 5;
      }
      &:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;
      }
      &:nth-child(5) {
        grid-area: 2 / 4 / 3 / 5;
      }
    }
    @media only screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
        .wagashi-category-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }
  .wagashi-category-list-item-thumbnail {
    aspect-ratio: 516/414;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wagashi-category-list-item-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .wagashi-category-list-item-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 2px 2px rgb(0 0 0 / .2);
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.wagashi-interest-list {
  .page-width {
    max-width: 1140px;
  }
  .wagashi-interest-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .wagashi-interest-list-item {
    position: relative;
    transition: opacity .2s;
    &:hover {
      opacity: .6;
    }
    @media only screen and (min-width: 769px) {
      &:nth-child(1) {
        grid-area: 1 / 2 / 3 / 3;
        width: 515px;
        .wagashi-interest-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(4) {
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-child(5) {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
    @media only screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
        .wagashi-interest-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }
  .wagashi-interest-list-item-thumbnail {
    aspect-ratio: 516/414;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wagashi-interest-list-item-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .wagashi-interest-list-item-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 2px 2px rgb(0 0 0 / .2);
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.wagashi-product-list {
  .page-width {
    max-width: 1140px;
    padding-bottom: 80px;
  }
  .wagashi-product-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .wagashi-product-list-item {
    position: relative;
    transition: opacity .2s;
    &:hover {
      opacity: .6;
    }
    @media only screen and (min-width: 769px) {
      &:nth-child(1) {
        grid-area: 1 / 2 / 3 / 3;
        width: 515px;
        .wagashi-product-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(4) {
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-child(5) {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
    @media only screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
        .wagashi-product-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }
  .wagashi-product-list-item-thumbnail {
    aspect-ratio: 516/414;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wagashi-product-list-item-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .wagashi-product-list-item-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 2px 2px rgb(0 0 0 / .2);
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.wagashi-maker-list {
  padding-bottom: 60px;
  .page-width {
    max-width: 1140px;
  }
  .wagashi-maker-list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    &.count-1 {
      @media only screen and (max-width: 768px) {
        grid-template-rows: repeat(1, 1fr);
      }
    }
  }
  .wagashi-maker-list-item {
    position: relative;
    transition: opacity .2s;
    &:hover {
      opacity: .6;
    }
    @media only screen and (min-width: 769px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
        width: 40vw;
        max-width: 518px;
        .wagashi-maker-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
      }
      &:nth-child(5) {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
    @media only screen and (max-width: 768px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 3;
        .wagashi-maker-list-item-name {
          font-size: 36px;
        }
      }
      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }
  .wagashi-maker-list-item-thumbnail {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wagashi-maker-list-item-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .wagashi-maker-list-item-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 2px 2px rgb(0 0 0 / .2);
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.wagashi-season-list {
  padding-bottom: 60px;
  .page-width {
    max-width: 1140px;
  }
  .wagashi-season-list-items {
    .splide {
      &.is-active {
        .splide__track {
          padding-left: 5rem;
          padding-right: 5rem;
          @media only screen and (max-width: 749px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        }
      }
    }
    .splide__list {
      gap: 26px;
      @media only screen and (max-width: 768px) {
        gap: 13px;
      }
    }
  }
  .wagashi-season-list-item {
    display: block;
    width: 290px;
    line-height: 0;
    position: relative;
    transition: opacity .2s;
    @media only screen and (max-width: 768px) {
      width: 180px;
    }
    &:hover {
      opacity: .6;
    }
  }
  .wagashi-season-list-item-thumbnail {
    aspect-ratio: 290/468;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding: 0;
  }
  .wagashi-season-list-item-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wagashi-season-list-item-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    padding: 20px;
    width: 80%;
    border: solid 1px #fff;
    border-radius: 8px;
    text-align: center;
    text-shadow: 0 2px 2px rgb(0 0 0 / .2);
    @media only screen and (max-width: 768px) {
      font-size: 15px;
      padding: 15px;
    }
  }
}

.wagashi-area {
  background-color: #fff;
  padding-top: 60px;
  .wagashi-header-01 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    @media only screen and (min-width: 750px) {
      padding: 0 5rem;
    }
  }
}

.wagashi-area-section {
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  @media only screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  .page-width {
    position: relative;
    padding-bottom: 300px;
    max-width: 1140px;
    @media only screen and (max-width: 1001px) {
    padding-bottom: 145px;
    }
    /*@media only screen and (min-width: 1001px) {*/
    /*  padding-left: 20rem;*/
    /*  padding-right: 20rem;*/
    /*}*/
  }

  .wagashi-area-section-body {
    max-width: 590px;
    height: 500px;
    transition: opacity .2s;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: 1001px) {
      max-width: 100%;
      height: 450px;
    }
    &.fade-out {
      opacity: 0;
    }
  }

  .wagashi-area-section-header {
    color: var(--jb-color-accent1-400);
    font-size: 13px;

    p {
      margin-top: 0;
    }
  }

  .wagashi-area-section-name {
    color: currentColor;
    font-size: 36px;
    font-weight: bold;
    @media only screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  .wagashi-area-section-description {
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .wagashi-area-section-image {
    width: 417px;
    height: auto;
    margin-top: 40px;
    border-radius: 10px;
    @media only screen and (max-width: 1001px) {
      width: 50%;
      margin-top: 20px;
    }
  }

/*  .wagashi-area-section-more {
    margin-top: 10px;
    @media only screen and (max-width: 768px) {
      margin-top: 5px;
    }
  }
*/
    /* デスクトップではDetailsボタンを非表示 */
    @media (min-width: 768px) {
      /* SVG要素にマウスオーバー時にカーソルを指の形に変更 */
      [class^='area-']:hover {
        cursor: pointer;
      }
      .wagashi-area-section-more {
        display: none;
      }
    }
    @media only screen and (max-width: 768px) {
    .wagashi-area-section-more {
      margin-top: 10px;
      margin-top: 5px;
    }
  }

  .wagashi-area-section-map {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2; /* bodyより上に */
    pointer-events: none; /* デフォルトでは無効化 */
    svg {
      @media only screen and (max-width: 768px) {
        width: 100%;
        height: auto;
      }
      &.has-hover {
        [class^='area-'] {
          pointer-events: auto;
        }
      }
      [class^='area-'] {
        transition: fill .2s;
        pointer-events: none;
        &.active,
        &:hover {
          fill: #18663D;
        }
      }
    }
  }
}