.image__media {
    min-height: 100%;
    overflow: visible;
}

.image__media--small {
    height: 19.4rem;
}

.image__media--large {
    height: 43.5rem;
}

.image__media-item--small,
.image__media-item--medium,
.image__media-item--large,
.image__media-item--full {
    width: 100%;
}

@media screen and (min-width: 750px) {
    .image--left {
        display: flex;
        justify-content: flex-start;
    }

    .image--center {
        display: flex;
        justify-content: center;
    }

    .image--right {
        display: flex;
        justify-content: flex-end;
    }

    .image__media--small {
        height: 31.4rem;
    }

    .image__media--large {
        height: 69.5rem;
    }

    .image__media-item--small {
        width: 33.33%;
    }

    .image__media-item--medium {
        width: 50%;
    }

    .image__media-item--large {
        width: 66.66%;
    }

    .image__media-item--full {
        width: 100%;
    }
}

.image__media--placeholder {
    position: relative;
    overflow: hidden;
}

.image__media--placeholder:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(var(--color-foreground), 0.04);
}

.image__media--placeholder.image__media--adapt {
    height: 20rem;
}

@media screen and (min-width: 750px) {
    .image__media--placeholder.image__media--adapt {
        height: 30rem;
    }
}

.image__media--placeholder > svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: currentColor;
}

.image .global-media-settings {
    overflow: hidden !important;
}
