.product-category-hero {
  position: relative;
}

.product-category-hero__main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.product-category-hero__nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 4rem 0;
}

.product-category-hero__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* viginette */
.product-category-hero__image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 30%, rgba(0, 0, 0, 0.6) 70%);
  pointer-events: none;
  z-index: 1;
}

.product-category-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.product-category-hero__content {
  padding: 7rem 0;
  text-align: center;
}

.product-category-hero__content-inner {
  max-width: var(--max-width-xxl);
  margin: 0 auto;
  padding: 0 4rem;
}

.product-category-hero__title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: var(--font-body-black);
}

.product-category-hero__description {
  margin-bottom: 3rem;
  max-width: var(--max-width-md);
  margin: 0 auto;
}

.product-category-hero__nav-container {
  margin: 0 auto;
  padding: 0 6rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-category-hero__nav-container::-webkit-scrollbar {
  display: none;
}

.product-category-hero__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.product-category-hero__nav-button {
  background: transparent;
  padding: 0 0 0.7rem 0;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product-category-hero__nav-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.3rem;
  transition: width 0.3s ease;
}

.product-category-hero__nav-button.active::before {
  width: 100%;
  background-color: var(--colour-orange);
}

.product-category-hero__nav-button.active {
  font-family: var(--font-body-black);
}

.product-category-hero__nav-button.active .product-category-hero__nav-text {
  font-family: var(--font-body-black);
}

.product-category-hero__nav-count {
  display: flex;
  margin-bottom: 0.3rem;
  opacity: 0.8;
  justify-content: flex-end;
  color: var(--colour-white);
}

.product-category-hero__nav-text {
  display: block;
  font-family: var(--font-body-bold);
  margin: 0;
  color: var(--colour-white);
}
