.homepage-hero {
  height: 100vh;
  display: flex;
}

.homepage-hero__info-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 6rem;
}

.homepage-hero__slider-container {
  width: 70%;
  height: 100%;
}

.homepage-hero__slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-hero__title {
  margin-bottom: 1.5rem;
}

.homepage-hero__product-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.homepage-hero__product-description {
  margin-bottom: 2rem;
  line-height: normal;
}

.homepage-hero__product-cta {
  max-width: fit-content;
}

/* slider */

.homepage-hero__swiper {
  position: relative;
}

.homepage-hero__swiper-navigation {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 10;
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}

.homepage-hero__swiper-button-prev,
.homepage-hero__swiper-button-next {
  width: 3.5rem;
  height: 3.5rem;
  outline: 1px solid #fff;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.homepage-hero__swiper-button-prev {
  transform: rotate(180deg);
}

.homepage-hero__swiper-button-prev.swiper-button-disabled,
.homepage-hero__swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.homepage-hero__swiper-button-prev svg,
.homepage-hero__swiper-button-next svg {
  width: 20px;
  height: 20px;
}

.homepage-hero__slider-video,
.homepage-hero__static-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-hero__slider-image,
.homepage-hero__static-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
