.tabs-wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.tabs-wrapper input {
  display: none;
}

.tab__heading_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab__heading_wrapper::-webkit-scrollbar {
  display: none;
}

.tabs__content_wrapper {
  position: relative;
  width: 100%;
  padding: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .tabs__content_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .tabs-section.content-container--full-width {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.tab__heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  margin-right: 2px;
  position: relative;
  border-color: rgba(var(--color-foreground), 0.9);
  cursor: pointer;
  opacity: 0.5;
}

.tab__heading .icon {
  margin-right: 5px;
  fill: rgb(var(--color-foreground));
}

.tab__heading::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: rgb(var(--color-foreground));
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 12;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

.tab__heading .title {
  margin: 0;
  white-space: nowrap;
}

.tabs__content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .tabs .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .tabs .title-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .tabs__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .tabs__content.collection__content {
    padding-left: 0;
    padding-right: 0;
  }

  .tab__heading_wrapper {
    padding-left: 1.5rem;
  }
}
