.paragraph-usp-divider {
  margin: 4rem 0;
  display: none;
}

.paragraph-usp-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.paragraph-usp-title {
  margin: 0 0 0.5rem 0;
}

.paragraph-usp-description {
  margin: 0;
}

.paragraph-usp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.paragraph-usp-item {
  max-width: var(--max-width-sm);
  text-align: center;
}

@media (max-width: 650px) {
  .paragraph-usp-item {
    text-align: left;
  }

  .paragraph-usp-divider {
    display: block;
  }
}

@media (max-width: 400px) {
  .paragraph-usps-list {
    align-items: start;
  }
}
