.homepage-hero {
  height: 100vh;
  display: flex;
}

.homepage-hero__info-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage-hero__slider-container {
  width: 70%;
  height: 100%;
}
