.highlight-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.highlight-text-block h3 {
  font-family: var(--font-heading-family);
}

.highlight-text-block p {
  text-transform: uppercase;
  max-width: 95rem;
  padding: 4rem 0;
  font-family: 'Calisto MT', serif;
  line-height: 8rem;
}

@media screen and (max-width: 600px) {
  .highlight-text-block p {
    padding: 4rem;
  }
}
