.featured-product .product__media-list {
  margin-bottom: 0;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

@media screen and (min-width: 990px) {
  .secondary-bg .featured-product > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .featured-product > .product__info-wrapper {
    padding: 0 7rem;
  }
}

.secondary-bg {
  background: rgba(var(--color-foreground), 0.04);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.secondary-bg .featured-product {
  background: rgb(var(--color-background));
  padding: 2rem 2.5rem;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .secondary-bg {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .secondary-bg .featured-product {
    padding: 5rem;
  }
}

@media screen and (min-width: 990px) {
  .secondary-bg .featured-product {
    background: rgb(var(--color-background));
    padding: 6rem 7rem;
  }
}