.introductory-text__section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introductory-text {
  text-align: center;
}

.introductory-text__container {
  max-width: 45rem;
  margin: 0 auto;
}

.introductory-text__title {
  margin-bottom: 0.8rem;
  font-family: 'Calisto MT', serif;
}

.introductory-text__subtitle {
  margin-bottom: 2.4rem;
}

.introductory-text__description {
  margin: 0;
}

.introductory-text__video {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 200px;
  height: auto;
  z-index: 10;
}

.introductory-text__video--alt {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 200px;
  height: auto;
  z-index: 10;
  transform: rotate(180deg);
}

.introductory-text__video video,
.introductory-text__video--alt video {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 749px) {
  .introductory-text__container {
    max-width: 100%;
    padding: 0 1.6rem;
  }

  .introductory-text__subtitle {
    margin-bottom: 1.6rem;
  }

  .introductory-text__video {
    width: 120px;
    top: 1rem;
    right: 1rem;
  }

  .introductory-text__video--alt {
    width: 120px;
    bottom: 1rem;
    left: 1rem;
  }
}
