.best-sellers-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best-sellers-intro__title,
.best-sellers-subtitle,
.tabbed-product-tab {
  text-transform: uppercase;
}

.best-sellers-intro__description {
  max-width: 50rem;
  line-height: normal;
}

.tabbed-product-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0;
  margin-bottom: 4rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.tabbed-product-tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.tabbed-product-tab {
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 1.5rem;
}

.tabbed-product-tab:nth-child(1) {
  margin-left: 0;
}

.tabbed-product-tab:last-child {
  margin-right: 0;
}

.tabbed-product-tab.active {
  border-bottom: 2px solid #000;
}

.tabbed-product-grid {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  padding-bottom: 1rem;
}

.tabbed-product-grid > a {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: auto;
}

.tabbed-product-grid.hidden {
  display: none;
}

.tabbed-product-tab-content {
  width: 100%;
  margin-bottom: 6rem;
}

.tabbed-product-section__cta a {
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .best-sellers-intro__title {
    display: none;
  }
}
