.rich-text {
  margin: auto;
  text-align: center;
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  /* 1.55rem margin on left & right */
  width: calc(100% - 3.15rem / var(--font-body-scale));
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  /* 2.5rem (0.95rem + 1.55rem) margin on left & right */
  width: calc(100% - 5.0rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width),
.rich-text--full-width.color-background-1 {
  margin-top: 3.15rem;
  margin-bottom: 3.15rem;
}

.rich-text:not(.color-background-1) {
  padding-top: 3.15rem;
  padding-bottom: 3.15rem;
}

@media screen and (min-width: 750px) {
  .rich-text:not(.rich-text--full-width),
  .rich-text--full-width.color-background-1 {
    margin-top: calc(3.15rem + var(--page-width-margin));
    margin-bottom: calc(3.15rem + var(--page-width-margin));
  }

  .rich-text:not(.color-background-1) {
    padding-top: calc(3.15rem + var(--page-width-margin));
    padding-bottom: calc(3.15rem + var(--page-width-margin));
  }

  .rich-text__blocks {
    max-width: 31.5rem;
  }

  .rich-text--full-width .rich-text__blocks {
    /* 4.7rem (3.15rem + 1.55rem) margin on left & right */
    width: calc(100% - 9.5rem);
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 49.0rem;
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 1.25rem;
}

.rich-text__blocks > * + a {
  margin-top: 1.9rem;
}
