.featured-collection-text__container,
.featured-collection-text__container > .link--text {
    line-height: 120%;
}

.featured-collection-text__container > .link--text {
    display: inline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.25ch;
}

.featured-collection-text__container > a:not(:last-of-type) .product-title::after {
    content: ",";
    display: inline-block;
}

.collection-text .collection__view-all {
    margin-top: 2em;
}

/* Images on Hover variation */

.featured-collection-text__container.images-hover a > img {
    z-index: -1;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.featured-collection-text__container.images-hover > a:hover > img {
    visibility: visible;
    opacity: 1;
    height: 80%;
    width: auto;
}

.featured-collection-text__container.images-hover > a:not(:last-of-type) .product-title::after {
    content: ",\00a0";
    display: inline-block;
}

/* Images Inline variation */

.featured-collection-text__container.images-inline a > img {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    padding: 0 0.125em;
    height: 0.67em;
    width: auto;
}

.featured-collection-text__container.images-inline a:first-child > img {
    padding-left: 0;
}

/* Price variations */

.featured-collection-text__container.price-badge .price {
    z-index: 500;
    display: inline-block;
    position: absolute;
    border: 1px solid currentColor;
    transform: translateX(-100%);
    border-radius: 50%;
    padding: 0.25em 0.5em 0.5em;
}