.more-details-block {
  text-align: center;
}

.more-details-block-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 65rem;
  padding: 0 5rem;
  margin: 0 auto;
}

.more-details-block-heading {
  margin: 0 0 1rem 0;
}

.more-details-block-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 52rem;
}

.more-details-block-paragraph {
  margin: 0;
}

.more-details-block-arrow {
  margin-top: 2rem;
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  background: none;
  color: inherit;
  padding: 0;
}

.more-details-block-arrow:hover {
  transform: translateY(2.5px);
}

.more-details-block-arrow svg {
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 749px) {
  .more-details-block-inner {
    gap: 1.5rem;
    padding: 0 2rem;
  }

  .more-details-block-content {
    gap: 1rem;
  }

  .more-details-block-arrow {
    margin-top: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  .more-details-block-arrow svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}
