.sticky-add-to-cart-bar {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 1000;
}

.sticky-add-to-cart-bar.sticky-add-to-cart-bar--visible {
    transform: translateY(-5rem);
}
  
.sticky-add-to-cart-bar__outer-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.sticky-add-to-cart-bar__inner-wrapper {
    width: 100%;
    height: 10rem;
    max-width: 60rem;
    max-height: 10rem;
    box-shadow: 0 0 6rem rgba(var(--color-shadow), 0.1);
}

.sticky-add-to-cart-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
}

.sticky-add-to-cart-bar__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-add-to-cart-bar__top-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 50%;
}

.sticky-add-to-cart-bar__info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sticky-add-to-cart-bar__composed-title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1rem;
}

.sticky-add-to-cart-bar__title {
    font-size: 1rem;
    margin: 0;
}

.sticky-add-to-cart-bar__price {
    font-size: 1.3rem;
    color: rgba(var(--color-foreground));
}

.sticky-add-to-cart-bar__quantity {
    display: none ;
}

.sticky-add-to-cart-bar__button {
    font-size: 1.3rem;
    min-width: unset;
    z-index: 2;
}

@media (min-width: 768px) {
    .sticky-add-to-cart-bar__position--right {
        justify-content: flex-end;
    }
    
    .sticky-add-to-cart-bar__position--left {
        justify-content: flex-start;
    }
    
    .sticky-add-to-cart-bar__position--center {
        justify-content: center;
    }

    .sticky-add-to-cart-bar__top-wrapper { 
        width: unset;
    }

    .sticky-add-to-cart-bar__composed-title,
    .sticky-add-to-cart-bar__title {
        font-size: 1.2rem;
    }

    .sticky-add-to-cart-bar__info {
        width: 100%;
    }

    .sticky-add-to-cart-bar__form {
        display: flex;
        gap: 1rem;
    }

    .sticky-add-to-cart-bar__quantity {
        display: flex;
    }

    .sticky-add-to-cart-bar__button {
        min-height: 3rem;
    }
}