
.section-multicolumn-ugc .slideshow__slide {
	position: relative;
}
.section-multicolumn-ugc .slideshow__media {
	position: relative;
	height: 0;
	overflow: hidden;
}
.section-multicolumn-ugc .slideshow__media img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-multicolumn-ugc .banner__content,
.section-multicolumn-ugc .slideshow__text-wrapper.banner__content {
	padding: 0;
}
.section-multicolumn-ugc .banner__content .banner__box {
	max-width: 100%;
	min-width: 100%;
}
.section-multicolumn-ugc .banner__content--on-the-media {
	position: absolute;
	height: 100%;
	display: none;
}
.section-multicolumn-ugc .banner__content--below-the-media {
	position: relative;
	height: fit-content;
	display: none;
}
.section-multicolumn-ugc .banner__content--on-the-media .banner__box {
	background: transparent;
	--color-foreground: 255, 255, 255;
	--color-button: 255, 255, 255;
	--color-button-text: 0, 0, 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}


.section-multicolumn-ugc .banner--adapt,
.section-multicolumn-ugc .banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
	height: 0;
}

.section-multicolumn-ugc .slider.slider--everywhere .slider__slide {
	height: fit-content;
	scroll-snap-align: start;
}

.section-multicolumn-ugc slideshow-component .slideshow.banner {
	column-gap: var(--grid-mobile-horizontal-spacing);
}
@media screen and (min-width: 990px) {
	.section-multicolumn-ugc slideshow-component .slideshow.banner {
		column-gap: var(--grid-desktop-horizontal-spacing);
	}
	.section-multicolumn-ugc slideshow-component .slideshow__controls {
		display: none;
	}
}

/* section-multicolumn.css */
.section-multicolumn-ugc .title {
  margin: 0;
}

.section-multicolumn-ugc .multicolumn-card__info {
  word-break: break-word;
}

.section-multicolumn-ugc .center .title {
    margin: 0 auto;
}

.multicolumn.no-heading .title {
  display: none;
}

.section-multicolumn-ugc .title-wrapper-with-link {
  margin-top: 0;
	flex-flow: column;
}

@media screen and (max-width: 749px) {
  .section-multicolumn-ugc .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

.section-multicolumn-ugc .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .section-multicolumn-ugc .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}



.section-multicolumn-ugc {
	letter-spacing: -0.03px;
}
.section-multicolumn-ugc .page-width {
	max-width: 100%;
}

.section-multicolumn-ugc .grid {
	--grid-desktop-horizontal-spacing: 28px;
	--grid-mobile-horizontal-spacing: 12px;
}
.multicolumn-card-spacing {
  padding-top: 2.5rem;
	padding-bottom: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.section-multicolumn-ugc .swiper-pagination {
	position: relative;
	top: unset; bottom: unset; left: unset; right: unset;
	margin-top: 1rem;
}
.section-multicolumn-ugc .swiper-pagination-bullet {
	--swiper-pagination-bullet-width: 13px;
	--swiper-pagination-bullet-height: 13px;
	background-color: transparent;
	border: .1rem solid rgba(var(--color-foreground),.5);
	opacity: .5;
}
.section-multicolumn-ugc .swiper-pagination-bullet-active {
	background-color: rgb(var(--color-foreground));
	border: .1rem solid rgb(var(--color-foreground));
	opacity: 1;
}


@media screen and (min-width: 750px) {
	.section-multicolumn-ugc .swiper-pagination-bullet {
		/* padding: 13px; */
	}
}


.section-multicolumn-ugc .title {
  margin: 0;
}

.section-multicolumn-ugc .multicolumn-card__info {
  word-break: break-word;
}

.section-multicolumn-ugc .center .title {
    margin: 0 auto;
}

.multicolumn.no-heading .title {
  display: none;
}

.section-multicolumn-ugc .subtitle {
  width: 100%;
  font-size: 16px;
}
.section-multicolumn-ugc .subtitle p {
  margin-top: 0; margin-bottom: 0;
}

.section-multicolumn-ugc .title-wrapper-with-link {
	margin-top: 0;
	margin-bottom: 2rem;
}

@media screen and (max-width: 749px) {
	.section-multicolumn-ugc .title-wrapper-with-link {
		margin-bottom: 2rem;
	}
	.section-multicolumn-ugc .page-width {
		padding-right: 0;
	}
}

.section-multicolumn-ugc .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .section-multicolumn-ugc .button {
    margin-top: 4rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.banner__floated-text {
  position: absolute;

  font-size: 13px;
  line-height: 1;
  color: rgb(var(--color-button-text));

  padding: 2px 9px 4px;
  background-color: rgba(var(--color-button), var(--alpha-button-background));
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}
@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}

@media screen and (max-width: 749px) {
  .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
  .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
    width: calc(100% - var(--grid-mobile-horizontal-spacing) - 7rem);
  }
}





