.custom-section--email-signup .custom-btn {
  text-transform: capitalize;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1px;
  margin-bottom: -1px;
}
.custom-section--email-signup .custom-btn.custom-btn--default {
  padding: 9px 10px;
  max-width: 120px;
}
.custom-section--email-signup .custom-btn svg {
  margin-right: 5px;
}
.custom-section--email-signup .newsletter-form__field-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.custom-section--email-signup .newsletter-form {
  max-width: 100%;
}
.custom-section--email-signup .newsletter-form__button {
  width: 100%;
}