/* Device Sizes | Mobile - Default */
.wishlist-button-wrapper {
  position: relative;
}
.wishlist-button-wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.wishlist-button-wrapper button:hover {
  text-decoration: underline;
}
.wishlist-button-wrapper button svg {
  width: 23px;
  height: auto;
  margin-right: 1rem;
}
.wishlist-button-wrapper .icon.icon-heart {
  fill: transparent;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  stroke-width: 2;
  stroke: var(--color-primary);
}
.wishlist-button-wrapper .active .icon.icon-heart {
  fill: var(--color-primary);
  stroke: transparent;
}

.custom-price-wrapper {
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 750px) {
  .custom-price-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 990px) {
  .custom-price-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.custom-price-wrapper .price {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 2rem 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-price-wrapper .price::after {
  position: absolute;
  content: "";
  height: 80%;
  top: 10%;
  bottom: 10%;
  right: 0%;
  left: 100%;
  border-left: 1px solid rgb(var(--color-base-text));
  border-bottom: none;
}
.custom-price-wrapper .price .price-item {
  margin: 0;
}
.custom-price-wrapper .custom-price-note p {
  margin: 0;
  padding: 2rem 1.8rem;
  font-size: 19px;
  font-weight: 500;
  line-height: 21px;
}
@media screen and (min-width: 750px) {
  .custom-price-wrapper .custom-price-note p {
    padding: 2rem 1.8rem;
    text-align: center;
  }
  .custom-price-wrapper .price {
    padding: 1.8rem 1.8rem;
  }
  .custom-price-wrapper .price::after {
    height: 90%;
    width: 80%;
    right: 10%;
    left: 10%;
    border-left: none;
    border-bottom: 1px solid rgb(var(--color-base-text));
  }
}
@media screen and (min-width: 990px) {
  .custom-price-wrapper .custom-price-note p {
    padding: 3rem 1.8rem;
    text-align: left;
  }
  .custom-price-wrapper .price {
    padding: 3rem 1.8rem;
  }
  .custom-price-wrapper .price::after {
    height: 80%;
    top: 10%;
    bottom: 10%;
    right: 0%;
    left: 100%;
    border-left: 1px solid rgb(var(--color-base-text));
    border-bottom: none;
  }
}