.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0 0 3rem;
}

.skeleton__container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--grid-desktop-vertical-spacing);
}

.skeleton__heading {
  width: 50%;
  margin-bottom: 2rem;
}

.product-recommendations .skeleton__heading {
  height: 3rem;
  margin-bottom: 3rem;
}

.skeleton__container .skeleton__image {
  position: relative;
}

.skeleton__container.card--card {
  border-color: rgba(var(--color-foreground), 0.1);
}

.skeleton__container .skeleton__image:before {
  content: '';
  display: block;
  background-color: rgba(var(--color-foreground), 0.1);
}

.card--standard .skeleton__image:before {
  border-radius: var(--border-radius);
}

.skeleton__image--square:before {
  padding-bottom: 100%;
}

.skeleton__image--portrait:before {
  padding-bottom: 125%;
}

.skeleton__content.card__content{
  flex-grow: 1;
}

.skeleton__container:not(.card--horizontal) .skeleton__content.card__content {
  padding: 2.3rem 2rem;
}

@media screen and (min-width:750px) {
  .skeleton__container:not(.card--horizontal) .skeleton__content.card__content {
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
  }
}

.card--standard:not(.card--horizontal) .skeleton__content.card__content {
  padding-left: 0;
  padding-right: 0;
}

.skeleton__content div,
.skeleton__heading {
  background-color: rgba(var(--color-foreground), 0.1);
  border-radius: var(--border-radius);
  height: 15px;
}

.skeleton__content div {
  width: 70%;
  margin-bottom: 9px;
}

.skeleton__content div:last-child {
  width: 50%;
}
