.testimonial-single{
    overflow: hidden;
    padding:4rem;
}
.testimonial-single__blocks .icon-quote-left{
    opacity: .3;
    width:9rem;
    height:9rem;
    left:0;
    position: absolute;
}
.testimonial-single__blocks .icon-quote-right{
    opacity: .3;
    width:9rem;
    height:9rem;
    right:0;
    position: absolute;
}
.testimonial-single__blocks {
    position: relative;
    display: flex;
    align-items: center;
}
.testimonial-single__blocks blockquote{
    margin:0;
    position: relative;
    border:0;
}
.testimonial-single__blocks blockquote p{
    line-height: 2.25rem;
    font-size: 2rem;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (min-width: 750px) {

    .testimonial-single__blocks .icon-quote-right, .testimonial-single__blocks .icon-quote-left{
        opacity: .5;
    }
    .testimonial-single__blocks blockquote p{
        line-height: 3.75rem;
        font-size:3.5rem;
    }
}