.featured-artists-products__header {
  padding: 5rem 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.featured-artists-products__text {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}
.featured-artists-products__spotify {
  height: 3.2rem;
}
.featured-artists-products__spotify img {
  height: 100%;
}
.featured-artists-products__products {
  padding: 2rem;
  text-align: center;
}
.featured-artists-products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  margin-top: 1rem;
}

.featured-artists-products__text h2,
.featured-artists-products__text p {
  margin: 0;
  line-height: normal;
}
.featured-artists-products__products h3 {
  margin-bottom: 4rem;
}

.featured-artists-products__card {
  overflow: hidden;
}
