.global-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.global-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.global-popup-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1rem 0 3rem;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.global-popup-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.global-popup-modal__content:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.popup_image {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .global-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 1rem 0 3rem;
  }

  .global-media-modal__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }

  div.global-popup-modal__content-info {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 749px) {
  .global-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }

  .global-media-modal__dialog .global-media-settings,
  .global-media-modal__dialog .global-media-settings video,
  .global-media-modal__dialog .global-media-settings model-viewer,
  .global-media-modal__dialog .global-media-settings iframe,
  .global-media-modal__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.global-popup-modal__opener {
  display: inline-block;
}

.global-popup-modal__button {
  font-size: 1.6rem;
  padding-right: 1.3rem;
  padding-left: 0;
  min-height: 4.4rem;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.global-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.global-popup-modal__content-info {
  padding-right: 2.5rem;
  padding-top: 2rem;
}

.global-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .global-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.global-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1rem;
  z-index: 2;
  top: 1rem;
  margin: 0 0 0 auto;
}

.global-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.global-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.global__media-list .media > * {
  overflow: hidden;
}

.thumbnail-list {
  flex-wrap: wrap;
  grid-gap: 1rem;
}

div.global-popup-modal__content {
  height: unset;
  transform: translate(-50%, -50%);
  top: 50%;
  margin-top: auto;
  width: auto;
  min-width: 320px;
  max-height: 100%;
}

div.global-popup-modal__content-info > * {
  max-width: 500px;
}

.popup_blocks .button {
  width: 100%;
}

.popup_blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 2rem;
}

.popup_blocks > * {
  margin: 0;
}

@media screen and (max-width: 990px) {
  .popup-content .grid--2-col {
    width: 100%;
    max-width: 100%;
  }

  .grid--2-col.popup_image {
    min-height: 300px;
  }
}

.global-popup-modal svg {
  pointer-events: none;
}

@media screen and (min-width: 990px) {
  .popup-content {
    gap: 2rem;
  }
}
