.text-banner-section {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 35px 55px;
}


.text-banner-section.color-scheme-primary {
  color: #000;
}


.text-banner-section.color-scheme-primary h2{
  color: #000;
  font-weight: bold;
}

.text-banner-section.color-scheme-primary {
  color: #fff;
  background-color: #355179;
}


.text-banner-section.color-scheme-primary h2{
  color: #fff;
  font-weight: bold;
}

.text-banner-section.color-scheme-secondary {
  color: #fff;
  background-color: #5faa58;
}


.text-banner-section.color-scheme-secondary h2{
  color: #fff;
  font-weight: bold;
}



