.our-history__inner {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.our-history__content {
  max-width: 40rem;
  margin-left: auto;
}

.our-history__media-grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 1rem;
  position: relative;
  height: auto;
  max-width: 50%;
}

/* Lock the image inside the grid cell */
.media-grid__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.media-grid__item--1 {
  grid-column: 41 / 24;
  grid-row: 1 / 25;
  z-index: 1;
  max-height: 230px;
  max-width: 230px;
}

.media-grid__item--2 {
  grid-column: 31 / 5;
  grid-row: 5 / 60;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 120%;
    width: 100%;
    position: relative;
  }
}

.media-grid__item--3 {
  grid-column: 1 / 19;
  grid-row: 49 / 74;
  max-height: 240px;
  max-width: 240px;
}
