/* Device Sizes | Mobile - Default */
.custom-section--usp__list {
  padding: 10px;
}
.custom-section--usp__card {
  padding: 15px 5px;
  max-width: 230px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 990px) {
  .custom-section--usp__card {
    padding: 20px 10px;
  }
}
.custom-section--usp__card img, .custom-section--usp__card svg {
  width: calc(80px * var(--base-size-uspimage));
  height: auto;
  margin: 0 0 10px;
}
@media screen and (min-width: 990px) {
  .custom-section--usp__card img, .custom-section--usp__card svg {
    width: calc(100px * var(--base-size-uspimage));
  }
}
.custom-section--usp__card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 180px;
}
.custom-section--usp__card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto;
}