.banner{
    min-height:72rem;
}

.banner__media.banner__media-third {
    width: 34%;
}

.banner__media-third + .banner__media-third:nth-of-type(2) {
    right: 33%;
    left: auto;
}

.banner__media-third + .banner__media-third:nth-of-type(3) {
    right: 0;
    left: auto;
}
.banner-3-box{
    opacity: .85;
}
.banner__image__text{
    top: 30% !important;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.banner__image__text h1{
    line-height: 4rem;
    font-weight: bold;
    font-size:4rem;
    margin:0;
    padding-left:2.5rem;
}
.banner__image__text h1:last-child {
    background-color: rgb(var(--color-base-accent-1));
}

@media screen and (min-width: 768px) {
    .banner__image__text{
        top: 35%;
    }
    .banner__image__text h1{
        line-height: 5rem;
        font-size:4.5rem;
        padding-left:2rem;
    }
    .banner__settings .banner__media:is(:last-child){
        display:none;
    }
    .media.banner__media-third{
        width:50%
    }
    .banner__media-third + .banner__media-third:nth-of-type(2) {
        right: 0;
        left: auto;
    }

}
@media screen and (min-width: 1024px) {
    .banner__image__text{
        top: 35%;
    }
    .banner__image__text h1{
        line-height: 5.5rem;
        font-size:5.5rem;
        padding-left:2.5rem;
    }
    .banner__settings .banner__media:is(:last-child){
        display:block
    }
    .media.banner__media-third{
        width:34%
    }
    .banner__media-third + .banner__media-third:nth-of-type(2) {
        left: 34%;
        right: auto;
    }

}
@media screen and (max-width: 749px) {
    .banner-3-box{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner__settings .banner__media:not(:first-child){
        display:none;
    }
    .banner--stacked .banner__media.banner__media-third {
        width: 100%;
        right:0;
        left:auto;
    }
    .banner-3-box{
        opacity: 1;
    }
    .banner--stacked .banner__media-third + .banner__media-third {
        order: 1;
    }
    .banner--stacked .banner__media-image-third {
        width: 100%;
    }
}