.similar-products__title {
  text-align: center;
  margin-bottom: 3rem;
  font-family: var(--font-body-bold);
}

.similar-products__swiper-container {
  position: relative;
}

.similar-products-swiper {
  padding: 0 5rem;
}

.product-card {
  border-radius: var(--product-card-corner-radius);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: white;
}

.product-card__image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__info {
  padding: 1rem;
}

.product-card__title {
  margin-bottom: 0.5rem;
}

.product-card__price {
  font-family: var(--font-sofia);
  margin: 0;
  color: var(--colour-grey);
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.swiper-pagination {
  position: relative;
  margin-top: 2rem;
}
