.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.125rem;
}

.contact .field {
  margin-bottom: 0.95rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 1.25rem;
  }
}

.contact__button {
  margin-top: 1.9rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.25rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
