.product-card__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.product-card__title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.product-card__info {
  max-width: 32rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.color-swatches {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.color-swatch {
  margin-right: 1.2rem;
}

.color-swatch span {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: block;
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

.product-card__cta {
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .product-card__layout {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.product-carousel {
  height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-carousel .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-carousel img {
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

hr {
  margin: 1rem 0;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #000 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active-main {
  width: 14px !important;
  height: 14px !important;
  background: #000 !important;
}

.swiper-pagination-bullets-dynamic {
  margin-bottom: 2rem;
}
