.featured-artists-page-width {
  margin: 0 auto;
  max-width: 135rem;
  padding: 0 2rem;
}
.featured-artists-products__header {
  padding: 5rem 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.featured-artists-products__text {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}
.featured-artists-products__spotify {
  height: 3.2rem;
}
.featured-artists-products__spotify img {
  height: 100%;
}
.featured-artists-products__products {
  padding: 2rem;
  text-align: center;
}
.featured-artists-products__grid {
  display: grid;
  grid-template-columns: repeat(4, 29.1rem);
  gap: 2rem;
  margin-top: 1rem;
  justify-items: center;
  overflow-x: auto;
  grid-auto-flow: column;
  min-width: 100%;
}
.featured-artists-products__text h2,
.featured-artists-products__text p {
  margin: 0 0 0.5rem 0;
  line-height: normal;
}
.featured-artists-products__products h3 {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1250px) {
  .featured-artists-products__grid {
    grid-template-columns: repeat(4, 29.1rem);
  }
}
