.header-banner {
  position: relative;
  overflow: hidden;
}

.header-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(var(--color-foreground));
  z-index: 1;
}

.header-banner__media-wrapper {
  position: relative;
  width: 100%;
}

.header-banner__media {
  position: relative;
  width: 100%;
}

.header-banner__media-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header-banner__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header-banner__link:hover {
  text-decoration: none;
}

/* Desktop heights */
@media screen and (min-width: 750px) {
  .header-banner--adapt .header-banner__media {
    height: auto;
  }

  .header-banner--small .header-banner__media {
    height: 20rem;
  }

  .header-banner--medium .header-banner__media {
    height: 50rem;
  }

  .header-banner--large .header-banner__media {
    height: 80rem;
  }
}

/* Mobile heights */
@media screen and (max-width: 749px) {
  .header-banner--mobile-adapt .header-banner__media {
    height: auto;
  }

  .header-banner--mobile-small .header-banner__media {
    height: 15rem;
  }

  .header-banner--mobile-medium .header-banner__media {
    height: 20rem;
  }

  .header-banner--mobile-large .header-banner__media {
    height: 25rem;
  }
}

/* Animation classes */
.animate--ambient {
  animation: ambient 20s linear infinite;
}

.animate--fixed {
  background-attachment: fixed;
}

.animate--zoom-in {
  animation: zoom-in 20s linear infinite;
}

@keyframes ambient {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
} 