.heading {
    z-index: 1;
}

.heading__wrapper {
    display: flex;
    justify-content: center;
    width: calc(100% - 4rem / var(--font-body-scale));
}

.heading:not(.heading--full-width) .heading__wrapper {
    margin: auto;
    width: calc(100% - 8rem / var(--font-body-scale));
}

.heading__wrapper > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 750px) {
    .heading__wrapper {
        width: 100%;
    }

    .heading__wrapper--left {
        justify-content: flex-start;
    }

    .heading__wrapper--right {
        justify-content: flex-end;
    }
}
