.spaced-section {
  margin-top: 3rem;
}

@media screen and (min-width: 990px){
  .spaced-section {
    margin-top: 5rem;
  }
}


.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}
