/* usp block 1 */

.usp-block.usp-1 {
  display: grid;
  grid-template-columns: 3fr 0fr 4fr;
  align-items: end;
  gap: 4rem;
}

.usp-block.usp-1 .usp-block__image {
  grid-column: 1 / 2;
  height: 60.75rem;
  width: 42rem;
}

.usp-block.usp-1 .usp-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usp-block.usp-1 .usp-block__content {
  grid-column: 3 / 4;
  max-width: 30rem;
  line-height: normal;
}

.usp-block.usp-1 .usp-block__description {
  margin: 0;
}

.usp-block.usp-1 .usp-block__title {
  margin-bottom: 0.5rem;
}

/* usp block 2 */

.usp-block.usp-2 {
  display: grid;
  grid-template-columns: 4fr 0fr 3fr;
  align-items: end;
  gap: 4rem;
}

.usp-block.usp-2 .usp-block__image {
  grid-column: 3 / 4;
  height: 60.75rem;
  width: 42rem;
}

.usp-block.usp-2 .usp-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usp-block.usp-2 .usp-block__content {
  grid-column: 1 / 2;
  max-width: 30rem;
  line-height: normal;
}

.usp-block.usp-2 .usp-block__description {
  margin: 0;
}

.usp-block.usp-2 .usp-block__title {
  margin-bottom: 0.5rem;
}

/* usp block 3 */

.usp-block.usp-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.usp-block.usp-3 .usp-block__image {
  height: 61.5rem;
  width: 100%;
  margin-bottom: 3rem;
}

.usp-block.usp-3 .usp-block__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usp-block.usp-3 .usp-block__content {
  max-width: 30rem;
  text-align: center;
  margin: 0 auto;
  line-height: normal;
}

.usp-block.usp-3 .usp-block__description {
  margin: 0;
}

.usp-block.usp-3 .usp-block__title {
  margin-bottom: 0.5rem;
}
