.section--featured-collage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section--featured-collage .collage-card:hover .first-img,
.section--featured-collage .collage-card .hover-img {
  opacity: 0;
}
.section--featured-collage .collage-card:hover .hover-img {
  opacity: 1;
}
.section--featured-collage .first-img,
.section--featured-collage .hover-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.section--featured-collage .placeholder-svg {
  width: 100%;
  height: 100%;
}
.section--featured-collage .collage .collage-card .card--text {
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-weight: bold;
  color: rgb(var(--color-foreground));
  position: absolute;
  width: 100%;
  height: 100%;
}
.section--featured-collage .collage .collage-card .card--text .button,
.section--featured-collage .collage .collage-card .card--text .link {
  width: fit-content;
  margin: 0 2.4rem 2.4rem;
}
.section--featured-collage .collage .collage-card .card--text p {
  z-index: 1;
  padding: 0 2.4rem;
}
.section--featured-collage .card__content--option__1 {
  justify-content: flex-start;
  align-items: center;
}
.section--featured-collage .card__content--option__3 {
  justify-content: flex-start;
  align-items: end;
}
.section--featured-collage .card__content--option__4 {
  justify-content: end;
  align-items: center;
}
.section--featured-collage .card__content--option__5 {
  align-items: flex-start;
  justify-content: end;
}
.section--featured-collage .card__content--option__6 {
  justify-content: end;
  align-items: end;
}
.section--featured-collage .card__content--option__7 {
  justify-content: center;
  align-items: center;
}
.section--featured-collage .card__content--option__8 {
  align-items: flex-start;
  justify-content: center;
}
.section--featured-collage .card__content--option__9 {
  justify-content: center;
  align-items: end;
}
