.product {
  margin: 0;
}

.product--no-media {
  max-width: 57rem;
  margin: 0 auto;
}

.product__media-wrapper {
  padding-left: 0;
}

.product__info-wrapper {
  padding-left: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 749px) {
  .product-section {
    margin-top: 0;
  }
}

@media screen and (min-width: 750px) {
  .product__info-container--sticky {
    position: sticky;
    top: 3rem;
    z-index: 2;
  }

  .product__info-wrapper {
    padding-left: 5rem;
  }

  .product__media-container .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .product:not(.product--no-media) .product__media-wrapper {
    max-width: 64%;
    width: calc(64% - 1rem / 2);
  }

  .product:not(.product--no-media) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 36%;
    width: calc(36% - 1rem / 2);
  }
}
.product__info-container .price--large {
  min-height: 4.2rem;
}

@media screen and (min-width: 750px) {
  .product__info-container .price--large {
    min-height: 4.7rem;
  }
}
