.best-sellers-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best-sellers-intro__title,
.best-sellers-subtitle,
.tabbed-product-tab {
  text-transform: uppercase;
}

.best-sellers-subtitle {
  margin-bottom: 5rem;
}

.best-sellers-intro__description {
  max-width: 50rem;
}

.tabbed-product-tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0;
  margin-bottom: 4rem;
  overflow-x: auto;
  scrollbar-width: none;
}

.tabbed-product-tabs-container {
  width: 100%;
}

.tabbed-product-tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.tabbed-product-tab {
  list-style: none;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 1.5rem;
}

.tabbed-product-tab:nth-child(1) {
  margin-left: 0;
}

.tabbed-product-tab:last-child {
  margin-right: 0;
}

.tabbed-product-tab.active {
  border-bottom: 2px solid #000;
  font-weight: 700;
  font-family: var(--font-body-bold);
}

.tabbed-product-tab-content {
  width: 100%;
  margin-bottom: 6rem;
}

.tabbed-product-grid {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding-bottom: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-overflow-style: none;
}

.tabbed-product-grid::-webkit-scrollbar {
  display: none; /* WebKit */
}

.tabbed-product-grid.hidden {
  display: none;
  opacity: 0;
  transform: translateY(10px);
}

.tabbed-product-grid > a {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: auto;
}

.tabbed-product-grid.fade-in {
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabbed-product-tab-content {
  width: 100%;
  margin-bottom: 6rem;
}

.tabbed-product-section__cta a {
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .tabbed-product-tab-content {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    position: relative;
  }

  .tabbed-product-grid {
    margin-left: calc(max((100vw - var(--page-width)) / 2, 0px) + var(--page-width-margin) + 4.7rem);
    padding-right: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .tabbed-product-tabs-container {
    padding: 0;
  }
}
