/* Device Sizes | Mobile - Default */
.custom-section--shopnow-banner .grid {
  margin: 0 !important;
}
.custom-section--shopnow-banner .grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-section--shopnow-banner .custom-section__header {
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .custom-section--shopnow-banner .custom-section__header {
    text-align: left;
  }
}
.custom-section--shopnow-banner .custom-section__button {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 750px) {
  .custom-section--shopnow-banner .custom-section__button {
    margin-top: 0;
    text-align: right;
  }
}
.custom-section--shopnow-banner-wrapper {
  padding: 3rem 1rem;
  -webkit-box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
          box-shadow: 6px 8px 22px -2px rgba(0, 0, 0, 0.74);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 750px) {
  .custom-section--shopnow-banner-wrapper {
    padding: 5rem 8rem;
  }
}