.custom-section--tabular__tab-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #EFEFEF;
}
.custom-section--tabular__tab-buttons-wrapper .tab-button {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.custom-section--tabular__tab-buttons-wrapper .tab-button::after {
  margin-left: calc(2rem - 2px);
}
.custom-section--tabular__tab-buttons-wrapper .tab-button:not(:last-of-type)::after {
  content: "";
  position: absolute;
  height: 80%;
  border-right: 2px solid rgb(var(--color-base-text));
  top: 10%;
  bottom: 10%;
}
.custom-section--tabular__tab-buttons-wrapper .tab-button.active {
  position: relative;
  background-color: #B5C5E6;
}
.custom-section--tabular__tab-buttons-wrapper .tab-button.active:not(:first-of-type) {
  margin-left: -2px;
  padding-left: calc(2rem + 2px);
}
.custom-section--tabular__tab-buttons-wrapper .tab-button.active:not(:last-of-type)::after {
  border-right: none !important;
}
.custom-section--tabular .tabcontent:not(:first-of-type) {
  display: none;
}
.custom-section--tabular .tabcontent p {
  margin: 0;
}