/* Device Sizes | Mobile - Default */
.custom-section--page-banner {
  min-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: inherit;
}
@media screen and (min-width: 990px) {
  .custom-section--page-banner {
    min-height: 380px;
  }
}
.custom-section--page-banner .custom-section__bg-container {
  width: 100%;
}
.custom-section--page-banner .custom-section__header {
  margin-bottom: 10px !important;
}
.custom-section--page-banner .template-search__search {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}