/* GLOBAL STYLES */
.usp-block__image,
.usp-block__image-alt {
  height: 60.75rem;
}

.usp-block__image img,
.usp-block__image-alt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usp-block__title {
  margin-bottom: 0.5rem;
}

.usp-block__description {
  margin: 0;
}

.usp-block__content,
.usp-block__content-alt {
  max-width: 30rem;
}

/* SHARED GRID */
.usp-block__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 5rem;
}

.usp-block__grid-half,
.usp-block__grid-half-alt {
  display: flex;
  flex-direction: column;
}

/* USP 1 */
.usp-block.usp-1 {
  grid-template-columns: 3fr 0fr 4fr;
}

.usp-block.usp-1 .usp-block__image {
  grid-column: 1 / 2;
  margin-bottom: 4rem;
}

.usp-block.usp-1 .usp-block__image-alt {
  margin-top: 4rem;
}

.usp-block.usp-1 .usp-block__content,
.usp-block__content-alt {
  grid-column: 3 / 4;
}

.usp-block.usp-1 .usp-block__title {
  margin: 0;
  padding-bottom: 1rem;
}

/* USP 2 */
.usp-block.usp-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.usp-block.usp-2 .usp-block__image {
  height: 60rem;
  width: 100%;
  margin-bottom: 3rem;
}

.usp-block.usp-2 .usp-block__content {
  margin: 0 auto;
}

.page-width-usp {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .usp-block.usp-2 .usp-block__image {
    height: 25rem;
  }

  .usp-block.usp-2 .usp-block__content {
    max-width: 30rem;
  }

  .usp-block.usp-1 .usp-block__image {
    margin: 0;
    min-width: 35%;
    height: 24rem;
    width: 100%;
  }

  .usp-block.usp-1 .usp-block__image-alt {
    margin-top: 0;
    height: 22rem;
    width: 100%;
  }

  .usp-block__grid-half {
    flex-direction: row;
    gap: 4rem;
    align-items: flex-end;
    width: 100%;
  }

  .usp-block__grid-half-alt {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
  }

  .usp-block__grid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .usp-block__content {
    max-width: 22rem;
    margin-right: 3rem;
  }

  .usp-block__content-alt {
    width: fit-content;
    margin-left: 2rem;
    max-width: 22rem;
  }

  .page-width-usp {
    padding: 0;
  }
}
