.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 3.15rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(3.15rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 80.0rem;
  margin: 0 auto;
}

@media screen and (min-width: 1320px) {
  .article-template__hero-container:first-child {
    margin-top: calc(3.15rem + var(--page-width-margin));
  }
}

.article-template__hero-small {
  height: 7.0rem;
}

.article-template__hero-medium {
  height: 14.0rem;
}

.article-template__hero-large {
  height: 20.5rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 14.0rem;
  }

  .article-template__hero-medium {
    height: 27.5rem;
  }

  .article-template__hero-large {
    height: 41.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 17.0rem;
  }

  .article-template__hero-medium {
    height: 34.5rem;
  }

  .article-template__hero-large {
    height: 50.0rem;
  }
}

.article-template header {
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 3.15rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 0.65rem;
}

.article-template__link {
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 0.65rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.article-template__social-sharing {
  margin-top: 1.9rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 0.95rem;
}

.article-template__comment-wrapper {
  margin-top: 3.15rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 3.75rem;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 3.15rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 4.4rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 2.5rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 0.95rem;
  padding: 1.25rem 1.25rem 0.95rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 1.25rem 1.55rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 0.65rem;
}

.article-template__comment-fields > * {
  margin-bottom: 1.9rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
  }
}

.article-template__comment-warning {
  margin: 1.25rem 0 1.55rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 3.15rem 0 5.0rem;
  }
}
