.introductory-text__section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introductory-text {
  text-align: center;
}

.introductory-text__container {
  max-width: 45rem;
  margin: 0 auto;
}

.introductory-text__title {
  margin-bottom: 0.8rem;
  font-family: 'Calisto MT', serif;
}

.introductory-text__subtitle {
  margin-bottom: 2.4rem;
}

.introductory-text__description {
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 749px) {
  .introductory-text__container {
    max-width: 100%;
    padding: 0 1.6rem;
  }

  .introductory-text__subtitle {
    margin-bottom: 1.6rem;
  }
}
