.sellingpoints-bar{
    color: rgba(var(--color-base-background-1),.75);
    background-color: rgb(var(--color-base-text));
}
.slider.sellingpoints-slide {
    display:flex;
    flex-direction: row;
    padding-bottom:1rem;
    padding-top:1rem;
}
.sellingpoints-slide li{
    width:100%;
}

@media screen and (min-width: 750px) {
    .sellingpoints-bar {
        /*color: rgba(var(--color-base-text), 0.75);*/
        /*background-color: rgb(var(--color-base-background));*/
        color: rgb(var(--color-base-solid-button-labels));
        background-color: rgba(var(--color-base-accent-1));
    }

    .sellingpoints-slide li{
        width:25%;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1024px) {
    .sellingpoints-slide li{
        font-size: 1.5rem;
    }
}