p:not(.empty),
p:not(:empty) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

p.empty,
p:empty,
p:has(> span.empty:only-child),
br {
  height: var(--spacing-base);
  display: block;
  margin-bottom: 0;
}

p:has(> span.empty:only-child),
p:has(> span:empty:only-child) {
  display: none;
}

a {
  font-family: 'National 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.richtext {
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
}

td{
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}
