.shipping-estimator *:focus-visible {
  outline: 0;
  outline-offset: 0;
}

.form-control {
  display: flex;
  justify-content: space-between;
}

.form-control[hidden] {
  display: none;
}

country-selector .form-control {
  margin-bottom: 1rem;
}

.shipping-input {
  width: 70%;
  padding: 0.5rem;
  font-family: var(--font-body-family);
}

.shipping-estimator .button {
  min-height: 3rem;
  margin-top: 1rem;
}

.shipping-submit {
  display: flex;
  justify-content: flex-end;
}

.shipping-estimator p,
.shipping-estimator ul {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
