.sl-brandstyle-5f5ce38e-5a95-4aaf-9aed-9a6f40402504 .sl-font-style--title {
font-family: Ivar Headline;
}
.sl-brandstyle-5f5ce38e-5a95-4aaf-9aed-9a6f40402504 .sl-font-style--body {
font-family: "Roboto";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-5f5ce38e-5a95-4aaf-9aed-9a6f40402504 .sl-font-style--button {
font-family: "Roboto";
font-weight: 700;
font-style: normal;
}
.sl-brandstyle-5f5ce38e-5a95-4aaf-9aed-9a6f40402504 .sl-font-style--label {
font-family: Trade Gothic LT Pro;
font-weight: 700;
text-transform: uppercase;
}
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #22242a;
--sl-gv-btn-bg-color: #f6f4f2;
}
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd .sl-font-style--title { color: #22242a; }
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd .sl-font-style--body { color: #22242a; }
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd .sl-font-style--button { color: #22242a; }
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd .sl-font-style--label { color: #22242a; }
.sl-pattern-6db2cffc-c874-4fcb-beca-98b67d8585bd .sl-button--brand-style {
color: #22242a;
background-color: #f6f4f2;
}
.sl-pattern-8c07f496-8709-40e5-8c9e-809c58202d88 {
background-color: #22242a;
border-style: none;
--sl-gv-bg-color: #22242a;
--sl-gv-btn-bg-color: #22242a;
}
.sl-pattern-8c07f496-8709-40e5-8c9e-809c58202d88 .sl-font-style--title { color: #000000; }
.sl-pattern-8c07f496-8709-40e5-8c9e-809c58202d88 .sl-font-style--body { color: #000000; }
.sl-pattern-8c07f496-8709-40e5-8c9e-809c58202d88 .sl-font-style--label { color: #000000; }
.sl-pattern-8c07f496-8709-40e5-8c9e-809c58202d88 .sl-button--brand-style {
background-color: #22242a;
}
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #22242a;
--sl-gv-btn-bg-color: #f6f4f2;
}
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a .sl-font-style--title { color: #22242a; }
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a .sl-font-style--body { color: #22242a; }
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a .sl-font-style--button { color: #22242a; }
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a .sl-font-style--label { color: #22242a; }
.sl-pattern-575c4df8-b0cb-42e8-b344-d018b71e439a .sl-button--brand-style {
color: #22242a;
background-color: #f6f4f2;
}
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #f6f4f2;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-font-style--title { color: #ffffff; }
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-font-style--body { color: #22242a; }
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-font-style--button { color: #ffffff; }
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-font-style--label { color: #22242a; }
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-button--brand-style {
color: #ffffff;
background-color: #f6f4f2;
}
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-button--button-style { border: 2px solid; }
.sl-pattern-9a3204c4-6de4-47a7-a0df-3ee239127905 .sl-button--border-radius { border-radius: 8px; }
.sl-brandstyle-9fe1c2dc-94c1-4306-9cfb-55bd0a83df2e .sl-font-style--title {
font-family: Ivar Headline;
}
.sl-brandstyle-9fe1c2dc-94c1-4306-9cfb-55bd0a83df2e .sl-font-style--body {
font-family: "Roboto";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-9fe1c2dc-94c1-4306-9cfb-55bd0a83df2e .sl-font-style--button {
font-family: "Roboto";
font-weight: 700;
font-style: normal;
}
.sl-brandstyle-9fe1c2dc-94c1-4306-9cfb-55bd0a83df2e .sl-font-style--label {
font-family: Trade Gothic LT Pro;
font-weight: 700;
text-transform: uppercase;
}
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #f6f4f2;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-font-style--title { color: #ffffff; }
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-font-style--body { color: #22242a; }
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-font-style--button { color: #ffffff; }
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-font-style--label { color: #22242a; }
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-button--brand-style {
color: #ffffff;
background-color: #f6f4f2;
}
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-button--button-style { border: 2px solid; }
.sl-pattern-b7fc2ce4-1631-417b-b468-bb1ced60e45f .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #22242a;
--sl-gv-btn-bg-color: #f6f4f2;
}
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d .sl-font-style--title { color: #22242a; }
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d .sl-font-style--body { color: #22242a; }
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d .sl-font-style--button { color: #22242a; }
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d .sl-font-style--label { color: #22242a; }
.sl-pattern-460bba36-6a45-4965-826f-6a9ab5bbdf9d .sl-button--brand-style {
color: #22242a;
background-color: #f6f4f2;
}
.sl-pattern-7c082461-7887-4e10-97b3-1c7a621284a5 {
background-color: #22242a;
border-style: none;
--sl-gv-bg-color: #22242a;
--sl-gv-btn-bg-color: #22242a;
}
.sl-pattern-7c082461-7887-4e10-97b3-1c7a621284a5 .sl-font-style--title { color: #000000; }
.sl-pattern-7c082461-7887-4e10-97b3-1c7a621284a5 .sl-font-style--body { color: #000000; }
.sl-pattern-7c082461-7887-4e10-97b3-1c7a621284a5 .sl-font-style--label { color: #000000; }
.sl-pattern-7c082461-7887-4e10-97b3-1c7a621284a5 .sl-button--brand-style {
background-color: #22242a;
}
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 {
background-color: #f6f4f2;
border-style: none;
--sl-gv-bg-color: #f6f4f2;
--sl-gv-btn-txt-color: #22242a;
--sl-gv-btn-bg-color: #f6f4f2;
}
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 .sl-font-style--title { color: #22242a; }
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 .sl-font-style--body { color: #22242a; }
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 .sl-font-style--button { color: #22242a; }
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 .sl-font-style--label { color: #22242a; }
.sl-pattern-062a0b83-8bde-4a82-9728-74463a4639a9 .sl-button--brand-style {
color: #22242a;
background-color: #f6f4f2;
}
