.contents1,.contents2 {
    width: 79%;
}

.contents1 {
    margin-top: 770px;
}

main {
    display: flex;
}

.side-title {
    margin-bottom: -5px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 24px;
}

li {
    margin-left:70px;
}

.side-gender {
    display: inline;
    justify-content: space-evenly;
}

.side-gender li {
    margin-right: -30px;
}

.side-stock {
    display: inline;
    justify-content: space-evenly;
}

.side-stock li {
    margin-right: -30px;
}

select {
    font-size: 16px;
    margin-left: 100px;
}

.search-button {
    margin-top: 15px;
    margin-left: 100px;
    background-color: rgb(50, 46, 46);
    height: 55px;
    width: 180px;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.reset-button {
    margin-top: 15px;
    margin-left: 100px;
    background-color: rgb(189, 183, 183);
    height: 40px;
    width: 180px;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}