a:hover {
  opacity: 0.6;
}

.SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.jc-spb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.shrink {
  flex-shrink: 1;
}

.mx-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-7 {
  margin-left: 24px;
  margin-right: 24px;
}

.py-7 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.ff-heading {
  font-family: var(--font-heading-family);
}

.fs-3 {
  font-size: 20px;
}

.fw-400 {
  font-weight: 400;
}

.nodec {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.bgcol-bg {
  background-color: var(--color-background);
}

.col-fg {
  color: var(--color-foreground);
}

.shadow {
  box-shadow: 0px 2px 24px #00000017;
}

.sticky {
  transition: box-shadow 300ms ease-out 0s;
  -moz-transition: box-shadow 300ms ease-out 0s;
  -webkit-transition: box-shadow 300ms ease-out 0s;
  -o-transition: box-shadow 300ms ease-out 0s;
}

@media screen and (min-width: 990px) {
  .SectionGrid {
    display: grid;
  }
}
