.sp-w-100p {
  width: 100%;
}

.sp-mb-4 {
  margin-bottom: 12px;
}

.sp-mb-25px {
  margin-bottom: 25px;
}

.sp-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.sp-pb-6 {
  padding-bottom: 20px;
}

.sp-pl-5px {
  padding-left: 5px;
}

.sp-pr-10px {
  padding-right: 10px;
}

.sp-pr-9 {
  padding-right: 40px;
}

.sp-pt-3 {
  padding-top: 8px;
}

.sp-pt-6 {
  padding-top: 20px;
}

.sp-flex {
  display: flex;
}

.sp-row {
  flex-direction: row;
}

.sp-ai-c {
  align-items: center;
}

.sp-grid {
  display: grid;
}

.sp-3col-421 {
  grid-template-columns: 4fr 2fr 1fr;
}

.sp-3col-422 {
  grid-template-columns: 4fr 2fr 2fr;
}

.sp-col-1-3 {
  grid-column: 1 / span 3;
}

.sp-ff-body {
  font-family: var(--font-body-family);
}

.sp-ff-heading {
  font-family: var(--font-heading-family);
}

.sp-fs-1 {
  font-size: 16px;
}

.sp-fs-2 {
  font-size: 18px;
}

.sp-fs-3 {
  font-size: 20px;
}

.sp-fw-300 {
  font-weight: 300;
}

.sp-fw-400 {
  font-weight: 400;
}

.sp-fw-500 {
  font-weight: 500;
}

.sp-lh-26px {
  line-height: 26px;
}

.sp-lh-130 {
  line-height: 1.3;
}

.sp-lh-145 {
  line-height: 1.45;
}

.sp-lh-150 {
  line-height: 1.5;
}

.sp-ls-p024 {
  letter-spacing: 0.24px;
}

.sp-ta-c {
  text-align: center;
}

.sp-ta-r {
  text-align: right;
}

.sp-hyphen {
  hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}

.sp-space-4 {
  height: 12px;
}

.sp-line-1-3 {
  grid-column: 1 / span 3;
  height: 1px;
  border-color: rgba(var(--color-foreground), 0.4);
  border-style: solid;
  border-width: 1px;
}

@media screen and (min-width: 500px) {
  .sp-pr-md-15 {
    padding-right: 88px;
  }

  .sp-line-1-3 {
    height: 0.38px;
    border-width: 0.38px;
  }
}

@media screen and (min-width: 990px) {
  .sp-fs-lg-3 {
    font-size: 20px;
  }

  .sp-fw-lg-300 {
    font-weight: 300;
  }

  .sp-fw-lg-400 {
    font-weight: 400;
  }

  .sp-hyphen {
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }

  .sp-line-1-3 {
    height: 0.6px;
    border-width: 0.6px;
  }
}
