.button:not([disabled]):hover {
  box-shadow: none !important;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: var(--color-foreground);
}

a:hover {
  opacity: 0.6;
}

.contact__fields {
  display: block !important;
}

.field {
  display: block !important;
  outline: none !important;
  margin-bottom: 20px;
}

.field__label {
  display: block !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  width: 100%;
  position: static !important;
}

.field__input {
  display: block;
  outline: none;
  background-color: #f9f9f9;
  color: #333333;
  width: 100%;
  height: 50px;
  box-shadow: none !important;
}

.text-area {
  height: 250px;
}

.cf-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.cf-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.cf-block {
  display: block;
}

.cf-w-100p {
  width: 100%;
}

.cf-h-50px {
  height: 50px;
}

.cf-h-250px {
  height: 250px;
}

.cf-mb-3 {
  margin-bottom: 8px;
}

.cf-mb-5 {
  margin-bottom: 16px;
}

.cf-mb-6 {
  margin-bottom: 20px;
}

.cf-mb-8 {
  margin-bottom: 32px !important;
}

.cf-mb-11 {
  margin-bottom: 56px;
}

.cf-p-5 {
  padding: 16px;
}

.cf-pb-7 {
  padding-bottom: 24px;
}

.cf-pt-10 {
  padding-top: 48px;
}

.cf-px-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.cf-px-7 {
  padding-left: 24px;
  padding-right: 24px;
}

.cf-py-5 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cf-ff-body {
  font-family: var(--font-body-family);
}

.cf-ff-heading {
  font-family: var(--font-heading-family);
}

.cf-fs-0 {
  font-size: 14px;
}

.cf-fs-30px {
  font-size: 30px;
}

.cf-lh-100 {
  line-height: 1;
}

.cf-lh-142 {
  line-height: 1.42857143;
}

.cf-lh-20px {
  line-height: 20px;
}

.cf-lh-32px {
  line-height: 32px;
}

.cf-fw-300 {
  font-weight: 300;
}

.cf-fw-400 {
  font-weight: 400;
}

.cf-fw-500 {
  font-weight: 500;
}

.cf-ls-m124 {
  letter-spacing: -1.24px;
}

.cf-uppercase {
  text-transform: uppercase;
}

.cf-bg-f6 {
  background-color: #f6f6f6;
}

.cf-col-33 {
  color: #333333;
}

.cf-ta-c {
  text-align: center;
}

.cf-va-m {
  vertical-align: middle;
}

.cf-noborder {
  border: none;
}

.cf-noborder:active {
  border: none;
}

.cf-noborder:focus {
  border: none;
}

.cf-nooutline {
  outline: none;
}

.cf-nooutline:active {
  outline: none;
}

.cf-nooutline:focus {
  outline: none;
}

.cf-transition {
  transition: all 0.1s linear;
}

@media screen and (min-width: 500px) {
  .field__label {
    font-size: 16px;
  }

  .cf-pb-md-8 {
    padding-bottom: 32px;
  }

  .cf-pt-md-13 {
    padding-top: 72px;
  }

  .cf-px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .cf-fs-md-1 {
    font-size: 16px;
  }

  .cf-fs-md-38px {
    font-size: 38px;
  }

  .cf-lh-md-44px {
    line-height: 44px;
  }
}

@media screen and (min-width: 990px) {
  .cf-SectionGrid {
    display: grid;
  }
}
