* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Übernahme des internal Stylesheet von header.liquid  */

@media screen and (min-width: 990px) {
  header-drawer {
    display: none;
  }
}
.menu-drawer-container {
  display: flex;
}
.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu__item {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

/* überschreibe component-menu-drawer.css */

.menu-drawer {
  transform: translateY(-100vh) !important;
  visibility: hidden !important;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease,
    visibility var(--duration-default) ease !important;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateY(0) !important;
  visibility: visible !important;
}

.menu-drawer__navigation {
  padding-top: 0;
  padding-bottom: 0;
}

.menu-drawer {
  height: unset !important;
}

/* eigene Stile */

details.menu-drawer-container summary span svg:first-child {
  display: inline;
}

details.menu-drawer-container summary span svg:last-child {
  display: none;
}

details.menu-drawer-container[open] summary span svg:first-child {
  display: none;
}

details.menu-drawer-container[open] summary span svg:last-child {
  display: inline;
}

a:hover {
  opacity: 0.6;
}

.w-16 svg {
  width: 1.6rem;
  height: 1.6rem;
}

.SectionGrid {
  display: none;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.desktopflex {
  display: none !important;
}

.desktopgrid {
  display: none !important;
}

.ndesktop {
  display: block !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.jc-spb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.shrink {
  flex-shrink: 1;
}

.mx-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-7 {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.p-6 {
  padding: 2rem;
}

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-7 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.w-100p {
  width: 100%;
}

.h-80 {
  height: 80px;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.l-0 {
  left: 0;
}

.t-80 {
  top: 80px;
}

.z-10000 {
  z-index: 10000;
}

.ff-heading {
  font-family: var(--font-heading-family);
}

.fs-3 {
  font-size: 20px;
}

.fw-400 {
  font-weight: 400;
}

.nodec {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.bgcol-bg {
  background-color: var(--color-background);
}

.bgcol-bgi {
  background-color: var(--color-background) !important;
  opacity: 1 !important;
}

.bgcol-inh {
  background-color: inherit !important;
}

.col-fg {
  color: var(--color-foreground);
}

.shadow {
  box-shadow: 0px 2px 24px #00000017;
}

.shadow-mobmenu {
  box-shadow: inset 0px 3px 12px -9px rgba(0, 0, 0, 3);
}

.sticky {
  transition: box-shadow 300ms ease-out 0s;
  -moz-transition: box-shadow 300ms ease-out 0s;
  -webkit-transition: box-shadow 300ms ease-out 0s;
  -o-transition: box-shadow 300ms ease-out 0s;
}

.tor-top {
  transform-origin: top;
}

.trans-lin {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.bdt-link {
  border-top: 1px #bbb solid;
}

.mh-full {
  max-height: 100vh;
}

.mh-0 {
  max-height: 0;
}

.ofh {
  overflow: hidden;
}

.nobullets {
  list-style: none;
}

.li-outside {
  list-style-position: outside;
}

button {
  border: none;
}

button:active {
  outline: none;
}

@media screen and (min-width: 990px) {
  .SectionGrid {
    display: grid !important;
  }
  .desktopflex {
    display: flex !important;
  }
  .desktopgrid {
    display: grid !important;
  }
  .ndesktop {
    display: none !important;
  }
}
