.sg-submit {
  font-family: var(--font-body-family);
  font-size: 9.54px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8.49px;
  padding-bottom: 6.49px;
  padding-left: 10.71px;
  padding-right: 10.71px;
  margin-top: 16px;
  margin-right: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

.sg-submit:hover,
.sg-submit:active,
.sg-submit:focus {
  opacity: 0.6;
}

.sg-submit svg {
  height: 13.356px;
}

.sg-button {
  font-family: var(--font-body-family);
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.sg-button:hover,
.sg-button:active,
.sg-button:focus {
  opacity: 0.6;
}

.sg-image {
  width: calc(45vw - 8px);
  height: calc(45vw - 8px);
}

.sg-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.sg-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.sg-left {
  text-align: left;
}

.sg-center {
  text-align: center;
}

.sg-mb-0 {
  margin-bottom: 0;
}

.sg-mb-1 {
  margin-bottom: 2px;
}

.sg-mb-2 {
  margin-bottom: 4px;
}

.sg-mb-5 {
  margin-bottom: 16px;
}

.sg-ml-0 {
  margin-left: 0;
}

.sg-ml-2 {
  margin-left: 4px;
}

.sg-mr-3 {
  margin-right: 8px;
}

.sg-mt-0 {
  margin-top: 0;
}

.sg-mt-5 {
  margin-top: 16px;
}

.sg-mt-6 {
  margin-top: 20px;
}

.sg-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.sg-pb-5 {
  padding-bottom: 16px;
}

.sg-pb-7 {
  padding-bottom: 24px;
}

.sg-pt-10 {
  padding-top: 48px;
}

.sg-px-0 {
  padding-left: 0;
  padding-right: 0;
}

.sg-px-0:first-of-type {
  padding-left: 0;
}

.sg-px-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.sg-px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.sg-px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.sg-py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.sg-py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.sg-w-100p {
  width: 100%;
}

.sg-w-300px {
  width: 300px;
}

.sg-h-lg-auto {
  height: calc(25vw - 19.5px);
  max-height: 293.5px;
}

.sg-h-md-auto {
  height: calc(50vw - 28px);
  max-height: 300px;
}

.sg-h-300px {
  height: 300px;
}

.sg-mnw-300px {
  min-width: 300px;
}

.sg-flex {
  display: flex;
}

.sg-row {
  flex-direction: row;
}

.sg-column {
  flex-direction: column;
}

.sg-jc-c {
  justify-content: center;
}

.sg-ai-c {
  align-items: center;
}

.sg-grid {
  display: grid;
}

.sg-1col {
  grid-template-columns: 1fr;
}

.sg-2col {
  grid-template-columns: 1fr 1fr;
}

.sg-4col {
  grid-template-columns: repeat(4, 1fr);
}

.sg-1row {
  grid-template-rows: 1fr;
}

.sg-cgap-3 {
  grid-column-gap: 8px;
}

.sg-rgap-5 {
  grid-row-gap: 16px;
}

.sg-gap-4 {
  gap: 12px;
}

.sg-pos-abs {
  position: absolute;
}

.sg-l-0 {
  left: 0;
}

.sg-t-10px {
  top: 10px;
}

.sg-pos-rel {
  position: relative;
}

.sg-mxw-300px {
  max-width: 300px;
}

.sg-ff-body {
  font-family: var(--font-body-family);
}

.sg-ff-heading {
  font-family: var(--font-heading-family);
}

.sg-fs-11px {
  font-size: 11px;
}

.sg-fs-12px {
  font-size: 12px;
}

.sg-fs-1 {
  font-size: 16px;
}

.sg-fs-3 {
  font-size: 20px;
}

.sg-fs-7 {
  font-size: 28px;
}

.sg-fs-87p {
  font-size: 0.875em;
}

.sg-lh-100 {
  line-height: 1;
}

.sg-lh-130 {
  line-height: 1.3;
}

.sg-lh-145 {
  line-height: 1.45;
}

.sg-lh-30px {
  line-height: 30px;
}

.sg-fw-300 {
  font-weight: 300;
}

.sg-fw-400 {
  font-weight: 400;
}

.sg-fw-500 {
  font-weight: 500;
}

.sg-ls-m050 {
  letter-spacing: -0.5px;
}

.sg-ls-m100 {
  letter-spacing: -1px;
}

.sg-ls-m124 {
  letter-spacing: -1.24px;
}

.sg-td-lt {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.1em;
}

.sg-square-outer:before {
  content: "";
  float: left;
  padding-top: "100%";
}

.sg-square-inner {
  float: left;
}

.sg-bgcol-fg {
  background-color: var(--color-foreground);
}

.sg-col-bg {
  color: var(--color-background);
}

.sg-contain {
  object-fit: contain;
}

.sg-ta-c {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .sg-mobile {
    display: none;
  }
  .sg-tablet {
    display: block;
  }
  .sg-image {
    width: calc(33vw - 22.5px);
    height: calc(33vw - 22.5px);
  }
  .sg-md-3col {
    grid-template-columns: repeat(3, 1fr);
  }
  .sg-cgap-md-7 {
    grid-column-gap: 24px;
  }
  .sg-pb-md-8 {
    padding-bottom: 32px;
  }
  .sg-pt-md-13 {
    padding-top: 72px;
  }
  .sg-px-md-5 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sg-py-md-11 {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .sg-mnw-md-210px {
    min-width: 210px;
  }
  .sg-fs-md-12px {
    font-size: 12px;
  }
  .sg-fs-md-6 {
    font-size: 26px;
  }
  .sg-lh-md-114 {
    line-height: 1.14;
  }
  .sg-lh-md-123 {
    line-height: 1.23;
  }
  .sg-lh-md-136 {
    line-height: 1.36;
  }
  .sg-ls-md-m067 {
    letter-spacing: -0.67px;
  }
  .sg-ls-md-unset {
    letter-spacing: unset;
  }
  .submit {
    line-height: 1.288;
    letter-spacing: 0.67px;
    padding-top: 12.7516px;
    padding-bottom: 10.7516px;
    padding-left: 14.0017px;
    padding-right: 14.0017px;
  }
  .button {
    line-height: 1.288;
    letter-spacing: 0.67px;
  }
}

@media screen and (min-width: 990px) {
  .sg-tablet {
    display: none;
  }
  .sg-desktop {
    display: block;
  }
  .sg-SectionGrid {
    display: grid;
  }
  .sg-image {
    width: calc(25vw - 30px);
    height: calc(25vw - 30px);
    max-width: 300px;
    max-height: 300px;
  }
  .sg-lg-4col {
    grid-template-columns: repeat(4, 1fr);
  }
  .sg-cgap-lg-30px {
    grid-column-gap: 30px;
  }
  .sg-mb-lg-5 {
    margin-bottom: 16px;
  }
  .sg-mx-lg-unset {
    margin-left: unset;
    margin-right: unset;
  }
  .sg-px-lg-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sg-px-lg-unset {
    padding-left: unset;
    padding-right: unset;
  }
  .sg-py-lg-13 {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .sg-mnw-lg-unset {
    min-width: unset;
  }
  .sg-mxw-lg-unset {
    max-width: unset;
  }
  .sg-t-lg-16px {
    top: 16px;
  }
  .sg-fs-lg-3 {
    font-size: 20px;
  }
  .sg-fs-lg-90p {
    font-size: 0.9em;
  }
  .sg-fs-lg-38px {
    font-size: 38px;
  }
  .sg-lh-lg-100 {
    line-height: 1;
  }
  .sg-lh-lg-110 {
    line-height: 1.1;
  }
  .sg-lh-lg-111 {
    line-height: 1.11;
  }
  .sg-lh-lg-133 {
    line-height: 1.33;
  }
  .sg-lh-lg-44px {
    line-height: 44px;
  }
  .sg-fw-lg-400 {
    font-weight: 400;
  }
  .sg-ls-lg-m098 {
    letter-spacing: -0.98px;
  }
}
