a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.inlineblock {
  display: inline-block;
}

.ndesktop {
  display: block;
}

.desktop {
  display: none;
}

.SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-spa {
  justify-content: space-around;
}

.jc-spb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.fb-30p {
  flex-basis: 30%;
}

.fb-70p {
  flex-basis: 70%;
}

.va-m {
  vertical-align: middle;
}

.ta-c {
  text-align: center;
}

.ff-body {
  font-family: var(--font-body-family);
}

.ff-heading {
  font-family: var(--font-heading-family);
}

.fs-0 {
  font-size: 14px;
}

.fs-1 {
  font-size: 16px;
}

.fs-3 {
  font-size: 20px;
}

.lh-100 {
  line-height: 1;
}

.lh-142 {
  line-height: 1.42857143;
}

.lh-26px {
  line-height: 26px;
}

.ls-16 {
  letter-spacing: 0.16px;
}

.ls-24 {
  letter-spacing: 0.24px;
}

.fw-300 {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.m-auto {
  margin: auto;
}

.mb-7 {
  margin-bottom: 24px;
}

.mr-4 {
  margin-right: 12px;
}

.mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-5 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-6 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.p-5 {
  padding: 16px;
}

.pb-12 {
  padding-bottom: 64px;
}

.pt-12 {
  padding-top: 64px;
}

.px-5 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-7 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-5 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.op-1 {
  opacity: 1;
}

.op-012 {
  opacity: 0.12;
}

.pointer {
  cursor: pointer;
}

.w-100p {
  width: 100%;
}

.mnw-220 {
  min-width: 220px;
}

.h-0 {
  height: 0;
}

.h-18 {
  height: 18px;
}

.h-28 {
  height: 28px;
}

.h-30 {
  height: 30px;
}

.h-39 {
  height: 39px;
}

.h-44 {
  height: 44px;
}

.bdw-1px {
  border-width: 1px;
}

.bds-solid {
  border-style: solid;
}

.noborder {
  border: none;
}

.nooutline {
  outline: none;
}

.noborder:active {
  border: none;
}

.nooutline:active {
  outline: none;
}

.noborder:focus {
  border: none;
}

.nooutline:focus {
  outline: none;
}

.tr-button {
  transition: all 0.1s linear;
}

.tr-button:focus {
  outline: none;
  opacity: 0.9;
}

.tr-button:active {
  opacity: 0.8;
}

.tr-button:hover {
  opacity: 0.6;
}

.nodec {
  text-decoration: none;
}

.col-fg {
  color: var(--color-foreground);
}

.contain {
  object-fit: contain;
}

@media screen and (min-width: 750px) {
  .md-row {
    flex-direction: row;
  }
  .jc-md-c {
    justify-content: center;
  }
  .w-md-100p-150 {
    width: calc(100% - 150px);
  }
  .mxw-md-450 {
    max-width: 450px;
  }
  .mr-md-5 {
    margin-right: 16px;
  }
  .mx-md-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
  .mx-md-8 {
    margin-left: 32px;
    margin-right: 32px;
  }
  .mx-md-10 {
    margin-left: 48px;
    margin-right: 48px;
  }
  .py-md-11 {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 990px) {
  .ndesktop {
    display: none;
  }
  .desktop {
    display: block;
  }
  .lg-column {
    flex-direction: column;
  }
  .lg-row {
    flex-direction: row;
  }
  .ai-lg-fs {
    align-items: flex-start;
  }
  .mxw-lg-370 {
    max-width: 370px;
  }
  .fs-lg-4 {
    font-size: 22px;
  }
  .fs-lg-6 {
    font-size: 26px;
  }
  .lh-lg-32px {
    line-height: 32px;
  }
  .ls-lg-24 {
    letter-spacing: 0.24px;
  }
  .mb-lg-3 {
    margin-bottom: 8px;
  }
  .mb-lg-4 {
    margin-bottom: 12px;
  }
  .mt-lg-3 {
    margin-top: 8px;
  }
  .mt-lg-4 {
    margin-top: 12px;
  }
  .mt-lg-10 {
    margin-top: 48px;
  }
  .mx-lg-unset {
    margin-left: unset;
    margin-right: unset;
  }
  .mx-lg-10 {
    margin-left: 48px;
    margin-right: 48px;
  }
  .pb-lg-16 {
    padding-bottom: 96px;
  }
  .px-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .w-lg-40p {
    width: 40%;
  }
  .w-lg-60p {
    width: 60%;
  }
  .h-lg-22 {
    height: 22px;
  }
  .h-lg-34 {
    height: 34px;
  }
  .h-lg-50 {
    height: 50px;
  }
  .h-lg-57 {
    height: 57px;
  }
}

@media screen and (max-width: 749px) {
  .mb-sm-3 {
    margin-bottom: 8px;
  }
  .w-sm-100p {
    width: 100%;
  }
}
