.sc-mobile {
  display: block;
}

.sc-nmobileflex {
  display: none;
}

.sc-h-0px {
  height: 0;
}

.sc-h-16px {
  height: 16px;
}

.sc-h-40px {
  height: 40px;
}

.sc-mxh-100p {
  max-height: 100%;
}

.sc-w-16px {
  width: 16px;
}

.sc-w-56px {
  width: 56px;
}

.sc-mxw-100vw {
  max-width: 100vw;
}

.sc-flex {
  display: flex;
}

.sc-column {
  flex-direction: column;
}

.sc-row {
  flex-direction: row;
}

.sc-flex1 {
  flex: 1;
}

.sc-jc-c {
  justify-content: center;
}

.sc-jc-spb {
  justify-content: space-between;
}

.sc-ai-c {
  align-items: center;
}

.sc-ai-fe {
  align-items: flex-end;
}

.sc-ai-str {
  align-items: stretch;
}

.sc-mb-2 {
  margin-bottom: 4px;
}

.sc-mb-4 {
  margin-bottom: 12px;
}

.sc-mb-5 {
  margin-bottom: 16px;
}

.sc-ml-2 {
  margin-left: 4px;
}

.sc-ml-3 {
  margin-left: 8px;
}

.sc-ml-5 {
  margin-left: 16px;
}

.sc-mr-4 {
  margin-right: 12px;
}

.sc-mr-5 {
  margin-right: 16px;
}

.sc-mt-m4px {
  margin-top: -4px;
}

.sc-mx-5 {
  margin-left: 16px;
  margin-right: 16px;
}

.sc-mx-7 {
  margin-left: 24px;
  margin-right: 24px;
}

.sc-my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sc-my-5 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.sc-pb-5 {
  padding-bottom: 16px;
}

.sc-pt-3 {
  padding-top: 8px;
}

.sc-px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.sc-ff-body {
  font-family: var(--font-body-family);
}

.sc-ff-heading {
  font-family: var(--font-heading-family);
}

.sc-fs-12px {
  font-size: 12px;
}

.sc-fs-0 {
  font-size: 14px;
}

.sc-fs-15px {
  font-size: 15px;
}

.sc-fs-2 {
  font-size: 18px;
}

.sc-fs-3 {
  font-size: 20px;
}

.sc-lh-16px {
  line-height: 16px;
}

.sc-lh-18px {
  line-height: 18px;
}

.sc-lh-26px {
  line-height: 26px;
}

.sc-lh-100 {
  line-height: 1;
}

.sc-lh-120 {
  line-height: 1.2;
}

.sc-lh-130 {
  line-height: 1.3;
}

.sc-fw-300 {
  font-weight: 300;
}

.sc-fw-400 {
  font-weight: 400;
}

.sc-fw-500 {
  font-weight: 500;
}

.sc-fw-700 {
  font-weight: 700;
}

.sc-ls-p05 {
  letter-spacing: 0.5px;
}

.sc-pos-rel {
  position: relative;
}

.sc-b-4px {
  bottom: 4px;
}

.sc-bts-solid {
  border-top-style: solid;
}

.sc-btc-dd {
  border-top-color: #ddd;
}

.sc-btw-1px {
  border-top-width: 1px;
}

.sc-of-h {
  overflow: hidden;
}

.sc-ofx-none {
  overflow-x: hidden;
}

.sc-ofy-auto {
  overflow-y: auto;
}

.sc-bg-e3fff1 {
  background-color: #e3fff1;
}

.sc-col-ff {
  color: #fff;
}

.sc-col-0A5425 {
  color: #0a5425;
}

.sc-decban {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8ZM12.03 4.97C11.9586 4.89882 11.8735 4.84277 11.7799 4.80522C11.6863 4.76766 11.5861 4.74936 11.4853 4.75141C11.3845 4.75347 11.2851 4.77583 11.1932 4.81717C11.1012 4.85851 11.0185 4.91797 10.95 4.992L7.477 9.417L5.384 7.323C5.24183 7.19052 5.05378 7.1184 4.85948 7.12183C4.66518 7.12525 4.47979 7.20397 4.34238 7.34138C4.20497 7.47879 4.12625 7.66418 4.12283 7.85848C4.1194 8.05278 4.19152 8.24083 4.324 8.383L6.97 11.03C7.04128 11.1012 7.12616 11.1572 7.21958 11.1949C7.313 11.2325 7.41305 11.2509 7.51375 11.2491C7.61444 11.2472 7.71374 11.2251 7.8057 11.184C7.89766 11.1429 7.9804 11.0837 8.049 11.01L12.041 6.02C12.1771 5.8785 12.2523 5.68928 12.2504 5.49296C12.2485 5.29664 12.1698 5.10888 12.031 4.97H12.03Z' fill='%230A5425'/%3E%3C/svg%3E");
}

.sc-contain {
  object-fit: contain;
}

@media screen and (min-width: 500px) {
  .sc-mobile {
    display: none;
  }

  .sc-nmobileflex {
    display: flex;
  }

  .sc-ml-md-7 {
    margin-left: 24px;
  }

  .sc-mr-md-5 {
    margin-right: 16px;
  }

  .sc-mt-md-m2px {
    margin-top: -2px;
  }

  .sc-mx-md-7 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .sc-mx-md-8 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .sc-my-md-5 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .sc-fs-md-0 {
    font-size: 14px;
  }

  .sc-fs-md-1 {
    font-size: 16px;
  }

  .sc-fs-md-2 {
    font-size: 18px;
  }

  .sc-fs-md-3 {
    font-size: 20px;
  }

  .sc-lh-md-26px {
    line-height: 26px;
  }

  .sc-lh-md-125 {
    line-height: 1.25;
  }

  .sc-lh-md-133 {
    line-height: 1.33;
  }
}
