.sph-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.sph-SectionGrid-Full {
  grid-column: 1 / span 5;
}

.sph-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.sph-SectionGrid-Narrow {
  grid-column: 3 / span 1;
}

.sph-h-145px {
  height: 145px;
}

.sph-h-350px {
  height: 350px;
}

.sph-h-470px {
  height: 470px;
}

.sph-h-600px {
  height: 600px;
}

.sph-w-100p {
  width: 100%;
}

.sph-w-95p {
  width: 95%;
}

.sph-w-90p {
  width: 90%;
}

.sph-ndesktopgrid {
  display: grid;
}

.sph-desktopgrid {
  display: none;
}

.sph-1col {
  grid-template-columns: 1fr;
}

.sph-5col {
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(700px, 900px) minmax(25px, 200px)
    1fr;
}

.sph-1row {
  grid-template-rows: 1fr;
}

.sph-col-1 {
  grid-column: 1 / span 1;
}

.sph-col-1-5 {
  grid-column: 1 / span 5;
}

.sph-col-2-4 {
  grid-column: 2 / span 3;
}

.sph-col-3 {
  grid-column: 3 / span 1;
}

.sph-row-1 {
  grid-row: 1 / span 1;
}

.sph-flex {
  display: flex;
}

.sph-row {
  flex-direction: row;
}

.sph-column {
  flex-direction: column;
}

.sph-jc-c {
  justify-content: center;
}

.sph-jc-fs {
  justify-content: flex-start;
}

.sph-ai-fs {
  align-items: flex-start;
}

.sph-ai-c {
  align-items: center;
}

.sph-ml-5 {
  margin-left: 16px;
}

.sph-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.sph-my-56d {
  margin-top: 56.5px;
  margin-bottom: 56.5px;
}

.sph-my-7 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.sph-my-12 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.sph-my-219px {
  margin-top: 219px;
  margin-bottom: 219px;
}

.sph-pl-0 {
  padding-left: 0;
}

.sph-pl-8 {
  padding-left: 32px;
}

.sph-py-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.sph-fs-6 {
  font-size: 26px;
}

.sph-fs-52px {
  font-size: 52px;
}

.sph-lh-32px {
  line-height: 32px;
}

.sph-lh-60px {
  line-height: 60px;
}

.sph-ls-m100 {
  letter-spacing: -1px;
}

.sph-ls-m200 {
  letter-spacing: -2px;
}

.sph-ta-l {
  text-align: left;
}

.sph-ta-c {
  text-align: center;
}

.sph-cover {
  object-fit: cover;
}

.sph-hyphen {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

@media screen and (min-width: 500px) {
  .sph-h-md-230px {
    height: 230px;
  }

  .sph-my-md-12 {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .sph-my-md-92px {
    margin-top: 92px;
    margin-bottom: 92px;
  }

  .sph-my-md-212px {
    margin-top: 212px;
    margin-bottom: 212px;
  }

  .sph-fs-md-42px {
    font-size: 42px;
  }

  .sph-lh-md-46px {
    line-height: 46px;
  }

  .sph-ls-md-m200 {
    letter-spacing: -2px;
  }
}

@media screen and (min-width: 990px) {
  .sph-SectionGrid {
    display: grid;
  }

  .sph-ndesktopgrid {
    display: none;
  }

  .sph-desktopgrid {
    display: grid;
  }

  .sph-my-lg-145px {
    margin-top: 145px;
    margin-bottom: 145px;
  }

  .sph-my-lg-270px {
    margin-top: 270px;
    margin-bottom: 270px;
  }
}
