.product_desc {
  color: var(--black);

  *:not(table, tbody, tr, td, p.empty) {
    margin-bottom: var(--spacing-base);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize !important;
  }

  p:not(.empty) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  p.empty, br {
    height: var(--spacing-base);
    display: block;
  }

 
  a {
    font-family: 'National 2';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    font-family: '"National 2 Compressed"';
    padding-bottom: var(--spacing-large);
  }

  h2 {
    font-family: 'National 2';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: var(--spacing-small);
  }

  /*
  h2 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }*/
  h3 {
    font-family: 'National 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: var(--spacing-small);
  }

  h4,
  h5,
  h6 {
    padding-bottom: var(--spacing-small);
    font-family: 'National 2';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .specification {
    font-family: 'National 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  blockquote {
    margin: var(--spacing-large) 0 var(--spacing-huge);
    padding: 0;
    border-left: 1px solid var(--sky);
    padding-left: var(--spacing-base);
    color: var(--sky);

    * {
      margin-bottom: 0;
      padding-bottom: 0;
      font-family: 'National 2';
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  /* strong {
    font-weight: inherit !important;
  } */

  img,
  video {
    margin-bottom: var(--spacing-base);
  }

  ol,
  ul,
  menu {
    list-style: revert !important;
    /* margin: revert !important; */
    padding: revert !important;
  }

  /* br {
    content: '';
    display: block;
    height: var(--spacing-mega);
  } */

  table {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.4rem;
    border-style: hidden;
    border-top: 1px solid var(--grey-100);
    width: 100% !important;
    height: auto !important;

    tbody {
      display: block;
    }

    tr {
      border-bottom: 1px solid var(--grey-100);
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      height: auto !important;
      padding-top: 13px;
      padding-bottom: 12px;

      /* @media (max-width: 800px) {
        td:first-of-type {
          width: 40% !important;
        }
      } */

      td {
        color: var(--black);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: unset !important;
        height: auto !important;
        flex-basis: 50%;
      }

      td:last-of-type {
        text-align: right;
      }
    }
  }
}
