/* Clean CSS build  */

:root {
  /* Color variables */
  --white: #ffffff;
  --black: #000000;
  --grey-50: #f3f3f3;
  --grey-100: #e5e5e5;
  --grey-300: #d1d1d1;
  --grey-500: #767676;
  --grey-700: #333333;
  --grey-900: #000000;
  --deep-purple: #311b92;
  --sky: #003dff;
  --teal: #18ffff;
  --pink: #ff65e7;
  --lime: #c6ff00;
  --green: #0aa122;
  --red: #f30f0f;

  /* Spacing variables */

  --space-micro: 2px;
  --space-mini: 4px;
  --space-small: 8px;
  --space-base: 16px;
  --space-large: 24px;
  --space-huge: 48px;
  --space-mega: 80px;
}

@media screen and (max-width: 600px) {
  .animate-announcement-text {
    display: inline-block;
    white-space: nowrap;
    /* animation: scroll-text 30s linear infinite; */
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.size_selector:checked + label {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.size_selector:checked + label:hover {
  border-radius: var(--space-mini);
  border-color: var(--black);
  background: linear-gradient(0deg, #ffffff33 0%, #ffffff33 100%), var(--black);
}

.size_selector:disabled + label {
  color: var(--grey-500);
  cursor: not-allowed;
}

.hide_radio {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.splide__pagination__page {
  background: var(--grey-300);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
}

.splide__pagination__page.is-active {
  background: var(--black);
  z-index: 1;
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus-visible, .splide.is-focus-in .splide__pagination__page:focus , .splide.is-focus-in .splide__pagination__page:focus {
  outline: 1px solid var(--black);
  outline-offset: 1px;
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}