.facets__disclosure-vertical[open] .facets__display-vertical {
  animation: animateMenuOpen var(--duration-default) ease;
}

.facets__disclosure-vertical .facets__and-helptext {
  display: none;
}

.facets__disclosure-vertical[open] .facets__and-helptext {
  display: block;
}

select[name='sort_by'].open .icon-caret,
.facets__disclosure-vertical[open] .facets__summary .icon-caret {
  transition: all 250ms ease-in-out;
  transform: rotate(180deg);
}

.facets__disclosure fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.facets__disclosure[open] .facets__display,
.facets__disclosure-vertical[open] .facets__display-vertical {
  animation: animateMenuOpen var(--duration-default) ease;
}

.facets__summary span {
  transition: text-decoration var(--duration-short) ease;
}

.facets__disclosure .facets__and-helptext,
.facets__disclosure-vertical .facets__and-helptext {
  display: none;
}

.facets__disclosure[open] .facets__and-helptext,
.facets__disclosure-vertical[open] .facets__and-helptext {
  display: block;
}

.disclosure-has-popup[open] > .facets__summary::before {
  z-index: 2;
}



.facets__summary > span {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.facets__summary .icon-caret {
  right: 0;
}

.list-menu__item label,
.list-menu__item input[type='checkbox'] {
  cursor: pointer;
}

.facets__label:hover,
.facets__label.active,
.facets__label:has(:focus-visible) {
  color: rgba(var(--color-foreground), 1);
}

.facets-layout-list--text input[type='checkbox'] {
  /* position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: -0.4rem;
  z-index: -1; */
  appearance: none;
  -webkit-appearance: none;
}

/* .facets-layout-grid input[type='checkbox'],
.facets-layout-list--swatch input[type='checkbox'] {
  position: absolute;
  inset: 0;
  z-index: 1;
  margin: 0;
  opacity: 0;
}

.facets-layout-list--swatch .facets__label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
} */

#ProductCountDesktop.loading,
#ProductCount.loading {
  visibility: hidden;
}
#PaginationCount.loading,
#PaginationCount.loading {
  visibility: hidden;
}

.facets-layout .facets__label.disabled {
  pointer-events: none;
}

.facets-layout:not(.facets-layout-list--swatch, .facets-layout-grid--image) .facets__label.disabled {
  opacity: 0.4;
}

.facet-checkbox {
  word-break: break-word;
  position: relative;
}

/* .facets-layout-list--text input[type='checkbox'] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: -0.4rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
} */



.mobile-facets__disclosure {
  display: flex;
}

.mobile-facets__inner {
  background-color: var(--white);
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  pointer-events: all;
  transform: translateX(105vw);
  display: flex;
  flex-direction: column;
  transition: transform 250ms ease-in-out;
  filter: drop-shadow(
    var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
      rgba(var(--color-shadow), var(--drawer-shadow-opacity))
  );
}

.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: transparent;
  visibility: hidden;
  transition: all 100ms ease-in-out;
}


.js .menu-opening .mobile-facets {
  visibility: visible;
  background: #00000080;
}

.js .menu-opening .mobile-facets__inner {
  transform: translateX(0);
}

.mobile-facets__wrapper .disclosure-has-popup:not(.menu-opening) > summary::before {
  /* height: 100vh; */
  z-index: 3; 
}

#FacetsWrapperDesktop {
  max-height: calc(100vh - 198px);
  overflow-y: auto;
}
