/* Clean CSS build  */
@import url('./fonts.css');

body{
  transition: background-color 0.3s ease; 
  min-height: 100%;
}

:root {
  /* Color variables */
  --white: #ffffff;
  --black: #000000;
  --grey-50: #f3f3f3;
  --grey-100: #e5e5e5;
  --grey-300: #d1d1d1;
  --grey-500: #767676;
  --grey-700: #333333;
  --grey-900: #000000;
  --deep-purple: #311b92;
  --sky: #003dff;
  --teal: #18ffff;
  --pink: #ff65e7;
  --lime: #c6ff00;
  --green: #0aa122;
  --red: #f30f0f;

  /* Spacing variables */

  --spacing-micro: 2px;
  --spacing-mini: 4px;
  --spacing-small: 8px;
  --spacing-base: 16px;
  --spacing-normal: 20px;
  --spacing-large: 24px;
  --spacing-huge: 48px;
  --spacing-mega: 80px;

  --duration-short: 100ms;
  --duration-default: 250ms;
  --duration-announcement-bar: 250ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
  --duration-extra-long: 600ms;
  --duration-extra-longer: 750ms;
  --duration-extended: 3s;
  --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
  --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);

  --drawer-border-opacity: 0.1;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 4px;
  --drawer-shadow-blur-radius: 5px;

  --popup-shadow-horizontal-offset:0px
  --popup-shadow-blur-radius:5px
  --popup-shadow-vertical-offset:4px;
  --color-foreground: 18, 18, 18;
}

*:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .animate-announcement-text {
    display: inline-block;
    white-space: nowrap;
    /* animation: scroll-text 30s linear infinite; */
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.header__active-menu-item {
  transition: all 100ms ease;
  color: var(--sky);
  font-style: italic;
}

.size_selector:checked + label {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.size_selector:checked + label:hover {
  border-radius: var(--spacing-mini);
  border-color: var(--black);
  background: linear-gradient(0deg, #ffffff33 0%, #ffffff33 100%), var(--black);
}

.size_selector:disabled + label {
  color: var(--grey-500);
  cursor: not-allowed;
}

.hide_input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0px;
  width: 0px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

summary::-webkit-details-marker {
  display: none !important;
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary::marker {
  display: none;
}

.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(255,255,255) inset !important;
  -webkit-box-shadow: 0 0 0 10rem rgb(255,255,255) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.header__icon--menu .icon {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}

details:not([open]) > .header__icon--menu .close-icon,
details[open] > .header__icon--menu .menu-icon {
  display: none;
  opacity: 0;
  transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .close-icon {
  display: none;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .menu-icon {
  display: flex;
  opacity: 1;
  transform: scale(1.07);
}

.js details > .header__submenu {
  opacity: 0;
  transform: translateY(-1.5rem);
}

details[open] > .header__submenu {
  animation: animateMenuOpen 250ms ease;
  animation-fill-mode: forwards;
  z-index: 1;
}

@media (prefers-reduced-motion) {
  details[open] > .header__submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes animateMenuOpen {
  0% {
    visibility: hidden;
    transform: translateY(-1.5rem);
  }

  100% {
    visibility: visible;
    transform: translateY(0);
  }
}

#shopify-section-smshr-header, #shopify-section-header {
  position: sticky;
  top: 0;
  z-index: 20;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* border-radius: 3px;
  background: url(http://dropdown/arrow/url/) no-repeat;
  background-position: right center;
  background-color: #cccccc;
  color: #000000;
  border: 1px solid #000000; */
}


/* .disclosure-has-popup.menu-opening > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
} */

.header__icon--menu[aria-expanded='true']::before {
  content: '';
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
  position: absolute;
  background: #00000080;
}

.full-width{
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .animate--ambient > img,
  .animate--ambient > svg {
    animation: animateAmbient 30s linear infinite;
  }

  @keyframes animateAmbient {
    0% {
      transform: rotate(0deg) translateX(1em) rotate(0deg) scale(1.2);
    }
    100% {
      transform: rotate(360deg) translateX(1em) rotate(-360deg) scale(1.2);
    }
  }

  .scroll-trigger.animate--fade-in,
  .scroll-trigger.animate--slide-in {
    opacity: 0.01;
  }

  .scroll-trigger.animate--slide-in {
    transform: translateY(2rem);
  }

  .scroll-trigger:not(.scroll-trigger--offscreen).animate--fade-in {
    opacity: 1;
    animation: var(--animation-fade-in);
  }

  .scroll-trigger:not(.scroll-trigger--offscreen).animate--slide-in {
    animation: var(--animation-slide-in);
    animation-delay: calc(var(--animation-order) * 75ms);
  }

  .scroll-trigger.scroll-trigger--design-mode.animate--fade-in,
  .scroll-trigger.scroll-trigger--design-mode.animate--slide-in,
  .scroll-trigger.scroll-trigger--design-mode .slider,
  .scroll-trigger:not(.scroll-trigger--offscreen).scroll-trigger--cancel {
    opacity: 1;
    animation: none;
    transition: none;
  }

  .scroll-trigger.scroll-trigger--design-mode.animate--slide-in {
    transform: translateY(0);
  }

  @keyframes slideIn {
    from {
      transform: translateY(2rem);
      opacity: 0.01;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0.01;
    }
    to {
      opacity: 1;
    }
  }
}


.carousel-base{
  max-width: 1080px;
  margin: 80px auto;
}

.carousel-heading{
  margin-bottom: var(--spacing-base);
  margin-left:  var(--spacing-base);
  margin-right:  var(--spacing-base);
}

.carousel-list{
  margin-left: var(--spacing-base);
}

@media (min-width: 1280px) {
  .carousel-heading {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 1536px) {
  .carousel-base {
    max-width: 1400px;
  }
}

.smshr-section{
  padding: 0 var(--spacing-base);
  margin: 80px auto
}

@media (min-width: 1280px) {
  .smshr-section {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1080px;
  }
}

@media (min-width: 1800px) {
  .smshr-section {
    max-width: 1400px;
  }
}

[hidden] {
  display: none !important;
}

button.smshrs-btn.loading{
  background-color: var(--grey-300);
  color: var(--grey500)
}


div.cart-count-bubble:not(.active){
  display: none;
}


.product-card{
  transition: all 150ms ease-in-out;
}

#collection-list{
  width: 100%;
  max-width: 960px;
  margin: 0 auto var(--spacing-mega);
}
#page-template{
  margin-top: var(--spacing-mega);
}

.shopify-challenge__container{
  padding: 80px 0;
  height: 100vh;
}

.shopify-challenge__message{
  margin-bottom: 40px;
}


.select {
    display: flex;
    position: relative;
    width: 100%;
}

.select:before, .customer .field:before, .customer select:before, .localization-form__select:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    z-index: -1;
}

.customer select+svg {
    height: 6px;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 2px);
    right: 16px
}

.customer select {
    cursor: pointer;
    padding: 0 30px 0 20px;
    margin: 1px;
    min-height: 2px;
}

.customer select {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(255,255,255);
    color: rgb(18,18,18);
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 250ms ease;
    border-radius: 4px;
    height: 48px;
    min-height: 2px;
    min-width: 72px;
    position: relative;
    border: 0;
}

.select:after, .customer .field:after, .customer select:after, .localization-form__select:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    border: .1rem solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(18,18,18, 0.55);
    transition: box-shadow 250ms ease;
    z-index: 1;
}

/* For WebKit Browsers */
::-webkit-scrollbar {
    width: 4px;  
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  
}

::-webkit-scrollbar-thumb {
    background: #888;  
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
    background: #555;  
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

#shopify-section-main-cart-checkout{
  position: sticky;
  top: 72px;
}

.list-menu__item{
  -webkit-font-smoothing: subpixel-antialiased;
}