.product_desc {
  color: var(--black);

  *:not(table, tbody, tr, td, th, p.empty,blockquote) {
    margin-bottom: var(--spacing-base);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize !important;
    font-family: 'National 2' !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }

  p:not(.empty) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  p.empty,
  br {
    height: var(--spacing-base);
    display: block;
  }

  a {
    font-family: 'National 2';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }


  .specification {
    font-family: 'National 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  blockquote {
    margin: var(--spacing-large) 0 var(--spacing-huge);
    padding: 0;
    border-left: 1px solid var(--sky);
    padding-left: var(--spacing-base);
    color: var(--sky);

    * {
      margin-bottom: 0;
      padding-bottom: 0;
      font-family: 'National 2';
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  /* strong {
    font-weight: inherit !important;
  } */

  img,
  video {
    padding-top: var(--spacing-large);
    object-position: center;
    object-fit: contain;
  }

  ol,
  ul,
  menu {
    list-style: revert !important;
    /* margin: revert !important; */
    padding: revert !important;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.4rem;
    border-style: hidden;
    border-top: 1px solid var(--grey-100);
    width: 100% !important;
    height: auto !important;
    margin-top: 16px;

    tbody {
      display: block;
    }

    tr {
      border-bottom: 1px solid var(--grey-100);
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      height: auto !important;
      padding-top: 13px;
      padding-bottom: 12px;

      td,th {
        color: var(--black);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: unset !important;
        height: auto !important;
        flex-basis: 50%;
        text-align: left;
      }

      td:first-of-type {
        text-align: left;
      }
    }
  }
}


.input {
  height: var(--spacing-huge);
  padding: var(--spacing-base);
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--grey-100);
}

.input::placeholder {
  visibility: hidden;
}

.input ~ label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease-in-out;
}

.input:not(:placeholder-shown) ~ label,
.input:focus ~ label,
.input:-webkit-autofill ~ label {
  transform: scale(0.65);
  left: 0;
  top: -2px;
}
