.product_desc {
  p {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

  /* h1 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  h2 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }*/
  h3 {
    /* titleLarge */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: var(--spacing-base);
  }

  h4 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: var(--spacing-base);
  }

  /* h5 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h6 {
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } */

  img,
  video {
    margin-bottom: var(--spacing-base);
  }

  br {
    content: '';
    display: block;
    height: var(--spacing-mega)
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.4rem;
    border-style: hidden;
    border-top: 1px solid var(--grey-100);
    border-bottom: 1px solid var(--grey-100);

    tbody {
      display: block;
    }

    tr {
      border-bottom: 1px solid var(--grey-100);
      display: flex;
      justify-content: space-between;
      width: 100%;

      /* @media (max-width: 800px) {
        td:first-of-type {
          width: 40% !important;
        }
      } */
    }

    td {
      padding: 14px 0;
      color: var(--black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
      width: unset !important;
      flex-basis: 50%;
    }
  }
}
