/* Clean CSS build  */
@import url('./fonts.css');

/* body{
  font-family: 'National 2';
} */

:root {
  /* Color variables */
  --white: #ffffff;
  --black: #000000;
  --grey-50: #f3f3f3;
  --grey-100: #e5e5e5;
  --grey-300: #d1d1d1;
  --grey-500: #767676;
  --grey-700: #333333;
  --grey-900: #000000;
  --deep-purple: #311b92;
  --sky: #003dff;
  --teal: #18ffff;
  --pink: #ff65e7;
  --lime: #c6ff00;
  --green: #0aa122;
  --red: #f30f0f;

  /* Spacing variables */

  --spacing-micro: 2px;
  --spacing-mini: 4px;
  --spacing-small: 8px;
  --spacing-base: 16px;
  --spacing-large: 24px;
  --spacing-huge: 48px;
  --spacing-mega: 80px;


  --duration-short: 100ms;
  --duration-default: 250ms;
  --duration-announcement-bar: 250ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
  --duration-extra-long: 600ms;
  --duration-extra-longer: 750ms;
  --duration-extended: 3s;
  --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow) forwards;
  --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}

*:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .animate-announcement-text {
    display: inline-block;
    white-space: nowrap;
    /* animation: scroll-text 30s linear infinite; */
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.size_selector:checked + label {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.size_selector:checked + label:hover {
  border-radius: var(--spacing-mini);
  border-color: var(--black);
  background: linear-gradient(0deg, #ffffff33 0%, #ffffff33 100%), var(--black);
}

.size_selector:disabled + label {
  color: var(--grey-500);
  cursor: not-allowed;
}

.hide_radio {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}



summary::-webkit-details-marker {
  display: none !important;
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary::marker {
  display: none ;
}

.quantity__button:not(:focus-visible):not(.focused),
.quantity__input:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
  -webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__input[type='number'] {
  -moz-appearance: textfield;
} 


.header__icon--menu .icon {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}

details:not([open]) > .header__icon--menu .close-icon,
details[open] > .header__icon--menu .menu-icon {
  display: none;
  opacity: 0;
  transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .close-icon {
  display: none
}

.js details[open]:not(.menu-opening) > .header__icon--menu .menu-icon {
  display: flex;
  opacity: 1;
  transform: scale(1.07);
}

.js details > .header__submenu {
  opacity: 0;
  transform: translateY(-1.5rem);
}

details[open] > .header__submenu {
  animation: animateMenuOpen 250ms ease;
  animation-fill-mode: forwards;
  z-index: 1;
}

@media (prefers-reduced-motion) {
  details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


#shopify-section-smshr-header{
  position: sticky;
  top: 0;
}