.index-section{
  margin:60px 0;
}

.section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header__title {
    margin-bottom: 0;
}

@media only screen and (min-width:769px){

.section-header{
    margin-bottom:60px
}
  
  .section-header__title{
  	font-size: 46px;
  }
  }