.index-section{
  margin:60px 0;
}

.social-section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header__title {
    margin-bottom: 0;
}

.section-header__description {
    max-width: 700px;
    margin: 0 auto;
}

.social-section-header .rte a{
	color: #000;
}

.section-header__title+.section-header__description {
    margin-top: 10px;
}

@media only screen and (min-width:769px){

.social-section-header{
    margin-bottom:60px
}
  
  .section-header__title{
  	font-size: 46px;
  }
  
  .section-header__description--large {
    font-size: calc(20px*1.22);
}
  }

.overflow-scroll-wrap{
  position:relative;
  overflow:hidden;
}

.overflow-scroller{
  position:relative;
  overflow:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
  padding-bottom:20px;
  direction:ltr
}

.overflow-scroller .grid{
    white-space:nowrap;
    display:flex
      flex-wrap: nowrap;
  }

.overflow-scroller .grid:after{
      width:1px;
      height:1px;
      padding-left:1px;
    }

.overflow-scroller .grid__item{
    display:inline-block;
    float:none;
    white-space:normal;
    width:63%;
    flex:0 0 63%;
    overflow:hidden
  }

.overflow-scroller .grid__item:first-child{
      margin-left:30px;
    }

.overflow-scroller .grid__item:last-child{
      margin-right:30px;
    }

@media only screen and (min-width:769px){

  .overflow-scroller .grid__item{
    width:21%;
    flex:0 0 21%
  }

  .overflow-scroller .grid__item:first-child{
    margin-left:80px;
  }

  .overflow-scroller .grid__item:last-child{
    margin-right:80px;
  }
}

.overflow-scroller .grid-product--medium{
    width:53%;
    flex:0 0 53%
  }

@media only screen and (min-width:769px){

.overflow-scroller .grid-product--medium{
      width:21%;
      flex:0 0 21%
  }
    }

.overflow-scroller .grid-product--large{
    width:37%;
    flex:0 0 37%
  }

@media only screen and (min-width:769px){

.overflow-scroller .grid-product--large{
      width:17%;
      flex:0 0 17%
  }
    }

.overflow-scroller .grid-product__content{
    margin-bottom:0;
  }

@media only screen and (min-width:769px){
  [data-center-grid] .overflow-scroller .grid{
    justify-content:center;
  }
}

.overflow-scroller__arrow{
  position:absolute;
  top:50%;
  margin-top:-80px;
  width:60px;
  height:60px;
  z-index:3;
  transition:transform 0.1s;
  padding:10px;
  border-radius:100%;
  min-width:0
}

.overflow-scroll-wrap:hover .overflow-scroller__arrow{
    transition-duration:0.25s
}

.overflow-scroller__arrow[hidden]{
    display:none;
  }

[data-button_style=shadow] .overflow-scroll-wrap .overflow-scroller__arrow{
  transform:translate(4px, 4px) !important;
  transition:none;
}

.overflow-scroller__arrow--left{
  left:10px;
  transform:translateX(-80px)
}

.overflow-scroller__arrow--left .icon{
    position:relative;
    top:-1px;
    right:4px
  }

[data-button_style=shadow] .overflow-scroller__arrow--left .icon{
      right:5px
  }

.overflow-scroller__arrow--right{
  right:10px;
  transform:translateX(80px)
}

.overflow-scroller__arrow--right .icon {
    position: relative;
    top: -1px;
    left: -3px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

[data-button_style=shadow] .overflow-scroller__arrow--right .icon{
      left:-2px
  }

.overflow-scroll-wrap:hover .overflow-scroller__arrow--left:not([class*="--disable-left"]),.overflow-scroll-wrap:hover .overflow-scroller__arrow--right:not([class*="--disable-right"]){
    transform:translateX(0);
  }

.social-section__wrapper{
  background:#fff;
  color:#000;
  border:1px solid;
  border-color:rgba(0, 0, 0, 0.1);
}

.social-section__wrapper a{
    display:block;
  }

.social-section__wrapper .placeholder-svg{
    padding:0;
  }

.social-section__image{
  padding-bottom:100%;
  background-size:cover;
  background-repeat:no-repeat;
}

.social-section__meta{
  padding:9px;
  font-size:12px;
  font-weight:400;
  font-family:sans-serif;
  line-height:1.4
}

@media only screen and (min-width:769px){

.social-section__meta{
    font-size:13px;
    padding:14px
}
  }

.social-section__caption p{
    display:inline;
  }

.social-section__likes+.social-section__caption{
    margin-top:10px
}

.social-section__likes{
  display:flex;
  align-items:center
}

.social-section__likes:before{
    content:"";
    display:inline-block;
    height:24px;
    width:24px;
    margin-right:10px;
    background-repeat:no-repeat;
    background-size:24px;
    background-image:url(data:image/gif;base64,R0lGODlhJgAmAPcAAO9GUv/8/P/+/v/9/e9HUfBIU//7++9GUfSEjPN5gveepPFeavecovBNWP719u9IU/329vnAxPm/xPBIUvvU1vrU2O9UX/WCi/BGUfzv8fWPlf3y8vBMWfqzuPWOlPmprfmvtfqwtvivtO9LVfNsdfFcZe9IUv309PJpcfFpcfWKk/JqdPvEyPJga/Jia/FOWPeepfVwefRye/3o6f/z9f3z9f719fN4gPNjbfzo6fvX2fJlbvFWYPrR1PaLlPJwevFRXPz0+PzU2P+6wO9MWe5GUfyur/eqsPJZYvR5gPmxtvqvtfvU1/3k5PaWnfX09fJvePimrPJsdvWSm/FSXfJqcvvQ0vmorv3u7viorfaRmPWVmvvd3/u4u//9/vrs8fJmb/m+wf3q7PejqPm8wPnFyPnCx/BKV/BLV+9PWPBRXPBQWe9PWe9LVvFcZvaKk+5KVvBdZvvU2PWDivFaZP3y8/R6g/m+w+9RXP/Q0/bv7/ve4PacovJrdfFeafFaZfFWYfro7vWEjf7s7Pvj5PBLVPFha/uvsu5HUfz2+fn5+fWMk/R0ff3f4vaNlfqjqf7u7/JXYv76+vBVYPrb3v/6+vebofNmcPq8wPnHyvifpfrAxPzh4/BGU//7/P3v8f3t7v3j5f349/R7gvrFyf319fvO0vNrdfzl5/i0ufzW2fJZZPvKzvBXYvaYoP3l6fBQWvzd3/aKkvR/hvemrfakqvBPWvFfaveaof7j5f7x8fBZZPaRl/WOlvFncfN0fPaTm//5+v739/vT1fWFjPmtsv3p6fN3gfBPW/JncPrIy/q6v+9RXfBHUvBHU+9HUv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3MzI1OThFNUFCQ0QxMUU5QUY3NDhFMDFCODlFN0ZDMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3MzI1OThFNkFCQ0QxMUU5QUY3NDhFMDFCODlFN0ZDMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjczMjU5OEUzQUJDRDExRTlBRjc0OEUwMUI4OUU3RkMzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjczMjU5OEU0QUJDRDExRTlBRjc0OEUwMUI4OUU3RkMzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAACYAJgAACP8AoQkcSLCgwYMIEypcyHCggBllskxZ1MuViDx6DDpgkoqBBhVaxkjgFCAhBBYefOFx1qxZIUBQGOgoKbBRrWN/0Dh7VsCWIQTLPh3cAAKFiWfOkiJF+uKGGU/QehAD8qxqs6Qtny1QkEMAQQhHkFgFUFUpy2cpSMlJMKHlTqVVATRjswXUwAERVj1zW7Wv250/Eowou3NvX8MNPiQSSOhUy2Z7syKFTPnBg8N7z1I2XGKYgAFXNi+FvLT02beQNZ817KNUhipLUcd+azU15qSFD1vYwwrOW81XC2fN3Xd1WcJVOzgZbdUsccksJafOjfXNJcO4d161GpswacpwU1//jcGhdOnH25OSJcsSq3ay01u6SJP772HJpjMjhVu8Ko4+cnVXXHDm1dbeZIedJQMMkR0nHHLQAaAdbf1VxYsQazxDVoMFPoiVYSDaZhUZNCSxF3uZBYdbfto9Rttmt6DixR1ErIbbY4bhmCB7xu2FwSOKQKMLAgekR1t70O23Ym3HSZGLQAJQkMxxtYkIImqy7SRXKxIMMFAAYcThl5a2oZdZi/w1w0wUDhQkyhJ0NLffmNHd5t4zyPAByUEnFOMGd9ohJ6df21GBixgJ1aDEAhPmiCSCz02iwCALBdEFGEX2hx9mhu1CCxYNVRIBCZ08eBVpkRXmjB8h1NGQQAYoeMMIAXXG15dcBOwwxBOvfmmFHQVklR5mRaywSTC9EjRABXO0gSN8kyHySyYGJGtQLLI0EBmqzRQwiik0WVtQE8Co4VdVZ1ygilfiHmSMJpEcBosjlLSr0BdGtEDAMzxY8oq9C9mAiSCzHBIIwAxJEgoXwiDssEIBAQA7);
  }

.instagram-image{
  display:block;
  height:0;
  padding-bottom:100%;
  background-size:cover;
  background-repeat:no-repeat;
}

.instagram-image--error{
  height:auto;
  padding:10px;
  font-size:13px;
  text-align:center;
  color:#d02e2e
}

.instagram-image--error small{
    word-break:break-word;
    display:block;
    font-size:10px;
  }

.instagram__product-title{
  font-size:calc(var(--typeBaseSize)*0.85 - 1.7px)
}

@media only screen and (min-width:769px){

.instagram__product-title{
    font-size:calc(var(--typeBaseSize) - 2px)
}
  }

.instagram__product-title{
  font-style:italic;
  text-align:center;
  padding:5px
}

.instagram__product-title a{
    display:inline;
  }

.store-availability{
  display:flex;
  justify-content:space-around
}

.store-availability .icon{
    margin:6px 0 0;
    width:12px;
    height:12px;
  }

.store-availability .icon-in-stock{
    fill:#56ad6a;
  }

.store-availability .icon-out-of-stock{
    fill:#d02e2e;
  }

.store-availability+.store-availability{
    margin-top:20px;
  }

.store-availability__info{
  flex:0 1 90%;
  text-align:left;
  margin-left:10px
}

.store-availability__info>div{
    margin-bottom:5px
  }

.store-availability__info>div:last-child{
      margin-bottom:0;
    }

.store-availability__info a{
    text-decoration:underline;
  }

.store-availability__small{
  font-size:0.8em
}

.store-availability__small a{
    display:block;
    margin-top:10px;
  }