.index-section{
  margin:60px 0;
}

.social-section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header__title {
    margin-bottom: 0;
}

.section-header__description {
    max-width: 700px;
    margin: 0 auto;
}

.social-section-header .rte a{
	color: #000;
}

.section-header__title+.section-header__description {
    margin-top: 10px;
}

@media only screen and (min-width:769px){

.social-section-header{
    margin-bottom:60px
}
  
  .section-header__title{
  	font-size: 46px;
  }
  
  .section-header__description--large {
    font-size: calc(20px*1.22);
}
  }

.overflow-scroll-wrap{
  position:relative;
  overflow:hidden;
}

.overflow-scroller{
  position:relative;
  overflow:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
  padding-bottom:20px;
  direction:ltr
}

.overflow-scroller .grid{
    white-space:nowrap;
    display:flex
  }

.overflow-scroller .grid:after{
      width:1px;
      height:1px;
      padding-left:1px;
    }

.overflow-scroller .grid__item{
    display:inline-block;
    float:none;
    white-space:normal;
    width:63%;
    flex:0 0 63%;
    overflow:hidden
  }

.overflow-scroller .grid__item:first-child{
      margin-left:30px;
    }

.overflow-scroller .grid__item:last-child{
      margin-right:30px;
    }

@media only screen and (min-width:769px){

  .overflow-scroller .grid__item{
    width:21%;
    flex:0 0 21%
  }

  .overflow-scroller .grid__item:first-child{
    margin-left:80px;
  }

  .overflow-scroller .grid__item:last-child{
    margin-right:80px;
  }
}

.overflow-scroller .grid-product--medium{
    width:53%;
    flex:0 0 53%
  }

@media only screen and (min-width:769px){

.overflow-scroller .grid-product--medium{
      width:21%;
      flex:0 0 21%
  }
    }

.overflow-scroller .grid-product--large{
    width:37%;
    flex:0 0 37%
  }

@media only screen and (min-width:769px){

.overflow-scroller .grid-product--large{
      width:17%;
      flex:0 0 17%
  }
    }

.overflow-scroller .grid-product__content{
    margin-bottom:0;
  }

@media only screen and (min-width:769px){
  [data-center-grid] .overflow-scroller .grid{
    justify-content:center;
  }
}

.overflow-scroller__arrow{
  position:absolute;
  top:50%;
  margin-top:-80px;
  width:60px;
  height:60px;
  z-index:3;
  transition:transform 0.1s;
  padding:10px;
  border-radius:100%;
  min-width:0
}

.overflow-scroll-wrap:hover .overflow-scroller__arrow{
    transition-duration:0.25s
}

.overflow-scroller__arrow[hidden]{
    display:none;
  }

[data-button_style=shadow] .overflow-scroll-wrap .overflow-scroller__arrow{
  transform:translate(4px, 4px) !important;
  transition:none;
}

.overflow-scroller__arrow--left{
  left:10px;
  transform:translateX(-80px)
}

.overflow-scroller__arrow--left .icon{
    position:relative;
    top:-1px;
    right:4px
  }

[data-button_style=shadow] .overflow-scroller__arrow--left .icon{
      right:5px
  }

.overflow-scroller__arrow--right{
  right:10px;
  transform:translateX(80px)
}

.overflow-scroller__arrow--right .icon{
    position:relative;
    top:-1px;
    left:-3px
  }

[data-button_style=shadow] .overflow-scroller__arrow--right .icon{
      left:-2px
  }

.overflow-scroll-wrap:hover .overflow-scroller__arrow--left:not([class*="--disable-left"]),.overflow-scroll-wrap:hover .overflow-scroller__arrow--right:not([class*="--disable-right"]){
    transform:translateX(0);
  }