.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail.is-active {
  /* opacity: 1; */
  border-color: #000 !important;
}


.splide__pagination__page {
  background: var(--grey-300);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
}

.splide__pagination__page.is-active {
  background: var(--black);
  z-index: 1;
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus-visible,
.splide.is-focus-in .splide__pagination__page:focus,
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 1px solid var(--black);
  outline-offset: 1px;
}
