.stickycart {
    position: fixed;
    z-index: 20;
    padding: 2rem;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity 0.25s linear;
    opacity: 1;
    visibility: hidden;
    background: #FFF;
}
.stickyshow{
    visibility: visible;
}