.store-infomation {
  padding-top: 100px;
  padding-bottom: 100px;
  @media only screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .store-infomation-title {
    font-size: 48px;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      font-size: 30px;
      text-align: center;
    }
  }
  .store-infomation-items {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-left: 0;
    @media only screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }
}

.store-infomation-item {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    display: block;
  }
  .store-infomation-item-body {
    border-left: solid 1px #000;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    @media only screen and (max-width: 768px) {
      padding-left: 0;
      padding-bottom: 0;
      border-left: none;
      border-top: solid 1px #000;
      padding-top: 10px;
      margin-top: 10px;
    }
  }
  .store-infomation-item-name {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    width: 230px;
    padding-right: 50px;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      padding-right: 0;
    }
  }
  .store-infomation-item-description {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-all;
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  .store-infomation-item-map {
    font-size: 20px;
    font-weight: 100;
    color: #2F2F2F;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    transition: opacity .2s;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
      svg {
        width: 22px;
        height: auto;
      }
    }
    &:hover {
      opacity: .6;
    }
  }
}
