.styleguide-section {
  margin-bottom: 8rem;
}

.line-separator {
  height: 2px;
  background-color: var(--color-brand-primary);
  margin-bottom: 4rem;
}

.styleguide-color {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  margin: 0 20px 20px 0;
}

.styleguide-color p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}