a.button, a.btn.klaviyo-bis-trigger,
.button{
  background: {{ settings.btn_color }};
  color: {{ settings.btn_text_color }};
  border: 1px solid {{ settings.btn_color }};
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 44px;
  height: 40px;
  line-height: 1.2;
  vertical-align: top;
  font-family: {{ settings.nav__font.family }}, {{ settings.nav__font.fallback_families }};
  font-weight: {{ settings.button_weight }};
  font-style: {{ settings.nav__font.style }};
  font-size: {{ settings.button_font_size | append: 'px' }};
  text-transform: {{ settings.button_font_style }};
  letter-spacing: {{ settings.nav_letter_spacing | append: 'px' }};
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  -webkit-appearance: none;
          appearance: none;
}
