.btn {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: {{ global_border_radius }}px;
  padding: 9px 25px;
  font-size: 1.1333em;
  font-family: {{ base_font.family }}, {{ base_font.fallback_families }};
  line-height: 1.5;
  min-width: 100px;