.grid-section {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 40px
}

.flex-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heading-tableau {
  display: flex;
  flex-direction: column
}

.position-button {
  display:flex
}

.comparaison-tableau {
  display: flex;
  flex-direction: column;
  justify-content: center
}

@media screen and (max-width:868px) {
   .grid-section {
     display: flex;
     flex-direction: column;
     gap: 20px;
   } 
}


.content-tableau {
  display:flex;
  flex-direction: column
}

.block-tableau-comparaison {
  display: flex;
  align-items: center;
}

.item-tableau-comparaison {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.comparaison-header, .comparaison-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.comparaison-rows-body, .comparaison-rows-header, .comparaison-rows-body-active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 5px;
}

.comparaison-header h3 {
  margin: auto;
  text-align: center;
}

.comparaison-header .comparaison-rows-body:first-child {
  background: transparent;
  border: none;
}


.comparaison-grid .comparaison-rows-body:first-child {
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
  width:100%;
  padding: 0px 10px;
  line-height: normal;
}

.comparaison-grid:nth-child(2) .comparaison-rows-body:first-child {
  border-top-left-radius: 15px;
}

