.tabs__media--small {
  height: 19.4rem;
}

.tabs__media--medium {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .tabs__media--small {
    height: 31.4rem;
  }

  .tabs__media--medium {
    height: 69.5rem;
  }
}

@media screen and (max-width: 749px) {
  .tabs__grid {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 750px) {
  .tabs__grid--reverse {
    flex-direction: row-reverse;
  }
}

.color:not(.color-background-1).accordion,
.color:not(.color-background-1).tabs-wrapper {
  padding-left: 1.5rem;
}

.color:not(.color-background-1).accordion:not(:first-child) {
  margin-top: 1rem;
}

.tabs.color:not(.color-background-1),
.color:not(.color-background-1).tabs-wrapper {
  padding-bottom: 5rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .tabs.color:not(.color-background-1),
  .color:not(.color-background-1).tabs-wrapper {
    padding-top: 7rem;
    padding-bottom: 9rem;
  }
}

.caption-with-letter-spacing + h2 {
  margin-top: 1rem;
}

.tabs .accordion {
  margin-top: 0;
}

.tabs summary:hover {
  background: rgba(var(--color-foreground), 0.04);
}

.tabs summary:hover .summary__title {
  text-decoration: underline;
}
