.tabs__media--small {
  height: 19.4rem;
}

.tabs__media--medium {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .tabs__media--small {
    height: 31.4rem;
  }

  .tabs__media--medium {
    height: 69.5rem;
  }
}

@media screen and (max-width: 749px) {
  .tabs__grid {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 750px) {
  .tabs__grid--reverse {
    flex-direction: row-reverse;
  }
}
