@import "tailwindcss";

.container {
    width: 100%;
	margin: 0 auto;
	padding-inline: 10px;
    @media (width >= 640px) {
      	max-width: 640px;
    }
    @media (width >= 768px) {
      	max-width: 768px;
    }
    @media (width >= 1024px) {
      	max-width: 1024px;
    }
    @media (width >= 1280px) {
      	max-width: 1280px;
    }
    @media (width >= 1536px) {
      	max-width: 1536px;
    }
}
