
        .spb-item.type_product_scroll .grid {
            overflow: auto !important;
            display: flex !important;
            flex-wrap: nowrap !important;
            flex-direction: row;
        }
        .type_product_scroll .product-grid{display: flex !important;flex-wrap: nowrap !important;overflow: auto;scrollbar-width: none;-ms-overflow-style: none;flex-direction: row;margin-bottom: 0;}.type_product_scroll .product-grid::-webkit-scrollbar{display: none}.type_product_scroll .product-grid > .grid__item{width: 25rem;padding-right: 1rem}
        .spb-item .control-position-box{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .tpt-pscroll-1 {
            display: none;
        }
        .spb-item .control-position-box button{
        border: none;
        padding: 5px;
        margin: 5px;
        background: none;
        font-size: 2rem;
        cursor: pointer;
        height: 33px;
        line-height: 33px;
        }
        @media only screen and (min-width: 600px) {
            .tpt-pscroll-2, .tpt-pscroll-3 {
                display: none;
            }
        }
        