@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection .slider--desktop {
    scroll-padding-left: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
  }

  .collection .slider--desktop .slider__slide:first-child {
    margin-left: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
    scroll-margin-left: max(5rem, calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) / 2));
  }

  .collection .slider--desktop .slider__slide:last-child {
    margin-right: 5rem;
  }

  .collection .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) - calc(max(5rem,calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) /4))) * 3 / 4);
  }

  .collection .slider--desktop.grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) - calc(max(5rem,calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) /4))) * 2 / 3);
  }

  .collection .slider--desktop.grid--2-col-desktop .grid__item {
    width: calc(50% - var(--grid-desktop-horizontal-spacing) - calc(max(5rem,calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) /4))) / 2);
  }
}

@media screen and (min-width: 1400px) {
  .collection .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) - calc(max(5rem,calc((100vw - var(--page-width) + 10rem - var(--grid-desktop-horizontal-spacing)) /5))) * 3 / 4);
  }

  .collection .slider--desktop .slider__slide:last-child {
    margin-right: 7rem;
  }
}

.collection__view-all {
  margin-top: 2rem;
}
