.ti-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.ti-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.ti-ndesktopgrid {
  display: grid;
}

.ti-desktopgrid {
  display: none;
}

.ti-1col {
  grid-template-columns: 1fr;
}

.ti-2row {
  grid-template-rows: 1fr 1fr;
}

.ti-2row-3-7 {
  grid-template-rows: 3fr 7fr;
}

.ti-col-1 {
  grid-column: 1 / span 1;
}

.ti-row-1-2 {
  grid-row: 1 / span 2;
}

.ti-row-2 {
  grid-row: 2 / span 1;
}

.ti-w-100p {
  width: 100%;
}

.ti-w-85p {
  width: 85%;
}

.ti-w-60p {
  width: 60%;
}

.ti-w-45p {
  width: 45%;
}

.ti-w-300px {
  width: 300px;
}

.ti-w-269px {
  width: 269px;
}

.ti-w-183px {
  width: 183px;
}

.ti-h-100p {
  height: 100%;
}

.ti-mnw-300px {
  min-width: 300px;
}

.ti-mnw-400px {
  min-width: 400px;
}

.ti-mnw-415px {
  min-width: 415px;
}

.ti-mxw-320px {
  max-width: 320px;
}

.ti-mxw-506px {
  max-width: 506px;
}

.ti-mxw-675px {
  max-width: 675px;
}

.ti-mxh-550px {
  max-height: 550px;
}

.ti-mb-5 {
  margin-bottom: 16px;
}

.ti-mb-11 {
  margin-bottom: 56px;
}

.ti-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ti-pt-8 {
  padding-top: 32px;
}

.ti-z-10 {
  z-index: 10;
}

.ti-ta-c {
  text-align: center;
}

.ti-ff-body {
  font-family: var(--font-body-family);
}

.ti-ff-heading {
  font-family: var(--font-heading-family);
}

.ti-fs-4 {
  font-size: 22px;
}

.ti-fs-7 {
  font-size: 28px;
}

.ti-fs-38px {
  font-size: 38px;
}

.ti-fw-300 {
  font-weight: 300;
}

.ti-fw-400 {
  font-weight: 400;
}

.ti-fw-500 {
  font-weight: 500;
}

.ti-lh-140 {
  line-height: 1.4;
}

.ti-lh-28px {
  line-height: 28px;
}

.ti-lh-30px {
  line-height: 30px;
}

.ti-lh-44px {
  line-height: 44px;
}

.ti-ls-m124 {
  letter-spacing: -1.24px;
}

.ti-cover {
  object-fit: cover;
}

.ti-op-cc {
  object-position: center center;
}

.ti-op-ct {
  object-position: center top;
}

@media screen and (min-width: 990px) {
  .ti-SectionGrid {
    display: grid;
  }

  .ti-ndesktopgrid {
    display: none;
  }

  .ti-desktopgrid {
    display: grid;
  }
}
