.ti-SectionGrid {
  display: block;
  grid-template-columns:
    1fr minmax(25px, 200px) minmax(600px, 900px) minmax(25px, 200px)
    1fr;
}

.ti-SectionGrid-Wide {
  grid-column: 2 / span 3;
}

.ti-ndesktopgrid {
  display: grid;
}

.ti-1col {
  grid-template-columns: 1fr;
}

.ti-2row {
  grid-template-rows: 1fr 1fr;
}

.ti-col-1 {
  grid-column: 1 / span 1;
}

.ti-row-1-2 {
  grid-row: 1 / span 2;
}

.ti-row-2 {
  grid-row: 2 / span 1;
}

.ti-w-100p {
  width: 100%;
}

.ti-w-85p {
  width: 85%;
}

.ti-w-300px {
  width: 300px;
}

.ti-w-183px {
  width: 183px;
}

.ti-mnw-300px {
  min-width: 300px;
}

.ti-mxw-320px {
  max-width: 320px;
}

.ti-mb-5 {
  margin-bottom: 16px;
}

.ti-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ti-pt-8 {
  padding-top: 32px;
}

.ti-z-10 {
  z-index: 10;
}

.ti-ta-c {
  text-align: center;
}

.ti-ff-body {
  font-family: var(--font-body-family);
}

.ti-ff-heading {
  font-family: var(--font-heading-family);
}

.ti-fs-7 {
  font-size: 28px;
}

.ti-fw-400 {
  font-weight: 400;
}

.ti-fw-500 {
  font-weight: 500;
}

.ti-lh-140 {
  line-height: 1.4;
}

.ti-lh-30px {
  line-height: 30px;
}

.ti-ls-m124 {
  letter-spacing: -1.24px;
}

@media screen and (min-width: 990px) {
  .ti-SectionGrid {
    display: grid;
  }

  .ti-ndesktopgrid {
    display: none;
  }
}
