.tf-about {
    margin-top: 80px;
    padding:  0 12px;
    height: 95vh;
}

.tf-about__container {
    margin: 0 auto 4rem;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.tf-about__heading {
    text-transform: uppercase;
}

.tf-about__body {
    line-height: 1.3;
}

.tf-about__info {
    margin: 8rem auto 4rem;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.tf-about__info-title {
    text-transform: uppercase;
    margin: 0;
}

.tf-about__info-text {
    margin: 0;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .tf-about__container,
    .tf-about__info {
        grid-template-columns: 1fr;
    }
}
