/* ===== TF • Collections Feature ===== */
.tf-collection-feature { padding: 32px 12px;}

.tf-collection-feature__heading {
    text-align: center;
    margin: 0 0 60px 0;
    line-height: normal;
    font-family: 'PPRadioGrotesk', sans-serif;
}

.tf-collection-feature__grid {
    max-width: 1400px;
    margin: 2rem auto 3rem;
    padding: 0;
    display: grid;
    gap: 3rem 3rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (min-width: 750px) {
    .tf-collection-feature__grid { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}
@media (min-width: 1200px) {
    .tf-collection-feature__grid { grid-template-columns: repeat(var(--cols, 5), minmax(0, 1fr)); }
}

.tf-collection-feature__item {
    list-style: none;
}

.tf-card { display: block; color: inherit; text-decoration: none; }
.tf-card__img {
    width: 100%; height: auto;
    aspect-ratio: 3/4; object-fit: cover; background: #f4f4f4;
}
.tf-card__img--placeholder { background: #eee; }
.tf-card__meta {
    margin-top: -12px;
}
.tf-card__title { font-size: 14px; font-family: 'PPRadioGrotesk', sans-serif; line-height: 1.3; margin: .25rem 0; }
.tf-card__price { font-size: 10px; margin-top: -5px; }

.tf-collection-feature__cta { text-align: center; }
.tf-collection-feature__view-all { text-decoration: underline; color: black; }

@media screen and (max-width: 768px) {
    .tf-collection-feature__heading.font-lg {
        font-size: 3.6rem;
        margin: 0;
    }

    .tf-collection-feature__grid{
        gap: 1rem 1rem;
    }

    .tf-collection-feature__item:nth-child(5) {
        display: none;
    }

    .tf-collection-feature__view-all.font-base{
        font-size: 2rem;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .tf-collection-feature__item:nth-child(n+4) {
        display: none;
    }
}