.tf-designers {
    padding: 80px 12px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image;
}

.tf-designers__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    gap: 1.5rem;
}

.tf-designers__item {
    text-align: center;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tf-designers__image {
    width: 168px;
    height: 240px;
    object-fit: cover;
    display: block;
}

/*.tf-designers__image:hover {*/
/*    transform: scale(1.03);*/
/*}*/

.tf-designers__name {
    margin-top: 0.2rem;
    display: flex;
    width:  100%;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

/*@media screen and (max-width: 768px) {*/
/*    .tf-designers__container {*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        gap: 1.5rem;*/
/*    }*/

/*    .tf-designers__image {*/
/*        width: 100px;*/
/*        height: 150px;*/
/*    }*/
/*}*/

/* --- New styles for hover background and opacity --- */


.tf-designers.hovering .tf-designers__item {
    opacity: 0.40;
    transition: opacity 0.3s;
}

.tf-designers.hovering .tf-designers__item:hover {
    opacity: 1;
    z-index: 2;
}

