/* TF Designers */
.tf-designers {
    position: relative;
    min-height: 100vh;
}

.tf-designers__overlay {
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    inset: 0;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
}


.tf-designers__title {
    letter-spacing: 0.06em;
    color: white;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 16px;
    margin-top: 16px;
}

.tf-designers__sub {
    display: block;
    width: 80vw;
    max-width: 800px;
    line-height: normal;
    margin-top: 0;
    color: white;
}

.tf-designers__link {
    display: block;
    margin-top: 0;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .tf-designers__title.font-xl {
        font-size: 5.3rem;
    }
}
