/* TF Designers Gallery */
.tf-designer {
    min-height: 100vh;
    width:  100%;
}

.tf-hero__img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.tf-designer__overlay {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
}

.tf-designer__title {
    letter-spacing: 0.06em;
    color: white;
    mix-blend-mode: difference;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 16px;
    margin-top: 16px;
}

.tf-designer__description {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    width:  100%;
}

.tf-designer__description p{
    width: 70vw;
    max-width: 800px;
    text-align: center;
}

.tf-designer__link {
    display: block;
    margin-top: 0;
    text-decoration: none;
    color: white;
}