.tf-faq {
    padding: 80px 12px;
    display: flex;
    min-height: 100vh;
    background-color: #CFCAC6;
    flex-direction: column;
}

.tf-faq__container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.tf-faq__heading {
    margin-bottom: 2rem;
}

.tf-faq__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tf-faq__item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
}

.tf-faq__item-header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
}

.tf-faq__item-title {
    flex: 1;
}

.tf-faq__item-icon {
    font-size: 18px;
    user-select: none;
    transition: transform 0.3s ease;
}

.tf-faq__item-subtext {
    margin-left: 2rem;
    margin-top: 0;
}

.tf-faq__item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.tf-faq__item--active .tf-faq__item-body {
    max-height: 500px; /* Adjust as needed */
}

.tf-faq__item--active .tf-faq__item-icon {
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
    .tf-faq__container {
        grid-template-columns: 1fr;
    }

    .tf-faq__item {
        flex-direction: column;
    }

    .tf-faq__item-header {
        flex-wrap: wrap;
    }
}
