.tf-privacy {
    padding: 80px 12px;
    display: flex;
    min-height: 100vh;
    background-color: #CFCAC6;
    flex-direction: column;
}

.tf-privacy__container {
    margin: 0 auto 4rem;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.tf-privacy__heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.tf-privacy__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tf-privacy__item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.tf-privacy__item-number {
    flex-shrink: 0;
}

.tf-privacy__item-content {
    flex: 1;
}

.tf-privacy__item-subtext {
    margin: 2rem 0 0;
}

.tf-privacy__item-content p{
    font-family: 'PPRadioGrotesk', sans-serif !important;
    color: black;
    font-size: 2rem;
    line-height: normal;
    letter-spacing: -0.01em;
}


@media screen and (max-width: 768px) {
    .tf-privacy__container {
        grid-template-columns: 1fr;
    }

    .tf-privacy__item {
        flex-direction: column;
    }
}