.tf-shipping {
    padding: 80px 12px;
    display: flex;
    min-height: 100vh;
    background-color: #CFCAC6;
    flex-direction: column;
}

.tf-shipping__container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
}

.tf-shipping__heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.tf-shipping__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tf-shipping__item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.tf-shipping__item-number {
    flex-shrink: 0;
}

.tf-shipping__item-content {
    flex: 1;
}

.tf-shipping__item-subtext {
    margin: 1rem 0 0;
}

@media screen and (max-width: 768px) {
    .tf-shipping__container {
        grid-template-columns: 1fr;
    }

    .tf-shipping__item {
        flex-direction: column;
    }
}