.side-title-text {
    padding: 4rem 1.5rem;
    background-color: white;
}
.side-title-text__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.side-title-text__heading {
    font-weight: 400;
    text-transform: uppercase;
}
.side-title-text__body {
    white-space: pre-line;
}
.side-title-text__link {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: underline;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .side-title-text__container {
        grid-template-columns: 1fr;
    }
}