.font-xxl {
    font-size: 14rem;
    line-height: 7.875rem; /* 126pt = ~105px */
    letter-spacing: -0.035em;
}

.font-xl {
    font-size: 7rem;
    line-height: 5rem; /* middle of 66–80pt */
    letter-spacing: -0.025em;
}

.font-lg {
    font-size: 5.3rem;
    line-height: 3.25rem;
    letter-spacing: -0.025em;
}

.font-base {
    font-size: 3.6rem;
    line-height: 2.375rem;
    letter-spacing: -0.025em;
}

.font-sm {
    font-size: 2rem;
    line-height: 1.625rem;
    letter-spacing: -0.01em;
}

.font-xs {
    font-size: 1.15rem;
    line-height: 1.15rem;
    letter-spacing: 0;
}
