body {
    font-family: 'PPRadioGrotesk', sans-serif !important;
}


.font-xxl {
    font-size: 14rem;
    line-height: 7.875rem; /* 126pt = ~105px */
    letter-spacing: -0.035em;
}

.font-xl {
    font-size: 7rem;
    line-height: normal;
    letter-spacing: -0.025em;
}

.font-lg {
    font-size: 5.3rem;
    line-height: normal;
    letter-spacing: -0.025em;
}

.font-base {
    font-size: 3.6rem;
    line-height: normal;
    letter-spacing: -0.025em;
}

.font-sm {
    font-size: 2rem;
    line-height: normal;
    letter-spacing: -0.01em;
}

.font-xs {
    font-size: 1.15rem;
    line-height: normal;
    letter-spacing: 0;
}
