@font-face {
  font-family: "SofiaPro";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("./SofiaProLight.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaPro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./SofiaProRegular.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaPro";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./SofiaProMedium.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaPro";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("./SofiaProSemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "GTWalsheimPro";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("./GTWalsheimPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: "GTWalsheimPro";
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src: url("./GTWalsheimPro-LightOblique.woff2") format("woff2");
}

@font-face {
  font-family: "GTWalsheimPro";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./GTWalsheimPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GTWalsheimPro";
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url("./GTWalsheimPro-RegularOblique.woff2") format("woff2");
}

@font-face {
  font-family: "GTWalsheimPro";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./GTWalsheimPro-Medium.woff2") format("woff2");
}

:root {
  --font-body-family: GTWalsheimPro;
  --font-heading-family: SofiaPro;
}
