.blend-container {
  max-width: 990px;
  margin: 0 auto;
  position: relative;
}

.blend-container-dots {
  display: flex;
  align-items: center;
  /* max-width: 65%; */
  /* margin-left: 40px; */
}

.blend-container {
  display: flex;
  padding: 0 10px;
}

.lab-image1 img {
  width: 100%;
  height: auto;
}

p.help {
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #666666;
  line-height: 16px;
}

.upwards-content-grid {
  display: block;
  width: 100%;
}

.uisge video {
  position: absolute;
  box-shadow: inset 200px -300px 500px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8;
}

.lab-image1 {
  display: inline-block;
  width: 28vw;
  margin: 10px 0;
  max-width: 600px;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 5vw;
}

.uisge article {
  position: relative;
  padding: 40px 20px;
}

.uisge article.upwards {
  margin-top: -20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.uisge article.upwards a {
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
  transition: text-decoration-style 0.2s;
  text-underline-offset: 5px;
}

.uisge article.upwards a:hover {
  text-decoration-style: wavy;
}

.header-image {
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  color: #ffffff;
  border-radius: 0 0 40px 40px;
  box-shadow: inset 200px -300px 500px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  overflow: hidden;
  background-color: #111111;
}

/* .header-image.tight-header {
  padding: 40px 30px 10px 30px;
} */

.header-image.mid-header {
  border-radius: 40px;
  margin-top: 40px;
}

.uisge h2 {
  font-family: 'TrimPosterWebCompressed', sans-serif;
  margin: 0 0 20px 0;
  font-size: 25vw;
  line-height: 19vw;
  color: white;
  z-index: 2;
  position: relative;
    @media only screen and (min-width: 600px) {
    font-size: 20vw;
    line-height: 15vw;

  }

}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-style: var(--font-heading-style);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
  word-break: break-word;
}

.hxl {
  font-size: calc(var(--font-heading-scale) * 5rem);
}

@media only screen and (min-width: 750px) {
  .uisge h2 {
    font-size: 204px;
    line-height: 160px;
    margin: 20px 0 40px 0;
  }

  .hxl {
    font-size: calc(var(--font-heading-scale) * 6.2rem);
  }
}

.h0 {
  font-size: calc(var(--font-heading-scale) * 4rem);
}

@media only screen and (min-width: 750px) {
  .h0 {
    font-size: calc(var(--font-heading-scale) * 5.2rem);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 1.7rem);
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

h4,
.h4 {
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.5rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

h6,
.h6 {
  color: rgba(var(--color-foreground), 0.75);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.header-image h2 {
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.header-image video {
  position: absolute;
  box-shadow: inset 200px -300px 500px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.8;
}

.lab-image2 {
  display: none;
}

@media screen and (max-width: 600px) {
  .blend-container-dots {
    margin-top: 50px;
    margin-left: 20px !important;
  }
}

@media only screen and (min-width: 600px) {
  .header-image {
    border-radius: 0 0 60px 60px;
    margin: 0 20px;
  }

  /* .header-image.tight-header {
    padding: 40px 40px 30px 40px;
  } */

  .header-image.mid-header {
    border-radius: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .header-image {
    border-radius: 0 0 80px 80px;
    max-width: 904px;
    margin: 0 auto;
  }

  /* .header-image.tight-header {
    padding: 40px 60px 20px 60px;
  } */

  .upwards-content-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .upwards {
    grid-column: span 2 / span 2;
  }

  .header-image.mid-header {
    border-radius: 80px;
  }

  .lab-image2 {
    display: block;
    width: 200px;
    margin: 10px 0;
    max-width: 600px;
    margin: auto;
    /* position: absolute;
    z-index: 3;
    top: 0;
    right: 0; */
    transition: top 1s;
  }

  .lab-image2 img {
    width: 200px;
  }

  .lab-image2:hover {
    top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .lab-image1 {
    display: none;
  }
}
