@media screen and (max-width: 749px) {
    .small-hide {
        display: none;
    }

    .hidden-mobile {
        display: none !important;
    }
}

.m-0 {
    margin: 0 !important;
}

.bold {
    font-weight: bold;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1rem;
}
.h-8 {
    height: 2rem;
}
.w-4 {
    height: 1rem;
}

.w-5 {
    height: 1rem;
}
.w-8 {
    height: 2rem;
}
.color-star {
background-color: var(--color-icon);
}
.color-accent-3 {
    --color-foreground: var(--color-base-solid-button-labels);
    --color-background: var(--color-base-accent-3);
}
.color-foreground-accent-3 {
    --color-foreground: var(--color-base-accent-3);
}
.color-accent-3 {
    --color-foreground: var(--color-base-solid-button-labels);
    --color-background: var(--color-base-accent-3);
}
@media screen and (max-width: 749px) {
    .banner--stacked:not(.banner--adapt) .banner__media {
        height: 39rem;
    }
}
/*Product page*/
.product-detail-points {
    display: flex;
}
.product-detail-points > .product-details-box:not(:first-child) {
    margin-top: 0;
    margin-left: 1rem;
}
.product-detail-points > .product-details-box {
    background-color: #fffF;
    padding: 2rem;
}
.product-details-box svg {
    height: 5rem;
    width: 5rem;
}
.product-details-box h2, .product-details-box p{
    font-size: calc(var(--font-heading-scale) * 1.4rem);
}
.product-details-box h2{
    font-weight: bold;
}
.free-shipping svg, .free-shipping > h2 {
    color: rgba(var(--color-base-accent-1));
    stroke: rgba(var(--color-base-accent-1));
}

.money-back-guarantee svg, .money-back-guarantee > h2 {
    color: rgba(var(--color-base-accent-2));
    stroke: rgba(var(--color-base-accent-2));
}