variant-list {
  display: block;
}

variant-list .quantity {
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
}

variant-list .quantity__button {
  width: calc(3.5rem / var(--font-body-scale));
}

.variant-items td,
.variant-items th {
  padding: 0;
  border: none;
}

.variant-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.variant-item__quantity-wrapper {
  display: flex;
}

.variant-item__totals {
  position: relative;
}

.variant-items *.right {
  text-align: right;
}

.variant-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  margin-right: 1.2rem;
}

.variant-item__image-container:after {
  content: none;
}

.variant-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .variant-item__image {
    max-width: 100%;
  }
}

.variant-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.variant-item__details>* {
  margin: 0;
  max-width: 30rem;
}

.variant-item__details>*+* {
  margin-top: 0.6rem;
}

.variant-item__info {
  position: relative;
}

.variant-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.variant-item__name {
  text-decoration: none;
  display: block;
}

.variant-item__price-wrapper>* {
  display: block;
  margin: 0;
  padding: 0;
}

.variant-item__discounted-prices dd {
  margin: 0;
}

.variant-item__discounted-prices .variant-item__old-price {
  font-size: 1.4rem;
}

.variant-item__old-price {
  opacity: 0.7;
}

.variant-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  word-break: break-word;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.variant-item__quantity-info {
  display: flex;
  align-items: center;
  margin: 0 1.5rem 0 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.variant-item variant-list-remove-button {
  display: flex;
  margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .variant-item variant-list-remove-button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

variant-list-remove-button .button {
  min-width: calc(1.5rem / var(--font-body-scale));
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

variant-list-remove-button .button:before,
variant-list-remove-button .button:after {
  content: none;
}

variant-list-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  variant-list-remove-button .button {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

variant-list-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.variant-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .variant-item .loading-overlay {
    right: 0;
    padding-top: 4.5rem;
    bottom: auto;
  }
}

.variant-item .loading-overlay:not(.hidden)~* {
  visibility: hidden;
}

.variant-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.variant-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.variant-item__error-text+svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.variant-item__error-text:empty+svg {
  display: none;
}

.product-option+.product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.variant-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {

  .variant-items,
  .variant-items thead,
  .variant-items tbody {
    display: block;
    width: 100%;
  }

  .variant-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: 4rem;
  }

  .variant-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .variant-item:last-child {
    margin-bottom: 0;
  }

  .variant-item__info {
    /* grid-row: 1 / 3; */
  }

  .variant-item__details {
    /* grid-column: 2 / 4; */
  }

  .variant-item__totals {
    grid-column: 5 / 3;
  }

  .variant-item__quantity {
    grid-column: 2 / 5;
    margin-left: -3rem;
  }

  .variant-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .variant-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.variant-item__error-text+svg {
  margin-top: 0.4rem;
}

@media screen and (min-width: 750px) {
  .variant-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .variant-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .variant-items thead th:first-child {
    width: 20%;
  }

  .variant-items th+th {
    padding-left: 4rem;
  }

  .variant-items .variant-items__heading--wide+.variant-items__heading--wide {
    padding-left: 10rem;
    text-align: right;
  }

  .variant-items td {
    vertical-align: top;
    padding-top: 4rem;
  }

  .variant-item {
    display: table-row;
  }

  .variant-item>td+td {
    padding-left: 4rem;
  }

  .variant-item .variant-item__details {
    width: 35rem;
    /* padding-left: 10rem; */
    text-align: right;
  }

  .variant-item__info {
    width: 20rem;
    display: flex;
  }

  .variant-item variant-list-remove-button {
    margin: 0 0 0 1.5rem;
  }

  .variant-item__price-wrapper>*:only-child:not(.variant-item__discounted-prices) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 990px) {

  .variant-item .variant-item__quantity {
    padding-left: 0;
  }

  /* .variant-items .variant-items__heading--wide {
    padding-left: 6rem;
  } */

  .variant-item__details {
    width: 50rem;
  }

  .variant-items thead th:first-child {
    width: 37%;
  }
}