variant-list {
  display: block;
}

variant-list .quantity {
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
}

variant-list .quantity__button {
  width: calc(3.5rem / var(--font-body-scale));
}

.variant__contents {
  position: relative;
}

.variant__items {
  max-height: 90rem;
  overflow-y: scroll;
}

.variantlist-total {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: rgb(var(--color-background));
}

.variant-item__quantity-wrapper {
  display: flex;
}

.variant-item__totals,
.variant-item__details,
.variant-item__price {
  position: relative;
}

.variant-items *.right {
  text-align: right;
}

.variant-item__image-container {
  margin-right: 1.2rem;
  height: 4.5rem;
  width: 4.5rem;
}

.variant-item__image {
  height: auto;
}

@media screen and (min-width: 750px) {
  .variant-item variant-list-remove-button {
    visibility: hidden;
  }

  .variant-item__quantity:hover variant-list-remove-button,
  .variant-item:has(.quantity__input:focus-visible) variant-list-remove-button {
    visibility: visible;
  }

  .variant-item__image {
    max-width: 100%;
  }

  .variant-item__media {
    display: flex;
  }
}

.variant-item__info {
  position: relative;
}

.variant-item__name {
  display: block;
}

.variant-item__quantity-info {
  display: flex;
  align-items: center;
  margin: 0 1.5rem 0 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.variant-item variant-list-remove-button {
  display: flex;
  margin-left: 1rem;
  align-self: center;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .variant-item variant-list-remove-button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

variant-list-remove-button .button {
  min-width: calc(1.5rem / var(--font-body-scale));
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}


variant-list-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  variant-list-remove-button .button {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

variant-list-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.variant-item .loading-overlay {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}


@media screen and (min-width: 750px) {
  .variant-item .loading-overlay {
    padding-top: 4.5rem;
    bottom: auto;
  }
}

.variant-item .loading-overlay:not(.hidden)~* {
  visibility: hidden;
}

.variant-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.variant-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.variant-item__error-text+svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.variant-item__error-text:empty+svg {
  display: none;
}

.variant-item__discounted-prices {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .variant-item__details .loading-overlay {
    left: 0;
    top: auto;
    bottom: 2rem;
  }

  .variant-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .variant-item:last-child {
    margin-bottom: 0;
  }

  .variant-item__totals {
    grid-column: 5 / 3;
  }

  .variant-item__quantity {
    grid-column: 1 / 5;
  }

  .variant-item__quantity-image {
    grid-column: 2 / 5;
    margin-left: -3rem;
  }

  .variant-item__quantity-wrapper {
    flex-wrap: wrap;
  }
}

.variant-item__error-text+svg {
  margin-top: 0.4rem;
}

@media screen and (min-width: 750px) {
  .variant-items thead th:first-child {
    width: 20%;
  }

  .variant-items th+th {
    padding-left: 4rem;
  }

  .variant-items .variant-items__heading--wide+.variant-items__heading--wide {
    padding-left: 10rem;
    text-align: right;
  }

  .variant-item {
    display: table-row;
  }

  .variant-item>td+td {
    padding-left: 4rem;
  }

  .variant-item .variant-item__price {
    text-align: right;
  }

  .variant-item__info {
    width: 20rem;
    display: flex;
  }

  .variant-item variant-list-remove-button {
    margin: 0 0 0 1.5rem;
  }

  .variant-item__price-wrapper>*:only-child:not(.variant-item__discounted-prices) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .variant-item .variant-item__quantity {
    padding-left: 0;
  }

  .variant-items thead th:first-child {
    width: 37%;
  }
}