variant-list {
  display: block;
}

variant-list .quantity {
  width: calc(11rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
}

variant-list .quantity__button {
  width: calc(3.5rem / var(--font-body-scale));
}

.variant-list__contents {
  position: relative;
}

.variant-list__container {
  padding-bottom: 4rem;
}

.variant-list__total {
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(var(--color-foreground), .08);
}

.totals__product-total {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .variant-list__total {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgb(var(--color-background));
  }

  .totals__product-total {
    text-align: right;
  }

  .variant__items {
    max-height: 90rem;
    overflow-y: auto;
  }
}

.variant-list__table td,
.variant-list__table th {
  padding: 0;
  border: none;
}

.variant-list__table th {
  text-align: left;
  padding-bottom: 2rem;
  opacity: 0.85;
  font-weight: normal;
}

.variant-item__quantity-wrapper {
  display: flex;
}

.variant-item__totals,
.variant-item__details,
.variant-item__price {
  position: relative;
}

.variant-list__table *.right {
  text-align: right;
}

.variant-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  height: 4.5rem;
  width: 4.5rem;
}

.variant-item__media {
  width: 4.5rem;
  margin-right: 1.2rem;
}

.variant-item__image {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .variant-item__image {
    max-width: 100%;
  }

  .variant-item__inner {
    display: flex;
  }

  .variant-item__discounted-prices {
    justify-content: flex-end;
  }
}

.variant-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.variant-item__details>* {
  margin: 0;
  max-width: 30rem;
}


.variant-item__info {
  position: relative;
  display: flex;
  padding: 0.5rem;
}

.variant-item__name {
  display: block;
}

.variant-item__discounted-prices {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.variant-item__discounted-prices dd {
  margin: 0;
}

.variant-item__discounted-prices dd:first-of-type {
  margin-right: 0.8rem;
}

.variant-item__discounted-prices .variant-item__old-price {
  font-size: 1.4rem;
}

.variant-item__old-price {
  opacity: 0.7;
}

.variant-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  word-break: break-word;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.variant-item__quantity-info {
  display: flex;
  align-items: center;
  margin: 0 1.2rem 0 0;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.variant-item__sold-out {
  opacity: 0.7;
}

variant-list-remove-button {
  display: flex;
  margin-left: 1rem;
  align-self: center;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  variant-list-remove-button {
    width: 1.5rem;
    height: 1.5rem;
  }

  variant-list-remove-all-button {
    margin-left: -1.5rem;
    margin-top: 1rem;
  }

  .variant-list-buttons {
    width: 25%;
  }
}

variant-list-remove-button .button {
  min-width: calc(1.5rem / var(--font-body-scale));
  min-height: 1.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}


variant-list-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  variant-list-remove-button .button {
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

variant-list-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.variant-item .loading-overlay {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

.variant-remove-total .icon-remove {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
  transition: transform var(--duration-default) ease;
}

.variant-list__button svg {
  margin-right: 1rem;
  width: 1.3rem;
}

@media screen and (min-width: 750px) {
  .variant-item .loading-overlay {
    padding-top: 2.5rem;
    bottom: auto;
  }

  .variant-remove-total .loading-overlay {
    left: 2rem;
  }
}

variant-list-remove-all-button:hover .icon-remove {
  transform: scale(1.25);
}

.variant-remove-total {
  position: relative;
  align-self: center;
}

.variant-item .loading-overlay:not(.hidden)~*,
.variant-remove-total .loading-overlay:not(.hidden)~* {
  visibility: hidden;
}

.variant-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.variant-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.variant-item__error-text+svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.variant-item__error-text:empty+svg {
  display: none;
}

.product-option+.product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.variant-list__table thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .variant-list-total__info {
    flex-direction: column;
    align-items: center;
  }

  .variant-item__details .loading-overlay {
    left: 0;
    top: auto;
  }

  .variant-list__table,
  .variant-list__table thead,
  .variant-list__table tbody {
    display: block;
    width: 100%;
  }

  .variant-list__table thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    margin-bottom: 4rem;
  }

  .variant-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .variant-item:last-child {
    margin-bottom: 0;
  }

  .variant-item__totals {
    grid-column: 5 / 3;
  }

  .variant-item__quantity {
    grid-column: 1 / 5;
  }

  .variant-item__quantity-wrapper {
    flex-wrap: wrap;
  }
}

.variant-item__error-text+svg {
  margin-top: 0.4rem;
}

.variant-list-total__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.variant-list-total__confirmation span {
  margin-right: 3rem;
}

.variant-list-total__confirmation .button--tertirary {
  margin-left: 2rem;
}

@media screen and (min-width: 750px) {
  .variant-list__table {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .variant-list__table th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .variant-list__table thead th:first-child {
    width: 20%;
  }

  .variant-list__table th+th {
    padding-left: 3rem;
  }

  .variant-list__table .variant-list__table-heading--wide+.variant-list__table-heading--wide {
    padding-left: 10rem;
    text-align: right;
  }

  .variant-list__table td {
    vertical-align: top;
    padding-top: 1.6rem;
  }

  .variant-item {
    display: table-row;
  }

  .variant-item>td+td {
    padding-left: 4rem;
  }

  .variant-item .variant-item__price {
    text-align: right;
  }

  .variant-item__info {
    width: 20rem;
  }
}

variant-list-remove-button {
  margin: 0 0 0 1.2rem;
}

@media screen and (min-width: 990px) {
  .variant-item .variant-item__quantity {
    padding-left: 0;
  }

  .variant-list__table thead th:first-child {
    width: 37%;
  }

  .variant-list-buttons {
    display: flex;
    align-self: flex-start;
    width: 37%;
  }

  variant-list-remove-all-button {
    margin-left: 0.9rem;
  }
}

.variant-list__total-items {
  display: flex;
}

.variant-list__total-items h3,
.totals__subtotal-value {
  margin-top: 0;
  margin-bottom: 0;
}

.variant-list__total-items p,
.totals__subtotal {
  margin-top: 0.2rem;
  opacity: 0.75;
  margin-bottom: 1.2rem;
}

.variant-list-total__info {
  display: flex;
}

.variant-list-total__info,
.variant-list-total__confirmation {
  min-height: 10rem;
}

.variant-list-total {
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(var(--color-foreground), .08);
}


@media screen and (min-width: 750px) {
  .variant-list__total-items {
    padding-left: calc(((11rem / var(--font-body-scale) + var(--inputs-border-width) * 2)/ 2) - 0.7rem);
    flex-direction: column;
    align-items: center;
  }

  .totals {
    flex-grow: 1;
    text-align: right;
  }

  .variantlist-total {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgb(var(--color-background));
  }
}


@media screen and (max-width: 749px) {
  .totals__product-total {
    display: flex;
    padding-top: 2rem;
  }

  .totals__subtotal-value,
  .variant-list__total-items h3 {
    margin-right: 1.2rem;
  }

  .variant-list__total-items {
    margin-top: 1rem;
    margin-bottom: 1.3rem;
  }
}

variant-list .tax-note {
  margin-bottom: 3.6rem;
  display: block;
}