.variant-grid__media {
  width: 4.5rem
}

.variant-grid thead th:first-child {
  width: 30%;
}

.variant-grid__name:hover {
  text-decoration: none;
}

.variant-item> td + td {
  padding-left: 6rem;
}

variantgrid-items {
  display: block;
}

.cart-item variantgrid-remove-button {
  display: flex;
  margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item variantgrid-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

variantgrid-remove-button .button {
  min-width: calc(4.5rem / var(--font-body-scale));
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

variantgrid-remove-button .button:before,
variantgrid-remove-button .button:after  {
  content: none;
}

variantgrid-items {
  height: 80rem;
  overflow-y: auto;
}

variantgrid-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  variantgrid-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

variantgrid-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}