.video-section.page-width {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.video-section__media {
  position: relative;
}

.video-section__media.deferred-media {
  overflow: visible;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground),.03);
  border: 0;
}

.video-section__media--padding {
  border: 0.1rem solid rgba(var(--color-foreground),0.08);
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .video-section__media--padding {
    padding: 3rem;
  }
}

.video-section__poster, .video-section__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
