product-form.inventables-page-bottom-product-form {
  width: 300px;
  margin: 0 auto;
}
product-form.inventables-page-bottom-product-form button {
  text-transform: uppercase;
  font-weight: bold;
  color: #242728;
  background-color: #FFB256;
}
