/* title */
.xcp-complete__title {
  text-align: center;
}
@media screen and (min-width: 750px) {
.xcp-complete__title {
  display: flex;
  justify-content: center;
}
}
.xcp-complete__title h2 {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  .xcp-complete__title h2 {
    font-size: 3.5rem;
    font-weight: normal;
    text-transform: uppercase;
  }
}
.xcp-complete__title h2 em {
  color: #ffb256;
  font-weight: bold;
  font-style: normal;
}

/**** body */

.xcp-complete__hw-sw-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0 40px 0;
}
@media screen and (min-width: 750px) {
.xcp-complete__hw-sw-support 
  {
    flex-direction: row;
    align-items: normal;
  }
}
.xcp-complete__hw-sw-support h3,
.xcp-complete__hw-sw-support li {
  text-transform: uppercase;
}
.xcp-complete__hw-sw-support h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
}
.xcp-complete__hw-sw-support h3.xcp-complete__plus {
  font-size: 4rem;
  display: block;
  position: absolute;
  bottom: -35px;
  right: 50%;
  z-index: 1;
}
@media screen and (min-width: 750px) {
  .xcp-complete__hw-sw-support h3.xcp-complete__plus {
    font-size: 6rem;
    top: 35%;
    right: -17px;
  }
}
.xcp-complete__section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 750px) {
.xcp-complete__section {
  padding: 20px;
  width: 375px;
}}

.xcp-complete__section img {
  width: 70vw;
  margin: 40px 0;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #ffb256;
}

@media screen and (min-width: 750px) {
.xcp-complete__section img {
  height: 200px;
  width: auto;
  margin: 10px 0;
}}

.xcp-complete__section.xcp-complete__hw {
  background-color: rgba(223, 223, 223, 0.15);
}
.xcp-complete__section.xcp-complete__sw {
  background-color: rgba(77,77,77,0.35);
}
.xcp-complete__section.xcp-complete__support {
  background-color: #212223;
}
