a {
  color: #ffb762;
  font-weight: bold;
  text-decoration: none;
}
.multicolumn {
  border-radius: 20px;
  margin: 0 10%;
  margin-top: 20px;
}
.multicolumn.background-primary .multicolumn-card {
  background: none;
}

.xcp-content-wrapper {
  @media (max-width: 1300px) {
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .title-wrapper-with-link {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
}
