.hide {
  display: none;
}

.btn-primary {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 12px 60px;
    text-shadow: none;
    text-transform: uppercase;
    transition: background 0.5s ease;
    background: #ffb256;
    color: #383838;
    font-weight: bold;
}

.btn-primary {
  text-decoration: none;
}

.btn-primary:hover {
    background: #ffe3a6;
    color: #383838;
    cursor: pointer;
}

.xcp-navbar {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .xcp-navbar {
        padding: 0px 30px;
    }
}

.xcp-navbar a {
  text-decoration: none;
}

.xcp-navbar__container a {
    font-style: normal;
    color: #d8d8d8;
}

.xcp-navbar__container a:hover {
    color: #ffb256;
    cursor: pointer;
}

.xcp-navbar__container a:hover,.xcp-navbar__container a:visited,.xcp-navbar__container a:focus,.xcp-navbar__container a:active {
    text-decoration: none;
}

.xcp-navbar__container a.xcp-navbar__order-now {
    color: #333636;
}

.xcp-navbar__container a.current-page {
    color: #666;
}

.xcp-navbar__container span.current-page {
    color: #656665;
    font-weight: bold;
}

.xcp-navbar__container--fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: unset;
}

@media (min-width: 1200px) {
    .xcp-navbar__mobile {
        display:none;
    }
}

.xcp-navbar__mobile--expanded {
  display: block;
  background-color: #333636;
}

.xcp-navbar__desktop {
    display: none;
}

@media (min-width: 1200px) {
    .xcp-navbar__desktop {
        display:flex;
    }
}

@media (min-width: 1200px) {
    .xcp-navbar__logo {
        display:none;
    }
}

.xcp-navbar__logo--desktop {
    display: none;
}

@media (min-width: 1200px) {
    .xcp-navbar__logo--desktop {
        display:flex;
        margin-left: 10px;
    }

    .xcp-navbar__logo--desktop img {
        height: 50px;
    }
}

.xcp-navbar__xcp-logo {
    font-size: 22px;
}

.xcp-navbar__xcp-logo--x-carve {
    font-weight: bold;
}

.xcp-navbar__xcp-logo a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .xcp-navbar__xcp-logo {
        font-size:30px;
    }
}

.xcp-navbar__order-now {
    font-size: 12px;
    padding: 2px 10px;
}

@media (min-width: 415px) {
    .xcp-navbar__order-now {
        padding:6px 16px;
    }
}

@media (min-width: 1200px) {
    .xcp-navbar__order-now {
        padding:4px 16px;
    }
}

.xcp-navbar__schedule-demo {
    font-size: 12px;
    font-family: var(--font-body-family);
    letter-spacing: 0.06rem;
    padding: 6.5px 16px;
    margin-right: 16px;
    background-color: #eee;
}

.xcp-navbar__menu {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    margin-top: -1px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: var(--gradient-base-background-2);
    padding: 10px 50px;
    box-sizing: border-box;
}

.xcp-navbar__menu-button {
    color: #d8d8d8;
    padding: 12px;
}

@media (min-width: 1200px) {
    .xcp-navbar__menu-button {
        display:none;
    }
}

.xcp-navbar__menu-button:hover {
    cursor: pointer;
}

.xcp-navbar__menu-item {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 100;
    font-size: 14px;
    color: #d8d8d8;
    text-transform: uppercase;
}

.xcp-navbar__menu-item:last-child {
    border-bottom: 0;
}

.xcp-navbar__menu-item p {
    margin-top: 20px;
    margin-bottom: 16px;
}
.xcp-navbar__menu-item a {
    text-decoration: none;
}

.xcp-navbar__menu--desktop {
    display: none;
}

@media (min-width: 1200px) {
    .xcp-navbar__menu--desktop {
        list-style-type:none;
        margin: 0;
        display: flex;
        align-items: center;
    }
}

.xcp-navbar__menu-item--desktop {
    display: none;
}

@media (min-width: 1200px) {
    .xcp-navbar__menu-item--desktop {
        font-size:13px;
        font-weight: 100;
        display: flex;
        justify-content: flex-start;
        color: #eee;
        text-transform: uppercase;
        padding-right: 35px;
    }
}

.xcp-navbar__show {
    display: flex;
}



.xcp-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232728;
    color: #d8d8d8;
    text-align: center;
    padding-bottom: 75px;
}

.xcp-demo__modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(35,39,40,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.xcp-demo__modal--closed {
    display: none;
}

.xcp-demo__modal-content {
    position: relative;
    background-color: #fff;
    opacity: 1;
    color: #333636;
    width: 100%;
    max-width: 960px;
    height: 80%;
    padding: 40px;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    .xcp-demo__modal-content {
        width:70vw;
        height: 90vh;
    }
}

.xcp-demo__modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    cursor: pointer;
}

.xcp-demo__modal-close i {
    font-size: 26px;
}

.xcp-navbar .product-form {
  position: relative;
  top: -4px;
}
.xcp-navbar .product-form, .xcp-navbar .product-form__buttons {
  width: 148px;
  height: 20px;
  font-size: 12px;
}

.xcp-navbar .product-form__submit {
  font-size: 12px;
  height: 30px;
  min-height: unset;
  min-width: unset;
}

@media (max-width: 768px) {
  .xcp-navbar__menu-button-and-cta {
    display: flex;
  }

  .xcp-navbar .product-form__submit {
    padding: 0;
    min-width: unset;
  }

  .xcp-navbar .product-form, .xcp-navbar .product-form__buttons {
    width: 100px;
  }
  .xcp-navbar .product-form {
    position: relative;
    top: 10px;
  }
}
