/*! CSS Used from: https://cdn.shopify.com/s/files/1/1218/6430/t/80/assets/styles.scss.css?v=13828870437536125212 ; media=all */
@media all{
img{border:0;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection{background-color:#000;color:#fff;}
::selection{background:#FFF7B6;color:#000;}
::-webkit-input-placeholder{color:#888;}
:-moz-placeholder{color:#888;}
::-moz-placeholder{color:#888;}
:-ms-input-placeholder{color:#888;}
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/1218/6430/t/80/assets/_overrides2.scss.css?v=18084833102289197328 ; media=all */
@media all{
.ve-ratings-wrapper{margin-right:8px!important;}
.ve-ratings{margin-top:-6px!important;margin-left:0!important;}
.ve-product-yotpo-rating--wrap{margin:0!important;}
}
/*! CSS Used from: https://cdn.shopify.com/s/files/1/1218/6430/t/80/assets/_ve_theme_2.scss.css?v=12919967484560054436 ; media=all */
@media all{
*:focus,*:active{outline:none!important;}
::selection{background:#40a2af4a;color:inherit;}
img{width:100%;}
::-webkit-input-placeholder{font-size:16px;}
::-moz-placeholder{font-size:16px;}
:-ms-input-placeholder{font-size:16px;}
::placeholder{font-size:16px;}
.yotpo div,.yotpo img{font-family:Quasimoda,Helvetica Neue,Helevtica,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal!important;font-size:14px;line-height:17px;color:#a2a2a2;border:none;padding:0;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.ve-product-yotpo-rating--wrap{margin:7.5px 0;}
.ve-product-rating-wrap{display:flex;align-items:baseline;}
@media only screen and (min-width: 799px){
.ve-product-rating-wrap{padding:0;}
}
.ve-ratings-wrapper{margin-right:15px;}
.ve-ratings{position:relative;vertical-align:middle;display:inline-block;color:#fff;-webkit-text-stroke:1px #ffcc33;overflow:hidden;margin-top:-7px;margin-left:5px;}
.ve-full-stars{position:absolute;left:0;top:0;white-space:nowrap;overflow:hidden;color:#fc3;-webkit-text-stroke:1px #ffcc33;}
.ve-empty-stars:before,.ve-full-stars:before{content:"\2605\a0\2605\a0\2605\a0\2605\a0\2605";font-size:12pt;}
.ve-full-stars:before{-webkit-text-stroke:1px #ffc05b;}
}
/*! CSS Used from: Embedded */
@media (max-width: 799px){
.ve-product-yotpo-rating--wrap{margin:auto!important;}
}
/*! CSS Used from: Embedded */
#y-badges{width:100%;background-color:transparent!important;}
#y-badges .y-badge{height:160px;width:151px;margin:0 auto;position:relative;}
#y-badges .y-badge-image{width:100%;}
#y-badges .y-badges-certified{color:#5997c1;font-size:12px;text-transform:uppercase;position:absolute;top:90px;left:10px;max-width:130px;width:130px;overflow:hidden;white-space:nowrap;text-align:center;}
#y-badges .y-powered-by{position:absolute;white-space:nowrap;top:140px;width:100%;text-align:center;font-size:13px;}
#y-badges .y-badge-reviews{position:relative;white-space:nowrap;text-align:center;top:-100px;font-size:33px;color:#fff;}          
