.loading-evyana {
    background-color: rgba(var(--color-button), 0.15);
    min-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-around;
}
.quiz-container {
    min-height: 100vh;
    display: grid;
    align-content: space-between;
}
.wrap-form {
    max-width: 80rem;
    /* 1280px */
    margin-left: auto;
    margin-right: auto;
}
.mobile-hidden {
    display: none;
}
.vue-step-wizard {
    display: grid;
    grid-template-columns: 1fr;
}
.step-body {
    display: grid;
    padding: 3rem;
}
.step-footer {
    width: 100%;
    padding: 11px 29px 25px;
    z-index: 20;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: grid;
    gap: 5px;
    background: var(--gradient-background);
    background-attachment: fixed;
    position: fixed;
    bottom: 0;
    left: 0;
}
.step-footer button {
    width: 100%;
}
.mobile-footer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.mobile-footer .product-image {
    width: 40px;
    height: 40px;
}
.mobile-info {
    overflow: hidden;
    display: grid;
    gap: 5px;
    width: 100%;
}
.mobile-info h3 {
    margin: 0;
}
.list-ingredients {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 0.4rem;
    overflow: hidden;
    list-style: none;
    align-self: center;
    font-size: 1.2rem;
    line-height: 17px;
    padding: 0;
}
.list-ingredients li {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    white-space: nowrap;
    gap: 2px;
}
.list-ingredients .image {
    width: 2rem;
    height: 2rem;
}
.step-progress {
    border: 1px solid rgba(145, 142, 142, .2) !important;
    background-color: rgba(145, 142, 142, .2);
    border-radius: 5px;
}
.bar {
    color: #000 !important;
    background-color: rgba(var(--color-button));
    display: block;
    height: 5px;
    border-radius: 5px;
}
.field {
    flex-direction: column;
}
.field__input {
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.45);
    font-size: 1rem;
    padding: 1.5rem;
    background: #FFF;
}
.field__input:focus {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.7);
    padding: 1.5rem;
}
.field__input:hover {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-button), 0.6);
    padding: 1.5rem;
}
.error {
    color: red;
}
.question-header {
    display: flex;
    align-items: center;
}
.question-header h2 {
    /*margin-left: 1rem;
    */
}
.question-header .icon {
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 3rem;
    block-size: 3rem;
    background: rgba(var(--color-button), 0.3);
    color: rgba(var(--color-button), 0.7);
}
.question-header .icon>svg {
    width: 75%;
}
.step-button {
    border-radius: 0.2rem;
}
.lg-button {
    display: none;
}
ul.ks-cboxtags {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(139, 139, 139, .3);
    border-radius: 5px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}
ul.ks-cboxtags li label {
    /*font-size:1rem;
    */
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
}
ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "+";
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\2713";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
ul.ks-cboxtags li input[type="checkbox"]:checked+label, ul.ks-cboxtags li input[type="checkbox"]:hover+label {
    border: 1px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}
ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
}
#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #FFF;
    border-radius: 50%;
    border-top-color: rgba(var(--color-button), 0.75);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.result-container {
    /*padding-left: 20vw;
    */
    /*padding-right: 20vw;
    */
}
.result-card, .product-card, .result-card-reverse {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "before""targets""quote""ingridients";
    width: 100%;
    gap: 1rem;
    margin-bottom: calc(5rem + var(--page-width-margin));
    margin-top: 5rem;
    align-items: start;
}

.product-card {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-areas:*/
    /*"before"*/
    /*"targets"*/
    /*"quote"*/
    /*"ingridients"*/
;
    width: 100%;
    gap: 1rem;
    height: 100vh;
}
.product--card__img__container{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: rgba(var(--color-button), 0.3);
    padding: 1rem;
    text-align: center;
}
.product--card__img__container img{
    height: 280px;
    padding: 3rem;
}
.product--card__subtitle{
    text-transform: uppercase;
    font-weight: 500;
}
.product--card__title{
    font-weight: 1000;
    margin: 1rem 0 2rem 0;
}
.product--card__tags{
    display: flex;
    flex-wrap: wrap;
}
.product--card__tags span{
    margin-left:0.5rem;
    margin-bottom:0.5rem;
    background: rgba(var(--color-foreground),0.8);
    padding:0.5rem;
    color:#FFF;
    font-size:1.2rem;
}
.product--card__ingredients ul{
    list-style-type: none;
    display: flex;
    flex-wrap:wrap;
}
.product--card__ingredients ul > li{
    margin-right:0.2rem;
    margin-bottom:0.2rem;
    font-size: 1.2rem;
}
.product--card__ingredients ul > li:not(:last-child)::after {
    content: ',';
}
.product--card__ingredients h3{
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom:0;
    font-size: 1.2rem;
}
.product--card__buy_button{
    cursor: pointer;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    border: .1rem solid transparent;
    background-color: transparent;
    min-width: 12rem;
    min-height: 4.5rem;
    transition: box-shadow var(--duration-short) ease;
    width: 100%;
    border-radius: 0.2rem;
}
.product--card__buy_button:hover, .product--card__buy_button span:hover*{
    background-color: rgba(var(--color-button),calc(var(--alpha-button-background)+0.1));
}
.product--card__buy_button_title{
    width: 75%;
    padding: .9rem 3rem 1.1rem;
    background-color: rgba(var(--color-button),var(--alpha-button-background));
    color: rgb(var(--color-button-text));
    border-radius: 1rem 0 0 1rem;
}
.product--card__buy_button_alt{
    border-radius: 0 1rem 1rem 0;
    width: 25%;
    padding: .9rem 3rem 1.1rem;
    background-color: rgba(var(--color-button),calc(var(--alpha-button-background) - 0.2));
    color: rgb(var(--color-button-text));
}
.product--card__ingredient_button{
    color: #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-right: none;
    border-top: none;
    border-left: none;
    background: 0 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    margin-top:2rem;
    margin-bottom: 1rem;
    outline: none;
}


.image-container {
    position: relative;
    grid-area: before;
}
.targets {
    grid-area: targets;
    margin-top: 0;
}
.targets h2 {
    margin: 0;
    color: rgba(var(--color-foreground), 0.70);
    font-weight: 200;
    text-transform: uppercase;
}
.targets h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgba(var(--color-button), 0.8);
    font-weight: 700;
}
.targets p {
    margin-top: 1rem;
}
.result-container, .result-container .welcome, .result-container .result-card {
    height: 100vh;
}
.result-container {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}
.result-container .welcome, .result-container .result-card {
    scroll-snap-align: start;
}
.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero""meet"/*"meetp"*/
	"cta""ctainfo";
    min-height: 100vh;
    width: 100%;
    gap: 1rem;
}
.cta {
    text-align: center;
    font-size: 1.3rem;
}
.muted-small {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
.ctainfo {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: rgba(var(--color-button), 0.3);
    padding: 1rem;
    text-align: center;
}
.ctainfo__inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ctainfo__inline .big {
    font-size: 2rem;
    color: rgba(var(--color-button), 1);
    font-weight: 700;
}
.ctainfo__inline .strike {
    text-decoration: line-through;
}
.ctainfo .save {
    color: rgba(var(--color-button), 1);
}
.hero {
    grid-area: hero;
    width: 166px;
    margin: 2rem auto auto;
}
.welcome__meet {
    grid-area: meet;
}
.ctaabout {
    grid-area: ctaabout;
}
.cta {
    grid-area: cta;
}
.welcome__meet h1 {
    font-weight: 800;
    margin-bottom: 1rem;
}
.welcome__meet h1 span {
    color: rgba(var(--color-button), 1);
}
.welcome__meet>span {
    display: none;
}
.image-about {
    grid-area: quote;
}
.result-ing {
    grid-area: ingridients;
}
.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.concern-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    position: relative;
}
.image-with-tag {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2;
}
.image-with-tag img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image-container {
    padding-right: 15px;
    padding-top: 25px;
    position: relative;
}
.img-src {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.image-tag {
    position: absolute;
    /*width: 100%;*/
    bottom: 0;
    background-color: rgba(var(--color-button), 1);
    text-transform: uppercase;
    padding: 0.5rem;
    color: #FFF;
}
.quote-container {
    position: relative;
    margin: 0 1rem;
    padding: 0.8rem;
}
.pattern {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(var(--color-button), 0.55);
    fill: currentColor;
    height: 10rem;
    width: 10rem;
    /*absolute top-full right-full transform translate-x-1/3 -translate-y-1/4 lg:translate-x-1/2 xl:-translate-y-1/2*/
}
.carousel-cell img {
    width: 80px;
}
.carousel__item span {
    font-size: 1rem;
}
.carousel__next, .carousel__prev {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border: none;
}
.carousel__next svg, .carousel__prev svg {
    color: rgba(var(--color-foreground), 0.35);
    fill: currentColor;
    height: 5rem;
    width: 5rem;
}
.carousel__slide--visible {
    transform: rotateY(0);
}
.carousel__prev--in-active, .carousel__next--in-active {
    display: none;
}
.carousel-cell {
    display: grid;
    justify-items: center;
}
.quote-container blockquote {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem;
}
.quote-container blockquote h1 {
    font-size: 3rem;
    margin: 0 1rem 0 0;
}
.quote-container blockquote p {
    font-weight: bold;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
}
.quote-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    transform: translateX(2rem);
    transform: translateY(2rem);
    fill: rgba(var(--color-button), 0.3);
    color: rgba(var(--color-button), 0.3);
    /*absolute top-0 left-0 transform -translate-x-8 -translate-y-24 h-36 w-36 text-indigo-200 opacity-50*/
}
.border-none {
    border: none;
}
.carousel__item img {
    width: 80px;
}
.highlight__container{
    padding: 1rem;
    list-style-type: none;
    margin-top: 5rem;
}
.section__container{
    margin-top:5rem;
}
.highlight__container li{
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2.8rem;
}
.subscribe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.subscribe__item{
    padding: 2rem;
}
.subscribe__item:nth-of-type(2), .subscribe__item:nth-of-type(1){
    border-bottom: 1px solid #000;
}
.subscribe__item:nth-of-type(1),.subscribe__item:nth-of-type(3){
    border-right: 1px solid #000;
}
.subscribe__item svg{
    width:4rem;
}
.subscribe__item p{
    color:#828282;
    font-size: 1rem;
}
.subscribe__item h4{
    font-size: 1.5rem;
    font-weight: 700;
}
@media only screen and (min-width: 1024px) {
    .welcome img {
        width: 250px;
    }
    .welcome {
        display: grid;
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "meet hero""meet ctaabout""meet cta""meet ctamuted";
        min-height: auto;
        grid-auto-rows: min-content;
    }
    .cta__muted {
        grid-area: ctamuted;
    }
    .ctainfo {
        width: auto;
        left: auto;
        margin-left: 0;
    }
    .pattern {
        right: 100%;
        left: 0;
    }
    .result-container, .result-container .welcome, .result-container .result-card, .product-card {
        height: auto;
    }
    .carousel__item img {
        width: 60px;
    }
    .result-card {
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "targets before""ingridients before""ingridients quote";
    }
    .result-card-reverse {
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "before targets""before ingridients""quote ingridients";
    }
    .image-container {
        padding: 5rem;
    }
    .lg-button {
        display: flex;
        justify-content: center;
    }
    .mobile-hidden {
        display: block;
    }
    .lg-button button {
        min-width: 20rem;
        height: 2rem;
        border-radius: 0.2rem;
    }
    .quiz-container {
        padding: 0;
        margin: 0 auto;
    }
    ul.ks-cboxtags {
        grid-template-columns: 1fr 1fr;
    }
    .list-ingredients {
        grid-auto-flow: row;
        gap: 1rem;
    }
    .list-ingredients li {
        gap: 2rem;
    }
    .list-ingredients .image {
        height: 3rem;
        width: 3rem;
    }
    .wrap-form {
        display: grid;
        margin: 0;
        max-width: 100%;
        grid-template-columns: 2fr 1fr;
    }
    .step-body {
        min-height: 100vh;
        max-width: 80rem;
        /*align-content: center;
        */
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .page-width {
        /*margin:0;
        */
        /*padding:0;
        */
    }
    .step-footer {
        background-color: rgba(var(--color-button), 0.15);
        width: 100%;
        box-shadow: none;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .lg-hidden {
        display: none;
    }
    .mobile-footer {
        padding: 4rem;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: center;
        max-width: 40rem;
    }
    .mobile-footer .product-image {
        /*grid-row: 1;
        */
        margin-bottom: 2rem;
        width: 100px;
        height: 100px;
    }
}
@media only screen and (min-width: 1280px) {
    .welcome {
        column-gap: 20rem;
    }
    .result-card {
        column-gap: 20rem;
    }
}



.animation-element {
    opacity: 0;
    position: relative;
    transform: translate3d(0, 100px, 0);
    -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

.in-view  {
    transform: translate3d(0, 100px, 0);
    animation: come-in 0.8s ease forwards;
    animation-duration: 0.6s;
}
  
.animation-element.in-view {
    transform: translate3d(0, 0, 0);
    animation: none;
    opacity: 1;
}