.cpb-main-visual {
  swiper-container::part(pagination) {
    @include mq() {
      top: calc((100vw - 30px) * 0.75 - 30px);
    }
  }
}

.cpb-main-visual__item {
  position: relative;

  .textarea {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 1.8;

    @include mq() {
      margin: 15px 0;
      background-color: #fff;
      
    }

    @include mq-up() {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.area-right {
        right: 0;
        
      }
    }
  }

  .btn {
    border: solid 1px #000000;
    padding: 5px 15px;
    text-align: center;
  }
}

.cpb-featured {
  position: relative;
  margin-bottom: 45px;
 .explanation{
  background-color: black;
  color: white;
  padding-bottom: 15px;
 }
  
  .textarea {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 1.8;

    @include mq() {
      margin: 15px 0;
      
    }

    @include mq-up() {
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      
      
      
      

      &.area-right {
        right: 0;
        
      }
      & p{
        width:100%;
      }
      .cpb-caption{
        font-size: 10px;
        padding-top: 15px;
      }
      
      
    }

    
    a {
      color: #000000;
      text-decoration: none;
      display: block;
      margin: 0 auto;
      width: 300px;
    }
  }

  .btn {
    border: solid 1px #000000;
    padding: 5px 15px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 30px;
  }

  
}
  
.tw-mb-5 p{
  text-align: left;
}

.cpb-connect {
  margin-bottom: 45px;
}

.cpb-connect-button {
  position: relative;
  width: 300px;
  margin: 10px auto 20px;
  padding: 8px;
  color: #ffffff !important;
  display: block;
  background-color: #000000;
  text-align: center;

  &:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    right: 20px;
    border-top: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    transform: rotate(135deg);
  }
}

.cpb-connect-desc {
  display: block;
  color: #000000 !important;
  text-align: center;
  text-decoration: underline;
}

.cpb-connect-modal {
  padding: 30px;
  text-align: center;

  @include mq() {
    padding: 16px;
  }
}

.cpb-connect-modal h4 {
  margin-top: 30px;
  line-height: 2.2;
  font-size: 20px;
  font-weight: bold;

  @include mq() {
    margin-top: 16px;
    font-size: 16px;
  }
}

.cpb-connect-modal p {
  line-height: 2.2;
  font-size: 14px;
  margin-bottom: 20px;

  @include mq() {
    font-size: 12px;
    margin-bottom: 16px;
  }

  &.cpb-connect-small {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 8px;
    text-align: left;
  }
}

.cpb-connect-modal h5 {
  margin-top: 45px;
}

.cpb-closeup {
  .cpb-featured {
    margin: 12px 0 0;
    

    @include mq-up() {
      display: flex;
      padding: 45px 0;

      .btn{
        margin: 0;
      }

    }

    > picture {
      @include mq-up() {
        width: 50%;
      }
    }
  }
}

// category（商品一覧）ページ
.cpb-category {
  .item-nonstock {
    background-color: #000000;
    color: #ffffff;
  }
}

// cpb-connectページ
.cpb-connect-page {
  margin: 45px;

  @include mq() {
    margin: 45px 0;
  }
}

.cpb-connect-page h3 {
  margin-bottom: 45px;
}

.cpb-connect-page p {
  margin-bottom: 30px;

  @include mq() {
    font-size: 13px;
    margin-bottom: 16px;
  }

    &.cpb-connect-small {
        font-size: 11px;
        line-height: 1.5;
        margin-bottom: 8px;
        text-align: left;
    }
}

.cpb-connect-register {
  position: relative;
  width: 300px;
  margin: 10px auto 45px;
  padding: 8px;
  color: #ffffff !important;
  display: block;
  background-color: #000000;
  text-align: center;

  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url("https://cdn.shopify.com/s/files/1/0496/5436/6365/files/icon_blank.svg?v=1677733084");
    background-size: 100% auto;
  }
}

.cpb-connect-flow {
  margin: 60px 0;
  padding: 45px 0;
  border-top: solid 1px #000000;
}

.cpb-connect-flow dl {
  display: grid;
  grid-template-columns: 60px 1fr;

  @include mq() {
    grid-template-columns: 1fr;
    font-size: 14px;
  }
}

.cpb-connect-flow .capture {
  border: solid 1px #eeeeee;
}

.cpb-conect-flow .connect-flow-arrow {
  width: 40px;
}

.cpb-connect-note {
  margin: 30px 0;
  padding: 45px 0;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
}

.cpb-connect-notification {
  margin: 45px 0;
  padding: 0 80px;
}

@media screen and (max-width: 768px) {
  .cpb-connect-notification {
    padding: 0;
  }
}

.cpb-connect-notification .cpb-connect-button {
  margin-bottom: 45px;
}

.cpb-connect-notification__title {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border: solid 1px #000000;
}

.cpb-connect-notification .cpb-connect-small {
  font-size: 11px;
}

//tailwind
.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:none {
  display: none;
}
