// 共通パーツ
.cronos {
  font-family: $cronos;
}

.cpb-header {
  .nested-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    min-width: calc(100% + 32px);

    .nested-menu {
      top: 0;
      right: initial;
      left: 100%;
    }
  }
}

// 共通パーツend
.cpb-story {
  h2, h3, h4, h5 {
    color: #081f2c;
  }

  h3 {
    font-size: 24px;
  }

  .full-width {
    margin: 30px calc((100vw - 100%) / -2);
  }

  .section-title {
    @include mq() {
      margin: 15px 0 60px;
    }
  }

  .slider-description {
    max-width: 450px;
    min-height: 550px;
    text-align: center;
    margin: 40px auto 0;

    @include mq() {
      font-size: 13px;
    }
  }

  swiper-container::part(button-prev), swiper-container::part(button-next) {
    color: #b9b9b9;

    @include mq() {
      bottom: inherit;
      top: calc(100vw / 2 + 75px);
      width: 30px;
      height: calc(30px / 44 * 27);
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 560px;

    @include mq() {
      bottom: inherit;
      top: calc(100vw / 2);
    }
  }

  .swiper-pagination-bullet-active {
    background: #081f2c;
  }

  .the-heritage {
    text-align: center;

    @include mq-up() {
      display: flex;
    }

    > div {
      @include mq-up() {
        width: 50%;
      }
    }

    .section-title {
      @include mq-up() {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .craftsmanship-video-link {
      position: relative;
      display: inline-block;
      padding-left: 40px;
      color: #081f2c;
      vertical-align: middle;

      &::before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 26px;
        height: 26px;
        background-image: url('https://d36vh7pxyzmz4l.cloudfront.net/images/brand/cle-de-peau-beaute/story/icon_play-2.svg');
        background-size: auto 100%;
        background-position: center left;
        background-repeat: no-repeat;
      }
    }
  }
}

.cpb-modal-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.modalOpen {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
}
