#decorteBrandStory {
  .brand-movie {
    padding-top: 160px;
  }

  video {
    width: 900px;
    margin-bottom: 40px;
    max-width: 100%;
  }

  p {
    margin-bottom: 40px;

    @include mq() {
      font-size: 12px;
    }
  }

  h5 {
    font-family: "Noto Serif JP", "Times New Roman", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", "Yu Mincho", "游明朝", "YuMincho", "游明朝体", "MS PMincho", "ＭＳ Ｐ明朝", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}