.date {
  color: $danger;
  font-size: 10px;
}

.ranking-item {
  position: relative;

  .rank {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 3px;
    z-index: 3;
    width: 33px;
    height: 36px;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      border-right: 18px solid transparent;
      border-bottom: 18px solid transparent;
    }
  }

  &:nth-of-type(1) {
    .rank {
      &::before {
        border-top: 18px solid $gold;
        border-left: 18px solid $gold;
      }
    }
  }

  &:nth-of-type(2) {
    .rank {
      &::before {
        border-top: 18px solid $bg-gray;
        border-left: 18px solid $bg-gray;
      }
    }
  }

  &:nth-of-type(3) {
    .rank {
      &::before {
        border-top: 18px solid $bronze;
        border-left: 18px solid $bronze;
      }
    }
  }
}

@include mq-up() {
  .scroll_lst {
    display: flex;
    flex-wrap: wrap;
  }

  .scroll_item {
    width: calc((100% / 6) - 10px);
    margin: 5px;
  }
}

@include mq() {
  .horizontal_scroll_wrap {
    height: 100%;
    overflow-y: hidden;
    margin-right: -12px;
    margin-left: -12px;
  }

  .scroll_lst {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 25px;
    margin: 25px 0 0;
    -webkit-overflow-scrolling: touch;
    height: 90%;
  }

  .scroll_item {
    margin-right: 10px;
    display: inline-block;
    width: 130px;
    height: 100%;
  }

  .scroll_item_inr {
    display: block;
    height: 100%;
  }
}
