.product-featured-media {
  width: 250px;
  height: 400px;
  object-fit: contain;
  position: relative;

  @include mq() {
    height: 300px;
  }
}

.product-single__thumbnail-image {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}

.product-single__title {
  font-size: 17px;
}

.item-description_3 {
  margin-bottom: 16px;
  font-size: 13px;
  white-space: pre-line;
}

.product-form--variant-sold-out {
  .counseling-start-action {
    display: none;
  }

  .counseling {
    display: block;
  }
}

.product-tags {
  font-size: 12px;
}
