.the-footer {
  background-color: #000;
  color: #fff;
  max-width: 100%;

  @include mq() {
    padding-top: 17px;
    padding-bottom: 22px;
  }

  img {
    margin: 0 20px;
  }

  p {
    color: #FFFFFF;
    margin-bottom: 0;
    font-family: $copperplate;
    text-align: center;

    a {
      color: #ffffff;
    }
  }

  .designed-by {
    font-size: 10px;
  }
}
