.top-main-visual {
  background-color: #000;
  padding: 4px 36px 28px;
  text-align: center;
  position: relative;

  @include mq() {
    padding: 68px 36px 28px;
  }

  .logo {
    @include mq-up() {
      display: none;
      position: absolute;
      top: 15px;
      left: 15px;
    }

    @include mq() {
      width: 236px;
      margin-bottom: 30px;
    }
  }

  picture {
    @include mq-up() {
      max-width: 890px;
      margin: 0 auto;
      display: block;
    }
  }

  p {
    position: relative;
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      top: -82px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &::before {
      background-color: #707070;
      height: 72px;
    }

    &::after {
      background-color: #fff;
      animation: mainVisualScroll 2s ease-in-out 1s infinite;
    }
  }
}

@keyframes mainVisualScroll {
  0% {
    opacity: 0;
    height: 1px;
  }

  100% {
    opacity: 1;
    height: 72px;
  }
}
