.top-main-visual {
  picture {
    @include mq-up() {
      max-width: 890px;
      margin: 0 auto;
      display: block;
    }
  }

  p {
    position: relative;
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      top: -82px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &::before {
      background-color: #707070;
      height: 72px;
    }

    &::after {
      background-color: #fff;
      animation: mainVisualScroll 2s ease-in-out 1s infinite;
    }
  }
}

@keyframes mainVisualScroll {
  0% {
    opacity: 0;
    height: 1px;
  }

  100% {
    opacity: 1;
    height: 72px;
  }
}
