.view-all-link {
  position: absolute;
  bottom: 10px;
  right: 20px;

  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-right: 16px;
    width: 106px;
    height: 32px;
    background-image: url('https://perfumerie-sukiya-images.s3-ap-northeast-1.amazonaws.com/images/icon/view_all.svg');
    background-size: 90px 32px;
    background-repeat: no-repeat;
  }

  .isWhite {
    color: #fff;
    background-image: url('https://perfumerie-sukiya-images.s3-ap-northeast-1.amazonaws.com/images/icon/view_all_white.svg');
  }

  .isWhite::after {
    border-color: #fff;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-color: #000;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
  }
}
