<div class="w-full max-w-[1080px] mx-auto mt-large">
  <div class="flex flex-wrap justify-between lg:gap-[120px]">
    <div class="w-full lg:w-[44.45%]">
      {% section 'main-cart-items-smshr' %}
    </div>

    <div class="w-full px-base lg:w-[33.3%] lg:px-0">
      {% section 'main-cart-checkout' %}
    </div>
  </div>

  {% section 'cart-recommendations' %}
</div>
