{%- style -%}
  @media (min-width: 1024px) {
    #cart-items-container.is-empty {
      width: 100% !important;
    }
  }
{%- endstyle -%}

<div class="w-full max-w-[1080px] mx-auto mt-large">
  <div class="flex flex-wrap justify-between gap-y-huge lg:px-large xl:px-0 xl:gap-[120px]">
    <div id="cart-items-container" class="w-full px-base lg:px-0 {% if cart == empty %} is-empty{% endif %}">
      {% section 'main-cart-items-smshr' %}
    </div>

    <div class="w-full px-base lg:w-[33.3%] lg:px-0">
      {% section 'main-cart-checkout' %}
    </div>
  </div>

  {% section 'cart-recommendations' %}
</div>
