{% layout 'smshr-theme' %}

{% assign products_per_page = 24 %}

{% comment %} <div class="lg:px-large mx-auto max-w-[1920px] w-full xl:w-[1280px] min-[1600px]:w-[1600px] min-[1920px]:w-[1920px] "> {% endcomment %}
<div class="lg:px-large mx-auto max-w-[1920px]">
  <div class="mb-small py-mini flex justify-between">
    <div class="text-t-sm">Hölzer (3459)</div>

    <div class="text-body-xs">Sort: most relevant</div>
  </div>

  <div class="flex gap-8">
    <div class="hidden xl:flex self-stretch basis-[18.75%] shrink-0 border"></div>
    {%- paginate collection.products by products_per_page -%}
      <ul class="mx-auto flex flex-wrap justify-center xl:justify-start flex-grow">
        {%- for product in collection.products -%}
          <li
            class="basis-[198px] lg:basis-[320px] shrink-0"
          >
            {% render 'product-card', product: product %}
          </li>
        {%- endfor -%}
      </ul>
    {% endpaginate %}
  </div>
</div>
