{{ 'template-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

{% section 'collection-banner' %}
<div class="lg:px-large mx-auto max-w-[1920px] lg:mt-large">
  {% section 'smshr-product-grid' %}
</div>
