{% section 'hero' %}

<div class=" w-full py-mega 5kUp:mt-14">
  <div class="max-w-[1080px] 2xl:max-w-[1400px] mx-auto">
    <div class="ml-base mb-mega">
      {% section 'collection-carousel' %}
    </div>

    <div class="flex flex-col gap-mega"></div>
  </div>
</div>
