{% section 'hero' %}

<div class=" w-full py-mega 5kUp:mt-14">
  <div class="max-w-[1080px] 2xl:max-w-[1400px] mx-auto gap-mega">
    <div class="ml-base">
      {% section 'collection-carousel' %}
    </div>

    {% section 'teaser-carousel' %}
  </div>
</div>
