
        {% layout 'theme.zeno.fullscreen' %}

        <div class="zn-content">
          {% assign pageKey = 'zeno-page-' | append: page.id %}
          <link rel="stylesheet" href="{{ pageKey | append: '.css' | asset_url }}">
          {% include pageKey %}
          <script src="{{ pageKey | append: '.js' | asset_url }}"></script>
        </div>      
      