<script>window._tpt_anti_helmet = true</script><script>window.__tpt_full_page = 1</script><script class='tpt_dynamic'>
function dynamicAttach(itemId, containerId, override, autoRerunMode) {
    if (!window.__tpt_everlasting_cache) {
        window.__tpt_everlasting_cache = {};
    }
    if (!window.__tpt_everlasting_tickrate) {
        window.__tpt_everlasting_tickrate = {};
    }
    var slt = '.spb-item.type_actual_statement.spb-item-id_' + itemId;
    var targetElement = document.querySelector(slt);
    var containerElement = document.querySelector('.' + containerId);
    console.log(targetElement, containerElement);
    if (containerElement && (containerElement.innerHTML).trim().length > 0) {
           window.__tpt_everlasting_cache[slt] = containerElement.innerHTML;
    }
    if ((targetElement && (!targetElement.innerHTML.length || override)) && ((containerElement && (containerElement.innerHTML).trim() || window.__tpt_everlasting_cache[slt]))) {
        console.log('Found container element');
        console.log(itemId, containerId);    
        if (containerElement && (containerElement.innerHTML).trim().length > 0) {
            var tpt_rerun = containerElement.querySelectorAll('script.tpt_rerun, script.tpt_inject_script');
            if (containerElement.childNodes) {
                Array.from(containerElement.childNodes).forEach(function(node) {
                    targetElement.append(node);
                });
            }
            tpt_rerun.forEach(function(t) {
                Function(t.innerText)()
            });
        } else if (window.__tpt_everlasting_cache[slt]) {
            targetElement.innerHTML = window.__tpt_everlasting_cache[slt];
            var tpt_rerun = targetElement.querySelectorAll('script.tpt_rerun, script.tpt_inject_script');
            tpt_rerun.forEach(function(t) {
                Function(t.innerText)()
            });
        } else if (targetElement && containerElement && targetElement.innerHTML.length) {
            console.log('Already attached', slt);
        }
    } else {
      if (!targetElement) {
          window.__tpt_everlasting_tickrate[slt] = ( window.__tpt_everlasting_tickrate[slt] || 0 )+1;
          if (window.__tpt_everlasting_tickrate[slt] < 5){
              setTimeout(function () {
                  dynamicAttach(itemId, containerId, override, true);
              }, 1000);
          }
      }  
    }
    if(!autoRerunMode){
       if (!window._tapita_ssr_ijt_obj) {
        window._tapita_ssr_ijt_obj = {};
        }
        window._tapita_ssr_ijt_obj[slt] = function() {
            return dynamicAttach(itemId, containerId, override)
        }; 
    }
}

</script>
<script>window._issolate_tapita_hamburger = true;</script>

        <style>
                .type_actual_statement{width: 100%}
        </style>
        {% assign content = page.metafields.tapita["pgt-09d5659"] %}
        
        <div id="tapita-page-main-content" style="min-height: 100px; display: block">
          <h1 class="tapita-placeholder" style="display:none;">
            "", 1
          </h1>
        </div>

        
        <div class="rte">
            <script>
                try {
                    var _tpt_insigna = "1a10d2a23a8fd7cddb6c74332b0ada09";
                    if(!globalThis._tpt_pbds){
                        globalThis._tpt_pbds = [];
                    }
                }catch(e){
                    console.warn(e);
                }
                var tapitacss = `#shopify-section-tapita-main-page, #shopify-section-tapita-main-home { min-height: 100vh; } .main.content { max-width: unset; } .spb-item-root {width: 100%;} h1.main-page-title.page-title {display: none;} .spb-item.type_text {overflow-y: hidden;} `;
                var tapitahead = document.head || document.getElementsByTagName("head")[0];
                var tapitastyle = document.createElement("style");

                tapitastyle.type = "text/css";
                if (tapitastyle.styleSheet){
                    tapitastyle.styleSheet.cssText = tapitacss;
                } else {
                    tapitastyle.appendChild(document.createTextNode(tapitacss));
                }
                tapitastyle.class="tapita-custom-css";
                 
                var tapitajs = ``;
                var tapitascript = document.createElement("script");
                tapitascript.appendChild(document.createTextNode(tapitajs));
                tapitascript.defer = true;
                tapitascript.class="tapita-custom-css";

                tapitahead.appendChild(tapitastyle);
                tapitahead.appendChild(tapitascript);
                {% if request.page_type == "product" %}
                    var kulasop  = 9;
                {% endif %}
            </script>
            
            {{ 'tapita-cdn-assets-1.6.38.js' | asset_url | script_tag }}
             
            <script defer>
                var tapita_counter = 0;
                var possibleMainTargetQuery = [
                    
                    "#tapita-page-main-content",
                    ".normal_main_content",
                    "#MainContent",
                    "shopify-section-tapita-main-page",
                    "shopify-section-tapita-main-home",
                    "main",
                ];
                {% if request.page_type == "product" %}
                    var kulasop  = 2;
                {% endif %}
              
                var currentMain = null;
                for (const selector of possibleMainTargetQuery) {
                    currentMain = document.querySelector(selector);
                    if(currentMain){
                        break;
                    }
                }
                var injector = setInterval(function () {
                    var idToRender = false;
                    var mainTarget = null;
                    for (const selector of possibleMainTargetQuery) {
                        mainTarget = document.querySelector(selector);
                        if(mainTarget){
                            break;
                        }
                    }
                    if(currentMain && currentMain.id !=="MainContent"){
                        currentMain.id = "MainContentTapita";
                        idToRender = "MainContentTapita";
                    } else {
                        idToRender = "MainContent";
                    }
                    
                    if (!idToRender)
                        return;
                    {% if request.page_type == "product" %}
                        var licobioga  = 97;
                    {% endif %}
                    tapita_counter += 1;
                    if (globalThis.PageBuilderComponent) {
                        var tapitaSections = document.querySelectorAll(".tapitaSection, .spb-customerhtml-serverrender");
                        currentMain = null;
                        function tptPBD(forcedRerender){
                            var lemonadeConsumer = document.querySelector(`#${idToRender} .smpb-container`);
                            if(lemonadeConsumer && lemonadeConsumer.innerHTML  && !forcedRerender){
                                return;
                            }
                            PageBuilderComponent.renderForIdWithProps(idToRender, {
                            endPoint: "https://tapita.io/pb/graphql/",
                            mode: "shopify",
                            lazyloadPlaceHolder: " ",
                            formatMessage: globalThis._rms_translate,
                            _translateParagraph: true,
                            _translateSEO: true,
                            _translatePlaceholder: true,
                            callback: function() { try { if (globalThis.PageBuilderComponent && globalThis._tpt_pbds && (globalThis._tpt_pbds instanceof Array)) globalThis._tpt_pbds.forEach(t => t && t()); } catch (e) { } },
                            pageData: {"url_path":"\/senbei","original_url_path":"\/senbei","type_id":0,"priority":10,"entity_id":32240,"name":"Senbei","status":1,"masked_id":"22062JcQsdsUchpxjSVmiB2ex1703677481","custom_css":null,"custom_js":null,"keywords":null,"title":"Senbei \/ Rice Cracker (\u714e\u9905)","desc":"Senbei (rice cracker) is a rice snack made by kneading wheat flour, rice flour, or other grain flour, stretching it thin, and baking it. In Japan, senbei is made from Uruchi rice. Okaki\" and \"Arare\" are similar to senbei, but they are made from glutinous rice and have different ingredients.","is_rtl":0,"storeview_visibility":"","publish_items":"[{\"entity_id\":9,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1280px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"textAlign\\\":\\\"center\\\",\\\"color\\\":\\\"#2F2F2F\\\",\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"28px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h1\\\"}\",\"name\":\"Senbei (\\u714e\\u9905)\",\"tag_id\":\"pbi_QVJ2ak4xNzAzNDA4Nzk4MTI3_98128\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":20,\"parent_id\":23,\"storeview_visibility\":0},{\"entity_id\":23,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"row\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":30,\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"backgroundColor\\\":\\\"#F6F1E0\\\"}\",\"data\":\"{\\\"custom_title_name\\\":\\\"Title section\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_VzhHSzkxNzAzNDEwMjcyNzQ0_72744\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":30,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":14,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingBottom\\\":0,\\\"paddingTop\\\":0,\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"30px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h2\\\"}\",\"name\":\"Type of Senbei\",\"tag_id\":\"pbi_c2FyWFoxNzAzNDA5NjI5MTUy_29152\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":40,\"parent_id\":18,\"storeview_visibility\":0},{\"entity_id\":18,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":20,\\\"paddingBottom\\\":0,\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":\\\"60px\\\",\\\"justifyContent\\\":\\\"center\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"t_maxWidth\\\":\\\"1024px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"fontWeight\\\":700}\",\"data\":\"{\\\"custom_title_name\\\":\\\"H2 Title\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_eVZYSGkxNzAzNDA5ODMwNDc0_30474\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":60,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":13,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"t_maxWidth\\\":\\\"1024px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"custom_title_name\\\":\\\"H3 Title section\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_NDRIcWYxNzAzNDA5NjA2ODUz_06853\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":70,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":19,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"t_maxWidth\\\":\\\"1024px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"custom_title_name\\\":\\\"H3 Title section\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_cEh0RFoxNzAzNDEwMTU3MTc2_57176\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":80,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":24,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"t_maxWidth\\\":\\\"1024px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"custom_title_name\\\":\\\"H3 Title section\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_YXM5S1MxNzAzNDEwMzYzMDM0_63034\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":90,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":28,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"display\\\":\\\"block\\\",\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"flexShrink\\\":1,\\\"paddingTop\\\":\\\"20px\\\",\\\"paddingBottom\\\":\\\"20px\\\",\\\"paddingLeft\\\":\\\"15px\\\",\\\"paddingRight\\\":\\\"15px\\\",\\\"minHeight\\\":100,\\\"justifyContent\\\":\\\"center\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"t_maxWidth\\\":\\\"1024px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"custom_title_name\\\":\\\"H3 Title section\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_c2I5R3AxNzAzNDEwNDE5MzE1_19315\",\"class_name\":\"\",\"type\":\"container\",\"visibility\":\"\",\"sort_order\":100,\"parent_id\":0,\"storeview_visibility\":0},{\"entity_id\":16,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingBottom\\\":0,\\\"paddingTop\\\":0,\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"24px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h3\\\"}\",\"name\":\"Atsuyaki Senbei\",\"tag_id\":\"pbi_bE80QloxNzAzNDA5NjYwNjgx_60681\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":110,\"parent_id\":13,\"storeview_visibility\":0},{\"entity_id\":20,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingBottom\\\":0,\\\"paddingTop\\\":0,\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"24px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h3\\\"}\",\"name\":\"Usuyaki Senbei\",\"tag_id\":\"pbi_bE80QloxNzAzNDA5NjYwNjgx_60681\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":120,\"parent_id\":19,\"storeview_visibility\":0},{\"entity_id\":25,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingBottom\\\":0,\\\"paddingTop\\\":0,\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"24px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h3\\\"}\",\"name\":\"Age Senbei\",\"tag_id\":\"pbi_bE80QloxNzAzNDA5NjYwNjgx_60681\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":130,\"parent_id\":24,\"storeview_visibility\":0},{\"entity_id\":29,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingBottom\\\":0,\\\"paddingTop\\\":0,\\\"fontWeight\\\":700,\\\"fontSize\\\":\\\"24px\\\"}\",\"data\":\"{\\\"textTag\\\":\\\"h3\\\"}\",\"name\":\"Nure Senbei\",\"tag_id\":\"pbi_bE80QloxNzAzNDA5NjYwNjgx_60681\",\"class_name\":\"\",\"type\":\"text\",\"visibility\":\"\",\"sort_order\":140,\"parent_id\":28,\"storeview_visibility\":0},{\"entity_id\":15,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"lineHeight\\\":\\\"1.5em\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingTop\\\":0,\\\"paddingBottom\\\":0}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p><span style=\\\\\\\"font-size: 16px;\\\\\\\">Atsuyaki senbei are relatively thick. They are usually baked slowly at a low temperature. Because of their thickness, they are crunchy and chewy. They are usually seasoned with soy sauce or salt, and the method and flavor vary by region.<\\\\\\\/span><\\\\\\\/p>\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_Rm42UmYxNzAzNDA5NjQ3ODk0_47894\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":150,\"parent_id\":13,\"storeview_visibility\":0},{\"entity_id\":21,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"lineHeight\\\":\\\"1.5em\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingTop\\\":0,\\\"paddingBottom\\\":0}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p><span style=\\\\\\\"font-size: 16px;\\\\\\\">Usuyaki senbei are thinly baked rice crackers. The thinness of the cracker gives it a crispy texture and a savory flavor. Usuyaki senbei are usually flavored with soy sauce, salt or sweet. They are popular as snacks and tea cakes.<\\\\\\\/span><\\\\\\\/p>\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_Rm42UmYxNzAzNDA5NjQ3ODk0_47894\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":160,\"parent_id\":19,\"storeview_visibility\":0},{\"entity_id\":26,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"lineHeight\\\":\\\"1.5em\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingTop\\\":0,\\\"paddingBottom\\\":0}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p><span style=\\\\\\\"font-size: 16px;\\\\\\\">Deep fried rice crackers are made by deep frying glutinous rice dough. Deep frying gives them a crispy texture and they are usually salted or sweetened. Deep frying increases the flavor and richness of the rice.<\\\\\\\/span><\\\\\\\/p>\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_Rm42UmYxNzAzNDA5NjQ3ODk0_47894\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":170,\"parent_id\":24,\"storeview_visibility\":0},{\"entity_id\":30,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"lineHeight\\\":\\\"1.5em\\\",\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"paddingTop\\\":0,\\\"paddingBottom\\\":0}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p><span style=\\\\\\\"font-size: 16px;\\\\\\\">Nure-sembei is a snack made by soaking baked rice crackers in soy sauce while they are still hot, giving them a moist texture.&nbsp;<\\\\\\\/span><\\\\\\\/p><p><span style=\\\\\\\"font-size: 16px;\\\\\\\">Nure-sembei was created around 1960 as a failed attempt at rice crackers. The rice crackers soaked in the sauce even inside the dough were given away to customers and neighbors because they were not for sale, and they became so popular that they were commercialized.<\\\\\\\/span><\\\\\\\/p>\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_Rm42UmYxNzAzNDA5NjQ3ODk0_47894\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":180,\"parent_id\":28,\"storeview_visibility\":0},{\"entity_id\":17,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"400px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"borderRadius\\\":\\\"0px\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0665\\\\\\\/5000\\\\\\\/6018\\\\\\\/files\\\\\\\/senbei1.png?v=1703676818\\\",\\\"alt\\\":\\\"Atsuyaki Senbei\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_aFZLNEIxNzAzNDA5NzQ0NzU3_44757\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":190,\"parent_id\":13,\"storeview_visibility\":0},{\"entity_id\":22,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"400px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"alt\\\":\\\"Usuyaki Senbei\\\",\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0665\\\\\\\/5000\\\\\\\/6018\\\\\\\/files\\\\\\\/senbei2.png?v=1703676819\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_aFZLNEIxNzAzNDA5NzQ0NzU3_44757\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":200,\"parent_id\":19,\"storeview_visibility\":0},{\"entity_id\":27,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"400px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"alt\\\":\\\"Age Senbei\\\",\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0665\\\\\\\/5000\\\\\\\/6018\\\\\\\/files\\\\\\\/senbei3.png?v=1703676818\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_aFZLNEIxNzAzNDA5NzQ0NzU3_44757\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":210,\"parent_id\":24,\"storeview_visibility\":0},{\"entity_id\":31,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"400px\\\",\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\"}\",\"data\":\"{\\\"alt\\\":\\\"Nure Senbei\\\",\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0665\\\\\\\/5000\\\\\\\/6018\\\\\\\/files\\\\\\\/senbei4.png?v=1703676819\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_aFZLNEIxNzAzNDA5NzQ0NzU3_44757\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":220,\"parent_id\":28,\"storeview_visibility\":0},{\"entity_id\":10,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"widthPercent\\\":100,\\\"fontFamily\\\":\\\"inherit\\\",\\\"maxWidth\\\":\\\"1000px\\\",\\\"color\\\":\\\"#2f2f2f\\\",\\\"paddingRight\\\":15,\\\"marginRight\\\":\\\"auto\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"lineHeight\\\":\\\"1.5em\\\"}\",\"data\":\"{\\\"paragraphContent\\\":\\\"<p><span style=\\\\\\\"font-size: 18px;\\\\\\\">Senbei (rice cracker) is a rice snack made by kneading wheat flour, rice flour, or other grain flour, stretching it thin, and baking it. In Japan, senbei is made from Uruchi rice. Okaki&quot; and &quot;Arare&quot; are similar to senbei, but they are made from glutinous rice and have different ingredients.<\\\\\\\/span><\\\\\\\/p>\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_YTBGcXoxNzAzNDA4ODQxMzM3_41337\",\"class_name\":\"\",\"type\":\"paragraph\",\"visibility\":\"\",\"sort_order\":230,\"parent_id\":23,\"storeview_visibility\":0},{\"entity_id\":12,\"page_id\":\"32240\",\"status\":1,\"styles\":\"{\\\"flexDirection\\\":\\\"column\\\",\\\"widthPercent\\\":100,\\\"maxWidth\\\":\\\"1000px\\\",\\\"marginLeft\\\":\\\"auto\\\",\\\"marginRight\\\":\\\"auto\\\"}\",\"data\":\"{\\\"image\\\":\\\"https:\\\\\\\/\\\\\\\/cdn.shopify.com\\\\\\\/s\\\\\\\/files\\\\\\\/1\\\\\\\/0665\\\\\\\/5000\\\\\\\/6018\\\\\\\/files\\\\\\\/main-senbei.png?v=1703562047\\\",\\\"alt\\\":\\\"main-senbei\\\"}\",\"name\":\"\",\"tag_id\":\"pbi_TDVlTmUxNzAzNDA5NTAwMzkx_00391\",\"class_name\":\"\",\"type\":\"image\",\"visibility\":\"\",\"sort_order\":240,\"parent_id\":23,\"storeview_visibility\":0}]","updated_at":"2024-06-15 08:16:11","image":null}
                            });
                        }
                        globalThis._tpt_pbds.push(tptPBD);
                        tptPBD();
                        
        function _tapita_ssr_cti(){window._tapita_ssr_ijt_obj && Object.values(window._tapita_ssr_ijt_obj||{}).forEach(function (t){t&&t()})};
        _tapita_ssr_cti();
        if(!globalThis._tpt_pbds){globalThis._tpt_pbds=[]};
        globalThis._tpt_pbds.push(_tapita_ssr_cti);
        window.addEventListener("resize", ()=>{_tapita_ssr_cti()});
        ;
                        var documentFragment = document.createDocumentFragment();
                        tapitaSections.forEach(function(el){documentFragment.appendChild(el)});
                        document.querySelector("#" + idToRender).appendChild(documentFragment);
                        tapitaSections = null;
                        clearInterval(injector);
                        if (window.location && window.location.hash) {
                            var tptHashFound = window.location.hash;
                            tptHashFound = hash.replace("#", "");
                            tptHashFound = document.getElementById(tptHashFound);
                            if (tptHashFound) {
                                tptHashFound.scrollIntoView();
                            }
                        }
                    } else if (tapita_counter > 60) {
                        clearInterval(injector);
                    }
                }, 100);
            </script>
        </div>

        <div class="tel">
        {% for field in content.value %}
          {% if field.type == "product_grid" %}
          {% render 'tapita-product-grid',
                    product_target_ident: field.settings.product_target_ident,
                    product_handle: field.settings.product-handle,
                    product_handles: field.settings.product-handles,
                    product_ident: field.settings.product_ident,
                    product_title: field.settings.product-title,
                    product_limit: field.settings.product-limit,
                    evenlyHeight: field.settings.evenlyHeight
          %}
          {% elsif field.type == "product_scroll" %}
          {% render 'tapita-product-list',
                    product_target_ident: field.settings.product_target_ident,
                    product_handle: field.settings.product-handle,
                    product_handles: field.settings.product-handles,
                    product_ident: field.settings.product_ident,
                    product_title: field.settings.product-title,
                    product_limit: field.settings.product-limit,
          %}
          {% endif %}
          {% endfor %}
        </div>
        