{{ 'okendo-loyalty.css' | asset_url | stylesheet_tag }}
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script>
    function waitForElement(selector) {
        if (document.querySelector(selector)) {
            return Promise.resolve(document.querySelector(selector));
        }

        return new Promise((resolve) => {
            const observer = new MutationObserver((mutations, observer) => {
                const element = document.querySelector(selector);
                if (element) {
                    observer.disconnect();
                    resolve(element);
                }
            });
    
            observer.observe(document.body, {
                childList: true,
                subtree: true,
            });
        });
    }
</script>

{% if shop.name == 'Craig Okendo' %}
    <p>
        {% if customer.metafields['app--1576377--loyalty'].vip_tier_name != blank %}
            MEMBER
            {% assign class = 'member' %}
        {% elsif customer %}
            LOGGED IN
            {% assign class = 'logged-in' %}
        {% else %}
            GUEST
            {% assign class = 'guest' %}
        {% endif %}

        | <a href="/account/login">Login</a> | <a href="/account/logout">Logout</a>
    </p>
{% endif %}

{% if customer.metafields['app--1576377--loyalty'].vip_tier_name != blank %}
    {% assign class = 'member' %}
{% elsif customer %}
    {% assign class = 'logged-in' %}
{% else %}
    {% assign class = 'guest' %}
{% endif %}

<div class="{{ class }}">
    {% section 'okendo-loyalty-top-row' %}
    {% section 'okendo-loyalty-profile' %}
    {% section 'okendo-loyalty-hiw' %}
    {% section 'okendo-loyalty-earn' %}
    {% section 'okendo-loyalty-redeem' %}
    {% section 'okendo-loyalty-referrals' %}
    {% section 'okendo-loyalty-faq' %}
</div>