<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

{{ 'quiz.css' | asset_url | stylesheet_tag }}

  {%- if request.path contains "/de-de" -%}
     <div data-quiz-kit-key="0Xd3Tp3VCR"></div>
  {%- else -%}
    <div data-quiz-kit-key="UJBRs3twgJ"></div>
  {%- endif -%}
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ 'quizkit.js' | asset_url }}" defer></script>

<script>if (!window.quizKitScriptLoaded) { window.quizKitScriptLoaded = true; const script = document.createElement('script'); script.defer = true; script.setAttribute('src', 'https://d38jc50suw8dg3.cloudfront.net/current/static/bundle.min.js'); document.head.appendChild(script); const appStyles = document.createElement('link'); appStyles.type = 'text/css'; appStyles.rel = 'stylesheet'; appStyles.href = 'https://d38jc50suw8dg3.cloudfront.net/current/static/main.min.css'; appStyles.media = 'print'; appStyles.onload = function() { this.media='all' }; document.head.appendChild(appStyles); }</script>

<script>

  var addTermsCheckbox = setInterval(function() {
    const quizImageBox = document.querySelectorAll('[id^="quiz-kit-question-image-box"]')
    console.log(quizImageBox)
    if(quizImageBox.length > 0 ) {
      let quizTextBox = ''
      let subscribeHeading = ''
      let subscribeButton = ''
      let termsCheckBoxDiv = document.createElement('div')
      termsCheckBoxDiv.id = "submit-form-terms-div";
      let termsCheckBox = document.createElement('input')
      termsCheckBox.type = "checkbox";
       termsCheckBox.required = true;
      // termsCheckBox.checked = true;
      termsCheckBox.className = "submit-form-terms";
      let termsCheckBoxLink = document.createElement('a')
      termsCheckBoxLink.id = "submit-form-terms-link";
      if (Shopify.locale == "de") {
        termsCheckBoxLink.innerText = 'Bitte bestätige, dass du unseren Datenschutzbestimmungen zustimmst.'
      } else {
        termsCheckBoxLink.innerText = 'Please confirm you agree with our Privacy policy'
      }
      termsCheckBoxLink.href = 'https://www.loopearplugs.com/policies/privacy-policy'

      termsCheckBoxDiv.appendChild(termsCheckBox)
      termsCheckBoxDiv.appendChild(termsCheckBoxLink)

      quizImageBox.forEach(box => {
        box.addEventListener('click', function() { 
          setTimeout(function() {
            quizTextBox = document.querySelectorAll('[id^="quiz-kit-question-text-box"]')
            addEventListenerToTextBoxes()
          }, 200);
        })
      });

      function addEventListenerToTextBoxes() {
        quizTextBox.forEach(box => {
          box.addEventListener('click', function() { 
            setTimeout(function() {
              let submitForm = document.querySelectorAll('[id*="submit-form"]')
              submitForm.forEach(form => {
                form.appendChild(termsCheckBoxDiv)
              })
            }, 200);
          })
        })
      }
      clearInterval(addTermsCheckbox) 
  } else {
    return
  }
}, 200);


</script>
<script>
    // Quiz kit Custom Event listner
    document.addEventListener('quizKitResultsPageLoaded', function (e) {
      console.log(e.detail);
      var email = e.detail.userData.email;
      var language = `{{ request.locale.iso_code }}`;
      klaviyo.push(['identify', { $email: email, $language: language }]); //send users language as custom property to klaviyo
    }, false);

</script>