<div id='judgeme_all_reviews_page' class="page clearfix jdgm-all-reviews-page">
  <div class="jdgm-all-reviews-page__wrapper">
    <h1 class="jdgm-all-reviews-page__title">{{ page.title }}</h1>
    <div class='jdgm-all-reviews-page__description'>{{ page.content }}</div>

    {% render 'judgeme_all_reviews' %}
  </div>
</div>
