
        <div class="zn-content product">
          {% assign productKey = 'zeno-product-' | append: product.id %}
          <link rel="stylesheet" href="{{ productKey | append: '.css' | asset_url }}">
          {% include productKey %}
          <script src="{{ productKey | append: '.js' | asset_url }}"></script>
        </div>
      