{% layout 'smshr-theme' %}

{{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
{{ 'splide-data.css' | asset_url | stylesheet_tag }}

<div class="">
  <div class="h-full flex flex-col gap-mega pb-base mb-mega">
    {% section 'product-detail' %}

    {% section 'product-description' %}

    {% section 'related-products2' %}
  </div>
</div>

<style>
  .payment-methods {
    display: flex;
    gap: 20px;
  }
  .payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment-icon {
    max-width: 50px;
    max-height: 50px;
  }
  .payment-name {
    margin-top: 10px;
    font-size: 14px;
  }
</style>

<script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'splide-data.js' | asset_url }}" defer="defer"></script>
