{%- comment -%}
  Card view for a single product, used by Recently Viewed.
  URL: /products/<handle>?view=recent-card
{%- endcomment -%}

{%- assign skip_card_product_styles = true -%}
<li class="grid__item">
  {% render 'card-product',
    card_product: product,
    media_aspect_ratio: 'square',
    image_shape: 'default',
    show_secondary_image: true,
    show_vendor: false,
    show_rating: false,
    skip_styles: skip_card_product_styles
  %}
</li>
