{% layout 'smshr-theme' %}

{{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
{{ 'splide-data.css' | asset_url | stylesheet_tag }}

<div class="w-full max-w-[1080px] mx-auto mt-base">
  <div class="h-full flex flex-col gap-9 lg:gap-mega pb-base mb-mega">
    {% section 'product-detail' %}

    <div>
      {% section 'product-content' %}

      {% section 'pdp-related-products' %}
    </div>
  </div>
</div>

<style>
  .payment-methods {
    display: flex;
    gap: 20px;
  }
  .payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment-icon {
    max-width: 50px;
    max-height: 50px;
  }
  .payment-name {
    margin-top: 10px;
    font-size: 14px;
  }
</style>
