.header-link-button {
  width: 196px;
  height: 48px;
  background: var(--yellow);
  border: none;

  display: none;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--black);

  &__image {
    margin-left: 5px;
    width: 20px;
    height: 10px;
  }


  @media (max-width: 990px) {
    display: flex;
  }
}


.hero-section {
  .header-link-button {
    display: flex;
  }
}