.container {
  max-width: 1110px;
  margin: 0 auto;
}

.hero {
  height: 700vh;
}

.header-cart-icon {
  position: relative;
}

custom-header {
  .header {
    align-items: center;

    .header__heading-logo-wrapper {
      img {
        width: 146px;
        height: 55px;
      }
    }
  }

  .navigation-wrap {
    display: flex;
    align-items: center;
    .navigation {
      gap: 72px;
      display: flex;
      transition: 0.5s;

      a {
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: right;
        color: var(--black);
      }
    }

    .burger-btn {
      position: relative;
      height: 9px;
      width: 26px;
      cursor: pointer;
      display: none;
    }

    .burger-btn::after,
    .burger-btn::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 2px;
      transition: 0.5s;
      background-color: #0b0d21;
    }

    .burger-btn::after {
      bottom: 0;
    }

    .burger-btn::before {
      top: 0;
    }

    .burger-btn.active::after {
      bottom: 0;
      transform: rotate(60deg);
    }

    // .burger-btn::before {
    //   top: 0;
    // }
  }
}

custom-header.active {
  .navigation-wrap {
    .navigation {
      left: 0;
    }

    .burger-btn::after {
      bottom: 3px;
      transform: rotate(135deg);
    }

    .burger-btn::before {
      top: 4px;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 990px) {
  custom-header {
    .header {
      align-items: center;

      .header__heading-logo-wrapper {
        img {
          width: 146px;
          height: 55px;
        }
      }
    }

    .navigation-wrap {
      display: flex;
      align-items: center;
      .navigation {
        height: 100vh;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 70px;
        width: 100%;
        background: #fff;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 48px 48px 56px 48px;
        left: -100%;

        a {
          font-weight: 400;
          font-size: 40px;
          line-height: 120%;
          text-align: center;
        }
      }

      .burger-btn {
        display: block;
      }

      .burger-btn::after,
      .burger-btn::before {
      }

      .burger-btn::after {
      }

      .burger-btn::before {
      }

      .burger-btn.active::after {
      }
    }
  }
}
