.news-section {
  background-color: var(--grey);
}
.container {
}
.news-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 90px;
  line-height: 111%;
  color: var(--black);
  margin-bottom: 48px;
  padding-top: 96px;
}
.news-indent {
  width: 100px;
  height: 6px;
  background: var(--yellow);
  margin-bottom: 56px;
  display: block !important;
}
.news-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  padding-top: 56px;
}
.news-column {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 64px;
  width: 350px;
  height: 568px;
  position: relative;
  box-shadow: 0 0 56px 0 rgba(0, 11, 107, 0.16);
  background: var(--white);
 
}
.news-main-image {
  width: 350px;
  height: 230px;
  margin-bottom: 48px;
}

.news-second-image {
  align-self: baseline;
  margin-bottom: 16px;
  padding-left: 48px;
  padding-right: 48px;
}

.news-title-image {
  margin-bottom: 16px;
}
.news-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
  margin-bottom: 80px;
  cursor: pointer;
  padding-left: 48px;
  padding-right: 48px;
}

.news-description:hover {
  color: var(--yellow);
}

.news-bottom-part {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 58px;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
}

.news-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);
}
.news-arrow {
  cursor: pointer;
}


@media (max-width: 1200px) {
  .news-title{
    font-size: 70px;
  }
  .news-section {
    padding: 0 20px;
  }
  .news-columns {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
