.team-section {
}
.container {
}
.team-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 90px;
  line-height: 111%;
  color: var(--black);
  margin-bottom: 48px;
  margin-top: 96px;
}
.team-indent {
  display: block !important;
  width: 100px;
  height: 6px;
  background: var(--yellow);
  margin-bottom: 56px;
}
.team-text {
}
.team-columns {
  display: flex;
  column-gap: 30px;
  margin-bottom: 96px;

}
.team-column {
  border-radius: 0 0 0 64px;
  width: 540px;
  height: 892px;
  box-shadow: 0 0 40px 0 rgba(0, 13, 129, 0.08);
  background: var(--white);
  padding-left: 64px;
  position: relative;
}
.team-column-wrapper {
  display: flex;
}
.team-column-left-side {
}
.team-go-to {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;

  .team-column-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 0;
    color: var(--yellow);
  }
}
.team-column-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: var(--black);
  margin-bottom: 16px;
}
.team-arrow {
  margin-left: 24px;
}
.team-job-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);
  margin-bottom: 40px;
}
.team-image-main {
  width: 228px;
  height: 228px;
}
.team-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  color: var(--black);
  margin-bottom: 40px;
}
.team-career-history {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--black);
  margin-bottom: 16px;
}
.team-items-list {
  margin-bottom: 40px;
  list-style: disc;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--black);
}

.team-items-list.education {
  margin-bottom: 0;
}

.team-item {
  margin-left: 20px;
}

.team-item::marker {
  font-size: 22px;
  color: var(--yellow);
}

.team-social-images {
  position: absolute;
  display: flex;
  right: 40px;
  bottom: 40px;

  a {
    display: block;
    width: 32px;
    height: 32px;
  }

  a:first-child {
   margin-right: 16px;
  }
}