<script>
  {% if checkout.attributes['deliveryDate'] %}
  Shopify.Checkout.OrderStatus.addContentBox(
  '<p>Delivery Date: {{ checkout.attributes['deliveryDate'] }}</p>'
  )
  {% endif %}

  document.addEventListener("DOMContentLoaded", function(event) { 
    document.querySelector('.step__footer__info a').href = 'https://celeplate.co.uk/pages/contact';
  });
</script>